
{{/*  H1  */}}

<h1 class="article__title">
  <a href="{{ .RelPermalink }}">
    {{- .Title | markdownify -}}
  </a>
</h1>


{{/*  DATA  */}}

{{- $reading_time := site.Data.lists.content.reading_time | and .Content -}}
{{- $isPost := eq .Type "blog" | and (not .IsSection) -}}
{{- if ($isPost | or $reading_time)
  | and (ne .File.TranslationBaseName "search")
  | and (ne .Type "products")
-}}
  <div class="data">
    {{- if $isPost -}}
      <i class="data__row">
        {{- if ne .Lastmod .Date -}}
          {{- partial "components/date" (dict "customDate" .Date "twoDates" true) -}}
        {{- end -}}
        {{- partial "components/date" (dict "customDate" .Lastmod) -}}
        {{- partial "components/author" . -}}
      </i>
    {{- end -}}
    {{- if $reading_time -}}
      <i class="data__row">
        {{- partial "components/reading-time" . -}}
        {{- partial "components/reading-words" . -}}
      </i>
    {{- end -}}
  </div>
{{- end -}}


{{/*  IMAGE  */}}

{{- if .Params.image -}}
  <figure class="article__figure">
    {{- $class := "" -}}
    {{- with site.Data.lists.content.border -}}
      {{- $class = "image--border" -}}
      {{- if ne . "main" -}}
        {{- $class = print $class " " . -}}
      {{- end -}}
    {{- end -}}
    <div class="image {{ $class }}">
      {{- partial "components/image" (dict
        "class"     "image__inner"
        "src"       .Params.image
        "alt"       .Title
        "container" "sm"
        "notlazy"   true
      ) -}}
    </div>
  </figure>
{{- end -}}