.cookies {
  @if $radius > 0.01  {
    @if $chamfer and $radius >= 1 {
      --radius: .75em;
    } @else {
      --radius-pd: .75em;
    }
  }
  position: fixed;
  bottom: 0;
  left: 0;
  filter: drop-shadow($shadow);
  padding: .75em;
  padding-left: 1em;
  margin: .8em;
  z-index: 400;
  transition: transform .5s, opacity .5s;
  &:has(.cookies__messaje) {
    font-size: 14px;
    flex-direction: column;
    align-items: normal;
  }
  // .icon {
  //   color: var(--main);
  // }
  label {
    cursor: pointer;
    &:hover::after {
      content: attr(data-title);
      position: absolute;
      bottom: calc(100% + 1em);
      left: 0;
      color: var(--invert-in);
      background-color: var(--invert);
      padding: 1em;
      border-radius: 1em;
    }
  }
}
.cookies__messaje {
  max-width: 45em;
  > .icon:not(#aux) {
    margin-right: 0.25em;
  }
}
.cookies,
.cookies__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em 1em;
}
.cookies__buttons {
  justify-content: flex-end;
}
.cookies__button {
  flex-shrink: 0;
}
/*! purgecss start ignore */
.cookies--hide {
  transform: translateY(calc(100% + 3em));
  opacity: 0;
}
/*! purgecss end ignore */
.cookies__toggle {
  cursor: pointer;
}