.cookies {
  @if $radius > 0.01  {
    @if $chamfer and $radius >= 1 {
      --radius: .75em;
    } @else {
      --radius-pd: .75em;
    }
  }
  position: fixed;
  bottom: 0;
  left: 0;
  filter: drop-shadow($shadow);
  padding: .75em;
  padding-left: 1em;
  margin: .8em;
  z-index: 400;
  transition: transform .5s, opacity .5s;
  &:has(.cookies__messaje) {
    font-size: 14px;
    flex-direction: column;
    align-items: normal;
  }
  // .icon {
  //   color: var(--main);
  // }
  label {
    cursor: pointer;
    &:hover::after {
      content: attr(data-hint);
      position: absolute;
      bottom: calc(100% + 1em);
      left: 0;
      color: var(--turn-in);
      background-color: var(--turn);
      padding: 1em;
      @include radius(1em);
    }
  }
}
.cookies__messaje {
  max-width: 45em;
  > .icon:not(#aux) {
    margin-right: 0.25em;
  }
}
.cookies,
.cookies__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em 1em;
}
.cookies__btns {
  justify-content: flex-end;
}
.cookies__btn {
  flex-shrink: 0;
}
/*! purgecss start ignore */
.cookies--hide {
  transform: translateY(calc(100% + 3em));
  opacity: 0;
}
/*! purgecss end ignore */
.cookies__toggle {
  cursor: pointer;
}
:has(> [data-iframe][not-cookie])::after {
  content: var(--cookie-video);
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 1em);
  translate: -50% -50%;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;
  color: var(--such-in);
  background-color: color-mix(in srgb, var(--such), transparent 15%);
  @include radius;
}
