.body-menu--sticky--active {
  .menu__toggle {
    display: none;
  }
  .menu {
    position: sticky;
    max-width: none;
    width: 100%;
    height: auto;
    overflow-y: visible;
    padding: 0;
    transform: none;
    transition: background-color .3s, filter .3s;
    // Fix the left corner
    filter: drop-shadow(0 $shadow-top $shadow-blur $shadow-color);
    .menu__title {
      display: none;
    }
    .menu__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      transition: padding .3s;
      padding-block: var(--menu-py);
    }
    .menu__item {
      padding: 0 .5em;
      position: relative;
      flex-grow: 0;
    }
    .menu__item--subitems {
      &:focus,
      &:focus-within,
      &:hover {
        > .menu__link > .icon:not(.langs__drop) {
          transform: rotate(45deg);
        }
        > .menu__subitems {
          transform: none;
        }
      }
      &:last-child .menu__subitems {
        right: 0;
      }
    }
    .menu__link {
      padding: .75em .125em;
      transition: padding .3s, color .3s, background-size .3s;
    }
    .menu__item--logo {
      margin: 0 auto 0 0;
      display: block;
    }
    .menu__link--logo {
      height: 2.25em;
      padding: .25em .125em;
      box-sizing: content-box;
      transition: height .3s, padding .3s, background-size .3s;
    }
    .menu__logo-image {
      &, img {
        height: 100%;
        width: auto;
      }
    }
    .menu__button {
      margin: .306em 0;
      @if $buttons-3d {
        margin-bottom: .125em;
      }
    }
    .menu__link {
      > .icon {
        font-size: 1em;
      }
    }
    .menu__subitems:not(.menu__subitems *) {
      position: absolute;
      top: 100%;
      margin: 0;
      margin-right: 0;
      padding-inline: 1em;
      padding-bottom: .5em;
      max-height: calc(100lvh - 5.8em);
      overflow: hidden;
      overscroll-behavior: contain;
      transform: perspective(20em) rotateX(-90deg);
      transform-origin: top;
      transition: background-color .3s, transform .3s;
      background-color: var(--bg-hex);
      @if $radius > 0.01 {
        @if $chamfer {
          clip-path: var(--chamfer);
        } @else {
          border-radius: var(--radius-end);
        }
        --radius-top: 0em;
      }
      @if ($radius > 1 or ($radius > 0.01 and $buttons-rounded)) {
        --radius: 1em;
        --radius-pd: 1em;
      } @else if $radius > 0.01 {
        --radius-pd: 1em;
      }
      .menu__item {
        padding: 0;
      }
      .menu__link {
        width: max-content;
        min-width: 100%;
      }
      .menu__button {
        margin: .5em 0;
      }
      .menu__item:last-child > .menu__button {
        margin-bottom: 0;
      }
    }
    .menu__item {
      .menu__subitems {
        overflow-y: auto;
        .menu__subitems {
          padding-bottom: 0;
        }
      }
    }
  }
  &.body-menu--transparent {
    .menu {
      position: fixed;
    }
  }
  &.body-top {
    --menu-py: 2em;
    .menu {
      .menu__subitems {
        .menu__items {
          padding-block: 0;
        }
      }
      .menu__link--logo {
        height: 2.75em;
        padding: 0;
      }
    }
    &.body-menu--transparent {
      .menu {
        filter: none;
        --color-alpha: 1;
      }
    }
  }
}


// Sticky Calculate Auto

.body-menu--sticky--calculate {
  .menu {
    font-size: 18px;
    position: sticky;
    transform: none;
    transition: none;
  }
  .menu__items {
    display: flex;
    flex-wrap: wrap;
    transition: none;
  }
  .menu__item {
    padding: 0 .5em;
    flex-grow: 0;
    transition: none;
  }
  .menu__subitems {
    display: none;
  }
  .menu__item {
    transition: none;
  }
  .menu__item--lang {
    > .menu__link > i {
      display: none;
    }
  }
}