.container {
  text-align: center;
}
.align-center {
  text-align: center;
  .logo__link,
  .box__icon--bottom,
  .box__title,
  .buttons {
    justify-content: center;
  }
}
.align-left {
  text-align: left;
  .logo__link,
  .box__icon--bottom,
  .box__title,
  .buttons {
    justify-content: flex-start;
  }
  .box__icon--side {
    order: -1;
  }
  .box__icon--top {
    margin-left: 0;
  }
}
.align-right {
  text-align: right;
  .logo__link,
  .box__icon--bottom,
  .box__title,
  .buttons {
    justify-content: flex-end;
  }
  .box__icon--side {
    order: 1;
  }
  .box__icon--top {
    margin-right: 0;
  }
}
.align-items-top {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-bottom {
  align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-self-top {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-bottom {
  align-self: flex-end;
}
.align-self-stretch {
  align-self: stretch;
}
@media (min-width: $screen-xl) {
  .align--xl-center {
    text-align: center;
    .box__icon--bottom,
    .box__title,
    .buttons {
      justify-content: center;
      align-items: center;
    }
    .box__icon--top {
      margin-inline: auto;
    }
  }
  .align--xl-left {
    text-align: left;
    .box__icon--bottom,
    .box__title,
    .buttons {
      justify-content: flex-start;
      // align-items: flex-start;
    }
    .box__icon--side {
      order: -1;
    }
    .box__icon--top {
      margin-left: 0;
    }
  }
  .align--xl-right {
    text-align: right;
    .box__icon--bottom,
    .box__title,
    .buttons {
      justify-content: flex-end;
      // align-items: flex-end;
    }
    .box__icon--side {
      order: 1;
    }
    .box__icon--top {
      margin-right: 0;
    }
  }
}
:not(.aux) {
  .justify-center {
    justify-content: center;
  }
  .justify-space-evenly {
    justify-content: space-evenly;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .justify-space-around {
    justify-content: space-around;
  }
  .justify-flex-start {
    justify-content: flex-start;
  }
  .justify-flex-end {
    justify-content: flex-end;
  }
}
