.container {
  text-align: var(--align);
  --align: center;
  --align-margin: auto;
}
.align-center {
  text-align: var(--align);
  --align: center;
  --align-margin: auto;
  --icon-side-order: -1;
}
.align-left {
  text-align: var(--align);
  --align: left;
  --align-margin: 0 auto;
  --icon-side-order: -1;
}
.align-right {
  text-align: var(--align);
  --align: right;
  --align-margin: auto 0;
  --icon-side-order: 1;
}
.align-items-top {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-bottom {
  align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-self-top {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-bottom {
  align-self: flex-end;
}
.align-self-stretch {
  align-self: stretch;
}
@media (min-width: $screen-max) {
  .align--max-center {
    text-align: var(--align);
    --align: center;
    --align-margin: auto;
    --icon-side-order: -1;
  }
  .align--max-left {
    text-align: var(--align);
    --align: left;
    --align-margin: 0 auto;
    --icon-side-order: -1;
  }
  .align--max-right {
    text-align: var(--align);
    --align: right;
    --align-margin: auto 0;
    --icon-side-order: 1;
  }
}
:not(.aux) {
  .justify-center {
    justify-content: center;
  }
  .justify-space-evenly {
    justify-content: space-evenly;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .justify-space-around {
    justify-content: space-around;
  }
  .justify-flex-start {
    justify-content: flex-start;
  }
  .justify-flex-end {
    justify-content: flex-end;
  }
}
