
// bg-color

:has(> .bg-color) {
  --bg-color: transparent;
}
.bg {
  --bi-alpha: 0;
  --color-alpha: 0;
  background-color: color-mix(in srgb, var(--bg-hex), transparent 100%);
}
.bg-img > .bg-fig > * {
  opacity: calc(1 - var(--bi-alpha));
}

%bg-color {
  --bg-color: color-mix(in srgb, var(--bg-hex), transparent calc(var(--color-alpha, 0) * 100%));
}

.bg-main       {  --bg-hex: #{ $main       }; @extend %bg-color; }
.bg-main-light {  --bg-hex: #{ $main-light }; @extend %bg-color; }
.bg-main-dark  {  --bg-hex: #{ $main-dark  }; @extend %bg-color; }
.bg-alt        {  --bg-hex: #{ $alt        }; @extend %bg-color; }
.bg-alt-light  {  --bg-hex: #{ $alt-light  }; @extend %bg-color; }
.bg-alt-dark   {  --bg-hex: #{ $alt-dark   }; @extend %bg-color; }
.bg-cta        {  --bg-hex: #{ $cta        }; @extend %bg-color; }
.bg-cta-light  {  --bg-hex: #{ $cta-light  }; @extend %bg-color; }
.bg-cta-dark   {  --bg-hex: #{ $cta-dark   }; @extend %bg-color; }
.bg-white      {  --bg-hex: #{ $white      }; @extend %bg-color; }
.bg-light      {  --bg-hex: #{ $light      }; @extend %bg-color; }
.bg-gray       {  --bg-hex: #{ $gray       }; @extend %bg-color; }
.bg-dark       {  --bg-hex: #{ $dark       }; @extend %bg-color; }
.bg-black      {  --bg-hex: #{ $black      }; @extend %bg-color; }

.bg.such { 
  --bg-color: var(--such);
}

// bg-fade (gradient)

%bg-fade {
  --fade-hex: #{ $black };
  --fade-color: color-mix(in srgb, var(--fade-hex), transparent calc(var(--color-alpha, 0) * 100%));
}

.bg-fade-main       { --fade-hex: #{ $main       }; }
.bg-fade-main-light { --fade-hex: #{ $main-light }; }
.bg-fade-main-dark  { --fade-hex: #{ $main-dark  }; }
.bg-fade-alt        { --fade-hex: #{ $alt        }; }
.bg-fade-alt-light  { --fade-hex: #{ $alt-light  }; }
.bg-fade-alt-dark   { --fade-hex: #{ $alt-dark   }; }
.bg-fade-cta        { --fade-hex: #{ $cta       }; }
.bg-fade-cta-light  { --fade-hex: #{ $cta-light }; }
.bg-fade-cta-dark   { --fade-hex: #{ $cta-dark  }; }
.bg-fade-white      { --fade-hex: #{ $white      }; }
.bg-fade-light      { --fade-hex: #{ $light      }; }
.bg-fade-gray       { --fade-hex: #{ $gray       }; }
.bg-fade-dark       { --fade-hex: #{ $dark       }; }
.bg-fade-black      { --fade-hex: #{ $black      }; }

.bg-fade-b        { --fade: linear-gradient(        transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-t        { --fade: linear-gradient(0deg,   transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-r        { --fade: linear-gradient(90deg,  transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-l        { --fade: linear-gradient(270deg, transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-tr       { --fade: linear-gradient(45deg,  transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-br       { --fade: linear-gradient(135deg, transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-bl       { --fade: linear-gradient(225deg, transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-tl       { --fade: linear-gradient(315deg, transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-rad      { --fade: radial-gradient(        transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-disc     { --fade: radial-gradient(circle, transparent, var(--fade-color)); @extend %bg-fade; }
.bg-fade-rad-alt  { --fade: radial-gradient(        var(--fade-color), transparent); @extend %bg-fade; }
.bg-fade-disc-alt { --fade: radial-gradient(circle, var(--fade-color), transparent); @extend %bg-fade; }


// Radius

.bg {
  @include radius-parent;
  position: relative;
  &:where(:not(body)) {
    filter: drop-shadow($shadow);
  }
}


// bg-color like-bg-cover (sub of %bg-cover)

.bg-color {
  content: '';
  @include radius-child;
  @include like-bg-cover;
  z-index: -5;
  background-color: var(--bg-color);
}
%bg-fade > .bg-color {
  background-image: var(--fade);
}
body > .bg-color {
  @include hide-radius;
  &:not(.aux) {
    z-index: -10;
  }
}


// bg-fig

.bg-fig {
  overflow: hidden;
  > video {
    height: 100%;
    width: 100%;
  }
}
.bg-fig-img {
  &, img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.bg-fig-vid-parent {
  @media (min-aspect-ratio: 16/9) {
    min-height: 56.25dvw;
  }
}
.bg-fig-vid {
  height: 100%;
  width: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > iframe {
    height: 100%;
    width: 100%;
  }
}
