
// Colors by backgrounds

:root,
html,
body,
.bg-cta,
.bg-cta-light,
.bg-cta-dark,
.bg-main,
.bg-main-light,
.bg-main-dark,
.bg-alt,
.bg-alt-light,
.bg-alt-dark,
.bg-white,
.bg-light,
.bg-grey,
.bg-dark,
.bg-black {
  // Bases
  --cta: #{ $cta };
  --cta-text: #{ $cta-contrast-neutral };
  --main: #{ $main };
  --main-text: #{ $main-contrast-neutral };
  --alt: #{ $alt };
  --alt-text: #{ $alt-contrast-neutral };
  --grey: #{ $grey };
  --grey-text: #{ $grey-contrast-neutral };
  --light: #{ $light };
  --light-text: #{ $text };
  --dark: #{ $dark };
  --dark-text: #{ $light };
  --invert: var(--dark);
  --invert-text: var(--dark-text);
  --similar: var(--light);
  --similar-text: var(--light-text);
  --hover: var(--invert);
  --hover-text: var(--invert-text);
  --active: var(--similar);
  --active-text: var(--similar-text);
  // Texts
  color: var(--text);
  --text: #{ $text };
  --title: var(--dark);
  --subtitle: var(--alt);
  --border: color-mix(in srgb, var(--similar), var(--invert));
}

// Texts
.bg-white:not([class*="bg-gradient"]) {
  --text: #767676;
}
.bg-black,
.bg-dark,
.bg-grey,
.bg-main-dark,
.bg-alt-dark,
.bg-cta-dark {
  --text: #{ $white };
  --title: #{ $white };
  --subtitle: #{ $white };
  --invert: var(--light);
  --invert-text: var(--light-text);
  --similar: var(--dark);
  --similar-text: var(--dark-text);
}
.bg-main {
  --text: #{ $main-contrast-neutral };
  --title: #{ $main-contrast-neutral };
  --subtitle: #{ $main-contrast-neutral };
}
.bg-alt {
  --text: #{ $alt-contrast-neutral };
  --title: #{ $alt-contrast-neutral };
  --subtitle: #{ $alt-contrast-neutral };
}
.bg-cta {
  --text: #{ $cta-contrast-neutral };
  --title: #{ $cta-contrast-neutral };
  --subtitle: #{ $cta-contrast-neutral };
}

// Link and Main
@if $cta == $main {
  .bg-main,
  .bg-cta {
    --cta: var(--alt);
    --cta-text: var(--alt-text);
    --main: var(--alt);
    --main-text: var(--alt-text);
  }
} @else {
  .bg-cta {
    @if $cta != $main {
      --cta: var(--main);
      --cta-text: var(--main-text);
    }
  }
  .bg-main {
    @if $main != $cta {
      --main: var(--cta);
      --main-text: var(--cta-text);
    }
  }
}

// Alt
.bg-alt {
  // like link
  --alt: var(--cta);
  --alt-text: var(--cta-text);
}
.bg-grey {
  // like dark
  --grey: var(--dark);
  --grey-text: var(--dark-text);
}

// Light
.bg-light,
.bg-cta-light,
.bg-main-light,
.bg-alt-light {
  --light: #{ $white };
}

// Dark
.bg-dark {
  --dark: #{ $black };
}

// Invert
@mixin invert-light($color) {
  @if text-contrast($color) == $white {
    --invert: var(--light);
    --invert-text: var(--light-text);
    --similar: var(--dark);
    --similar-text: var(--dark-text);
  }
}
.bg-main {  @include invert-light($main); }
.bg-alt {   @include invert-light($alt); }
.bg-cta {  @include invert-light($cta); }
.bg-grey {  @include invert-light($grey); }

// Contrast Background
@mixin link-contrast($bg) {
  @if $cta-contrast-bg and $cta-contrast-neutral == text-contrast($bg) {
    --cta: #{ $cta-contrast-colored };
    --cta-text: #{ $bg };
  }
}
@mixin main-contrast($bg) {
  @if $main-contrast-bg and $main-contrast-neutral == text-contrast($bg) {
    --main: #{ $main-contrast-colored };
    --main-text: #{ $bg };
  }
}
@mixin alt-contrast($bg) {
  @if $alt-contrast-bg and $alt-contrast-neutral == text-contrast($bg) {
    --alt: #{ $alt-contrast-colored };
    --alt-text: #{ $bg };
  }
}

// Background link, main and alt in light and dark
// @if not $cta-contrast-bg {
//   .bg-cta-light { @include link-contrast($white); }
//   .bg-cta-dark {  @include link-contrast($dark); }
// }
// @if not $main-contrast-bg {
//   .bg-main-light { @include main-contrast($white); }
//   .bg-main-dark {  @include main-contrast($dark); }
// }
// @if not $alt-contrast-bg {
//   .bg-alt-light { @include alt-contrast($white); }
//   .bg-alt-dark {  @include alt-contrast($dark); }
// }

// Background lights and darks if contrast active
@if $main-contrast-bg or $alt-contrast-bg or $cta-contrast-bg {
  .bg-white,
  .bg-light,
  .bg-cta-light,
  .bg-main-light,
  .bg-alt-light {
    @include link-contrast($white);
    @include main-contrast($white);
    @include alt-contrast($white);
  }
  .bg-black,
  .bg-dark,
  .bg-grey,
  .bg-cta-dark,
  .bg-main-dark,
  .bg-alt-dark {
    @include link-contrast($dark);
    @include main-contrast($dark);
    @include alt-contrast($dark);
  }
  .bg-cta {
    @include link-contrast(text-contrast($main-contrast-neutral));
    @include link-contrast(text-contrast($alt-contrast-neutral));
  }
  .bg-main {
    @include link-contrast(text-contrast($alt-contrast-neutral));
    @include link-contrast(text-contrast($cta-contrast-neutral));
  }
  .bg-alt {
    @include link-contrast(text-contrast($main-contrast-neutral));
    @include link-contrast(text-contrast($cta-contrast-neutral));
  }
}


// Bases

.button,
.cta {
  --base: var(--cta);
  --base-text: var(--cta-text);
}
:root,
.main {
  --base: var(--main);
  --base-text: var(--main-text);
}
.alt {
  --base: var(--alt);
  --base-text: var(--alt-text);
}
.light {
  --base: var(--light);
  --base-text: var(--light-text);
}
.dark {
  --base: var(--dark);
  --base-text: var(--dark-text);
}
.invert {
  --base: var(--invert);
  --base-text: var(--invert-text);
  // hover like grey
  --hover: var(--grey);
  --hover-text: var(--grey-text);
}
.similar {
  --base: var(--similar);
  --base-text: var(--similar-text);
  // active like grey
  --active: var(--grey);
  --active-text: var(--grey-text);
}
.whatsapp {
  --base: #25d366;
  --base-text: #fff;
  --hover: #128c7e;
  --hover-text: #fff;
  --active: #075e54;
  --active-text: #fff;
}