
// Colors by backgrounds

:root,
html,
body,
.bg-cta,
.bg-cta-light,
.bg-cta-dark,
.bg-main,
.bg-main-light,
.bg-main-dark,
.bg-alt,
.bg-alt-light,
.bg-alt-dark,
.bg-white,
.bg-light,
.bg-gray,
.bg-dark,
.bg-black {
  // Bases  
  --cta: #{ $cta };
  --cta-in: #{ $cta-contrast-in };
  --main: #{ $main };
  --main-in: #{ $main-contrast-in };
  --alt: #{ $alt };
  --alt-in: #{ $alt-contrast-in };
  --gray: #{ $gray };
  --gray-in: #{ $gray-contrast-in };
  --light: #{ $light };
  --light-in: #{ $text };
  --dark: #{ $dark };
  --dark-in: #{ $light };
  --invert: var(--dark);
  --invert-in: var(--dark-in);
  --similar: var(--light);
  --similar-in: var(--light-in);
  --hover: var(--invert);
  --hover-in: var(--invert-in);
  --active: var(--similar);
  --active-in: var(--similar-in);
  // Texts
  color: var(--text);
  --text: #{ $text };
  --title: var(--dark);
  --subtitle: var(--alt-text);
  --main-text: #{ $main };
  --alt-text: #{ $alt };
  --cta-text: #{ $cta };
  // Border
  --border: color-mix(in srgb, var(--similar), var(--invert));
  // --map-filter: color-mix(in srgb, var(--map-filter-dark), transparent var(--bg-darkening));
  --map-filter: var(--map-filter-light);
  // // Toggle 0-1 to light-dark
  // --bg-darkening: calc(var(--bg-dark, 0) * 100%);
  // // Bases
  // --cta:        color-mix(in srgb, #{ $cta },              transparent             var(--bg-darkening));
  // --cta-in:     color-mix(in srgb, #{ $cta-contrast-in },  transparent             var(--bg-darkening));
  // --main:       color-mix(in srgb, #{ $main },             transparent             var(--bg-darkening));
  // --main-in:    color-mix(in srgb, #{ $main-contrast-in }, transparent             var(--bg-darkening));
  // --alt:        color-mix(in srgb, #{ $alt },              transparent             var(--bg-darkening));
  // --alt-in:     color-mix(in srgb, #{ $alt-contrast-in },  transparent             var(--bg-darkening));
  // --gray:       color-mix(in srgb, #{ $gray },             transparent             var(--bg-darkening));
  // --gray-in:    color-mix(in srgb, #{ $gray-contrast-in }, transparent             var(--bg-darkening));
  // --light:      color-mix(in srgb, #{ $light },            #{ $dark }              var(--bg-darkening));
  // --light-in:   color-mix(in srgb, #{ $text },             #{ $light }             var(--bg-darkening));
  // --dark:       color-mix(in srgb, #{ $dark },             #{ $light }             var(--bg-darkening));
  // --dark-in:    color-mix(in srgb, #{ $light },            #{ $dark }              var(--bg-darkening));
  // --invert:     color-mix(in srgb, var(--dark),            var(--light)            var(--bg-darkening));
  // --invert-in:  color-mix(in srgb, var(--dark-in),         var(--light-in)         var(--bg-darkening));
  // --similar:    color-mix(in srgb, var(--light),           var(--dark)             var(--bg-darkening));
  // --similar-in: color-mix(in srgb, var(--light-in),        var(--dark-in)          var(--bg-darkening));
  // --hover:      var(--invert);
  // --hover-in:   var(--invert-in);
  // --active:     var(--similar);
  // --active-in:  var(--similar-in);
  // // Texts
  // --text:       color-mix(in srgb, #{ $text },                  #{ $white }             var(--bg-darkening));
  // --title:      color-mix(in srgb, var(--dark),                 #{ $white }             var(--bg-darkening));
  // --subtitle:   color-mix(in srgb, var(--alt),                  #{ $white }             var(--bg-darkening));
  // color: var(--text);
  // // Border
  // --border:     color-mix(in srgb, var(--similar),             var(--invert));
}

// Texts
.bg-white:not([class*="bg-fade"]) {
  --text: #767676;
}
.bg-black,
.bg-dark,
.bg-gray,
.bg-main-dark,
.bg-alt-dark,
.bg-cta-dark {
  --text: #{ $white };
  --title: #{ $white };
  --invert: var(--light);
  --invert-in: var(--light-in);
  --similar: var(--dark);
  --similar-in: var(--dark-in);
  --map-filter: var(--map-filter-dark);
  // --bg-dark: 1;
}
.bg-main {
  @if $is-main-contrast-text {
    --text:  #{ $main-contrast-neutral };
    --title: #{ $main-contrast-neutral };
    --subtitle: #{ $main-contrast-colored };
  } @else {
    --text:  #{ $main-contrast-neutral-flip };
    --title: #{ $main-contrast-neutral-flip };
    --subtitle: #{ $main-contrast-colored-flip };
  }
}
.bg-alt {
  @if $is-alt-contrast-text {
    --text:  #{ $alt-contrast-neutral };
    --title: #{ $alt-contrast-neutral };
    --subtitle: #{ $alt-contrast-colored };
  } @else {
    --text:  #{ $alt-contrast-neutral-flip };
    --title: #{ $alt-contrast-neutral-flip };
    --subtitle: #{ $alt-contrast-colored-flip };
  }
}
.bg-cta {
  @if $is-cta-contrast-text {
    --text:  #{ $cta-contrast-neutral };
    --title: #{ $cta-contrast-neutral };
    --subtitle: #{ $cta-contrast-colored };
  } @else {
    --text:  #{ $cta-contrast-neutral-flip };
    --title: #{ $cta-contrast-neutral-flip };
    --subtitle: #{ $cta-contrast-colored-flip };
  }
}

// Contrast Background
@mixin cta-contrast($bg-wd) {
  @if $cta-contrast-neutral == text-contrast($bg-wd) {
    @if $is-cta-contrast-fill {
      --cta: #{ $cta-contrast-colored };
      @if $is-cta-contrast-in {
        --cta-in: #{ $cta-contrast-colored-in };
      } @else {
        --cta-in: #{ $cta-contrast-colored-in-flip };
      }
    }
    @if $is-cta-contrast-text {
      --cta-text: #{ $cta-contrast-colored };
    }
  }
}
@mixin main-contrast($bg-wd) {
  @if $main-contrast-neutral == text-contrast($bg-wd) {
    @if $is-main-contrast-fill {
      --main: #{ $main-contrast-colored };
      @if $is-main-contrast-in {
        --main-in: #{ $main-contrast-colored-in };
      } @else {
        --main-in: #{ $main-contrast-colored-in-flip };
      }
    }
    @if $is-main-contrast-text {
      --main-text: #{ $main-contrast-colored };
    }
  }
}
@mixin alt-contrast($bg-wd) {
  @if $alt-contrast-neutral == text-contrast($bg-wd) {
    @if $is-alt-contrast-fill {
      --alt: #{ $alt-contrast-colored };
      @if $is-alt-contrast-in {
        --alt-in: #{ $alt-contrast-colored-in };
      } @else {
        --alt-in: #{ $alt-contrast-colored-in-flip };
      }
    }
    @if $is-alt-contrast-text {
      --alt-text: #{ $alt-contrast-colored };
    }
  }
}

// Background cta, main and alt in light and dark
// @if not $cta-contrast-fill {
//   .bg-cta-light { @include cta-contrast($white); }
//   .bg-cta-dark  { @include cta-contrast($dark);  }
// }
// @if not $main-contrast-fill {
//   .bg-main-light { @include main-contrast($white); }
//   .bg-main-dark  { @include main-contrast($dark);  }
// }
// @if not $alt-contrast-fill {
//   .bg-alt-light { @include alt-contrast($white); }
//   .bg-alt-dark  { @include alt-contrast($dark);  }
// }

// Background lights and darks if contrast active
@if $is-main-contrast-fill
or $is-alt-contrast-fill
or $is-cta-contrast-fill
or $is-main-contrast-text
or $is-alt-contrast-text
or $is-cta-contrast-text {
  .bg-white,
  .bg-light,
  .bg-cta-light,
  .bg-main-light,
  .bg-alt-light {
    @include cta-contrast($white);
    @include main-contrast($white);
    @include alt-contrast($white);
  }
  .bg-black,
  .bg-dark,
  .bg-gray,
  .bg-cta-dark,
  .bg-main-dark,
  .bg-alt-dark {
    @include cta-contrast($dark);
    @include main-contrast($dark);
    @include alt-contrast($dark);
  }
  .bg-cta {
    @include main-contrast($cta-contrast-neutral-flip);
    @include alt-contrast($cta-contrast-neutral-flip);
  }
  .bg-main {
    @include alt-contrast($main-contrast-neutral-flip);
    @include cta-contrast($main-contrast-neutral-flip);
  }
  .bg-alt {
    @include main-contrast($alt-contrast-neutral-flip);
    @include cta-contrast($alt-contrast-neutral-flip);
  }
}

// CTA and Main
@if $cta == $main {
  .bg-main,
  .bg-cta {
    --cta:       var(--alt);
    --cta-in:    var(--alt-in);
    --cta-text:  var(--alt-text);
    --main:      var(--alt);
    --main-in:   var(--alt-in);
    --main-text: var(--alt-text);
  }
} @else {
  .bg-cta {
    --cta:       var(--main);
    --cta-in:    var(--main-in);
    --cta-text:  var(--main-text);
  }
  .bg-main {
    --main:      var(--cta);
    --main-in:   var(--cta-in);
    --main-text: var(--cta-text);
  }
}

// Alt
.bg-alt {
  // like main
  --alt:      var(--main);
  --alt-in:   var(--main-in);
  --alt-text: var(--main-text);
}
.bg-gray {
  // like dark
  --gray:    var(--dark);
  --gray-in: var(--dark-in);
}

// Light
.bg-light,
.bg-cta-light,
.bg-main-light,
.bg-alt-light {
  --light: #{ $white };
}

// Dark
.bg-dark {
  --dark: #{ $black };
}

// Invert
@mixin invert-light($color) {
  @if text-contrast($color) == $white {
    --invert:     var(--light);
    --invert-in:  var(--light-in);
    --similar:    var(--dark);
    --similar-in: var(--dark-in);
    --map-filter: var(--map-filter-dark);
    // --bg-dark: 1;
  }
}
.bg-main { @include invert-light($main); }
.bg-alt  { @include invert-light($alt);  }
.bg-cta  { @include invert-light($cta);  }
.bg-gray { @include invert-light($gray); }


// Bases

.button,
.cta {
  --base:    var(--cta);
  --base-in: var(--cta-in);
}
:root,
.main {
  --base:    var(--main);
  --base-in: var(--main-in);
}
.alt {
  --base:    var(--alt);
  --base-in: var(--alt-in);
}
.light {
  --base:    var(--light);
  --base-in: var(--light-in);
}
.dark {
  --base:    var(--dark);
  --base-in: var(--dark-in);
}
.invert {
  --base:    var(--invert);
  --base-in: var(--invert-in);
  // hover like gray
  --hover: var(--gray);
  --hover-in: var(--gray-in);
}
.similar {
  --base:    var(--similar);
  --base-in: var(--similar-in);
  // active like gray
  --active:    var(--gray);
  --active-in: var(--gray-in);
}
.whatsapp {
  --base: #25d366;
  --base-in: #fff;
  --hover: #128c7e;
  --hover-in: #fff;
  --active: #075e54;
  --active-in: #fff;
}