.divider {
  margin-top: calc(var(--divider-height) * -1);
  --divider-gradient: linear-gradient(black, black);
}
@mixin divider-left($w, $s, $next) {
  --divider-#{$next}: calc(((100cqw - #{$w}) / 2) + #{$w} / (#{$s} * 2) * (#{$s} - 1));
}
.divider,
.divider--next {
  --divider-size: 1;
  --divider-width: calc(var(--divider-height) * 8 * var(--divider-size));
  @include divider-left(var(--divider-width), var(--divider-size), 'left');
  --divider-top: 1px;
  --divider-position: var(--divider-left) var(--divider-top);
}
.divider--next {
  --divider-next-size: 1;
  --divider-next-width: calc(var(--divider-height) * 8 * var(--divider-next-size));
  @include divider-left(var(--divider-next-width), var(--divider-next-size), 'next-left');
  --divider-next-top: calc(100% - 1px);
  --divider-next-position: var(--divider-next-left) var(--divider-next-top);
}

// prev only
.divider {
  --divider-mask-image:
    var(--divider),
    var(--divider-gradient);
  --divider-mask-size:
    var(--divider-width) var(--divider-height),
    var(--divider-width);
  --divider-mask-position:
    var(--divider-position),
    0 var(--divider-height);
}

// prev and next
.divider--next {
  --divider-mask-image:
    var(--divider),
    var(--divider-gradient),
    var(--divider-next);
  --divider-mask-size:
    var(--divider-width) var(--divider-height),
    100% calc(100% - var(--divider-height) * 2),
    var(--divider-next-width) var(--divider-height);
  --divider-mask-position:
    var(--divider-position),
    0 var(--divider-height),
    var(--divider-next-position);
  //         mask-composite: exclude;
  // -webkit-mask-composite: xor;
}

// next only
.divider--next:not(.divider) {
  --divider-mask-image:
    var(--divider-gradient),
    var(--divider-next);
  --divider-mask-size:
    100% calc(100% - var(--divider-height)),
    var(--divider-next-width) var(--divider-height);
  --divider-mask-position:
    0 0,
    var(--divider-next-position);
}

// mask
.divider,
.divider--next {
  &.ph,
  > .bg-color {
            mask-image: var(--divider-mask-image);
    -webkit-mask-image: var(--divider-mask-image);
            mask-size: var(--divider-mask-size);
    -webkit-mask-size: var(--divider-mask-size);
            mask-position: var(--divider-mask-position);
    -webkit-mask-position: var(--divider-mask-position);
            mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
  }
}

// others

.divider--size {
  --divider-size: 2;
}
.divider--not-repeat {
  --divider-width: calc(100% * var(--divider-size));
  --divider-left: 0px;
}
.divider--next--size {
  --divider-next-size: 2;
}
.divider--next--not-repeat {
  --divider-next-width: calc(100% * var(--divider-next-size));
  --divider-next-left: 0px;
}
