.pt-div {
  margin-top: calc(var(--div-height) * -1);
}
@mixin div-left($w, $s, $next) {
  --div-#{$next}: calc(((100cqw - #{$w}) / 2) + #{$w} / (#{$s} * 2) * (#{$s} - 1));
}
.div,
.div-next {
  --div-fade: linear-gradient(black, black);
  --div-size: 1;
  --div-width: calc(var(--div-height) * 8 * var(--div-size));
  @include div-left(var(--div-width), var(--div-size), 'left');
  --div-top: 1px;
  --div-position: var(--div-left) var(--div-top);
}
.div-next {
  --div-next-size: 1;
  --div-next-width: calc(var(--div-height) * 8 * var(--div-next-size));
  @include div-left(var(--div-next-width), var(--div-next-size), 'next-left');
  --div-next-top: calc(100% - 1px);
  --div-next-position: var(--div-next-left) var(--div-next-top);
}

// prev only
.div {
  --div-mask-image:
    var(--div),
    var(--div-fade);
  --div-mask-size:
    var(--div-width) var(--div-height),
    var(--div-width);
  --div-mask-position:
    var(--div-position),
    0 var(--div-height);
}

// prev and next
.div-next {
  --div-mask-image:
    var(--div),
    var(--div-fade),
    var(--div-next);
  --div-mask-size:
    var(--div-width) var(--div-height),
    100% calc(100% - var(--div-height) * 2),
    var(--div-next-width) var(--div-height);
  --div-mask-position:
    var(--div-position),
    0 var(--div-height),
    var(--div-next-position);
  //         mask-composite: exclude;
  // -webkit-mask-composite: xor;
}

// next only
.div-next:not(.div) {
  --div-mask-image:
    var(--div-fade),
    var(--div-next);
  --div-mask-size:
    100% calc(100% - var(--div-height)),
    var(--div-next-width) var(--div-height);
  --div-mask-position:
    0 0,
    var(--div-next-position);
}

// mask
.div,
.div-next {
  &.ph,
  > .bg-color {
            mask-image: var(--div-mask-image);
    -webkit-mask-image: var(--div-mask-image);
            mask-size: var(--div-mask-size);
    -webkit-mask-size: var(--div-mask-size);
            mask-position: var(--div-mask-position);
    -webkit-mask-position: var(--div-mask-position);
            mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
  }
}

// others

.div--size {
  --div-size: 2;
}
.div--not-repeat {
  --div-width: calc(100% * var(--div-size));
  --div-left: 0px;
}
.div-next--size {
  --div-next-size: 2;
}
.div-next--not-repeat {
  --div-next-width: calc(100% * var(--div-next-size));
  --div-next-left: 0px;
}
