.divider {
  margin-top: calc(var(--divider-height) * -1);
  --divider-gradient: linear-gradient(black, black);
}
@mixin divider-left($w, $s, $next) {
  --divider-#{$next}: calc(((100cqw - #{$w}) / 2) + #{$w} / (#{$s} * 2) * (#{$s} - 1));
}
.divider,
.divider--next {
  --divider-size: 1;
  --divider-width: calc(var(--divider-height) * 8 * var(--divider-size));
  @include divider-left(var(--divider-width), var(--divider-size), 'left');
  --divider-top: 1px;
  --divider-position: var(--divider-left) var(--divider-top);
}
.divider--next {
  --divider-next-size: 1;
  --divider-next-width: calc(var(--divider-height) * 8 * var(--divider-next-size));
  @include divider-left(var(--divider-next-width), var(--divider-next-size), 'next-left');
  --divider-next-top: calc(100% - 1px);
  --divider-next-position: var(--divider-next-left) var(--divider-next-top);
}

// prev only
.divider {
  --divider-mask-image:
    var(--divider),
    var(--divider-gradient);
  --divider-mask-size:
    var(--divider-width) var(--divider-height),
    var(--divider-width);
  --divider-mask-position:
    var(--divider-position),
    0 var(--divider-height);
}

// prev and next
.divider--next {
  --divider-mask-image:
    var(--divider),
    var(--divider-gradient),
    var(--divider-next);
  --divider-mask-size:
    var(--divider-width) var(--divider-height),
    100% calc(100% - var(--divider-height) * 2),
    var(--divider-next-width) var(--divider-height);
  --divider-mask-position:
    var(--divider-position),
    0 var(--divider-height),
    var(--divider-next-position);
  //         mask-composite: exclude;
  // -webkit-mask-composite: xor;
}

// next only
.divider--next:not(.divider) {
  --divider-mask-image:
    var(--divider-gradient),
    var(--divider-next);
  --divider-mask-size:
    100% calc(100% - var(--divider-height)),
    var(--divider-next-width) var(--divider-height);
  --divider-mask-position:
    0 0,
    var(--divider-next-position);
}

// mask
.divider,
.divider--next {
  &.ph,
  > .bg-color {
            mask-image: var(--divider-mask-image);
    -webkit-mask-image: var(--divider-mask-image);
            mask-size: var(--divider-mask-size);
    -webkit-mask-size: var(--divider-mask-size);
            mask-position: var(--divider-mask-position);
    -webkit-mask-position: var(--divider-mask-position);
            mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
  }
}

// others

.divider--size {
  --divider-size: 2;
}
.divider--not-repeat {
  --divider-width: calc(100% * var(--divider-size));
  --divider-left: 0px;
}
.divider--next--size {
  --divider-next-size: 2;
}
.divider--next--not-repeat {
  --divider-next-width: calc(100% * var(--divider-next-size));
  --divider-next-left: 0px;
}

// // paths

// $ini: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'";
// $prev: "%3Crect width='100%25' height='100%25' mask='url(%23m)'/%3E%3Cmask id='m'%3E%3Crect width='100%25' height='100%25' fill='white'/%3E";
// $next: "%3C/mask%3E";
// $prev-ynvert: "%3Crect width='100%25' height='100%25' mask='url(%23m)'/%3E%3Cmask id='m'%3E%3Crect width='100%25' height='100%25'/%3E%3Cg fill='white'%3E";
// $next-ynvert: "%3C/g%3E%3C/mask%3E";
// $prev-flip: "%3Cg id='f'%3E";
// $next-flip: "%3C%2Fg%3E%3Cuse href='%23f' transform='scale%28-1%2C1%29' x='-2048'%2F%3E";
// $end: "%3C/svg%3E";
// $dividers: str-split($dividers-string, "|");

// @each $divider in $dividers {
//   $data: str-split($divider, "~");
//   $name: nth($data, 1);
//   $size: nth($data, 2);
//   $repeat: nth($data, 3);
//   $paths: nth($data, 4);

//   $s: $size == '2';
//   $r: $repeat == 'true';
//   $width: 1024;
//   @if $s { $width: 2048; }
//   $viewbox: "viewBox='0 0 " + $width + " 128'";
//   @if $s {
//     $paths: $prev-flip + $paths + $next-flip;
//   }
  
//   .divider--#{$name} {
//     --divider: url("#{ $ini } #{ $viewbox }%3E#{ $paths }#{ $end }");
//     @if $s { --divider-size: 2; } @if not $r { --divider-width: calc(100% * var(--divider-size)); --divider-left: 0px; }
//   }
//   .divider--x-#{$name} {
//     --divider: url("#{ $ini } style='transform:scale(-1,1)' #{ $viewbox }%3E#{ $paths }#{ $end }");
//     @if $s { --divider-size: 2; } @if not $r { --divider-width: calc(100% * var(--divider-size)); --divider-left: 0px; }
//   }
//   .divider--y-#{$name} {
//     --divider: url("#{ $ini } style='transform:scale(1,-1)' #{ $viewbox }%3E#{ $prev }#{ $paths }#{ $next }#{ $end }");
//     @if $s { --divider-size: 2; } @if not $r { --divider-width: calc(100% * var(--divider-size)); --divider-left: 0px; }
//   }
//   .divider--xy-#{$name} {
//     --divider: url("#{ $ini } style='transform:scale(-1,-1)' #{ $viewbox }%3E#{ $prev }#{ $paths }#{ $next }#{ $end }");
//     @if $s { --divider-size: 2; } @if not $r { --divider-width: calc(100% * var(--divider-size)); --divider-left: 0px; }
//   }

//   // next (invert)
//   .divider--next--#{$name} {
//     --divider-next: url("#{ $ini } #{ $viewbox }%3E#{ $prev }#{ $paths }#{ $next }#{ $end }");
//     @if $s { --divider-next-size: 2; } @if not $r { --divider-next-width: calc(100% * var(--divider-next-size)); --divider-next-left: 0px; }
//   }
//   .divider--next--x-#{$name} {
//     --divider-next: url("#{ $ini } style='transform:scale(-1,1)' #{ $viewbox }%3E#{ $prev }#{ $paths }#{ $next }#{ $end }");
//     @if $s { --divider-next-size: 2; } @if not $r { --divider-next-width: calc(100% * var(--divider-next-size)); --divider-next-left: 0px; }
//   }
//   .divider--next--y-#{$name} {
//     --divider-next: url("#{ $ini } style='transform:scale(1,-1)' #{ $viewbox }%3E#{ $prev-ynvert }#{ $paths }#{ $next-ynvert }#{ $end }");
//     @if $s { --divider-next-size: 2; } @if not $r { --divider-next-width: calc(100% * var(--divider-next-size)); --divider-next-left: 0px; }
//   }
//   .divider--next--xy-#{$name} {
//     --divider-next: url("#{ $ini } style='transform:scale(-1,-1)' #{ $viewbox }%3E#{ $prev-ynvert }#{ $paths }#{ $next-ynvert }#{ $end }");
//     @if $s { --divider-next-size: 2; } @if not $r { --divider-next-width: calc(100% * var(--divider-next-size)); --divider-next-left: 0px; }
//   }

// }

// .divider--gradient,
// .divider--x-gradient,
// .divider--y-gradient,
// .divider--xy-gradient {
//   --divider: linear-gradient(transparent, black);
// }
// .divider--next--gradient,
// .divider--next--x-gradient,
// .divider--next--y-gradient,
// .divider--next--xy-gradient {
//   --divider-next: linear-gradient(black, transparent);
// }
