.link {
  display: inline;
  color: var(--cta-text);
  cursor: pointer;
  --link-line-top: calc(100% - var(--outline));
  --link-line-bottom: calc(100%);
  background-image: linear-gradient(to bottom,
    transparent var(--link-line-top),
    var(--cta) var(--link-line-top),
    var(--cta) var(--link-line-bottom),
    transparent var(--link-line-bottom)
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size, color;
  transition-duration: .3s;
  &#{$hover-focus} {
    @include link-hover;
  }
  &#{$active} {
    @include link-active;
  }
}
.link--swap {
  @include font-base;
}