.mail__option-copy--active > b {
  @if $chamfer {
    @if $radius > 1 or $buttons-rounded {
      --radius: 1em;
    }
  }
  &::after {
    content: var(--copied);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: .25em 1em;
    min-height: 2em;
    width: max-content;
    display: flex;
    align-items: center;
    color: var(--invert-in);
    background-color: var(--invert);
    @include radius;
    @if not $chamfer {
      filter: drop-shadow($shadow);
    }
    animation: copied 1s ease 0s forwards;
  }
}