.display-none:not(#aux) {
  display: none
}
.hide {
  @include ofuscate;
}
.lcp {
  height: calc(min(100lvh - var(--menu-height), 100% - 2rem));
  width: calc(100% - 2rem);
  display: grid;
  place-content: center;
  font-size: 3em;
  line-height: 1.33;
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  color: color-mix(in srgb, var(--title), transparent 99.7%);
  background: linear-gradient(
    135deg, 
    color-mix(in srgb, var(--main), transparent 99.5%) 0%,
    color-mix(in srgb, var(--cta), transparent 99.8%) 100%
  );
  // animation: lcp 1.5s infinite;
}
// .loaded .lcp {
//   display: none;
// }
// @keyframes lcp {
//   0%, 100% {
//     color: var(--similar);
//   }
//   50% {
//     color: var(--bg-hex);
//   }
// }
