:root {
  --pt: 5em;
  --pb: 5em;
}

.pt-0 { --pt: 0em; }
.pt-1 { --pt: 1em; }
.pt-2 { --pt: 2em; }
.pt-3 { --pt: 3em; }
.pt-4 { --pt: 4em; }
.pt-5 { --pt: 5em; }
.pt-6 { --pt: 6em; }
.pt-7 { --pt: 7em; }
.pt-8 { --pt: 8em; }
.pt-9 { --pt: 9em; }

.pb-0 { --pb: 0em; }
.pb-1 { --pb: 1em; }
.pb-2 { --pb: 2em; }
.pb-3 { --pb: 3em; }
.pb-4 { --pb: 4em; }
.pb-5 { --pb: 5em; }
.pb-6 { --pb: 6em; }
.pb-7 { --pb: 7em; }
.pb-8 { --pb: 8em; }
.pb-9 { --pb: 9em; }

.pb-divider {
  --pb-divider: var(--divider-height);
}
.pb-divider--ratio {
  --pb-divider: var(--divider-ratio-height);
}
.pt-divider {
  --pt-divider: var(--divider-height);
}
.pt-divider--ratio {
  --pt-divider: var(--divider-ratio-height);
}
