:root {
  --pt: 5em;
  --pb: 5em;
}
#footer {
  --pt: 2em;
}
.pb-divider {
  --pb-divider: var(--divider-height);
}
.pb-divider--ratio {
  --pb-divider: var(--divider-ratio-height);
}
.pt-divider {
  --pt-divider: var(--divider-height);
}
.pt-divider--ratio {
  --pt-divider: var(--divider-ratio-height);
}
