.h0 { @extend h1; --hs: 2.2; }
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.subtitle {
  @include font-cursive;
  display: block;
  font-size: $font-size-cursive * 1em;
  // text-wrap: balance;
  color: var(--subtitle);
  &:last-child {
    margin-bottom: 0;
  }
}