@use "../mixins";
@use "../variables";

.sub {
  @include mixins.font-cursive;
  display: block;
  font-size: variables.$font-size-cursive * 1.2em;
  // text-wrap: balance;
  color: var(--sub);
  &:last-child {
    margin-bottom: 0;
  }
}
