:has(> .tooltip) {
  position: relative;
  cursor: default;
}
.tooltip {
  @if $radius > 1 or $is-btns-pill {
    @include radius-parent(2em - $radius);
  } @else {
    @include radius-parent(1em);
  }
  padding: 1em;
  z-index: 1;
  position: absolute;
  bottom: calc(100% + .35em);
  left: 50%;
  width: max-content;
  transform: translate(-50%, 1em);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, transform .3s, visibility .3s step-end;
  display: flex;
  flex-direction: column;
  gap: 1em;
  filter: drop-shadow($shadow);
  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: .75em solid transparent;
    border-top-color: var(--bg-color);
    border-bottom: 0;
    position: absolute;
    bottom: -.7em;
    left: calc(50% - .75em);
  }
}
:has(> .tooltip):hover > .tooltip,
:has(> .tooltip):focus > .tooltip,
.tooltip:focus-within {
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;
  transition: opacity .3s, transform .3s, visibility 0s step-end;
}