.underline {
  &:after {
    content: '';
    display: block;
    width: 2em;
    height: $menu-bar-double;
    background-color: var(--main);
    --underline-margin: calc(50% - 1em);
    margin: .125em var(--underline-margin) .25em;
    --radius: #{ $menu-bar };
    @include radius;
    order: 10;
  }
  &.hide:after {
    content: none;
  }
}
.underline *,
.underline:not(.aux) {
  background-image: none;
}
.align-right .underline:after {
  margin-right: 0;
  --underline-margin: calc(100% - 2em);
}
.align-left .underline:after {
  margin-left: 0;
  --underline-margin: calc(100% - 2em);
}
@media (min-width: $screen-xl) {
  .align--xl-right .underline:after {
    margin-right: 0;
    margin-left: calc(100% - 2em);
  }
  .align--xl-left .underline:after {
    margin-left: 0;
    margin-right: calc(100% - 2em);
  }
}