.line {
  &::after {
    content: '';
    display: block;
    width: 2em;
    height: $menu-bar-double;
    background-color: var(--main);
    --line-margin: calc(50% - 1em);
    margin: .125em var(--line-margin) .25em;
    --radius: #{ $menu-bar };
    @include radius;
    order: 10;
  }
  &.hide::after {
    content: none;
  }
}
.line *,
.line:not(.aux) {
  background-image: none;
}
.align-right .line::after {
  margin-right: 0;
  --line-margin: calc(100% - 2em);
}
.align-left .line::after {
  margin-left: 0;
  --line-margin: calc(100% - 2em);
}
@media (min-width: $vl) {
  .align--vl-right .line::after {
    margin-right: 0;
    margin-left: calc(100% - 2em);
  }
  .align--vl-left .line::after {
    margin-left: 0;
    margin-right: calc(100% - 2em);
  }
}