{{- if or .color .gradient .bg -}}
  {{- $image     := "" -}}
  {{- $alpha     := "" -}}
  {{- $grayscale := "" -}}

  {{- if .bg -}}
    {{- $image     = "bg-figure" -}}
    {{- $alpha     = cond (not .alpha)     "" "bg-alpha" -}}
    {{- $grayscale = cond (not .grayscale) "" " image--grayscale" -}}
  {{- end -}}

  {{- if or .color .gradient -}}
    {{- if and .link .shadow site.Data.styles.buttons.deep -}}
      <div class="bg-color bg-color--3d"></div>
    {{- end -}}
  {{- end -}}

  {{/*  CLASS  */}}
  {{- $class := partial "functions/attr-delimit" (dict
    "attr"  "class"
    "array" (slice
      "bg-color"
      $image
      $alpha
    )
  ) -}}


  {{/*  STYLE  */}}
  {{ $style := partial "functions/attr-delimit" (dict
    "attr"    "style"
    "delimit" ";"
    "array"   (slice
      (cond (not .alpha)       "" (print "--bg-alpha:"    .alpha))
      (cond (not .color_alpha) "" (print "--color-alpha:" .color_alpha))
    )
  ) }}


  {{/*  ATTRIBUTES  */}}
  {{- $attr := print $class $style -}}

  <div {{ $attr | safeHTMLAttr }}>
    {{- if partial `functions/is-iframe` .bg -}}
      <div class="bg-figure-video">
    {{- end -}}
      {{- partial "components/image" (dict
        "class"     (print "bg-figure-image" $grayscale)
        "src"       .bg
        "notlazy"   .header
        "bg"        true
        "container" $.container
        "span"      .box_span
      ) -}}
    {{- if partial `functions/is-iframe` .bg -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}

{{- if .card -}}
  <div class="bg-card"></div>
{{- end -}}
