{{- if or .color .gradient .bg -}}
  {{- $image     := "" -}}
  {{- $alpha     := "" -}}
  {{- $parallax  := "" -}}
  {{- $grayscale := "" -}}

  {{- if .bg -}}
    {{- $image     = "bg-figure" -}}
    {{- $alpha     = cond (not .alpha)     "" "alpha" -}}
    {{- $parallax  = cond (not .parallax)  "" (cond (or .box site.Data.design.performance.parallax) "parallax" "") -}}
    {{- $grayscale = cond (not .grayscale) "" " image--grayscale" -}}
  {{- end -}}

  {{ $divider_next := "" }}
  {{ if .divider | and (not .footer) }}
    {{ with .next }}
      {{ if not (or .color .gradient .bg) }}
        {{ if .divider }}
          {{ $flip_y      := cond (not .flip_y) "y" "" }}
          {{ $flip_x      := cond (not .flip_x) "x" "" }}
          {{ $flips       := "" }}
          {{ if or $flip_x $flip_y }}
            {{ $flips      = print "-" $flip_x $flip_y }}
          {{ end }}
          {{ $divider_next = print "divider--next divider--next-" $flips "-" .divider }}
          {{/*  {{ if partial `functions/divider-ratio` .divider }}
            {{ $divider = print $divider " divider--ratio" }}
          {{ end }}  */}}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{- if or .color .gradient -}}
    {{- if and .link .shadow site.Data.design.buttons.deep -}}
      <div class="bg-color bg-color--3d"></div>
    {{- end -}}
  {{- end -}}

  {{/*  CLASS  */}}
  {{- $class := partial "functions/attr-delimit" (dict
    "attr"  "class"
    "array" (slice
      "bg-color"
      $image
      $alpha
      $parallax
      $divider_next
    )
  ) -}}


  {{/*  STYLE  */}}
  {{- $alpha  = cond (not $alpha) "" (print "--alpha:" .alpha) -}}
  {{- $style := cond (not $alpha) "" (print ` style="` $alpha `"`) -}}

  {{/*  ATTRIBUTES  */}}
  {{- $attr := print $class $style -}}

  <div {{ $attr | safeHTMLAttr }}>
    {{- if partial `functions/is-iframe` .bg -}}
      <div class="bg-figure-video">
    {{- end -}}
      {{- partial "components/image" (dict
        "class"     (print "bg-figure-image" $grayscale)
        "src"       .bg
        "notlazy"   .header
        "bg"        true
        "container" $.container
        "span"      .box_span
      ) -}}
    {{- if partial `functions/is-iframe` .bg -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}

{{- if .card -}}
  <div class="bg-card"></div>
{{- end -}}
