{{- if .icon -}}
  {{/*  CLASS  */}}
  {{- $class := partial "functions/attr-delimit" (dict
    "attr"  "class"
    "array" (slice
      "box__icon"
      (cond (or (not .icon_type) (eq .icon_type "side")) "" (print "box__icon--" .icon_type))
      (.icon_color | default "main")
    )
  ) -}}

  {{/*  STYLE  */}}
  {{- $icon_size := cond (and (not .icon_size) (ne .icon_size 6)) "" (print "--icon-size:" .icon_size "em") -}}
  {{- $style     := cond (not $icon_size) "" (print ` style="` $icon_size `"`) -}}

  {{/*  ATTRIBUTES  */}}
  {{- $attr := print $class $style -}}

  {{- if ne $.icon_type "top" -}}
    <div {{ $attr | safeHTMLAttr }}>
      {{- partial "components/icon" (dict "icon" .icon) -}}
    </div>
  {{- else -}}
    {{- partial "components/icon" (dict
      "attr" $attr
      "icon" .icon
    ) -}}
  {{- end -}}
{{- end -}}
