{{- if .icon -}}
  {{- $icon_size := "" -}}
  {{- with .icon_size -}}
    {{- $icon_size = print "icon--size-" . -}}
  {{- end -}}
  {{- $icon_type  := cond (not .icon_type | or (eq .icon_type "side")) "" (print "box__icon--" .icon_type) -}}
  {{- $icon_size  := cond (not .icon_size) "" (print "icon--size-" .icon_size) -}}
  {{- $icon_color := .icon_color | default "main" -}}
  {{- $icon_class := delimit (slice
    "box__icon"
    $icon_type
    $icon_size
    $icon_color
    | uniq) " "
  -}}

  {{- if ne $.icon_type "top" -}}
    <div class="{{- $icon_class -}}">
      {{- partial "components/icon" (dict "icon" .icon) -}}
    </div>
  {{- else -}}
    {{- partial "components/icon" (dict
      "class" $icon_class
      "icon"  .icon
    ) -}}
  {{- end -}}
{{- end -}}
