{{- with site.GetPage "cookies" -}}
  {{- $color := $.menu.color | default "white" -}}
  <aside class="cookies bg bg-{{ $color }} description">
    <div class="bg-color"></div>
    <p class="cookies__messaje">
      {{- partial "components/icon" (dict "icon" "cookie-bite" "emoji" "🍪") -}}
      <strong>{{ i18n "cookies_we_use" }}</strong>
      {{- "" }} {{ i18n "cookies_message" }}. {{ "" -}}
      {{- partial "components/link" (dict
        "link"      .RelPermalink
        "button"    "none"
        "label"     (print (i18n "read_more") "…")
        "noindex"   true
        "_blank"    true
      ) -}}
    </p>
    <div class="cookies__wrap">
      <div class="cookies__checks">
        {{- range $key, $label := split (i18n "cookies_checks") "," -}}
          <label class="form__label">
            {{- "" -}}
            <input class="form__checkbox" type="checkbox" name="cookies" value="{{ . | urlize }}" {{ if not $key }}disabled checked{{ end }}>
            {{- . -}}
          </label>
        {{- end -}}
      </div>
      <div class="cookies__buttons">
        {{- partial "components/link" (dict
          "class"   "cookies__button-acept button--sm button--font-alt"
          "link"    "none"
          "button"  "link"
          "label"   (i18n "cookies_accept")
          "noindex" true
        ) -}}
        {{- partial "components/link" (dict
          "class"   "cookies__button-acept button--sm button--font-alt cookies__button-acept--all"
          "link"    "none"
          "button"  "link"
          "label"   (i18n "cookies_accept_all")
          "noindex" true
        ) -}}
      </div>
    </div>
  </aside>
{{- end -}}