


{{- if .page.Content | and (ne .page.Type "events") -}}

  {{- $hide_reading_time := "" -}}
  {{- with .box -}}
    {{- $hide_reading_time = .hide_reading_time -}}
  {{- else -}}
    {{- $hide_reading_time = site.Data.lists.content.hide_reading_time -}}
  {{- end -}}

  {{- if not $hide_reading_time -}}
    <i class="data__item">
      {{- partial "components/icon" (dict "class" "data__icon" "icon" "clock" "emoji" "🕓") -}}
      {{- i18n "reading-time" .page.ReadingTime -}}
      {{- if not .box }} {{ i18n "of-reading" }}{{ end -}}
    </i>
  {{- end -}}
  {{/*
    {{- if not .box -}}
      <i class="data__item">
        {{- partial "components/icon" (dict "class" "data__icon" "icon" "comment-dots" "emoji" "💬") -}}
        {{- i18n "word-count" .page.WordCount -}}
      </i>
    {{- end -}}
  */}}

{{- end -}}