


{{- if .page.Content | and (ne .page.Type "events") -}}

  {{- $reading_time := "" -}}
  {{- with .column -}}
    {{- $reading_time = .reading_time -}}
  {{- else -}}
    {{- $reading_time = site.Data.articles.content.reading_time -}}
  {{- end -}}

  {{- if $reading_time -}}
    <i class="data__item">
      {{- partial "components/icon" (dict "class" "data__icon" "icon" "clock" "emoji" "🕓") -}}
      {{- i18n "reading-time" .page.ReadingTime -}}
      {{- if not .column }} {{ i18n "of-reading" }}{{ end -}}
    </i>
  {{- end -}}
  {{/*
    {{- if not .column -}}
      <i class="data__item">
        {{- partial "components/icon" (dict "class" "data__icon" "icon" "comment-dots" "emoji" "💬") -}}
        {{- i18n "word-count" .page.WordCount -}}
      </i>
    {{- end -}}
  */}}

{{- end -}}