{{ $_next := cond .next "--next" "" }}
{{ $class := print "div" $_next }}
{{ $style := "" }}

{{ with .section }}
  {{ with where (partial "draws/dividers" .) "id" .div }}
    {{ with index . 0 }}
      {{ if eq .size 2 }}
        {{ $class = print $class " div" $_next "--size" }}
      {{ end }}
      {{ if not .repeat }}
        {{ $class = print $class " div" $_next "--not-repeat" }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $flip_y := cond (not .div_y) "" "y" }}
  {{ $flip_x := cond (not .div_x) "" "x" }}
  {{ $flips  := "" }}
  {{ if or .div_x .div_y }}
    {{ $flips = print $flip_x $flip_y }}
  {{ end }}

  {{ $style     = print
    "--div"
    $_next
    ": url(/draws."
    site.Params.timestamp
    ".svg#div-"
    .div
    "-"
    (cond $.next "ne" "pr")
    $flips
    ")"
  }}
  {{ if eq .div "fade" }}
    {{ if $.next }}
      {{ $style = "--div-next: linear-gradient(black, transparent)" }}
    {{ else }}
      {{ $style = "--div: linear-gradient(transparent, black)" }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return dict "class" $class "style" $style }}