{{- $location := .Params.location -}}
{{- $address  := .Params.address -}}
{{- with .Params.artist -}}
  <p class="h5">
    {{ i18n "artist" }}:
    <i class="subtitle">{{ . }}</i>
  </p>
{{- end -}}
{{- with .Params.price -}}
  <p class="h5">
    {{- i18n "price" -}}:
    <i class="h4 price">{{ . }}</i>
  </p>
{{- end -}}
{{- with $location -}}
  {{- if $address -}}
    {{- $location  = replace (print . " - " $address) "<nil>" "" -}}
  {{- end -}}
  {{- $link  := print "https://maps.google.com/maps?q=" ($location | urlquery) -}}
  <p class="buttons">
    {{- partial "components/link" (dict
      "link"      $link
      "button"    "link"
      "font_alt"  true
      "icon"      "location-dot"
      "emoji"     "📍"
      "label"     $location
      "noindex"   true
    ) -}}
  </p>
  <iframe loading="lazy" data-src="{{ $link }}&z=15&output=embed" width="600" height="450" allowfullscreen="" title="{{ i18n `location` }}"></iframe>
{{- end -}}