
{{ $icons := site.Data.design.icons }}
{{ $icon := .icon }}
{{ if $icons.emojis_default | and .emoji }}
  {{ $icon = .emoji }}
{{ end }}
{{ $icon_code := $icon | urlquery }}
{{ $emoji := in $icon_code "%" }}
{{ with $icons.emojis }}
  {{ if $emoji }}
    {{ $variants := cond (eq . "noto-bw" | or (eq . "twemoji-scale")) `-ef-b8-8f|-f0-9f-8f-b(b|c|d|e|f)` `-ef-b8-8f` }}
    {{ $icon_code = $icon_code | lower | replaceRE `%` `-` | replaceRE `^-` `` | replaceRE $variants `` }}
    {{ if eq . "noto-bw" }}
      {{ $alias := where (index site.Data.utilities.emoji_alias .) "alias" $icon_code }}
      {{ with $alias }}
        {{ $icon_code = (index . 0).simple }}
      {{ end }}
    {{ end }}
    {{ $icon = print "emoji-" $icon_code }}
  {{ end }}
{{ end }}

{{ $class := "" }}
{{ with .class }}
  {{ $class = print ` class="` . `"` }}
{{ end }}
{{ if $emoji }}
  {{ $class = print ` class="` (cond (not .class) `` .class) ` emoji"` }}
{{ end }}

{{ $svg := not $emoji | or $icons.emojis }}
{{ if $svg }}
  {{ $svg = print `<svg` $class `><use xlink:href="/draws.svg#` $icon `"></use></svg>` | safeHTML }}
{{ else }}
  {{ $svg = print `<b` $class `>` .icon `</b>` | safeHTML }}
{{ end }}

{{ return $svg }}