{{- $showup    := site.Data.design.performance.showup -}}
{{- $header    := eq .id "header" -}}
{{- $footer    := eq .id "footer" -}}
{{- $modal     := .modal  | default false -}}
{{- $section   := . -}}
{{- $icon_type := .icon_type | default "bottom" -}}

{{/*  SECTION CLASS  */}}
{{- $section_type        := cond $modal "modal" "section" -}}
{{- $section_header      := cond $header "section--header" (print $section_type "--" (add .key 1)) -}}
{{- if $footer -}}
  {{- $section_header     = "section--footer" -}}
{{- end -}}
{{- $section_full_screen := cond (not .full_screen) "" "section--full-screen" -}}
{{- $section_bg_color    := "bg-white" -}}
{{- if not $modal -}}
  {{- with .color -}}
    {{- $section_bg_color = print "bg-" . -}}
  {{- end -}}
{{- end -}}
{{- if .bg -}}
  {{- $section_bg_color   = print $section_bg_color " bg-image" -}}
{{- end -}}
{{- $section_bg_gradient_color      := "" -}}
{{- $section_bg_gradient_type       := "" -}}
{{- if not $modal | and .gradient -}}
  {{- $section_bg_gradient_color     = print "bg-gradient-" .gradient -}}
  {{- $section_bg_gradient_type      = print "bg-gradient-" (.gradient_type | default "linear-b") -}}
{{- end -}}
{{- $section_bg_opacity             := "" -}}
{{- if (.color_opacity | and (ne .color_opacity 100)) | and ($section_bg_color | or $section_bg_gradient_color) -}}
  {{- $section_bg_opacity            = print "bg-opacity-" .color_opacity -}}
{{- end -}}
{{- $parallax_fixed                 := not site.Data.design.performance.parallax -}}
{{- $section_bg_image_fixed         := cond (not (.bg | and .parallax | and $parallax_fixed)) "" "bg--image-fixed" -}}
{{- $section_bg                     := cond (not $section_bg_color) "" "bg" -}}
{{- $section_bg_video_parent        := "" -}}
{{- if partial `functions/is-iframe` .bg -}}
  {{- $section_bg_video_parent       = "bg-figure-video-parent" -}}
{{- end -}}
{{- $section_padding_hide           := "" -}}
{{- $section_padding_top            := "pt-5" -}}
{{- $section_padding_bottom         := "pb-5" -}}
{{- $section_padding_top_divider    := "" -}}
{{- $section_padding_bottom_divider := "" -}}
{{- if $footer -}}
  {{- $section_padding_top           = "pt-3" -}}
  {{- if partial "functions/lang-param" (dict "parent" "config" "param" "social" "default" slice) -}}
    {{- $section_padding_top         = "pt-1" -}}
  {{- end -}}
{{- end -}}
{{- if .padding_hide -}}
  {{- $section_padding_hide          = "section--paddings-hide" -}}
  {{- $section_padding_top           = "" -}}
  {{- $section_padding_bottom        = "" -}}
{{- else -}}
  {{- if ne .padding_top nil -}}
    {{- $section_padding_top         = print "pt-" .padding_top -}}
  {{- end -}}
  {{- if ne .padding_bottom nil -}}
    {{- $section_padding_bottom      = print "pb-" .padding_bottom -}}
  {{- end -}}
{{- end -}}
{{- with .prev -}}
  {{- if .divider -}}
    {{- $section_padding_top_divider = print "pt-divider" (cond (partial `functions/divider-ratio` .divider) "--ratio" "") -}}
  {{- end -}}
{{- end -}}
{{- if .divider | and (not $footer) -}}
  {{- $section_padding_bottom_divider = print "pb-divider" (cond (partial `functions/divider-ratio` .divider) "--ratio" "") -}}
{{- end -}}
{{- if $header
  | and (not page.Params.menu.hide)
  | and (not page.Params.menu.hide_sticky)
  | and (not page.Params.header_article)
-}}
  {{- $section_padding_top_divider = "pt-divider" -}}
{{- end -}}
{{- $section_divider    := "" -}}
{{- with .prev -}}
  {{- if .divider -}}
    {{- $flip_y_          := cond (not .flip_y) "" " divider--flip-y" -}}
    {{- $flip_y           := cond (not .flip_y) "" "y" -}}
    {{- $flip_x           := cond (not .flip_x) "" "x" -}}
    {{- $flips            := cond (or .flip_x .flip_y) (print "-" $flip_x $flip_y) "" -}}
    {{- $section_divider   = print "divider divider-" $flips "-" .divider $flip_y_ -}}
    {{/*  {{- if partial `functions/divider-ratio` .divider -}}
      {{- $section_divider = print $section_divider " divider--ratio" -}}
    {{- end -}}  */}}
  {{- end -}}
{{- end -}}
{{- if $modal -}}
  {{- $section_bg             = "" -}}
  {{- $section_bg_color       = "" -}}
  {{- $section_bg_image_fixed = "" -}}
  {{- $section_padding_top    = "" -}}
  {{- $section_padding_bottom = "" -}}
{{- end -}}
{{- $section_class := delimit (slice
  $section_type
  $section_header
  $section_full_screen
  $section_bg
  $section_bg_color
  $section_bg_gradient_type
  $section_bg_gradient_color
  $section_bg_opacity
  $section_bg_image_fixed
  $section_bg_video_parent
  $section_padding_hide
  $section_padding_top
  $section_padding_bottom
  $section_padding_top_divider
  $section_padding_bottom_divider
  $section_divider
  | uniq) " "
-}}

{{/*  SECTION  */}}
{{ if $header }}
  <header
{{ else if $footer }}
  <footer
{{ else if $modal }}
  <dialog
{{ else }}
  <section
{{ end }}
  {{ with .id }}id="{{ . }}"{{ end }}
  class="{{ $section_class }}"
  {{- if $modal }} hidden="until-found"{{ end -}}
>

  {{/*  BACKGROUND COLOR AND IMAGE  */}}
  {{- if not $modal -}}
    {{- $bg_image          := "" -}}
    {{- $bg_image_opacity  := "" -}}
    {{- $bg_image_parallax := "" -}}
    {{- if .bg -}}
      {{- $bg_image          = "bg-figure" -}}
      {{- $bg_image_opacity  = cond (not (.opacity | and (ne .opacity 100))) "" (print "opacity-" .opacity) -}}
      {{- $bg_image_parallax = cond (not (.parallax | and .bg | and (not $parallax_fixed))) "" "parallax" -}}
    {{- end -}}

    {{- $bg := delimit (slice
      "bg-color"
      $bg_image
      $bg_image_parallax
      | uniq) " "
    -}}
    <div class="{{ $bg }}">
      {{- if partial `functions/is-iframe` .bg -}}
        <div class="bg-figure-video">
      {{- end -}}
        {{- partial "components/image" (dict
          "class"   (delimit (slice "bg-figure-image" $bg_image_opacity) " ")
          "src"     .bg
          "notlazy" $header
          "bg"      true
        ) -}}
      {{- if partial `functions/is-iframe` .bg -}}
        </div>
      {{- end -}}
    </div>
  {{- end -}}

  {{/*  CONTAINER CLASS  */}}
  {{- $container_modal := cond $modal "modal__container" "" -}}
  {{- $container_size  := .size
    | default (cond
      (.padding_hide | default false)
      "fluid"
      (cond $modal "sm" "lg")
    )
  -}}
  {{ $container_size_class := print "container--" $container_size }}
  {{- $container_bg_color := cond $modal "bg bg-white" "" -}}
  {{- with cond $modal .color .container -}}
    {{- $container_bg_color = print "bg bg-" . -}}
  {{- end -}}
  {{- $container_bg_gradient_color := "" -}}
  {{- $container_bg_gradient_type  := "" -}}
  {{- if $modal -}}
    {{- if .gradient -}}
      {{- $container_bg_gradient_color = print "bg-gradient-" .gradient -}}
      {{- $container_bg_gradient_type  = print "bg-gradient-" (.gradient_type | default "linear-b") -}}
    {{- end -}}
  {{- else -}}
    {{- if .container_gradient_type -}}
      {{- $container_bg_gradient_color = print "bg-gradient-" .container_gradient -}}
      {{- $container_bg_gradient_type  = print "bg-gradient-" (.container_gradient_type | default "linear-b") -}}
    {{- end -}}
  {{- end -}}
  {{- $container_bg_opacity  := "" -}}
  {{- with .container_opacity -}}
    {{- if ne . 100 -}}
      {{- $container_bg_opacity = print "bg-opacity-" . -}}
    {{- end -}}
  {{- end -}}
  {{- $container_bg          := $container_bg_color | or $container_bg_gradient_color -}}
  {{- $container_shadow      := ($container_bg | and (not .hide_shadow)) | or $modal -}}
  {{- $container_shadow       = cond (not $container_shadow) "" "shadow" }}
  {{- $container_pill_top    := cond (eq .ratio "circle" | or .pill) "pill-top" "" -}}
  {{- $container_pill_bottom := cond (not .pill) "" "pill-bottom" -}}
  {{- $last_map              := false -}}
  {{- with .rows -}}
    {{- with index . (sub (len .) 1) -}}
      {{- if eq .type "contact" -}}
        {{- if .map.active -}}
          {{- $last_map       = true -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $container_bg_radius_min := cond (
    not (
      $container_bg
      | and (not .image)
      | and (not $last_map)
    )
  ) "" "bg--radius-min" -}}
  {{- $container_class := delimit (slice
    "container"
    $container_modal
    $container_size_class
    $container_bg_color
    $container_bg_gradient_color
    $container_bg_gradient_type
    $container_bg_opacity
    $container_bg_radius_min
    $container_shadow
    $container_pill_top
    $container_pill_bottom
    | uniq) " "
  -}}

  {{/*  CONTAINER  */}}
  <div class="{{ $container_class }}">

    {{/*  BACKGROUND COLOR  */}}
    {{- if $container_bg_color | or $container_bg_gradient_color -}}
      <div class="bg-color"></div>
    {{- end -}}

      {{/*  FOOTER SOCIAL FOLLOW  */}}
      {{- if $footer -}}
        {{ partial "components/social-follow" . }}
      {{- end -}}

      {{- if ne page.Kind "404" -}}

      {{/*  IMAGE  */}}
      {{- $is_video_and_type_normal := partial `functions/is-iframe` .image
        | and (eq (.ratio | default "normal") "normal")
      -}}
      {{ if .image }}

        {{/*  IFRAME POSTER  */}}
        {{ $iframe_poster := "" }}
        {{ if partial "functions/is-iframe" .image | and (in .image "poster") }}
          {{ $iframe_poster = partial "functions/iframe-poster" .image }}
        {{ end }}

        {{/*  IMAGE CLASS  */}}
        {{- $image_ratio   := "" -}}
        {{- $image_contain := "" -}}
        {{- $image_border  := "" -}}
        {{- $image_inset   := "" -}}
        {{- if .image -}}
          {{- with .ratio   -}}{{- $image_ratio   = print "image--" .                                -}}{{- end -}}
          {{- with .contain -}}{{- $image_contain = "image--contain"                                 -}}{{- end -}}
          {{- with .border  -}}{{- $image_border  = print "image--border " (cond (ne "main" .) . "") -}}{{- end -}}
          {{- if .inset | and (
            $container_bg_color
            | or $container_bg_gradient_color
          ) -}}
            {{- $image_inset = "image--inset" -}}
          {{- end -}}
        {{- end -}}
        {{ $image_align := "" }}
        {{ with .image_align }}
          {{ $image_align = print "image--" . }}
        {{ end }}
        {{- $image_icon_top := cond (not (and .icon (eq $icon_type "top"))) "" "image--icon-top" -}}
        {{- $image_class    := delimit (slice
          "image"
          $image_ratio
          $image_contain
          $image_border
          $image_inset
          $image_align
          $image_icon_top
          | uniq) " "
        -}}

        <div class="{{ $image_class }}" {{- if not $modal | and (not $header) | and $showup }} data-showup{{ end }}>
          {{ partial "components/image" (dict
            "class"     "image__inner"
            "src"       (cond
              (not $iframe_poster)
              .image
              $iframe_poster
            )
            "ratio"     (cond (not .contain) .ratio false)
            "contain"   .contain
            "container" $container_size
            "notlazy"   $header
            | merge (cond (not $iframe_poster)
              (dict)
              (dict "iframe_src" (partial `functions/iframe-src` (dict `src` .image)))
            )
          ) }}
      {{ end }}

      {{/*  ICON TOP  */}}
      {{ $icon_size := "" }}
      {{ with .icon_size }}
        {{ $icon_size = print "icon--size-" . }}
      {{ end }}
      {{- $icon_size  := cond (not .icon_size) "" (print "icon--size-" .icon_size) -}}
      {{- $icon_color := .icon_color | default "main" -}}
      {{- $icon_class := delimit (slice
        $icon_size
        $icon_color
        | uniq) " "
      -}}
      {{ if and .icon (eq $icon_type "top") }}
        {{ partial "components/icon" (dict
          "class" (print "section__icon--top " $icon_class)
          "icon" .icon
        ) }}
      {{ end }}

      {{ if .image }}
        </div>
      {{ end }}

      {{/*  HEADER  */}}
      {{ $anchor              := .anchor | default (cond (not .title) .menu "") }}
      {{ $show_section_title  := .title | or (.icon | and (ne .icon "none")) }}
      {{ $show_section_header := $show_section_title | or .subtitle }}
      {{ $hide_section_title  := "" }}
      {{ $hide_section_header := "" }}
      {{ if $anchor | and (not $show_section_title)  }}{{ $hide_section_title  = "hide" }}{{ end }}
      {{ if $anchor | and (not $show_section_header) }}{{ $hide_section_header = "hide" }}{{ end }}

      {{ if $show_section_header | or $anchor }}
        <div class="section__header align-center {{ $hide_section_header }}" {{- if not $header | and $showup }} data-showup{{ end }}>

          {{ if $show_section_title | or $anchor }}
            {{ $title_icon_type := cond (not (.icon | and $icon_type)) "" (print "section__title--icon-" $icon_type) }}
            <div class="section__title {{ $title_icon_type }} {{ $hide_section_title }}">

              {{/*  TITLE  */}}
              {{ if .title | or $anchor }}
                {{ $hn        := cond $header 1 (cond $modal 3 2) }}
                {{ $uppercase := cond (not .uppercase) "" "uppercase" }}
                {{ $underline := cond (not (.underline | and (not (.icon | and (eq $icon_type "bottom"))))) "" "underline" }}
                {{ $class     := $uppercase | or $underline }}
                {{ $anchor     = partial "functions/md" (dict "content" $anchor "inline" true) }}
                <h{{ $hn }}{{ if $class }} class="{{ $uppercase }} {{ $underline }}"{{ end }}>
                  <a href="{{ if $header }}{{ page.RelPermalink }}{{ else }}#{{ .id }}{{ end }}">
                    {{- if $anchor -}}
                      {{- if .title -}}
                        <i data-more="{{ .title }}"><i>{{ $anchor }}</i></i>
                      {{- else -}}
                        <i>{{ $anchor }}</i>
                      {{- end -}}
                    {{- else -}}
                      {{- partial "functions/md" (dict "content" .title "inline" true) -}}
                    {{- end -}}
                  </a>
                </h{{ $hn }}>
              {{ end }}

              {{/*  ICON  */}}
              {{ if ne $icon_type "top" }}
                {{ with .icon }}
                  <div class="section__icon {{ $icon_class }}">
                    {{- partial "components/icon" (dict "icon" .) -}}
                  </div>
                {{ end }}
              {{ end }}

            </div>
          {{ end }}

          {{/*  SUBTITLE  */}}
          {{ with .subtitle }}<p class="subtitle">{{ . | markdownify }}</p>{{ end }}

        </div>
      {{ end }}

      {{/*  DESCRIPTION  */}}
      {{ if .description }}
        {{- $desc_align := print "align-" (.align | default (cond (not $header) "left" "center")) -}}
        <div class="description {{ $desc_align }}" {{- if not $header | and $showup }} data-showup{{ end }}>
          {{- partial "functions/md" (dict "content" .description "not_header_links" $modal) -}}
        </div>
      {{ end }}

      {{/*  ROWS  */}}
      {{ with .rows }}
        <div class="rows">
          {{ $form_num := 1 }}
          {{ range $k, $value := . }}
            <div class="row row--{{ add $k 1 }} row--{{ .type }}">
              {{ if eq .type "columns" }}
                {{ partial "types/columns"     (merge (.design | default dict) (dict "items" .items "container" $container_size "section" $section "section_header" $header "first" (eq $.key 0) "footer" $footer)) }}
              {{ end }}
              {{ if eq .type "steps" }}
                {{ partial "types/steps"       (merge (.design | default dict) (dict "items" .items "section" $section "section_header" $header)) }}
              {{ end }}
              {{ if eq .type "gallery" }}
                {{ partial "types/gallery"     (merge (.design | default dict) (dict "items" .items "images" .images "id" $.id "k" $k "container" $container_size "section" $section)) }}
              {{ end }}
              {{ if eq .type "articles" }}
                {{ partial "types/articles"    (merge . (.design | default dict) (dict "design" nil "container" $container_size)) }}
              {{ end }}
              {{ if eq .type "collapsible" }}
                {{ partial "types/collapsible" . }}
              {{ end }}
              {{ if eq .type "reviews" }}
                {{ partial "types/reviews"     (merge (.design | default dict) (dict "items" .items)) }}
              {{ end }}
              {{ if eq .type "contact" }}
                {{ partial "types/contact"     (merge . (dict "id" $.id "form_num" $form_num "section" $section "container" $container_size "container_bg" $container_bg)) }}
                {{ if .form }}
                  {{ $form_num = add $form_num 1 }}
                {{ end }}
              {{ end }}
              {{ if eq .type "gss" }}
                {{ partial "types/gss"         . }}
              {{ end }}
              {{ if eq .type "custom" }}
                {{ partial "types/custom"      . }}
              {{ end }}
            </div>
          {{ end }}
        </div>
      {{ end }}

      {{/*  MODAL BUTTONS CLOSE, PREV AND NEXT  */}}
      {{- if $modal | and (not .padding_hide) -}}
        <div class="buttons">
          {{- with .prev -}}
            <a class="button button--icon modal__prev" href="#{{ .id }}">
              {{- partial "components/icon" (dict "icon" "chevron-left") -}}
              <i>{{ i18n "prev" }}</i>
              {{- "" -}}
            </a>
          {{- end -}}

          <button class="modal__close {{- if and .prev .next }} button--icon{{ end }}">
            {{- partial "components/icon" (dict "icon" "xmark") -}}
            <i>{{ i18n "close" }}</i>
            {{- "" -}}
          </button>

          {{- with .next -}}
            <a class="button button--icon modal__next" href="#{{ .id }}">
              {{- partial "components/icon" (dict "icon" "chevron-right") -}}
              <i>{{ i18n "next" }}</i>
              {{- "" -}}
            </a>
          {{- end -}}
        </div>
      {{- end -}}

    {{- else -}}

      {{/*  FOOTER IN 404  */}}
      <div class="description">
        {{- partial "functions/md" (dict
          "content" "- icon-copyright [{{< legal web >}}](/) \n{.list-inline}"
          "not_header_links" true
        ) -}}
      </div>

    {{- end -}}

  </div>

  {{/*  MODAL BUTTONS CORNER  */}}
  {{- if $modal  -}}
    <button class="modal__back button--icon">
      {{- partial "components/icon" (dict "icon" "arrow-left") -}}
      <i>{{ i18n "back" }}</i>
      {{- "" -}}
    </button>
    {{- "" -}}
    <button class="modal__close--corner button--icon">
      {{- partial "components/icon" (dict "icon" "xmark") -}}
      <i>{{ i18n "close" }}</i>
      {{- "" -}}
    </button>
  {{- end -}}

  {{/*  COOKIES AND SITEMAP LINK  */}}
  {{- if ne page.Kind "404" | and $footer -}}
    <div class="footer__float">
      <i class="cookies__toggle" data-h title="{{ i18n `cookies-notice` }}">
        {{- partial "components/icon" (dict "icon" "cookie-bite" "emoji" "🍪") -}}
      </i>
      {{ with page.GetPage "pages/sitemap" }}
        {{ partial "components/link" (dict
          "class"     "footer__sitemap"
          "link"      .RelPermalink
          "button"    "none"
          "icon"      "map"
          "emoji"     "🗺"
          "label"     "none"
          "anchor"    .Title
          "noindex"   (not page.IsHome)
        ) }}
      {{- end -}}
    </div>
  {{- end -}}

{{ if $header }}
  </header>
{{ else if $footer }}
  </footer>
{{ else if $modal }}
  </dialog>
{{ else }}
  </section>
{{ end }}

{{/*  MODAL ROWS  */}}
{{ range $k, $value := .rows }}
  {{ if eq .type "gallery" }}
    {{ partial "types/gallery-modals" (merge . (.design | default dict) (dict "design" nil) (dict "items" .items "id" $.id "k" $k)) }}
  {{ end }}
  {{ if eq .type "custom" }}
    {{ partial "types/custom-modals"  . }}
  {{ end }}
{{ end }}
