{{ $modal := .modal | default false }}
{{ $type  := cond (not .body) (cond (not $modal) "section" "modal") "" }}

{{/*  CLASS  */}}

{{/*  {{ $key_class   := cond .header "section--header" (print "section--" .key) }}  */}}
{{ $key_class   := cond (not .header) "" "section--header" }}
{{ if .footer }}
  {{ $key_class  = "section--footer" }}
{{ end }}
{{/*
{{ if $modal }}
  {{ $key_class  = print $key_class "__modal--" (add .k 1) }}
{{ end }}
*/}}
{{ $full        := cond (not .full) "" "section--full" }}
{{ $bg_color    := "" }}
{{ if not $modal }}
  {{ with .color }}
    {{ $bg_color = print "bg-" . }}
  {{ end }}
{{ end }}
{{ if .bg }}
  {{ $bg_color   = print $bg_color " bg-image" }}
{{ end }}
{{ $bg_gradient_color      := "" }}
{{ $bg_gradient_type       := "" }}
{{ if not $modal | and .gradient }}
  {{ $bg_gradient_color     = print "bg-gradient-" .gradient }}
  {{ $bg_gradient_type      = print "bg-gradient-" (.gradient_type | default "linear-b") }}
{{ end }}
{{ $bg_image_fix           := cond (not (.bg | and .parallax | and (not site.Data.design.performance.parallax))) "" "bg--fix" }}
{{ $bg                     := cond (not $bg_color) "" "bg" }}
{{ $bg_video_parent        := "" }}
{{ if partial `functions/is-iframe` .bg }}
  {{ $bg_video_parent       = "bg-figure-video-parent" }}
{{ end }}
{{ $padding_hide           := "" }}
{{ $padding_top_divider    := "" }}
{{ $padding_bottom_divider := "" }}
{{ if .ph }}
  {{ $padding_hide          = "ph" }}
{{ end }}
{{ with .prev }}
  {{ if .divider }}
    {{ $padding_top_divider = print "pt-divider" (cond (partial `functions/divider-ratio` .divider) "--ratio" "") }}
  {{ end }}
{{ end }}
{{ if .divider | and (not .footer) }}
  {{ $padding_bottom_divider = print "pb-divider" (cond (partial `functions/divider-ratio` .divider) "--ratio" "") }}
{{ end }}
{{ $params := partial "functions/page-params" page }}
{{ if .header
  | and (not $params.menu.hide)
  | and (not $params.menu.hide_sticky)
  | and (not $params.header_article)
}}
  {{ $padding_top_divider = "pt-divider" }}
{{ end }}
{{ $divider := "" }}
{{ with .prev }}
  {{ if .divider }}
    {{ if or $.color $.gradient $.bg }}
      {{ $flip_y   := cond (not .flip_y) "" "y" }}
      {{ $flip_x   := cond (not .flip_x) "" "x" }}
      {{ $flips    := "" }}
      {{ if or .flip_x .flip_y }}
        {{ $flips   = print "-" $flip_x $flip_y }}
      {{ end }}
      {{ $divider   = print "divider divider-" $flips "-" .divider }}
      {{/*  {{ if partial `functions/divider-ratio` .divider }}
        {{ $divider = print $divider " divider--ratio" }}
      {{ end }}  */}}
    {{ else }}
      {{ $divider   = print "divider" }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if $modal }}
  {{ $bg             = "" }}
  {{ $bg_color       = "" }}
  {{ $bg_image_fix   = "" }}
{{ end }}

{{- $class := partial "functions/attr-delimit" (dict
  "attr"  "class"
  "array" (slice
    $type
    $key_class
    $full
    $bg
    $bg_color
    $bg_gradient_type
    $bg_gradient_color
    $bg_image_fix
    $bg_video_parent
    $padding_hide
    $padding_top_divider
    $padding_bottom_divider
    $divider
    | append (.body_class | default slice)
  )
) -}}


{{/*  ATTRIBUTES  */}}

{{ $bg_alpha          := "" }}
{{ if and (.color_alpha | and (ne .color_alpha 100)) ($bg_color | or $bg_gradient_color) }}
  {{ $bg_alpha         = print "--bg-alpha:" .color_alpha }}
{{ end }}
{{ $padding_top       := "" }}
{{ $padding_bottom    := "" }}
{{ if .ph }}
  {{ $padding_top      = "" }}
  {{ $padding_bottom   = "" }}
{{ else }}
  {{ if ne .pt nil }}
    {{ $padding_top    = print "--pt:" .pt "em" }}
  {{ end }}
  {{ if ne .pb nil }}
    {{ $padding_bottom = print "--pb:" .pb "em" }}
  {{ end }}
{{ end }}
{{ if $modal }}
  {{/*  {{ $bg_color_alpha = "" }}  */}}
  {{ $padding_top      = "" }}
  {{ $padding_bottom   = "" }}
{{ end }}

{{ $style := partial "functions/attr-delimit" (dict
  "attr"    "style"
  "delimit" ";"
  "array"   (slice
    $bg_alpha
    $padding_top
    $padding_bottom
  )
) }}


{{/*  HIDDEN  */}}
{{ $hidden := cond $modal `hidden="until-found"` "" }}


{{/*  ID  */}}
{{ $id := cond (not .id) "" (print ` id="` .id `"`) }}


{{/*  JOIN  */}}
{{ $attr := partial "functions/attr-delimit" (dict
  "array" (slice
    $id
    $class
    $style
    $hidden
  )
) }}


{{ return $attr }}
