{{- $bullets_class := "slider__bullets" -}}
{{- if or (eq .bullets "hide") (eq .bullets "radius") -}}
  {{- $bullets_class = print $bullets_class " slider__bullets--" .bullets -}}
{{- end -}}

{{- $arrows_class := "slider__arrows" -}}
{{- if or (eq .arrows "hide") (eq .arrows "float") -}}
  {{- $arrows_class = print $arrows_class " slider__arrows--" .arrows -}}
{{- end -}}

{{- $bullet_class := "slider__bullet" -}}
{{- $arrow_class  := "slider__arrow button--icon" -}}
{{- if and (ne .button "hide") (ne .button "none") -}}
  {{- with .button -}}
    {{- $bullet_class = print $bullet_class " " . -}}
    {{- $arrow_class  = print $arrow_class  " " . -}}
  {{- end -}}
{{- end -}}

<div class="{{ $bullets_class }}">
  {{- range seq .items -}}
    {{- if eq . 1 -}}
      {{- $bullet_class = print $bullet_class " slider__bullet--active" -}}
    {{- end -}}
    <button class="{{ $bullet_class }}" title="{{ i18n `slide` }} {{ . }}"></button>
  {{- end -}}
</div>

<div class="{{ $arrows_class }}">
  <button class="{{ $arrow_class }} slider__arrow--left" title="{{ i18n `slide-left` }}">
    {{- partial "components/icon" (dict "icon" "chevron-left") -}}
  </button>
  {{- "" -}}
  <button class="{{ $arrow_class }} slider__arrow--right" title="{{ i18n `slide-right` }}">
    {{- partial "components/icon" (dict "icon" "chevron-right") -}}
  </button>
</div>