<div class="slider__bullets {{- if .hide_bullets }} slider__bullets--hide{{ end }}">
  {{- range $key, $value := .items -}}
    <button class="slider__bullet" title="{{ i18n `slide` }} {{ add $key 1 }}"></button>
  {{- end -}}
</div>
<div class="slider__arrows {{- if .hide_arrows }} slider__arrows--hide{{ end }}">
  <button class="slider__arrow slider__arrow--left button--icon" title="{{ i18n `slides` 1 }}">
    {{- partial "components/icon" (dict "icon" "chevron-left") -}}
  </button>
  {{- "" -}}
  <button class="slider__arrow slider__arrow--right button--icon" title="{{ i18n `slides` 2 }}">
    {{- partial "components/icon" (dict "icon" "chevron-right") -}}
  </button>
</div>