
{{- if .Headings }}
  <ol {{ if not .Level }} class="toc"{{ end }}>
    {{- range .Headings -}}
      {{- /*  id  */ -}}
      {{- $id := partial "functions/header-to-id" (dict "id" .ID "title" .Title) -}}
      {{- /*  li  */}}
      <li>
        {{- /*  if not icon, for mix of links with and without icons (fix escalar)  */ -}}
        {{- $outside := partial "functions/icon-outside" .Title -}}
        {{- if not $outside.icon -}}
          <i class="icon--none"></i>
        {{- end -}}
        {{- /*  link  */ -}}
        {{- partial "components/link" (dict
          "button" "none"
          "label"  (.Title | safeHTML)
          "link"   (print "#" $id)
        ) -}}
        {{- partial "components/toc" . }}
      </li>
    {{- end }}
  </ol>
{{- end -}}