{{- if not .menu.hide -}}

  {{- $items := slice -}}
  {{- $logo  := "" -}}
  {{ if .menu.logo -}}
    {{- $config := partial "functions/config-lang" . -}}
    {{- $logo    = $config.menu.logo -}}
  {{- end -}}

  {{/*  ITEM HOME LINK  */}}
  {{ if not $logo }}
    {{ if not page.IsHome | and (not .menu.hide_anchors) }}
      {{ with site.Home }}
        {{ $items = $items | append (dict
          "link"     .RelPermalink
          "icon"     "house"
          "emoji"    "🏠"
          "label"    .Title
          "anchor"   (partial "functions/anchor-page" .)
        ) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  ITEMS SECTIONS  */}}
  {{ range partial "components/base/menu/items-sections" . }}
    {{ $items = $items | append . }}
  {{ end }}

  {{/*  ITEMS CUSTOM  */}}
  {{ $custom := dict }}
  {{ with .menu }}
    {{ with .items }}
      {{ $custom = . }}
    {{ else }}
      {{ with index . page.Lang }}
        {{ $custom = . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ range $custom }}
    {{ $items = $items | append . }}
  {{ end }}

  {{/*  ITEM LANGS  */}}
  {{ if page.IsTranslated }}
    {{ if not ($custom | jsonify | findRE `"link":"langs"`) }}
      {{ $items = $items | append (dict "link" "langs") }}
    {{ end }}
  {{ end }}

  {{/*  ITEM TRANSLATE  */}}
  {{ if .menu.google_translate }}
    {{ if not ($custom | jsonify | findRE `"link":"translate"`) }}
      {{ $items = $items | append (dict "link" "translate") }}
    {{ end }}
  {{ end }}


  {{/*  PRINT HTML  */}}
  {{- if $items -}}

    {{/*  MENU TOGGLE  */}}
    <button class="menu__toggle button--icon">
      {{- "" }}<b class="menu__toggle-bar"></b>
      {{- "" }}<b class="menu__toggle-bar"></b>
      {{- "" }}<b class="menu__toggle-bar"></b>
      {{- "" }}<i>{{ i18n "scroll_up" }}</i>
      {{- "" -}}
    </button>

    {{/*  BACKOVER  */}}
    <div class="menu__backover"></div>

    {{/*  CLASS  */}}
    {{- $menu_class := print "menu bg bg-" (.menu.color | default "white") -}}
    {{- $box_class  := "" -}}
    {{ if .menu.sticky }}
      {{- $box_class = print "container container--" (.menu.size | default "lg") -}}
    {{ end }}

    {{/*  NAV  */}}
    <nav class="{{ $menu_class }}" hidden="until-found">
      <div class="{{ $box_class }}">

        {{/*  HEADER  */}}
        <p class="menu__title h1 {{- with $logo }} menu__title--sublogo{{ end }}">{{ i18n "menu" }}</p>

        <ul class="menu__items">

          {{/*  LOGO  */}}
          {{ with $logo }}
            <li class="menu__item menu__item--logo">
              <a class="menu__link menu__link--logo" href="{{ if page.IsHome }}#{{ else }}/{{ end }}">
                {{ partial "components/image" (dict
                  "svg_src"   true
                  "class"     "menu__logo-image"
                  "src"       .
                  "alt"       (partial "functions/anchor-page" site.Home)
                  "container" ($.menu.size | default "lg")
                  "span_xl"   0.25
                  "span_xs"   1.00
                ) }}
                <i class="hide">{{ site.Home.Params.title_seo | default site.Home.Params.title | markdownify }}</i>
              </a>
            </li>
          {{ end }}

          {{/*  ITEMS  */}}
          {{ range $items }}
            {{ partial "components/base/menu/item" (merge . (dict "hide_icons" .menu.hide_icons)) }}
          {{ end }}

        </ul>
      </div>
    </nav>

  {{ end }}

{{ end }}
