{{- $items := slice -}}

{{ if .show_sections }}
  {{- $sections  := slice -}}
  {{- with partial "functions/sections" page -}}
    {{- $sections = after 1 . -}}
  {{- end -}}

  {{ with where $sections "menu_button" "!=" "hide" }}
    {{ range . }}
      {{ if .menu_label | or .hanchor | or .title | or (.icon | and .id) }}

        {{ $item := partial "components/base/menu/item-by-section" . }}

        {{/*  MODALS TO SUBITEMS  */}}
        {{ if $.show_modals }}
          {{ $subitems := slice }}
          {{ with .modals }}
            {{ range . }}
              {{ $child   := partial "components/base/menu/item-by-section" . }}
              {{ $subitems = $subitems | append $child }}
            {{ end }}
          {{ end }}
          {{ $item = (merge $item (dict "items" $subitems)) }}
        {{ end }}

        {{ $items = $items | append $item }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $items }}