{{ $items := slice }}

{{ if page.IsTranslated }}
  {{ range page.AllTranslations }}
    {{ $items = $items | append (dict
      "link"     .Permalink
      "icon"     (print "flag-" .Lang)
      "emoji"    (i18n "flag")
      "label"    .Language.LanguageName
      "title"    (print .Language.LanguageName ": " .Title)
      "ofuscate" true
      "lang"     .Lang
    ) }}
  {{ end }}
  {{ if . }}
    {{ $items = slice (dict
      "icon"     "globe"
      "emoji"    "🌐"
      "label"    (i18n "languages")
      "items"    $items
    ) }}
  {{ end }}
{{ end }}

{{ return $items }}