{{/*  FUNTION DEFINE  */}}
{{ define "partials/sections/searchable" }}
  {{ $boxes := slice . }}
  {{ range   (or .boxes   slice)
    | append (or .steps   slice)
    | append (or .reviews slice)
    | append (or .faqs    slice)
  }}
    {{ $box  := partial "sections/searchable" . }}
    {{ $boxes = $boxes | append $box }}
  {{ end }}
  {{ return $boxes }}
{{ end }}
{{/*
{{ define "partials/page/flatten" }}
  {{ $items := slice }}
  {{ $tpl := partial "func/tpl" . }}
  {{ range $tpl.sections }}
    {{ $items = $items | append . }}
    {{ with .modals }}
      {{ range . }}
        {{ $items = $items | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ return $items }}
{{ end }}
list
object
{{ range partial "page/flatten" . }}
{{ end }}
*/}}


{{/*  OBJECT  */}}
{{ $index := dict }}
{{/*  Parents  */}}
{{ range site.Sections | append site.Home }}
  {{ $sums := slice }}
  {{/*  Pages  */}}
  {{ range .RegularPages }}
    {{ $page := . }}
    {{ if .File }}
      {{/*  Not base pages  */}}
      {{ if not (in (slice "legal" "privacy" "cookies" "search" "sitemap") .File.TranslationBaseName) }}

        {{/*  Image  */}}
        {{ $img := .Params.img }}
        {{ with $img }}
          {{ with partial "func/is-vid" . }}
            {{ $img = partial "func/poster" $img }}
          {{ else with partial "func/check-media" . }}
            {{ $img = . }}
          {{ end }}
        {{ end }}

        {{/*  Summary  */}}
        {{ $sum := .Params.sum | default .Summary | default .Params.desc | truncate 155 }}
        {{ $sum  = partial "func/md" $sum }}

        {{/*  Content by   */}}
        {{ $contents  := .RawContent }}
        {{/*  ADD CUSTOM PARAMS TO CONTENT   */}}
        {{ $page_params          := .Params }}
        {{ $params_customs       := .Params.customs | default slice }}
        {{/*  Direct text custom params  */}}
        {{ $text_custom_params   := slice "seo" }}
        {{ range where $params_customs "widget" "in" (slice "str" "text" "md") }}
          {{ $text_custom_params := $text_custom_params | append .name }}
        {{ end }}
        {{ range $text_custom_params }}
          {{ with index $page_params . }}
            {{ $contents = print $contents " \n\n " . }}
          {{ end }}
        {{ end }}
        {{/*  List text custom params  */}}
        {{/*  
        {{ $lists_custom_params   := slice }}
        {{ range where $params_customs "widget" "eq" "slice" }}
          {{ $lists_custom_params := $lists_custom_params | append .name }}
        {{ end }}
        {{ range .Params }}
          {{ if or (reflect.IsSlice .) (reflect.IsMap .) }}
            {{ range . }}
              {{ $lists_custom_params := $lists_custom_params | append .name }}
            {{ end }}
          {{ end }}
        {{ end }}
        */}}
        {{/*  Map text custom params  */}}
        {{ if not $contents }}
          {{ if eq .Params.base "single" }}
            {{ $contents = "" }}
            {{ range partial "sections/flatten" . }}
              {{ range partial "sections/searchable" . }}
                {{ $section := . }}
                {{ $text_params := slice "title" "hanchor" "sub" "md" "label" }}
                {{ range $text_params }}
                  {{ with index $section . }}
                    {{ $contents = print $contents " \n\n " . }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ $contents = partial "func/md" $contents | plainify }}
        
        {{ $sum := dict
          "url"          .RelPermalink
          "title"        .Title
          "img"          $img
          "sum"          $sum
          "content"      $contents
          "reading_time" (i18n "reading_time" .ReadingTime)
        }}

        {{ if .Date                         }}{{ $sum = merge $sum (dict "date"          (partial "func/date-format" .Date      )               ) }}{{ end }}
        {{ if .Lastmod                      }}{{ $sum = merge $sum (dict "mod"           (partial "func/date-format" .Lastmod   )               ) }}{{ end }}
        {{ if .Params.end                   }}{{ $sum = merge $sum (dict "end"           (partial "func/date-format" .Params.end)               ) }}{{ end }}
        {{ if .Params.price                 }}{{ $sum = merge $sum (dict "price"         (.Params.price | lang.FormatCurrency 2 site.Params.currency)) }}{{ end }}
        {{/*  {{ with .Params.sku           }}{{ $sum = merge $sum (dict "sku"           .) }}{{ end }}  */}}
        {{/*  {{ with .Params.artists       }}{{ $sum = merge $sum (dict "artists"       .) }}{{ end }}  */}}
        {{ with .Params.location            }}{{ $sum = merge $sum (dict "location"      .) }}{{ end }}
        {{ with .Params.place               }}{{ $sum = merge $sum (dict "place"         .) }}{{ end }}
        {{ with .Params.job                 }}{{ $sum = merge $sum (dict "job"           .) }}{{ end }}
        {{/*  {{ with .Params.as            }}{{ $sum = merge $sum (dict "as"            .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.types     }}{{ $sum = merge $sum (dict "types"         .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.names     }}{{ $sum = merge $sum (dict "names"         .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.legal     }}{{ $sum = merge $sum (dict "legal"         .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.nif       }}{{ $sum = merge $sum (dict "nif"           .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.mail      }}{{ $sum = merge $sum (dict "mail"          .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.imgs      }}{{ $sum = merge $sum (dict "imgs"          .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.as        }}{{ $sum = merge $sum (dict "as"            .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.phones    }}{{ $sum = merge $sum (dict "phones"        .) }}{{ end }}  */}}
        {{ with .Params.address             }}{{ $sum = merge $sum (dict "address"       .) }}{{ end }}
        {{ with .Params.org.address         }}{{ $sum = merge $sum (dict "address"       .) }}{{ end }}
        {{/*  {{ with .Params.org.areas     }}{{ $sum = merge $sum (dict "areas"         .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.open      }}{{ $sum = merge $sum (dict "open"          .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.prices    }}{{ $sum = merge $sum (dict "prices"        .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.services  }}{{ $sum = merge $sum (dict "services"      .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.food_menu }}{{ $sum = merge $sum (dict "food_menu"     .) }}{{ end }}  */}}
        {{/*  {{ with .Params.org.food_type }}{{ $sum = merge $sum (dict "food_type"     .) }}{{ end }}  */}}
        {{/*  {{ with .Params.service_areas }}{{ $sum = merge $sum (dict "service_areas" .) }}{{ end }}  */}}
        {{/*  {{ with .Params.service_types }}{{ $sum = merge $sum (dict "service_types" .) }}{{ end }}  */}}

        {{ $taxonomies := partial "func/taxonomy-parents" . }}
        {{ range $taxonomies }}
          {{ $title := index $sum .Type | default slice | append (dict "title" .Title "url" .RelPermalink) }}
          {{ $sum    = merge $sum (dict .Type $title) }}
        {{ end }}

        {{ $sums = $sums | append $sum }}

      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $sums }}
    {{ $index = merge $index (dict .Type $sums) }}
  {{ end }}
{{ end }}

{{ return $index }}