{{ $srcs := slice
  (dict   "partial" `files/redirects` "path" "../_redirects")
  (dict   "partial" `files/og-svgs`   "path" "/og-svgs.json")
}}
{{ with site.Params.g_file_verify }}
  {{ $srcs = $srcs | append
    (dict "partial" `files/google-site-verification` "path" .)
  }}
{{ end }}
{{ if not site.Data.config.cms_hide }}
  {{ $srcs = $srcs | append
    (dict "partial" `cms/index` "path" "/admin/index.html")
  }}
{{ end }}
{{ range $srcs }}
  {{ $str := partial .partial . | string }}
  {{ $src := resources.FromString .path $str }}
  {{ $src.Publish }}
{{ end }}
{{ return "" }}