{{ $resources := slice
  (dict   "partial" `files/redirects` "path" "../_redirects")
  (dict   "partial" `files/og-svgs`   "path" "/og-svgs.json")
}}
{{ with site.Params.google_file_verification }}
  {{ $resources = $resources | append
    (dict "partial" `files/google-site-verification` "path" .)
  }}
{{ end }}
{{ if not site.Data.config.cms_disabled }}
  {{ $resources = $resources | append
    (dict "partial" `cms/index` "path" "/admin/index.html")
  }}
{{ end }}
{{ range $resources }}
  {{ $string   := partial .partial . | string }}
  {{ $resource := resources.FromString .path $string }}
  {{ $resource.Publish }}
{{ end }}
{{ return "" }}