{{/*  SECTIONS WITH FOOTER  */}}
{{ $sections_raw :=
  partial "functions/sections" page
  | default slice
  | append (partial "functions/footer" .)
}}

{{/*  ADD PREV/NEXT, IN MODALS TOO  */}}
{{ $sections := slice }}
{{ range $key, $section := $sections_raw }}

  {{/*  SECTION  */}}
  {{ $section  = partial "functions/prev-next" (dict
    "item"  .
    "items" $sections_raw
    "key"   $key
  ) }}

  {{/* NEXT FOOTER DIVIDER WHEN THIS NOT HAVE  */}}
  {{ if not $section.div }}
    {{ if eq $section.next.id "footer" }}
      {{ $section = merge $section (dict
        "div"   $section.next.div
        "div_x" $section.next.div_x
        "div_y" $section.next.div_y
      ) }}
    {{ end }}
  {{ end }}

  {{/* FOOTER DIVIDER WHEN PREV NOT HAVE  */}}
  {{ if not $section.prev.div }}
    {{ if eq $section.id "footer" }}
      {{ $section = merge $section (dict
        "prev" (dict
          "div"   $section.div
          "div_x" $section.div_x
          "div_y" $section.div_y
        )
      ) }}
    {{ end }}
  {{ end }}

  {{/*  MODALS  */}}
  {{ if .modals }}
    {{ $modals      := slice }}
    {{ $modals_raw  := .modals }}
    {{ range $k, $v := .modals }}
      {{ $modal     := partial "functions/prev-next" (dict
        "item"  .
        "items" $modals_raw
        "key"   $k
      ) }}
      {{ $modals  = $modals | append $modal }}
    {{ end }}
    {{ $section   = merge $section (dict "modals" $modals) }}
  {{ end }}

  {{ $sections = $sections | append $section }}

{{ end }}

{{ return $sections}}
