{{ $modal := .modal | default false }}
{{ $type  := cond (not .body) (cond (not $modal) "section" "modal") "" }}

{{/*  CLASS  */}}

{{/*  Key (lightbox need it)  */}}
{{ $key_class  := print "section--" .key }}
{{ if .header }}
  {{ $key_class = "section--header" }}
{{ else if .footer }}
  {{ $key_class = "section--footer" }}
{{ else if $modal }}
  {{ $key_class = print "modal--" (add .k 1) }}
{{ end }}

{{/*  Full  */}}
{{ $full        := cond (not .full) "" "section--full" }}

{{/*  Background  */}}
{{ $bg_color    := "" }}
{{ if not $modal }}
  {{ with .color }}
    {{ $bg_color = print "bg-" . }}
  {{ end }}
{{ end }}
{{ if .bg }}
  {{ $bg_color   = print $bg_color " bg-image" }}
{{ end }}
{{ $bg_gradient_color      := "" }}
{{ $bg_gradient_type       := "" }}
{{ if not $modal | and .gradient }}
  {{ $bg_gradient_color     = print "bg-gradient-" .gradient }}
  {{ $bg_gradient_type      = print "bg-gradient-" (.gradient_type | default "linear-b") }}
{{ end }}
{{ $bg                     := cond (not $bg_color) "" "bg" }}
{{ $bg_image_fix           := cond (not (and .bg (eq .parallax "fix")))        "" "bg--fix" }}
{{ $bg_parallax            := cond (not (and .bg (eq .parallax "soft"))) "" "parallax parallax--bg" }}
{{ $bg_video_parent        := "" }}
{{ if partial `functions/is-iframe` .bg }}
  {{ $bg_video_parent       = "bg-figure-video-parent" }}
{{ end }}
{{ if $modal }}
  {{ $bg           = "" }}
  {{ $bg_color     = "" }}
  {{ $bg_image_fix = "" }}
  {{ $bg_parallax  = "" }}
{{ end }}

{{/*  Paddings  */}}
{{ $padding_hide           := "" }}
{{ $padding_top_divider    := "" }}
{{ $padding_bottom_divider := "" }}
{{ if .ph }}
  {{ $padding_hide          = "ph" }}
{{ end }}
{{ with .prev }}
  {{ if .divider }}
    {{ $padding_top_divider = "pt-divider" }}
  {{ end }}
{{ end }}
{{ if .divider | and (not .footer) }}
  {{ $padding_bottom_divider = "pb-divider" }}
{{ end }}
{{ $params := partial "functions/page-params" page }}
{{ if .header
  | and (not $params.menu.hide)
  | and (not $params.menu.sticky)
  | and (eq $params.menu.header "hide")
}}
  {{ $padding_top_divider = "pt-divider" }}
{{ end }}

{{/*  Divider Prev  */}}
{{ $divider       := "" }}
{{ $divider_style := "" }}
{{ with .prev }}
  {{ if .divider }}
    {{ if or $.color $.gradient $.bg }}
      {{ with partial "components/divider-attr" (dict "section" . "next" false) }}
        {{ $divider       = .class }}
        {{ $divider_style = .style }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  Divider Next  */}}
{{ $divider_next       := "" }}
{{ $divider_next_style := "" }}
{{ if .next }}
  {{ if and .divider (not .footer) (not (or .next.color .next.gradient .next.bg)) }}
    {{ with partial "components/divider-attr" (dict "section" . "next" true) }}
      {{ $divider_next       = .class }}
      {{ $divider_next_style = .style }}
    {{ end }}
  {{ end }}
{{ end }}

{{- $class := partial "functions/attr-delimit" (dict
  "attr"  "class"
  "array" (slice
    $type
    $key_class
    $full
    $bg
    $bg_color
    $bg_gradient_type
    $bg_gradient_color
    $bg_image_fix
    $bg_parallax
    $bg_video_parent
    $padding_hide
    $padding_top_divider
    $padding_bottom_divider
    $divider
    $divider_next
    | append (.body_class | default slice)
  )
) -}}


{{/*  STYLES  */}}

{{ $bg_alpha          := "" }}
{{ if and (.color_alpha | and (ne .color_alpha 100)) ($bg_color | or $bg_gradient_color) }}
  {{ $bg_alpha         = print "--bg-alpha:" .color_alpha }}
{{ end }}
{{ $padding_top       := "" }}
{{ $padding_bottom    := "" }}
{{ if .ph }}
  {{ $padding_top      = "" }}
  {{ $padding_bottom   = "" }}
{{ else }}
  {{ if ne .pt nil }}
    {{ $padding_top    = print "--pt:" .pt "em" }}
  {{ end }}
  {{ if ne .pb nil }}
    {{ $padding_bottom = print "--pb:" .pb "em" }}
  {{ end }}
{{ end }}
{{ if $modal }}
  {{/*  {{ $bg_color_alpha = "" }}  */}}
  {{ $padding_top      = "" }}
  {{ $padding_bottom   = "" }}
{{ end }}

{{ $style := partial "functions/attr-delimit" (dict
  "attr"    "style"
  "delimit" ";"
  "array"   (slice
    $bg_alpha
    $padding_top
    $padding_bottom
    $divider_style
    $divider_next_style
  )
) }}


{{/*  HIDDEN  */}}
{{ $hidden := cond $modal `hidden="until-found"` "" }}


{{/*  ID  */}}
{{ $id := cond (not .id) "" (print ` id="` .id `"`) }}


{{/*  JOIN ATTRIBUTES  */}}
{{ $attr := partial "functions/attr-delimit" (dict
  "array" (slice
    $id
    $class
    $style
    $hidden
  )
) }}


{{ return $attr }}
