{{- $header := eq .id "header" -}}
{{- $footer := eq .id "footer" -}}
{{- $modal  := .modal | default false -}}

{{- $node := .node -}}
{{- if $modal -}}
  {{- $node = "dialog" -}}
{{- end -}}
{{- if not $node -}}
  {{- if $header -}}
    {{- $node = "header" -}}
  {{- else if $footer -}}
    {{- $node = "footer" -}}
  {{- else -}}
    {{- $node = "section" -}}
  {{- end -}}
{{- end -}}

{{- $bgc      := partial "functions/color-background" (dict "child" (cond $modal "black" .color) "parent" .bgcp) -}}
{{- $bgcp     := $bgc.parent -}}
{{- $bg_color := $bgc.child -}}

{{- $container := .size
  | default (cond
    (.ph | default false)
    "fluid"
    (cond $modal "sm" "lg")
  )
-}}

{{- $attr := partial "components/base/sections/attr" (merge . (dict
  "color"  $bg_color
  "header" $header
  "footer" $footer
  "modal"  $modal
)) -}}

{{- /*  SECTION  */}}
{{ print "<" $node $attr ">" | safeHTML -}}

  {{- /*  BACKGROUND  */ -}}
  {{- if not $modal -}}
    {{- partial "components/bg" (merge
      .
      (dict
        "color"     $bg_color
        "card"      nil
        "container" "fluid"
      )
    ) -}}
  {{- end -}}

  {{- /*  IMAGE LCP  */ -}}
  {{- if $header }}
    <div class="lcp">██ ████ ████ ██ ██████ ██ ███ ██████ ███ ███ ██████ ████</div>
  {{- end -}}

  {{- /*  BOX  */ -}}
  {{- partial "components/boxes/box" (merge
    .
    (dict
      "main"        true
      "deep"        0
      "level"       (cond $header 1 (cond $modal 3 2))
      "header"      $header
      "footer"      $footer
      "modal"       $modal
      "bgcp"        $bgcp
      "node"        (cond $modal .node        .box_node)
      "bg"          (cond $modal .bg          .box_bg)
      "alpha"       (cond $modal .alpha       .box_alpha)
      "parallax"    (cond $modal .parallax    .box_parallax)
      "color"       (cond $modal .color       .box_color)
      "color_alpha" (cond $modal .color_alpha .box_color_alpha)
      "fade"        (cond $modal .fade        .box_fade)
      "fade_type"   (cond $modal .fade_type   .box_fade_type)
      "image_align" nil
      "full"        nil
      "pt"          nil
      "pb"          nil
      "div"         nil
      "div_x"       nil
      "div_y"       nil
      "id"          nil
      "if"          nil
      "container"   $container
      "col_vl"      1.00
      "col_vs"      1.00
      "section"     .
      "box_wrap"    true
      "parent"      .box
    )
  ) -}}

  {{- /*  MODAL BUTTONS CORNER  */ -}}
  {{- if $modal  -}}
    {{- /*
    {{- partial "components/link" (dict
      "class"  "modal__back"
      "button" "cta"
      "dot"    true
      "icon"   (site.Data.styles.icons.left | default "arrow-left")
      "emoji"  "⬅️"
      "label"  (i18n "back")
    ) -}}
    */}}
    {{ partial "components/link" (dict
      "class"  "modal__close--corner"
      "button" "cta"
      "dot"    true
      "icon"   "xmark"
      "emoji"  "❌"
      "label"  (i18n "close")
    ) -}}
  {{- end -}}

  {{- /*  COOKIES AND SITEMAP LINK  */ -}}
  {{- if $footer }}
    <div class="footer__float">
      {{ partial "components/link" (dict
        "class"  "cookies__toggle"
        "icon"   "cookie-bite"
        "emoji"  "🍪"
        "title"  (i18n "cookies_notice")
        "lock"   true
      ) }}
      {{ with site.GetPage "page/sitemap" -}}
        {{- partial "components/link" (dict
          "class"  "footer__sitemap"
          "icon"   "sitemap"
          "emoji"  "🗺"
          "title"  .Title
          "link"   .RelPermalink
          "lock"   (not page.IsHome)
        ) -}}
      {{- end }}
    </div>
  {{- end }}
{{ print "</" $node ">" | safeHTML -}}
