{{- $header := eq .id "header" -}}
{{- $footer := eq .id "footer" -}}
{{- $modal  := .modal | default false -}}

{{- $node := .node -}}
{{- if $modal -}}
  {{- $node = "dialog" -}}
{{- end -}}
{{- if not $node -}}
  {{- if $header -}}
    {{- $node = "header" -}}
  {{- else if $footer -}}
    {{- $node = "footer" -}}
  {{- else -}}
    {{- $node = "section" -}}
  {{- end -}}
{{- end -}}

{{ $container := .size
  | default (cond
    (.ph | default false)
    "fluid"
    (cond $modal "sm" "lg")
  )
}}

{{- $attr := partial "components/base/sections/attr" (merge . (dict
  "header" $header
  "footer" $footer
  "modal"  $modal
)) -}}

{{/*  SECTION  */}}
{{- print "<" $node $attr ">" | safeHTML -}}

  {{/*  BACKGROUND  */}}
  {{- if not $modal -}}
    {{- partial "components/bg" (merge
      .
      (dict
        "card"      nil
        "container" "fluid"
      )
    ) -}}
  {{- end -}}

  {{/*  BOX  */}}
  {{ partial "components/boxes/box" (merge
    .
    (dict
      "id"            nil
      "level"         0
      "first"         $header
      "header"        $header
      "footer"        $footer
      "modal"         $modal
      "node"          (cond $modal .node           .box_node)
      "bg"            (cond $modal .bg            .box_bg)
      "alpha"         (cond $modal .alpha         .box_alpha)
      "parallax"      (cond $modal .parallax      .box_parallax)
      "color"         (cond $modal .color         .box_color)
      "color_alpha"   (cond $modal .color_alpha   .box_color_alpha)
      "gradient"      (cond $modal .gradient      .box_gradient)
      "gradient_type" (cond $modal .gradient_type .box_gradient_type)
      "image_align"   nil
      "full"          nil
      "pt"            nil
      "pb"            nil
      "divider"       nil
      "flip_x"        nil
      "flip_y"        nil
      "if"            nil
      "container"     $container
      "span_xl"       1.00
      "span_xs"       1.00
      "section"       .
      "box_wrap"      true
      "parent"        .box
    )
  ) }}

  {{/*  MODAL BUTTONS CORNER  */}}
  {{- if $modal  -}}
    {{/*
    {{- partial "components/link" (dict
      "class" "modal__back"
      "link"  "none"
      "dot"   true
      "icon"  "arrow-left"
      "emoji" "⬅️"
      "label" (i18n "back")
    ) -}}
    */}}
    {{- partial "components/link" (dict
      "class" "modal__close--corner"
      "link"  "none"
      "dot"   true
      "icon"  "xmark"
      "emoji" "❌"
      "label" (i18n "close")
    ) -}}
  {{- end -}}

  {{/*  COOKIES AND SITEMAP LINK  */}}
  {{- if $footer -}}
    <div class="footer__float">
      {{- partial "components/link" (dict
        "class"   "cookies__toggle"
        "link"    "none"
        "button"  "none"
        "icon"    "cookie-bite"
        "emoji"   "🍪"
        "label"   "none"
        "anchor"  (i18n "cookies_notice")
        "noindex" true
      ) -}}
      {{ with site.GetPage "page/sitemap" }}
        {{ partial "components/link" (dict
          "class"   "footer__sitemap"
          "link"    .RelPermalink
          "button"  "none"
          "icon"    "sitemap"
          "emoji"   "🗺"
          "label"   "none"
          "anchor"  .Title
          "noindex" (not page.IsHome)
        ) }}
      {{- end -}}
    </div>
  {{- end -}}

{{- print "</" $node ">" | safeHTML -}}
