{{- $show := cond (not site.Data.styles.performance.show) "" " show" -}}
{{- $box  := . -}}

{{/*  DATA  */}}
{{- with .contact -}}
  <div class="contact box__block {{- $show }}">
    {{- range . -}}
      {{- with merge (dict "button" $box.button "font_alt" $box.font_alt) . -}}

        {{- $full := cond (not .full) "" " contact__full" -}}

        {{- if eq .type "address" | and .hide -}}
        {{- else if findRE `^(phone|whatsapp|mail|address|custom)$` .type -}}

          {{- $class    := "" -}}
          {{- $num      := "" -}}
          {{- $link     := .link -}}
          {{- $button   := cond (eq .button "link") "" .button -}}
          {{- $font_alt := .font_alt -}}
          {{- $icon     := .icon -}}
          {{- $emoji    := "" -}}
          {{- $label    := .label -}}
          {{- $noindex  := .ofuscate -}}

          {{- if or (eq .type "phone") (eq .type "whatsapp") -}}
            {{- $num      = partial "functions/phone-to-complete" .label | replaceRE `[^\d]` `` -}}
          {{- else if findRE `^(mail|address)$` .type -}}
            {{- $button   = cond (not .button) "main" $button -}}
            {{- $font_alt = not .font_alt -}}
          {{- end -}}

          {{- if eq .type "custom" -}}
            {{- $class   = (print "callnow__custom" (cond (not .ga4) "" " callnow__custom--ga4")) -}}
          {{- else if eq .type "phone" -}}
            {{- $class   = "contact__phone" -}}
            {{- $link    = print "tel:+" $num -}}
            {{- $icon    = .icon | default "phone" -}}
            {{- $emoji   = .icon | default "📞" -}}
            {{- $noindex = true -}}
          {{- else if eq .type "whatsapp" -}}
            {{- $class   = "callnow__whatsapp" -}}
            {{- $link    = print "https://wa.me/" $num -}}
            {{- $button  = cond (not .button) "whatsapp" $button -}}
            {{- $icon    = .icon | default "whatsapp" -}}
            {{- $emoji   = "✆" -}}
            {{- $noindex = true -}}
          {{- else if eq .type "mail" -}}
            {{- $class   = "contact__email-button" -}}
            {{- $link    = "none" -}}
            {{- $icon    = .icon | default "envelope" -}}
            {{- $emoji   = "✉" -}}
            {{- $noindex = true -}}
          {{- else if eq .type "address" -}}
            {{- $class   = "contact__address" -}}
            {{- $geo := dict -}}
            {{- with .geo -}}
              {{- if reflect.IsMap . -}}
                {{- $geo = . -}}
              {{- else -}}
                {{- $geo = unmarshal . -}}
              {{- end -}}
            {{- end -}}
            {{- if $geo -}}
              {{- $y     := index $geo.coordinates 0 -}}
              {{- $x     := index $geo.coordinates 1 -}}
              {{- $zoom  := .zoom | default 15 -}}
              {{- $link   = print "https://www.openstreetmap.org/?mlat=" $x "&mlon=" $y "#map=" $zoom "/" $x "/" $y -}}
            {{- else -}}
              {{- $link  = partial "functions/map-url" (.anchor | default .label) -}}
            {{- end -}}
            {{- $icon    = .icon | default "location-dot" -}}
            {{- $emoji   = "📍" -}}
            {{- $label   = .label | default .anchor -}}
            {{- $noindex = true -}}
          {{- end -}}

          {{- if eq .type "mail" -}}
            <i class="contact__email {{ $full }}" {{ if eq .button `none` }}data-b{{ end }}>
              {{- $full = "" -}}
          {{- end -}}
              {{- partial "components/link" (dict
                "class"     (print $class $full)
                "link"      $link
                "button"    $button
                "font_alt"  $font_alt
                "icon"      $icon
                "emoji"     $emoji
                "label"     $label
                "anchor"    .anchor
                "noindex"   $noindex
              ) -}}
          {{- if eq .type "mail" -}}
              {{ $bg := cond (eq $.section.color "white") "dark" "white" }}
              <i class="contact__email-options bg bg-{{ $bg }}" style="--copied: '{{ i18n `copied` }}'">
                <i class="bg-color"></i>
                {{- range slice
                  (dict
                    "class" "copy"
                    "icon"  "paste"
                    "emoji" "📋"
                    "label" "copy_clipboard"
                  )
                  (dict
                    "class" "send"
                    "icon"  "paper-plane"
                    "emoji" "📨"
                    "label" "send_email"
                  )
                -}}
                  {{- partial "components/link" (dict
                    "class"     (print "contact__email-option-" .class " button--sm")
                    "link"      "none"
                    "button"    ""
                    "font_alt"  true
                    "icon"      .icon
                    "emoji"     .emoji
                    "label"     (i18n .label)
                    "noindex"   true
                  ) -}}
                {{- end -}}
              </i>
            </i>
          {{- end -}}

        {{- else if eq .type "schedule" -}}

          <div class="contact__schedule {{ $full }}">
            {{- with .days -}}
              <div class="contact__schedule-item">
                {{- partial "components/icon" (dict "icon" "calendar" "emoji" "📅") -}}
                <i>{{ . | markdownify }}</i>
              </div>
            {{- end -}}
            {{- with .hours -}}
              <div class="contact__schedule-item">
                {{- partial "components/icon" (dict "icon" "clock" "emoji" "🕓") -}}
                <i>{{ . | markdownify }}</i>
              </div>
            {{- end -}}
          </div>

        {{- else if findRE `^h\d$` .type -}}

          {{- $h := replace .type "h" "" -}}
          <h {{- $h }} class="form__title contact__full">{{ .label | markdownify }}</h {{- $h }}>

        {{- else if eq .type "hr" -}}

          <hr>

        {{- else if eq .type "br" -}}

          <div class="contact__br"></div>

        {{- end -}}

      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
