{{- $a := "" | safeHTMLAttr }}
{{- $show          := cond (not site.Data.styles.performance.show) "" " show" -}}
{{- $page_emoji    := .Page.Params.emoji -}}
{{- $section_name  := i18n "header" -}}
{{- if eq .id "footer" }}
  {{- $section_name = i18n "footer" -}}
{{- else if ne .id "header" }}
  {{ $section_name  = .section.menu_label
    | default .section.hanchor
    | default .section.title
    | default .id
    | default .section.name
    | default .section.file
  }}
{{- end -}}
{{- $section_emoji  := "🧩" -}}
{{- if .section.modal }}
  {{- $section_emoji = "🪟" -}}
{{- end -}}

{{- $num := 0 -}}
{{- range partial "functions/section-boxes" .section -}}
  {{- if .inputs -}}
    {{- $num = add $num 1 -}}
    {{- if eq .inputs $.inputs -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $subject := print
  (i18n "form") " "
  $page_emoji " "
  .Page.Title " "
  $section_emoji " "
  $section_name
  (cond (eq $num 1) "" (print " 📌 " $num))
  -}}
{{- $form_id       := print "form-" (cond (eq .id "header") .Page.Slug .id) (cond (eq $num 1) "" (print "-" $num)) -}}
{{- $netlify_forms := not .action -}}
{{- $googleScript  := in .action "script.google.com" -}}
{{- $formsubmit_co := in .action "formsubmit.co" -}}
{{- $inputs_fill   := site.Data.styles.inputs.fill -}}
{{- $chamfer       := site.Data.styles.rounded.chamfer -}}
{{- $action        := .action | default (print "/" $form_id) -}}


{{/*  HEAD  */}}

<form
  id="{{ $form_id }}"
  class="form {{- if $inputs_fill }} form__fill-inputs{{ end }} box__block {{- $show }}"
  method="post"
  {{- if .shortcode -}}
    {{- if $netlify_forms }} netlify{{ end }}
    name="{{ $form_id }}"
    action="{{ $action }}"
  {{- else -}}
    {{- $is_file_type  := false -}}
    {{- range where .inputs `type` `file` -}}
      {{- $is_file_type = true -}}
    {{- end -}}
    {{- if or $is_file_type $formsubmit_co | and (not $googleScript) }} enctype="multipart/form-data"{{ end }}
    target="_blank"
    action="{{ $action | base64Encode }}"
  {{- end -}}
>

  {{/*  HIDDEN INPUTS  */}}

  {{- if $netlify_forms -}}
    {{- if not .shortcode -}}
      <input type="hidden" name="form-name" value="{{ $form_id }}">
      <input type="hidden" name="subject" value="{{ (urls.Parse site.BaseURL).Host }}: {{ $subject }}" data-remove-prefix>
      <input type="hidden" name="url" value="{{ .Page.Permalink }}#{{ $form_id }}">
    {{- else -}}
      <input type="hidden" name="subject" value="{{ $form_id }}" data-remove-prefix>
      <input type="hidden" name="url" value="{{ $form_id }}">
    {{- end -}}
  {{- else if $googleScript -}}
    <input type="hidden" name="_domain" value="{{ (urls.Parse site.BaseURL).Host }}">
    <input type="hidden" name="_id" value="{{ $form_id }}">
    <input type="hidden" name="_subject" value="{{ $subject }}">
    <input type="hidden" name="URL" value="{{ .Page.Permalink }}#{{ $form_id }}">
  {{- else if $formsubmit_co -}}
    <input type="hidden" name="_subject" value="{{ $subject }}">
    <input type="hidden" name="_template" value="table">
    <input type="hidden" name="_captcha" value="false">
    {{/*  <input type="hidden" name="_next" value="{{ .Page.Permalink }}#{{ $form_id }}">  */}}
  {{- end -}}


  {{/*  CUSTOM INPUTS  */}}

  {{- range .inputs -}}
    {{- $type     := .type -}}
    {{- $full     := cond ($type | in (slice "textarea" "select" "radio" "checkbox" "file" "h3" "h4" "h5" "h6" "content") | or .full) " contact__full" "" -}}
    {{- $required := cond (not .required) "" " data-required" | safeHTMLAttr -}}
    {{- if $type | ne "hidden" -}}
      <div class="form__item {{ $full }}">
    {{ end }}
      {{ if $chamfer | and ($type | in (slice "text" "email" "tel" "number" "date" "time" "textarea" "select" "radio" "checkbox")) }}
        <div class="form__item-border
          {{- if eq $type `textarea` }} form__item-border--textarea{{ end }}
          {{- if $type | in (slice `radio` `checkbox`) }} form__item-border--fieldset{{ end -}}
        "></div>
      {{ end }}
      {{- if $type | in (slice "text" "email" "tel" "number" "date" "time" "file") -}}
        {{- $onfocus  := false -}}
        {{- if (eq $type "date" | or (eq $type "time")) | and (not .shortcode) -}}
          {{- $onfocus = true -}}
        {{- end -}}
        {{- $name  := .name -}}
        {{- if and $googleScript (eq $type "file") -}}
          {{- $name = print "📄" .name -}}
        {{- end -}}
        <input
          {{- $a }} class="form__input"
          {{- $a }} type="{{ if $onfocus }}text{{ else }}{{ $type }}{{ end }}"
          {{- $a }} name="{{ $name }}"
          {{- $a }} placeholder="{{ .placeholder | default .name }}{{ if .required }} *{{ end }}"
          {{- $required }}
          {{- if $onfocus }} onfocus="(this.type='{{ $type }}')"{{ end }}
          {{- with .accept }} accept="{{ . }}"{{ end }}
          {{- with .regex }} pattern="{{ . }}"{{ end }}
          {{- with .min }} min="{{ . }}"{{ end }}
          {{- with .max }} max="{{ . }}"{{ end }}
          {{- if .multiple }} multiple{{ end -}}
        >
      {{- else if $type | eq "textarea" -}}
        <textarea
          {{- $a }} class="form__textarea"
          {{- $a }} name="{{ .name }}"
          {{- $a }} rows="3"
          {{- $a }} placeholder="{{ .placeholder | default .name }}{{ if .required }} *{{ end }}"
          {{- $required -}}
        ></textarea>
      {{- else if $type | eq "select" -}}
        <select class="form__select" name="{{ .name }}" {{- $required }}>
          <option value="">{{ .placeholder | default .name }}{{ if .required }} *{{ end }}</option>
          {{- range .options -}}
            <option value="{{ .value | default .option }}">{{ .option }}</option>
          {{- end -}}
        </select>
      {{- else if $type | in (slice "radio" "checkbox") -}}
        {{- $name   := .name -}}
        {{- $legend := .placeholder | default .name -}}
        {{- $is_checkbox := eq $type "checkbox" -}}
        <fieldset class="form__fieldset" {{- $required }}>{{ "" -}}
          <legend>{{ $legend }}{{ if .required }} *{{ end }}</legend>
          {{- range .options -}}
            {{- $option := .value | default .option -}}
            {{- if $is_checkbox -}}
              {{- $name   = .value | default (print $legend " ➡️ " $option) -}}
              {{- $option = "✅" -}}
            {{- end -}}
            <label class="form__label">{{ "" -}}
              <input class="form__{{ $type }}" type="{{ $type }}" name="{{ $name }}" value="{{ $option }}">
              {{- .option -}}
            </label>
          {{- end -}}
        </fieldset>
      {{- else if $type | findRE `^h\d` -}}
        {{- print "<" $type " " | safeHTML -}}
        class="form__title contact__full"
        {{- ">" | safeHTML -}}
        {{- .label | markdownify -}}
        {{- print "</" $type ">" | safeHTML -}}
      {{- else if $type | eq "content" -}}
        <div class="form__content content">
          {{- partial "functions/md" (dict "content" .name "not_header_links" true) -}}
        </div>
      {{- end -}}
      {{- with .hint -}}
        <div class="form__hint content {{- if not ($type | findRE `^h\d`) }} align-left{{ end }}">
          {{- partial "functions/md" (dict "content" . "not_header_links" true) -}}
        </div>
      {{- end -}}
    {{- if $type | ne "hidden" -}}
      </div>
    {{- else -}}
      <input class="form__hidden" type="hidden" name="{{ .name }}" value="{{ .placeholder }}">
    {{ end }}
  {{- end -}}


  {{/*  FOOTER  */}}

  {{- "" -}}
  <button class="form__button contact__full" type="submit" name="submit">
    {{- partial "components/icon" (dict "icon" "paper-plane" "emoji" "📨") -}}
    <i>{{ i18n "send" }}</i>
    {{- "" -}}
  </button>
  {{- "" -}}
  <label class="form__label form__label--accept">
    {{- "" -}}
    <input  class="form__checkbox" type="checkbox" value="true">
    {{- "" -}}
    <i>
      {{- partial "functions/md" (dict "content" (i18n "send_check") "not_header_links" true "inline" true) -}}
      {{- " " -}}
      {{- partial "components/link" (dict
        "link"      (print (page.GetPage "privacy").RelPermalink "#" (i18n "forms"))
        "button"    "none"
        "label"     (print (i18n "read_more") "…")
        "noindex"   true
        "_blank"    true
      ) -}}
    </i>
    {{- "" -}}
  </label>
  {{- "" -}}

</form>
