{{- $a := "" | safeHTMLAttr }}
{{- $show          := cond (not site.Data.styles.performance.show) "" " show" -}}
{{- $page_emoji    := .Page.Params.emoji -}}
{{- $section_name  := i18n "header" -}}
{{- if eq .id "footer" }}
  {{- $section_name = i18n "footer" -}}
{{- else if ne .id "header" }}
  {{ $section_name  = .section.menu_label
    | default .section.hanchor
    | default .section.title
    | default .id
    | default .section.name
    | default .section.file
  }}
{{- end -}}
{{- $section_emoji  := "🧩" -}}
{{- if .section.modal }}
  {{- $section_emoji = "🪟" -}}
{{- end -}}

{{- $num := 0 -}}
{{- range partial "functions/section-boxes" .section -}}
  {{- if .inputs -}}
    {{- $num = add $num 1 -}}
    {{- if eq .inputs $.inputs -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $subject := print
  (i18n "form") " "
  $page_emoji " "
  .Page.Title " "
  $section_emoji " "
  $section_name
  (cond (le $num 1) "" (print " 📌 " $num))
  -}}
{{- $form          := merge site.Data.styles.inputs (.form | default dict) -}}
{{- $form_id       := print "form-" (cond (eq .id "header") .Page.Slug .id) (cond (le $num 1) "" (print "-" $num)) -}}
{{- $netlify_forms := not $form.action -}}
{{- $googleScript  := in $form.action "script.google.com" -}}
{{- $formsubmit_co := in $form.action "formsubmit.co" -}}
{{- $chamfer       := site.Data.styles.rounded.chamfer -}}
{{- $action        := $form.action | default (print "/" $form_id) -}}
{{- $inputs_fill   := cond (not $form.fill) "" " form__fill-inputs" -}}


{{/*  HEAD  */}}

<form
  id="{{ $form_id }}"
  class="form {{- $inputs_fill }} box__block {{- $show }}"
  method="post"
  {{- if .shortcode -}}
    {{- if $netlify_forms }} netlify{{ end }}
    name="{{ $form_id }}"
    action="{{ $action }}"
  {{- else -}}
    {{- $is_file_type  := false -}}
    {{- range where .inputs `type` `file` -}}
      {{- $is_file_type = true -}}
    {{- end -}}
    {{- if or $is_file_type $formsubmit_co | and (not $googleScript) }} enctype="multipart/form-data"{{ end }}
    target="_blank"
    action="{{ $action | base64Encode }}"
  {{- end -}}
>

  {{/*  HIDDEN INPUTS  */}}

  {{- if $netlify_forms -}}
    {{- if not .shortcode -}}
      <input type="hidden" name="form-name" value="{{ $form_id }}">
      <input type="hidden" name="subject" value="{{ (urls.Parse site.BaseURL).Host }}: {{ $subject }}" data-remove-prefix>
      <input type="hidden" name="url" value="{{ .Page.Permalink }}#{{ $form_id }}">
    {{- else -}}
      <input type="hidden" name="subject" value="{{ $form_id }}" data-remove-prefix>
      <input type="hidden" name="url" value="{{ $form_id }}">
    {{- end -}}
  {{- else if $googleScript -}}
    <input type="hidden" name="_domain" value="{{ (urls.Parse site.BaseURL).Host }}">
    <input type="hidden" name="_id" value="{{ $form_id }}">
    <input type="hidden" name="_subject" value="{{ $subject }}">
    <input type="hidden" name="URL" value="{{ .Page.Permalink }}#{{ $form_id }}">
  {{- else if $formsubmit_co -}}
    <input type="hidden" name="_subject" value="{{ $subject }}">
    <input type="hidden" name="_template" value="table">
    <input type="hidden" name="_captcha" value="false">
    {{/*  <input type="hidden" name="_next" value="{{ .Page.Permalink }}#{{ $form_id }}">  */}}
  {{- end -}}


  {{/*  CUSTOM INPUTS  */}}

  {{- range .inputs -}}
    {{- $name        := .name -}}
    {{- $type        := .type -}}
    {{- $full        := cond ($type | in (slice "textarea" "radio" "checkbox" "file" "h3" "h4" "h5" "h6" "content" "geo") | or .full) " contact__full" "" -}}
    {{- $show_if     := "" | safeHTMLAttr -}}
    {{- with .show_if -}}
      {{- $show_if    = print ` data-showif="{` (. | replaceRE `(\|\||\&\&)` "}$1{") `}"` | safeHTMLAttr -}}
    {{- end -}}
    {{- $show_of     := false -}}
    {{- range $.inputs -}}
      {{- $input := . -}}
      {{- with .show_if -}}
        {{- with $input.options -}}
          {{- range . -}}
            {{- $value := .value | default .option -}}
            {{- range split $value "||" -}}
              {{- if eq . $name -}}
                {{- $show_of  = true -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- else -}}
          {{- range split . "||" -}}
            {{- if eq . $name -}}
              {{- $show_of = true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $show_of      = cond (not $show_of)     "" (print ` data-showof="{` .name `}"`) | safeHTMLAttr -}}
    {{- $required    := cond (not .required)    "" " data-required" | safeHTMLAttr -}}
    {{- if or (and (not .required) .required_if) (and .required .show_if) -}}
      {{- with .required_if | default .show_if -}}
        {{- $required = print ` data-requiredif="` . `"` | safeHTMLAttr -}}
      {{- end -}}
    {{- end -}}

    {{- if $type | ne "hidden" -}}
      <div class="form__item {{- $full }}" {{- $show_if }} {{- $show_of }}>
    {{ end }}
      {{ if $chamfer | and ($type | in (slice "text" "email" "tel" "number" "date" "time" "file" "textarea" "select" "radio" "checkbox")) }}
        <div class="form__item-border
          {{- if eq $type `textarea` }} form__item-border--textarea{{ end }}
          {{- if $type | in (slice `radio` `checkbox`) }} form__item-border--fieldset{{ end -}}
        "></div>
      {{ end }}
      {{- if $type | in (slice "text" "email" "tel" "number" "date" "time" "file") -}}
        {{- $placeholder := print (.placeholder | default .name) (cond (not .required) "" " *") -}}
        {{- $onfocus     := false -}}
        {{- if (eq $type "date" | or (eq $type "time")) | and (not .shortcode) -}}
          {{- $onfocus    = true -}}
        {{- end -}}
        {{- if and $googleScript (eq $type "file") -}}
          {{- $name = print "📄" .name -}}
        {{- end -}}
        {{- $length  := "" -}}
        {{- if or .min .max -}}
          {{- if $type | in (slice "text" "email" "tel") -}}
            {{- $length  = "length" -}}
          {{- end -}}
        {{- end -}}

        {{- if eq $type "tel" -}}
          <label class="form__pre">
            <select class="form__select">
              {{/*  <option value="">{{ i18n "box_contact_pre" }}{{ if .required }} *{{ end }}</option>  */}}
              {{- range site.Data.utilities.phone_code -}}
                <option value="{{ .value }}" {{- if eq .value site.Params.phone_code }} selected{{ end }}>{{ .label }}</option>
              {{- end -}}
            </select>
          </label>
        {{- end -}}

        {{- if eq $type "file" -}}
          <label class="form__file">
            {{- partial "components/link" (dict
              "class"     "form__file--button"
              "link"      "none"
              "button"    .button
              "font_alt"  .font_alt
              "icon"      "upload"
              "emoji"     "📤"
              "label"     $placeholder
              "noindex"   true
            ) -}}
        {{- end -}}

        <input
          {{- $a }} class="form__input"
          {{- $a }} type="{{ if $onfocus }}text{{ else }}{{ $type }}{{ end }}"
          {{- $a }} name="{{ $name }}"
          {{- $required }}
          {{- if not ($type | in (slice `date` `time` `file`)) }} placeholder="{{ $placeholder }}"{{ end }}
          {{- if eq $type `file` }} data-placeholder="{{ $placeholder }}"{{ end }}
          {{- if $onfocus }} onfocus="(this.type='{{ $type }}')"{{ end }}
          {{- with .accept }} accept="{{ . }}"{{ end }}
          {{- with .regex }} pattern="{{ . }}"{{ end }}
          {{- with .min }} min{{ $length }}="{{ . }}"{{ end }}
          {{- with .max }} max{{ $length }}="{{ . }}"{{ end }}
          {{- if .multiple }} multiple{{ end -}}
        >

        {{- if eq $type "file" -}}
        </label>
        {{- end -}}

      {{- else if $type | eq "geo" -}}
        <label class="form__label form__label--geo">{{ .placeholder | default .name }}</label>
        <div id="geo" class="form__geo-map"></div>
        <input class="form__geo form__geo--x" type="hidden" name="{{ .name }} X" {{- $required }}>
        <input class="form__geo form__geo--y" type="hidden" name="{{ .name }} Y">
      {{- else if $type | eq "textarea" -}}
        <textarea
          {{- $a }} class="form__textarea"
          {{- $a }} name="{{ .name }}"
          {{- $a }} rows="3"
          {{- $a }} placeholder="{{ .placeholder | default .name }}{{ if .required }} *{{ end }}"
          {{- with .min }} minlength="{{ . }}"{{ end }}
          {{- with .max }} maxlength="{{ . }}"{{ end }}
          {{- $required -}}
        ></textarea>
      {{- else if $type | eq "select" -}}
        <label>
          <select class="form__select" name="{{ .name }}" {{- $required }}>
            <option value="">{{ .placeholder | default .name }}{{ if .required }} *{{ end }}</option>
            {{- range .options -}}
              <option value="{{ .value | default .option }}">{{ .option }}</option>
            {{- end -}}
          </select>
        </label>
      {{- else if $type | in (slice "radio" "checkbox") -}}
        {{- $legend := .placeholder | default .name -}}
        {{- $is_checkbox := eq $type "checkbox" -}}
        <fieldset class="form__fieldset" {{- $required }}>{{ "" -}}
          <legend>{{ $legend }}{{ if .required }} *{{ end }}</legend>
          {{- range .options -}}
            {{- $option := .value | default .option -}}
            {{- if $is_checkbox -}}
              {{- $name   = .value | default (print $legend " ➡️ " $option) -}}
              {{- $option = "✅" -}}
            {{- end -}}
            <label class="form__label">{{ "" -}}
              <input class="form__{{ $type }}" type="{{ $type }}" name="{{ $name }}" value="{{ $option }}">
              {{- .option -}}
            </label>
          {{- end -}}
        </fieldset>
      {{- else if $type | findRE `^h\d` -}}
        {{- print "<" $type " " | safeHTML -}}
        class="form__title contact__full"
        {{- ">" | safeHTML -}}
        {{- .label | markdownify -}}
        {{- print "</" $type ">" | safeHTML -}}
      {{- else if $type | eq "content" -}}
        <div class="form__content content">
          {{- partial "functions/md" (dict "content" .name "not_header_links" true) -}}
        </div>
      {{- end -}}
      {{- with .hint -}}
        <div class="form__hint content {{- if not ($type | findRE `^h\d`) }} align-left{{ end }}">
          {{- partial "functions/md" (dict "content" . "not_header_links" true) -}}
        </div>
      {{- end -}}
    {{- if $type | ne "hidden" -}}
      </div>
    {{- else -}}
      <input class="form__hidden" type="hidden" name="{{ .name }}" value="{{ .placeholder }}">
    {{ end }}
  {{- end -}}


  {{/*  FOOTER  */}}

  {{- $class  := "form__button contact__full" -}}
  {{- with $form.font_alt -}}
    {{- $class = print $class " button--font-alt" -}}
  {{- end -}}
  {{- with $form.button -}}
    {{- if ne . "link" -}}
      {{- $class = print $class " " . -}}
    {{- end -}}
  {{- end -}}
  <button class="{{ $class }}" type="submit" name="submit">
    {{- partial "components/icon" (dict "icon" ($form.icon | default "paper-plane") "emoji" "📨") -}}
    <i>{{ $form.label | default (i18n "send") }}</i>
    {{- "" -}}
  </button>
  {{- "" -}}
  <label class="form__label form__label--accept">
    {{- "" -}}
    <input  class="form__checkbox" type="checkbox" value="true">
    {{- "" -}}
    <i>
      {{- partial "functions/md" (dict "content" (i18n "send_check") "not_header_links" true "inline" true) -}}
      {{- " " -}}
      {{- partial "components/link" (dict
        "link"      (print (page.GetPage "privacy").RelPermalink "#" (i18n "forms"))
        "button"    "none"
        "label"     (print (i18n "read_more") "…")
        "noindex"   true
        "_blank"    true
      ) -}}
    </i>
    {{- "" -}}
  </label>
  {{- "" -}}

</form>
