{{- $js := .js -}}
{{ range site.Pages }}
  {{- $page       := . -}}
  {{- $slug       := .Params.slug -}}
  {{- $page_emoji := (index site.Data.utilities.types .Type).emoji -}}
  {{- $sections := partial "functions/sections-all" . -}}
  {{- range $k, $v := $sections -}}
    {{- $id            := .id -}}
    {{- $section_name  := i18n "header" -}}
    {{- if eq .id "footer" }}
      {{- $section_name = i18n "footer" -}}
    {{- else if $k }}
      {{ $section_name  = .menu
        | default .anchor
        | default .title
        | default .id
        | default .file
      }}
    {{- end -}}
    {{- $section_emoji  := "🧩" -}}
    {{- if .modal }}
      {{- $section_emoji = "🪟" -}}
    {{- end -}}
    {{- with partial "functions/section-boxes-num" . -}}
      {{- range . -}}
        {{- if .inputs -}}
          {{- $form_num      := print .lvl "_" .num -}}
          {{- $form_num       = cond (eq $form_num "0_0") "" $form_num -}}
          {{- $subject       := print (i18n "form") " " $page_emoji " " $page.Title " " $section_emoji " " $section_name (cond (not $form_num) "" (print " 📌 " $form_num)) -}}
          {{- $id_form       := print (replace (print $slug "_" $id) "-" "_") (cond (not $form_num) "" (print "_" $form_num)) -}}
          {{- $netlify_forms := not .action -}}
          {{- $googleForm    := in .action "docs.google.com/forms" -}}
          {{- $formsubmit_co := in .action "formsubmit.co" -}}
          {{- $action        := .action | default $page.RelPermalink | base64Encode -}}
          {{- $inputs_fill   := site.Data.styles.inputs.fill -}}
          {{- $chamfer       := site.Data.styles.rounded.chamfer -}}
          {{/*  HEAD  */}}
          {{- if $js -}}
            {{- $name_js_form := print "form_" $id_form -}}
            const {{ $name_js_form }} = document.getElementById('{{ $name_js_form }}');
            {{ $name_js_form }} && {{ $name_js_form }}.insertAdjacentHTML('beforeend', ` {{- "" -}}
              <form class="form {{- if $inputs_fill }} form__fill-inputs{{ end }}" method="post" action="{{ $action }}" target="_blank" {{ if $formsubmit_co -}} enctype="multipart/form-data"{{ end }}> {{- "" -}}
                {{- if $netlify_forms -}}
                  <input type="hidden" name="form-name" value="{{ $id_form }}">
                {{- end -}}
          {{- else -}}
            <form class="form {{- if $inputs_fill }} form__fill-inputs{{ end }}" method="post" action="{{ $action }}" {{- if $netlify_forms }} netlify{{ end }} name="{{ $id_form }}">
          {{- end -}}
            {{- if $netlify_forms -}}
              <input type="hidden" name="subject" value="{{ site.BaseURL | replaceRE `^https?://` `` }}: {{ $subject }}" data-remove-prefix>
              <input type="hidden" name="url" value="{{ $page.Permalink }}#{{ print `form_` $id_form }}">
            {{- else if $formsubmit_co -}}
              <input type="hidden" name="_subject" value="{{ $subject }}">
              <input type="hidden" name="_template" value="table">
              <input type="hidden" name="_captcha" value="false">
              {{/*  <input type="hidden" name="_next" value="{{ $page.Permalink }}#{{ $id }}">  */}}
            {{- end -}}
          {{/*  INPUTS  */}}
          {{- range .inputs -}}
            {{- $type := .type -}}
            {{- $full := cond ($type | in (slice "textarea" "select" "radio" "checkbox" "file" "h3" "h4" "h5" "h6") | or .full) " contact__full" "" -}}
            {{- if $type | ne "hidden" -}}
              <div class="form__item {{ $full }}">
            {{ end }}
              {{ if $chamfer | and ($type | in (slice "text" "email" "tel" "number" "date" "time" "textarea" "select" "radio" "checkbox")) }}
                <div class="form__item-border
                  {{- if eq $type `textarea` }} form__item-border--textarea{{ end }}
                  {{- if $type | in (slice `radio` `checkbox`) }} form__item-border--fieldset{{ end -}}
                "></div>
              {{ end }}
              {{- if $type | in (slice "text" "email" "tel" "number" "date" "time" "file") -}}
                {{- $onfocus := false -}}
                {{- if (eq $type "date" | or (eq $type "time")) | and $js -}}
                  {{- $onfocus = true -}}
                {{- end -}}
                <input class="form__input" type="{{ if $onfocus }}text{{ else }}{{ $type }}{{ end }}" name="{{ .name }}" placeholder="{{ .placeholder | default .name }}{{ if .required }} *{{ end }}" {{ if .required }}novalidate{{ end }} {{ if $onfocus }}onfocus="(this.type='{{ $type }}')"{{ end }} {{ with .accept }}accept="{{ . }}"{{ end }}>
              {{- else if $type | eq "textarea" -}}
                <textarea class="form__textarea" name="{{ .name }}" rows="3" placeholder="{{ .placeholder | default .name }}{{ if .required }} *{{ end }}" {{ if .required }}novalidate{{ end }}></textarea>
              {{- else if $type | eq "select" -}}
                <select class="form__select" name="{{ .name }}" {{ if .required }}novalidate{{ end }}>
                  <option value="">{{ .placeholder | default .name }}{{ if .required }} *{{ end }}</option>
                  {{- range .options -}}
                    <option value="{{ .value | default .option }}">{{ .option }}</option>
                  {{- end -}}
                </select>
              {{- else if $type | in (slice "radio" "checkbox") -}}
                {{- $name := .name -}}
                {{- $is_checkbox := eq $type "checkbox" -}}
                <fieldset class="form__fieldset" {{ if .required }}novalidate{{ end }}>{{ "" -}}
                  <legend>{{ .placeholder | default .name }}{{ if .required }} *{{ end }}</legend>
                  {{- range .options -}}
                    {{- $option := .value | default .option -}}
                    {{- if and $is_checkbox (not $googleForm) -}}
                      {{- $name   = $option -}}
                      {{- $option = "✅" -}}
                    {{- end -}}
                    <label class="form__label">{{ "" -}}
                      <input class="form__{{ $type }}" type="{{ $type }}" name="{{ $name }}" value="{{ $option }}">
                      {{- .option -}}
                    </label>
                    {{- if and $is_checkbox (not $googleForm) -}}
                      <input type="hidden" name="{{ $name }}" value="❌">
                    {{- end -}}
                  {{- end -}}
                </fieldset>
              {{- else if $type | findRE `^h\d` -}}
                {{- print "<" $type " " | safeHTML -}}
                class="form__title contact__full"
                {{- ">" -}}
                {{- .name | markdownify -}}
                {{- print "</" $type ">" | safeHTML -}}
              {{- else if $type | eq "description" -}}
                <div class="form__description description">
                  {{- partial "functions/md" (dict "content" .name "not_header_links" true) -}}
                </div>
              {{- end -}}
              {{- with .hint -}}
                <div class="form__hint description {{- if not ($type | findRE `^h\d`) }} align-left{{ end }}">
                  {{- partial "functions/md" (dict "content" . "not_header_links" true) -}}
                </div>
              {{- end -}}
            {{- if $type | ne "hidden" -}}
              </div>
            {{- else -}}
              <input class="form__hidden" type="hidden" name="{{ .name }}" value="{{ .placeholder }}">
            {{ end }}
          {{- end -}}
          {{/*  FOOTER  */}}
              {{- "" -}}
              <button class="form__button contact__full" type="submit" name="submit">
                {{- partial "components/icon" (dict "icon" "paper-plane" "emoji" "📨") -}}
                <i>{{ i18n "send" }}</i>
                {{- "" -}}
              </button>
              {{- "" -}}
              <label class="form__label form__label--accept">
                {{- "" -}}
                <input  class="form__checkbox" type="checkbox" value="true">
                {{- i18n "send-check" 1 -}}
                <i data-b="{{ print ($.Page.GetPage `pages/privacy`).RelPermalink `#` (i18n `send-check-link`) | base64Encode }}" tabindex="0" role="link">
                  {{- i18n "read-more" -}}…
                </i>
                {{- "" -}}
              </label>
              {{- "" -}}
            </form>
          {{- if $js -}}
            `);
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
