{{- $columns     := partial "functions/columns" (dict
  "items" .limages
  "each"  (merge . (dict
    "columns" .columns
  ))
  "span_xl" .span_xl
  "span_xs" .span_xs
) -}}
{{- $items       := $columns.items | default slice | append (.images | default slice) -}}

{{- $button_icon      := (cond (eq .icon "none") "" .icon) -}}
{{- $is_button_expand := eq .type "rows" | and (.images | or .link) | and (ne .button "hide") -}}
{{- $is_button_custom := .link | and (ne .type "rows") -}}

{{/*  CLASS  */}}
{{- $class := partial "functions/attr-delimit" (dict
  "attr"  "class"
  "array" (slice
    "box__block"
    "gallery"
    (print "gallery--" (.type | default "grid"))
    (cond (or (eq .type "columns") (eq .type "grid") (not .type)) (print "gallery--columns-" $columns.max) "")
    (cond (not .ratio)      "" "gallery--ratio")
    (cond (not .contain)    "" "gallery--contain")
    (cond (not .grayscale)  "" "gallery--grayscale")
    (cond (not .color | or (eq .color "transparent")) "" (print "bg bg-" .color))
    (cond (not site.Data.styles.performance.show)     "" "show")
  )
) -}}

{{/*  STYLE  */}}
{{ $style := partial "functions/attr-delimit" (dict
  "attr"    "style"
  "delimit" ";"
  "array"   (slice
    (cond (or (eq .gap 0.5) (eq .gap nil)) "" (print "--gallery-gap:" .gap "em"))
    (cond (not .ratio)                     "" (print "--gallery-ratio:" .ratio))
  )
) }}

{{/*  JOIN ATTRIBUTES  */}}
{{ $attr := partial "functions/attr-delimit" (dict
  "array" (slice
    $class
    $style
  )
) }}

<div {{ $attr | safeHTMLAttr }}>
  {{- if .color | and (ne .color "transparent") -}}
    <div class="bg-color"></div>
  {{- end -}}

  <div class="gallery__items">
    {{- range uniq $items -}}
      {{- $image := . -}}
      {{- $link  := "" -}}
      {{- if reflect.IsMap . -}}
        {{- $image = .image -}}
        {{- $link  = .link -}}
      {{- end -}}
      {{- if $image -}}
        {{- partial "components/blocks/gallery-item" (dict
          "image"     $image
          "link"      $link
          "type"      $.type
          "lightbox"  (not $.limages)
          "columns"   $columns.max
          "container" $.container
          "span_xl"   $columns.span_xl
          "span_xs"   $columns.span_xs
        ) -}}
      {{- end -}}
    {{- end -}}
    {{- if $is_button_expand -}}
      {{- partial "components/link" (dict
        "class"     "gallery__expand"
        "link"      .link
        "button"    (.button | default "light")
        "font_alt"  ""
        "icon"      (cond (eq .licon "none") "" .licon)
        "label"     "none"
        "anchor"    ""
        "noindex"   .ofuscate
      ) -}}
    {{- end -}}
  </div>
</div>
{{- if $is_button_custom -}}
  <div class="buttons">
    {{- partial "components/link" (dict
      "class"    ""
      "link"     .link
      "button"   .button
      "font_alt" .font_alt
      "icon"     .icon
      "label"    .label
      "anchor"   .anchor
      "noindex"  .ofuscate
    ) -}}
  </div>
{{- end -}}