{{- $cols     := partial "functions/columns" (dict
  "items" .limages
  "each"  (merge . (dict
    "cols" .cols
  ))
  "span_xl" .span_xl
  "span_xs" .span_xs
) -}}
{{- $items       := $cols.items | default slice | append (.images | default slice) -}}

{{- $bgc   := partial "functions/color-background" (dict "child" .color "parent" .bgcp) -}}
{{- $color := $bgc.child -}}

{{- $button_icon      := (cond (eq .icon "none") "" .icon) -}}
{{- $is_button_expand := eq .type "rows" | and (.images | or .link) | and (ne .button "hide") -}}
{{- $is_button_custom := .link | and (ne .type "rows") -}}

{{/*  CLASS  */}}
{{- $class := slice
  "box__block"
  "gallery"
  (print "gallery--" (.type | default "grid"))
  (cond (or (eq .type "cols") (eq .type "grid") (not .type)) (print "gallery--cols-" $cols.max) "")
  (cond (not .ratio)      "" "gallery--ratio")
  (cond (not .contain)    "" "gallery--contain")
  (cond (not .grayscale)  "" "gallery--grayscale")
  (cond (not $color | or (eq $color "transparent")) "" (print "bg bg-" $color))
  (cond (not site.Data.config.others.show)           "" "show")
-}}

{{/*  STYLE  */}}
{{ $style := slice
  (cond (or (eq .gap 0.5) (eq .gap nil)) "" (print "--gallery-gap:" .gap "em"))
  (cond (not .ratio)                     "" (print "--gallery-ratio:" .ratio))
}}

{{/*  JOIN ATTRIBUTES  */}}
{{ $attrs := dict
  "class" $class
  "style" $style
}}
{{ $attrs := partial "functions/attrs" $attrs }}

<div {{- $attrs }}>
  {{- if $color | and (ne $color "transparent") -}}
    <div class="bg-color"></div>
  {{- end -}}

  <div class="gallery__items">
    {{- range uniq $items -}}
      {{- $image := . -}}
      {{- $link  := "" -}}
      {{- if reflect.IsMap . -}}
        {{- $image = .image -}}
        {{- $link  = .link -}}
      {{- end -}}
      {{- if $image -}}
        {{- partial "components/blocks/gallery-item" (dict
          "image"     $image
          "link"      $link
          "type"      $.type
          "lightbox"  (not $.limages)
          "cols"      $cols.max
          "container" $.container
          "span_xl"   $cols.span_xl
          "span_xs"   $cols.span_xs
        ) -}}
      {{- end -}}
    {{- end -}}
    {{- if $is_button_expand -}}
      {{- partial "components/link" (dict
        "class"     "gallery__expand"
        "link"      .link
        "button"    (.button | default "light")
        "font_alt"  ""
        "icon"      (cond (eq .licon "none") "" .licon)
        "label"     "none"
        "anchor"    ""
        "noindex"   .ofuscate
      ) -}}
    {{- end -}}
  </div>
</div>
{{- if $is_button_custom -}}
  <div class="buttons">
    {{- partial "components/link" (dict
      "class"    ""
      "link"     .link
      "button"   .button
      "font_alt" .font_alt
      "icon"     .icon
      "label"    .label
      "anchor"   .anchor
      "noindex"  .ofuscate
    ) -}}
  </div>
{{- end -}}