{{ $list       := . }}
{{ $max        := .max   | default 999 }}
{{ $types      := .types | default slice }}
{{ if not $types }}
  {{ range site.Sections }}
    {{ $types   = $types | append .Type }}
  {{ end }}
  {{ $types   = $types | append "/" }}
{{ end }}

{{/*  {{ $types_many := gt (len $types) 1 }}  */}}

{{ range $types }}
  {{ $type   := . }}
  {{ $parent := site.GetPage . }}
  {{ $pages  := $parent.RegularPages }}
  {{ if eq . "related" }}
    {{ $type   = page.Type }}
    {{ $parent = site.GetPage $type }}
    {{ $pages  = $parent.Pages.Related (dict "document" page) }}
  {{ end }}
  {{/*
  {{ if eq $parent.Params.base "event" }}
    {{ $pages = sort $pages "Date" "desc" }}
  {{ end }}
   */}}
  {{ $firsts_pages := $pages }}

  {{ if and page.IsSection (eq (len $types) 1) (ne . "related") }}
    {{/*  PAGE PARENT  */}}
    {{ $firsts_pages = (page.Paginate $pages $max).Pages }}
    {{ partial "functions/pagination" page
      | replaceRE `\n|\s{2,}|<li.*?>|</li>` ``
      | replaceRE `<ul class="pagination pagination-default">` `<div class="pagination buttons">`
      | replaceRE `</ul>` `</div>`
      | replaceRE `page-link` `button button--sm`
      | replaceRE `span` `i`
      | safeHTML
    }}
  {{ else }}
    {{/*  PAGE RESTS  */}}
    {{/*  All relations  */}}
    {{ $relations  := slice }}
    {{ range site.Sections }}
      {{ range .Params.relations_from }}
        {{ $relations = $relations | append . }}
      {{ end }}
    {{ end }}
    {{/*  Filter by relations  */}}
    {{/*  {{ range $parent.Params.relations_from }}  */}}
    {{ range uniq $relations }}
      {{ $filenames := index $list .name }}
      {{ if $filenames }}
        {{ if .multiple }}
          {{ $filenames = slice | append $filenames }}
        {{ end }}
        {{ $pages = where $pages (print "Params." .name) (cond (not .multiple) "in" "intersect") $filenames }}
      {{ end }}
    {{ end }}
    {{/*  Filter by date  */}}
    {{ with $.date }}
      {{ $pages = where $pages "Date" "ge" (time .) }}
    {{ end }}
    {{ with $.end }}
      {{ $pages = where $pages "Date" "le" (time .) }}
    {{ end }}
    {{/*  Maximum number of pages  */}}
    {{ $firsts_pages = $pages | first $max }}
  {{ end }}

  {{ if len $pages }}
    {{/*
    {{ if $types_many }}
      <p class="list-title h4">{{ $parent.Title }}</p>
    {{ end }}
    */}}

    {{/*  TEMPLATE  */}}
    {{- $template_all       := site.Data.template.lists -}}
    {{- $template_type      := $parent.Params.lists -}}
    {{- $template_related   := dict -}}
    {{- if eq $type "related" -}}
      {{- $template_related := merge
        site.Data.template.related
        $parent.Params.related
      -}}
    {{- end -}}
    {{- $template_box       := $.box | default dict -}}
    {{- $template           := merge
      $template_all
      $template_type
      $template_related
      $template_box
    -}}

    {{/*  PAGES TO BOXES  */}}
    {{- $boxes   := slice -}}
    {{- range $firsts_pages -}}
      {{- $desc  := .Summary | default .Description | truncate 155 | plainify -}}
      {{- $price := cond (eq .Params.price nil) "" (.Params.price | lang.FormatCurrency 2 site.Params.currency) -}}
      {{- $page  := merge .Params (dict
        "Page"        .
        "link"        .RelPermalink
        "description" $desc
        "price"       $price
        "icon"        ""
        "social"      ""
      ) -}}
      {{- $boxes = $boxes | append $page -}}
    {{- end -}}

    {{/*  BOXES  */}}
    {{- partial "components/boxes/_"
      (merge
        $list
        (dict
          "box"          $template
          "boxes"        $boxes
          "article_list" true
        )
      )
    -}}

    {{/*  LAST BUTTON  */}}
    {{ if and (not page.IsSection) (gt (len $pages) (len $firsts_pages)) }}
      <div class="buttons">
        {{- partial "components/link"
          (dict
            "class"   ""
            "link"    $parent.RelPermalink
            "button"  "link"
            "icon"    "plus"
            "emoji"   "➕"
            "label"   (i18n "more")
            "anchor"  (print (i18n "more") " " (i18n .))
            "noindex" true
          )
        -}}
      </div>
    {{ end }}
  {{ end }}
{{ end }}