{{- with .map -}}
  {{- if or .image .anchor -}}

    <div class="map box__block">

      {{ $image    := .image }}
      {{ if not (strings.HasPrefix .image "http") }}
        {{ $image   = resources.Get (print "/media/" .image) }}
        {{ with $image }}
          {{ $image = .RelPermalink }}
        {{ end }}
      {{ end }}

      {{ $link  := .anchor }}
      {{ if not (strings.HasPrefix .anchor "http") }}
        {{ $link = partial "functions/map-url" .anchor }}
      {{ end }}

      {{ if $image }}

        <div data-b="{{ $link | default $image | base64Encode }}" tabindex="0" role="link">
          {{ partial "components/image" (dict
            "src"       .image
            "alt"       (i18n "map")
            "container" $.container
            "span_xl"   $.span_xl
            "span_xs"   $.span_xs
            "notlazy"   false
          ) }}
        </div>

      {{ else }}

        <iframe loading="lazy" data-src="{{ print $link `&z=15&output=embed` }}" width="600" height="450" allowfullscreen="" title="{{ i18n `location` }}"></iframe>

      {{ end }}

    </div>

  {{- end -}}
{{- end -}}
