{{- with .map -}}
  {{- $icons := slice -}}
  <div
    id="map-{{ $.id | default $.section.id }}"
    class="map box__block bg-light"
    data-zoom="{{ $.zoom | default `` }}"
  ></div>
  <div class="map__next">
    {{- range . -}}
      {{- $radius := .radius | default "" -}}
      {{- $color  := .color | default $.icon_color | default "main" -}}
      {{- $icon   := cond (ne .type "point") "" (.icon | default $.licon | default "circle-star") -}}
      {{- $icons   = $icons | append $icon -}}
      <div
        data-geo="{{ .geo }}"
        data-radius="{{ $radius }}"
        data-color="{{ $color }}"
        data-icon="{{ $icon }}"
      >{{ .label }}</div>
    {{- end -}}
  </div>
  {{- range uniq $icons -}}
    {{- partial "components/icon" (dict "class" "leaflet-data-marker__svg hide" "icon" .) -}}
  {{- end -}}
{{- end -}}
