{{- $review := . -}}

{{ if .slider }}
  <div class="slider box__block" {{ with .interval }}data-interval="{{ . }}"{{ end }}>
{{ end }}

<div class="reviews {{ if .slider }}slider__track{{ else }}box__block{{ end }}">

  {{/*  REVIEWS CLASS  */}}
  {{- $slider        := cond (not .slider) "" " slider__items" -}}
  {{- $show          := cond (not site.Data.styles.performance.show) "" " show" -}}
  {{- $columns_class := print `class="boxes` $slider $show `"` -}}


  {{/*  REVIEWS STYLE  */}}
  {{- $columns_max   := .columns | default 1 -}}
  {{- if eq .columns 0 -}}
    {{- $columns_max  = cond (le (len .reviews) 6) (len .reviews) 3 -}}
  {{- end -}}
  {{- $columns_min   := .columns_min | default 1 -}}
  {{- if eq .columns_min 0 -}}
    {{- $columns_min  = cond (le (len .reviews) 6) (len .reviews) 3 -}}
  {{- end -}}
  {{- $col_max := cond (eq $columns_max 1) "" (print "--columns-max:" $columns_max) -}}
  {{- $col_min := cond (eq $columns_min 1) "" (print "--columns-min:" $columns_min) -}}

  {{ $columns_style := partial "functions/attr-delimit" (dict
    "attr"    "style"
    "delimit" ";"
    "array"   (slice
      $col_max
      $col_min
    )
  ) }}

  {{/*  REVIEWS ATTRIBUTES JOIN  */}}
  {{ $attr := partial "functions/attr-delimit" (dict
    "array" (slice
      $columns_class
      $columns_style
    )
  ) }}
  
  <div {{ $attr | safeHTMLAttr }}>
    {{ range .reviews }}
      {{- with merge $review . -}}

        {{/*  REVIEW ITEM CLASS  */}}
        {{- $bg_color := print
          (cond (not .color) "" (print "bg-" .color))
          (cond (not .image) "" " bg-image")
        -}}
        {{- $bg_gradient_color := "" }}
        {{- $bg_gradient_type  := "" }}
        {{- if .gradient -}}
          {{- $bg_gradient_color = print "bg-gradient-" .gradient -}}
          {{- $bg_gradient_type  = print "bg-gradient-" (.gradient_type | default "linear-r") -}}
        {{- end -}}
        {{- $bg         := cond (not $bg_color) "" "bg" -}}
        {{- $shadow     := cond (not (.color | and (not .hide_shadow))) "box--hide-shadow" "" -}}

        {{- $review_class := partial "functions/attr-delimit" (dict
          "attr"  "class"
          "array" (slice
            "review__globe"
            $bg
            $bg_color
            $bg_gradient_color
            $bg_gradient_type
            $shadow
          )
        ) -}}

        {{/*  REVIEW ITEM STYLE  */}}
        {{- $alpha := and (.alpha | and (ne .alpha 100)) (.color | or .gradient) -}}
        {{- $alpha  = cond (not $alpha)        "" (print "--color-alpha:" .alpha) -}}

        {{ $review_style := partial "functions/attr-delimit" (dict
          "attr"    "style"
          "delimit" ";"
          "array"   (slice
            $alpha
          )
        ) }}

        {{/*  REVIEW ITEM ATTRIBUTES JOIN  */}}
        {{ $review_attr := partial "functions/attr-delimit" (dict
          "array" (slice
            $review_class
            $review_style
          )
        ) }}

        {{/*  REVIEW ITEM  */}}
        <div class="review">
          <div {{ $review_attr | safeHTMLAttr }}>
            <div class="bg-color"></div>
            {{- $icon       := or             .icon "quote-left" -}}
            {{- $icon_right := or .icon_right .icon "quote-right" -}}
            {{- partial "components/icon" (dict
              "class" "review__icon"
              "icon"  $icon
            ) -}}
            <blockquote class="review__text">
              <div class="content">
                {{- partial "functions/md" (dict
                  "content"          .content
                  "not_header_links" true
                ) -}}
              </div>
            </blockquote>
            {{- partial "components/icon" (dict
              "class" "review__icon review__icon--right"
              "icon"  $icon_right
            ) -}}
          </div>
          <div class="review__person">
            {{- if .image -}}
              <div class="review__figure">
                <div class="bg-color"></div>
                {{- partial "components/image"
                  (dict
                    "class"     "review__figure-image"
                    "src"       .image
                    "alt"       .title
                    "max"       136
                    "ratio"     "1/1"
                    "notschema" true
                  )
                -}}
              </div>
            {{- end -}}
            <div class="review__author">
              {{- with .title -}}
                <h3 class="review__title h4">{{ . | markdownify }}</h3>
              {{- end -}}
              {{- with .subtitle -}}
                <p class="review__subtitle">{{ . | markdownify }}</p>
                {{/*
              {{- else -}}
                {{- with .date -}}
                  <p class="review__subtitle">{{ partial "functions/date" (dict "date" .) }}</p>
                {{- end -}}
                */}}
              {{- end -}}
              {{- if ne .rating 0 -}}
                <p class="review__stars">
                  {{- $rating := .rating | default 5 -}}
                  {{- $int    := $rating | int -}}
                  {{- range seq $int -}}
                    {{- partial "components/icon" (dict "icon" "star-fill") -}}
                  {{- end -}}
                  {{- if ne $rating $int -}}
                    {{- $decimal := sub $rating $int -}}
                    {{- if ge $decimal 0.5 -}}
                      {{- partial "components/icon" (dict "icon" "star-fill-half") -}}
                    {{- end -}}
                  {{- end -}}
                </p>
              {{- end -}}
            </div>
          </div>
        </div>
      {{- end -}}
    {{ end }}
  </div>
</div>
{{/*  SCHEMA  */}}
<script type="application/ld+json">
  {{- partial "components/base/schema/review" . | safeJS -}}
</script>

{{ if .slider }}
  {{- partial "components/slider-buttons"
    (dict
      "items"   (len .reviews)
      "bullets" .bullets
      "arrows"  .arrows
      "button"  .button
    )
  -}}
  </div>
{{ end }}