<div class="social box__block buttons">
  {{- range .social -}}
    {{- $link  := . -}}
    {{- $icon  := "" -}}
    {{- if reflect.IsMap . -}}
      {{- $link = .link -}}
      {{- $icon = .icon -}}
    {{- end -}}
    {{- with $link -}}
      {{- if not $icon -}}
        {{- if in . "facebook" -}}
          {{- $icon = "facebook-f" -}}
        {{- else if in . "twitter" -}}
          {{- $icon = "twitter" -}}
        {{- else if in . "tiktok" -}}
          {{- $icon = "tiktok" -}}
        {{- else if in . "instagram" -}}
          {{- $icon = "instagram" -}}
        {{- else if in . "youtube" -}}
          {{- $icon = "youtube" -}}
        {{- else if in . "linkedin" -}}
          {{- $icon = "linkedin-in" -}}
        {{- else if in . "github" -}}
          {{- $icon = "github-alt" -}}
        {{- else if in . "gitlab" -}}
          {{- $icon = "gitlab" -}}
        {{- else if in . "g.page" -}}
          {{- $icon = "google" -}}
        {{- else if in . "mailto" -}}
          {{- $icon = "envelope" -}}
        {{- else -}}
          {{- $icon = "share-nodes" -}}
        {{- end -}}
      {{- end -}}
      {{ $label := print (i18n "follow_us") " " (. | replaceRE `https?://(.+?\.)?(.+?)\..+` "$2") | title }}
      {{- if in . "mailto" -}}
        {{- $label = print (i18n "follow_us") " Email" -}}
      {{- end -}}
      {{- partial "components/link" (dict
        "class"   "button--icon"
        "link"    .
        "button"  $.button
        "icon"    $icon
        "label"   $label
        "anchor"  ""
        "noindex" true
      ) -}}
    {{- end -}}
  {{- end -}}
</div>
