#nc-root {

  .CMS_Login_button {
    text-indent: -9999em;
    &:after {
      content: '#{ $login }';
      text-indent: 0;
    }
  }

// Help corner in botton menu mobile
  @media (max-width: 767px) {
    .CMS_BottomNavigation_root:before {
      content: '';
      width: 54px;
    }
  }
  // Padding for help corner
  .CMS_Sidebar_content,
  .CMS_Editor_content-wrapper {
    padding-bottom: 4rem;
  }
  // Padding for labels and hints
  .CMS_Label_root,
  .CMS_Field_inline-wrapper {
    padding: 0;
  }
  .CMS_Hint_root {
    padding-inline: 0;
  }

  // REMOVE ICONS

  // .CMS_NavLink_icon,
  // .CMS_Collection_header-icon {
  //   display: none;
  // }


  // FIELDS

  .CMS_Editor_content {
    max-width: calc(100vw - 1rem);
    margin-block: auto;
  }
  .CMS_Field_root {
    align-items: flex-start;
  }
  .CMS_Field_root,
  .CMS_WidgetObject_root,
  .CMS_WidgetList_field-wrapper,
  .CMS_WidgetList_sortable-item,
  .CMS_WidgetCode_root,
  .CMS_Hint_root {
    border-width: .0625rem;
    border-radius: .5rem;
    padding: .5rem .75rem;
    border-color: var(--border);
    background-color: var(--bg);
    width: 100%;
    // height: 100%;
    box-shadow: var(--shadow);
    // Remove paddings
    > * {
      padding-inline: 0;
    }
    > :first-child {
      padding-top: 0;
    }
    // > :last-child {
    //   padding-bottom: 0;
    // }
  }
  .CMS_WidgetFileImage_root,
  .CMS_WidgetFileImage_wrapper {
    height: 100%;
    border: none;
    margin: 0;
  }
  // Gap of fields and margin of parents
  .CMS_EditorControlPane_root,
  .CMS_WidgetObject_fields,
  .CMS_WidgetObject_list-root,
  .CMS_WidgetList_fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    margin-block: 1em;
    overflow: visible;
    > * {
      flex-grow: 1;
      min-width: calc(50% - .75rem);
    }
  }
  .CMS_WidgetList_ListItem_expand-button {
    padding: 0;
  }
  .CMS_WidgetObject_expand {
    padding-bottom: 0;
    align-items: center;
  }
  .CMS_WidgetObject_summary {
    line-height: 1.25rem;
  }
  // List item controls ajust
  .CMS_WidgetList_ListItem_single-field-controls {
    position: absolute;
    top: 3rem;
    right: 1.25em;
    height: 2rem;
  }
  // Margins
  .CMS_WidgetObject_fields,
  .CMS_WidgetList_ListItem_content {
    margin-left: -.25em;
    padding-left: 0.5em;
    // > .CMS_EditorControl_root {
    //   margin-left: .5rem;
    // }
  }
  // Move toggle arrow to left in lists and codes
  .CMS_WidgetList_expand-button-icon,
  .CMS_WidgetCode_expand-button-icon {
    order: -1;
  }
  // Remove bottom line from list item
  .CMS_WidgetList_ListItem_not-open-placeholder {
    display: none;
  }


  // TEXT, SELECT AND RELATION FIELDS

  .CMS_TextField_input,
  .CMS_TextArea_input,
  .CMS_Select_input,
  .CMS_Autocomplete_root {
    background-color: var(--input);
    color: var(--text);
    margin: .375rem 0;
    padding: .375rem .625rem;
    border: .0625rem solid var(--border);
    border-radius: .25rem;
    min-height: 2.5rem;
  }
  // Cursos like text in text fields
  .CMS_TextField_root > .CMS_TextField_input {
    cursor: initial;
  }


  // COLOR FIELDS

  .CMS_WidgetColor_color-swatch {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .75rem;
    border-radius: .25rem;
  }


  // BOOLEAN FIELDS

  .CMS_WidgetBoolean_root {
    &, .CMS_Field_inline-wrapper {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    .CMS_Label_root {
      max-width: calc(100% - 44px - 0.5rem);
    }
    .CMS_Hint_root {
      order: 2;
    }
  }


  // CUSTOM BOOLEAN FIELDS

  .CMS_WidgetBoolnew_root {
    .CMS_Label_root {
      max-width: calc(100% - 5.375rem);
    }
  }
  .CMS_Switch_toggle {
    background-color: var(--warning-main);
  }
  .CMS_Switch_input:checked + .CMS_Switch_toggle {
    background-color: var(--success-main);
  }
  .CMS_Switch_clear {
    opacity: 1;
  }
  .CMS_Field_disabled {
    .CMS_Switch_toggle {
      background-color: var(--common-gray);
    }
    .CMS_Switch_clear {
      opacity: 0;
    }
  }


  // IMAGE FIELDS

  .CMS_Image_root:not(.CMS_Image_empty) {
    max-height: 20rem;
  }
  .CMS_WidgetFileImage_empty-content,
  .CMS_WidgetFileImage_content {
    padding: 0.5rem 0 0.25rem;
  }


  // MARKDOWN FIELDS

  .CMS_WidgetMarkdown_controls {
    padding: 0;
    margin-block: 0.5rem;
  }


  // HINT LINKS

  // Hint links underline
  .CMS_Hint_link {
    text-decoration: underline;
  }


  // OBJECT FIELDS

  .CMS_WidgetObject_root,
  .CMS_WidgetList_field-wrapper {
    background-color: var(--bgc);
    --bgc: var(--bg);
  }


  // Alternate items with colors
  .CMS_WidgetList_sortable-item {
    background-color: var(--bgc);
    &:nth-child(1n) { --bgc: var(--color-brown); }
    &:nth-child(2n) { --bgc: var(--color-orange); }
    &:nth-child(3n) { --bgc: var(--color-yellow); }
    &:nth-child(4n) { --bgc: var(--color-green); }
    &:nth-child(5n) { --bgc: var(--color-purple); }
    &:nth-child(6n) { --bgc: var(--color-pink); }
    &:nth-child(7n) { --bgc: var(--color-red); }
    &:nth-child(8n) { --bgc: var(--color-grey); }
    &:nth-child(9n) { --bgc: var(--color-blue); }
  }

  // Widget list add button
  .CMS_WidgetList_add-button {
    color: var(--primary-contrast-color);
    background: var(--primary-main);
  }

  // Label
  .CMS_Label_root {
    display: block;
  }
  // Remove (opcional)
  [class*="_required"] .CMS_Label_root:after {
    content: '✱';
    color: var(--primary-main);
    margin-left: 0.25em;
  }
  [data-testid*="(opcional)"] > {
    *,
    * > * {
      > .CMS_Label_root:after {
        content: '(opcional)';
        margin-left: -5em;
        margin-right: -10em;
        color: var(--bg);
        text-shadow:
          -.5px 0 0 var(--bg),
          .5px 0 0 var(--bg),
          0 -.5px 0 var(--bg),
          0 .5px 0 var(--bg);
        // background-color: var(--bg);
      }
    }
  }

  // Hint float
  .CMS_Hint_root {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    padding: 0 .75rem .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
    border-top-width: 0;
    height: auto;
    z-index: 20;
  }
  .CMS_EditorControl_root:hover:not(:has(
    :where(
      .CMS_WidgetObject_root,
      .CMS_WidgetObject_list-root,
      .CMS_WidgetList_field-wrapper
    ):hover
  )) {
    .CMS_Hint_root {
      display: block;
    }
    :where(
      .CMS_Field_root,
      .CMS_WidgetCode_root
    ):has(.CMS_Hint_root) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  :where(
    .CMS_WidgetObject_root,
    .CMS_WidgetList_sortable-item,
    .CMS_WidgetList_field-wrapper
  ):hover:not(:has(> .MuiCollapse-root:hover)) {
    > .CMS_Hint_root {
      display: block;
    }
    &:has(> .CMS_Hint_root) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  // Hint info in mobile
  .CMS_EditorControl_root {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      display: block;
      width: 1rem;
      height: 2rem;
      z-index: 20;
    }
  }
  .CMS_EditorControl_root
  :where(
    :where(
      .CMS_Field_root,
      .CMS_WidgetCode_root,
    ):has(.CMS_Hint_root),
    :where(
      .CMS_WidgetObject_root,
      .CMS_WidgetList_field-wrapper,
      .CMS_WidgetList_sortable-item,
    ):has(> .CMS_Hint_root)
  ):after {
    content: 'i';
    font-size: 12px;
    position: absolute;
    top: calc(100% - 0.8125rem);
    left: 0.0625rem;
    padding: 0.125rem;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: var(--common-gray);
    color: white;
  }
}