html {
  --text:        var(--text-primary, rgba(0, 0, 0, 0.87));
  --input:       var(--background-main, #ffffff);
  --bg:          var(--background-dark, #f8fafc);
  --border:      var(--scrollbar-main, rgba(100, 116, 139, .25));
  --shadow:      0 10px 8px rgba(0, 0, 0, .04), 0 4px 3px rgba(0, 0, 0, .1);
  --color-brown: rgba(238, 224, 218, .5);
  --color-orange:rgba(250, 222, 201, .5);
  --color-yellow:rgba(253, 236, 200, .5);
  --color-green: rgba(219, 237, 219, .5);
  --color-blue:  rgba(211, 229, 239, .5);
  --color-purple:rgba(232, 222, 238, .5);
  --color-pink:  rgba(245, 224, 233, .5);
  --color-red:   rgba(255, 226, 221, .5);
  --color-grey:  rgba(227, 226, 224, .5);
}
// Dark
// html.dark {
html[style*="--text-primary: #fff;"] {
  --text:        var(--text-primary, #fff);
  --input:       var(--background-light, #2c3b55);
  --bg:          var(--background-main, #1e293b);
  --border:      var(--background-dark, #1e293b);
  --shadow:      0 4px 4px rgba(0, 0, 0, .25);
  --color-brown: rgba(96, 59, 44, .5);
  --color-orange:rgba(133, 76, 29, .5);
  --color-yellow:rgba(137, 99, 42, .5);
  --color-green: rgba(43, 89, 63, .5);
  --color-blue:  rgba(40, 69, 108, .5);
  --color-purple:rgba(73, 47, 100, .5);
  --color-pink:  rgba(105, 49, 76, .5);
  --color-red:   rgba(110, 54, 48, .5);
  --color-grey:  rgba(90, 90, 90, .5);
}
// duotone
:root {
  --dt-main: currentColor;
  --dt-main-op: 1;
  --dt-alt: currentColor;
  --dt-alt-op: .5;
}