
{{- $alt          := .Text -}}
{{- $ratio        := "" -}}
{{- $span_xl      := 1.0 -}}
{{- $figure_class := "content__figure" -}}
{{- $image_class  := "image" -}}
{{- $image_style  := "" -}}

{{- if in .Text "float" -}}

  {{- $figure_class = print $figure_class " content__figure--float" -}}
  {{- if in .Text "float-right" -}}
    {{- $figure_class = print $figure_class " content__figure--float-right" -}}
  {{- end -}}
  {{- $alt = $alt | replaceRE `float(-right)?` `` -}}
  {{- $span_xl = 0.5 -}}

{{- else -}}

  {{- with page.Params.list.border -}}
    {{- $image_class  = print $image_class " image--border" -}}
    {{- if ne . "main" -}}
      {{- $image_class = print $image_class " " . -}}
    {{- end -}}
  {{- end -}}

  {{/*  RATIO or CIRCLE IN TEXT, EXAMPLE: ![3/2](example.jpg)  */}}
  {{- if .Text | findRE `^[\d/]*$` -}}
    {{- $ratio       = $.Text -}}
    {{- $image_class = print $image_class " image--ratio" -}}
    {{- $image_style = print ` style="--image-ratio:` $ratio `"` -}}
    {{- $alt         = false -}}
  {{- else if eq .Text "circle" -}}
    {{- $image_class = print $image_class " image--circle" -}}
    {{- $alt         = false -}}
  {{- end -}}

{{- end -}}

<figure class="{{ $figure_class }}" {{ $aux := `` }}
  {{- if in .Text `float` -}}
    {{- $img_shape := resources.Get (print `/media/` .Destination) -}}
    {{- if in .Destination `.svg` -}}
    {{- else -}}
      {{- $img_shape =
        (
          (
            $img_shape
            | images.Filter (images.Gamma -1)
          ).Resize
          (print 100 `x webp q10`)
          | resources.Copy ($img_shape | replaceRE `^(.+)\..+` `$1-shape.webp`)
        )
      -}}
    {{- end -}}
    {{- ` ` | safeHTMLAttr -}}
    style="--shape:url({{- $img_shape.RelPermalink -}})"
  {{- end -}}
>

  <div class="{{ $image_class }}" {{- $image_style | safeHTMLAttr }}>
    {{- partial "components/image"
      (dict
        "class" "image__inner"
        "src"       .Destination
        "ratio"     $ratio
        "alt"       $alt
        "container" "sm"
        "span_xl"   $span_xl
        "span_xs"   1
      )
    -}}
  </div>

  {{- with .Title -}}
    <figcaption class="content__figcaption">
      {{- . -}}
    </figcaption>
  {{- end -}}

</figure>