{{- $label  := .Text -}}
{{- $anchor := .Title | replaceRE `(?s)\s?\[.+?\]\s?` "" -}}
{{- $title  := "" -}}
{{- $meta   := "" -}}
{{- with .Title -}}
  {{- with findRE `(?s).*\[.+?\].*` . 1 -}}
    {{- $meta = index . 0 -}}
  {{- end -}}
{{- end -}}

{{- /*  button  */ -}}
{{- $btn  := "" -}}
{{- $dot  := "" -}}
{{- $sm   := "" -}}
{{- $swap := "" -}}
{{- if and (hasPrefix .Text "[") (hasSuffix .Text "]") -}}
  {{- $label  = .Text | strings.TrimPrefix "[" | strings.TrimSuffix "]" -}}
  {{- $btn  = findRE `(main|alt|cta|light|dark|turn|such|whatsapp)` $meta 1 -}}
  {{- $btn  = index $btn 0 | default "cta" -}}
  {{- $dot  = in $meta "dot" -}}
  {{- $sm   = in $meta "sm" -}}
  {{- $swap = in $meta "swap" -}}
{{- end -}}

{{- /*  ga4  */ -}}
{{- $ga4 := in $meta "ga4" -}}

{{- /*  blank  */ -}}
{{- $blank := in $meta "blank" -}}

{{- /*  icon outside  */ -}}
{{- $outside := partial "func/icon-out" $label -}}
{{- $label   := $outside.text -}}
{{- $icon    := $outside.icon -}}

{{- /*  lock  */ -}}
{{- $lock := cond (in $meta "nofollow") true nil -}}
{{- if in $meta "homefollow" -}}
  {{- if not page.IsHome -}}
    {{- $lock = true -}}
  {{- end -}}
{{- end -}}
{{- if $lock -}}
  {{- /*  change anchor by title and remove  */ -}}
  {{- $title  = $anchor -}}
  {{- $anchor = "" -}}
{{- end -}}

{{- /*  link  */ -}}
{{- partial "link" (dict
  "btn"    $btn
  "dot"    $dot
  "sm"     $sm
  "swap"   $swap
  "ga4"    $ga4
  "icon"   $icon
  "label"  $label
  "anchor" $anchor
  "title"  $title
  "url"    .Destination
  "lock"   $lock
  "blank"  $blank
) -}}