{{- $label   := .Text -}}
{{- $anchor  := .Title | replaceRE `(?s)\s?\[.+?\]\s?` "" -}}
{{- $meta    := "" -}}
{{- with .Title -}}
  {{- $meta   = . | findRE `(?s).*\[(.+?)\].*` -}}
  {{- with $meta -}}
    {{- $meta = index . 0 -}}
  {{- end -}}
{{- end -}}

{{- /*  button  */ -}}
{{- $button  := "" -}}
{{- $dot     := "" -}}
{{- $sm      := "" -}}
{{- $swap    := "" -}}
{{- if and (hasPrefix .Text "[") (hasSuffix .Text "]") -}}
  {{- $label  = .Text  | replaceRE `(?s)^\[(.+)\]$` "$1" -}}
  {{- $button = replace $meta "font-alt" "" -}}
  {{- $button = findRE `(main|alt|cta|light|dark|invert|similar|whatsapp)` $button 1 -}}
  {{- $button = index $button 0 | default "cta" -}}
  {{- $dot    = in $meta "dot" -}}
  {{- $sm     = in $meta "sm" -}}
  {{- $swap   = in $meta "font-alt" -}}
{{- end -}}

{{- /*  ga4  */ -}}
{{- $ga4 := in $meta "ga4" -}}

{{- /*  blank  */ -}}
{{- $blank := in $meta "blank" -}}

{{- /*  lock  */ -}}
{{- $lock := cond (in $meta "nofollow") true nil -}}
{{- if in $meta "homefollow" -}}
  {{- if not page.IsHome -}}
    {{- $lock = true -}}
  {{- end -}}
{{- end -}}

{{- /*  move icon outside the label  */ -}}
{{- $icon     := "" -}}
{{- if $anchor | and (not $lock) -}}
  {{- with findRE `^:([\w-]+):` $label -}}
    {{- $icon  = . -}}
    {{- $label = $label | replaceRE `^:[\w-]+:` "" -}}
  {{- end -}}
{{- end -}}

{{- /*  link  */ -}}
{{- partial "components/link" (dict
  "button" $button
  "dot"    $dot
  "sm"     $sm
  "swap"   $swap
  "ga4"    $ga4
  "icon"   $icon
  "label"  $label
  "anchor" $anchor
  "link"   .Destination
  "lock"   $lock
  "blank"  $blank
) -}}
