
{{- $label := .Text | replaceRE `^btn[\w-]* ` `` -}}
{{- $anchor   := .Title | replaceRE `(^nofollow\s?)?(\s?_blank)?` `` -}}
{{- $noindex  := cond (strings.HasPrefix .Title "nofollow") true nil -}}

{{- $button   := "none" -}}
{{- $class    := "" -}}
{{- if strings.HasPrefix .Text "btn" -}}
  {{- $other  := .Text | replaceRE `^btn-?([\w-]*).*` `$1` -}}
  {{- $button  =  replace $other "-font-alt" "" | replaceRE `^.+?(main|alt|link|light|dark|invert|whatsapp).*` `$1` -}}
  {{- range $other | findRE `icon|font-alt|sm` -}}
    {{- $class = print $class " button--" . -}}
  {{- end -}}
{{- end -}}

{{- $icon     := "" -}}
{{- if $anchor | and (not $noindex) -}}
  {{- $label   = $label | replaceRE `icon-[\w-]+` `` -}}
  {{- if findRE `icon-[\w-]` .Text -}}
    {{- $icon  = .Text | replaceRE `^.*?icon-([\w-]+).*` `$1` -}}
  {{- end -}}
{{- end -}}

{{- partial "components/link" (dict
  "class"   $class
  "link"    .Destination
  "button"  $button
  "icon"    $icon
  "label"   $label
  "anchor"  $anchor
  "noindex" $noindex
  "_blank"  (in .Title "_blank")
) -}}
