{{- $id     := partial "functions/header-to-id" (dict "id" .Anchor "title" .Text) -}}

{{- $class  := "content__heading" -}}
{{- if (page.Params.list.underline | and (eq .Level 2)) -}}
  {{- $class = print $class " underline" -}}
{{- end -}}
{{- if (page.Params.list.uppercase | and (eq .Level 2)) -}}
  {{- $class = print $class " uppercase" -}}
{{- end -}}
{{- with .Attributes.class -}}
  {{- $class = print $class " " . -}}
{{- end -}}

{{- $attrs       := "" -}}
{{- range $k, $v := merge .Attributes (dict "id" $id "class" $class) }}
  {{- if . }}
    {{- $attrs    = print $attrs " " $k `="` . `"` }}
  {{- end }}
{{- end }}

<h{{ .Level }} {{- $attrs | safeHTMLAttr }}>
  <a class="link content__heading-link" href="#{{ $id }}">
    {{- .Text | safeHTML -}}
    {{- if in $class "underline" }}<br>{{ end -}}
  </a>
</h{{ .Level }}>