{{/*  Types  */}}
{{- $types := dict
  "info"     (dict "default" "info"     "bg" "main-light")
  "question" (dict "default" "question" "bg" "main-dark")
  "tip"      (dict "default" "tip"      "bg" "main")
  "idea"     (dict "default" "idea"     "bg" "white")
  "note"     (dict "default" "note"     "bg" "main-light")
  "check"    (dict "default" "check"    "bg" "light")
  "fail"     (dict "default" "fail"     "bg" "dark")
  "success"  (dict "default" "success"  "bg" "alt-light")
  "warning"  (dict "default" "warning"  "bg" "alt")
  "danger"   (dict "default" "danger"   "bg" "alt-dark")
-}}

{{/*  Types  */}}
{{- $type := dict -}}
{{- with .AlertType -}}
  {{- with index $types . -}}
    {{- $type = . -}}
  {{- end -}}
{{- end -}}

{{/*  Icon  */}}
{{- $icon    := .AlertType -}}
{{- $default := "" -}}
{{- with $type -}}
  {{- $default = .default -}}
{{- else -}}
  {{- with .Attributes.icon -}}
    {{- $icon = . -}}
  {{- end -}}
{{- end -}}

{{/*  Background color  */}}
{{- $bg  := "bg bg-white" -}}
{{- with .Attributes.class | findRE `bg-[\w-]+` -}}
  {{- $bg = print "bg" -}}
{{- else -}}
  {{- with $type -}}
    {{- $bg = print "bg bg-" .bg -}}
  {{- end -}}
{{- end -}}

{{/*  Attributes  */}}
{{- $attrs       := "" -}}
{{- $class       := print "alert " (or .Attributes.class "") " " $bg -}}
{{- $attributes  := merge .Attributes (dict "class" $class) -}}
{{- range $k, $v := $attributes -}}
  {{- if and . (ne $k "icon") -}}
    {{- $attrs    = print $attrs " " $k `="` . `"` -}}
  {{- end -}}
{{- end -}}

{{/*  Echo  */}}
<div {{- $attrs | safeHTMLAttr }}>
  <div class="bg-color"></div>
  {{- if or $icon $default }}{{ partial "icon" (dict "class" "alert__icon h4" "icon" $icon "default" $default) }}{{ end }}
  {{- with .AlertTitle }}<p class="alert__heading h4">{{ . }}</p>{{ end -}}
  {{ .Text -}}
</div>