{{ $t := partial "functions/i18n-cms" . }}

{{ $fields := slice }}

{{ $default := slice (dict
  "name"     "footer"
  "label"    "Footer"
  "widget"   "object"
  "params"   (slice
    (dict "var" "box_size")
    (dict "var" "box_bg_color")
    (dict "var" "box_bg_fade_color")
    (dict "var" "box_bg_fade_type")
    (dict "var" "box_bg_image")
    (dict "var" "box_bg_alpha")
    (dict "var" "box_divider_id")
    (dict "var" "box_divider_flip_x")
    (dict "var" "box_divider_flip_y")
    (dict "var" "box_dots")
    (dict "var" "box_md")
  )
) }}

{{ range site.Data.config.params | default $default }}
  {{ $opts  := merge . (dict "fields" $fields "t" $t) }}
  {{ $fields = partial "cms/config/collections-params" $opts }}
{{ end }}

{{ if not $fields }}
  {{ $fields = slice (dict "name" "example" "required" false) }}
{{ end }}

{{ return slice
  (dict "&settings_values" $fields)
}}
