{{ $t := partial "functions/i18n-cms" . }}

{{ $fields := slice }}

{{ $default := slice (dict
  "name"     "footer"
  "label"    "Footer"
  "widget"   "object"
  "params"   (slice
    (dict "var" "BOX_SIZE")
    (dict "var" "BOX_BG_COLOR")
    (dict "var" "BOX_BG_FADE_COLOR")
    (dict "var" "BOX_BG_FADE_TYPE")
    (dict "var" "BOX_BG_IMAGE")
    (dict "var" "BOX_BG_ALPHA")
    (dict "var" "BOX_DIVIDER_ID")
    (dict "var" "BOX_DIVIDER_FLIP_X")
    (dict "var" "BOX_DIVIDER_FLIP_Y")
    (dict "var" "BOX_SOCIAL")
    (dict "var" "BOX_MD")
  )
) }}

{{ range site.Data.config.params | default $default }}
  {{ $opts  := merge . (dict "fields" $fields "t" $t) }}
  {{ $fields = partial "cms/config/collections-params" $opts }}
{{ end }}

{{ if not $fields }}
  {{ $fields = slice (dict "name" "example" "required" false) }}
{{ end }}

{{ return slice
  (dict "&SETTINGS_VALUES" $fields)
}}
