

{{/*  H1  */}}

<h1 class="article__title {{  if .IsSection }} article__title--section{{ end }}">
  {{- if .IsSection -}}
    {{- $tax := index site.Data.utilities.taxonomies .Type -}}
    {{- partial "components/icon" (dict "icon" $tax.icon "emoji" $tax.emoji) -}}
  {{- end -}}
  <a href="{{ .RelPermalink }}">
    {{- .Title | markdownify -}}
  </a>
</h1>


{{/*  DATA  */}}

{{- if not .IsSection
  | and (not (in (slice "search" "sitemap") .File.TranslationBaseName))
-}}
  <div class="data">
    {{ partial "components/data" (dict "page" .) }}
  </div>
{{- end -}}


{{/*  IMAGE  */}}

{{- if .Params.image -}}
  <figure class="article__figure">
    {{- $class := "" -}}
    {{- with site.Data.lists.content.border -}}
      {{- $class = "image--border" -}}
      {{- if ne . "main" -}}
        {{- $class = print $class " " . -}}
      {{- end -}}
    {{- end -}}
    <div class="image {{ $class }}">
      {{- partial "components/image" (dict
        "class"     "image__inner"
        "src"       .Params.image
        "alt"       .Title
        "container" "sm"
        "notlazy"   true
      ) -}}
    </div>
  </figure>
{{- end -}}