{{- $articles := site.Data.articles -}}
{{- $container := (merge $articles.common (index $articles .type)).size | default "md" -}}

{{ with page }}
  <div class="container container--{{ $container }}">
    <h2 class="related__title align-center">{{ i18n "related" }}</h2>

    {{ $categories := .Params.categories | default slice }}
    {{ $tags := .Params.tags | default slice }}
  
    {{ if $categories | or $tags }}
      <div class="related__catags buttons">
        {{ $catags := slice }}
        {{ range $categories }}
          {{ with page.GetPage (print "categories/" .) }}
            {{ $catags = $catags | append . }}
          {{ end }}
        {{ end }}
        {{ range $tags }}
          {{ with page.GetPage (print "tags/" .) }}
            {{ $catags = $catags | append . }}
          {{ end }}
        {{ end }}
        {{ range $catags }}
          {{ with . }}
            {{ $icon_name := cond (eq .Type "tags") "tags" "bookmark" }}
            {{ $icon_name_alt := cond (eq .Type "tags") "🏷" "🔖" }}
            {{ $icon := partial "components/icon" (dict "icon" $icon_name "emoji" $icon_name_alt) }}
            {{- if .Params.noindex -}}
              <button data-h="{{ .RelPermalink | base64Encode }}">{{ $icon }}<i>{{ .Title }}</i></button>
            {{- else -}}
              <a class="button" href="{{ .RelPermalink }}">{{ $icon }}<i>{{ .Title }}</i></a>
            {{- end -}}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

  </div>
{{ end }}