{{- $lists     := site.Data.lists -}}
{{- $container := (merge $lists._ (index $lists .type)).size | default "md" -}}

{{ with page }}
  <div class="box container container--{{ $container }} align-center">
    <h2 class="related__title">{{ i18n "related" }}</h2>

    {{ $categories := .Params.categories | default slice }}
    {{ $tags := .Params.tags | default slice }}
  
    {{ if $categories | or $tags }}
      <div class="related__catags buttons">
        {{ $catags := slice }}
        {{ range $categories }}
          {{ with page.GetPage (print "categories/" .) }}
            {{ $catags = $catags | append . }}
          {{ end }}
        {{ end }}
        {{ range $tags }}
          {{ with page.GetPage (print "tags/" .) }}
            {{ $catags = $catags | append . }}
          {{ end }}
        {{ end }}
        {{ range $catags }}
          {{ with . }}
            {{ $icon  := cond (eq .Type "tags") "tags" "bookmark" }}
            {{ $emoji := cond (eq .Type "tags") "🏷" "🔖" }}
            {{- partial "components/link" (dict
              "link"    .RelPermalink
              "button"  "link"
              "icon"    $icon
              "emoji"   $emoji
              "label"   .Title
              "noindex" .Params.noindex
            ) -}}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

  </div>
{{ end }}