{{ $lists := site.Data.lists }}

{{ with page }}

  {{ $types := slice }}
  {{ if .IsSection }}
    {{ $pages := .Pages }}
    {{ $lists_blog := merge $lists._ $lists.blog       }}
    {{ $lists_tax  := merge $lists._ $lists.taxonomies }}
    {{ if not (
        (in (slice "blog" "authors") .Type | and $lists_blog.slider)
        | or $lists_tax.slider
      )
    }}
      {{ partial "functions/pagination" .
        | replaceRE `\n|\s{2,}|<li.*?>|</li>` ``
        | replaceRE `<ul class="pagination pagination-default">` `<div class="pagination buttons">`
        | replaceRE `</ul>` `</div>`
        | replaceRE `page-link` `button button--sm`
        | replaceRE `span` `i`
        | safeHTML
      }}
      {{ $pages = .Paginator.Pages }}
    {{ end }}
    {{ $types = slice (dict "type" .Type "pages" $pages) }}
    {{/*
      {{ $pages = (.Paginate $pages).Pages }}
      {{ $paginator := .Paginate $pages }} <!-- FOR PAGES, IN "TERMS" NOT RULE -->
      {{ $paginator := $pages.Paginator }} <!-- FOR NO PAGES, LIKE PARENT -->
    */}}
  {{ else }}

    {{ $filename    := page.File.TranslationBaseName }}
    {{ $types_slice := slice
      "blog"
      "events"
      "products"
      "categories"
      "tags"
      "authors"
      "pages"
      "page"
    }}

    {{ if not (in (slice "categories" "tags" "authors") .Type) }}
      {{ $type_lists := merge $lists._ (index $lists .Type)    }}
      {{ $type_pages := (.GetPage .Type).Pages.Related (dict "document" .) }}
      {{ $type_pages  = $type_pages | first ($type_lists.num  | default 3) }}
      {{ $types       = slice (dict "type" .Type "pages" $type_pages) }}
    {{ else if in (slice "categories" "tags") .Type }}
      {{ range $types_slice }}
        {{ $type_pages := where ($.GetPage .).Pages (print "Params." $.Type) "intersect" (slice $filename) }}
        {{ $types       = $types | append (dict "type" . "pages" $type_pages) }}
      {{ end }}
    {{ else if eq .Type "authors" }}
      {{ range $types_slice }}
        {{ $type_pages := where ($.GetPage .).Pages "Params.author" $filename }}
        {{ $types       = $types | append (dict "type" . "pages" $type_pages) }}
      {{ end }}
    {{ end }}

  {{ end }}

  {{ range $types }}
    {{ if not $.IsSection | and $.related }}
      {{ partial "sections/article/related" (dict "type" .type) }}
    {{ end }}
    {{ partial "types/list" (dict "pages" .pages "type" .type "level" 1 "is_article" true) }}
  {{ end }}

{{ end }}