{{ if .Params.toc }}
  <nav id="toc" class="toc">
    <div class="box container container--sm">
      <div class="toc__box bg bg-{{ site.Data.articles.content.toc_color | default `white` }}">
        <div class="bg-color"></div>
        <h2 class="h6">{{ i18n "toc" }}</h2>
        {{ $toc             := partial "functions/md" (dict "content" .TableOfContents) }}
        {{ $tocLinks        := $toc     | findRE `<a.+?</a>` }}
        {{ $contentLinks    := .Content | findRE `<a class="description__heading-link" href="#.+?">` }}
        {{ range $k, $value := $tocLinks }}
          {{ $contentLink   := index $contentLinks $k }}
          {{ $id            := $contentLink | replaceRE `.*"#(.+?)">` `$1` }}
          {{ $link          := .            | replaceRE `"#.+?"` (print `"#` $id `"`) }}
          {{ $toc            = replace $toc . $link }}
        {{ end }}
        {{ $toc | safeHTML }}
      </div>
    </div>
  </nav>
{{ else }}
  <div id="toc"></div>
{{ end }}