{{- $t := partial "functions/i18n" . -}}

<div class="help-corner">
  <div class="deploy-status">
    {{/*  <img alt="Netlify Status" src="https://api.netlify.com/api/v1/badges/{{ site.Params.netlify_id }}/deploy-status" width="118" height="20" alt="Netlify Deploy Status" decoding="async" loading="lazy">  */}}
    <svg><use href="/draws.svg#rotate"></use></svg>
  </div>
  <div class="info">
    <div class="info__sub-wrap">
      <p class="info__text">{{ $t.deploy_status }}:</p>
      <p class="info__status">
        <span class="info__status-success">{{ $t.deploy_status_success }}</span>
        <span class="info__status-building">{{ $t.deploy_status_building }}</span>
        <span class="info__status-canceled">{{ $t.deploy_status_canceled }}</span>
        <span class="info__status-error">{{ $t.deploy_status_error }}</span>
      </p>
      <p class="info__text">{{ $t.google_spreadsheets_info }}{{ with site.Params.drive_mails }} ({{ $t.google_spreadsheets_info_view }} <strong>{{ . }}</strong>){{ end }}:</p>
      <div class="info__buttons">
        <a class="google-spreadsheets-link" href="{{ site.Params.drive_link }}" target="_blank">
          <svg><use href="/draws.svg#google-drive"></use></svg>
          {{ $t.google_spreadsheets_link }}
        </a>
        <a class="git-link" href="{{ site.Params.git_url }}" target="_blank">
          <svg><use href="/draws.svg#git-alt"></use></svg>
          Git
        </a>
        <a class="netlify-link" href="https://app.netlify.com/sites/{{ site.Params.netlify_name | default `sansoul` }}/deploys" target="_blank" title="Netlify Deploy Status">
          <svg><use href="/draws.svg#netlify"></use></svg>
          Netlify
        </a>
        <button class="rebuild" disabled>
          <svg><use href="/draws.svg#rocket-launch"></use></svg>
          {{ $t.rebuild }}
        </button>
      </div>
    </div>
  </div>
</div>