{{ $return     := slice }}
{{ $icon_sharp := site.Data.styles.icons.sharp | default false }}
{{ $icon_type  := site.Data.styles.icons.type  | default "" }}
{{ $sharp      := cond (and $icon_sharp (ne $icon_type "duotone")) "sharp-" "" }}
{{ $type       := $icon_type | default "solid" }}
{{ $icons      := partialCached (print "draws/icons/" $sharp $type ".svg") . }}
{{ if .IsTranslated }}
  {{ $icons     = print $icons "\n" (partialCached "draws/flags.svg" .) }}
{{ end }}

{{ $names := slice
  (dict "group" "type"    "name" "page"      "icon" "file")
  (dict "group" "type"    "name" "section"   "icon" "puzzle-piece")
  (dict "group" "type"    "name" "modal"     "icon" "window-restore")
  (dict "group" "type"    "name" "settings"  "icon" "gear")
  (dict "group" "setting" "name" "config"    "icon" "wrench")
  (dict "group" "setting" "name" "types"     "icon" "icons")
  (dict "group" "setting" "name" "schema"    "icon" "list-tree")
  (dict "group" "setting" "name" "styles"    "icon" "brush")
  (dict "group" "setting" "name" "remote"    "icon" "file-import")
  (dict "group" "setting" "name" "redirects" "icon" "turn-down-right")
  (dict "group" "setting" "name" "robots"    "icon" "robot")
}}
{{ range site.Sections }}
  {{ $names = $names | append (dict "group" "type" "name" .Type "icon" .Params.icon) }}
{{ end }}
{{ range .AllTranslations }}
  {{ $names = $names | append (dict "group" "flag" "name" .Lang "icon" (print "flag-" .Lang) "link" (print .Site.Home.RelPermalink "admin/")) }}
{{ end }}

{{ range $names }}
  {{ $icon  := .icon }}
  {{ $regex := print `<symbol id="` .icon `".+` }}
  {{ $finds := findRE $regex $icons 1 }}
  {{ $fill  := cond (in (slice "setting" "type") .group) ` fill="#1976d2"` "" }}
  {{ range $finds }}
    {{ $icon = replace . "<symbol" (print `<svg xmlns="http://www.w3.org/2000/svg"` $fill) }}
    {{ $icon = replace $icon "</symbol>" "</svg>" }}
    {{ $icon = $icon | base64Encode }}
  {{ end }}
  {{ $return  = $return | append (print .group "," .name "," $icon  "," (.link | default "")) }}
{{ end }}

{{ return $return }}