{{- $dir := print "content." .Lang -}}
{{- if fileExists $dir -}}
  {{- with readDir $dir -}}
    {{- range where . "Name" "!=" ".DS_Store" -}}
      {{- if .IsDir -}}
        {{- $type := .Name -}}
        {{- with readDir (print "content." $.Lang "/" $type) -}}
          {{- range . -}}
            {{- $filename := .Name | replaceRE `(.+)\..+` `$1` -}}
            {{- with readFile (print "content." $.Lang "/" $type "/" .Name) -}}
              {{- with . | findRE `\nimage: .+` -}}
                {{- $image := index . 0 | replaceRE `\nimage: |'|'|"` `` -}}
                [class*="GridCardLink"][href="#/collections/{{ $type }}.{{ $.Lang }}/entries/{{ $filename }}"] {
                  {{- "" -}}
                  --image: url({{ partial "functions/iframe-poster" $image | default (print "/media/" $image) }});
                  {{- "" -}}
                }
              {{- end -}}
              {{- "\n" -}}
              {{/*- with unmarshal . -}}
                {{- with .image -}}
                  [class*="GridCardLink"][href="#/collections/{{ $type }}.{{ $.Lang }}/entries/{{ $filename }}"] {
                    --image: url({{ partial "functions/iframe-poster" . | default (print "/media/" .) }});
                  }
                {{- end -}}
              {{- end -*/}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- $filename := .Name | replaceRE `(.+)\..+` `$1` -}}
        {{- with readFile (print "content." $.Lang "/" .Name) -}}
          {{- with unmarshal . -}}
            {{- with .image -}}
              [class*="GridCardLink"][href="#/collections/page.{{ $.Lang }}/entries/{{ $filename }}"] {
                {{- "" -}}
                --image: url({{ partial "functions/iframe-poster" . | default (print "/media/" .) }});
                {{- "" -}}
              }
              {{- "\n" -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}