{{ $var := print "&" .var }}
{{ $o   := . }}
{{ $loc := .alt | default .var }}

{{ $t   := dict }}
{{ if $loc }}
  {{ $t  = partial "functions/i18n-cms" . }}
{{ end }}

{{ $from := index . "<<" }}
{{ if $from }}
  {{ $from = print "~" $from }}
{{ end }}

{{ $widget := .widget | default (cond (not $from) "string" nil) }}
{{ $o       = merge . (dict "var" nil "alt" nil "<<"  nil) }}

{{ if not $from }}
  {{ $required := .required | default false }}
  {{ $i18n     := .i18n }}
  {{ if not .i18n }}
    {{ $wi18n  := slice "string" "text" "markdown" "image" "object" "list" }}
    {{ $i18n    = cond (in $wi18n $widget) true "duplicate" }}
  {{ end }}
  {{ $f := dict
    "widget"   $widget
    "required" $required
    "i18n"     $i18n
  }}
  {{ $o = merge $o $f }}
{{ end }}

{{ if eq "datetime" $widget }}
  {{ if not .format }}
    {{ $f := dict
      "format"      `YYYY-MM-DD HH:mm:ss`
      "date_format" `YYYY-MM-DD`
      "time_format" `HH:mm`
    }}
    {{ $o  = merge $o $f }}
  {{ end }}
{{ else if eq "color" $widget }}
  {{ if not $o.allow_input }}
    {{ $o = merge $o (dict "allow_input" true) }}
  {{ end }}
{{ else if eq "code" $widget }}
  {{ $o = merge $o (dict "output_code_only" true) }}
  {{ if not $o.default_language }}
    {{ $o = merge $o (dict "default_language" `html`) }}
  {{ end }}
{{ else if eq "image" $widget }}
  {{ if not $o.allow_input }}
    {{ $o = merge $o (dict "widget" `file` "max_file_size" 512000000 "choose_url" true "accept" `image/*,video/*`) }}
  {{ end }}
{{ else if eq "int" $widget }}
  {{ if not $o.value_type }}
    {{ $o = merge $o (dict "widget" `number` "value_type" `int` "step" 1) }}
  {{ end }}
{{ else if eq "float" $widget }}
  {{ if not $o.value_type }}
    {{ $o = merge $o (dict "widget" `number` "value_type" `float` "step" 0.01 "min" 0) }}
  {{ end }}
{{ else if eq "markdown" $widget }}
  {{ $o = merge $o (dict "show_raw" true) }}
{{ else if eq "object" $widget }}
  {{ $o = merge $o (dict "collapsed" true) }}
{{ else if eq "list" $widget }}
  {{ $o = merge $o (dict "collapsed" true "minimize_collapsed" true "allow_add" true) }}
  {{ if $loc }}
    {{ $sing := .label_singular | default (index $t (print $loc "_singular")) }}
    {{ with $sing }}{{ $o = merge $o (dict "label_singular" .) }}{{ end }}
  {{ end }}
{{ else if eq "relation" $widget }}
  {{ $o = merge $o (dict
    "options_length" 100
    "value_field"    "{{slug}}"
    "search_fields"  (slice "{{title}}")
    "display_fields" (slice "{{title}}")
  ) }}
{{ else if eq "boolean" $widget }}
  {{ $opts := cond (not .required) `~options_boolean` `~options_boolean_req` }}
  {{ $o  = merge $o (dict "widget" `select` "options" $opts) }}
{{ end }}

{{ if not .label }}
  {{ with $loc }}
    {{ with index $t . }}
      {{ $o = merge $o (dict "label" .) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if not .hint }}
  {{ with $loc }}
    {{ with index $t (print . "_hint") }}
      {{ $o = merge $o (dict "hint" .) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $o = partial "functions/obj-no-nil" $o }}

{{ if $from }}
  {{ $o = dict "<<" (slice $o $from) }}
{{ end }}

{{ $return := cond (not .var) $o (dict $var $o) }}
{{ return $return }}