{{ $var := print "&" .var }}
{{ $o   := . }}
{{ $loc := .alt | default .var }}

{{ $t   := dict }}
{{ if $loc }}
  {{ $t  = partial "func/i18n-cms" . }}
{{ end }}

{{ $from := index . "<<" }}
{{ if $from }}
  {{ $from = print "~" $from }}
{{ end }}

{{ $widget := .widget | default (cond (not $from) "str" nil) }}
{{ $o       = merge . (dict "var" nil "alt" nil "req" nil "sum" nil "<<" nil) }}

{{ if not $from }}
  {{ $req  := .req | default false }}
  {{ $i18n := .i18n }}
  {{ if not .i18n }}
    {{ $wi18n := slice "str" "txt" "md" "img" "vid" "vimg" "dict" "slice" }}
    {{ $i18n   = cond (in $wi18n $widget) true "duplicate" }}
  {{ end }}
  {{ $f := dict
    "widget"   $widget
    "required" $req
    "i18n"     $i18n
  }}
  {{ $o = merge $o $f }}
{{ end }}

{{ with .sum }}
  {{ $o = merge $o (dict "summary" .) }}
{{ end }}

{{ if eq "str" $widget }}
  {{ $o = merge $o (dict "widget" `string`) }}
{{else if eq "txt" $widget }}
  {{ $o = merge $o (dict "widget" `text`) }}
{{else if eq "time" $widget }}
  {{ $o = merge $o (dict "widget" `datetime`) }}
  {{ if eq nil .format }}
    {{ $o = merge $o (dict "format" `YYYY-MM-DD HH:mm:ss`) }}
  {{ end }}
  {{ if eq nil .date_format }}
    {{ $o = merge $o (dict "date_format" `YYYY-MM-DD`) }}
  {{ end }}
  {{ if eq nil .time_format }}
    {{ $o = merge $o (dict "time_format" `HH:mm`) }}
  {{ end }}
{{ else if eq "color" $widget }}
  {{ if eq nil .allow_input }}
    {{ $o = merge $o (dict "allow_input" true) }}
  {{ end }}
{{ else if eq "code" $widget }}
  {{ $o = merge $o (dict "output_code_only" true) }}
  {{ if eq nil .default_language }}
    {{ $o = merge $o (dict "default_language" `html`) }}
  {{ end }}
{{ else if eq "img" $widget }}
  {{ $o = merge $o (dict "widget" `image`) }}
  {{ if eq nil .max_file_size }}
    {{ $o = merge $o (dict "max_file_size" 512000000) }}
  {{ end }}
  {{ if eq nil .choose_url }}
    {{ $o = merge $o (dict "choose_url" true) }}
  {{ end }}
{{ else if eq "vid" $widget }}
  {{ $o = merge $o (dict "widget" `file`) }}
  {{ if eq nil .max_file_size }}
    {{ $o = merge $o (dict "max_file_size" 512000000) }}
  {{ end }}
  {{ if eq nil .choose_url }}
    {{ $o = merge $o (dict "choose_url" true) }}
  {{ end }}
  {{ if eq nil .accept }}
    {{ $o = merge $o (dict "accept" ".mp4,.mov,.avi,.webm") }}
  {{ end }}
{{ else if eq "vimg" $widget }}
  {{ $o = merge $o (dict "widget" `file`) }}
  {{ if eq nil .max_file_size }}
    {{ $o = merge $o (dict "max_file_size" 512000000) }}
  {{ end }}
  {{ if eq nil .choose_url }}
    {{ $o = merge $o (dict "choose_url" true) }}
  {{ end }}
  {{ if eq nil .accept }}
    {{ $o = merge $o (dict "accept" ".jpeg,.jpg,.png,.gif,.webp,.svg,.mp4,.mov,.avi,.webm") }}
  {{ end }}
{{ else if eq "int" $widget }}
  {{ $o = merge $o (dict "widget" `number`) }}
  {{ if eq nil .value_type }}
    {{ $o = merge $o (dict "value_type" `int`) }}
  {{ end }}
  {{ if eq nil .step }}
    {{ $o = merge $o (dict "step" 1) }}
  {{ end }}
{{ else if eq "float" $widget }}
  {{ $o = merge $o (dict "widget" `number`) }}
  {{ if eq nil .value_type }}
    {{ $o = merge $o (dict "value_type" `float`) }}
  {{ end }}
  {{ if eq nil .step }}
    {{ $o = merge $o (dict "step" 0.01 "min" 0) }}
  {{ end }}
  {{ if eq nil .min }}
    {{ $o = merge $o (dict "min" 0) }}
  {{ end }}
{{ else if eq "md" $widget }}
  {{ $o = merge $o (dict "widget" `markdown`) }}
  {{ if eq nil .show_raw }}
    {{ $o = merge $o (dict "show_raw" true) }}
  {{ end }}
{{ else if eq "dict" $widget }}
  {{ $o = merge $o (dict "widget" `object`) }}
  {{ if eq nil .collapsed }}
    {{ $o = merge $o (dict "collapsed" true) }}
  {{ end }}
{{ else if eq "slice" $widget }}
  {{ $o = merge $o (dict "widget" `list`) }}
  {{ if eq nil .collapsed }}
    {{ $collapsed := eq nil .field }}
    {{ $o = merge $o (dict "collapsed" $collapsed) }}
  {{ end }}
  {{ if eq nil .minimize_collapsed }}
    {{ $o = merge $o (dict "minimize_collapsed" true) }}
  {{ end }}
  {{ if eq nil .allow_add }}
    {{ $o = merge $o (dict "allow_add" true) }}
  {{ end }}
{{ else if eq "rel" $widget }}
  {{ $o = merge $o (dict "widget" `relation`) }}
  {{ if eq nil .collection }}
    {{ $o = merge $o (dict "collection" .name) }}
  {{ end }}
  {{ if eq nil .options_length }}
    {{ $o = merge $o (dict "options_length" 100) }}
  {{ end }}
  {{ if eq nil .value_field }}
    {{ $o = merge $o (dict "value_field" "{{slug}}") }}
  {{ end }}
  {{ if eq nil .search_fields }}
    {{ $o = merge $o (dict "search_fields" (slice "{{title}}")) }}
  {{ end }}
  {{ if eq nil .display_fields }}
    {{ $o = merge $o (dict "display_fields" (slice "{{title}}")) }}
  {{ end }}
{{ else if eq "bool" $widget }}
  {{ $opts := cond (not $o.req) `~options_boolean` `~options_boolean_req` }}
  {{ $o  = merge $o (dict "widget" `select` "options" $opts) }}
{{ end }}

{{ with $loc }}
  {{ if eq nil $.label }}
    {{ with index $t . }}
      {{ $o = merge $o (dict "label" .) }}
    {{ end }}
  {{ end }}
  {{ if eq nil $.label_singular }}
    {{ $sing := $.label_singular | default (index $t (print . "_singular")) }}
    {{ with $sing }}{{ $o = merge $o (dict "label_singular" .) }}{{ end }}
  {{ end }}
  {{ if eq nil $.hint }}
    {{ with index $t (print . "_hint") }}
      {{ $o = merge $o (dict "hint" .) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $o = partial "func/obj-no-nil" $o }}

{{ if $from }}
  {{ if $o }}
    {{ $o = dict "<<" (slice $o $from) }}
  {{ else }}
    {{ $o = $from }}
  {{ end }}
{{ end }}

{{ $return := cond (not .var) $o (dict $var $o) }}
{{ return $return }}