
// Buttons Group

.buttons {
  display: flex;
  justify-content: var(--align, center);
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  > *:not(.button) {
    display: flex;
    gap: .25em;
  }
}


// Button

.button {
  color: var(--base-text);
  // background-color: transparent;
  background-color: color-mix(in srgb, var(--base), transparent 100%);
  position: relative;
  @if $radius > 0.01 or $buttons-rounded or $icon-buttons-rounded {
    @extend %radius;
  }
  &::before {
    content: '';
    background-image: none;
    z-index: -1;
  }
  &::before,
  &::after {
    transition: background-color .1s;
    background-color: var(--base);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @if not $chamfer {
      z-index: -1;
    }
    // radius
    @if $radius > 0.01 or $buttons-rounded or $icon-buttons-rounded {
      @if $chamfer {
        clip-path: var(--chamfer);
      } @else {
        border-radius: var(--radius-end);
      }
    }
  }
  @if $buttons-rounded {
    --radius: 1.25em;
  }
  transition: color;
  background-image: none;
  border: none;
  // outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .375em;
  padding: .5em 1.5em;
  min-height: 2.5em;
  > .icon {
    font-size: 1.5em;
    color: var(--base-text);
    opacity: .75;
    transition: color .1s;
  }
  &:not(.button--dot) {
    > .icon {
      margin-left: -.125em;
    }
  }
  > i {
    @include font-button;
    line-height: 1.25;
    text-align: left;
  }
  @if $buttons-3d {
    transform: translateY(-.25em);
    &::after {
      content: '';
      filter: brightness(.75);
      transform: translateY(.25em);
      transition: background-color .1s, transform .1s;
      z-index: -2;
    }
    @if $chamfer {
      transition: color, filter, transform;
      filter: drop-shadow($shadow);
    } @else {
      transition: color, box-shadow, transform;
      &::after {
        box-shadow: $shadow;
      }
    }
  }
  transition-duration: .1s;
  &[disabled] {
    --base: var(--gray);
    --base-text: var(--gray-text);
    --hover: var(--gray);
    --hover-text: var(--gray-text);
    --active: var(--gray);
    --active-text: var(--gray-text);
    opacity: .5;
    cursor: not-allowed;
  }
}


// Hover, Focus and Active

.button {
  &#{$hover-focus} {
    @if $buttons-outline {
      color: var(--base);
    } @else {
      color: var(--base-text);
    }
    --base: var(--hover);
    --base-text: var(--hover-text);
    @if $buttons-3d {
      transform: translateY(-.125em);
      &::after {
        transform: translateY(.125em);
      }
      @if $chamfer {
        filter: drop-shadow($shadow-half);
      } @else {
        &::after {
          box-shadow: $shadow-half;
        }
      }
    }
  }
  &#{$active},
  &.menu__button:where(.menu__item--active > *):not(:hover) {
    @if $buttons-outline {
      color: var(--base);
    } @else {
      color: var(--base-text);
    }
    --base: var(--active);
    --base-text: var(--active-text);
    @if $buttons-3d {
      filter: none;
      transform: none;
      &::after {
        transform: none;
        box-shadow: 0 0 0 $shadow-color;
      }
    }
  }
}


// Small

.button--sm {
  gap: .25em;
  padding: .25em 1em;
  min-height: 2em;
  @if $radius > 1 or $buttons-rounded {
    --radius: 1em;
  }
  > .icon {
    font-size: 1.25em;
  }
}


// Icon

.button--dot {
  padding: .5em;
  width: 3em;
  height: 3em;
  line-height: 2;
  > .icon {
    opacity: 1;
    font-size: 2em;
  }
  > i:not(.aux) {
    @include ofuscate;
    z-index: -2;
  }
  @if $icon-buttons-rounded {
    &::before,
    &::after {
      @include circle;
    }
    @if $chamfer {
      > .icon {
        font-size: 1.5em;
      }
    }
  }
}


// Font Alternative

.button--swap {
  > i {
    @include font-button(alt);
    line-height: 1.25;
    --top-font: 0em;
  }
  &:not(.button) {
    > i {
      @include font-button;
    }
  }
}


// Pagination

.sl-close,
.sl-prev,
.sl-next {
  &::after,
  &::before {
    content: none;
  }
}


// Outline

@if $buttons-outline {
  .button {
    color: var(--text);
    > .icon {
      opacity: 1;
      color: var(--base);
    }
    &::before,
    &::after {
      @if $chamfer and ($radius > 0.01 or $buttons-rounded or $icon-buttons-rounded) {
        clip-path: var(--chamfer-outline);
      } @else {
        border: var(--outline) var(--base) solid;
        background-color: transparent;
      }
    }
    @if $buttons-3d {
      &::after {
        opacity: .25;
      }
      @if $chamfer {
        filter: none;
      } @else {
        &::after {
          box-shadow: none;
          z-index: -2;
        }
      }
    }
  }
  .button--dot:not(:hover,:focus,:active) {
    > .icon {
      color: var(--text);
    }
  }
  @if $chamfer and $icon-buttons-rounded {
    .button--dot {
      &::before,
      &::after {
        clip-path: var(--diamond-outline);
      }
    }
  }
  // Float icon
  .menu__toggle,
  .callnow .button--dot,
  .up .button--dot,
  .modal__back,
  .modal__close--corner {
    // --text: var(--base);
    // .icon {
    //   color: var(--base);
    // }
    @if $chamfer and ($radius > 0.01 or $buttons-rounded or $icon-buttons-rounded) {
      i {
        @if $icon-buttons-rounded {
          clip-path: var(--diamond);
          top: var(--outline-diamond);
          left: var(--outline-diamond);
          width: calc(100% - var(--outline-diamond) * 2);
          height: calc(100% - var(--outline-diamond) * 2);
        } @else {
          clip-path: var(--chamfer-int-outline);
        }
        background-color: var(--bg-color);
      }
    } @else {
      &::before {
        background-color: var(--bg-color);
      }
    }
  }
}