{{- $type := .type -}}
{{- if in (slice "categories" "tags" "authors") .type -}}
  {{- $type = "taxonomies" -}}
{{- end -}}
{{- $pages := .pages -}}
{{ if eq $type "events" }}
  {{ $pages = sort .pages "Params.date_ini" "desc" }}
{{ end }}
{{- $articles := merge
  site.Data.articles.common
  (index site.Data.articles $type)
  (.box | default dict)
-}}

{{- $boxes := slice -}}
{{- range $pages -}}
  {{- $description := .Params.description | default .Summary | truncate 150 -}}
  {{- $image       := .Params.image       | default $articles.image -}}
  {{- $icon_id     := $articles.icon -}}
  {{- $icon_type   := $articles.icon_type -}}
  {{- if not $icon_id | and $icon_type -}}
    {{- $tax       := index site.Data.utilities.taxonomies .Type -}}
    {{- $icon_id    = $tax.icon -}}
  {{- end -}}
  {{- $icon_type    = $icon_type | default "bottom" -}}

  {{- $boxes = $boxes
    | append (dict
      "Page"        .
      "title"       .Title
      "description" $description
      "link"        .RelPermalink
      "image"       $image
      "icon"        $icon_id
      "icon_type"   $icon_type
    )
  -}}
{{- end -}}

{{ if .is_article }}
<div class="box container container--{{ $articles.size | default `md` }} summaries__{{ .type }}">
{{ end }}

  {{- partial "components/boxes"
    (merge
      .
      (dict
        "box"       $articles
        "boxes"     $boxes
        "container" (.size | default $articles.size | default "md")
      )
    )
  -}}

{{ if .is_article }}
</div>
{{ end }}