{{ $type      := .type | default "blog" }}
{{ $type_page := page.GetPage $type }}
{{ $pages     := $type_page.Pages }}
{{ if eq $type "events" }}
  {{ $pages = sort $pages "Params.date_ini" "desc" }}
{{ end }}
{{ with .categories }}{{ $pages = where $pages "Params.categories" "intersect" . }}{{ end }}
{{ with .tags       }}{{ $pages = where $pages "Params.tags"       "intersect" . }}{{ end }}
{{ with .author     }}{{ $pages = where $pages "Params.author"     "in" . }}{{ end }}
{{ $firsts_pages     := ($pages | first (.max | default 99)) }}

{{ partial "types/article-columns"
  (merge
    .
    (dict "pages" $firsts_pages)
  )
}}

{{ if gt (len $pages) (len $firsts_pages) }}
  <div class="buttons">
    {{- partial "components/link"
      (dict
        "class"   ""
        "link"    $type_page.RelPermalink
        "button"  "link"
        "icon"    "plus"
        "emoji"   "➕"
        "label"   (i18n "more")
        "anchor"  (print (i18n "more") " " (i18n $type))
        "noindex" true
      )
    -}}
  </div>
{{ end }}