{{- $showup               := site.Data.design.performance.showup -}}
{{- $columns_num          := .columns.num | default (cond (le (len .items) 6) (len .items) 3) -}}
{{- $slider_active        := .columns.slider | default false -}}
{{- $columns_group_radius := .columns.group_radius | and (not $slider_active) -}}

{{ $section_title := "" }}
{{ $padding_hide := false }}
{{ with .section }}
  {{ $section_title = .title | default .anchor }}
  {{ with eq .padding 0 }}
    {{ $padding_hide = . }}
  {{ end }}
{{ end }}

{{- $item := merge (.columns.design | default dict) .columns (.item.more | default dict) .item (dict "more" nil) -}}
{{- with $item -}}
  {{- $item_columns_span := 1 -}}
  {{- if ge $columns_num .span -}}
    {{- $item_columns_span = div ($columns_num | float) (.span | default 1) -}}
  {{- end -}}
  {{- $link             := .link -}}
  {{ $description := "" }}
  {{ if not .hide_description }}
    {{ with .description }}
      {{ $description = partial "functions/md" (dict "content" . "not_header_links" true "nofollow" ($.footer | and (not page.IsHome))) }}
    {{ end }}
  {{ end }}
  {{- $icon_type        := .icon_type | default "top" -}}
  {{- $underline        := .underline | and (not (.icon | and (eq $icon_type "bottom"))) -}}
  {{- $bg_color         := .color -}}
  {{- $bg_image_src     := .bg -}}
  {{- $image_src        := .image -}}
  {{- if .card -}}
    {{- $bg_color        = "black" -}}
    {{- $image_src       = "" -}}
    {{- if not .bg -}}
      {{- $bg_image_src  = .image -}}
    {{- end -}}
  {{- end -}}
  {{- $bg               := $bg_color | or .gradient | or $bg_image_src -}}
  {{- $shadow           := ($bg | and (not .hide_shadow)) | or .shadow -}}
  {{- $lightbox         := findRE `\.(jpg|png|gif|webp|svg)` $link -}}
  {{- $external         := strings.HasPrefix $link "http" -}}
  {{- $anchor_link      := strings.HasPrefix $link "#" -}}
  {{- $start_slash      := $link | findRE `^/` -}}
  {{- if $link -}}
    {{- if not $external | and (not $anchor_link) | and (not $start_slash) -}}
      {{- with resources.Get ((print "/media/" $link) | replaceRE `\#.*$` ``) -}}
        {{- $link        = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $button_is        := $link | and (ne .button "hide") -}}
  {{- $is_page          := isset . "Page" -}}
  {{- $like_article     := ($is_page | and (not $button_is)) | or ($link | and (eq .button "hide")) -}}
  {{- $bg_no_content       := not (.title | or .subtitle | or $description | or .icon | or $image_src | or $button_is) | and $bg -}}
  {{- $radius           := true -}}
  {{- if .hide_radius
    | or (not ($bg | or ($image_src | and .inset)))
    | or $columns_group_radius
  -}}
    {{- $radius = false -}}
  {{- end -}}
  {{- $button_unike_link := false -}}
  {{- if $link
    | and (not ($description | findRE `\s(href|data-h|data-b)\=`))
    | and (not ($image_src | findRE `\.(mp4|mov|avi|webm)`))
    | and (not (partial `functions/is-iframe` $bg_image_src))
    | and (not ($link | findRE `\.(jpg|png|gif|webp|svg)`))
  -}}
    {{- $button_unike_link = true -}}
  {{- end -}}

  {{/*  ITEM CLASS  */}}
  {{- $item_align              := print "align-" (.align | default "center") -}}
  {{- $item_align_y_self       := cond (not .align_y)  "" (print "align-self-" .align_y) -}}
  {{- $item_align_xl           := cond (not .align_xl) "" (print "align--xl-" .align_xl) }}
  {{- $item_order              := cond (not .order)    "" (print "order-" .order) }}
  {{- $item_bg_color           := print
    (cond (not $bg_color)     "" (print "bg-" $bg_color))
    (cond (not $bg_image_src) "" " bg-image")
  -}}
  {{- $item_bg_gradient_color  := "" }}
  {{- $item_bg_gradient_type   := "" }}
  {{- if .gradient -}}
    {{- $item_bg_gradient_color = print "bg-gradient-" .gradient -}}
    {{- $item_bg_gradient_type  = print "bg-gradient-" (.gradient_type | default "linear-r") -}}
  {{- end -}}
  {{- $item_bg                 := cond (not $item_bg_color) "" "bg" -}}
  {{- $item_bg_opacity         := "" }}
  {{- if (.color_opacity | and (ne .color_opacity 100)) | and (.color | or .gradient) -}}
    {{- $item_bg_opacity        = print "bg-opacity-" .color_opacity }}
  {{- end -}}
  {{- $item_bg_radius_min      := cond
    (not
      (
        $radius
        | and ($bg | or ($image_src | and .inset))
        | and (not ($image_src | and (not .inset)))
        | and (not .pill)
        | and (not $button_is)
      )
    )
    "" "bg--radius-min"
  -}}
  {{- $parallax_fixed          := not site.Data.design.performance.parallax -}}
  {{- $item_bg_image_fixed     := cond (not ($bg_image_src | and .parallax | and $parallax_fixed)) "" "bg--image-fixed" -}}
  {{- $item_padding            := "" -}}
  {{- if eq .padding 0 -}}
    {{- $item_padding           = print "column--padding-0" -}}
  {{- else if .padding -}}
    {{- $item_padding           = print "column--padding-" (mul 100 (.padding | float)) -}}
  {{- end -}}
  {{- $item_hide_radius        := cond (not $radius)       "column--hide-radius" "" -}}
  {{- $item_shadow             := cond (not $shadow)       "" "shadow" -}}

  {{- $item_title_size         := cond (not (.title_size | and (ne .title_size 1))) "" (print "column__header--size-" (mul (float .title_size) 10)) -}}

  {{- $item_span               := cond (not .span)         "" (print "column--span-" .span) -}}
  {{/*  {{- if partial `functions/is-iframe` $bg_image_src }}bg-figure-video-parent {{ end -}}  */}}
  {{- $item_no_content         := cond (not $bg_no_content)   "" "column--only-bg" -}}
  {{- $item_pill_top           := cond (eq .ratio "circle" | or .pill) "pill-top" "" -}}
  {{- $item_pill_bottom        := cond (not .pill)         "" "pill-bottom" -}}
  {{- $item_button_hide        := cond (eq .button "hide") "column--button-hide" "" -}}
  {{- $item_card               := cond (not .card)         "" "column--card" -}}
  {{- $item_slider             := cond (not ($slider_active | and (not $.key))) "" "slider__item--active" -}}
  {{- $item_class              := delimit (slice
    "column"
    (print "column--item-" (add $.key 1))
    $item_align
    $item_align_y_self
    $item_align_xl
    $item_order
    $item_bg
    $item_bg_color
    $item_bg_gradient_color
    $item_bg_gradient_type
    $item_bg_opacity
    $item_bg_radius_min
    $item_bg_image_fixed
    $item_padding
    $item_hide_radius
    $item_shadow
    $item_title_size
    $item_span
    $item_no_content
    $item_pill_top
    $item_pill_bottom
    $item_button_hide
    $item_card
    $item_slider
    | uniq) " "
  -}}

  {{/*  ITEM  */}}
  <div class="{{ $item_class }}"
    {{- if not $slider_active | and (not $.first) | and $showup }} data-showup {{ end -}}
    {{- if $lightbox -}}
      data-lightbox="{{ $link | safeURL }}" data-h {{/* data-h to give link style */}}
    {{- else if $button_unike_link -}}
      data-{{ cond $external `b` `h` }}="{{ $link | base64Encode }}"
    {{- end -}}
  >

    {{/*  BACKGROUND  */}}
    {{- if $bg_color | or .gradient -}}
      <div class="bg-color"></div>
      {{- if site.Data.design.buttons.deep | and $shadow -}}
        <div class="bg-color bg-color--3d"></div>
      {{- end -}}
    {{- end -}}
    {{ if $bg_image_src }}
      {{ $bg_image_opacity  := cond (not (.opacity | and (ne .opacity 100))) "" (print "opacity-" .opacity) }}
      {{ $bg_image_parallax := cond (not (.parallax | and $bg_image_src | and (not $parallax_fixed))) "" " parallax" }}
      <div class="bg-figure {{ $bg_image_opacity }} {{ $bg_image_parallax }}">
          {{ partial "components/image" (dict
            "class"     "bg-figure-image"
            "src"       $bg_image_src
            "container" $.container
            "span"      $item_columns_span
            "bg"        true
            "notlazy"   ($.first | and $padding_hide | and $slider_active)
          ) }}
      </div>
    {{ end }}

    {{/*  CONTENT  */}}
    <div class="column__content">

      {{- $image_shadow := "" -}}
      {{- $page_type := .Page.Type | default "common" -}}
      {{- if in (slice "categories" "tags" "authors") $page_type -}}
        {{- $page_type = "taxonomies" -}}
      {{- end -}}
      {{- $articles := site.Data.articles.common -}}
      {{- with index site.Data.articles $page_type -}}
        {{- $articles = merge $articles . -}}
      {{- end -}}

      {{/*  IMAGE  */}}
      {{ if $image_src }}

        {{/*  IFRAME POSTER  */}}
        {{ $iframe_poster := "" }}
        {{ if partial "functions/is-iframe" $image_src | and ((in $image_src "poster") | or $is_page) }}
          {{ $iframe_poster = partial "functions/iframe-poster" $image_src }}
        {{ end }}

        {{/*  IMAGE CLASS  */}}
        {{- $image_hover   := "" -}}
        {{- $image_ratio   := "" -}}
        {{- $image_contain := "" -}}
        {{- $image_border  := "" -}}
        {{- $image_inset   := "" -}}
        {{- with .image_hover -}}{{- $image_hover   = "image--hover"                                   -}}{{- end -}}
        {{- with .ratio       -}}{{- $image_ratio   = print "image--" .                                -}}{{- end -}}
        {{- with .contain     -}}{{- $image_contain = "image--contain"                                 -}}{{- end -}}
        {{- with .border      -}}{{- $image_border  = print "image--border " (cond (ne "main" .) . "") -}}{{- end -}}
        {{- if .inset | and ($bg | or (not $padding_hide)) -}}{{- $image_inset = "image--inset"        -}}{{- end -}}
        {{- $image_svg       := cond (in $image_src ".svg")                     "image--svg" "" -}}
        {{- $image_icon_top  := cond (not (and .icon (eq $icon_type "top"))) "" "image--icon-top" -}}
        {{- $image_grayscale := cond (not .grayscale)                        "" "image--grayscale" -}}

        {{- $image_gradient  := "" -}}
        {{- if eq $image_src "gradient"
          | or (
            and
            $is_page
            $image_src
            .contain
            (eq $articles.image "gradient")
          )
        -}}
          {{- $image_gradient = "image--gradient" -}}
        {{- end -}}

        {{- $image_class := delimit (slice
          "image"
          $image_ratio
          $image_contain
          $image_border
          $image_inset
          $image_hover
          $image_svg
          $image_icon_top
          $image_grayscale
          $image_gradient
          | uniq) " "
        -}}

        {{- $image_shadow = not $shadow | and (not .hide_shadow) | and (not $image_svg) -}}
        {{- if $image_shadow -}}
          <div class="shadow">
        {{- end -}}

        <div class="{{ $image_class }}">

          {{ partial "components/image" (dict
            "class"     "image__inner"
            "src"       (cond
              (not $iframe_poster)
              $image_src
              $iframe_poster
            )
            "ratio"     .ratio
            "contain"   .contain
            "container" $.container
            "span"      $item_columns_span
            "num_xs"    .num_xs
            "notlazy"   ($.first | and $padding_hide | and $slider_active)
            | merge (cond (not ($iframe_poster | and (not $is_page)))
              (dict)
              (dict "iframe_src" (partial `functions/iframe-src` (merge . (dict `src` $image_src))))
            )
          ) }}

          {{ if .image_hover }}
            {{ partial "components/image" (dict
              "class"     "image__inner image__inner--hover"
              "src"       .image_hover
              "ratio"     .ratio
              "contain"   .contain
              "container" $.container
              "span"      $item_columns_span
              "num_xs"    .num_xs
              "notlazy"   ($.first | and $padding_hide | and $slider_active)
            ) }}
          {{ end }}

      {{ end }}

      {{/*  ICON TOP  */}}
      {{ $icon_size := "" }}
      {{ with .icon_size }}
        {{ $icon_size = print "icon--size-" . }}
      {{ end }}
      {{- $icon_size  := cond (not .icon_size) "" (print "icon--size-" .icon_size) -}}
      {{- $icon_color := .icon_color | default "main" -}}
      {{- $icon_class := delimit (slice
        $icon_size
        $icon_color
        | uniq) " "
      -}}
      {{ if and .icon (eq $icon_type "top") }}
        {{ partial "components/icon" (dict
          "class" (print "section__icon--top " $icon_class)
          "icon"  .icon
        ) }}
      {{ end }}

      {{ if $image_src }}
        {{- if $image_shadow -}}
          </div>
        {{- end -}}
        </div>
      {{ end }}

      {{/*  HEADER  */}}
      {{ if .title | or .icon | or .subtitle }}
        {{ $item_header_link := cond (not $like_article) "" "column__header--link" }}
        <div class="column__header {{ $item_header_link }}">
          {{/*  TITLE  */}}
          <div class="section__title {{ if .icon | and $icon_type }}section__title--icon-{{ $icon_type }}{{ end }}">
            {{ if .title }}
              {{ $uppercase := cond (not .uppercase) "" "uppercase" }}
              {{ $underline := cond (not $underline) "" "underline" }}
              {{ $class := cond (not ($uppercase | or $underline)) "" (print $uppercase " " $underline) }}
              {{ if $like_article }}
                <p class="h6 {{ $class }}">
                  {{ partial "components/link"
                    (dict
                      "class"     "column__link"
                      "link"      $link
                      "button"    "none"
                      "font_alt"  ""
                      "icon"      ""
                      "label"     (.title | markdownify)
                      "label_alt" ""
                      "anchor"    .anchor
                      "noindex"   .ofuscate
                    )
                  }}
                </p>
              {{ else }}
                {{ $h := 3 }}
                {{ if $.section_header | or ((not $.section_header) | and (not $section_title)) }}
                  {{ $h = 2 }}
                {{ end }}
                <h{{ $h }} {{ with $class }}class="{{ . }}"{{ end }}>{{ .title | markdownify }}</h{{ $h }}>
              {{ end }}
            {{ end }}
            {{/*  ICON  */}}
            {{ if ne $icon_type "top" }}
              {{ with .icon }}
                <div class="section__icon {{ $icon_class }}">
                  {{ partial "components/icon" (dict "icon" .) }}
                </div>
              {{ end }}
            {{ end }}
          </div>
          {{/*  SUBTITLE  */}}
          {{ with .subtitle }}
            <p class="subtitle">
              {{ . | markdownify }}
            </p>
          {{ end }}
        </div>
      {{ end }}

      {{/*  PRICE  */}}
      {{ with .price }}
        <div class="price">
          {{ . | markdownify }}
        </div>
      {{ end }}

      {{/*  DESCRIPTION  */}}
      {{ with $description }}
        <div class="column__description description {{ if $like_article }}column__description--small{{ end }}">
          {{/*
            <div class="float"></div>
            <div class="float float--r"></div>
          */}}
          {{ . }}
        </div>
      {{ end }}

      {{/*  DATA  */}}
      {{ if $like_article | and (not .pill) }}
        {{ with .Page }}
          <div class="column__data">
            {{ partial "components/data" (dict "page" . "column" $item) }}
          </div>
        {{- end -}}
      {{- end -}}

      {{/*  BUTTON  */}}
      {{ if $link }}
        {{ partial "components/link" (dict
          "class"     "column__button"
          "link"      $link
          "button"    .button
          "font_alt"  .font_alt
          "icon"      (cond (eq .licon "none") "" (.licon | default "plus"))
          "label"     .label
          "label_alt" .title
          "anchor"    .anchor
          "noindex"   .ofuscate
        ) }}
      {{ end }}

    </div>
  </div>
{{ end }}