{{- $columns       := . -}}
{{- $items         := .items | default slice -}}
{{- $container     := .container -}}
{{- $slider_active := .slider | default false -}}
{{- $showup        := site.Data.design.performance.showup -}}

{{/*  COLUMNS CLASS  */}}
{{- $num                   := .num | default (cond (le (len $items) 6) (len $items) 3) -}}
{{- $num                    = print "columns--" $num -}}
{{- $num_xs                := cond (not .num_xs)        "" "columns--xs" -}}
{{- $gap                   := cond (not .gap)           "" (print "columns--gap-" .gap) -}}
{{- if eq .gap 0 -}}
  {{- $gap                  = "columns--gap-0" -}}
{{- end -}}
{{- $grow                  := cond (not .grow)          "" "columns--grow" -}}
{{- $group_radius          := cond (not (.group_radius | and (not $slider_active))) "" "columns--group-radius" -}}
{{- $align_y               := cond (not .align_y)       "" (print "align-items-" .align_y) -}}
{{- $align_x               := cond (not .align_x)       "" (print "justify-" .align_x) -}}
{{- $slider_items          := cond (not $slider_active) "" "slider__items" -}}
{{- $items_some_bottomless := "columns--some-bottomless" -}}
{{- if .color
  | or .gradient
  | or .bg
  | or (len (where (where $items "color"          "!=" "") "color"          "!=" nil))
  | or (len (where (where $items "gradient" "!=" "") "gradient" "!=" nil))
  | or (len (where (where $items "bg"   "!=" "") "bg"   "!=" nil))
-}}
  {{- $items_some_bottomless = "" -}}
{{- end -}}

{{- $class := delimit (slice
  "columns"
  $num
  $num_xs
  $gap
  $grow
  $group_radius
  $align_y
  $align_x
  $slider_items
  $items_some_bottomless
  | uniq) " "
-}}

{{/*  SLIDER  */}}
{{ if $slider_active }}
  <div class="slider" {{ with .interval }}data-interval="{{ . }}"{{ end }}>
    <div class="slider__track">
{{ end }}

  {{/*  COLUMNS  */}}
  <div class="{{ $class }}" {{- if not $slider_active | and (not .first) | and $showup }} data-showup{{ end }}>

    {{ range $key, $value := $items }}

      {{- partial "types/column" (dict
        "columns"        $columns
        "items"          $items
        "item"           .
        "key"            $key
        "container"      $container
        "section"        $.section
        "first"          $.first
        "section_header" $.section_header
        "footer"         $.footer
      ) -}}

    {{ end }}

  </div>

{{/*  SLIDER BUTTONS  */}}
{{ if $slider_active }}
    </div>
    {{- partial "components/slider-buttons"
      (dict
        "items"        $items
        "hide_bullets" .hide_bullets
        "hide_arrows"  .hide_arrows
      )
    -}}
  </div>
{{ end }}