{{- $items := .items | default .images -}}
{{- $id    := print .id "-mas" (cond (not .k) "" (print "-" .k)) -}}
{{- if gt (len (uniq .items)) (.max | default 99) -}}
  <dialog id="{{ $id }}" class="gallery-modal modal" hidden="until-found">
    <div class="modal__container container container--sm bg bg-white shadow">
      <div class="bg-color"></div>
      <h3 class="hide">Más {{ .anchor | default .title | default .id }}</h3>
      <div class="gallery gallery-modal__items
        {{- if .alt -}}
          {{ `` }} gallery--alt
          {{- with .num }} gallery--columns-{{ . }}{{ end }}
        {{- end -}}
        {{- if .gap }} gallery--gap {{ end -}}
        {{- with .cover }} gallery--size-cover {{ end -}}
        {{- if .grayscale }} gallery--grayscale{{ end -}}
      ">
          {{- $items = after (.max | default 99) (uniq .items) -}}
          {{- range $items -}}
            {{- $image := . -}}
            {{- $link  := "" -}}
            {{- if $.items -}}
              {{- $image = .image -}}
              {{- $link  = .link -}}
            {{- end -}}
            {{- partial "types/gallery-item" (dict
              "image"     $image
              "link"      $link
              "alt"       $.alt
              "lightbox"  (not $.items)
              "num"       2
              "container" `sm`
            ) -}}
          {{- end -}}
      </div>
      <div class="buttons">
        <button class="modal__close">
          {{- partial "components/icon" (dict "icon" "xmark") -}}
          <i>{{ i18n "close" }}</i>
          {{- "" -}}
        </button>
      </div>
    </div>
    <button class="modal__back button--icon">
      {{- partial "components/icon" (dict "icon" "arrow-left") -}}
      <i>{{ i18n "back" }}</i>
      {{- "" -}}
    </button>
    {{- "" -}}
    <button class="modal__close--corner button--icon">
      {{- partial "components/icon" (dict "icon" "xmark") -}}
      <i>{{ i18n "close" }}</i>
      {{- "" -}}
    </button>
  </dialog>
{{- end -}}