{{- $style_width  := "" -}}
{{- $style_height := "" -}}
{{- $image        := .image -}}
{{- if .alt -}}
  {{- $width  := 200 -}}
  {{- $height := 100 -}}
  {{- with .image -}}

    {{- if $image | findRE `\.(mp4|mov|avi|webm)` -}}{{/*  IS VIDEO  */}}

      {{/*  {{- $image   = print "/media/" $image | replaceRE `[\#\&\?].*$` `` -}}  */}}
      {{- $poster := "" -}}
      {{- if in $image "poster=" -}}
        {{- $poster = print "/media/" ($image | replaceRE `^.+?poster\=([\w\d\.-]+/).*$` `$1`) -}}
      {{- else -}}
        {{- range (slice "jpg" "jpeg" "png" "gif" "webp" "svg") -}}
          {{- $path  := print "/media/" $image | replaceRE `[\#\&\?].*$` `` -}}
          {{- $file  := $path | replaceRE `^(.+)\..+$` (print `$1.` .) -}}
          {{- $asset := print "assets" $file -}}
          {{- if fileExists $asset -}}
            {{- $poster = $file -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- with resources.Get $poster }}
        {{- $width  = .Width -}}
        {{- $height = .Height -}}
        {{- $image  = $poster -}}
      {{ end }}

    {{ else }}

      {{- with resources.Get (print "/media/" .) -}}
        {{- if in $image ".svg" -}}{{/*  IS SVG  */}}
          {{- $svg := (. | minify).Content }}
          {{- $view_box := $svg
            | replaceRE
              `.*viewBox="([\d\.-]+) ([\d\.-]+) ([\d\.-]+) ([\d\.-]+)".*`
              `$1,$2,$3,$4`
          -}}
          {{- $view_box_split := split $view_box "," -}}
          {{- $width  = sub (float (index $view_box_split 2)) (float (index $view_box_split 0)) -}}
          {{- $height = sub (float (index $view_box_split 3)) (float (index $view_box_split 1)) -}}
        {{- else -}}
          {{- $width  = .Width -}}
          {{- $height = .Height -}}
        {{- end -}}
      {{- end -}}

    {{ end }}

  {{- end -}}
  {{- $style_width  = lang.NumFmt 2 (div (mul (div (float $width) (float $height)) (div 600 .num)) 16) -}}
  {{- $style_height = lang.NumFmt 2 (mul (div (float $height) (float $width)) 100) -}}
{{- end -}}

{{- $external := strings.HasPrefix .image "http" -}}
{{- if not $external -}}
  {{- if not (in $.image "/media/") -}}
    {{- with resources.Get (print "/media/" .image) -}}
      {{- $image = .RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if .lightbox -}}
  <div class="gallery__item" data-lightbox="{{ $image }}" tabindex="0"
{{- else if .link -}}
  <a class="gallery__item" href="{{ .link }}"
    {{- if $external }} target="_blank" rel="noopener"{{ end }}
    title="{{ .image | replaceRE `\..+$` `` }}"
{{- else -}}
  <div class="gallery__item" tabindex="0"
{{- end -}}
  {{- if .alt -}}
    {{- ` ` | safeHTMLAttr -}}
    style="--gallery-item-width:{{ $style_width }};--gallery-item-height:{{ $style_height }}%"
  {{- end -}}
  >

  {{- partial "components/image"
    (dict
      "class"     "gallery__image"
      "src"       .image
      "container" $.container
      "span"      $.num
    )
  -}}

{{- if not .lightbox | and .link -}}
  </a>
{{- else -}}
  </div>
{{- end -}}