{{- $items            := .items | default .images -}}
{{- $button_icon      := (cond (eq .icon "none") "" (.icon | default "plus")) -}}
{{- $is_button_expand := eq .type "rows" | and (.images | or .link) | and (ne .button "hide") -}}
{{- $is_button_custom := .link | and (ne .type "rows") -}}
{{- $showup         := site.Data.design.performance.showup -}}

{{- $wrap_class := partial "functions/attr-delimit" (dict
  "array" (slice
    (cond (not .wrap) "" "gallery-wrap")
    (cond (not .wrap | or (eq .wrap "transparent")) "" (print "bg bg-" .wrap))
  )
) -}}

<div class="box__type {{ $wrap_class }}" {{- if $showup }} data-showup{{ end }}>
  {{- if .wrap | and (ne .wrap "transparent") -}}
    <div class="bg-color"></div>
  {{- end -}}

  {{- $gap       := cond (not .gap)           "" "gallery--gap" }}
  {{- $grayscale := cond (not .grayscale)     "" "gallery--grayscale" }}
  {{- $contain   := cond (in .type "contain") "gallery--contain" "" }}
  {{- $columns   := print "columns--" (.columns | default 2) }}
  {{- if not .type | or (in .type "grid") }}
    {{- $columns  = print $columns " columns columns--min-2 columns--grid" }}
  {{- else if eq .type "columns" }}
    {{- $columns  = print $columns " columns columns--min-2 columns--bottom" }}
  {{- else if eq .type "rows" }}
    {{- $columns  = print $columns " gallery--rows" }}
  {{- end }}

  {{- $class := partial "functions/attr-delimit" (dict
    "array" (slice
      "gallery"
      $columns
      $contain
      $gap
      $grayscale
    )
  ) -}}

  <div class="{{ $class }}">
    {{- range uniq $items -}}
      {{- $image := . -}}
      {{- $link  := "" -}}
      {{- if $.items -}}
        {{- $image = .image -}}
        {{- $link  = .link -}}
      {{- end -}}
      {{- partial "types/gallery-item" (dict
        "image"     $image
        "link"      $link
        "type"      $.type
        "lightbox"  (not $.items)
        "columns"   ($.columns | default 2)
        "container" $.container
      ) -}}
    {{- end -}}
    {{- if $is_button_expand -}}
      {{- partial "components/link" (dict
        "class"     "gallery__expand"
        "link"      .link
        "button"    (.button | default "light")
        "font_alt"  ""
        "icon"      (cond (eq .licon "none") "" (.licon | default "plus"))
        "label"     "none"
        "anchor"    ""
        "noindex"   .ofuscate
      ) -}}
    {{- end -}}
  </div>
</div>
{{- if $is_button_custom -}}
  <div class="buttons">
    {{- partial "components/link" (dict
      "class"    ""
      "link"     .link
      "button"   .button
      "font_alt" .font_alt
      "icon"     .icon
      "label"    .label
      "anchor"   .anchor
      "noindex"  .ofuscate
    ) -}}
  </div>
{{- end -}}