{{- $level     := .level -}}
{{- $container := .container -}}
{{- $showup    := site.Data.styles.performance.showup -}}
{{- $box       := . -}}
{{- $boxes     := slice -}}
{{- range .boxes | default slice -}}
  {{- $if := partial "functions/if" (dict "Page" page "if" .if) -}}
  {{- if $if -}}
    {{- $boxes  = $boxes | append . -}}
  {{- end -}}
{{- end -}}

{{- $columns       := 1 -}}
{{- $columns_min   := 1 -}}
{{- with .box -}}
  {{- $columns      = .columns | default 1 -}}
  {{- $columns_min  = .columns_min | default 1 -}}
  {{- if eq .columns 0 -}}
    {{- $boxes_span  := 0 -}}
    {{- range $boxes -}}
      {{- $boxes_span = add $boxes_span (.span | default .span_min | default 1) -}}
    {{- end -}}
    {{- $columns      = cond (le $boxes_span 6) $boxes_span 3 -}}
  {{- end -}}
  {{- if eq .columns_min 0 -}}
    {{- $boxes_span  := 0 -}}
    {{- range $boxes -}}
      {{- $boxes_span = add $boxes_span (.span_min | default 1) -}}
    {{- end -}}
    {{- $columns_min  = cond (le $boxes_span 6) $boxes_span 3 -}}
  {{- end -}}
{{- end -}}

{{- $is_wrap          := or (ne $columns 1) (ne $columns_min 1) -}}

{{- with .box -}}
  {{- $is_wrap         = or $is_wrap .slider -}}
  {{- if $is_wrap -}}
    {{- $level         = add $.level 1 -}}

    {{/*  CLASS  */}}
    {{/*  {{- $boxes_level  := print "boxes--" (sub $level 1) -}}  */}}
    {{- $class := partial "functions/attr-delimit" (dict
      "attr"  "class"
      "array" (slice
        "boxes"
        (cond (or (gt $columns 2) (eq $container "xs") (eq $container "sm")) "boxes--sm" "")
        (cond (not (.direction | or (eq .direction "right"))) "" (print "boxes--" .direction))
        (cond (not (.group_radius | and (not .slider))) "" "boxes--radius")
        (cond (not .align_y) "" (print "align-items-" .align_y))
        (cond (not .align_x) "" (print "justify-" .align_x))
        (cond (not .slider)  "box__block" "slider__items")
      )
    ) -}}


    {{/*  STYLE  */}}
    {{ $style := partial "functions/attr-delimit" (dict
      "attr"    "style"
      "delimit" ";"
      "array"   (slice
        (cond (eq $columns 1)     "" (print "--columns-max:" $columns))
        (cond (eq $columns_min 1) "" (print "--columns-min:" $columns_min))
        (cond (eq .gap nil)       "" (print "--columns-gap-max:" .gap))
        (cond (eq .gap_y nil)     "" (print "--columns-gap-ny:" .gap_y))
      )
    ) }}

    {{/*  SHOWUP  */}}
    {{ $showup := cond (and $showup (not .slider) (not .first)) "data-showup" "" }}

    {{/*  JOIN ATTRIBUTES  */}}
    {{ $attr := partial "functions/attr-delimit" (dict
      "array" (slice
        $class
        $style
        $showup
      )
    ) }}

    {{/*  SLIDER  */}}
    {{ if .slider }}
      <div class="slider box__block" {{ with .interval }}data-interval="{{ . }}"{{ end }}>
        <div class="slider__track">
    {{ end }}

    {{/*  BOXES  */}}
    <div {{ $attr | safeHTMLAttr }}>
  {{ end }}
{{ end }}

        {{ $parent  := dict }}
        {{ if not .article_list }}
          {{ $parent = dict
            "uppercase"   $box.uppercase
            "underline"   $box.underline
            "icon_type"   $box.icon_type
            "icon_size"   $box.icon_size
            "icon_color"  $box.icon_color
            "ratio"       $box.ratio
            "contain"     $box.contain
            "border"      $box.border
            "inset"       $box.inset
            "grayscale"   $box.grayscale
            "hide_shadow" $box.hide_shadow
            "hide_radius" $box.hide_radius
          }}
        {{ end }}

        {{ range $key, $value := $boxes }}
          {{/*  BOX  */}}
          {{ partial "components/boxes/box" (merge
            $parent
            $.box
            .
            (dict
              "id"           $.id
              "level"        $level
              "key"          $key
              "container"    $container
              "section"      $.section
              "first"        $.first
              "footer"       $.footer
              "columns"      $columns
              "columns_min"  $columns_min
              "is_wrap"      $is_wrap
              "article_list" $.article_list
            )
          ) }}
        {{ end }}

{{- if $is_wrap -}}
  {{- with .box -}}
    </div>

    {{/*  SLIDER BUTTONS  */}}
    {{ if .slider }}
      </div>
        {{- partial "components/slider-buttons"
          (dict
            "items"   (len $boxes)
            "bullets" .bullets
            "arrows"  .arrows
            "button"  .button
          )
        -}}
      </div>
    {{ end }}
  {{ end }}
{{ end }}