{{- $cols := partial "functions/columns" (dict
  "each"    .box
  "items"   .boxes
  "span_xl" .span_xl
  "span_xs" .span_xs
) -}}
{{- $boxes   := $cols.items -}}
{{- $box     := . -}}
{{- $level   := .level -}}

{{- $boxes_wrap  := or
  (and (ne .box.cols nil)     (ne .box.cols 1))
  (and (ne .box.cols_min nil) (ne .box.cols_min 1))
-}}

{{- with .box -}}
  {{- $boxes_wrap = or
    $boxes_wrap
    .gap
    .gap_min
    .gap_ny
    .direction
    .group_radius
    .slider
    .align_y
    .align_x
  -}}
  {{- if $boxes_wrap -}}
    {{- $level = add $.level 1 -}}

    {{/*  CLASS  */}}
    {{/*  {{- $boxes_level  := print "boxes--" (sub $level 1) -}}  */}}
    {{- $class := partial "functions/attr-delimit" (dict
      "attr"  "class"
      "array" (slice
        "boxes"
        (cond (or (gt $cols.max 2) (eq $.container "xs") (eq $.container "sm")) "boxes--sm" "")
        (cond (not (.direction | or (eq .direction "right"))) "" (print "boxes--" .direction))
        (cond (not (.group_radius | and (not .slider))) "" "boxes--radius")
        (cond (not .align_y) "" (print "align-items-" .align_y))
        (cond (not .align_x) "" (print "justify-" .align_x))
        (cond (not .slider)  "box__block" "slider__items")
      )
    ) -}}


    {{/*  STYLE  */}}
    {{ $style := partial "functions/attr-delimit" (dict
      "attr"    "style"
      "delimit" ";"
      "array"   (slice
        (cond (eq $cols.max 1)  "" (print "--cols-max:" $cols.max))
        (cond (eq $cols.min 1)  "" (print "--cols-min:" $cols.min))
        (cond (eq .gap nil)     "" (print "--cols-gap-max:" .gap))
        (cond (eq .gap_min nil) "" (print "--cols-gap-min:" .gap_min))
        (cond (eq .gap_ny nil)  "" (print "--cols-gap-ny:"  .gap_ny))
      )
    ) }}

    {{/*  JOIN ATTRIBUTES  */}}
    {{ $attr := partial "functions/attr-delimit" (dict
      "array" (slice
        $class
        $style
      )
    ) }}

    {{/*  SLIDER  */}}
    {{ if .slider }}
      <div class="slider box__block" {{ with .interval }}data-interval="{{ . }}"{{ end }}>
        <div class="slider__track">
    {{ end }}

    {{/*  BOXES  */}}
    <div {{ $attr | safeHTMLAttr }}>
  {{ end }}
{{ end }}

        {{ $parent  := dict }}
        {{ if and (not .list_pages) (not .main) }}
          {{ with $box }}
            {{ $parent = dict
              "uppercase"   .uppercase
              "underline"   .underline
              "icon_type"   .icon_type
              "icon_size"   .icon_size
              "icon_color"  .icon_color
              "ratio"       .ratio
              "contain"     .contain
              "border"      .border
              "inset"       .inset
              "grayscale"   .grayscale
              "hide_shadow" .hide_shadow
              "hide_radius" .hide_radius
            }}
          {{ end }}
        {{ end }}

        {{ range $key, $value := $boxes }}
          {{/*  BOX  */}}
          {{ partial "components/boxes/box" (merge
            $parent
            $.box
            .
            (dict
              "level"     $level
              "key"       $key
              "bgcp"      $.bgcp
              "container" $.container
              "span_xl"   $cols.span_xl
              "span_xs"   $cols.span_xs
              "section"   $.section
              "first"     $.first
              "footer"    $.footer
              "cols"      $cols.max
              "cols_min"  $cols.min
              "box_wrap"  $boxes_wrap
            )
          ) }}
        {{ end }}

{{- if $boxes_wrap -}}
  {{- with .box -}}
    </div>

    {{/*  SLIDER BUTTONS  */}}
    {{ if .slider }}
      </div>
        {{- partial "components/slider-buttons"
          (dict
            "items"   (len $boxes)
            "bullets" .bullets
            "arrows"  .arrows
            "button"  .button
          )
        -}}
      </div>
    {{ end }}
  {{ end }}
{{ end }}