{{/*  CLASS  */}}

{{ $no_content := .bg | and (not (or
  .title
  .subtitle
  .description
  .icon
  .image_src
  .button_is
  .boxes
  .steps
  .images
  .limages
  .lists
  .collapsibles
  .reviews
  .buttons
  .social
  .inputs
  .map
)) }}

{{ $container_size := cond (not .main) "" (
  .size
  | default (cond
    (.ph | default false)
    "fluid"
    (cond .modal "sm" "lg")
  )
) }}

{{ $box_bg_color := print
  (cond (not .bg_color)     "" (print "bg-" .bg_color))
  (cond (not .bg_image_src) "" " bg-image")
}}

{{ $box_ratio := cond
  (not .card)
  (cond (not $no_content) "" "box--16x9")
  "box--2x3"
}}

{{/*
{{ $box_bg_image_fix       := cond (not (.bg_image_src | and .parallax))               "" "bg--fix" }}
{{ $bg_figure_video_parent := cond (not (partial `functions/is-iframe` .bg_image_src)) "" "bg-figure-video-parent" }}
*/}}

{{ $box_class := partial "functions/attr-delimit" (dict
  "attr"  "class"
  "array" (slice
    "box"
    (cond .main                      "" (print "box--" (add .key 1)))
    (cond (not .main)                "" "container")
    (cond (not .main)                "" (print "container--" $container_size))
    (cond (not (.main | and .modal)) "" "modal__container")
    (cond (not .align)               "" (print "align-" .align))
    (cond (not .align_y)             "" (print "align-self-" .align_y))
    (cond (not .align_max)           "" (print "align--xl-" .align_max))
    (cond (not $box_bg_color)        "" "bg")
    $box_bg_color
    (cond (not .gradient)            "" (print "bg-gradient-" .gradient))
    (cond (not .gradient)            "" (print "bg-gradient-" (.gradient_type | default "linear-r")))
    (cond (and (not .span) (not .span_min))     "" "box--span")
    (cond (not .grow)                           "" "box--grow")
    (cond (not .box_ratio) $box_ratio (print "box--" .box_ratio))
    (cond (not .hide_radius)                    "" "box--hide-radius")
    (cond (not .hide_shadow)                    "" "box--hide-shadow")
    (cond (not .card)                           "" "box--card")
    (cond (not .pill)                           "" "pill-bottom")
    (cond (not (or .pill (eq .ratio "circle"))) "" "pill-top")
    (cond (ne .button "hide")                   "" "box--button-hide")
    (cond (not (.slider | and (not .key)))      "" "slider__item--active")
  )
) }}


{{/*  STYLE  */}}

{{ $box_bg_alpha := and (.color_alpha | and (ne .color_alpha 100)) (.color | or .gradient) }}

{{ $box_style := partial "functions/attr-delimit" (dict
  "attr"    "style"
  "delimit" ";"
  "array"   (slice
    (cond (not $box_bg_alpha)                   "" (print "--bg-alpha:" .color_alpha))
    (cond (not .order)                          "" (print "--order:" .order))
    (cond (eq .box_gap nil)                     "" (print "--box-gap:" .box_gap "rem"))
    (cond (eq .padding nil)                     "" (print "--box-padding:" .padding "em"))
    (cond (or (not .span) (eq .span 1))         "" (print "--box-span-max:" .span))
    (cond (or (not .span_min) (eq .span_min 1)) "" (print "--box-span-min:" .span_min))
  )
) }}


{{/*  SHOWUP  */}}

{{ $box_showup  := cond .showup "data-showup" "" }}


{{/*  JOIN  */}}

{{ $box_attr := partial "functions/attr-delimit" (dict
  "array" (slice
    $box_class
    $box_style
    $box_showup
  )
) }}


{{ return $box_attr }}
