{{- $page := .Page | default page -}}
{{- $box  := . -}}

{{- /*  MERGE VARS  */ -}}
{{- with $box -}}

  {{- /*  color and bgcp  */ -}}
  {{- $color := .color | default (cond .modal "white" (cond (not .card) "" "black")) -}}
  {{- $bgc   := partial "functions/color-background" (dict "child" $color "parent" .bgcp) -}}

  {{- /*  fit col  */ -}}
  {{- $col_vl := mul .col_vl (.fit    | default 1.00) -}}
  {{- $col_vs := mul .col_vs (.fit_vs | default 1.00) -}}

  {{- /*  bg and image  */ -}}
  {{- $bg    := .bg -}}
  {{- $image := .image -}}
  {{- if .card -}}
    {{- $image = "" -}}
    {{- if not .bg -}}
      {{- $bg = .image -}}
    {{- end -}}
  {{- end -}}
  {{- $is_bg := or $bg $color .fade -}}

  {{- /*  images  */ -}}
  {{- $gallery := .gallery -}}
  {{- $images  := slice -}}
  {{- $rawimgs := slice -}}
  {{- range .images -}}
    {{- $image  := dict "image" . "link"  . -}}
    {{- $rawimgs = $rawimgs | append $image -}}
  {{- end -}}
  {{- range .limages -}}
    {{- $rawimgs = $rawimgs | append . -}}
  {{- end -}}
  {{- range $k, $v := $rawimgs -}}
    {{- $alt := .alt -}}
    {{- if not .alt -}}
      {{- with $gallery -}}
        {{- with .alt -}}
          {{- $alt = print . " " (add $k 1) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $image := merge . (dict "alt" $alt) -}}
    {{- $images = $images | append $image -}}
  {{- end -}}

  {{- /*  link  */ -}}
  {{- $link             := .link -}}
  {{- if $link -}}
    {{- $external       := hasPrefix $link "http" -}}
    {{- $is_anchor_link := hasPrefix $link "#" -}}
    {{- $start_slash    := $link | findRE `^/` -}}
    {{- if and (not $external) (not $is_anchor_link) (not $start_slash) -}}
      {{- with resources.Get ((print "/media/" $link) | replaceRE `\#.*$` "") -}}
        {{- $link        = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /*  boxes  */ -}}
  {{- $boxes := slice -}}
  {{- range .boxes -}}
    {{- $opts := dict "Page" $page "item" . -}}
    {{- with partial "functions/params-merge" $opts -}}
      {{- $boxes = $boxes | append . -}}
    {{- end -}}
  {{- end -}}

  {{- /*  others  */ -}}
  {{- $icon_type      := .icon_type | default (cond .main "bottom" "top") -}}
  {{- $group_radius   := .group_radius | and (not .slider) -}}
  {{- $underline      := and .underline (not (and .icon (eq $icon_type "bottom"))) -}}
  {{- $show           := site.Data.config.others.show -}}
  {{- $is_title       := or .title .hanchor .menu_label -}}
  {{- $is_title_link  := and $link (eq .button "hide") $is_title -}}
  {{- $is_button_hide := and $link (eq .button "hide") (not $is_title) -}}
  {{- $is_button_show := and $link (ne .button "hide") -}}
  {{- $is_button_link := or $is_button_show $is_button_hide -}}

  {{- /*  merge  */ -}}
  {{- $to_merge := dict
    "bgcp"           $bgc.parent
    "color"          $bgc.child
    "col_vl"         $col_vl
    "col_vs"         $col_vs
    "is_bg"          $is_bg
    "bg"             $bg
    "image"          $image
    "images"         $images
    "link"           $link
    "boxes"          $boxes
    "icon_type"      $icon_type
    "group_radius"   $group_radius
    "underline"      $underline
    "show"           $show
    "is_title_link"  $is_title_link
    "is_button_hide" $is_button_hide
    "is_button_link" $is_button_link
    "box_wrap"       nil
    "prev"           nil
    "next"           nil
  -}}
  {{- $box = merge . $to_merge -}}

{{- end -}}


{{- /*  BOX  */ -}}
{{- with $box -}}

  {{- /*  WRAP  */ -}}
  {{- $box_wrap := or
    $.box_wrap
    .fit
    .fit_vs
    .node
    .is_bg
    .parallax
    .pd
    .pill
    .align
    .align_vl
    .align_x
    .order
    .space
  -}}

  {{- $node := .node | default "div" -}}

  {{- if $box_wrap -}}

    {{- /*  ATTRIBUTES  */ -}}
    {{- $box_attr  := partial "components/boxes/attr" . -}}

    {{- /*  BOX  */}}
    {{ print "<" $node $box_attr ">" | safeHTML -}}

      {{- /*  BACKGROUND  */ -}}
      {{- partial "components/bg" . -}}

  {{- end -}}

    {{- /*  IMAGE  */ -}}
    {{- partial "components/boxes/image" . -}}

    {{- /*  TITLE  */ -}}
    {{- partial "components/boxes/title" . -}}

    {{- /*  ICON BOTTOM  */ -}}
    {{- if eq .icon_type "bottom" -}}
      {{- partial "components/boxes/icon" . -}}
    {{- end -}}

    {{- /*  SUBTITLE  */ -}}
    {{- with .subtitle }}
      <p class="box__subtitle subtitle">
        {{- . | markdownify -}}
      </p>
    {{- end -}}

    {{- /*  PRICE  */ -}}
    {{- with .price }}
      <div class="price">
        {{- . | markdownify -}}
      </div>
    {{- end -}}

    {{- /*  MD  */ -}}
    {{- if .md -}}
      {{- partial "components/boxes/md" . -}}
    {{- end -}}

    {{- /*  TYPES  */ -}}

    {{- /*  STEPS  */ -}}
    {{- if .steps -}}
      {{- partial "components/blocks/steps" (merge
        (.step | default dict)
        (dict
          "steps" .steps
          "level" .level
        )
      ) -}}
    {{- end -}}

    {{- /*  GALLERY  */ -}}
    {{- if .images -}}
      {{- if eq .gallery.type "boxes" -}}
        {{- $boxes_images := slice -}}
        {{- range $k, $v := .images -}}
          {{- $anchor := .alt | default .image | replaceRE `^(.+)\..*$` "$1" | humanize -}}
          {{- $boxes_image := merge . (dict "anchor" $anchor) -}}
          {{- $boxes_images = $boxes_images | append $boxes_image -}}
        {{- end -}}
        {{- partial "components/boxes/_" (merge
          (dict
            "box" (dict
              "button"  "hide"
              "cols"    .cols
              "color"   .color
              "gap"     .gap
              "ratio"   .ratio
              "contain" .contain
              "gray"    .gray
            )
          )
          .
          (dict "boxes" $boxes_images)
        ) -}}
      {{- else -}}
        {{- partial "components/blocks/gallery" (merge
          (.gallery | default dict)
          (dict
            "bgcp"      .bgcp
            "images"    .images
            "container" .container
            "col_vs"    .col_vs
            "col_vl"    .col_vl
          )
        ) -}}
      {{- end -}}
    {{- end -}}

    {{- /*  LIST  */ -}}
    {{- if .list -}}
      {{- partial "components/blocks/list" . -}}
    {{- end -}}

    {{- /*  ACCORDION  */ -}}
    {{- if .accordions -}}
      {{- partial "components/blocks/accordion" . -}}
    {{- end -}}

    {{- /*  REVIEWS  */ -}}
    {{- if .reviews -}}
      {{- partial "components/blocks/reviews" (merge
        (.review | default dict)
        (dict
          "reviews" .reviews
          "bgcp"    .bgcp
        )
      ) -}}
    {{- end -}}

    {{- /*  SOCIAL  */ -}}
    {{- if .social -}}
      {{- partial "components/blocks/social" . -}}
    {{- end -}}

    {{- /*  CONTACT  */ -}}
    {{- if .contact -}}
      {{- partial "components/blocks/contact" . -}}
    {{- end -}}

    {{- /*  FORM  */ -}}
    {{- if .inputs -}}
      {{- partial "components/blocks/form" (merge
        .
        (dict "Page" $page)
      ) -}}
    {{- end -}}

    {{- /*  MAP  */ -}}
    {{- if .geos -}}
      {{- partial "components/blocks/map" . -}}
    {{- end -}}

    {{- /*  GSS  */ -}}
    {{- if .gss -}}
      {{- partial "components/blocks/gss" . -}}
    {{- end -}}

    {{- /*  BOXES  */ -}}
    {{- if .boxes -}}
      {{- partial "components/boxes/_" . -}}
    {{- end -}}

    {{- /*  END TYPES  */ -}}

    {{- /*  TAGS  */ -}}
    {{- if .tags -}}
      {{- partial "components/tags/_" . -}}
    {{- end -}}

    {{- /*  BUTTON  */ -}}
    {{- if .is_button_link -}}
      {{- /*  anchor2: last default priority, prev $anchor_page  */}}
      {{ partial "components/link" (dict
        "class"   "box__button box-go"
        "button"  (.button | default "cta")
        "swap"    .swap
        "icon"    .pin
        "label"   (.label   | default (i18n "more") | markdownify)
        "anchor"  (.anchor  | default .label        | markdownify)
        "anchor2" (.hanchor | default .title        | markdownify)
        "link"    .link
        "lock"    .ofuscate
      ) -}}
    {{- end -}}

    {{- /*  MODAL BUTTONS CLOSE, PREV AND NEXT  */ -}}
    {{- if .main -}}
      {{- if and .modal (not .ph) }}
        <div class="buttons">
          {{- with $.prev }}
            {{ partial "components/link" (dict
              "class" "modal__prev"
              "button" "cta"
              "dot"   true
              "icon"  (site.Data.styles.icons.left | default "chevron-left")
              "emoji" "⬅️"
              "label" (i18n "prev")
              "link"  (print "#" .id)
            ) -}}
          {{- end }}
          {{ partial "components/link" (dict
            "class" "modal__close"
            "button" "cta"
            "dot"    (and $.prev $.next)
            "icon"   "xmark"
            "emoji"  "❌"
            "label"  (i18n "close")
          ) -}}
          {{- with $.next }}
            {{ partial "components/link" (dict
              "class"  "modal__next"
              "button" "cta"
              "dot"    true
              "icon"   (site.Data.styles.icons.right | default "chevron-right")
              "emoji"  "➡️"
              "label"  (i18n "next")
              "link"   (print "#" .id)
            ) -}}
          {{- end }}
        </div>
      {{- end -}}
    {{- end -}}

  {{- if $box_wrap }}
    {{ print "</" $node ">" | safeHTML -}}
  {{- end -}}
{{- end -}}
