{{- $box  := . -}}

{{- /*  MERGE PARAMS  */ -}}
{{- range .params -}}
  {{- $value    := .value -}}
  {{- with .value -}}
    {{- $value   = unmarshal . -}}
  {{- else -}}
    {{- with .page | default .box -}}
      {{- if eq . "filename" -}}
        {{- $value = page.File.TranslationBaseName -}}
      {{- else -}}
        {{- $value = partial "functions/param" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if $value -}}
    {{- $keys := split .box "." -}}
    {{- $obj  := dict -}}
    {{- if eq (len $keys) 2 -}}
      {{- $obj = dict (index $keys 0) (dict (index $keys 1) $value) -}}
    {{- else -}}
      {{- $obj = dict (index $keys 0) $value -}}
    {{- end -}}
    {{- $box  = merge $box $obj -}}
  {{- end -}}
{{- end -}}


{{- /*  MERGE VARS  */ -}}
{{- with $box -}}

  {{- /*  color and bgcp  */ -}}
  {{- $color := .color | default (cond .modal "white" (cond (not .card) "" "black")) -}}
  {{- $bgc   := partial "functions/color-background" (dict "child" $color "parent" .bgcp) -}}

  {{- /*  fit col  */ -}}
  {{- $col_vl := mul .col_vl (.fit    | default 1.00) -}}
  {{- $col_vs := mul .col_vs (.fit_vs | default 1.00) -}}
  
  {{- /*  link  */ -}}
  {{- $link             := .link -}}
  {{- if $link -}}
    {{- $external       := hasPrefix $link "http" -}}
    {{- $is_anchor_link := hasPrefix $link "#" -}}
    {{- $start_slash    := $link | findRE `^/` -}}
    {{- if and (not $external) (not $is_anchor_link) (not $start_slash) -}}
      {{- with resources.Get ((print "/media/" $link) | replaceRE `\#.*$` "") -}}
        {{- $link        = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /*  boxes  */ -}}
  {{- $boxes    := slice -}}
  {{- range .boxes | default slice -}}
    {{- $if := partial "functions/if" (dict "Page" page "if" .if) -}}
    {{- if $if -}}
      {{- $boxes = $boxes | append . -}}
    {{- end -}}
  {{- end -}}

  {{- /*  images  */ -}}
  {{- $gallery := .gallery -}}
  {{- $images  := slice -}}
  {{- range $k, $v := .images -}}
    {{- $alt := "" -}}
    {{- with $gallery -}}
      {{- with .alt -}}
        {{- $alt = print .alt " " (add $k 1) -}}
      {{- end -}}
    {{- end -}}
    {{- $images = $images | append (dict
      "image"  .
      "alt"    $alt
      "link"   "lightbox"
    ) -}}
  {{- end -}}
  {{- range $k, $v := .limages -}}
    {{- $alt := .alt -}}
    {{- if not .alt -}}
      {{- with $gallery -}}
        {{- with .alt -}}
          {{- $alt = print .alt " " (add $k 1) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $images = $images | append (dict
      "image"  .image
      "alt"    $alt
      "link"   .link
    ) -}}
  {{- end -}}

  {{- /*  others  */ -}}
  {{- $icon_type     := .icon_type | default (cond .main "bottom" "top") -}}
  {{- $show          := site.Data.config.others.show -}}
  {{- $group_radius  := .group_radius | and (not .slider) -}}
  {{- $underline     := and .underline (not (and .icon (eq $icon_type "bottom"))) -}}
  {{- $like_article  := and .title $link (eq .button "hide") -}}

  {{- /*  merge  */ -}}
  {{- $box = merge . (dict
    "bgcp"         $bgc.parent
    "color"        $bgc.child
    "col_vl"       $col_vl
    "col_vs"       $col_vs
    "link"         $link
    "boxes"        $boxes
    "images"       $images
    "icon_type"    $icon_type
    "show"         $show
    "group_radius" $group_radius
    "underline"    $underline
    "like_article" $like_article
    "box_wrap"     nil
    "prev"         nil
    "next"         nil
    ) -}}

{{- end -}}


{{- /*  BOX  */ -}}
{{- with $box -}}

  {{- /*  WRAP  */ -}}
  {{- $box_wrap := or
    $.box_wrap
    .fit
    .fit_vs
    .node
    .color
    .fade
    .bg
    .parallax
    .pd
    .pill
    .align
    .align_vl
    .align_x
    .order
    .space
  -}}

  {{- $node := .node  | default "div" -}}

  {{- if $box_wrap -}}

    {{- $image_src        := .image -}}
    {{- $bg_image_src     := .bg -}}

    {{- if .card -}}
      {{- $image_src       = "" -}}
      {{- if not .bg -}}
        {{- $bg_image_src  = .image -}}
      {{- end -}}
    {{- end -}}
    {{- $bg        := .color | or .fade | or $bg_image_src -}}

    {{- $shadow    := $bg | and (not .hide_shadow) -}}
    {{- $radius    := true -}}
    {{- if .hide_radius
      | or (not ($bg | or ($image_src | and .inset)))
      | or .group_radius
    -}}
      {{- $radius   = false -}}
    {{- end -}}
    {{- $button_is := .link | and (ne .button "hide") -}}

    {{- /*  ATTRIBUTES  */ -}}
    {{- $box_attr  := partial "components/boxes/attr" (merge . (dict
      "bg_color"     .color
      "bg_image_src" $bg_image_src
      "bg"           $bg
      "image_src"    $image_src
      "button_is"    $button_is
      "radius"       $radius
      "shadow"       $shadow
      "show"         (and (not .slider) (not .header) .show)
    )) -}}

    {{- /*  BOX  */}}
    {{ print "<" $node $box_attr ">" | safeHTML -}}

      {{- /*  BACKGROUND  */ -}}
      {{- partial "components/bg" (merge . (dict
        "bg"     $bg_image_src
        "shadow" $shadow
        "box"    true
      )) -}}

  {{- end -}}

    {{- /*  IMAGE  */ -}}
    {{- partial "components/boxes/image" . -}}

    {{- /*  TITLE  */ -}}
    {{- partial "components/boxes/title" . -}}

    {{- /*  ICON BOTTOM  */ -}}
    {{- if eq .icon_type "bottom" -}}
      {{- partial "components/boxes/icon" . -}}
    {{- end -}}

    {{- /*  SUBTITLE  */ -}}
    {{- with .subtitle }}
      <p class="box__subtitle subtitle">
        {{- . | markdownify -}}
      </p>
    {{- end -}}

    {{- /*  PRICE  */ -}}
    {{- with .price }}
      <div class="price">
        {{- . | markdownify -}}
      </div>
    {{- end -}}

    {{- /*  MD  */ -}}
    {{- if .md -}}
      {{- partial "components/boxes/md" . -}}
    {{- end -}}

    {{- /*  TYPES  */ -}}

    {{- /*  STEPS  */ -}}
    {{- if .steps -}}
      {{- partial "components/blocks/steps" (merge
        (.step | default dict)
        (dict
          "steps" .steps
          "level" .level
        )
      ) -}}
    {{- end -}}

    {{- /*  GALLERY  */ -}}
    {{- if .images -}}
      {{- if eq .gallery.type "boxes" -}}
        {{- $boxes_images := slice -}}
        {{- range $k, $v := .images -}}
          {{- $anchor := .alt | default .image | replaceRE `^(.+)\..*$` "$1" | humanize -}}
          {{- $boxes_images = $boxes_images | append (merge . (dict "anchor" $anchor)) -}}
        {{- end -}}
        {{- partial "components/boxes/_" (merge
          (dict
            "box" (dict
              "button"  "hide"
              "cols"    .cols
              "color"   .color
              "gap"     .gap
              "ratio"   .ratio
              "contain" .contain
              "gray"    .gray
            )
          )
          .
          (dict "boxes" $boxes_images)
        ) -}}
      {{- else -}}
        {{- partial "components/blocks/gallery" (merge
          (.gallery | default dict)
          (dict
            "bgcp"      .bgcp
            "images"    .images
            "container" .container
            "col_vs"    .col_vs
            "col_vl"    .col_vl
          )
        ) -}}
      {{- end -}}
    {{- end -}}

    {{- /*  LIST  */ -}}
    {{- if .list -}}
      {{- partial "components/blocks/list" . -}}
    {{- end -}}

    {{- /*  ACCORDION  */ -}}
    {{- if .accordions -}}
      {{- partial "components/blocks/accordion" . -}}
    {{- end -}}

    {{- /*  REVIEWS  */ -}}
    {{- if .reviews -}}
      {{- partial "components/blocks/reviews" (merge
        (.review | default dict)
        (dict
          "reviews" .reviews
          "bgcp"    .bgcp
        )
      ) -}}
    {{- end -}}

    {{- /*  SOCIAL  */ -}}
    {{- if .social -}}
      {{- partial "components/blocks/social" . -}}
    {{- end -}}

    {{- /*  CONTACT  */ -}}
    {{- if .contact -}}
      {{- partial "components/blocks/contact" . -}}
    {{- end -}}

    {{- /*  FORM  */ -}}
    {{- if .inputs -}}
      {{- partial "components/blocks/form" (merge
        .
        (dict "Page" page )
      ) -}}
    {{- end -}}

    {{- /*  MAP  */ -}}
    {{- if .geos -}}
      {{- partial "components/blocks/map" . -}}
    {{- end -}}

    {{- /*  GSS  */ -}}
    {{- if .gss -}}
      {{- partial "components/blocks/gss" . -}}
    {{- end -}}

    {{- /*  BOXES  */ -}}
    {{- if .boxes -}}
      {{- partial "components/boxes/_" . -}}
    {{- end -}}

    {{- /*  END TYPES  */ -}}

    {{- /*  TAGS  */ -}}
    {{- if .tags -}}
      {{- partial "components/tags/_" . -}}
    {{- end -}}

    {{- /*  BUTTON  */ -}}
    {{- if and (or .label .link) (ne .button "hide") -}}
      {{- /*  anchor2: last default priority, prev $anchor_page  */}}
      {{ partial "components/link" (dict
        "class"   "box__button box-go"
        "button"  (.button | default "cta")
        "swap"    .swap
        "icon"    .pin
        "label"   (.label   | default (i18n "more") | markdownify)
        "anchor"  (.anchor  | default .label        | markdownify)
        "anchor2" (.hanchor | default .title        | markdownify)
        "link"    .link
        "lock"    .ofuscate
      ) -}}
    {{- end -}}

    {{- /*  MODAL BUTTONS CLOSE, PREV AND NEXT  */ -}}
    {{- if .main -}}
      {{- if and .modal (not .ph) }}
        <div class="buttons">
          {{- with $.prev }}
            {{ partial "components/link" (dict
              "class" "modal__prev"
              "button" "cta"
              "dot"   true
              "icon"  (site.Data.styles.icons.left | default "chevron-left")
              "emoji" "⬅️"
              "label" (i18n "prev")
              "link"  (print "#" .id)
            ) -}}
          {{- end }}
          {{ partial "components/link" (dict
            "class" "modal__close"
            "button" "cta"
            "dot"    (and $.prev $.next)
            "icon"   "xmark"
            "emoji"  "❌"
            "label"  (i18n "close")
          ) -}}
          {{- with $.next }}
            {{ partial "components/link" (dict
              "class"  "modal__next"
              "button" "cta"
              "dot"    true
              "icon"   (site.Data.styles.icons.right | default "chevron-right")
              "emoji"  "➡️"
              "label"  (i18n "next")
              "link"   (print "#" .id)
            ) -}}
          {{- end }}
        </div>
      {{- end -}}
    {{- end -}}

  {{- if $box_wrap }}
    {{ print "</" $node ">" | safeHTML -}}
  {{- end -}}
{{- end -}}
