{{- $box  := . -}}

{{/*  MERGE PARAMS  */}}
{{- range .params -}}
  {{- $value    := .value -}}
  {{- with .value -}}
    {{- $value   = unmarshal . -}}
  {{- else -}}
    {{- with .page | default .box -}}
      {{- if eq . "filename" -}}
        {{- $value = page.File.TranslationBaseName -}}
      {{- else -}}
        {{- $value = partial "functions/param" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if $value -}}
    {{ $keys := split .box "." }}
    {{ $obj  := dict }}
    {{ if eq (len $keys) 2 }}
      {{ $obj = dict (index $keys 0) (dict (index $keys 1) $value) }}
    {{ else }}
      {{ $obj = dict (index $keys 0) $value }}
    {{ end }}
    {{- $box  = merge $box $obj -}}
  {{- end -}}
{{- end -}}

{{/*  BOX  */}}
{{- with $box -}}
  {{- $align := .align -}}
  {{- $bgcp  := .bgcp -}}

  {{- $main   := not .level -}}
  {{- $level  := .level | default (cond .header 1 (cond .modal 3 2)) -}}
  {{- $node   := .node | default "div" -}}

  {{- $icon_type     := .icon_type | default (cond $main "bottom" "top") -}}
  {{- $show          := site.Data.config.others.show -}}
  {{- $group_radius  := .group_radius | and (not .slider) -}}

  {{- $span_xl := mul .span_xl (.span     | default 1.00) -}}
  {{- $span_xs := mul .span_xs (.span_min | default 1.00) -}}

  {{- $link           := .link -}}
  {{- $underline      := .underline | and (not (.icon | and (eq $icon_type "bottom"))) -}}

  {{- $external       := hasPrefix $link "http" -}}
  {{- $is_anchor_link := hasPrefix $link "#" -}}
  {{- $start_slash    := $link | findRE `^/` -}}
  {{- if $link -}}
    {{- if not $external | and (not $is_anchor_link) | and (not $start_slash) -}}
      {{- with resources.Get ((print "/media/" $link) | replaceRE `\#.*$` ``) -}}
        {{- $link      = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $like_article   := $link | and (eq .button "hide") -}}

  {{/*  WRAP  */}}
  {{- $box_wrap := or
    .box_wrap
    .span
    .span_min
    .node
    .color
    .gradient
    .bg
    .parallax
    .padding
    .pill
    .align
    .align_max
    .align_x
    .order
    .gap_y
  -}}

  {{- if $box_wrap -}}

    {{- $image_src        := .image -}}
    {{- $bg_color         := .color | default (cond .modal "white" "") -}}
    {{- $bg_image_src     := .bg -}}

    {{- $bgc     := partial "functions/color-background" (dict "child" $bg_color "parent" .bgcp) -}}
    {{- $bgcp     = $bgc.parent -}}
    {{- $bg_color = $bgc.child -}}

    {{- if .card -}}
      {{- $image_src       = "" -}}
      {{- $bg_color        = cond (not .color) "black" .color -}}
      {{- if not .bg -}}
        {{- $bg_image_src  = .image -}}
      {{- end -}}
    {{- end -}}
    {{- $bg        := $bg_color | or .gradient | or $bg_image_src -}}

    {{- $shadow    := $bg | and (not .hide_shadow) -}}
    {{- $radius    := true -}}
    {{- if .hide_radius
      | or (not ($bg | or ($image_src | and .inset)))
      | or $group_radius
    -}}
      {{- $radius   = false -}}
    {{- end -}}
    {{- $button_is := $link | and (ne .button "hide") -}}

    {{/*  ATTRIBUTES  */}}
    {{- $box_attr  := partial "components/boxes/attr" (merge . (dict
      "main"         $main
      "bg_color"     $bg_color
      "bg_image_src" $bg_image_src
      "bg"           $bg
      "image_src"    $image_src
      "button_is"    $button_is
      "radius"       $radius
      "shadow"       $shadow
      "show"         (and (not .slider) (not .first) $show)
    )) -}}

    {{/*  BOX  */}}
    {{- print "<" $node " " $box_attr ">" | safeHTML -}}

      {{/*  BACKGROUND  */}}
      {{- partial "components/bg" (merge . (dict
        "color"    $bg_color
        "bg"       $bg_image_src
        "shadow"   $shadow
        "box"      true
        "span_xl"  $span_xl
        "span_xs"  $span_xs
      )) -}}

  {{- end -}}

    {{/*  IMAGE  */}}
    {{- partial "components/boxes/image" (merge . (dict
      "icon_type" $icon_type
      "span_xl"   $span_xl
      "span_xs"   $span_xs
    )) -}}

    {{/*  TITLE  */}}
    {{- partial "components/boxes/title" (merge . (dict
      "main"         $main
      "level"        $level
      "icon_type"    $icon_type
      "underline"    $underline
      "like_article" $like_article
    )) -}}

    {{/*  ICON BOTTOM  */}}
    {{- if eq $icon_type "bottom" -}}
      {{- partial "components/boxes/icon" (merge . (dict
        "icon_type" $icon_type
      )) -}}
    {{- end -}}

    {{/*  SUBTITLE  */}}
    {{- with .subtitle -}}
      <p class="box__subtitle subtitle">
        {{- . | markdownify -}}
      </p>
    {{- end -}}

    {{/*  PRICE  */}}
    {{- with .price }}
      <div class="price">
        {{ . | markdownify }}
      </div>
    {{- end -}}

    {{/*  CONTENT  */}}
    {{- with .content -}}
      {{- $content_align := cond (and (not $align) $main (not $.header) (or (eq $.container "xs") (eq $.container "sm"))) " align-left" "" -}}
      {{- $cont_class    := print "box__content content" $content_align -}}
      {{- if $like_article -}}
        {{- $cont_class   = print $cont_class " box__content--small" -}}
      {{- end -}}
      <div class="{{ $cont_class }}">
        {{/* <div class="float"></div><div class="float float--r"></div> */}}
        {{- partial "functions/md" (dict "content" . "not_header_links" $.modal) -}}
      </div>
    {{- end -}}


    {{/*  TYPES  */}}

    {{/*  STEPS  */}}
    {{ if .steps }}
      {{- partial "components/blocks/steps" (merge
        (.step | default dict)
        (dict
          "steps" .steps
          "level" $level
          "show" .show
        )
      ) -}}
    {{ end }}

    {{/*  GALLERY  */}}
    {{ if or .images .limages }}
      {{- if eq .gallery.type "boxes" -}}
        {{- $boxes_images := slice -}}
        {{- range $k, $v := .limages -}}
          {{- $alt := .alt -}}
          {{- if not .alt -}}
            {{- with $.gallery -}}
              {{- $alt = .alt | default (print .alt " " (add $k 1)) -}}
            {{- end -}}
          {{- end -}}
          {{- $boxes_images = $boxes_images | append (dict
            "image"  .image
            "alt"    $alt
            "link"   .link
            "anchor" (.image | replaceRE `^(.+)\..*$` "$1" | humanize)
          ) -}}
        {{- end -}}
        {{- range $k, $v := .images -}}
          {{- $alt := "" -}}
          {{- with $.gallery -}}
            {{- $alt = print .alt " " (add $k 1) -}}
          {{- end -}}
          {{- $boxes_images = $boxes_images | append (dict
            "image"  .
            "alt"    $alt
            "link"   .
            "anchor" (. | replaceRE `^(.+)\..*$` "$1" | humanize)
          ) -}}
        {{- end -}}
        {{- partial "components/boxes/_" (merge
          (dict
            "box"      (dict
              "button"    "hide"
              "columns"   .columns
              "color"     .color
              "gap"       .gap
              "ratio"     .ratio
              "contain"   .contain
              "grayscale" .grayscale
            )
          )
          .
          (dict
            "main"     $main
            "level"    $level
            "span_xl"  $span_xl
            "span_xs"  $span_xs
            "box_wrap" nil
            "prev"     nil
            "next"     nil
            "boxes"    $boxes_images
          )
        ) -}}
      {{- else -}}
        {{- partial "components/blocks/gallery" (merge
          (.gallery | default dict)
          (dict
            "bgcp"      $bgcp
            "limages"   .limages
            "images"    .images
            "container" .container
            "span_xl"   $span_xl
            "span_xs"   $span_xs
          )
        ) -}}
      {{- end -}}
    {{ end }}

    {{/*  LIST  */}}
    {{ if .list }}
      {{- partial "components/blocks/list" (merge
        .
        (dict
          "bgcp"      $bgcp
          "span_xl"   $span_xl
          "span_xs"   $span_xs
          "level"     $level
        )
      ) -}}
    {{ end }}

    {{/*  ACCORDION  */}}
    {{ if .accordions }}
      {{- partial "components/blocks/accordion" (merge
        .
        (dict "level" $level)
      ) -}}
    {{ end }}

    {{/*  REVIEWS  */}}
    {{ if .reviews }}
      {{- partial "components/blocks/reviews" (merge
        (.review | default dict)
        (dict
          "reviews" .reviews
          "bgcp"    $bgcp
        )
      ) -}}
    {{ end }}

    {{/*  SOCIAL  */}}
    {{ if .social }}
      {{- partial "components/blocks/social" . -}}
    {{ end }}

    {{/*  CONTACT  */}}
    {{ if .contact }}
      {{- partial "components/blocks/contact" (merge
        .
        (dict "bgcp" $bgcp)
      ) -}}
    {{ end }}

    {{/*  FORM  */}}
    {{ if .inputs }}
      {{- partial "components/blocks/form" (merge
        .
        (dict "Page" page )
      ) -}}
    {{ end }}

    {{/*  MAP  */}}
    {{ if .map }}
      {{- partial "components/blocks/map" . -}}
    {{ end }}

    {{/*  GSS  */}}
    {{ if .gss }}
      {{- partial "components/blocks/gss" . -}}
    {{ end }}

    {{/*  BOXES  */}}
    {{ if .boxes }}
      {{- partial "components/boxes/_" (merge
        .
        (dict
          "bgcp"     $bgcp
          "main"     $main
          "level"    $level
          "span_xl"  $span_xl
          "span_xs"  $span_xs
          "box_wrap" nil
          "prev"     nil
          "next"     nil
        )
      ) -}}
    {{ end }}

    {{/*  END TYPES  */}}

    {{/*  TAGS  */}}
    {{ if .tags }}
      {{- partial "components/tags/_" (merge
        .
        (dict "level" $level)
      ) -}}
    {{ end }}

    {{/*  BUTTON  */}}
    {{- if $link -}}
      {{- $class  := "box__button" -}}
      {{- $button := .button -}}
      {{- $icon   := (cond (eq .licon "none") "" .licon) -}}
      {{- $label  := .label -}}
      {{- if $like_article -}}
        {{- $class  = "box__button hide" -}}
        {{- $button = "none" -}}
        {{- $icon   = "" -}}
        {{- $label  = or .anchor .hanchor .title -}}
      {{- end -}}
      {{/*  {{- if not $like_article -}}  */}}
        {{- partial "components/link" (dict
          "class"     $class
          "link"      $link
          "button"    $button
          "font_alt"  .font_alt
          "icon"      $icon
          "label"     $label
          "label_alt" .title
          "anchor"    .anchor
          "noindex"   .ofuscate
        ) -}}
      {{/*  {{- end -}}  */}}
    {{- end -}}

    {{/*  MODAL BUTTONS CLOSE, PREV AND NEXT  */}}
    {{- if $main -}}
      {{- if and .modal (not .ph) -}}
        <div class="buttons">
          {{- with .prev -}}
            {{- partial "components/link" (dict
              "class" "modal__prev"
              "link"  (print "#" .id)
              "dot"   true
              "icon"  (site.Data.styles.icons.left | default "chevron-left")
              "emoji" "⬅️"
              "label" (i18n "prev")
            ) -}}
          {{- end -}}

          {{- partial "components/link" (dict
            "class" "modal__close"
            "link"  "none"
            "dot"   (and .prev .next)
            "icon"  "xmark"
            "emoji" "❌"
            "label" (i18n "close")
          ) -}}

          {{- with .next -}}
            {{- partial "components/link" (dict
              "class" "modal__next"
              "link"  (print "#" .id)
              "dot"   true
              "icon"  (site.Data.styles.icons.right | default "chevron-right")
              "emoji" "➡️"
              "label" (i18n "next")
            ) -}}
          {{- end -}}
        </div>
      {{- end -}}
    {{- end -}}

  {{- if $box_wrap -}}
    {{- print "</" $node ">" | safeHTML -}}
  {{- end -}}
{{- end -}}
