{{- $title := or .title .hanchor .menu_label -}}
{{- if $title -}}
  {{- $hanchor := or .hanchor .menu_label -}}

  {{/*  TAG  */}}
  {{- $hn    := "" -}}
  {{- if or .link (eq .hn "p") -}}
    {{- $hn = "p" -}}
  {{- else -}}
    {{- with .hn | default .level -}}
      {{- $hn = print "h" . -}}
    {{- end -}}
  {{- end -}}

  {{/*  HS  */}}
  {{- $hs    := "" -}}
  {{- if ne .hs nil -}}
    {{- $hs = print "h" .hs -}}
  {{- else if eq $hn "p" -}}
    {{- $s := cond (not .like_article) .level "6" -}}
    {{- $hs = print "h" $s -}}
  {{- end -}}

  {{/*  LINK  */}}
  {{- $link     := "" -}}
  {{- if .like_article -}}
    {{- $link    = .link -}}
    {{- $hanchor = or .anchor $hanchor -}}
  {{- else if .main -}}
    {{- $link    = cond .header page.RelPermalink (print "#" .section.id) -}}
  {{- end -}}

  {{- /* TITLE CLASS  */ -}}
  {{- $class := slice
    "box__title"
    $hs
    (cond (and $link .like_article)    "box-go"    "")
    (cond (and (not $link) .underline) "underline" "")
    (cond (not .uppercase | not)       "uppercase" "")
    (cond (not .title)                 "hide"      "")
  -}}

  {{- /* TITLE MORE  */ -}}
  {{- $more  := "" -}}
  {{- if and (ne $title $hanchor) (not $link) -}}
    {{- $more = $hanchor | markdownify | plainify -}}
  {{- end -}}

  {{- /* TITLE JOIN  */ -}}
  {{- $attrs := dict "class" $class "data-more" $more -}}
  {{- $attrs  = partial "functions/attrs" $attrs -}}


  {{- /* HTML  */}}
  {{ print "<" $hn $attrs ">" | safeHTML -}}

    {{- /* ICON SIDE  */ -}}
    {{- if eq .icon_type "side" -}}
      {{- partial "components/boxes/icon" . -}}
    {{- end -}}

    {{- /* ANCHOR  */ -}}
    {{- if $link -}}
      {{- $anchor_class := slice
        (cond (not .like_article) "" "box__link")
        (cond (not .underline)    "" "underline")
      -}}
      {{- /* with wrap  */ -}}
      {{- partial "components/link" (dict
        "class"  $anchor_class
        "label"  ($title   | markdownify)
        "anchor" ($hanchor | markdownify)
        "link"   $link
        "lock"   .ofuscate
        "nomore" $more
      ) -}}
    {{- else -}}
      {{- /* without wrap  */ -}}
      {{- $title | markdownify -}}
    {{- end -}}

  {{- /*  END  */ -}}
  {{- print "</" $hn ">" | safeHTML -}}
{{- end -}}
