{{ $title  := or .hanchor .title .menu_label }}
{{ if $title }}
  {{ $title = partial "functions/md" (dict "content" $title "inline" true) }}

  {{ $hn    := "" }}
  {{ if not .hn }}
    {{ if or (not .link) (eq .level 2) }}
      {{ $hn = print "h" .level }}
    {{ else }}
      {{ $hn = "p" }}
    {{ end }}
  {{ else if eq .hn "p" }}
    {{ $hn = "p" }}
  {{ else }}
    {{ $hn = print "h" .hn }}
  {{ end }}

  {{ $link  := "" }}
  {{ if and (not .like_article) (or .main (eq $hn "h1") (eq $hn "h2")) }}
    {{ $link = cond (or .header (eq $hn "h1")) page.RelPermalink (print "#" .section.id) }}
  {{ end }}

  {{/*  TITLE CLASS  */}}
  {{ $class := partial "functions/attr-delimit" (dict
    "attr"  "class"
    "array" (slice
      "box__title"
      (cond (not ($title | and (not .title))) "" "hide")
      (cond (ne .hs nil) (print "h" .hs) (cond (ne $hn "p") "" (print "h" (cond (not .like_article) .level "6"))))
      (cond (not .uppercase)    "" "uppercase")
      (cond (not .underline)    "" "underline")
    )
  ) }}

  {{/*  TITLE MORE  */}}
  {{ $more  := "" }}
  {{ if and .title .hanchor (not $link) }}
    {{ $more = print `data-more="` .title `"` }}
  {{ end }}

  {{/*  TITLE JOIN  */}}
  {{ $attr := partial "functions/attr-delimit" (dict
    "array" (slice
      $class
      $more
    )
  ) }}


  {{/*  TITLE  */}}
  {{ print "<" $hn " " $attr ">" | safeHTML }}

    {{/*  ICON SIDE  */}}
    {{ if eq .icon_type "side" }}
      {{ partial "components/boxes/icon" . }}
    {{ end }}

    {{/*  ANCHOR CLASS  */}}
    {{ $anchor_class := partial "functions/attr-delimit" (dict
      "array" (slice
        (cond (not .like_article) "" "href box__link")
      )
    ) }}

    {{/*  ANCHOR  */}}
    {{ partial "components/link"
      (dict
        "class"     $anchor_class
        "link"      $link
        "button"    "none"
        "font_alt"  ""
        "icon"      ""
        "label"     (.title | default .hanchor | markdownify)
        "label_alt" ""
        "anchor"    .hanchor
        "noindex"   .ofuscate
      )
    }}

  {{ print "</" $hn ">" | safeHTML }}
{{ end }}
