{{- $title := or .title .hanchor .menu_label -}}
{{- if $title -}}
  {{- $hanchor := or .hanchor .menu_label -}}

  {{/*  TAG  */}}
  {{- $hn    := "" -}}
  {{- if not .hn -}}
    {{- if or (not .link) (eq .level 2) -}}
      {{- $hn = print "h" .level -}}
    {{- else -}}
      {{- $hn = "p" -}}
    {{- end -}}
  {{- else if eq .hn "p" -}}
    {{- $hn = "p" -}}
  {{- else -}}
    {{- $hn = print "h" .hn -}}
  {{- end -}}

  {{/*  LINK  */}}
  {{- $link     := "" -}}
  {{- if .like_article -}}
    {{- $link    = .link -}}
    {{- $hanchor = or .anchor $hanchor -}}
  {{- else if .main -}}
    {{- $link    = cond .header page.RelPermalink (print "#" .section.id) -}}
  {{- end -}}

  {{- /* TITLE CLASS  */ -}}
  {{- $class := slice
    "box__title"
    (cond (ne .hs nil) (print "h" .hs) (cond (ne $hn "p") "" (print "h" (cond (not .like_article) .level "6"))))
    (cond (and $link .like_article) "box-go" "")
    (cond (not .title)              "hide"   "")
    (cond (not .uppercase)          "" "uppercase")
    (cond (not .underline)          "" "underline")
  -}}

  {{- /* TITLE MORE  */ -}}
  {{- $more  := "" -}}
  {{- if and (ne $title $hanchor) (not $link) -}}
    {{- $more = $hanchor | markdownify | plainify -}}
  {{- end -}}

  {{- /* TITLE JOIN  */ -}}
  {{- $attrs := dict "class" $class "data-more" $more -}}
  {{- $attrs  = partial "functions/attrs" $attrs -}}


  {{- /* HTML  */}}
  {{ print "<" $hn $attrs ">" | safeHTML -}}

    {{- /* ICON SIDE  */ -}}
    {{- if eq .icon_type "side" -}}
      {{- partial "components/boxes/icon" . -}}
    {{- end -}}

    {{- /* ANCHOR  */ -}}
    {{- if or .title $link -}}
      {{- /* with wrap  */ -}}
      {{- partial "components/link" (dict
        "class"  (cond (not .like_article) "" "box__link")
        "label"  ($title   | markdownify)
        "anchor" ($hanchor | markdownify)
        "link"   $link
        "lock"   .ofuscate
        "nomore" $more
      ) -}}
    {{- else -}}
      {{- /* without wrap  */ -}}
      {{- $hanchor | markdownify -}}
    {{- end -}}

  {{- /*  END  */ -}}
  {{- print "</" $hn ">" | safeHTML -}}
{{- end -}}
