{{ $schema := dict }}

{{ with .page }}

  {{ $is_author := eq .Type "authors" | and (not .IsSection) }}

  {{ if $is_author }}

    {{/*  Image  */}}
    {{ $image  := "" }}
    {{ with resources.Get (print "/media/" .Params.image) }}
      {{ $image = .Permalink }}
    {{ end }}

    {{/*  Organization  */}}
    {{ $organization  := "" }}
    {{ if not $.from_post }}
      {{ $organization = partial "components/base/schema/organization" site.Data.schema }}
    {{ end }}

    {{/*  Schema  */}}
    {{ $schema = dict
      "@context"    `http://schema.org`
      "@type"       `Person`
      "name"        .Title
      "url"         .Permalink
      "description" .Description
      "jobTitle"    .Params.job_title
      "same_as"     .Params.social
      "image"       $image
      "worksFor"    $organization
    }}
    {{ $schema = partial "functions/schema-obj" $schema }}

  {{ end }}

{{ end }}

{{ return $schema }}