{{/*  Dates  */}}
{{ $date := dateFormat "2006-01-02T15:04:05Z07:00" .Date                         | replaceRE `T00.00.00[-+]\d\d.00` "" }}
{{ $end  := dateFormat "2006-01-02T15:04:05Z07:00" (.Params.end | default .Date) | replaceRE `T00.00.00[-+]\d\d.00` "" }}

{{/*  Location  */}}
{{ $location := dict }}
{{ with .Params }}
  {{ if or .location .place }}
    {{ $location = dict
      "location" (dict
        "@type"   "Place"
        "name"    .location
        "address" .place
      )
    }}
  {{ end }}
{{ end }}

{{/*  Offers  */}}
{{ $offers := dict }}
{{ with .Params.price }}
  {{ $offers  = dict
    "@type"         "Offer"
    "url"           $.Permalink
    "price"         .
    "priceCurrency" site.Params.currency
    "validFrom"     (dateFormat "2006-01-02T15:04:05" now)
    "availability"  "http://schema.org/InStock"
  }}
{{ end }}

{{/*  Performer  */}}
{{ $artists := slice }}
{{ range .Params.artists }}
  {{ if or .name .type }}
    {{ $artists = $artists | append (dict
      "@type" (cond (eq .type "group") "PerformingGroup" "Person")
      "name"  .name
    ) }}
  {{ end }}
{{ end }}

{{/*  Status  */}}
{{ $status := print "http://schema.org/" (cond (not .Params.cancelled) "EventScheduled" "EventCancelled") }}

{{/*  Schema  */}}
{{ $schema := dict
  "@type"               "Event"
  "@id"                 (print .Permalink "#schema-event")
  "name"                .Title
  "description"         (.Summary | default .Description | plainify)
  "url"                 .Permalink
  "performer"           $artists
  "location"            $location
  "offers"              $offers
  "startDate"           $date
  "endDate"             $end
  "image"               (dict "@id" (print .Permalink "#schema-image"))
  "organizer"           (partial "components/base/schema/organization-id" .)
  "eventStatus"         $status
  "eventAttendanceMode" "http://schema.org/OfflineEventAttendanceMode"
}}

{{ return $schema }}