{{/*  URL  */}}
{{ $image          := "" }}
{{ $image_external := strings.HasPrefix .Params.image "http" }}
{{ with .Params.image }}
  {{ if not $image_external }}
    {{ $image_url := resources.Get (print "/media/" .) }}
    {{ with $image_url }}
      {{ $image    = .Permalink }}
    {{ end }}
  {{ else }}
    {{ $image      = partial "functions/iframe-poster" . | default . }}
  {{ end }}
{{ else }}
  {{ $image      = site.Data.schema.logo }}
  {{ if not $image }}
    {{ $image    = site.Params.menu.logo
      | default site.Data.config.favicon.svg
      | default site.Data.config.favicon.png
      | default "base/icon.png"
    }}
  {{ end }}
  {{ $image_url := resources.Get (print "/media/" $image) }}
  {{ with $image_url }}
    {{ $image    = .Permalink }}
  {{ end }}
{{ end }}

{{/*  WIDTH AND HEIGHT  */}}
{{ $image_width  := 1280 }}
{{ $image_height := 960 }}
{{ if not (in $image ".svg" | or $image_external) | and $image }}
  {{ with resources.Get (print "/media/" $image) }}
    {{ $image_width  = $image.Width }}
    {{ $image_height = $image.Height }}
  {{ end }}
{{ end }}

{{/*  CAPTION  */}}
{{ $caption := $image
  | replaceRE `^http.+/(.*)$` "$1"
  | replaceRE `^(.+)\..*$`    "$1"
  | humanize
}}

{{ $schema := dict }}

{{ if $image }}
  {{ $schema = dict
    "@type"      "ImageObject"
    "@id"        (print .Permalink "#schema-image")
    "url"        $image
    "contentUrl" $image
    "width"      $image_width
    "height"     $image_height
    "caption"    $caption
    "inLanguage" .Lang
  }}
  {{ $schema = partial "functions/schema-obj" $schema }}
{{ end }}

{{ return $schema }}