{{ $schema := dict }}

{{ with .Params | default . }}

  {{/*  Types  */}}
  {{ $types      := .types | default (slice "Organization") }}

  {{/*  Names  */}}
  {{ $names      := .names | default (slice (site.Title | default "Name")) }}
  {{ $name       := index $names 0 }}
  {{ $names_more := after 1 $names }}

  {{/*  Description  */}}
  {{ $description  := or $.Summary $.Description .summary .description | plainify | replaceRE `:([1-9A-Za-z_-][\w-]*):\s?` "" }}

  {{/*  URL  */}}
  {{ $url  := .url | default $.Page.Permalink }}
  {{ $id   := print $url "#schema-organization" }}
  {{ if and .department (not $url) }}
    {{ $url = site.Home.Permalink }}
    {{ $id  = print $url "#schema-department" }}
  {{ end }}

  {{/*  Legal and NIF  */}}
  {{ $legal    := .legal }}
  {{ $nif      := .nif }}
  {{ if not (or $legal $nif) }}
    {{ if not $legal }}
      {{ $legal = site.Params.legal.name }}
    {{ end }}
    {{ if not $nif }}
      {{ $nif   = site.Params.legal.nif }}
    {{ end }}
  {{ end }}

  {{/*  Address, hasMap and geo by locations  */}}
  {{ $location := partial "components/base/schema/address" . }}
  {{ $address  := $location.address | default dict }}
  {{ $has_map  := $location.has_map | default "" }}
  {{ $geo      := $location.geo     | default dict }}

  {{/*  Phones  */}}
  {{ $phones := partial "functions/phone-variations" .phones }}

  {{/*  Logo  */}}
  {{ $logo := partial "components/base/schema/image-main" (dict "Params" (dict "image" .logo) "Permalink" $url) }}

  {{/*  Images  */}}
  {{ $images := partial "components/base/schema/images" (slice .image | append .images | uniq) }}

  {{/*  Opening Hours Specification  */}}
  {{ $schedule := slice }}
  {{ with .schedule }}
    {{ range . }}
      {{ $s    := . }}
      {{ $days := slice }}
      {{ range .days }}
        {{ $days = $days | append (print "https://schema.org/" (. | title)) }}
      {{ end }}
      {{ range .hours }}
        {{ $o := slice }}
        {{ with $days   }}{{ $o = merge $o (dict "dayOfWeek"    .) }}{{ end }}
        {{ with .open   }}{{ $o = merge $o (dict "opens"        .) }}{{ end }}
        {{ with .close  }}{{ $o = merge $o (dict "closes"       .) }}{{ end }}
        {{ with $s.from }}{{ $o = merge $o (dict "validFrom"    .) }}{{ end }}
        {{ with $s.to   }}{{ $o = merge $o (dict "validThrough" .) }}{{ end }}
        {{ $schedule = $schedule | append $o }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  Departments  */}}
  {{ $departments := slice }}
  {{ range .departments }}
    {{ $departments = $departments | append (partial "components/base/schema/organization" (merge . (dict "department" true))) }}
  {{ end }}

  {{/*  Offer Catalog  */}}
  {{ $offers := dict }}
  {{ with .services }}
    {{ $services := slice }}
    {{ range . }}
      {{ $offers := dict }}
      {{ with .price }}
        {{ $offers  = dict
          "@type"         "Offer"
          "price"         .
          "priceCurrency" site.Params.currency
        }}
      {{ end }}
      {{ $service  := dict
        "@type"      "Service"
        "url"         .url
        "name"        .title
        "description" .description
        "areaServed"  .area
        "offers"      $offers
      }}
      {{ $service   = partial "functions/schema-obj" $service }}
      {{ $services  = $services | append $service }}
    {{ end }}
    {{ $offers = dict
      "@type"           "OfferCatalog"
      "itemListElement" $services
    }}
  {{ end }}

  {{/*  Schema  */}}
  {{ $schema = dict
    "@type"                     $types
    "@id"                       $id
    "name"                      $name
    "alternateName"             $names_more
    "legalName"                 $legal
    "taxID"                     $nif
    "url"                       $url
    "description"               $description
    "logo"                      $logo
    "image"                     $images
    "telephone"                 $phones
    "address"                   $address
    "hasMap"                    $has_map
    "geo"                       $geo
    "openingHoursSpecification" $schedule
    "department"                $departments
    "hasOfferCatalog"           $offers
    "sameAs"                    .social
    "areaServed"                .areas
    "priceRange"                .prices
    "menu"                      .food_menu
    "servesCuisine"             .food_type
  }}
  {{ $schema = partial "functions/schema-obj" $schema }}

{{ end }}

{{ return $schema }}