{{/*  ID  */}}

{{ $id  := .id | urlize }}


{{/*  CLASS  */}}

{{ $show        := and .show (not .slider) (not .is_header) }}
{{ $not_fit     := or (not .fit   ) (eq .fit    1) }}
{{ $not_fit_vs  := or (not .fit_vs) (eq .fit_vs 1) }}
{{ $bi_alpha    := and .bi               .alpha       (ne .alpha       1) }}
{{ $color_alpha := and (or .color .fade) .color_alpha (ne .color_alpha 1) }}

{{ $rate := .rate }}
{{ if not .rate }}
  {{ if .card }}
    {{ $rate = "3/4" }}
  {{ else }}
    {{ $no_content := or
      .title
      .sub
      .md
      .icon
      .img
      .boxes
      .steps
      .imgs
      .limgs
      .list
      .faqs
      .reviews
      .btns
      .dots
      .inputs
      .map
      .tags
      (and .url (ne .btn "hide"))
      | not
    }}
    {{ if and .is_bg $no_content }}
      {{ $rate = "16/9" }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*
{{ $bg_img_fix           := cond (not (.bi | and .scroll))         "" "bg--fix" }}
{{ $bg_fig_vid_parent := cond (not (partial `func/is-iframe` .bi)) "" "bg-fig-vid-parent" }}
*/}}

{{ $is_container := or .is_container false }}
{{ $class := slice
  "box"
  (cond $is_container                          "" (print "box--" (add .key 1)))
  (cond (not $is_container)                    "" "container")
  (cond (not $is_container)                    "" (print "container--" .container))
  (cond (not (and $is_container .is_modal))    "" "modal__container")
  (cond (not .align)                           "" (print "align-" .align))
  (cond (not .align_y)                         "" (print "align-self-" .align_y))
  (cond (not .align_vl)                        "" (print "align--vl-" .align_vl))
  (cond (not .is_bg)                           "" "bg")
  (cond (not .bi)                              "" "bg-img")
  (cond (not .color)                           "" (print "bg-" .color))
  (cond (not .fade)                            "" (print "bg-fade-" .fade))
  (cond (not .fade)                            "" (print "bg-fade-" (.fade_to | default "r")))
  (cond (not (and .side (or .is_bg .img)))     "" (print "box--side-" .side))
  (cond (and (ne .scroll "box") (not (and .is_bg (eq .scroll "soft")))) "" "scroll")
  (cond (ne .scroll "box")                     "" "scroll--box")
  (cond (not (and .is_bg (eq .scroll "soft"))) "" "scroll--bg")
  (cond (and $not_fit $not_fit_vs)             "" "box--fit")
  (cond (not .grow)                            "" "box--grow")
  (cond (not $rate)                            "" "box--ratio")
  (cond (not .card)                            "" "box--card")
  (cond (not .pill)                            "" "pill-bottom")
  (cond (not (or .pill .disc))                 "" "pill-top")
  (cond (not (and .slider (not .key)))         "" "slider__item--active")
  (cond (not .hide_radius)                     "" "box--hide-radius")
  (cond (not .hide_shadow)                     "" "box--hide-shadow")
  (cond (not .is_btn_hide)                     "" "box--hide-btn")
  (cond (not $show)                            "" "show")
  (cond (not .only_one_link)                   "" "box--go")
}}


{{/*  STYLE  */}}

{{ $style := slice
  (cond (not $bi_alpha)    "" (print "--bi-alpha:"    .alpha))
  (cond (not $color_alpha) "" (print "--color-alpha:" .color_alpha))
  (cond (not .order)       "" (print "--order:" .order))
  (cond (eq .space nil)    "" (print "--box-gap:" .space "rem"))
  (cond (eq .pd nil)       "" (print "--box-pd-vl:" .pd))
  (cond (eq .pd_vs nil)    "" (print "--box-pd-vs:" .pd_vs))
  (cond $not_fit           "" (print "--box-fit-vl:" .fit))
  (cond $not_fit_vs        "" (print "--box-fit-vs:" .fit_vs))
  (cond (not $rate)        "" (print "--box-ratio:" $rate))
}}


{{/*  JOIN  */}}

{{ $attrs := dict
  "id"    $id
  "class" $class
  "style" $style
}}
{{ $attrs = partial "func/attrs" $attrs }}

{{ return $attrs }}
