{{- if .boxes_wrap -}}
  {{- with .box }}

    {{- /* SLIDER  */ -}}
    {{- if .slider }}
      <div class="slider box__block" {{ with .time }}data-time="{{ . }}"{{ end }}>
        <div class="slider__track">
    {{- end -}}

    {{- /* CLASS  */ -}}
    {{- $class := slice
      "boxes"
      (cond (or (gt $.columns.vl 2) (eq $.container "xs") (eq $.container "sm")) "boxes--sm" "")
      (cond (or (not .to) (eq .to "right")) "" (print "boxes--" .to))
      (cond (not (.group_radius | and (not .slider))) "" "boxes--radius")
      (cond (not .align_y) "" (print "align-items-" .align_y))
      (cond (not .align_x) "" (print "justify-" .align_x))
      (cond (not .slider)  "box__block" "slider__items")
    -}}

    {{- /* STYLE  */ -}}
    {{- $style := slice
      (cond (eq $.columns.vl 1) "" (print "--cols-vl:"     $.columns.vl))
      (cond (eq $.columns.vs 1) "" (print "--cols-vs:"     $.columns.vs))
      (cond (eq .gap      nil) "" (print "--cols-gap-vl:" .gap       ))
      (cond (eq .gap_vs   nil) "" (print "--cols-gap-vs:" .gap_vs    ))
      (cond (eq .gap_ny   nil) "" (print "--cols-gap-ny:" .gap_ny    ))
    -}}

    {{- /* JOIN  */ -}}
    {{- $attrs := dict
      "class" $class
      "style" $style
    -}}
    {{- $attrs = partial "func/attrs" $attrs -}}

    {{- /* WRAP  */}}
    <div {{- $attrs }}>
  {{- end -}}
{{- end -}}

  {{- /* EACH  */ -}}
  {{- range .boxes -}}
    {{- partial "boxes/item" . -}}
  {{- end -}}

{{- if .boxes_wrap }}
  </div>

  {{- /* SLIDER BUTTONS  */ -}}
  {{- with .box }}
    {{- if .slider }}
        </div>
        {{- $opts := dict
          "items"  (len $.boxes)
          "pips"   .pips
          "arrows" .arrows
          "btn"    .btn
        }}
        {{- partial "boxes/slider-nav" $opts }}
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}