{{- $box := partial "boxes/merge-expand" . -}}
{{- with $box -}}

  {{- $node := .node | default "div" -}}

  {{- if .box_wrap -}}

    {{- /*  ATTRIBUTES  */ -}}
    {{- $box_attr  := partial "boxes/attr" . -}}

    {{- /*  BOX  */}}
    {{ print "<" $node $box_attr ">" | safeHTML -}}

      {{- /*  BACKGROUND  */ -}}
      {{- partial "back" . -}}

  {{- end -}}

    {{- /*  IMAGE  */ -}}
    {{- partial "boxes/image" . -}}

    {{- /*  TITLE  */ -}}
    {{- partial "boxes/title" . -}}

    {{- /*  ICON BOTTOM  */ -}}
    {{- if eq .icon_type "bottom" -}}
      {{- partial "boxes/icon" . -}}
    {{- end -}}

    {{- /*  SUBTITLE  */ -}}
    {{- with .subtitle }}
      <p class="box__subtitle subtitle">
        {{- . | markdownify -}}
      </p>
    {{- end -}}

    {{- /*  PRICE  */ -}}
    {{- with .price }}
      <div class="price">
        {{- . | markdownify -}}
      </div>
    {{- end -}}

    {{- /*  MD  */ -}}
    {{- if .md -}}
      {{- partial "boxes/md" . -}}
    {{- end -}}

    {{- /*  BLOCKS  */ -}}

    {{- /*  STEPS  */ -}}
    {{- if .steps -}}
      {{- $step  := .step | default dict -}}
      {{- $steps := dict "steps" .steps "level" .level -}}
      {{- $items := merge $step $steps -}}
      {{- partial "blocks/steps" $items -}}
    {{- end -}}

    {{- /*  GALLERY  */ -}}
    {{- if .images -}}
      {{- if eq .gallery.type "boxes" -}}
        {{- $images   := slice -}}
        {{- range .images -}}
          {{- $anchor := .alt | default .image | replaceRE `^(.+)\..*$` "$1" | humanize -}}
          {{- $image  := merge . (dict "anchor" $anchor) -}}
          {{- $images  = $images | append $image -}}
        {{- end -}}
        {{- $box_each := dict
          "button"  "hide"
          "cols"    .cols
          "color"   .color
          "gap"     .gap
          "ratio"   .ratio
          "contain" .contain
          "gray"    .gray
        -}}
        {{- $boxes := dict "boxes" $images -}}
        {{- $items := merge (dict "box" $box_each) $box $boxes -}}
        {{- partial "boxes/items" $items -}}
      {{- else -}}
        {{- $gallery := .gallery | default dict -}}
        {{- $images  := dict
          "images"    .images
          "bgcp"      .bgcp
          "container" .container
          "col_vs"    .col_vs
          "col_vl"    .col_vl
        -}}
        {{- $items := merge $gallery $images -}}
        {{- partial "blocks/gallery" $items -}}
      {{- end -}}
    {{- end -}}

    {{- /*  LIST  */ -}}
    {{- if .list -}}
      {{- partial "blocks/list" . -}}
    {{- end -}}

    {{- /*  ACCORDION  */ -}}
    {{- if .accordions -}}
      {{- partial "blocks/accordion" . -}}
    {{- end -}}

    {{- /*  REVIEWS  */ -}}
    {{- if .reviews -}}
      {{- $review  := .review | default dict -}}
      {{- $reviews := dict "reviews" .reviews "bgcp" .bgcp -}}
      {{- $items   := merge $review $reviews -}}
      {{- partial "blocks/reviews" $items -}}
    {{- end -}}

    {{- /*  SOCIAL  */ -}}
    {{- if .social -}}
      {{- partial "blocks/social" . -}}
    {{- end -}}

    {{- /*  CONTACT  */ -}}
    {{- if .contact -}}
      {{- partial "blocks/contact" . -}}
    {{- end -}}

    {{- /*  FORM  */ -}}
    {{- if .inputs -}}
      {{- partial "blocks/form" . -}}
    {{- end -}}

    {{- /*  MAP  */ -}}
    {{- if .geos -}}
      {{- partial "blocks/map" . -}}
    {{- end -}}

    {{- /*  GSS  */ -}}
    {{- if .gss -}}
      {{- partial "blocks/gss" . -}}
    {{- end -}}

    {{- /*  BOXES  */ -}}
    {{- if .boxes -}}
      {{- partial "boxes/items" . -}}
    {{- end -}}

    {{- /*  END BLOCKS  */ -}}

    {{- /*  TAGS  */ -}}
    {{- if .tags -}}
      {{- partial "tags" . -}}
    {{- end -}}

    {{- /*  BUTTON  */ -}}
    {{- if .is_button_link -}}
      {{- /*  anchor2: last default priority, prev $anchor_page  */}}
      {{ partial "link" (dict
        "class"   "box__button box-go"
        "button"  (.button | default "cta")
        "swap"    .swap
        "icon"    .pin
        "label"   (.label   | default (i18n "more") | markdownify)
        "anchor"  (.anchor                          | markdownify)
        "anchor2" (.hanchor | default .title        | markdownify)
        "link"    .link
        "lock"    .ofuscate
      ) -}}
    {{- end -}}

    {{- /*  MODAL BUTTONS CLOSE, PREV AND NEXT  */ -}}
    {{- if .main -}}
      {{- if and .modal (not .ph) }}
        <div class="buttons">
          {{- with $.prev }}
            {{ partial "link" (dict
              "class" "modal__prev"
              "button" "cta"
              "dot"   true
              "icon"  (site.Data.styles.icons.left | default "chevron-left")
              "emoji" "⬅️"
              "label" (i18n "prev")
              "link"  (print "#" .id)
            ) -}}
          {{- end }}
          {{ partial "link" (dict
            "class" "modal__close"
            "button" "cta"
            "dot"    (and $.prev $.next)
            "icon"   "xmark"
            "emoji"  "❌"
            "label"  (i18n "close")
          ) -}}
          {{- with $.next }}
            {{ partial "link" (dict
              "class"  "modal__next"
              "button" "cta"
              "dot"    true
              "icon"   (site.Data.styles.icons.right | default "chevron-right")
              "emoji"  "➡️"
              "label"  (i18n "next")
              "link"   (print "#" .id)
            ) -}}
          {{- end }}
        </div>
      {{- end -}}
    {{- end -}}

  {{- if .box_wrap }}
    {{ print "</" $node ">" | safeHTML -}}
  {{- end -}}
{{- end -}}
