{{- define "partials/inbox" -}}

  {{- range .sort -}}

    {{- if eq . "img" -}}

      {{- /*  IMAGE  */ -}}
      {{- partial "boxes/img" $ -}}

    {{- else if eq . "title" -}}

      {{- /*  TITLE  */ -}}
      {{- partial "boxes/title" $ -}}

    {{- else if eq . "icon_sub" -}}

      {{- /*  ICON SUB  */ -}}
      {{- if eq $.icon_pos "sub" -}}
        {{- partial "boxes/icon" $ -}}
      {{- end -}}

    {{- else if eq . "sub" -}}

      {{- /*  SUB  */ -}}
      {{- with $.sub }}
        <p class="box__sub sub">
          {{- . | markdownify -}}
        </p>
      {{- end -}}

    {{- else if eq . "price" -}}

      {{- /*  PRICE  */ -}}
      {{- with $.price }}
        <div class="price">
          {{- . | markdownify -}}
        </div>
      {{- end -}}

    {{- else if eq . "md" -}}

      {{- /*  MD  */ -}}
      {{- if $.md -}}
        {{- partial "boxes/md" $ -}}
      {{- end -}}

    {{- /*  BLOCKS  */ -}}

    {{- else if eq . "steps" -}}

    {{- /*  STEPS  */ -}}
    {{- if $.steps -}}
      {{- partial "blocks/steps" $ -}}
    {{- end -}}

    {{- else if eq . "gallery" -}}

      {{- /*  GALLERY  */ -}}
      {{- if $.imgs -}}
        {{- partial "blocks/gallery" $ -}}
      {{- end -}}

    {{- else if eq . "list" -}}

      {{- /*  LIST  */ -}}
      {{- with $.list -}}
        {{- .pagination -}}
        {{- partial "boxes/items" . -}}
      {{- end -}}

    {{- else if eq . "faq" -}}

      {{- /*  FAQ  */ -}}
      {{- if $.faqs -}}
        {{- partial "blocks/faq" $ -}}
      {{- end -}}

    {{- else if eq . "reviews" -}}

      {{- /*  REVIEWS  */ -}}
      {{- if $.reviews -}}
        {{- partial "blocks/reviews" $ -}}
      {{- end -}}

    {{- else if eq . "dots" -}}

      {{- /*  DOTS  */ -}}
      {{- if $.dots -}}
        {{- partial "blocks/dots" $ -}}
      {{- end -}}

    {{- else if eq . "when" -}}

      {{- /*  WHEN  */ -}}
      {{- if $.when -}}
        {{- partial "blocks/when" $ -}}
      {{- end -}}

    {{- else if eq . "links" -}}

      {{- /*  LINKS  */ -}}
      {{- if $.links -}}
        {{- partial "blocks/links" $ -}}
      {{- end -}}

    {{- else if eq . "form" -}}

      {{- /*  FORM  */ -}}
      {{- if $.inputs -}}
        {{- partial "blocks/form" $ -}}
      {{- end -}}

    {{- else if eq . "map" -}}

      {{- /*  MAP  */ -}}
      {{- if $.geos -}}
        {{- partial "blocks/map" $ -}}
      {{- end -}}

    {{- else if eq . "gss" -}}

      {{- /*  GSS  */ -}}
      {{- if $.gss -}}
        {{- partial "blocks/gss" $ -}}
      {{- end -}}

    {{- else if eq . "boxes" -}}

      {{- /*  BOXES  */ -}}
      {{- if $.boxes -}}
        {{- partial "boxes/items" $ -}}
      {{- end -}}

    {{- /*  END BLOCKS  */ -}}

    {{- else if eq . "tags" -}}

      {{- /*  TAGS  */ -}}
      {{- if $.tags -}}
        {{- partial "boxes/tags" $ -}}
      {{- end -}}

    {{- else if eq . "btn" -}}

      {{- /*  BUTTON  */ -}}
      {{- if $.is_btn_url -}}
        {{- partial "boxes/btn" $ -}}
      {{- end -}}

    {{- end -}}

  {{- end -}}

{{- end -}}


{{- /*  FINAL  */ -}}
{{- $box := . -}}
{{- /*  Container flag  */ -}}
{{- if .box_wrap -}}
  {{- if page.Store.Get "is_container" -}}
    {{- page.Store.Set "is_container" false -}}
    {{- $box = merge $box (dict "is_container" true) -}}
  {{- end -}}
{{- end -}}
{{- $node  := .node | default "div" -}}
{{- $inbox := partial "inbox" . -}}

{{- if .box_wrap -}}

  {{- /*  Only one link (box--go)  */ -}}
  {{- if not $box.is_container -}}
    {{- $is_vid := $inbox | findRE `<video |<iframe ` -}}
    {{- if not $is_vid -}}
      {{- $links := $inbox | findRE `<a [^>]*href=|tabindex="0"| type="submit"| type="button"` -}}
      {{- $ool   := eq (len $links) 1 -}}
      {{- if $ool -}}
        {{- $ool = dict "only_one_link" true -}}
        {{- $box = merge $box $ool -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /*  ATTRIBUTES  */ -}}
  {{- $box_attr  := partial "boxes/attr" $box -}}

  {{- /*  WRAP  */}}
  {{ print "<" $node $box_attr ">" | safeHTML -}}

    {{- /*  BACKGROUND  */ -}}
    {{- partial "bg" . -}}

{{- end -}}

{{- /*  INBOX  */ -}}
{{- $inbox -}}

{{- /*  MODAL NAV  */ -}}
{{- if and .root .is_modal (not .section.ph) }}
  {{- partial "boxes/modal-nav" . -}}
{{- end -}}

{{- /*  END WRAP  */ -}}
{{- if .box_wrap }}
  {{ print "</" $node ">" | safeHTML -}}
{{- end -}}
