{{ $box  := . }}
{{ $page := .Page | default page }}

{{/*  color and bgcp  */}}
{{/*  {{ $color := cond (ne .color nil) .color (cond (not .card) "" "black") }}  */}}
{{/*  {{ $color := cond (ne .color nil) .color (cond (not .card) "" "black") }}  */}}

{{ $color := .color }}
{{ if eq $color nil }}
  {{ if .card }}
    {{ $color = "black" }}
  {{ end }}
{{ end }}

{{ $bgc   := partial "functions/color-background" (dict "child" $color "parent" .bgcp) }}

{{/*  fit col  */}}
{{ $col_vl := mul .col_vl (.fit    | default 1.00) }}
{{ $col_vs := mul .col_vs (.fit_vs | default 1.00) }}

{{/*  bg and image  */}}
{{ $bi    := .bi }}
{{ $image := .image }}
{{ if .card }}
  {{ $image = "" }}
  {{ if not .bi }}
    {{ $bi = .image }}
  {{ end }}
{{ end }}
{{ $is_bg := or $bi $color .fade }}

{{/*  images  */}}
{{ $gallery := .gallery }}
{{ $images  := slice }}
{{ $rawimgs := slice }}
{{ range .images }}
  {{ $image  := dict "image" . "link"  . }}
  {{ $rawimgs = $rawimgs | append $image }}
{{ end }}
{{ range .limages }}
  {{ $rawimgs = $rawimgs | append . }}
{{ end }}
{{ range $k, $v := $rawimgs }}
  {{ $alt := .alt }}
  {{ if not .alt }}
    {{ with $gallery }}
      {{ with .alt }}
        {{ $alt = print . " " (add $k 1) }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $image := merge . (dict "alt" $alt) }}
  {{ $images = $images | append $image }}
{{ end }}

{{/*  shade  */}}
{{ $ratio := .ratio }}
{{ with $ratio }}
  {{ if not (in . "/") }}
    {{ $ratio = print . "/1" }}
  {{ end }}
{{ else }}
  {{ if and .shade (not $image) }}
    {{ $ratio = "16/9" }}
  {{ end }}
{{ end }}

{{/*  link  */}}
{{ $link             := .link }}
{{ if $link }}
  {{ $external       := hasPrefix $link "http" }}
  {{ $is_anchor_link := hasPrefix $link "#" }}
  {{ $start_slash    := $link | findRE `^/` }}
  {{ if and (not $external) (not $is_anchor_link) (not $start_slash) }}
    {{ with resources.Get ((print "/media/" $link) | replaceRE `\#.*$` "") }}
      {{ $link        = .RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  boxes  */}}
{{ $boxes := slice }}
{{ range .boxes }}
  {{ $opts := dict "Page" $page "item" . }}
  {{ with partial "functions/params-merge" $opts }}
    {{ $boxes = $boxes | append . }}
  {{ end }}
{{ end }}

{{/*  others  */}}
{{ $icon_type      := .icon_type | default (cond .main "bottom" "top") }}
{{ $group_radius   := .group_radius | and (not .slider) }}
{{ $underline      := and .underline (not (and .icon (eq $icon_type "bottom"))) }}
{{ $show           := site.Data.config.others.show }}
{{ $is_title       := or .title .hanchor .menu_label }}
{{ $is_title_link  := and $link (eq .button "hide") $is_title }}
{{ $is_button_hide := and $link (eq .button "hide") (not $is_title) }}
{{ $is_button_show := and $link (ne .button "hide") }}
{{ $is_button_link := or $is_button_show $is_button_hide }}

{{/*  wrap  */}}
{{ $box_wrap := or
  .boxes_wrap
  .fit
  .fit_vs
  .node
  $is_bg
  .parallax
  .pd
  .pill
  .align
  .align_vl
  .align_x
  .order
  .space
}}

{{/*  sort  */}}
{{ $sort := .sort
  | default slice
  | append
  "image"
  "title"
  "icon_bottom"
  "subtitle"
  "price"
  "md"
  "steps"
  "gallery"
  "list"
  "accordion"
  "reviews"
  "social"
  "contact"
  "form"
  "map"
  "gss"
  "boxes"
  "tags"
  "button"
  | uniq
}}

{{/*  merge  */}}
{{ $to_merge := dict
  "Page"           $page
  "bgcp"           $bgc.parent
  "color"          $bgc.child
  "col_vl"         $col_vl
  "col_vs"         $col_vs
  "is_bg"          $is_bg
  "bi"             $bi
  "image"          $image
  "images"         $images
  "ratio"          $ratio
  "link"           $link
  "boxes"          $boxes
  "icon_type"      $icon_type
  "group_radius"   $group_radius
  "underline"      $underline
  "show"           $show
  "is_title_link"  $is_title_link
  "is_button_hide" $is_button_hide
  "is_button_link" $is_button_link
  "box_wrap"       $box_wrap
  "sort"           $sort
  "prev"           nil
  "next"           nil
  "limages"        nil
}}
{{ $box = merge . $to_merge }}

{{ return $box }}