{{ $item := . }}
{{ $page := .Page | default page }}

{{/*  color and bgcp  */}}
{{/*  {{ $color := cond (ne .color nil) .color (cond (not .card) "" "black") }}  */}}
{{/*  {{ $color := cond (ne .color nil) .color (cond (not .card) "" "black") }}  */}}

{{ $color := .color }}
{{ if eq $color "hide" }}
  {{ $color = "" }}
{{ end }}
{{ if not $color }}
  {{ if .card }}
    {{ $color = "black" }}
  {{ end }}
{{ end }}

{{ $bgc   := partial "func/color-background" (dict "child" $color "parent" .bgcp) }}

{{/*  fit col  */}}
{{ $col_vl := mul (.col_vl | default 1.00) (.fit    | default 1.00) }}
{{ $col_vs := mul (.col_vs | default 1.00) (.fit_vs | default 1.00) }}

{{/*  bg and image  */}}
{{ $fade := cond (eq .fade "hide") "" .fade }}
{{ $bi   := cond (eq .bi   "hide") "" .bi   }}
{{ $img  := .img }}
{{ if .card }}
  {{ $img = "" }}
  {{ if not .bi }}
    {{ $bi = .img }}
  {{ end }}
{{ end }}
{{ $is_bg := or $bi $color $fade }}

{{/*  images  */}}
{{ $gallery := .gallery }}
{{ $imgs    := slice }}
{{ $rawimgs := slice }}
{{ range .imgs }}
  {{ $img    := dict "img" . "url"  . }}
  {{ $rawimgs = $rawimgs | append $img }}
{{ end }}
{{ range .limgs }}
  {{ $rawimgs = $rawimgs | append . }}
{{ end }}
{{ range $k, $v := $rawimgs }}
  {{ $alt := .alt }}
  {{ if not .alt }}
    {{ with $gallery }}
      {{ with .alt }}
        {{ $alt = print . " " (add $k 1) }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $img := merge . (dict "alt" $alt) }}
  {{ $imgs = $imgs | append $img }}
{{ end }}

{{/*  gallery  */}}
{{ if eq .gallery.type "boxes" }}
  {{/* If eq type boxes  */}}
  {{ $items := slice }}
  {{ range $imgs }}
    {{ $anchor := .alt | default (.img | replaceRE `^(.+)\..*$` "$1" | humanize) }}
    {{ $anchor  = dict "anchor" $anchor }}
    {{ $item   := merge . $anchor }}
    {{ $items   = $items | append $item }}
  {{ end }}
  {{ $each := dict
    "btn"     "hide"
    "cols"    .cols
    "color"   .color
    "gap"     .gap
    "ratio"   .ratio
    "contain" .contain
    "gray"    .gray
  }}
  {{ if reflect.IsMap .box }}
    {{ $each  = merge $each .box }}
  {{ end }}
  {{ $gallery = dict "box" $each "boxes" $items }}
  {{ $gallery = merge . .gallery $gallery }}
  {{ $gallery = partial "boxes/merge-expand-items" $gallery }}
{{ end }}

{{/*  list  */}}
{{ $list := dict }}
{{ if .list }}
  {{ with partial "blocks/list" . }}
    {{ $list = partial "boxes/merge-expand-items" . }}
  {{ end }}
{{ end }}

{{/*  shade  */}}
{{ $ratio := .ratio }}
{{ with $ratio }}
  {{ if not (in . "/") }}
    {{ $ratio = print . "/1" }}
  {{ end }}
{{ else }}
  {{ if and .shade (not $img) }}
    {{ $ratio = "16/9" }}
  {{ end }}
{{ end }}

{{/*  url  */}}
{{ $url             := .url }}
{{ if $url }}
  {{ $out           := hasPrefix $url "http" }}
  {{ $is_anchor_url := hasPrefix $url "#" }}
  {{ $start_slash   := $url | findRE `^/` }}
  {{ if and (not $out) (not $is_anchor_url) (not $start_slash) }}
    {{ with resources.Get ($url | replaceRE `\#.*$` "") }}
      {{ $url        = .RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  others  */}}
{{ $icon_pos     := .icon_pos | default (cond .zero "sub" "top") }}
{{ $group_radius := .group_radius | and (not .slider) }}
{{ $line         := and .line (not (and .icon (eq $icon_pos "sub"))) }}
{{ $show         := site.Data.config.show }}
{{ $is_title     := or .title .hanchor .menu_label }}
{{ $is_title_url := and $url (eq .btn "hide") $is_title }}
{{ $is_btn_hide  := and $url (eq .btn "hide") (not $is_title) }}
{{ $is_btn_show  := and $url (ne .btn "hide") }}
{{ $is_btn_url   := or $is_btn_show $is_btn_hide }}

{{/*  wrap  */}}
{{ $box_wrap := or
  .boxes_wrap
  .fit
  .fit_vs
  .node
  $is_bg
  .side
  .scroll
  .pd
  .pill
  .align
  .align_vl
  .align_x
  .order
  .space
  .rate
}}

{{/*  sort  */}}
{{ $sort := .sort
  | default slice
  | append
  "img"
  "title"
  "icon_sub"
  "sub"
  "price"
  "md"
  "steps"
  "gallery"
  "list"
  "faq"
  "reviews"
  "dots"
  "when"
  "links"
  "form"
  "map"
  "gss"
  "boxes"
  "tags"
  "btn"
  | uniq
}}

{{/*  merge  */}}
{{ $to_merge := dict
  "Page"         $page
  "bgcp"         $bgc.parent
  "color"        $bgc.child
  "col_vl"       $col_vl
  "col_vs"       $col_vs
  "is_bg"        $is_bg
  "fade"         $fade
  "bi"           $bi
  "img"          $img
  "imgs"         $imgs
  "gallery"      $gallery
  "list"         $list
  "ratio"        $ratio
  "url"          $url
  "icon_pos"     $icon_pos
  "group_radius" $group_radius
  "line"         $line
  "show"         $show
  "is_title_url" $is_title_url
  "is_btn_hide"  $is_btn_hide
  "is_btn_url"   $is_btn_url
  "box_wrap"     $box_wrap
  "sort"         $sort
  "limgs"        nil
  "get"          nil
}}
{{ $item = merge $item $to_merge }}

{{/*  hide string params  */}}
{{ $item = partial "func/hide" (dict "item" $item) }}
{{ $item = partial "func/obj-no-nil" $item }}

{{/*  boxes  */}}
{{ with .boxes }}
  {{ $boxes := slice }}
  {{/*  get params merge  */}}
  {{ range . }}
    {{ $opts := dict "Page" $page "item" . }}
    {{ with partial "func/get-params-merge" $opts }}
      {{ $boxes = $boxes | append . }}
    {{ end }}
  {{ end }}
  {{/*  expand  */}}
  {{ $boxes = dict "boxes" $boxes }}
  {{ $opts := merge $item $boxes }}
  {{ $item  = partial "boxes/merge-expand-items" $opts }}
{{ end }}

{{/*  box_wrap if there is only one box in root and child not box_wrap (or many boxes)  */}}
{{ if and .root $item.boxes }}
  {{ if not $box_wrap }}
    {{ $len := len (or $item.boxes slice) }}
    {{ if eq $len 1 }}
      {{/*  only one  */}}
      {{ $child := index $item.boxes 0 }}
      {{ $child_wrap := $child.box_wrap }}
      {{ if not $child_wrap }}
        {{ $box_wrap = true }}
      {{ else }}
        {{/*  merge child into parent  */}}
        {{ $item = merge $item $child (dict "boxes" $child.boxes) }}
      {{ end }}
    {{ else if gt $len 1 }}
      {{/*  any  */}}
      {{ $box_wrap = true }}
    {{ end }}
    {{ if $box_wrap }}
      {{ $merge := dict "box_wrap" true }}
      {{ $item   = merge $item $merge }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $item }}