<div class="modal__nav buttons">
  {{- with .prev }}
    {{ partial "link" (dict
      "class"   "modal__prev"
      "button"  "cta"
      "dot"     true
      "default" "left"
      "label"   (i18n "prev")
      "anchor"  "auto"
      "link"    (print "#" .id)
    ) -}}
  {{- end }}
  {{ partial "link" (dict
    "class"   "modal__close"
    "button"  "cta"
    "dot"     (and .prev .next)
    "default" "close"
    "label"   (i18n "close")
  ) -}}
  {{- with .next }}
    {{ partial "link" (dict
      "class"   "modal__next"
      "button"  "cta"
      "dot"     true
      "default" "right"
      "label"   (i18n "next")
      "anchor"  "auto"
      "link"    (print "#" .id)
    ) -}}
  {{- end }}
</div>