{{- $button := cond (eq .button "hide") "" .button | default "cta" -}}

{{- /*  BULLETS  */ -}}
{{- $bullets_class := "slider__bullets" -}}
{{- if in (slice "hide" "radius") .bullets -}}
  {{- $bullets_class = print $bullets_class " slider__bullets--" .bullets -}}
{{- end }}
<div class="{{ $bullets_class }}">
  {{- $bullet_class := "slider__bullet" -}}
  {{- range seq .items -}}
    {{- if eq . 1 -}}
      {{- $bullet_class = print $bullet_class " slider__bullet--active" -}}
    {{- end }}
    {{ partial "link" (dict
      "class"  $bullet_class
      "button" ($button | default "cta")
      "title"  (print (i18n "slide") " " .)
    ) -}}
  {{- end }}
</div>

{{- /*  ARROWS  */ -}}
{{- $arrows_class := "slider__arrows" -}}
{{- if in (slice "hide" "float") .arrows -}}
  {{- $arrows_class = print $arrows_class " slider__arrows--" .arrows -}}
{{- end }}
<div class="{{ $arrows_class }}">
  {{ partial "link" (dict
    "class"  "slider__arrow slider__arrow--left"
    "button" ($button | default "cta")
    "dot"    true
    "icon"   (site.Data.styles.icons.left | default "chevron-left")
    "emoji"  "⬅️"
    "title"  (i18n "slide_left")
  ) }}
  {{ partial "link" (dict
    "class"  "slider__arrow slider__arrow--right"
    "button" ($button | default "cta")
    "dot"    true
    "icon"   (site.Data.styles.icons.right | default "chevron-right")
    "emoji"  "➡️"
    "title"  (i18n "slide_right")
  ) -}}
</div>