
{{ $menu  := site.Data.menu }}
{{ $pages := slice }}
{{ $items := slice }}

{{ if $menu.show_blog_auto }}
  {{ with .GetPage "blog" }}
    {{ $pages = $pages | append . }}
  {{ end }}
{{ end }}

{{ if $menu.show_events_auto }}
  {{ with .GetPage "events" }}
    {{ $pages = $pages | append . }}
  {{ end }}
{{ end }}

{{ if $menu.show_products_auto }}
  {{ with .GetPage "products" }}
    {{ $pages = $pages | append . }}
  {{ end }}
{{ end }}

{{ if $menu.show_taxonomies_auto }}
  {{ with .GetPage "categories" }}
    {{ $pages = $pages | append . }}
  {{ end }}
  {{ with .GetPage "tags" }}
    {{ $pages = $pages | append . }}
  {{ end }}
  {{ with .GetPage "authors" }}
    {{ $pages = $pages | append . }}
  {{ end }}
{{ end }}

{{ range $pages }}
  {{ if gt (len .Pages) 1 }}
    {{ $tax      := index site.Data.utilities.taxonomies .Type }}
    {{ $items = $items | append (dict
      "link"     .RelPermalink
      "icon"     $tax.icon
      "emoji"    $tax.emoji
      "label"    .Title
      "ofuscate" .Params.noindex
    ) }}
  {{ end }}
{{ end }}
{{ return $items }}