.section--footer {
  a,
  [data-h],
  [data-b] {
    &:not(:hover, button, .button) {
      color: inherit;
    }
    &:not(#aux) {
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-size: inherit;
    }
  }
}
.footer__float {
  position: absolute;
  bottom: 1.25em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.25em;
  opacity: .75;
  font-size: 1.25em;
  > *:is(i, a) {
    display: block;
    > svg {
      color: inherit;
    }
  }
}