.body-menu--logo:not(.body-menu--sticky--active) {
  --menu-py: .75em;
  .menu__toggle {
    top: 0.375em;
    transition: top .3s, filter .3s;
    @if not $buttons-3d {
      filter: none;
    }
  }
  .logo {
    top: 0;
    width: 100%;
    padding-block: var(--menu-py);
    transition: background-color .3s, filter .3s;
    z-index: 190;
    &.bg {
      background-color: var(--bg-color);
    }
    .container {
      justify-content: flex-start;
    }
  }
  .logo__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    z-index: 1;
    position: relative;
    height: 2.25em;
    @include fluid-size(--margin-toggle-right, 1em, 4, 0);
    max-width: calc(100% - var(--margin-toggle-right, 4em));
    @media (min-width: 540px) {
      --margin-toggle-right: 0em;
    }
    &:is(.container.align-center *) {
      justify-content: center;
    }
    &:is(.container.align-right *) {
      justify-content: flex-end;
    }
  }
  .logo__image {
    &, img {
      display: block;
      width: auto;
      max-width: 100%;
      max-height: 4em;
      height: 100%;
      fill: unset;
    }
    flex-shrink: 0;
    transition: height .3s;
  }
  .logo__titles {
    font-size: 0.67em;
    text-align: left;
    transition: font-size .3s;
  }
  .logo__title {
    color: var(--title);
    + .logo__subtitle {
      margin-top: -1.25em;
    }
  }
  .logo__subtitle {
    display: block;
    font-size: 1.2em;
    color: var(--subtitle);
  }

  // BODY-TOP
  // TRANSPARENT NO STICKY
  &.body-top,
  &.body-menu--transparent:not(.body-menu--logo--sticky) {
    --menu-py: 2.25em;
    .logo__image {
      height: 4em;
    }
    .logo__titles {
      font-size: 1em;
    }
    .menu__toggle {
      top: 1.875em;
      @if not $buttons-3d {
        filter: drop-shadow($shadow);
      }
    }
  }

  // STICKY
  &.body-menu--logo--sticky {
    .logo {
      position: fixed;
      &.bg {
        // Fix the left corner
        filter: drop-shadow(0 $shadow-top $shadow-blur $shadow-color);
      }
    }
  }

  // NOT STICKY
  &:not(.body-menu--logo--sticky) {
    .logo {
      position: sticky;
    }
  }

  // NO TRANSPARENT
  &:not(.body-menu--transparent) {
    .logo {
      transition: padding .3s;
    }
  }

  // NO TRANSPARENT STICKY
  &:not(.body-menu--transparent).body-menu--logo--sticky {
    .logo {
      position: sticky;
    }
  }

  // NO TRANSPARENT NO STICKY
  &:not(.body-menu--transparent, .body-menu--logo--sticky) {
    .logo {
      position: relative;
    }
  }

  // TRANSPARENT
  &.body-menu--transparent {
    .logo {
      transition: background-color .3s, filter .3s, padding .3s;
    }
    .logo__image {
      transition: height .3s;
    }
  }

  // TRANSPARENT NOT STICKY
  &.body-menu--transparent:not(.body-menu--logo--sticky) {
    .logo {
      position: absolute;
      background-color: transparent;
      filter: none;
    }
  }

  // TRANSPARENT BODY-TOP STICKY
  &.body-menu--transparent.body-top.body-menu--logo--sticky {
    .logo {
      // position: sticky;
      background-color: transparent;
      filter: none;
    }
  }
}


// NOT LOGO STICKY
.body-menu--sticky--active {
  .logo {
    display: none;
  }
}