{{/*  SECTIONS WITH HEADER AND FOOTER  */}}
{{- $sections_raw :=
  partial "functions/sections" page
  | default slice
  | append (partial "functions/footer" .)
-}}


{{/*  ADD PREV/NEXT, IN MODALS TOO  */}}
{{- $sections := slice -}}
{{- range $key, $section := $sections_raw -}}

  {{/*  SECTION  */}}
  {{- $section  = partial "functions/prev-next" (dict
    "item"  .
    "items" $sections_raw
    "key"   $key
  ) -}}

  {{/* NEXT FOOTER DIVIDER WHEN THIS NOT HAVE  */}}
  {{- if not $section.divider -}}
    {{- if eq $section.next.id "footer" -}}
      {{- $section = merge $section (dict
        "divider" $section.next.divider
        "flip_x"  $section.next.flip_x
        "flip_y"  $section.next.flip_y
      ) -}}
    {{- end -}}
  {{- end -}}

  {{/* FOOTER DIVIDER WHEN PREV NOT HAVE  */}}
  {{- if not $section.prev.divider -}}
    {{- if eq $section.id "footer" -}}
      {{- $section = merge $section (dict
        "prev" (dict
          "divider" $section.divider
          "flip_x"  $section.flip_x
          "flip_y"  $section.flip_y
        )
      ) -}}
    {{- end -}}
  {{- end -}}

  {{/*  MODALS  */}}
  {{- if .modals -}}
    {{- $modals      := slice -}}
    {{- $modals_raw  := .modals -}}
    {{- range $k, $v := .modals -}}
      {{- $modal     := partial "functions/prev-next" (dict
        "item"  .
        "items" $modals_raw
        "key"   $k
      ) -}}
      {{- $modals  = $modals | append $modal -}}
    {{- end -}}
    {{- $section   = merge $section (dict "modals" $modals) -}}
  {{- end -}}

  {{- $sections = $sections | append $section -}}

{{- end -}}

{{/*  FILTER HEADER, FOOTER OR MAIN  */}}
{{- $finals  := slice -}}
{{- if .header -}}
  {{- $finals = first 1 $sections -}}
{{- else if .footer -}}
  {{- $finals = last 1 $sections -}}
{{- else -}}
  {{- $finals = after 1 (first (sub (len $sections) 1) $sections) -}}
{{- end -}}

{{/*  PRINT  */}}
{{ range $key, $final := $finals }}

  {{/* SECTION  */}}
  {{- partial "components/section" (merge . (dict "key" $key)) -}}

  {{/*  MODALS  */}}
  {{- range $k, $v := .modals -}}
    {{- partial "components/section" (merge . (dict "key" $key "k" $k)) -}}
  {{- end -}}

{{ end }}