{{ $config   := site.Data.config }}
{{ $lang_cms := partial "functions/lang-cms" . }}
{{ $locales  := slice }}
{{ with site.Data.langs }}
  {{ range . }}
    {{ $locales = $locales | append .lang }}
  {{ end }}
{{ end }}


{{/*  YAML ANCHORS  */}}
{{ $anchors := slice
  | append (partial "cms/config/options"               .)
  | append (partial "cms/config/boxes"                 .)
  | append (partial "cms/config/blocks"                .)
  | append (partial "cms/config/collections/sections"  .)
  | append (partial "cms/config/collections/templates" .)
  | append (partial "cms/config/collections/pages"     .)
  | append (partial "cms/config/collections/types"     .)
  | append (partial "cms/config/singletons/config"     .)
  | append (partial "cms/config/singletons/langs"      .)
  | append (partial "cms/config/singletons/customs"    .)
  | append (partial "cms/config/singletons/defaults"   .)
  | append (partial "cms/config/singletons/styles"     .)
  | append (partial "cms/config/singletons/remote"     .)
  | append (partial "cms/config/singletons/values"     .)
}}


{{ $site_url      := "" }}
{{ $publish_mode  := "" }}
{{ $domain        := ".pages.dev/" }}
{{- if getenv "NETLIFY" -}}
  {{ $domain       = ".netlify.app/" }}
{{- end -}}
{{ if $config.cms_editorial }}
  {{ $site_url   = print "https://" site.Params.name $domain }}
  {{ $publish_mode = "editorial_workflow" }}
{{ else if $config.development }}
  {{ $site_url     = print "https://" site.Params.name $domain }}
{{ else }}
  {{ $site_url     = site.Home.Permalink }}
{{ end }}


{{/*  LOGO  */}}
{{ $logo := "" }}
{{ with $config.cms_logo }}
  {{ $path := print "/media/" . }}
  {{ with resources.Get $path }}
    {{ $logo = .RelPermalink }}
  {{ end }}
{{ end }}
{{ if not $logo }}
  {{ $logo = partial "functions/logo" . }}
{{ end }}


{{/*  BUTTON LOGIN WITH GITHUB  */}}
{{/*  https://decapcms.org/docs/github-backend/  */}}
{{- $backend := dict
  "name"     `github`
  "repo"     (print "seacomoseo/" site.Params.domain)
  "branch"   `main`
  "base_url" `https://sveltia-cms-auth.sansoul.workers.dev`
  "skip_ci"  true
-}}


{{ $cms_config := dict
  "_anchors"        $anchors
  "backend"         $backend
  "media_folder"    `assets/media`
  "public_folder"   `/`
  "site_url"        $site_url
  "media_libraries" (dict
    "default" (dict
      "config" (dict
        "max_file_size"   512000000
        "folder_support"  true
        "transformations" (dict
          "raster_image" (dict
            "format"  "webp"
            "quality" 85
            "width"   2048
            "height"  2048
          )
          "svg" (dict
            "optimize" false
          )
        )
      )
    )
  )
  "logo_url"        $logo
  "locale"          $lang_cms
  "i18n"            (dict
    "structure"       "multiple_files"
    "locales"         $locales
    "initial_locales" $locales
    "default_locale"  .Lang
  )
  "slug"            (dict
    "encoding"             `ascii`
    "clean_accents"        true
    "sanitize_replacement" `-`
  )
  "output"          (dict
    "omit_empty_optional_fields" true
    "encode_file_path"           true
    "yaml"                       (dict
      "quote"            `none`
      "indent_size"      2
      "indent_sequences" false
    )
  )
  "collections"     (partial "cms/config/collections/_" .)
  "singletons"      (partial "cms/config/singletons/_" .)
}}
{{ with $publish_mode }}
  {{ $cms_config = merge $cms_config (dict "publish_mode" .) }}
{{ end }}


{{/*  JSON TO YAML MERGES, ANCHORS AND ALIASES  */}}

{{ $cms_config = $cms_config
  | jsonify
  | replaceRE `"\\u003c\\u003c":` " <<: "
  | replaceRE `\"\\u0026(.+?)\":` ` "$1": &$1 `
  | replaceRE `\"~(.+?)\"` ` *$1 `
}}


{{/*  YAML TO SEMI JSON  */}}

{{/*
{{ define "partials/recursive-fin-aliases" }}
  {{ $result  := dict }}
  {{ $json    := .json }}
  {{ $anchors := .anchors }}

  {{ $matches := $json | findRE `\"~(.+?)\"` | uniq }}
  {{ if gt (len $matches) 0 }}
    {{ range $matches }}
      {{ $alias := . }}
      {{ $anchor := . | replaceRE `\"~` "&" | replaceRE `\"$` "" }}
      {{ with index $anchors $anchor }}
        {{ $value := . | jsonify }}
        {{ $json = replace $json $alias $value }}
      {{ end }}
    {{ end }}
    {{ $result = partial "recursive-fin-aliases" (dict "json" $json "anchors" $anchors) }}
  {{ else }}
    {{ $result = $json }}
  {{ end }}
  {{ return $result }}
{{ end }}

{{ $anchors = dict }}
{{ range $cms_config._anchors }}
  {{ $anchors = merge $anchors . }}
{{ end }}
{{ $anchors_json := jsonify $anchors }}
{{ $anchors_json  = partial "recursive-fin-aliases" (dict "json" $anchors_json "anchors" $anchors) }}
{{ $anchors       = $anchors_json | unmarshal }}

{{ $cms_config_json := jsonify $cms_config }}
{{ $cms_config_json  = partial "recursive-fin-aliases" (dict "json" $cms_config_json "anchors" $anchors) }}
{{ $cms_config       = $cms_config_json | unmarshal }}
{{ $cms_config       = merge $cms_config (dict "_anchors" nil)
  | jsonify
  | replaceRE `"\\u003c\\u003c":` " <<: "
}}
*/}}


{{/*  YAML TO PURE JSON  */}}
{{/*  
{{ $cms_config = print `aux: ` $cms_config | unmarshal }}
{{ $cms_config = merge $cms_config.aux (dict "_anchors" nil) }}
{{ $cms_config = $cms_config | jsonify }}
{{ $cms_config = $cms_config.aux| jsonify (cond hugo.IsProduction dict (dict "prefix" "" "indent" "  ")) }}
*/}}

{{ return $cms_config }}