{{ $t := partial "functions/i18n" . }}

{{ $colections    := slice }}


{{/*  BACKGROUND  */}}
{{ $colections = $colections | append
  (dict "&BASE_BACKGROUND" (dict
    "label"     $t.base_background
    "name"      `background`
    "widget"    `object`
    "collapsed" true
    "required"  false
    "i18n"      true
    "fields"    (slice
      `~BOX_BG_COLOR`
      `~BOX_BG_GRADIENT_COLOR`
      `~BOX_BG_GRADIENT_TYPE`
      `~BOX_BG_IMAGE`
      `~BOX_BG_ALPHA`
      `~BOX_PARALLAX_SECTIONS`
    )
  ))
}}


{{/*  MENU  */}}
{{ $menu_langs  := slice }}
{{ range site.Languages }}
  {{ $menu_langs = $menu_langs | append (dict "<<" (slice
    (dict "name" .Lang "label" (print $t.base_menu_items " " (index $t (print "option-langs-" .Lang))))
    `~MENU_ITEMS`
  )) }}
{{ end }}
{{ $menu_fields := slice
  `~MENU_HIDE`
  `~MENU_LOGO`
  `~MENU_STICKY`
  `~MENU_LOGO_STICKY`
  `~MENU_LOGO_ALIGN`
  `~MENU_SIZE`
  `~MENU_TRANSPARENT`
  `~BOX_BG_COLOR`
  `~BOX_BG_GRADIENT_COLOR`
  `~BOX_BG_GRADIENT_TYPE`
  `~MENU_HIDE_SECTIONS`
  `~MENU_HIDE_MODALS`
  `~MENU_HIDE_ICONS`
  `~MENU_GOOGLE_TRANSLATE`
}}
{{ $menu_items_fields := slice
  `~BOX_BUTTON_LINK`
  `~BOX_ICON_ID`
  `~BOX_BUTTON_LABEL`
  `~BOX_BUTTON_ANCHOR`
  `~BOX_BUTTON_OFUSCATE`
  `~BOX_BUTTON_COLOR`
  `~BOX_BUTTON_FONT_ALT`
}}
{{ $colections = $colections | append

  (dict "&MENU_ITEMS_FIELDS" $menu_items_fields)
  (dict "&MENU_SUBITEMS_LAST"   (dict
    "label"          $t.base_menu_subitems
    "label_singular" $t.base_menu_subitem
    "name"           `items`
    "widget"         `list`
    "collapsed"      true
    "summary"        "{{fields.label}}"
    "allow_add"      true
    "required"       false
    "i18n"           true
    "fields"         `~MENU_ITEMS_FIELDS`
  ))
  (dict "&MENU_SUBITEMS_2" (dict "<<" (slice (dict "fields" ($menu_items_fields | append `~MENU_SUBITEMS_LAST`)) `~MENU_SUBITEMS_LAST`)))
  (dict "&MENU_SUBITEMS"   (dict "<<" (slice (dict "fields" ($menu_items_fields | append `~MENU_SUBITEMS_LAST`)) `~MENU_SUBITEMS_2`)))

  (dict "&MENU_ITEMS"  (dict
    "label"          $t.base_menu_items
    "label_singular" $t.base_menu_item
    "name"           `items`
    "widget"         `list`
    "collapsed"      true
    "summary"        "{{fields.label}}"
    "allow_add"      true
    "required"       false
    "i18n"           true
    "fields"         ($menu_items_fields | append `~MENU_SUBITEMS`)
  ))

  (dict "&MENU_HIDE"             (dict "label" $t.base_menu_hide             "name" `hide`             "widget" `boolean` "required" false))
  (dict "&MENU_LOGO"             (dict "label" $t.base_menu_logo             "name" `logo`             "widget" `boolean` "required" false))
  (dict "&MENU_STICKY"           (dict "label" $t.base_menu_sticky           "name" `sticky`           "widget" `select`  "required" false "options" `~OPTIONS_SIZES` "hint" $t.base_menu_sticky_hint))
  (dict "&MENU_LOGO_STICKY"      (dict "label" $t.base_menu_logo_sticky      "name" `logo_sticky`      "widget" `boolean` "required" false                            "hint" $t.base_menu_logo_sticky_hint))
  (dict "&MENU_LOGO_ALIGN"       (dict "label" $t.base_menu_logo_align       "name" `logo_align`       "widget" `boolean` "required" false                            "hint" $t.base_menu_logo_align_hint))
  (dict "&MENU_SIZE"             (dict "label" $t.box_size                   "name" `size`             "widget" `select`  "required" false "options" `~OPTIONS_SIZES`))
  (dict "&MENU_TRANSPARENT"      (dict "label" $t.base_menu_transparent      "name" `transparent`      "widget" `boolean` "required" false                            "hint" $t.base_menu_transparent_hint))
  (dict "&MENU_HIDE_SECTIONS"    (dict "label" $t.base_menu_hide_sections    "name" `hide_sections`    "widget" `boolean` "required" false                            "hint" $t.base_menu_hide_sections_hint))
  (dict "&MENU_HIDE_MODALS"      (dict "label" $t.base_menu_hide_modals      "name" `hide_modals`      "widget" `boolean` "required" false                            "hint" $t.base_menu_hide_modals_hint))
  (dict "&MENU_HIDE_ICONS"       (dict "label" $t.base_menu_hide_icons       "name" `hide_icons`       "widget" `boolean` "required" false))
  (dict "&MENU_GOOGLE_TRANSLATE" (dict "label" $t.base_menu_google_translate "name" `google_translate` "widget" `boolean` "required" false))

  (dict "&BASE_MENU" (dict
    "label"     $t.base_menu
    "name"      `menu`
    "widget"    `object`
    "collapsed" true
    "required"  false
    "i18n"      true
    "fields"    ($menu_fields | append `~MENU_ITEMS`)
  ))
  (dict "&BASE_MENU_TEMPLATE" (dict
    "<<" (slice
      (dict "fields" ($menu_fields | append $menu_langs))
      (dict "i18n" false)
      `~BASE_MENU`
    )
  ))
}}


{{/*  CALLNOW  */}}
{{ $callnow_langs  := slice }}
{{ range site.Languages }}
  {{ $callnow_langs = $callnow_langs | append (dict "<<" (slice
    (dict "name" .Lang)
    (dict "label" (print $t.base_callnow_items " " (index $t (print "option-langs-" .Lang))))
    `~CALLNOW_ITEMS`
  )) }}
{{ end }}
{{ $colections = $colections | append
  (dict "&CALLNOW_HIDE"  (dict "label" $t.base_callnow_hide "name" `hide` "widget" `boolean` "required" false))
  (dict "&CALLNOW_ITEMS" (dict
    "label"          $t.base_callnow_items
    "label_singular" $t.base_callnow_item
    "name"           `items`
    "widget"         `list`
    "summary"        "{{fields.label}}"
    "collapsed"      true
    "allow_add"      true
    "required"       false
    "types"     (slice
      (dict "label" $t.box_contact_phone    "name" `phone`    "widget" `object` "fields" (slice `~BOX_CONTACT_LABEL_PHONE` `~BOX_BUTTON_COLOR` `~BOX_ICON_ID`))
      (dict "label" $t.box_contact_whatsapp "name" `whatsapp` "widget" `object` "fields" (slice `~BOX_CONTACT_LABEL_PHONE` `~BOX_BUTTON_COLOR`))
      (dict
        "label"  $t.box_contact_custom
        "name"   `custom`
        "widget" `object`
        "fields" (slice
          `~BOX_BUTTON_LINK`
          `~BOX_ICON_ID`
          `~BOX_CONTACT_LABEL`
          `~BOX_BUTTON_OFUSCATE`
          `~BOX_BUTTON_COLOR_WITHOUT_NONE`
          `~BOX_BUTTON_GA4`
        )
      )
    )
  ))
  (dict "&BASE_CALLNOW" (dict
    "label"     $t.base_callnow
    "name"      `callnow`
    "widget"    `object`
    "collapsed" true
    "required"  false
    "i18n"      true
    "fields"    (slice
      `~CALLNOW_HIDE`
      `~CALLNOW_ITEMS`
    )
  ))
  (dict "&BASE_CALLNOW_TEMPLATE" (dict
    "<<" (slice
      (dict "fields" (slice
        `~CALLNOW_HIDE`
        | append $callnow_langs
      ))
      (dict "i18n" false)
      `~BASE_CALLNOW`
    )
  ))
}}


{{/*  SECTIONS  */}}
{{ $colections = $colections | append
  (dict "&BASE_SECTION"  (dict
    "label"          $t.base_section
    "label_singular" $t.base_section_singular
    "name"           `section`
    "widget"         `list`
    "collapsed"      true
    "allow_add"      true
    "required"       false
    "i18n"           true
    "hint"           $t.base_section_hint
    "fields"         `~SECTION_FIELDS`
  ))
  (dict "&BASE_MODAL"  (dict
    "label"          $t.base_modal
    "label_singular" $t.base_modal_singular
    "name"           `modal`
    "widget"         `object`
    "collapsed"      true
    "required"       false
    "i18n"           true
    "fields"         `~MODAL_FIELDS`
  ))
  (dict "&BASE_SECTIONS" (dict
    "label"          $t.base_sections
    "label_singular" $t.base_sections_singular
    "name"           `sections`
    "widget"         `list`
    "collapsed"      true
    "summary"        "{{fields.file}}"
    "allow_add"      true
    "required"       false
    "i18n"           true
    "fields"         (slice
      (dict
        "label"          $t.base_file
        "name"           `file`
        "widget"         `relation`
        "options_length" 100
        "collection"     `sections`
        "value_field"    "{{slug}}"
        "search_fields"  (slice "{{slug}}")
        "display_fields" (slice "{{slug}}")
        "required"       false
        "i18n"           true
        "hint"           (print $t.base_file_sections_hint "(#/collections/sections-" .Lang ")")
      )
      (dict
        "label"          $t.base_modals
        "label_singular" $t.base_modals_singular
        "name"           `modals`
        "widget"         `list`
        "collapsed"      true
        "summary"        "{{fields.file}}"
        "allow_add"      true
        "required"       false
        "i18n"           true
        "hint"           $t.base_modals_hint
        "fields"         (slice
          (dict
            "label"          $t.base_file
            "name"           `file`
            "widget"         `relation`
            "options_length" 100
            "collection"     `modals`
            "value_field"    "{{slug}}"
            "search_fields"  (slice "{{slug}}")
            "display_fields" (slice "{{slug}}")
            "required"       false
            "hint"           (print $t.base_file_modals_hint "(#/collections/modals-" .Lang ")")
          )
        )
      )
    )
  ))
}}


{{ return $colections }}