{{/*  LIST FILTERS  */}}

{{ $list_fields := slice `~list_type` `~list_max` }}
{{ $relations := slice }}
{{ $dates     := true }}

{{ $relations  := slice }}
{{ range site.Sections }}
  {{ range .Params.taxonomies }}
    {{ $relations = $relations | append (dict "name" .name "multi" .multi) }}
  {{ end }}
  {{ with in (slice "article" "event") .Params.base }}
    {{ $dates = true }}
  {{ end }}
{{ end }}
{{ with $dates }}
  {{ $list_fields = $list_fields | append `~list_start` `~list_end` }}
{{ end }}
{{ range uniq $relations }}
  {{ $page   := site.GetPage .name }}
  {{ $cms    := $page.Params.cms }}
  {{ $label  := $cms.singular }}
  {{ if .multi }}
    {{ $label = $cms.title }}
  {{ end }}
  {{ $list_fields = $list_fields | append (dict
    "name"           .name
    "widget"         `relation`
    "i18n"           `duplicate`
    "required"       false
    "label"          $label
    "hint"           (print "[" $.customs_relations_hint "](#/collections/" .name ")")
    "collection"     .name
    "value_field"    "{{slug}}"
    "search_fields"  (slice "{{title}}")
    "display_fields" (slice "{{title}}")
    "multiple"       true
  ) }}
{{ end }}


{{/*  BLOCKS  */}}

{{ return slice

  (partial "cms/widget" (dict "var" `list_type`  "name" `type` "widget" `select` "opts" `~opts_lists`))
  (partial "cms/widget" (dict "var" `list_start` "name" `date` "widget" `time`                       ))
  (partial "cms/widget" (dict "var" `list_end`   "name" `end`  "widget" `time`                       ))
  (partial "cms/widget" (dict "var" `list_max`   "name" `max`  "widget" `int`                        ))
  (partial "cms/widget" (dict
    "var"    `list`
    "name"   `list`
    "widget" `dict`
    "sum"    "{{fields.type}}"
    "fields" $list_fields
  ))


  (partial "cms/widget" (dict "var" `steps_border` "name" `border` "widget" `select` "opts" `~opts_color_base_w`))
  (partial "cms/widget" (dict
    "var"    `step`
    "name"   `step`
    "widget" `dict`
    "fields" (slice
      `~steps_border`
      `~icon_size`
      `~hn`
      `~hs`
      `~hs_vs`
      `~caps`
      `~line`
    )
  ))
  (partial "cms/widget" (dict
    "var"    `steps`
    "name"   `steps`
    "widget" `slice`
    "sum"    "{{fields.title}}"
    "fields" (slice
      `~title`
      `~sub`
      `~md`
      `~icon`
      `~img`
    )
  ))


  (partial "cms/widget" (dict "var" `gallery_type` "name" `type` "widget" `select` "opts" `~opts_gallery_types`))
  (partial "cms/widget" (dict
    "var"    `gallery`
    "name"   `gallery`
    "widget" `dict`
    "fields" (slice
      `~cols`
      `~gallery_type`
      `~color`
      `~gap`
      `~ratio`
      `~contain`
      `~gray`
      `~alt`
      `~url`
      `~pin`
      `~label`
      `~anchor`
      `~lock`
      `~btn_without_none`
      `~swap`
    )
  ))
  (partial "cms/widget" (dict
    "var"    `imgs`
    "name"   `imgs`
    "widget" `vimg`
    "multi"  true
  ))
  (partial "cms/widget" (dict
    "var"    `limgs`
    "name"   `limgs`
    "widget" `slice`
    "sum"    "{{fields.img}}"
    "fields" (slice
      `~img`
      `~url`
      `~alt`
    )
  ))


  (partial "cms/widget" (dict "var" `faq_headers` "name" `headers` "widget" `bool`))
  (partial "cms/widget" (dict "var" `faq_open`    "name" `open`    "widget" `bool`))
  (partial "cms/widget" (dict
    "var"    `faq`
    "name"   `faq`
    "widget" `dict`
    "fields" (slice
      `~btn`
      `~swap`
      `~icon`
      `~hn`
      `~hs`
      `~hs_vs`
      `~faq_headers`
      `~faq_open`
    )
  ))
  (partial "cms/widget" (dict
    "var"    `faqs`
    "name"   `faqs`
    "widget" `slice`
    "sum"    "{{fields.title}}"
    "fields" (slice
      `~icon`
      `~title`
      `~md`
    )
  ))


  (partial "cms/widget" (dict "var" `gss`       "name" `gss`      ))
  (partial "cms/widget" (dict "var" `gss_sheet` "name" `gss_sheet`))


  (partial "cms/widget" (dict "var" `review_icon_left`  "<<" `icon` "name" `icon`      ))
  (partial "cms/widget" (dict "var" `review_icon_right` "<<" `icon` "name" `icon_right`))
  (partial "cms/widget" (dict "var" `review_rating` "name" `rating` "widget" `float` "max" 5          ))
  (partial "cms/widget" (dict "var" `review_date`   "name" `date`   "widget" `time`  "alt" `page_date`))
  (partial "cms/widget" (dict
    "var"    `review`
    "name"   `review`
    "widget" `dict`
    "fields" (slice
      `~cols`
      `~cols_vs`
      `~color`
      `~fade`
      `~fade_to`
      `~alpha`
      `~hide_shadow`
      `~hs`
      `~hs_vs`
      `~slider`
      `~slider_time`
      `~slider_pips`
      `~slider_arrows`
      `~btn`
      `~review_icon_left`
      `~review_icon_right`
    )
  ))
  (partial "cms/widget" (dict
    "var"    `reviews`
    "name"   `reviews`
    "widget" `slice`
    "sum"    "{{fields.title}}"
    "fields" (slice
      `~title`
      `~sub`
      `~img`
      `~md`
      `~review_rating`
      `~review_date`
    )
  ))

  (partial "cms/widget" (dict "var" `zoom`        "name" `zoom`   "widget" `int`         "min" 1    "max" 20 "hint" `1 - 20` ))
  (partial "cms/widget" (dict "var" `map_tile`    "name" `tile`   "widget" `select`      "opts" `~opts_tile`                 ))
  (partial "cms/widget" (dict "var" `map_color`   "name" `color`  "widget" `select`      "opts" `~opts_color_base_w`         ))
  (partial "cms/widget" (dict "var" `map_label`   "name" `label`                                                             ))
  (partial "cms/widget" (dict "var" `map_point`   "name" `geo`    "widget" `map`    "i18n" true "decimals" 7 "type" `Point`  ))
  (partial "cms/widget" (dict "var" `map_polygon` "name" `geo`    "widget" `map`    "i18n" true "decimals" 7 "type" `Polygon`))
  (partial "cms/widget" (dict "var" `map_radius`  "name" `radius` "widget" `float`  "i18n" true "min" 0.01 "max" 20          ))
  (partial "cms/widget" (dict
    "var"    `map`
    "name"   `map`
    "widget" `dict`
    "fields" (slice
      `~zoom`
      `~map_tile`
      `~map_color`
      `~icon`
    )
  ))
  (partial "cms/widget" (dict "var" `geos_point`   "name" `point`   "widget" `dict` "alt" `map_point`   "fields" (slice `~map_label` `~map_color` `~map_point` `~icon`      )))
  (partial "cms/widget" (dict "var" `geos_circle`  "name" `circle`  "widget" `dict` "alt" `map_circle`  "fields" (slice `~map_label` `~map_color` `~map_point` `~map_radius`)))
  (partial "cms/widget" (dict "var" `geos_polygon` "name" `polygon` "widget" `dict` "alt" `map_polygon` "fields" (slice `~map_label` `~map_color` `~map_polygon`            )))
  (partial "cms/widget" (dict
    "var"    `geos`
    "name"   `geos`
    "widget" `slice`
    "sum"    "{{fields.label}}"
    "types"  (slice
      `~geos_point`
      `~geos_circle`
      `~geos_polygon`
    )
  ))


  (partial "cms/widget" (dict "var" `item_full` "name" `full` "widget" `bool`  ))


  (partial "cms/widget" (dict "var" `when_days`  "name" `days` ))
  (partial "cms/widget" (dict "var" `when_hours` "name" `hours`))
  (partial "cms/widget" (dict
    "var"    `when`
    "name"   `when`
    "widget" `slice`
    "sum"    "{{fields.days}} {{fields.hours}}"
    "fields" (slice
      `~when_days`
      `~when_hours`
      `~item_full`
    )
  ))


  (partial "cms/widget" (dict "var" `links_label`          "name" `label`                   ))
  (partial "cms/widget" (dict "var" `links_label_phone`    "name" `label`                   ))
  (partial "cms/widget" (dict "var" `links_address_label`  "name" `label`                   ))
  (partial "cms/widget" (dict "var" `links_address_anchor` "name" `anchor`                  ))
  (partial "cms/widget" (dict "var" `links_hidden`         "name" `hidden` "widget" `hidden`))
  (partial "cms/widget" (dict "var" `links_map`            "<<" `map_point`                 ))
  (partial "cms/widget" (dict "var" `links_phone`    "name" `phone`    "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~item_full` `~btn` `~swap` `~icon`)))
  (partial "cms/widget" (dict "var" `links_whatsapp` "name" `whatsapp` "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~item_full` `~btn` `~swap`)))
  (partial "cms/widget" (dict "var" `links_mail`     "name" `mail`     "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~item_full` `~btn` `~swap`)))
  (partial "cms/widget" (dict "var" `links_address`  "name" `address`  "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_address_label` `~links_address_anchor` `~item_full` `~btn` `~swap` `~links_map` `~zoom`)))
  (partial "cms/widget" (dict "var" `links_h2`       "name" `h2`       "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_h3`       "name" `h3`       "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_h4`       "name" `h4`       "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_h5`       "name" `h5`       "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_h6`       "name" `h6`       "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~links_label` `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_br`       "name" `br`       "widget" `dict` "sum" "{{fields.name}}"  "fields" (slice `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_hr`       "name" `hr`       "widget" `dict` "sum" "{{fields.name}}"  "fields" (slice `~links_hidden`)))
  (partial "cms/widget" (dict "var" `links_custom`   "name" `custom`   "widget" `dict` "sum" "{{fields.label}}" "fields" (slice `~url` `~icon` `~links_label` `~item_full` `~anchor` `~lock` `~btn` `~swap` `~ga4`)))
  (partial "cms/widget" (dict
    "var"    `links`
    "name"   `links`
    "widget" `slice`
    "sum"    "{{fields.label}}{{fields.days}} {{fields.hours}}"
    "types"  (slice
      `~links_phone`
      `~links_whatsapp`
      `~links_mail`
      `~links_address`
      `~links_h2`
      `~links_h3`
      `~links_h4`
      `~links_h5`
      `~links_h6`
      `~links_br`
      `~links_hr`
      `~links_custom`
    )
  ))
  (partial "cms/widget" (dict
    "var"    `dots`
    "name"   `dots`
    "widget" `slice`
    "sum"    "{{fields.url}}"
    "fields" (slice
      `~url`
      `~icon`
      `~label`
      `~ga4`
    )
  ))


  (partial "cms/widget" (dict "var" `form_id`      "name" `id`                                              "label" `ID`                 ))
  (partial "cms/widget" (dict "var" `form_action`  "name" `action`                                                                       ))
  (partial "cms/widget" (dict "var" `form_to`      "name" `to`                                                                           ))
  (partial "cms/widget" (dict "var" `form_subject` "name" `subject`                                                                      ))
  (partial "cms/widget" (dict "var" `form_mail`    "name" `mail`                                            "alt" `config_mail`          ))
  (partial "cms/widget" (dict "var" `form_labels`  "name" `labels`  "widget" `select` "opts" `~opts_labels` "alt" `styles_inputs_labels` ))
  (partial "cms/widget" (dict "var" `form_fill`    "name" `fill`    "widget" `bool`                         "alt" `styles_inputs_fill`   ))
  (partial "cms/widget" (dict "var" `form_consent` "name" `consent`                                         "alt" `styles_inputs_consent`))
  (partial "cms/widget" (dict
    "var"    `form`
    "name"   `form`
    "widget" `dict`
    "sum"    "{{fields.id}}"
    "fields" (slice
      `~form_id`
      `~form_action`
      `~form_to`
      `~form_subject`
      `~form_mail`
      `~form_labels`
      `~form_fill`
      `~item_full`
      `~icon`
      `~label`
      `~btn_simple`
      `~swap`
      `~form_consent`
    )
  ))

  (partial "cms/widget" (dict "var" `input_name`      "name" `name`                       ))
  (partial "cms/widget" (dict "var" `input_label`     "name" `label`                      ))
  (partial "cms/widget" (dict "var" `input_hint`      "name" `hint`                       ))
  (partial "cms/widget" (dict "var" `input_req`       "name" `req`         "widget" `bool`))
  (partial "cms/widget" (dict "var" `input_req_if`    "name" `req_if`                     ))
  (partial "cms/widget" (dict "var" `input_show_if`   "name" `show_if`                    ))
  (partial "cms/widget" (dict "var" `input_regex`     "name" `regex`                      ))
  (partial "cms/widget" (dict "var" `input_min`       "name" `min`         "widget" `int` ))
  (partial "cms/widget" (dict "var" `input_max`       "name" `max`         "widget" `int` ))
  (partial "cms/widget" (dict "var" `input_x`         "name" `x`           "widget" `bool`))
  (partial "cms/widget" (dict "var" `input_accept`    "name" `accept`                     ))
  (partial "cms/widget" (dict "var" `input_base_name` "name" `base_name`                  ))
  (partial "cms/widget" (dict "var" `input_geo_area`  "name" `area`        "widget" `bool`))
  (partial "cms/widget" (dict "var" `input_geo_view`  "<<" `map_point`     "name" `view`  ))
  (partial "cms/widget" (dict
    "var"    `input_items`
    "name"   `items`
    "widget" `slice`
    "sum"    "{{fields.label}}"
    "types"  (slice
      (partial "cms/widget" (dict "alt" `input_items_label` "name" `label`))
      (partial "cms/widget" (dict "alt" `input_items_key`   "name" `key`  ))
    )
    "label_singular" .input_items_label
  ))
  (partial "cms/widget" (dict "var" `inputs_text`   "name" `text`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full` `~input_min` `~input_max` `~input_regex`)))
  (partial "cms/widget" (dict "var" `inputs_mail`   "name" `mail`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full` `~input_min` `~input_max` `~input_regex`)))
  (partial "cms/widget" (dict "var" `inputs_phone`  "name" `phone`  "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full` `~input_min` `~input_max` `~input_regex`)))
  (partial "cms/widget" (dict "var" `inputs_number` "name" `number` "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full` `~input_min` `~input_max` `~input_regex`)))
  (partial "cms/widget" (dict "var" `inputs_date`   "name" `date`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full`)))
  (partial "cms/widget" (dict "var" `inputs_time`   "name" `time`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full`)))
  (partial "cms/widget" (dict "var" `inputs_area`   "name" `area`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~input_min` `~input_max`)))
  (partial "cms/widget" (dict "var" `inputs_geo`    "name" `geo`    "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~zoom`     `~input_geo_view` `~map_color` `~map_tile` `~input_geo_area`)))
  (partial "cms/widget" (dict "var" `inputs_select` "name" `select` "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full` `~input_items`)))
  (partial "cms/widget" (dict "var" `inputs_radio`  "name" `radio`  "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~input_x` `~input_items`)))
  (partial "cms/widget" (dict "var" `inputs_checks` "name" `checks` "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~input_x` `~input_items`)))
  (partial "cms/widget" (dict "var" `inputs_check`  "name" `check`  "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~item_full`)))
  (partial "cms/widget" (dict "var" `inputs_file`   "name" `file`   "widget" `dict` "fields" (slice `~input_name` `~input_label` `~input_hint` `~input_req` `~input_req_if` `~input_show_if` `~icon` `~input_max` `~input_accept` `~input_base_name` `~btn_simple` `~swap`)))
  (partial "cms/widget" (dict "var" `inputs_hidden` "name" `hidden` "widget" `dict` "fields" (slice `~input_name`)))
  (partial "cms/widget" (dict "var" `inputs_h2`     "name" `h2`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `label`               "label" .title                      ) `~input_hint`)))
  (partial "cms/widget" (dict "var" `inputs_h3`     "name" `h3`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `label`               "label" .title                      ) `~input_hint`)))
  (partial "cms/widget" (dict "var" `inputs_h4`     "name" `h4`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `label`               "label" .title                      ) `~input_hint`)))
  (partial "cms/widget" (dict "var" `inputs_h5`     "name" `h5`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `label`               "label" .title                      ) `~input_hint`)))
  (partial "cms/widget" (dict "var" `inputs_h6`     "name" `h6`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `label`               "label" .title                      ) `~input_hint`)))
  (partial "cms/widget" (dict "var" `inputs_md`     "name" `md`     "widget" `dict` "fields" (slice `~input_show_if` (dict "name" `md`    "widget" `md` "label" .links_label "show_raw" true) `~item_full`      )))
  (partial "cms/widget" (dict
    "var"    `inputs`
    "name"   `inputs`
    "widget" `slice`
    "sum"    "{{fields.label}}"
    "types"  (slice
      `~inputs_text`
      `~inputs_mail`
      `~inputs_phone`
      `~inputs_number`
      `~inputs_date`
      `~inputs_time`
      `~inputs_area`
      `~inputs_geo`
      `~inputs_select`
      `~inputs_radio`
      `~inputs_checks`
      `~inputs_check`
      `~inputs_file`
      `~inputs_hidden`
      `~inputs_h2`
      `~inputs_h3`
      `~inputs_h4`
      `~inputs_h5`
      `~inputs_h6`
      `~inputs_md`
    )
  ))

}}