{{ $t := partial "functions/i18n" . }}

{{/*  LIST FILTERS  */}}

{{ $list_fields := slice `~BOX_LIST_TYPE` `~BOX_LIST_MAX` }}
{{ $relations := slice }}
{{ $dates     := true }}

{{ $relations  := slice }}
{{ range site.Sections }}
  {{ range .Params.taxonomies }}
    {{ $relations = $relations | append (dict "name" .name "multiple" .multiple) }}
  {{ end }}
  {{ with in (slice "article" "event") .Params.base }}
    {{ $dates = true }}
  {{ end }}
{{ end }}
{{ with $dates }}
  {{ $list_fields = $list_fields | append `~BOX_LIST_START` `~BOX_LIST_END` }}
{{ end }}
{{ range uniq $relations }}
  {{ $page   := site.GetPage .name }}
  {{ $cms    := $page.Params.cms }}
  {{ $label  := $cms.singular }}
  {{ if .multiple }}
    {{ $label = $cms.title }}
  {{ end }}
  {{ $list_fields = $list_fields | append (dict
    "name"           .name
    "widget"         `relation`
    "required"       false
    "label"          $label
    "hint"           (print "[" $t.types_params_relations_hint "](#/collections/" .name ")")
    "i18n"           `duplicate`
    "options_length" 100
    "collection"     .name
    "value_field"    "{{slug}}"
    "search_fields"  (slice "{{title}}")
    "display_fields" (slice "{{title}}")
    "multiple"       true
  ) }}
{{ end }}


{{/*  BLOCKS  */}}

{{ return slice

  (dict "&BOX_LIST_TYPE"  (dict "name" `type` "widget" `select`   "required" false "label" $t.box_list_type  "options" `~OPTIONS_LISTS`))
  (dict "&BOX_LIST_START" (dict "name" `date` "widget" `datetime` "required" false "label" $t.box_list_start "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`))
  (dict "&BOX_LIST_END"   (dict "name" `end`  "widget" `datetime` "required" false "label" $t.box_list_end   "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`))
  (dict "&BOX_LIST_MAX"   (dict "name" `max`  "widget" `number`   "required" false "label" $t.box_list_max   "hint" $t.box_list_max_hint "value_type" `int` "min" 1))
  (dict "&BOX_LIST" (dict
    "name"      `list`
    "widget"    `object`
    "required"  false
    "label"     $t.box_list
    "collapsed" true
    "fields"    $list_fields
  ))


  (dict "&BOX_STEP_BORDER_COLOR" (dict "name" `border` "widget" `select` "required" false "label" $t.box_steps_border "options" `~OPTIONS_COLOR_BASE_W`))
  (dict "&BOX_STEP" (dict
    "name"      `step`
    "widget"    `object`
    "required"  false
    "label"     $t.box_step
    "collapsed" true
    "fields"    (slice
      `~BOX_STEP_BORDER_COLOR`
      `~BOX_ICON_SIZE`
      `~BOX_HS`
      `~BOX_HN`
      `~BOX_UPPERCASE`
      `~BOX_UNDERLINE`
    )
  ))
  (dict "&BOX_STEPS" (dict
    "name"           `steps`
    "widget"         `list`
    "required"       false
    "label"          $t.box_steps
    "label_singular" $t.box_steps_singular
    "collapsed"      false
    "summary"        "{{fields.title}}"
    "allow_add"      true
    "fields"         (slice
      `~BOX_TITLE`
      `~BOX_SUBTITLE`
      `~BOX_CONTENT`
      `~BOX_ICON_ID`
      `~BOX_IMAGE_NO_VIDEO`
    )
  ))


  (dict "&BOX_GALLERY_TYPE"  (dict "name" `type` "widget" `select` "required" false "label" $t.box_gallery_type "options" `~OPTIONS_GALLERY_TYPES`))
  (dict "&BOX_GALLERY_RATIO" (dict "<<" (slice (dict "options" `~OPTIONS_RATE`) `~BOX_IMAGE_RATIO`)))
  (dict "&BOX_GALLERY" (dict
    "name"      `gallery`
    "widget"    `object`
    "required"  false
    "label"     $t.box_gallery
    "collapsed" true
    "fields"    (slice
      `~BOX_COLUMNS_MAX`
      `~BOX_GALLERY_TYPE`
      `~BOX_BG_COLOR`
      `~BOX_GAP`
      `~BOX_GALLERY_RATIO`
      `~BOX_IMAGE_CONTAIN`
      `~BOX_IMAGE_GRAYSCALE`
      `~BOX_BUTTON_LINK`
      `~BOX_BUTTON_LICON`
      `~BOX_BUTTON_LABEL`
      `~BOX_BUTTON_ANCHOR`
      `~BOX_BUTTON_OFUSCATE`
      `~BOX_BUTTON_COLOR`
      `~BOX_BUTTON_FONT_ALT`
    )
  ))
  (dict "&BOX_GALLERY_IMAGES"  (dict
    "name"       `images`
    "widget"     `image`
    "required"   false
    "label"      $t.box_gallery_images
    "hint"       $t.box_gallery_images_hint
    "multiple"   true
    "choose_url" true
  ))
  (dict "&BOX_GALLERY_LIMAGES" (dict
    "name"           `items`
    "widget"         `list`
    "required"       false
    "label"          $t.box_gallery_limages
    "label_singular" $t.box_gallery_limages_singular
    "collapsed"      false
    "summary"        "{{fields.image}}"
    "allow_add"      true
    "fields"         (slice
      `~BOX_IMAGE_NO_VIDEO`
      `~BOX_BUTTON_LINK`
    )
  ))


  (dict "&BOX_COLLAPSIBLE" (dict
    "name"      `collapsible`
    "widget"    `object`
    "required"  false
    "label"     $t.box_collapsible
    "collapsed" false
    "fields"    (slice
      `~BOX_BUTTON_COLOR`
      `~BOX_BUTTON_FONT_ALT`
      `~BOX_ICON_ID`
    )
  ))
  (dict "&BOX_COLLAPSIBLES" (dict
    "name"           `collapsibles`
    "widget"         `list`
    "required"       false
    "label"          $t.box_collapsibles
    "label_singular" $t.box_collapsibles_singular
    "hint"           $t.box_collapsibles_hint
    "collapsed"      false
    "summary"        "{{fields.title}}"
    "allow_add"      true
    "fields"         (slice
      `~BOX_ICON_ID`
      `~BOX_TITLE`
      `~BOX_CONTENT`
    )
  ))


  (dict "&BOX_GSS"       (dict "name" `gss`       "widget" `string` "required" false "label" $t.box_gss       "hint" $t.box_gss_hint))
  (dict "&BOX_GSS_SHEET" (dict "name" `gss_sheet` "widget" `string` "required" false "label" $t.box_gss_sheet "hint" $t.box_gss_sheet_hint))


  (dict "&BOX_REVIEW_ICON_LEFT"  (dict "<<" (slice (dict "label" $t.box_review_icon_left  "name" `icon`)       `~BOX_ICON_ID`)))
  (dict "&BOX_REVIEW_ICON_RIGHT" (dict "<<" (slice (dict "label" $t.box_review_icon_right "name" `icon_right`) `~BOX_ICON_ID`)))
  (dict "&BOX_REVIEW_RATING"     (dict                   "label" $t.box_review_rating     "name" `rating` "widget" `number` "required" false "value_type" `float` "step" 0.01 "min" 0 "max" 5))
  (dict "&BOX_REVIEW" (dict
    "name"      `review`
    "widget"    `object`
    "required"  false
    "label"     $t.box_review
    "collapsed" true
    "fields"    (slice
      `~BOX_COLUMNS_MAX`
      `~BOX_COLUMNS_MIN`
      `~BOX_BG_COLOR`
      `~BOX_BG_GRADIENT_COLOR`
      `~BOX_BG_GRADIENT_TYPE`
      `~BOX_BG_ALPHA`
      `~BOX_HIDE_SHADOW`
      `~BOX_SLIDER_ACTIVE`
      `~BOX_SLIDER_INTERVAL`
      `~BOX_SLIDER_BULLETS`
      `~BOX_SLIDER_ARROWS`
      `~BOX_BUTTON_COLOR`
      `~BOX_REVIEW_ICON_LEFT`
      `~BOX_REVIEW_ICON_RIGHT`
    )
  ))
  (dict "&BOX_REVIEWS" (dict
    "name"           `reviews`
    "widget"         `list`
    "required"       false
    "label"          $t.box_reviews
    "label_singular" $t.box_reviews_singular
    "collapsed"      false
    "summary"        "{{fields.title}}"
    "allow_add"      true
    "fields"         (slice
      `~BOX_TITLE`
      `~BOX_SUBTITLE`
      `~BOX_IMAGE_NO_VIDEO`
      `~BOX_CONTENT`
      `~BOX_REVIEW_RATING`
      (dict "name" `date` "widget" `datetime` "required" false "label" $t.p_date "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`)
    )
  ))


  (dict "&BOX_CONTACT_DAYS"            (dict "name" `days`   "widget" `string`  "required" false "label" $t.box_contact_days))
  (dict "&BOX_CONTACT_HOURS"           (dict "name" `hours`  "widget" `string`  "required" false "label" $t.box_contact_hours))
  (dict "&BOX_CONTACT_LABEL"           (dict "name" `label`  "widget" `string`  "required" false "label" $t.box_contact_label))
  (dict "&BOX_CONTACT_LABEL_PHONE"     (dict "name" `label`  "widget" `string`  "required" false "label" $t.box_contact_label_phone))
  (dict "&BOX_CONTACT_FULL"            (dict "name" `full`   "widget" `boolean` "required" false "label" $t.box_contact_full))
  (dict "&BOX_CONTACT_ADDRESS_LABEL"   (dict "name" `label`  "widget" `string`  "required" false "label" $t.box_contact_address))
  (dict "&BOX_CONTACT_ADDRESS_ANCHOR"  (dict "name" `anchor` "widget" `string`  "required" false "label" $t.box_contact_anchor      "hint" $t.box_contact_anchor_hint))
  (dict "&BOX_CONTACT_HIDDEN"          (dict "name" `hidden` "widget" `hidden`  "required" false "label" `hidden`))
  (dict "&BOX_CONTACT" (dict
    "name"           `contact`
    "widget"         `list`
    "required"       false
    "label"          $t.box_contact
    "label_singular" $t.box_contact_singular
    "hint"           $t.box_contact_hint
    "summary"        "{{fields.label}}{{fields.days}} {{fields.hours}}"
    "collapsed"      false
    "allow_add"      true
    "types"          (slice
      (dict "name" `schedule` "widget" `object` "required" false "label" $t.box_contact_schedule "summary" "{{fields.days}} {{fields.hours}}" "fields" (slice `~BOX_CONTACT_DAYS` `~BOX_CONTACT_HOURS` `~BOX_CONTACT_FULL`))
      (dict "name" `phone`    "widget" `object` "required" false "label" $t.box_contact_phone    "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_FULL` `~BOX_BUTTON_COLOR` `~BOX_BUTTON_FONT_ALT` `~BOX_ICON_ID`))
      (dict "name" `whatsapp` "widget" `object` "required" false "label" $t.box_contact_whatsapp "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_FULL` `~BOX_BUTTON_COLOR` `~BOX_BUTTON_FONT_ALT`))
      (dict "name" `mail`     "widget" `object` "required" false "label" $t.box_contact_mail     "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_FULL` `~BOX_BUTTON_COLOR` `~BOX_BUTTON_FONT_ALT`))
      (dict "name" `address`  "widget" `object` "required" false "label" $t.box_contact_address  "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_ADDRESS_LABEL` `~BOX_CONTACT_ADDRESS_ANCHOR` `~BOX_CONTACT_FULL` `~BOX_BUTTON_COLOR` `~BOX_BUTTON_FONT_ALT`))
      (dict "name" `h3`       "widget" `object` "required" false "label" $t.box_contact_h3       "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_HIDDEN`))
      (dict "name" `h4`       "widget" `object` "required" false "label" $t.box_contact_h4       "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_HIDDEN`))
      (dict "name" `h5`       "widget" `object` "required" false "label" $t.box_contact_h5       "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_HIDDEN`))
      (dict "name" `h6`       "widget" `object` "required" false "label" $t.box_contact_h6       "summary" "{{fields.label}}"                 "fields" (slice `~BOX_CONTACT_LABEL` `~BOX_CONTACT_HIDDEN`))
      (dict "name" `br`       "widget" `object` "required" false "label" $t.box_contact_br       "summary" "{{fields.name}}"                  "fields" (slice `~BOX_CONTACT_HIDDEN`))
      (dict "name" `hr`       "widget" `object` "required" false "label" $t.box_contact_hr       "summary" "{{fields.name}}"                  "fields" (slice `~BOX_CONTACT_HIDDEN`))
      (dict "name" `custom`   "widget" `object` "required" false "label" $t.box_contact_custom   "summary" "{{fields.label}}"                 "fields" (slice `~BOX_BUTTON_LINK` `~BOX_ICON_ID` `~BOX_CONTACT_LABEL` `~BOX_CONTACT_FULL` `~BOX_BUTTON_ANCHOR` `~BOX_BUTTON_OFUSCATE` `~BOX_BUTTON_COLOR` `~BOX_BUTTON_FONT_ALT` `~BOX_BUTTON_GA4`))
    )
  ))
  (dict "&BOX_SOCIAL" (dict
    "name"           `social`
    "widget"         `list`
    "required"       false
    "label"          $t.box_social
    "label_singular" $t.box_social_singular
    "hint"           $t.box_social_hint
    "collapsed"      false
    "summary"        "{{fields.link}}"
    "allow_add"      true
    "fields"         (slice
      `~BOX_BUTTON_LINK`
      `~BOX_ICON_ID`
    )
  ))


  (dict "&BOX_FORM_NAME"        (dict "name" `name`        "widget" `string`  "required" false "label" $t.box_form_inputs_name        "hint" $t.box_form_inputs_name_hint))
  (dict "&BOX_FORM_PLACEHOLDER" (dict "name" `placeholder` "widget" `string`  "required" false "label" $t.box_form_inputs_placeholder "hint" $t.box_form_inputs_placeholder_hint))
  (dict "&BOX_FORM_HINT"        (dict "name" `hint`        "widget" `string`  "required" false "label" $t.box_form_inputs_hint        "hint" $t.box_form_inputs_hint_hint))
  (dict "&BOX_FORM_REQUIRED"    (dict "name" `required`    "widget" `boolean` "required" false "label" $t.box_form_inputs_required    "hint" $t.box_form_inputs_required_hint))
  (dict "&BOX_FORM_REGEX"       (dict "name" `regex`       "widget" `string`  "required" false "label" $t.box_form_inputs_regex))
  (dict "&BOX_FORM_MIN"         (dict "name" `min`         "widget" `number`  "required" false "label" $t.box_form_inputs_min         "value_type" `float`))
  (dict "&BOX_FORM_MAX"         (dict "name" `max`         "widget" `number`  "required" false "label" $t.box_form_inputs_max         "value_type" `float`))
  (dict "&BOX_FORM_ACCEPT"      (dict "name" `accept`      "widget" `string`  "required" false "label" $t.box_form_inputs_accept      "hint" $t.box_form_inputs_accept_hint))
  (dict "&BOX_FORM_OPTIONS"     (dict
    "name"           `options`
    "widget"         `list`
    "label"          $t.box_form_inputs_options
    "label_singular" $t.box_form_inputs_option
    "summary"        "{{fields.option}}"
    "collapsed"      true
    "allow_add"      true
    "fields"         (slice
      (dict "name" `option` "widget" `string` "required" false "label" $t.box_form_inputs_option "hint" $t.box_form_inputs_option_hint)
      (dict "name" `value`  "widget" `string` "required" false "label" $t.box_form_inputs_value  "hint" $t.box_form_inputs_value_hint)
    )
  ))
  (dict "&BOX_FORM_ACTION" (dict "name" `action` "widget" `string` "required" false "label" $t.box_form_action))
  (dict "&BOX_FORM_INPUTS" (dict
    "name"           `inputs`
    "widget"         `list`
    "required"       false
    "label"          $t.box_form_inputs
    "label_singular" $t.box_form_input
    "summary"        "{{fields.name}}"
    "collapsed"      false
    "allow_add"      true
    "types"      (slice
      (dict "name" `text`     "widget" `object` "required" false "label" $t.box_form_inputs_text     "hint" $t.box_form_inputs_text_hint     "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL` `~BOX_FORM_REGEX`))
      (dict "name" `email`    "widget" `object` "required" false "label" $t.box_form_inputs_email    "hint" $t.box_form_inputs_email_hint    "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL` `~BOX_FORM_REGEX`))
      (dict "name" `tel`      "widget" `object` "required" false "label" $t.box_form_inputs_tel      "hint" $t.box_form_inputs_tel_hint      "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL` `~BOX_FORM_REGEX`))
      (dict "name" `number`   "widget" `object` "required" false "label" $t.box_form_inputs_number   "hint" $t.box_form_inputs_number_hint   "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL` `~BOX_FORM_MIN` `~BOX_FORM_MAX`))
      (dict "name" `date`     "widget" `object` "required" false "label" $t.box_form_inputs_date     "hint" $t.box_form_inputs_date_hint     "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL`))
      (dict "name" `time`     "widget" `object` "required" false "label" $t.box_form_inputs_time     "hint" $t.box_form_inputs_time_hint     "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL`))
      (dict "name" `textarea` "widget" `object` "required" false "label" $t.box_form_inputs_textarea "hint" $t.box_form_inputs_textarea_hint "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED`))
      (dict "name" `select`   "widget" `object` "required" false "label" $t.box_form_inputs_select   "hint" $t.box_form_inputs_select_hint   "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_CONTACT_FULL` `~BOX_FORM_OPTIONS`))
      (dict "name" `radio`    "widget" `object` "required" false "label" $t.box_form_inputs_radio    "hint" $t.box_form_inputs_radio_hint    "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_FORM_OPTIONS`))
      (dict "name" `checkbox` "widget" `object` "required" false "label" $t.box_form_inputs_checkbox "hint" $t.box_form_inputs_checkbox_hint "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_FORM_OPTIONS`))
      (dict "name" `file`     "widget" `object` "required" false "label" $t.box_form_inputs_file     "hint" $t.box_form_inputs_file_hint     "fields" (slice `~BOX_FORM_NAME` `~BOX_FORM_PLACEHOLDER` `~BOX_FORM_HINT` `~BOX_FORM_REQUIRED` `~BOX_FORM_ACCEPT`))
      (dict "name" `hidden`   "widget" `object` "required" false "label" $t.box_form_inputs_hidden   "hint" $t.box_form_inputs_hidden_hint   "fields" (slice `~BOX_FORM_NAME`))
      (dict "name" `h3`       "widget" `object` "required" false "label" $t.box_form_inputs_h3                                               "fields" (slice (dict "label" $t.box_title         "name" `name` "widget" `string`) `~BOX_FORM_HINT`))
      (dict "name" `h4`       "widget" `object` "required" false "label" $t.box_form_inputs_h4                                               "fields" (slice (dict "label" $t.box_title         "name" `name` "widget" `string`) `~BOX_FORM_HINT`))
      (dict "name" `h5`       "widget" `object` "required" false "label" $t.box_form_inputs_h5                                               "fields" (slice (dict "label" $t.box_title         "name" `name` "widget" `string`) `~BOX_FORM_HINT`))
      (dict "name" `h6`       "widget" `object` "required" false "label" $t.box_form_inputs_h6                                               "fields" (slice (dict "label" $t.box_title         "name" `name` "widget" `string`) `~BOX_FORM_HINT`))
      (dict "name" `content`  "widget" `object` "required" false "label" $t.box_form_inputs_content                                          "fields" (slice (dict "label" $t.box_contact_label "name" `name` "widget" `markdown` "show_raw" true) `~BOX_CONTACT_FULL`))
    )
  ))


  (dict "&BOX_MAP" (dict
    "name"           `map`
    "widget"         `object`
    "required"       false
    "label"          $t.box_map
    "collapsed"      true
    "fields"         (slice
      (dict "<<" (slice (dict "hint" "") `~BOX_IMAGE_SRC`))
      (dict "name" `anchor` "widget" `string` "required" false "label" $t.box_map_anchor "hint" $t.box_map_anchor_hint)
    )
  ))

}}