{{ $t := partial "functions/i18n-cms" . }}

{{/*  LIST FILTERS  */}}

{{ $list_fields := slice `~box_list_type` `~box_list_max` }}
{{ $relations := slice }}
{{ $dates     := true }}

{{ $relations  := slice }}
{{ range site.Sections }}
  {{ range .Params.taxonomies }}
    {{ $relations = $relations | append (dict "name" .name "multiple" .multiple) }}
  {{ end }}
  {{ with in (slice "article" "event") .Params.base }}
    {{ $dates = true }}
  {{ end }}
{{ end }}
{{ with $dates }}
  {{ $list_fields = $list_fields | append `~box_list_start` `~box_list_end` }}
{{ end }}
{{ range uniq $relations }}
  {{ $page   := site.GetPage .name }}
  {{ $cms    := $page.Params.cms }}
  {{ $label  := $cms.singular }}
  {{ if .multiple }}
    {{ $label = $cms.title }}
  {{ end }}
  {{ $list_fields = $list_fields | append (dict
    "name"           .name
    "widget"         `relation`
    "i18n"           `duplicate`
    "required"       false
    "label"          $label
    "hint"           (print "[" $t.types_params_relations_hint "](#/collections/" .name ")")
    "options_length" 100
    "collection"     .name
    "value_field"    "{{slug}}"
    "search_fields"  (slice "{{title}}")
    "display_fields" (slice "{{title}}")
    "multiple"       true
  ) }}
{{ end }}


{{/*  BLOCKS  */}}

{{ return slice

  (partial "cms/widget" (dict "var" `box_list_type`  "name" `type` "widget" `select`   "options" `~options_lists`))
  (partial "cms/widget" (dict "var" `box_list_start` "name" `date` "widget" `datetime`))
  (partial "cms/widget" (dict "var" `box_list_end`   "name" `end`  "widget" `datetime`))
  (partial "cms/widget" (dict "var" `box_list_max`   "name" `max`  "widget" `number`))
  (partial "cms/widget" (dict
    "var"    `box_list`
    "name"   `list`
    "widget" `object`
    "fields" $list_fields
  ))


  (partial "cms/widget" (dict "var" `box_step_border_color` "name" `border` "widget" `select` "label" $t.box_steps_border "options" `~options_color_base_w`))
  (partial "cms/widget" (dict
    "var"    `box_step`
    "name"   `step`
    "widget" `object`
    "fields" (slice
      `~box_step_border_color`
      `~box_icon_size`
      `~box_hs`
      `~box_hn`
      `~box_caps`
      `~box_line`
    )
  ))
  (partial "cms/widget" (dict
    "var"     `box_steps`
    "name"    `steps`
    "widget"  `list`
    "summary" "{{fields.title}}"
    "fields"  (slice
      `~box_title`
      `~box_subtitle`
      `~box_md`
      `~box_icon_id`
      `~box_image_no_video`
    )
  ))


  (partial "cms/widget" (dict "var" `box_gallery_type` "name" `type` "widget" `select` "options" `~options_gallery_types`))
  (partial "cms/widget" (dict
    "var"       `box_gallery`
    "name"      `gallery`
    "widget"    `object`
    "fields"    (slice
      `~box_cols_vl`
      `~box_gallery_type`
      `~box_bg_color`
      `~box_gap_vl`
      `~box_image_ratio`
      `~box_image_contain`
      `~box_image_gray`
      `~box_image_alt`
      `~box_button_link`
      `~box_button_pin`
      `~box_button_label`
      `~box_button_anchor`
      `~box_button_lock`
      `~box_button_color`
      `~box_button_swap`
    )
  ))
  (partial "cms/widget" (dict
    "var"        `box_gallery_images`
    "name"       `images`
    "widget"     `image`
    "i18n"       true
    "multiple"   true
    "choose_url" true
  ))
  (partial "cms/widget" (dict
    "var"            `box_gallery_limages`
    "name"           `items`
    "widget"         `list`
    "summary"        "{{fields.image}}"
    "fields"         (slice
      `~box_image_no_video`
      `~box_button_link`
      `~box_image_alt`
    )
  ))


  (partial "cms/widget" (dict "var" `box_accordion_headers` "name" `headers` "widget" `boolean`))
  (partial "cms/widget" (dict "var" `box_accordion_open`    "name" `open`    "widget" `boolean`))
  (partial "cms/widget" (dict
    "var"     `box_accordion`
    "name"    `accordion`
    "widget"  `object`
    "fields"  (slice
      `~box_button_color`
      `~box_button_swap`
      `~box_icon_id`
      `~box_hs`
      `~box_hn`
      `~box_accordion_headers`
      `~box_accordion_open`
    )
  ))
  (partial "cms/widget" (dict
    "var"     `box_accordions`
    "name"    `accordions`
    "widget"  `list`
    "summary" "{{fields.title}}"
    "fields"  (slice
      `~box_icon_id`
      `~box_title`
      `~box_md`
    )
  ))


  (partial "cms/widget" (dict "var" `box_gss`       "name" `gss`      ))
  (partial "cms/widget" (dict "var" `box_gss_sheet` "name" `gss_sheet`))


  (dict "&box_review_icon_left"  (dict "<<" (slice (dict "label" $t.box_review_icon_left  "name" `icon`)       `~box_icon_id`)))
  (dict "&box_review_icon_right" (dict "<<" (slice (dict "label" $t.box_review_icon_right "name" `icon_right`) `~box_icon_id`)))
  (partial "cms/widget" (dict "var" `box_review_rating` "name" `rating` "widget" `number`   "value_type" `float` "step" 0.01 "min" 0 "max" 5))
  (partial "cms/widget" (dict "var" `box_review_date`   "name" `date`   "widget" `datetime` "alt" `page_date`))
  (partial "cms/widget" (dict
    "var"     `box_review`
    "name"    `review`
    "widget"  `object`
    "fields"  (slice
      `~box_cols_vl`
      `~box_cols_vs`
      `~box_bg_color`
      `~box_bg_fade_color`
      `~box_bg_fade_type`
      `~box_bg_alpha`
      `~box_hide_shadow`
      `~box_hs`
      `~box_slider_active`
      `~box_slider_time`
      `~box_slider_pips`
      `~box_slider_arrows`
      `~box_button_color`
      `~box_review_icon_left`
      `~box_review_icon_right`
    )
  ))
  (partial "cms/widget" (dict
    "var"     `box_reviews`
    "name"    `reviews`
    "widget"  `list`
    "summary" "{{fields.title}}"
    "fields"  (slice
      `~box_title`
      `~box_subtitle`
      `~box_image_no_video`
      `~box_md`
      `~box_review_rating`
      `~box_review_date`
    )
  ))

  (partial "cms/widget" (dict "var" `box_zoom`        "name" `zoom`   "widget" `number`             "step" 1 "min" 1 "max" 20 "hint" `1 - 20`))
  (partial "cms/widget" (dict "var" `box_map_tile`    "name" `tile`   "widget" `select`             "options" `~options_tile`                ))
  (partial "cms/widget" (dict "var" `box_map_color`   "name" `color`  "widget" `select`             "options" `~options_color_base_w`        ))
  (partial "cms/widget" (dict "var" `box_map_label`   "name" `label`                                                                         ))
  (partial "cms/widget" (dict "var" `box_map_point`   "name" `geo`    "widget" `map`    "i18n" true "decimals" 7 "type" `Point`              ))
  (partial "cms/widget" (dict "var" `box_map_polygon` "name" `geo`    "widget" `map`    "i18n" true "decimals" 7 "type" `Polygon`            ))
  (partial "cms/widget" (dict "var" `box_map_radius`  "name" `radius` "widget" `number` "i18n" true "step" 1 "min" 0 "max" 20                ))
  (partial "cms/widget" (dict
    "var"     `box_map`
    "name"    `map`
    "widget"  `object`
    "fields"  (slice
      `~box_zoom`
      `~box_map_tile`
      `~box_map_color`
      `~box_icon_id`
    )
  ))
  (partial "cms/widget" (dict "var" `box_geos_point`   "name" `point`   "widget" `object` "alt" `box_map_point`   "fields" (slice `~box_map_label` `~box_map_color` `~box_map_point`   `~box_icon_id`)))
  (partial "cms/widget" (dict "var" `box_geos_circle`  "name" `circle`  "widget" `object` "alt" `box_map_circle`  "fields" (slice `~box_map_label` `~box_map_color` `~box_map_point`   `~box_map_radius`)))
  (partial "cms/widget" (dict "var" `box_geos_polygon` "name" `polygon` "widget" `object` "alt" `box_map_polygon` "fields" (slice `~box_map_label` `~box_map_color` `~box_map_polygon`)))
  (partial "cms/widget" (dict
    "var"     `box_geos`
    "name"    `geos`
    "widget"  `list`
    "summary" "{{fields.label}}"
    "types"   (slice
      `~box_geos_point`
      `~box_geos_circle`
      `~box_geos_polygon`
    )
  ))


  (partial "cms/widget" (dict "var" `box_contact_days`           "name" `days`                     ))
  (partial "cms/widget" (dict "var" `box_contact_hours`          "name" `hours`                    ))
  (partial "cms/widget" (dict "var" `box_contact_label`          "name" `label`                    ))
  (partial "cms/widget" (dict "var" `box_contact_label_phone`    "name" `label`                    ))
  (partial "cms/widget" (dict "var" `box_contact_full`           "name" `full`   "widget" `boolean`))
  (partial "cms/widget" (dict "var" `box_contact_address_label`  "name" `label`                    ))
  (partial "cms/widget" (dict "var" `box_contact_address_anchor` "name" `anchor`                   ))
  (partial "cms/widget" (dict "var" `box_contact_hidden`         "name" `hidden` "widget" `hidden` ))
  (dict "&box_contact_map" (dict "<<" (slice (dict "hint" $t.box_contact_map_hint) `~box_map_point`)))
  (partial "cms/widget" (dict "var" `box_contact_schedule` "name" `schedule` "widget" `object` "summary" "{{fields.days}} {{fields.hours}}" "fields" (slice `~box_contact_days` `~box_contact_hours` `~box_contact_full`)))
  (partial "cms/widget" (dict "var" `box_contact_phone`    "name" `phone`    "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_full` `~box_button_color` `~box_button_swap` `~box_icon_id`)))
  (partial "cms/widget" (dict "var" `box_contact_whatsapp` "name" `whatsapp` "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_full` `~box_button_color` `~box_button_swap`)))
  (partial "cms/widget" (dict "var" `box_contact_mail`     "name" `mail`     "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_full` `~box_button_color` `~box_button_swap`)))
  (partial "cms/widget" (dict "var" `box_contact_address`  "name" `address`  "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_address_label` `~box_contact_address_anchor` `~box_contact_full` `~box_button_color` `~box_button_swap` `~box_contact_map` `~box_zoom`)))
  (partial "cms/widget" (dict "var" `box_contact_h2`       "name" `h2`       "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_h3`       "name" `h3`       "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_h4`       "name" `h4`       "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_h5`       "name" `h5`       "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_h6`       "name" `h6`       "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_contact_label` `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_br`       "name" `br`       "widget" `object` "summary" "{{fields.name}}"                  "fields" (slice `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_hr`       "name" `hr`       "widget" `object` "summary" "{{fields.name}}"                  "fields" (slice `~box_contact_hidden`)))
  (partial "cms/widget" (dict "var" `box_contact_custom`   "name" `custom`   "widget" `object` "summary" "{{fields.label}}"                 "fields" (slice `~box_button_link` `~box_icon_id` `~box_contact_label` `~box_contact_full` `~box_button_anchor` `~box_button_lock` `~box_button_color` `~box_button_swap` `~box_button_ga4`)))
  (partial "cms/widget" (dict
    "var"     `box_contact`
    "name"    `contact`
    "widget"  `list`
    "summary" "{{fields.label}}{{fields.days}} {{fields.hours}}"
    "types"   (slice
      `~box_contact_schedule`
      `~box_contact_phone`
      `~box_contact_whatsapp`
      `~box_contact_mail`
      `~box_contact_address`
      `~box_contact_h2`
      `~box_contact_h3`
      `~box_contact_h4`
      `~box_contact_h5`
      `~box_contact_h6`
      `~box_contact_br`
      `~box_contact_hr`
      `~box_contact_custom`
    )
  ))
  (partial "cms/widget" (dict
    "var"     `box_dots`
    "name"    `dots`
    "widget"  `list`
    "summary" "{{fields.link}}"
    "types"   (slice
      `~box_button_link`
      `~box_icon_id`
      `~box_button_label`
      `~box_button_ga4`
    )
  ))


  (partial "cms/widget" (dict "var" `box_form_id`         "name" `id`                            "label" `ID`                    ))
  (partial "cms/widget" (dict "var" `box_form_action`     "name" `action`                                                        ))
  (partial "cms/widget" (dict "var" `box_form_to`         "name" `to`                                                            ))
  (partial "cms/widget" (dict "var" `box_form_subject`    "name" `subject`                                                       ))
  (partial "cms/widget" (dict "var" `box_form_email`      "name" `email`                         "alt" `config_email`            ))
  (partial "cms/widget" (dict "var" `box_form_labels_out` "name" `labels_out` "widget" `boolean` "alt" `styles_inputs_labels_out`))
  (partial "cms/widget" (dict "var" `box_form_fill`       "name" `fill`       "widget" `boolean` "alt" `styles_inputs_fill`      ))
  (partial "cms/widget" (dict "var" `box_form_consent`    "name" `consent`                       "alt" `styles_inputs_consent`   ))
  (partial "cms/widget" (dict
    "var"     `box_form`
    "name"    `form`
    "widget"  `object`
    "summary" "{{fields.id}}"
    "fields"  (slice
      `~box_form_id`
      `~box_form_action`
      `~box_form_to`
      `~box_form_subject`
      `~box_form_email`
      `~box_form_labels_out`
      `~box_form_fill`
      `~box_contact_full`
      `~box_icon_id`
      `~box_button_label`
      `~box_button_color_simple`
      `~box_button_swap`
      `~box_form_consent`
    )
  ))

  (partial "cms/widget" (dict "var" `box_input_name`        "name" `name`                          ))
  (partial "cms/widget" (dict "var" `box_input_label`       "name" `label`                         ))
  (partial "cms/widget" (dict "var" `box_input_hint`        "name" `hint`                          ))
  (partial "cms/widget" (dict "var" `box_input_required`    "name" `required`    "widget" `boolean`))
  (partial "cms/widget" (dict "var" `box_input_required_if` "name" `required_if`                   ))
  (partial "cms/widget" (dict "var" `box_input_show_if`     "name" `show_if`                       ))
  (partial "cms/widget" (dict "var" `box_input_regex`       "name" `regex`                         ))
  (partial "cms/widget" (dict "var" `box_input_min`         "name" `min`         "widget" `number` ))
  (partial "cms/widget" (dict "var" `box_input_max`         "name" `max`         "widget" `number` ))
  (partial "cms/widget" (dict "var" `box_input_x`           "name" `x`           "widget" `boolean`))
  (partial "cms/widget" (dict "var" `box_input_accept`      "name" `accept`                        ))
  (partial "cms/widget" (dict "var" `box_input_basename`    "name" `base_name`                     ))
  (partial "cms/widget" (dict "var" `box_input_geo_area`    "name" `area`        "widget" `boolean`))
  (dict "&box_input_geo_view" (dict "<<" (slice (dict "label" $t.box_input_geo_view "name" `view`) `~box_map_point`)))
  (partial "cms/widget" (dict "var" `box_input_option`      "name" `option`                        ))
  (partial "cms/widget" (dict "var" `box_input_value`       "name" `value`                         ))
  (partial "cms/widget" (dict
    "var"     `box_input_options`
    "name"    `options`
    "widget"  `list`
    "summary" "{{fields.option}}"
    "types"   (slice
      `~box_input_option`
      `~box_input_value`
    )
    "label_singular" $t.box_input_option
  ))
  (partial "cms/widget" (dict "var" `box_inputs_text`     "name" `text`     "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full` `~box_input_min` `~box_input_max` `~box_input_regex`)))
  (partial "cms/widget" (dict "var" `box_inputs_email`    "name" `email`    "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full` `~box_input_min` `~box_input_max` `~box_input_regex`)))
  (partial "cms/widget" (dict "var" `box_inputs_tel`      "name" `tel`      "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full` `~box_input_min` `~box_input_max` `~box_input_regex`)))
  (partial "cms/widget" (dict "var" `box_inputs_number`   "name" `number`   "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full` `~box_input_min` `~box_input_max` `~box_input_regex`)))
  (partial "cms/widget" (dict "var" `box_inputs_date`     "name" `date`     "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full`)))
  (partial "cms/widget" (dict "var" `box_inputs_time`     "name" `time`     "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full`)))
  (partial "cms/widget" (dict "var" `box_inputs_textarea` "name" `textarea` "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_input_min` `~box_input_max`)))
  (partial "cms/widget" (dict "var" `box_inputs_geo`      "name" `geo`      "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_zoom`     `~box_input_geo_view` `~box_map_color` `~box_map_tile` `~box_input_geo_area`)))
  (partial "cms/widget" (dict "var" `box_inputs_select`   "name" `select`   "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full` `~box_input_options`)))
  (partial "cms/widget" (dict "var" `box_inputs_radio`    "name" `radio`    "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_input_x` `~box_input_options`)))
  (partial "cms/widget" (dict "var" `box_inputs_checkbox` "name" `checkbox` "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_input_x` `~box_input_options`)))
  (partial "cms/widget" (dict "var" `box_inputs_check`    "name" `check`    "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_contact_full`)))
  (partial "cms/widget" (dict "var" `box_inputs_file`     "name" `file`     "widget" `object` "fields" (slice `~box_input_name` `~box_input_label` `~box_input_hint` `~box_input_required` `~box_input_required_if` `~box_input_show_if` `~box_icon_id` `~box_input_max` `~box_input_accept` `~box_input_basename` `~box_button_color_simple` `~box_button_swap`)))
  (partial "cms/widget" (dict "var" `box_inputs_hidden`   "name" `hidden`   "widget" `object` "fields" (slice `~box_input_name`)))
  (partial "cms/widget" (dict "var" `box_inputs_h2`       "name" `h2`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `label`                     "label" $t.box_title                        ) `~box_input_hint`  )))
  (partial "cms/widget" (dict "var" `box_inputs_h3`       "name" `h3`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `label`                     "label" $t.box_title                        ) `~box_input_hint`  )))
  (partial "cms/widget" (dict "var" `box_inputs_h4`       "name" `h4`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `label`                     "label" $t.box_title                        ) `~box_input_hint`  )))
  (partial "cms/widget" (dict "var" `box_inputs_h5`       "name" `h5`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `label`                     "label" $t.box_title                        ) `~box_input_hint`  )))
  (partial "cms/widget" (dict "var" `box_inputs_h6`       "name" `h6`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `label`                     "label" $t.box_title                        ) `~box_input_hint`  )))
  (partial "cms/widget" (dict "var" `box_inputs_md`       "name" `md`       "widget" `object` "fields" (slice `~box_input_show_if` (dict "name" `md`    "widget" `markdown` "label" $t.box_contact_label "show_raw" true) `~box_contact_full`)))
  (partial "cms/widget" (dict
    "var"     `box_inputs`
    "name"    `inputs`
    "widget"  `list`
    "summary" "{{fields.label}}"
    "types"   (slice
      `~box_inputs_text`
      `~box_inputs_email`
      `~box_inputs_tel`
      `~box_inputs_number`
      `~box_inputs_date`
      `~box_inputs_time`
      `~box_inputs_textarea`
      `~box_inputs_geo`
      `~box_inputs_select`
      `~box_inputs_radio`
      `~box_inputs_checkbox`
      `~box_inputs_check`
      `~box_inputs_file`
      `~box_inputs_hidden`
      `~box_inputs_h2`
      `~box_inputs_h3`
      `~box_inputs_h4`
      `~box_inputs_h5`
      `~box_inputs_h6`
      `~box_inputs_md`
    )
  ))

}}