{{ return slice

  (partial "cms/widget" (dict "var" `name` "name" `name` "req" true                                       ))
  (partial "cms/widget" (dict "var" `id`   "name" `id`   "pattern" (slice "^$|^[a-z][a-z-0-9]*$" .pattern)))

  (partial "cms/widget" (dict "var" `view_section`  "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_section`  "dropdown_threshold" 8 ))
  (partial "cms/widget" (dict "var" `view_sections` "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_sections` "dropdown_threshold" 9 ))
  (partial "cms/widget" (dict "var" `view_modal`    "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_modal`    "dropdown_threshold" 13))
  (partial "cms/widget" (dict "var" `view_modals`   "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_modals`   "dropdown_threshold" 23))
  (partial "cms/widget" (dict "var" `view_box`      "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_box`      "dropdown_threshold" 10))
  (partial "cms/widget" (dict "var" `view_boxes`    "name" `view` "widget" `select` "alt" `view` "multiple" true "options" `~options_view_boxes`    "dropdown_threshold" 20))

  (partial "cms/widget" (dict "var" `cols`          "name" `cols`         "widget" `int`    "min" 0 "max" 12 "req" true   ))
  (partial "cms/widget" (dict "var" `cols_vs`       "name" `cols_vs`      "widget" `int`    "min" 0 "max" 12              ))
  (partial "cms/widget" (dict "var" `gap`           "name" `gap`          "widget" `float`          "max" 10              ))
  (partial "cms/widget" (dict "var" `gap_vs`        "name" `gap_vs`       "widget" `float`          "max" 10              ))
  (partial "cms/widget" (dict "var" `gap_ny`        "name" `gap_ny`       "widget" `float`          "max" 10              ))
  (partial "cms/widget" (dict "var" `to`            "name" `to`           "widget" `select` "options" `~options_direction`))
  (partial "cms/widget" (dict "var" `duo`           "name" `duo`          "widget" `select` "options" `~options_duo`      ))
  (partial "cms/widget" (dict "var" `sides`         "name" `sides`        "widget" `bool`                                 ))
  (partial "cms/widget" (dict "var" `group_radius`  "name" `group_radius` "widget" `bool`                                 ))
  (partial "cms/widget" (dict "var" `slider`        "name" `slider`       "widget" `bool`                                 ))
  (partial "cms/widget" (dict "var" `slider_time`   "name" `time`         "widget" `int`    "step" 100  "min" 100         ))
  (partial "cms/widget" (dict "var" `slider_pips`   "name" `pips`         "widget" `select` "options" `~options_pips`     ))
  (partial "cms/widget" (dict "var" `slider_arrows` "name" `arrows`       "widget" `select` "options" `~options_arrows`   ))
  (partial "cms/widget" (dict "var" `align_x`       "name" `align_x`      "widget" `select` "options" `~options_align_x`  ))
  (partial "cms/widget" (dict "var" `align_y`       "name" `align_y`      "widget" `select` "options" `~options_align_y`  ))

  (partial "cms/widget" (dict "var" `title`   "name" `title`                                                    ))
  (partial "cms/widget" (dict "var" `hanchor` "name" `hanchor`                                                  ))
  (partial "cms/widget" (dict "var" `sub`     "name" `sub`                                                      ))
  (partial "cms/widget" (dict "var" `price`   "name" `price`                                                    ))
  (partial "cms/widget" (dict "var" `hn`      "name" `hn`      "widget" `select` "options" `~options_hn`        ))
  (partial "cms/widget" (dict "var" `hs`      "name" `hs`      "widget" `float`  "min" 0.001 "max" 6 "step" 0.01))
  (partial "cms/widget" (dict "var" `hs_vs`   "name" `hs_vs`   "widget" `float`  "min" 0.001 "max" 6 "step" 0.01))
  (partial "cms/widget" (dict "var" `caps`    "name" `caps`    "widget" `bool`                                  ))
  (partial "cms/widget" (dict "var" `line`    "name" `line`    "widget" `bool`                                  ))

  (partial "cms/widget" (dict "var" `md`          "name" `md`          "widget" `md`     "hint" .page_body_hint           ))
  (partial "cms/widget" (dict "var" `md_align`    "name" `md_align`    "widget" `select` "options" `~options_align`       ))
  (partial "cms/widget" (dict "var" `md_align_vl` "name" `md_align_vl` "widget" `select` "options" `~options_align`       ))
  (partial "cms/widget" (dict "var" `md_sm`       "name" `md_sm`       "widget" `bool`                                    ))
  (partial "cms/widget" (dict "var" `md_caps`     "name" `md_caps`     "widget" `select` "options" `~options_h`           ))
  (partial "cms/widget" (dict "var" `md_line`     "name" `md_line`     "widget" `select` "options" `~options_h`           ))
  (partial "cms/widget" (dict "var" `md_index`    "name" `md_index`    "widget" `bool`                                    ))
  (partial "cms/widget" (dict "var" `md_nav`      "name" `md_nav`      "widget" `bool`                                    ))
  (partial "cms/widget" (dict "var" `md_border`   "name" `md_border`   "widget" `select` "options" `~options_color_base_n`))

  (partial "cms/widget" (dict "var" `icon`       "name" `icon`                         "i18n" `duplicate`               ))
  (partial "cms/widget" (dict "var" `icon_pos`   "name" `icon_pos`   "widget" `select` "options" `~options_icon_pos`    ))
  (partial "cms/widget" (dict "var" `icon_size`  "name" `icon_size`  "widget" `int`    "min" 1 "max" 6                  ))
  (partial "cms/widget" (dict "var" `icon_color` "name" `icon_color` "widget" `select` "options" `~options_color_base_w`))

  (partial "cms/widget" (dict "var" `img`        "name" `img`       "widget" `vimg`                                               ))
  (partial "cms/widget" (dict "var" `img_no_vid` "name" `img`       "widget" `img`    "alt" `img`                                 ))
  (partial "cms/widget" (dict "var" `hover`      "name" `hover`     "widget" `img`                                                ))
  (partial "cms/widget" (dict "var" `alt`        "name" `alt`                                                                     ))
  (partial "cms/widget" (dict "var" `hover_alt`  "name" `hover_alt`                                                               ))
  (partial "cms/widget" (dict "var" `vid`        "name" `vid`       "widget" `vid`                                                ))
  (partial "cms/widget" (dict "var" `mute`       "name" `mute`      "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `ratio`      "name" `ratio`                       "pattern" (slice "^[\\d/]*$" .ratio_pattern)))
  (partial "cms/widget" (dict "var" `contain`    "name" `contain`   "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `border`     "name" `border`    "widget" `select` "options" `~options_color_base_n`           ))
  (partial "cms/widget" (dict "var" `inset`      "name" `inset`     "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `disc`       "name" `disc`      "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `gray`       "name" `gray`      "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `shade`      "name" `shade`     "widget" `bool`                                               ))

  (partial "cms/widget" (dict "var" `pin`              "<<" `icon`     "name" `pin`                                      ))
  (partial "cms/widget" (dict "var" `url`              "name" `url`                                                      ))
  (partial "cms/widget" (dict "var" `label`            "name" `label`                                                    ))
  (partial "cms/widget" (dict "var" `anchor`           "name" `anchor`                                                   ))
  (partial "cms/widget" (dict "var" `lock`             "name" `lock`   "widget" `bool`                                   ))
  (partial "cms/widget" (dict "var" `swap`             "name" `swap`   "widget" `bool`                                   ))
  (partial "cms/widget" (dict "var" `ga4`              "name" `ga4`    "widget" `bool`                                   ))
  (partial "cms/widget" (dict "var" `btn`              "name" `btn`    "widget" `select`  "options" `~options_color_base`))
  (partial "cms/widget" (dict "var" `btn_simple`       "<<" `btn`      "options" `~options_color_base_w`                 ))
  (partial "cms/widget" (dict "var" `btn_with_hide`    "<<" `btn`      "options" `~options_color_base_h`                 ))
  (partial "cms/widget" (dict "var" `btn_without_none` "<<" `btn`      "options" `~options_color_base_n`                 ))

  (partial "cms/widget" (dict "var" `color`           "name" `color`       "widget" `select` "options" `~options_color_bg`   ))
  (partial "cms/widget" (dict "var" `fade`            "name" `fade`        "widget" `select` "options" `~options_color_bg`   ))
  (partial "cms/widget" (dict "var" `fade_to`         "name" `fade_to`     "widget" `select` "options" `~options_fade`       ))
  (partial "cms/widget" (dict "var" `color_alpha`     "name" `color_alpha` "widget" `float`  "max" 1                         ))
  (partial "cms/widget" (dict "var" `bi`              "<<" `img`           "name" `bi`                                       ))
  (partial "cms/widget" (dict "var" `alpha`           "<<" `color_alpha`   "name" `alpha`                                    ))
  (partial "cms/widget" (dict "var" `scroll`          "name" `scroll`      "widget" `select` "options" `~options_scroll_box` ))
  (partial "cms/widget" (dict "var" `scroll_sections` "<<" `scroll`                          "options" `~options_scroll_sect`))

  (partial "cms/widget" (dict "var" `pt` "name" `pt` "widget" `float` "step" 0.5 "max" 20))
  (partial "cms/widget" (dict "var" `pb` "name" `pb` "widget" `float` "step" 0.5 "max" 20))
  (partial "cms/widget" (dict "var" `ph` "name" `ph` "widget" `bool`                     ))

  (partial "cms/widget" (dict "var" `size` "name" `size` "widget" `select` "options" `~options_sizes`))
  (partial "cms/widget" (dict "var" `full` "name" `full` "widget" `bool`                             ))

  (partial "cms/widget" (dict "var" `div`    "name" `div`   "widget" `select` "options" `~options_divider` "multiple" false "hint" (print .div_hint " → [sansoul.pages.dev/divisores/](https://sansoul.pages.dev/divisores/)")))
  (partial "cms/widget" (dict "var" `flip_x` "name" `div_x` "widget" `bool`))
  (partial "cms/widget" (dict "var" `flip_y` "name" `div_y` "widget" `bool`))

  (partial "cms/widget" (dict "var" `menu_label` "name" `menu_label`                                                    ))
  (partial "cms/widget" (dict "var" `menu_btn`   "name" `menu_btn`   "widget" `select` "options" `~options_color_base_h`))
  (partial "cms/widget" (dict "var" `menu_swap`  "name" `menu_swap`  "widget" `bool`                                    ))

  (partial "cms/widget" (dict "var" `order`        "name" `order`       "widget" `int`    "min" -20 "max" 20                          ))
  (partial "cms/widget" (dict "var" `fit`          "name" `fit`         "widget" `float`            "max" 12                          ))
  (partial "cms/widget" (dict "var" `fit_vs`       "name" `fit_vs`      "widget" `float`            "max" 12                          ))
  (partial "cms/widget" (dict "var" `grow`         "name" `grow`        "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `align_y_self` "name" `align_y`     "widget" `select` "options" `~options_align_y`                ))
  (partial "cms/widget" (dict "var" `align`        "name" `align`       "widget" `select` "options" `~options_align`                  ))
  (partial "cms/widget" (dict "var" `align_vl`     "name" `align_vl`    "widget" `select` "options" `~options_align`                  ))
  (partial "cms/widget" (dict "var" `side`         "name" `side`        "widget" `select` "options" `~options_align`                  ))
  (partial "cms/widget" (dict "var" `rate`         "name" `rate`                          "pattern" (slice "^[\\d/]*$" .ratio_pattern)))
  (partial "cms/widget" (dict "var" `space`        "name" `space`       "widget" `float`            "max" 20                          ))
  (partial "cms/widget" (dict "var" `pd`           "name" `pd`          "widget" `float`            "max" 10                          ))
  (partial "cms/widget" (dict "var" `pd_vs`        "name" `pd_vs`       "widget" `float`            "max" 10                          ))
  (partial "cms/widget" (dict "var" `hide_shadow`  "name" `hide_shadow` "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `hide_radius`  "name" `hide_radius` "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `pill`         "name" `pill`        "widget" `bool`                                               ))
  (partial "cms/widget" (dict "var" `card`         "name" `card`        "widget" `bool`                                               ))

  (partial "cms/widget" (dict "var" `if`   "name" `if`  ))
  (partial "cms/widget" (dict "var" `node` "name" `node`))
  (partial "cms/widget" (dict
    "var"    `get`
    "name"   `get`
    "widget" `slice`
    "sum"    "{{fields.box}}"
    "fields" (slice
      (partial "cms/widget" (dict "alt" `get_from`  "name" `from`  "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `get_to`    "name" `to`    "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `get_value` "name" `value`                   ))
    )
  ))
  (partial "cms/widget" (dict
    "var"    `remap`
    "name"   `remap`
    "widget" `slice`
    "sum"    "{{fields.from}} → {{fields.to}}"
    "fields" (slice
      (partial "cms/widget" (dict "alt" `remap_from` "name" `from` "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `remap_to`   "name" `to`   "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `remap_copy` "name" `copy` "widget" `bool`   ))
    )
  ))
  (partial "cms/widget" (dict "var" `tag`             "name" `tag`        "widget" `select`                        "options" `~options_tags`))
  (partial "cms/widget" (dict "var" `tags_label`      "name" `label`                         "label" .links_label                           ))
  (partial "cms/widget" (dict "var" `tags_hide_hours` "name" `hide_hours` "widget" `bool`                                                   ))
  (partial "cms/widget" (dict "var" `tags_hide_mod`   "name" `hide_mod`   "widget" `bool`                                                   ))
  (partial "cms/widget" (dict "var" `tags_tax`        "name" `tax`        "widget" `select`  "label" .tags_tax_key "options" `~options_tax` ))
  (partial "cms/widget" (dict "var" `tags_param`      "name" `param`                                                                        ))
  (partial "cms/widget" (dict
    "var"    `tags`
    "name"   `tags`
    "widget" `slice`
    "sum"    "{{fields.type}}"
    "types"  (slice
      (partial "cms/widget" (dict "alt" `tags_type`     "name" `type`    "widget" `dict` "fields" (slice `~icon`                                    )))
      (partial "cms/widget" (dict "alt" `tags_date`     "name" `date`    "widget" `dict` "fields" (slice `~icon` `~tags_hide_hours` `~tags_hide_mod`)))
      (partial "cms/widget" (dict "alt" `box_tags_time` "name" `time`    "widget" `dict` "fields" (slice `~icon`                                    )))
      (partial "cms/widget" (dict "alt" `tags_words`    "name" `words`   "widget" `dict` "fields" (slice `~icon`                                    )))
      (partial "cms/widget" (dict "alt" `tags_address`  "name" `address` "widget" `dict` "fields" (slice `~icon`                                    )))
      (partial "cms/widget" (dict "alt" `tags_tax`      "name" `tax`     "widget" `dict` "fields" (slice `~icon` `~tags_tax`                        )))
      (partial "cms/widget" (dict "alt" `tags_param`    "name" `param`   "widget" `dict` "fields" (slice `~icon` `~tags_param`                      )))
      (partial "cms/widget" (dict "alt" `tags_custom`   "name" `custom`  "widget" `dict` "fields" (slice `~icon` `~tags_label`                      )))
    )
  ))
  (partial "cms/widget" (dict "var" `sort`              "name" `sort`     "widget" `select`  "multiple" true       "options" `~options_sort`))

}}