{{ $t := partial "functions/i18n-cms" . }}

{{ return slice

  (dict "&BOX_NAME" (dict "name" `name` "widget" `string` "required" true  "label" $t.box_name "hint" $t.box_name_hint))
  (dict "&BOX_ID"   (dict "name" `id`   "widget" `string` "required" false "label" $t.box_id   "hint" $t.box_id_hint "pattern" (slice "^[a-z-]+$" $t.pattern)))

  (dict "&BOX_VIEW_SECTION"  (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_SECTION`))
  (dict "&BOX_VIEW_SECTIONS" (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_SECTIONS`))
  (dict "&BOX_VIEW_MODAL"    (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_MODAL`))
  (dict "&BOX_VIEW_MODALS"   (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_MODALS`))
  (dict "&BOX_VIEW_BOX"      (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_BOX`))
  (dict "&BOX_VIEW_BOXES"    (dict "name" `view` "widget" `select` "required" false "label" $t.box_view "hint" $t.box_view_hint "multiple" true "options" `~OPTIONS_VIEW_BOXES`))

  (dict "&BOX_COLS_VL"         (dict "name" `cols`         "widget" `number`  "required" false "label" $t.box_cols_vl      "value_type" `int`   "step" 1    "min" 0 "max" 12 "hint" $t.box_cols_vl_hint))
  (dict "&BOX_COLS_VS"         (dict "name" `cols_vs`      "widget" `number`  "required" false "label" $t.box_cols_vs      "value_type" `int`   "step" 1    "min" 0 "max" 12 "hint" $t.box_cols_vs_hint))
  (dict "&BOX_GAP_VL"          (dict "name" `gap`          "widget" `number`  "required" false "label" $t.box_gap_vl       "value_type" `float` "step" 0.01 "min" 0 "max" 10))
  (dict "&BOX_GAP_VS"          (dict "name" `gap_vs`       "widget" `number`  "required" false "label" $t.box_gap_vs       "value_type" `float` "step" 0.01 "min" 0 "max" 10))
  (dict "&BOX_GAP_NY"          (dict "name" `gap_ny`       "widget" `number`  "required" false "label" $t.box_gap_ny       "value_type" `float` "step" 0.01 "min" 0 "max" 10 "hint" $t.box_gap_ny_hint))
  (dict "&BOX_DIRECTION"       (dict "name" `direction`    "widget" `select`  "required" false "label" $t.box_direction    "options" `~OPTIONS_DIRECTION`))
  (dict "&BOX_GROUP_RADIUS"    (dict "name" `group_radius` "widget" `boolean` "required" false "label" $t.box_group_radius                                                   "hint" $t.box_group_radius_hint))
  (dict "&BOX_SLIDER_ACTIVE"   (dict "name" `slider`       "widget" `boolean` "required" false "label" $t.box_slider                                                         "hint" $t.box_slider_hint))
  (dict "&BOX_SLIDER_TIME"     (dict "name" `time`         "widget" `number`  "required" false "label" $t.box_time         "value_type" `int`   "step" 100  "min" 0          "hint" $t.box_time_hint))
  (dict "&BOX_SLIDER_BULLETS"  (dict "name" `bullets`      "widget" `select`  "required" false "label" $t.box_bullets      "options" `~OPTIONS_BULLETS`))
  (dict "&BOX_SLIDER_ARROWS"   (dict "name" `arrows`       "widget" `select`  "required" false "label" $t.box_arrows       "options" `~OPTIONS_ARROWS`))
  (dict "&BOX_ALIGN_X"         (dict "name" `align_x`      "widget" `select`  "required" false "label" $t.box_align_x      "options" `~OPTIONS_ALIGN_X`))
  (dict "&BOX_ALIGN_Y"         (dict "name" `align_y`      "widget" `select`  "required" false "label" $t.box_align_y      "options" `~OPTIONS_ALIGN_Y`))

  (dict "&BOX_TITLE"    (dict "name" `title`    "widget" `string`   "required" false "label" $t.box_title))
  (dict "&BOX_HANCHOR"  (dict "name" `hanchor`  "widget" `string`   "required" false "label" $t.box_hanchor   "hint"    $t.box_hanchor_hint))
  (dict "&BOX_SUBTITLE" (dict "name" `subtitle` "widget" `string`   "required" false "label" $t.box_subtitle))
  (dict "&BOX_PRICE"    (dict "name" `price`    "widget" `string`   "required" false "label" $t.box_price))
  (dict "&BOX_HS"       (dict "name" `hs`       "widget" `select`   "required" false "label" $t.box_hs        "options" `~OPTIONS_HS`))
  (dict "&BOX_HN"       (dict "name" `hn`       "widget" `select`   "required" false "label" $t.box_hn        "options" `~OPTIONS_HN`))
  (dict "&BOX_CAPS"     (dict "name" `caps`     "widget" `boolean`  "required" false "label" $t.box_caps))
  (dict "&BOX_LINE"     (dict "name" `line`     "widget" `boolean`  "required" false "label" $t.box_line))

  (dict "&BOX_MD"          (dict "name" `md`          "widget" `markdown` "required" false "label" $t.box_md          "hint" $t.p_body_hint          "show_raw" true))
  (dict "&BOX_MD_ALIGN"    (dict "name" `md_align`    "widget" `select`   "required" false "label" $t.box_md_align    "hint" $t.box_md_align_hint    "options" `~OPTIONS_ALIGN`))
  (dict "&BOX_MD_ALIGN_VL" (dict "name" `md_align_vl` "widget" `select`   "required" false "label" $t.box_md_align_vl "hint" $t.box_md_align_vl_hint "options" `~OPTIONS_ALIGN`))
  (dict "&BOX_MD_SM"       (dict "name" `md_sm`       "widget" `boolean`  "required" false "label" $t.box_md_sm))
  (dict "&BOX_MD_CAPS"     (dict "name" `md_caps`     "widget" `select`   "required" false "label" $t.box_md_caps     "hint" $t.box_md_caps_hint     "options" (slice 1 2 3 4 5 6)))
  (dict "&BOX_MD_LINE"     (dict "name" `md_line`     "widget" `select`   "required" false "label" $t.box_md_line     "hint" $t.box_md_line_hint     "options" (slice 1 2 3 4 5 6)))
  (dict "&BOX_MD_INDEX"    (dict "name" `md_index`    "widget" `boolean`  "required" false "label" $t.box_md_index    "hint" $t.box_md_index_hint))
  (dict "&BOX_MD_NAV"      (dict "name" `md_nav`      "widget" `boolean`  "required" false "label" $t.box_md_nav      "hint" $t.box_md_nav_hint))
  (dict "&BOX_MD_BORDER"   (dict "name" `md_border`   "widget" `boolean`  "required" false "label" $t.box_md_border))

  (dict "&BOX_MENU_LABEL"    (dict "name" `menu_label`  "widget" `string`  "required" false "label" $t.box_menu_label))
  (dict "&BOX_MENU_BUTTON"   (dict "name" `menu_button` "widget" `select`  "required" false "label" $t.box_menu_button   "options" `~OPTIONS_COLOR_BASE_H`))
  (dict "&BOX_MENU_SWAP"     (dict "name" `menu_swap`   "widget" `boolean` "required" false "label" $t.box_menu_swap))

  (dict "&BOX_ICON_ID"    (dict "name" `icon`       "widget" `string` "required" false "label" $t.box_icon_id    "hint" $t.box_icon_id_hint))
  (dict "&BOX_ICON_TYPE"  (dict "name" `icon_type`  "widget" `select` "required" false "label" $t.box_icon_type  "hint" $t.box_icon_type_hint "options" `~OPTIONS_ICON_TYPE`))
  (dict "&BOX_ICON_SIZE"  (dict "name" `icon_size`  "widget" `number` "required" false "label" $t.box_icon_size                               "value_type" `int` "step" 1 "min" 1 "max" 6))
  (dict "&BOX_ICON_COLOR" (dict "name" `icon_color` "widget" `select` "required" false "label" $t.box_icon_color                              "options" `~OPTIONS_COLOR_BASE_W`))

  (dict "&BOX_IMAGE_SRC"       (dict "name" `image`     "widget" `image`   "required" false "label" $t.box_image_src       "choose_url" true "max_file_size" 512000000 "hint" $t.box_image_src_hint))
  (dict "&BOX_IMAGE_HOVER"     (dict "name" `hover`     "widget" `image`   "required" false "label" $t.box_image_hover     "choose_url" true "max_file_size" 512000000 "hint" $t.box_image_hover_hint))
  (dict "&BOX_IMAGE_ALT"       (dict "name" `alt`       "widget" `string`  "required" false "label" $t.box_image_alt))
  (dict "&BOX_IMAGE_HOVER_ALT" (dict "name" `hover_alt` "widget" `string`  "required" false "label" $t.box_image_hover_alt))
  (dict "&BOX_IMAGE_RATIO"     (dict "name" `ratio`     "widget" `string`  "required" false "label" $t.box_image_ratio                                                 "hint" $t.box_image_ratio_hint     "pattern" (slice "^[\\d/]*$" $t.box_image_ratio_pattern)))
  (dict "&BOX_IMAGE_CONTAIN"   (dict "name" `contain`   "widget" `boolean` "required" false "label" $t.box_image_contain                                               "hint" $t.box_image_contain_hint))
  (dict "&BOX_IMAGE_BORDER"    (dict "name" `border`    "widget" `select`  "required" false "label" $t.box_image_border    "options" `~OPTIONS_COLOR_BASE_W`))
  (dict "&BOX_IMAGE_INSET"     (dict "name" `inset`     "widget" `boolean` "required" false "label" $t.box_image_inset                                                 "hint" $t.box_image_inset_hint))
  (dict "&BOX_IMAGE_CIRCLE"    (dict "name" `circle`    "widget" `boolean` "required" false "label" $t.box_image_circle))
  (dict "&BOX_IMAGE_GRAY"      (dict "name" `gray`      "widget" `boolean` "required" false "label" $t.box_image_gray                                                  "hint" $t.box_image_gray_hint))
  (dict "&BOX_IMAGE_SHADE"     (dict "name" `shade`     "widget" `boolean` "required" false "label" $t.box_image_shade                                                 "hint" $t.box_image_shade_hint))
  (dict "&BOX_IMAGE_NO_VIDEO"  (dict "<<" (slice (dict "hint" "") `~BOX_IMAGE_SRC`)))

  (dict "&BOX_BUTTON_PIN"                (dict "<<" (slice (dict "label" $t.box_button_pin "name" `pin`)        `~BOX_ICON_ID`)))
  (dict "&BOX_BUTTON_LINK"               (dict "name" `link`     "widget" `string`  "required" false "label" $t.box_button_link))
  (dict "&BOX_BUTTON_LABEL"              (dict "name" `label`    "widget" `string`  "required" false "label" $t.box_button_label))
  (dict "&BOX_BUTTON_ANCHOR"             (dict "name" `anchor`   "widget" `string`  "required" false "label" $t.box_button_anchor "hint" $t.box_button_anchor_hint))
  (dict "&BOX_BUTTON_LOCK"               (dict "name" `lock`     "widget" `boolean` "required" false "label" $t.box_button_lock   "hint" $t.box_button_lock_hint))
  (dict "&BOX_BUTTON_SWAP"               (dict "name" `swap`     "widget" `boolean` "required" false "label" $t.box_button_swap))
  (dict "&BOX_BUTTON_GA4"                (dict "name" `ga4`      "widget" `boolean` "required" false "label" $t.box_button_ga4    "hint" $t.box_button_ga4_hint))
  (dict "&BOX_BUTTON_COLOR"              (dict "name" `button`   "widget" `select`  "required" false "label" $t.box_button_color  "options" `~OPTIONS_COLOR_BASE`))
  (dict "&BOX_BUTTON_COLOR_SIMPLE"       (dict "<<" (slice (dict "options" `~OPTIONS_COLOR_BASE_W`)             `~BOX_BUTTON_COLOR`)))
  (dict "&BOX_BUTTON_COLOR_WITH_HIDE"    (dict "<<" (slice (dict "options" `~OPTIONS_COLOR_BASE_H`)             `~BOX_BUTTON_COLOR`)))
  (dict "&BOX_BUTTON_COLOR_WITHOUT_NONE" (dict "<<" (slice (dict "options" `~OPTIONS_COLOR_BASE_N`)             `~BOX_BUTTON_COLOR`)))

  (dict "&BOX_BG_COLOR"          (dict "name" `color`       "widget" `select`  "required" false "label" $t.box_bg_color       "options" `~OPTIONS_COLOR_BG`))
  (dict "&BOX_BG_FADE_COLOR"     (dict "name" `fade`        "widget" `select`  "required" false "label" $t.box_bg_fade        "options" `~OPTIONS_COLOR_BG`))
  (dict "&BOX_BG_FADE_TYPE"      (dict "name" `fade_type`   "widget" `select`  "required" false "label" $t.box_bg_fade_type   "options" `~OPTIONS_FADE`))
  (dict "&BOX_BG_COLOR_ALPHA"    (dict "name" `color_alpha` "widget" `number`  "required" false "label" $t.box_bg_color_alpha "value_type" `float` "step" 0.01 "min" 0 "max" 1))
  (dict "&BOX_BG_IMAGE"          (dict "<<" (slice (dict "name" `bi`                            "label" $t.box_bg_image) `~BOX_IMAGE_SRC`)))
  (dict "&BOX_BG_ALPHA"          (dict "<<" (slice (dict "name" `alpha`                         "label" $t.box_bg_alpha) `~BOX_BG_COLOR_ALPHA`)))
  (dict "&BOX_PARALLAX_SECTIONS" (dict "name" `parallax`    "widget" `select`  "required" false "label" $t.box_parallax       "options" `~OPTIONS_PARALLAX_SECT` "hint" $t.box_parallax_hint))
  (dict "&BOX_PARALLAX_BOXES"    (dict "<<" (slice (dict "options" `~OPTIONS_PARALLAX_BOX`) `~BOX_PARALLAX_SECTIONS`)))

  (dict "&BOX_CONTAINER_BG_COLOR"       (dict "<<" (slice (dict "label" $t.box_container_bg_color       "name" `box_color`      ) `~BOX_BG_COLOR`)))
  (dict "&BOX_CONTAINER_BG_FADE_COLOR"  (dict "<<" (slice (dict "label" $t.box_container_bg_fade_color  "name" `box_fade_color` ) `~BOX_BG_FADE_COLOR`)))
  (dict "&BOX_CONTAINER_BG_FADE_TYPE"   (dict "<<" (slice (dict "label" $t.box_container_bg_fade_type   "name" `box_fade_type`  ) `~BOX_BG_FADE_TYPE`)))
  (dict "&BOX_CONTAINER_BG_COLOR_ALPHA" (dict "<<" (slice (dict "label" $t.box_container_bg_color_alpha "name" `box_color_alpha`) `~BOX_BG_COLOR_ALPHA`)))
  (dict "&BOX_CONTAINER_BG_IMAGE"       (dict "<<" (slice (dict "label" $t.box_container_bg_image       "name" `box_bg_image`   ) `~BOX_BG_IMAGE`)))
  (dict "&BOX_CONTAINER_BG_ALPHA"       (dict "<<" (slice (dict "label" $t.box_container_bg_alpha       "name" `box_alpha`      ) `~BOX_BG_ALPHA`)))
  (dict "&BOX_CONTAINER_PARALLAX"       (dict "<<" (slice (dict "label" $t.box_container_parallax       "name" `box_parallax`   ) `~BOX_PARALLAX_BOXES`)))

  (dict "&BOX_PADDING_TOP"    (dict "name" `pt` "widget" `number`  "required" false "label" $t.box_padding_top    "value_type" `float` "step" 0.5 "min" 0 "max" 20))
  (dict "&BOX_PADDING_BOTTOM" (dict "name" `pb` "widget" `number`  "required" false "label" $t.box_padding_bottom "value_type" `float` "step" 0.5 "min" 0 "max" 20))
  (dict "&BOX_PADDING_HIDE"   (dict "name" `ph` "widget" `boolean` "required" false "label" $t.box_padding_hide))

  (dict "&BOX_SIZE" (dict "name" `size` "widget" `select`  "required" false "label" $t.box_size "hint" $t.box_size_hint "options" `~OPTIONS_SIZES`))
  (dict "&BOX_FULL" (dict "name" `full` "widget" `boolean` "required" false "label" $t.box_full))

  (dict "&BOX_DIVIDER_ID"     (dict "name" `div`   "widget" `select`  "required" false "label" $t.box_divider_id     "options" `~OPTIONS_DIVIDER` "multiple" false "hint" (print $t.box_divider_id_hint " → [sansoul.pages.dev/divisores/](https://sansoul.pages.dev/divisores/)")))
  (dict "&BOX_DIVIDER_FLIP_X" (dict "name" `div_x` "widget" `boolean` "required" false "label" $t.box_divider_flip_x))
  (dict "&BOX_DIVIDER_FLIP_Y" (dict "name" `div_y` "widget" `boolean` "required" false "label" $t.box_divider_flip_y))

  (dict "&BOX_ORDER"        (dict "name" `order`       "widget" `number`  "required" false "label" $t.box_order         "hint" $t.box_order_hint    "value_type" `int`   "step" 1    "min" -20 "max" 20))
  (dict "&BOX_FIT_VL"       (dict "name" `fit`         "widget" `number`  "required" false "label" $t.box_fit_vl        "hint" $t.box_fit_vl_hint   "value_type" `float` "step" 0.01 "min" 0   "max" 12))
  (dict "&BOX_FIT_VS"       (dict "name" `fit_vs`      "widget" `number`  "required" false "label" $t.box_fit_vs        "hint" $t.box_fit_vs_hint   "value_type" `float` "step" 0.01 "min" 0   "max" 12))
  (dict "&BOX_GROW"         (dict "name" `grow`        "widget" `boolean` "required" false "label" $t.box_grow          "hint" $t.box_grow_hint))
  (dict "&BOX_ALIGN_Y_SELF" (dict "name" `align_y`     "widget" `select`  "required" false "label" $t.box_align_y_self                              "options" `~OPTIONS_ALIGN_Y`))
  (dict "&BOX_ALIGN"        (dict "name" `align`       "widget" `select`  "required" false "label" $t.box_align         "hint" $t.box_align_hint    "options" `~OPTIONS_ALIGN`))
  (dict "&BOX_ALIGN_VL"     (dict "name" `align_vl`    "widget" `select`  "required" false "label" $t.box_align_vl      "hint" $t.box_align_vl_hint "options" `~OPTIONS_ALIGN`))
  (dict "&BOX_RATE"         (dict "name" `rate`        "widget" `string`  "required" false "label" $t.box_rate                                      "pattern" (slice "^[\\d/]*$" $t.box_image_ratio_pattern)))
  (dict "&BOX_SPACE"        (dict "name" `space`       "widget" `number`  "required" false "label" $t.box_space                                     "value_type" `float` "step" 0.01 "min" 0   "max" 20))
  (dict "&BOX_PADDING_VL"   (dict "name" `pd`          "widget" `number`  "required" false "label" $t.box_padding_vl                                "value_type" `float` "step" 0.01 "min" 0   "max" 10))
  (dict "&BOX_PADDING_VS"   (dict "name" `pd_vs`       "widget" `number`  "required" false "label" $t.box_padding_vs                                "value_type" `float` "step" 0.01 "min" 0   "max" 10))
  (dict "&BOX_HIDE_SHADOW"  (dict "name" `hide_shadow` "widget" `boolean` "required" false "label" $t.box_hide_shadow))
  (dict "&BOX_HIDE_RADIUS"  (dict "name" `hide_radius` "widget" `boolean` "required" false "label" $t.box_hide_radius))
  (dict "&BOX_PILL"         (dict "name" `pill`        "widget" `boolean` "required" false "label" $t.box_pill          "hint" $t.box_pill_hint))
  (dict "&BOX_CARD"         (dict "name" `card`        "widget" `boolean` "required" false "label" $t.box_card          "hint" $t.box_card_hint))

  (dict "&BOX_IF"           (dict "name" `if`          "widget" `string`  "required" false "label" $t.box_if            "hint" $t.box_if_hint))
  (dict "&BOX_NODE"         (dict "name" `node`        "widget" `string`  "required" false "label" $t.box_node          "hint" $t.box_node_hint))
  (dict "&BOX_PARAMS"       (dict
    "name"           `params`
    "widget"         `list`
    "required"       false
    "label"          $t.box_params
    "label_singular" $t.box_params_singular
    "hint"           $t.box_params_hint
    "collapsed"      true
    "summary"        "{{fields.box}}"
    "allow_add"      true
    "fields"         (slice
      (dict "name" `box`   "widget" `string` "required" false "label" $t.box_params_box)
      (dict "name" `page`  "widget" `string` "required" false "label" $t.box_params_page)
      (dict "name" `value` "widget" `string` "required" false "label" $t.box_params_value)
    )
  ))
  (dict "&BOX_TAG"           (dict "name" `tag`   "widget" `select` "required" false "label" $t.box_tag               "options" `~OPTIONS_TAGS`))
  (dict "&BOX_TAGS_LABEL"    (dict "name" `label` "widget" `string` "required" false "label" $t.box_contact_label))
  (dict "&BOX_TAGS_TAXONOMY" (dict "name" `tax`   "widget" `select` "required" false "label" $t.box_tags_taxonomy_key "options" `~OPTIONS_TYPES`))
  (dict "&BOX_TAGS_PARAM"    (dict "name" `param` "widget" `string` "required" false "label" $t.box_tags_param_key))
  (dict "&BOX_TAGS"          (dict
    "name"           `tags`
    "widget"         `list`
    "required"       false
    "label"          $t.box_tags
    "label_singular" $t.box_tags_singular
    "hint"           $t.box_tags_hint
    "collapsed"      true
    "summary"        "{{fields.type}}"
    "allow_add"      true
    "types"          (slice
      (dict "name" `type`    "widget" `object` "required" false "label" $t.box_tags_type                                       "fields" (slice `~BOX_ICON_ID`))
      (dict "name" `date`    "widget" `object` "required" false "label" $t.box_tags_date                                       "fields" (slice `~BOX_ICON_ID`))
      (dict "name" `time`    "widget" `object` "required" false "label" $t.box_tags_reading_time                               "fields" (slice `~BOX_ICON_ID`))
      (dict "name" `words`   "widget" `object` "required" false "label" $t.box_tags_words                                      "fields" (slice `~BOX_ICON_ID`))
      (dict "name" `address` "widget" `object` "required" false "label" $t.box_tags_address                                    "fields" (slice `~BOX_ICON_ID`))
      (dict "name" `tax`     "widget" `object` "required" false "label" $t.box_tags_taxonomy                                   "fields" (slice `~BOX_ICON_ID` `~BOX_TAGS_TAXONOMY`))
      (dict "name" `param`   "widget" `object` "required" false "label" $t.box_tags_param        "hint" $t.box_tags_param_hint "fields" (slice `~BOX_ICON_ID` `~BOX_TAGS_PARAM`))
      (dict "name" `custom`  "widget" `object` "required" false "label" $t.box_tags_custom                                     "fields" (slice `~BOX_ICON_ID` `~BOX_TAGS_LABEL`))
    )
  ))
  (dict "&BOX_SORT"          (dict "name" `sort`  "widget" `select` "required" false "label" $t.box_sort "multiple" true "options" `~OPTIONS_SORT`))

}}