{{ $t := partial "functions/i18n-cms" . }}

{{ return slice

  (partial "cms/widget" (dict "var" `box_name` "name" `name` "required" true                         ))
  (partial "cms/widget" (dict "var" `box_id`   "name" `id`   "pattern" (slice "^[a-z-]+$" $t.pattern)))

  (partial "cms/widget" (dict "var" `box_view_section`  "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_section` ))
  (partial "cms/widget" (dict "var" `box_view_sections` "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_sections`))
  (partial "cms/widget" (dict "var" `box_view_modal`    "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_modal`   ))
  (partial "cms/widget" (dict "var" `box_view_modals`   "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_modals`  ))
  (partial "cms/widget" (dict "var" `box_view_box`      "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_box`     ))
  (partial "cms/widget" (dict "var" `box_view_boxes`    "name" `view` "widget" `select` "alt" `box_view` "multiple" true "options" `~options_view_boxes`   ))

  (partial "cms/widget" (dict "var" `box_cols_vl`       "name" `cols`         "widget" `number` "value_type" `int`   "step" 1    "min" 0 "max" 12))
  (partial "cms/widget" (dict "var" `box_cols_vs`       "name" `cols_vs`      "widget" `number` "value_type" `int`   "step" 1    "min" 0 "max" 12))
  (partial "cms/widget" (dict "var" `box_gap_vl`        "name" `gap`          "widget" `number` "value_type" `float` "step" 0.01 "min" 0 "max" 10))
  (partial "cms/widget" (dict "var" `box_gap_vs`        "name" `gap_vs`       "widget" `number` "value_type" `float` "step" 0.01 "min" 0 "max" 10))
  (partial "cms/widget" (dict "var" `box_gap_ny`        "name" `gap_ny`       "widget" `number` "value_type" `float` "step" 0.01 "min" 0 "max" 10))
  (partial "cms/widget" (dict "var" `box_to`            "name" `to`           "widget" `select` "options" `~options_direction`                   ))
  (partial "cms/widget" (dict "var" `box_duo`           "name" `duo`          "widget" `select` "options" `~options_duo`                         ))
  (partial "cms/widget" (dict "var" `box_sides`         "name" `sides`        "widget" `boolean`                                                 ))
  (partial "cms/widget" (dict "var" `box_group_radius`  "name" `group_radius` "widget" `boolean`                                                 ))
  (partial "cms/widget" (dict "var" `box_slider_active` "name" `slider`       "widget" `boolean`                                                 ))
  (partial "cms/widget" (dict "var" `box_slider_time`   "name" `time`         "widget" `number` "value_type" `int`   "step" 100  "min" 0         ))
  (partial "cms/widget" (dict "var" `box_slider_pips`   "name" `pips`         "widget" `select` "options" `~options_pips`                        ))
  (partial "cms/widget" (dict "var" `box_slider_arrows` "name" `arrows`       "widget" `select` "options" `~options_arrows`                      ))
  (partial "cms/widget" (dict "var" `box_align_x`       "name" `align_x`      "widget" `select` "options" `~options_align_x`                     ))
  (partial "cms/widget" (dict "var" `box_align_y`       "name" `align_y`      "widget" `select` "options" `~options_align_y`                     ))

  (partial "cms/widget" (dict "var" `box_title`    "name" `title`                                              ))
  (partial "cms/widget" (dict "var" `box_hanchor`  "name" `hanchor`                                            ))
  (partial "cms/widget" (dict "var" `box_subtitle` "name" `subtitle`                                           ))
  (partial "cms/widget" (dict "var" `box_price`    "name" `price`                                              ))
  (partial "cms/widget" (dict "var" `box_hs`       "name" `hs`       "widget" `select`  "options" `~options_hs`))
  (partial "cms/widget" (dict "var" `box_hn`       "name" `hn`       "widget" `select`  "options" `~options_hn`))
  (partial "cms/widget" (dict "var" `box_caps`     "name" `caps`     "widget" `boolean`                        ))
  (partial "cms/widget" (dict "var" `box_line`     "name" `line`     "widget" `boolean`                        ))

  (partial "cms/widget" (dict "var" `box_md`          "name" `md`          "widget" `markdown` "hint" $t.page_body_hint     ))
  (partial "cms/widget" (dict "var" `box_md_align`    "name" `md_align`    "widget" `select`   "options" `~options_align`   ))
  (partial "cms/widget" (dict "var" `box_md_align_vl` "name" `md_align_vl` "widget" `select`   "options" `~options_align`   ))
  (partial "cms/widget" (dict "var" `box_md_sm`       "name" `md_sm`       "widget" `boolean`                               ))
  (partial "cms/widget" (dict "var" `box_md_caps`     "name" `md_caps`     "widget" `select`   "options" (slice 1 2 3 4 5 6)))
  (partial "cms/widget" (dict "var" `box_md_line`     "name" `md_line`     "widget" `select`   "options" (slice 1 2 3 4 5 6)))
  (partial "cms/widget" (dict "var" `box_md_index`    "name" `md_index`    "widget" `boolean`                               ))
  (partial "cms/widget" (dict "var" `box_md_nav`      "name" `md_nav`      "widget" `boolean`                               ))
  (partial "cms/widget" (dict "var" `box_md_border`   "name" `md_border`   "widget" `boolean`                               ))

  (partial "cms/widget" (dict "var" `box_menu_label`    "name" `menu_label`                                                     ))
  (partial "cms/widget" (dict "var" `box_menu_button`   "name" `menu_button` "widget" `select` "options" `~options_color_base_h`))
  (partial "cms/widget" (dict "var" `box_menu_swap`     "name" `menu_swap`   "widget" `boolean`                                 ))

  (partial "cms/widget" (dict "var" `box_icon_id`    "name" `icon`                                                                    ))
  (partial "cms/widget" (dict "var" `box_icon_type`  "name" `icon_type`  "widget" `select` "options" `~options_icon_type`             ))
  (partial "cms/widget" (dict "var" `box_icon_size`  "name" `icon_size`  "widget" `number` "value_type" `int` "step" 1 "min" 1 "max" 6))
  (partial "cms/widget" (dict "var" `box_icon_color` "name" `icon_color` "widget" `select` "options" `~options_color_base_w`          ))

  (partial "cms/widget" (dict "var" `box_image_src`       "name" `image`       "widget" `image`  "choose_url" true "max_file_size" 512000000             ))
  (partial "cms/widget" (dict "var" `box_image_hover`     "name" `hover`       "widget" `image`  "choose_url" true "max_file_size" 512000000             ))
  (partial "cms/widget" (dict "var" `box_image_alt`       "name" `alt`                                                                                   ))
  (partial "cms/widget" (dict "var" `box_image_hover_alt` "name" `hover_alt`                                                                             ))
  (partial "cms/widget" (dict "var" `box_image_ratio`     "name" `ratio`                         "pattern" (slice "^[\\d/]*$" $t.box_image_ratio_pattern)))
  (partial "cms/widget" (dict "var" `box_image_contain`   "name" `contain`     "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_image_border`    "name" `border`      "widget" `select` "options" `~options_color_base_w`                       ))
  (partial "cms/widget" (dict "var" `box_image_inset`     "name" `inset`       "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_image_circle`    "name" `circle`      "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_image_gray`      "name" `gray`        "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_image_shade`     "name" `shade`       "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_image_no_video`  "<<" `box_image_src` "hint" ""))

  (partial "cms/widget" (dict "var" `box_button_pin`                "<<" `box_icon_id`      "label" $t.box_button_pin "name" `pin`             ))
  (partial "cms/widget" (dict "var" `box_button_link`               "name" `link`                                                              ))
  (partial "cms/widget" (dict "var" `box_button_label`              "name" `label`                                                             ))
  (partial "cms/widget" (dict "var" `box_button_anchor`             "name" `anchor`                                                            ))
  (partial "cms/widget" (dict "var" `box_button_lock`               "name" `lock`           "widget" `boolean`                                 ))
  (partial "cms/widget" (dict "var" `box_button_swap`               "name" `swap`           "widget" `boolean`                                 ))
  (partial "cms/widget" (dict "var" `box_button_ga4`                "name" `ga4`            "widget" `boolean`                                 ))
  (partial "cms/widget" (dict "var" `box_button_color`              "name" `button`         "widget" `select` "options" `~options_color_base`  ))
  (partial "cms/widget" (dict "var" `box_button_color_simple`       "<<" `box_button_color`                   "options" `~options_color_base_w`))
  (partial "cms/widget" (dict "var" `box_button_color_with_hide`    "<<" `box_button_color`                   "options" `~options_color_base_h`))
  (partial "cms/widget" (dict "var" `box_button_color_without_none` "<<" `box_button_color`                   "options" `~options_color_base_n`))

  (partial "cms/widget" (dict "var" `box_bg_color`          "name" `color`               "widget" `select` "options" `~options_color_bg`                   ))
  (partial "cms/widget" (dict "var" `box_bg_fade_color`     "name" `fade`                "widget" `select` "options" `~options_color_bg`                   ))
  (partial "cms/widget" (dict "var" `box_bg_fade_type`      "name" `fade_type`           "widget" `select` "options" `~options_fade`                       ))
  (partial "cms/widget" (dict "var" `box_bg_color_alpha`    "name" `color_alpha`         "widget" `number` "value_type" `float` "step" 0.01 "min" 0 "max" 1))
  (partial "cms/widget" (dict "var" `box_bg_image`          "<<" `box_image_src`         "name" `bi`       "label" $t.box_bg_image                         ))
  (partial "cms/widget" (dict "var" `box_bg_alpha`          "<<" `box_bg_color_alpha`    "name" `alpha`    "label" $t.box_bg_alpha                         ))
  (partial "cms/widget" (dict "var" `box_parallax_sections` "name" `parallax`            "widget" `select` "options" `~options_parallax_sect`              ))
  (partial "cms/widget" (dict "var" `box_parallax_boxes`    "<<" `box_parallax_sections`                   "options" `~options_parallax_box`               ))

  (partial "cms/widget" (dict "var" `box_container_bg_color`       "<<" `box_bg_color`       "name" `box_color`       "label" $t.box_container_bg_color      ))
  (partial "cms/widget" (dict "var" `box_container_bg_fade_color`  "<<" `box_bg_fade_color`  "name" `box_fade_color`  "label" $t.box_container_bg_fade_color ))
  (partial "cms/widget" (dict "var" `box_container_bg_fade_type`   "<<" `box_bg_fade_type`   "name" `box_fade_type`   "label" $t.box_container_bg_fade_type  ))
  (partial "cms/widget" (dict "var" `box_container_bg_color_alpha` "<<" `box_bg_color_alpha` "name" `box_color_alpha` "label" $t.box_container_bg_color_alpha))
  (partial "cms/widget" (dict "var" `box_container_bg_image`       "<<" `box_bg_image`       "name" `box_bg_image`    "label" $t.box_container_bg_image      ))
  (partial "cms/widget" (dict "var" `box_container_bg_alpha`       "<<" `box_bg_alpha`       "name" `box_alpha`       "label" $t.box_container_bg_alpha      ))
  (partial "cms/widget" (dict "var" `box_container_parallax`       "<<" `box_parallax_boxes` "name" `box_parallax`    "label" $t.box_container_parallax      ))

  (partial "cms/widget" (dict "var" `box_padding_top`    "name" `pt` "widget" `number`  "value_type" `float` "step" 0.5 "min" 0 "max" 20))
  (partial "cms/widget" (dict "var" `box_padding_bottom` "name" `pb` "widget" `number`  "value_type" `float` "step" 0.5 "min" 0 "max" 20))
  (partial "cms/widget" (dict "var" `box_padding_hide`   "name" `ph` "widget" `boolean`                                                 ))

  (partial "cms/widget" (dict "var" `box_size` "name" `size` "widget" `select` "options" `~options_sizes`))
  (partial "cms/widget" (dict "var" `box_full` "name" `full` "widget" `boolean`                          ))

  (partial "cms/widget" (dict "var" `box_divider_id`     "name" `div`   "widget" `select` "options" `~options_divider` "multiple" false "hint" (print $t.box_divider_id_hint " → [sansoul.pages.dev/divisores/](https://sansoul.pages.dev/divisores/)")))
  (partial "cms/widget" (dict "var" `box_divider_flip_x` "name" `div_x` "widget" `boolean` ))
  (partial "cms/widget" (dict "var" `box_divider_flip_y` "name" `div_y` "widget" `boolean` ))

  (partial "cms/widget" (dict "var" `box_order`        "name" `order`       "widget" `number` "value_type" `int`   "step" 1    "min" -20 "max" 20     ))
  (partial "cms/widget" (dict "var" `box_fit_vl`       "name" `fit`         "widget" `number` "value_type" `float` "step" 0.01 "min" 0   "max" 12     ))
  (partial "cms/widget" (dict "var" `box_fit_vs`       "name" `fit_vs`      "widget" `number` "value_type" `float` "step" 0.01 "min" 0   "max" 12     ))
  (partial "cms/widget" (dict "var" `box_grow`         "name" `grow`        "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_align_y_self` "name" `align_y`     "widget" `select` "options" `~options_align_y`                            ))
  (partial "cms/widget" (dict "var" `box_align`        "name" `align`       "widget" `select` "options" `~options_align`                              ))
  (partial "cms/widget" (dict "var" `box_align_vl`     "name" `align_vl`    "widget" `select` "options" `~options_align`                              ))
  (partial "cms/widget" (dict "var" `box_side`         "name" `side`        "widget" `select` "options" `~options_align`                              ))
  (partial "cms/widget" (dict "var" `box_rate`         "name" `rate`                          "pattern" (slice "^[\\d/]*$" $t.box_image_ratio_pattern)))
  (partial "cms/widget" (dict "var" `box_space`        "name" `space`       "widget" `number` "value_type" `float` "step" 0.01 "min" 0   "max" 20     ))
  (partial "cms/widget" (dict "var" `box_padding_vl`   "name" `pd`          "widget" `number` "value_type" `float` "step" 0.01 "min" 0   "max" 10     ))
  (partial "cms/widget" (dict "var" `box_padding_vs`   "name" `pd_vs`       "widget" `number` "value_type" `float` "step" 0.01 "min" 0   "max" 10     ))
  (partial "cms/widget" (dict "var" `box_hide_shadow`  "name" `hide_shadow` "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_hide_radius`  "name" `hide_radius` "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_pill`         "name" `pill`        "widget" `boolean`                                                        ))
  (partial "cms/widget" (dict "var" `box_card`         "name" `card`        "widget" `boolean`                                                        ))

  (partial "cms/widget" (dict "var" `box_if`   "name" `if`  ))
  (partial "cms/widget" (dict "var" `box_node` "name" `node`))
  (partial "cms/widget" (dict
    "var"     `box_params`
    "name"    `params`
    "widget"  `list`
    "summary" "{{fields.box}}"
    "fields"  (slice
      (partial "cms/widget" (dict "alt" `box_params_page`  "name" `page`  "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `box_params_box`   "name" `box`   "i18n" `duplicate`))
      (partial "cms/widget" (dict "alt" `box_params_value` "name" `value`                   ))
    )
  ))
  (partial "cms/widget" (dict "var" `box_tag`               "name" `tag`          "widget" `select`                                   "options" `~options_tags` ))
  (partial "cms/widget" (dict "var" `box_tags_label`        "name" `label`                           "label" $t.box_contact_label                               ))
  (partial "cms/widget" (dict "var" `box_tags_hide_hours`   "name" `hide_hours`   "widget" `boolean`                                                            ))
  (partial "cms/widget" (dict "var" `box_tags_hide_lastmod` "name" `hide_lastmod` "widget" `boolean`                                                            ))
  (partial "cms/widget" (dict "var" `box_tags_taxonomy`     "name" `tax`          "widget" `select`  "label" $t.box_tags_taxonomy_key "options" `~options_types`))
  (partial "cms/widget" (dict "var" `box_tags_param`        "name" `param`                                                                                      ))
  (partial "cms/widget" (dict
    "var"     `box_tags`
    "name"    `tags`
    "widget"  `list`
    "summary" "{{fields.type}}"
    "types"   (slice
      (partial "cms/widget" (dict "alt" `box_tags_type`         "name" `type`    "widget" `object` "fields" (slice `~box_icon_id`                                                )))
      (partial "cms/widget" (dict "alt" `box_tags_date`         "name" `date`    "widget" `object` "fields" (slice `~box_icon_id` `~box_tags_hide_hours` `~box_tags_hide_lastmod`)))
      (partial "cms/widget" (dict "alt" `box_tags_reading_time` "name" `time`    "widget" `object` "fields" (slice `~box_icon_id`                                                )))
      (partial "cms/widget" (dict "alt" `box_tags_words`        "name" `words`   "widget" `object` "fields" (slice `~box_icon_id`                                                )))
      (partial "cms/widget" (dict "alt" `box_tags_address`      "name" `address` "widget" `object` "fields" (slice `~box_icon_id`                                                )))
      (partial "cms/widget" (dict "alt" `box_tags_taxonomy`     "name" `tax`     "widget" `object` "fields" (slice `~box_icon_id` `~box_tags_taxonomy`                           )))
      (partial "cms/widget" (dict "alt" `box_tags_param`        "name" `param`   "widget" `object` "fields" (slice `~box_icon_id` `~box_tags_param`                              )))
      (partial "cms/widget" (dict "alt" `box_tags_custom`       "name" `custom`  "widget" `object` "fields" (slice `~box_icon_id` `~box_tags_label`                              )))
    )
  ))
  (partial "cms/widget" (dict "var" `box_sort`              "name" `sort`         "widget" `select`  "multiple" true                  "options" `~options_sort` ))

}}