{{ $fields := slice }}

{{ if hasPrefix .name "~" }}

  {{ $fields = .fields | append (dict "<<" (slice (dict "collapsed" true) .name)) }}

{{ else }}

  {{ $type        := .type | default "relation" }}
  {{ $value_type  := "" }}
  {{ if in (slice "int" "float") .type }}
    {{ $type       = "number" }}
    {{ $value_type = .type }}
  {{ end }}
  {{ $i18n  := "duplicate" }}
  {{ if in (slice "string" "text" "markdown" "image") .type }}
    {{ $i18n = true }}
  {{ end }}
  {{ $label := .label | default .name | default "single" }}
  {{ $hint  := .hint | default "" }}
  {{ if not .type }}
    {{ $page   := site.GetPage .name }}
    {{ $cms    := $page.Params.cms }}
    {{ $label   = $cms.singular }}
    {{ if .multiple }}
      {{ $label = $cms.title }}
    {{ end }}
    {{ $hint  = print "[" .t.types_params_relations_hint "](#/collections/" .name ")" }}
  {{ end }}

  {{ $field := dict
    "name"           .name
    "widget"         $type
    "required"       false
    "label"          ($label | default .name)
  }}

  {{ if eq $type "number" }}
    {{ $field = merge $field (dict
      "value_type"     $value_type
    ) }}
  {{ else if eq $type "markdown" }}
    {{ $field = merge $field (dict
      "show_raw"       true
    ) }}
  {{ else if eq $type "date" }}
    {{ $field = merge $field (dict
      "format"         `yyyy-MM-dd HH:mm:ss`
      "date_format"    `yyyy-MM-dd`
      "time_format"    `HH:mm`
    ) }}
  {{ else if eq $type "image" }}
  {{ else if eq $type "select" }}
    {{ $field = merge $field (dict
      "options"        .options
      "multiple"       .multiple
    ) }}
  {{ else if eq $type "relation" }}
    {{ $field = merge $field (dict
      "options_length" 100
      "collection"     .name
      "value_field"    "{{slug}}"
      "search_fields"  (slice "{{title}}")
      "display_fields" (slice "{{title}}")
      "multiple"       .multiple
    ) }}
  {{ else if in (slice "list" "object") $type }}
    {{ $fields_children := slice }}
    {{ range .list | default slice }}
      {{ $fields_children = partial "cms/config/collections-params" (merge . (dict "fields" $fields_children "t" $.t)) }}
    {{ end }}
    {{ $field = merge $field (dict
      "collapsed"      true
      "allow_add"      true
      "fields"         $fields_children
    ) }}
  {{ end }}

  {{ $fields = .fields | append $field }}

{{ end }}

{{ return $fields }}