{{ $t := partial "functions/i18n" . }}

{{ $colections := slice }}


{{/*  BLOG  */}}
{{ with .GetPage "blog" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_blog
    "label_singular"   $t.collection_blog_singular
    "name"             `blog`
    "description"      $t.collection_blog_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/blog`)
    "create"           true
    "slug"             "{{year}}-{{month}}-{{day}}-{{fields.slug}}"
    "preview_path"     (print site.Home.RelPermalink "/blog/{{fields.slug}}/")
    "summary"          "{{date | date('YYYY-MM-DD')}} 🔷 {{title}}"
    "sortable_fields"  (dict "fields" (slice "date" "lastmod" "commit_date" "title" "authors" "categories" "tags"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
        (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
        (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
        (dict "name" `author`    "label" $t.collection_authors_singular    "field" `author`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_CAT`
      `~P_TAG`
      `~P_AUT`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_DATE`
      `~P_LASTMOD`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  EVENTS  */}}
{{ with .GetPage "events" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_events
    "label_singular"   $t.collection_events_singular
    "name"             `events`
    "description"      $t.collection_events_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/events`)
    "create"           true
    "slug"             "{{year}}-{{month}}-{{day}}-{{fields.slug}}"
    "preview_path"     (print ((index .Pages 0).Permalink | replaceRE (print site.BaseURL `(.+?/).+`) `/$1`) "{{date_ini | date('YYYY/MM/DD')}}/{{fields.slug}}/")
    "summary"          "{{date_ini}} 🔷 {{date_end}} 🔷 {{title}}"
    "sortable_fields"  (dict "fields" (slice "date_ini" "date_end" "commit_date" "title" "authors" "categories" "tags"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
        (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
        (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
        (dict "name" `author`    "label" $t.collection_authors_singular    "field" `author`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_CAT`
      `~P_TAG`
      `~P_AUT`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_DATE_INI`
      `~P_DATE_END`
      `~P_ARTIST`
      `~P_LOCATION`
      `~P_ADDRESS`
      `~P_PRICE`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  PRODUCTS  */}}
{{ with .GetPage "products" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_products
    "label_singular"   $t.collection_products_singular
    "name"             `products`
    "description"      $t.collection_products_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/products`)
    "create"           true
    "slug"             "{{fields.slug}}"
    "preview_path"     (print site.Home.RelPermalink "/producto/{{fields.slug}}/")
    "summary"          "{{categories}} 🔷 {{title}}"
    "sortable_fields"  (dict "fields" (slice "commit_date" "title" "authors" "categories" "tags"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
        (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
        (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_PRICE`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_CAT`
      `~P_TAG`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  CATEGORIES  */}}
{{ with .GetPage "categories" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_categories
    "label_singular"   $t.collection_categories_singular
    "name"             `categories`
    "description"      $t.collection_categories_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/categories`)
    "create"           true
    "slug"             "{{fields.slug}}"
    "preview_path"     (print ((.GetPage "general").RelPermalink | replaceRE `^/(.+?/).+/$` `$1`) "{{fields.slug}}/")
    "summary"          "{{title}}"
    "sortable_fields"  (dict "fields" (slice "commit_date" "title"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
        (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
        (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_CAT`
      `~P_TAG`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  TAGS  */}}
{{ with .GetPage "tags" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_tags
    "label_singular"   $t.collection_tags_singular
    "name"             `tags`
    "description"      $t.collection_tags_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/tags`)
    "create"           true
    "slug"             "{{fields.slug}}"
    "preview_path"     (print ((.GetPage "general").RelPermalink | replaceRE `^/(.+?/).+/$` `$1`) "{{fields.slug}}/")
    "summary"          "{{title}}"
    "sortable_fields"  (dict "fields" (slice "commit_date" "title"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
        (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
        (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_CAT`
      `~P_TAG`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  AUTHORS  */}}
{{ with .GetPage "authors" }}
  {{ $colections = $colections | append (dict
    "label"            $t.collection_authors
    "label_singular"   $t.collection_authors_singular
    "name"             `authors`
    "description"      $t.collection_authors_description
    "identifier_field" `slug`
    "folder"           (print `content.` $.Lang `/authors`)
    "create"           true
    "slug"             "{{fields.slug}}"
    "preview_path"     (print ((.GetPage "admin").RelPermalink | replaceRE `^/(.+?/).+/$` `$1`) "{{fields.slug}}/")
    "summary"          "{{title}}"
    "sortable_fields"  (dict "fields" (slice "commit_date" "title"))
    "view_filters"     (dict
      "filters" (slice
        (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
        (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
        (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
      )
    )
    "view_groups"      (dict
      "groups" (slice
        (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
        (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
        (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
        (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
      )
    )
    "editor"           (dict "preview" false)
    "fields"           (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_SLUG`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      `~P_TOC`
      `~P_DRAFT`
      `~P_NOINDEX`
      `~P_JOB_TITLE`
      `~P_SOCIAL`
      `~P_TRANSLATIONKEY`
      `~P_BODY`
      `~P_TEMPLATE`
      `~P_CUSTOM`
    )
  ) }}
{{ end }}


{{/*  PAGES  */}}
{{ $colections = $colections | append (dict
  "label"            $t.collection_singles
  "label_singular"   $t.collection_singles_singular
  "name"             `pages`
  "description"      $t.collection_singles_description
  "identifier_field" `slug`
  "folder"           (print `content.` .Lang `/pages`)
  "create"           true
  "slug"             "{{fields.slug}}"
  "preview_path"     (print site.Home.RelPermalink "{{fields.slug}}/")
  "summary"          "{{title}}"
  "sortable_fields"  (dict "fields" (slice "commit_date" "title"))
  "view_filters"     (dict
    "filters" (slice
      (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
      (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
      (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
      (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
    )
  )
  "view_groups"      (dict
    "groups" (slice
      (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
      (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
      (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
      (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
      (dict "name" `category`  "label" $t.collection_categories_singular "field" `categories`)
      (dict "name" `tag`       "label" $t.collection_tags_singular       "field" `tags`)
      (dict "name" `author`    "label" $t.collection_authors_singular    "field" `author`)
    )
  )
  "editor"           (dict "preview" false )
  "fields"           (slice
    `~P_TITLE`
    `~P_TITLE_SEO`
    `~P_SLUG`
    `~P_DESCRIPTION`
    `~P_IMAGE`
    `~P_CAT`
    `~P_TAG`
    `~P_AUT`
    `~P_TOC`
    `~P_DRAFT`
    `~P_NOINDEX`
    `~P_TRANSLATIONKEY`
    `~P_BODY`
    `~P_TEMPLATE`
    `~P_CUSTOM`
  )
) }}


{{/*  PAGE  */}}
{{ $colections = $colections | append (dict
  "label"            $t.collection_single
  "label_singular"   $t.collection_single_singular
  "name"             `page`
  "description"      $t.collection_single_description
  "identifier_field" `slug`
  "folder"            (print `content.` .Lang)
  "create"            true
  "slug"             "{{fields.slug}}"
  "preview_path"      (print site.Home.RelPermalink "{{fields.slug}}/")
  "summary"           "{{title}}"
  "sortable_fields"   (dict "fields" (slice "commit_date" "title"))
  "view_filters"      (dict
    "filters" (slice
      (dict "name" `published` "label" $t.collection_filter_published "field" `draft`   "pattern" false)
      (dict "name" `drafts`    "label" $t.collection_filter_drafts    "field" `draft`   "pattern" true)
      (dict "name" `index`     "label" `Index`                        "field" `noindex` "pattern" false)
      (dict "name" `noindex`   "label" `NoIndex`                      "field" `noindex` "pattern" true)
    )
  )
  "view_groups"       (dict
    "groups" (slice
    (dict "name" `year`      "label" $t.collection_filter_year         "field" `date` "pattern" `^\d{4}`)
    (dict "name" `month`     "label" $t.collection_filter_month        "field" `date` "pattern" `^\d{4}-\d{2}`)
    (dict "name" `noindex`   "label" `NoIndex`                         "field" `noindex`)
    (dict "name" `drafts`    "label" $t.collection_filter_drafts       "field" `draft`)
    )
  )
  "editor"            (dict "preview" false )
  "fields"            (slice
    `~P_TITLE`
    `~P_TITLE_SEO`
    `~P_SLUG`
    `~P_DESCRIPTION`
    `~P_IMAGE`
    `~P_DRAFT`
    `~P_NOINDEX`
    `~P_TRANSLATIONKEY`
    `~BASE_BACKGROUND`
    `~BASE_MENU`
    `~BASE_CALLNOW`
    `~BASE_SECTION`
    `~BASE_MODAL`
    `~BASE_SECTIONS`
  )
) }}


{{/*  SECTIONS  */}}
{{ $colections = $colections | append (dict
  "label"            $t.collection_sections
  "label_singular"   $t.collection_sections_singular
  "name"             `sections`
  "description"      $t.collection_sections_description
  "identifier_field" `name`
  "extension"        `yml`
  "folder"           (print `content.` .Lang `/sections`)
  "create"           true
  "nested"           (dict "depth" 5)
  "slug"             "{{fields.name}}"
  "summary"          "{{dirname | upper}}{{dirname | ternary(' ➡️ ','')}}{{name}}"
  "sortable_fields"  (dict "fields" (slice "commit_date" "name" "id"))
  "editor"           (dict "preview" false)
  "fields"           `~SECTIONS_FIELDS`
) }}


{{/*  MODALS  */}}
{{ $colections = $colections | append (dict
  "label"            $t.collection_modals
  "label_singular"   $t.collection_modals_singular
  "name"             `modals`
  "description"      $t.collection_modals_description
  "identifier_field" `name`
  "extension"        `yml`
  "folder"           (print `content.` .Lang `/modals`)
  "create"           true
  "nested"           (dict "depth" 5)
  "slug"             "{{fields.name}}"
  "summary"          "{{dirname | upper}}{{dirname | ternary(' ➡️ ','')}}{{name}}"
  "sortable_fields"  (dict "fields" (slice "commit_date" "name" "id"))
  "editor"           (dict "preview" false)
  "fields"           `~MODALS_FIELDS`
) }}


{{/*  TEMPLATES  */}}
{{ $colections = $colections | append (dict
  "label"            $t.collection_templates
  "label_singular"   $t.collection_templates_singular
  "name"             `templates`
  "description"      $t.collection_templates_description
  "identifier_field" `name`
  "extension"        `yml`
  "folder"           `data/templates`
  "create"           true
  "nested"           (dict "depth" 5)
  "slug"             "{{fields.name}}"
  "summary"          "{{dirname | upper}}{{dirname | ternary(' ➡️ ','')}}{{name}}"
  "sortable_fields"  (dict "fields" (slice "commit_date" "name"))
  "editor"           (dict "preview" false)
  "fields"           (slice
    `~BOX_NAME`
    `~BASE_BACKGROUND`
    `~BASE_MENU_TEMPLATE`
    `~BASE_CALLNOW_TEMPLATE`
    `~BASE_SECTION`
    `~BASE_MODAL`
    `~BASE_SECTIONS`
  )
) }}


{{/*  SETTINGS  */}}
{{ $colections = $colections | append  (dict
  "label"           $t.collection_settings
  "name"            `settings`
  "sortable_fields" (dict "fields" slice)
  "editor"          (dict "preview" false)
  "files"           (slice
    (dict "file" `data/config.yml`     "extension" `yml` "label" $t.collection_settings_config    "name" `config`    "fields" `~SETTINGS_CONFIG`)
    (dict "file" `data/schema.yml`     "extension" `yml` "label" $t.collection_settings_schema    "name" `schema`    "fields" `~SETTINGS_SCHEMA`)
    (dict "file" `data/styles.yml`     "extension" `yml` "label" $t.collection_settings_styles    "name" `styles`    "fields" `~SETTINGS_STYLES`)
    (dict "file" `data/lists.yml`      "extension" `yml` "label" $t.collection_settings_lists     "name" `lists`     "fields" `~SETTINGS_LISTS`)
    (dict "file" `assets/redirects.md` "extension" `md`  "label" $t.collection_settings_redirects "name" `redirects` "fields"
      (slice (dict "label" $t.collection_settings_redirects "name" `body` "widget" `text` "required" false "hint" $t.collection_settings_redirects_hint))
    )
    (dict "file" `assets/robots.md`    "extension" `md`  "label" `Robots.txt`                          "name" `robots`    "fields"
      (slice (dict "label" `robots.txt`                           "name" `body` "widget" `text` "required" false "hint" $t.collection_settings_robots_hint))
    )
  )
) }}

{{ return $colections }}