
{{ $custom_params   := slice }}
{{ $custom_files    := slice }}
{{ $custom_contents := "" }}

{{ with site.GetPage "custom" }}

  {{ $default_params := slice
    "title"
    "title_seo"
    "slug"
    "description"
    "image"
    "draft"
    "noindex"
    "translationKey"
  }}

  {{ $custom_file := print "_index/custom.md" }}
  {{ $custom_files = $custom_files | append $custom_file }}
  {{ with .Params.template }}
    {{ with .sections }}
      {{ range . }}
        {{ $section_file := print "sections/" .file ".yml" }}
        {{ $custom_files  = $custom_files | append $section_file }}
        {{ range .modals }}
          {{ $modal_file  := print "modals/" . ".yml" }}
          {{ $custom_files = $custom_files | append $modal_file }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $lang := .Lang }}
  {{ range $custom_files }}
    {{ $file := print "content." $lang "/" . }}
    {{ if fileExists $file }}
      {{ with readFile $file }}
        {{ $custom_contents = print $custom_contents . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $all_params := $custom_contents | safeHTML | findRE `\{\{. param .*?\}\}` | uniq }}
  {{ range $all_params }}
    {{ $clean_param   := . | replaceRE `\{\{. param ([\w-]+).*?\}\}` `$1` }}
    {{ if not (in $default_params $clean_param) }}
      {{ $param_field   := dict "label" ($clean_param | humanize | title) "name" $clean_param "widget" `string` "required" false }}
      {{ $custom_params = $custom_params | append $param_field }}
    {{ end }}
  {{ end }}

{{ end }}

{{ return $custom_params }}
