{{ return dict
  "label"     (print .Site.Params.flag " " .Language.LanguageName)
  "name"      .Lang
  "widget"    `object`
  "collapsed" true
  "fields"    (slice
    (dict
      "label"     `Enlaces Permanentes`
      "name"      `permalinks`
      "widget"    `object`
      "collapsed" true
      "fields"    (slice
        (dict
          "label"     `Artículos Hijo`
          "name"      `page`
          "widget"    `object`
          "collapsed" true
          "fields"    (slice
            (dict "label" `Páginas`        "name" `pages`      "widget" `string`)
            (dict "label" `Blog`           "name" `blog`       "widget" `string`)
            (dict "label" `Eventos`        "name" `events`     "widget" `string`)
            (dict "label" `Productos`      "name" `products`   "widget" `string`)
            (dict "label" `Categorías`     "name" `categories` "widget" `string`)
            (dict "label" `Etiquetas`      "name" `tags`       "widget" `string`)
            (dict "label" `Autores`        "name" `authors`    "widget" `string`)
            (dict "label" `Personalizadas` "name" `custom`     "widget" `string`)
          )
        )
        (dict
          "label"     `Artículos Padre`
          "name"      `section`
          "widget"    `object`
          "collapsed" true
          "fields"    (slice
            (dict "label" `Páginas`        "name" `pages`      "widget" `string`)
            (dict "label" `Blog`           "name" `blog`       "widget" `string`)
            (dict "label" `Eventos`        "name" `events`     "widget" `string`)
            (dict "label" `Productos`      "name" `products`   "widget" `string`)
            (dict "label" `Categorías`     "name" `categories` "widget" `string`)
            (dict "label" `Etiquetas`      "name" `tags`       "widget" `string`)
            (dict "label" `Autores`        "name" `authors`    "widget" `string`)
            (dict "label" `Personalizadas` "name" `custom`     "widget" `string`)
          )
        )
      )
    )
  )
}}