{{ $lang_default := partial "functions/lang_default" . }}
{{ $t            := partial "functions/i18n-cms" . }}

{{/*  OPTIONS WITH TRANSLATE  */}}
{{ $options := dict }}
{{ range $k, $v := site.Data.options }}
  {{ $option_values := slice }}
  {{ range . }}
    {{ $label  := $t.default }}
    {{ if ne . "" }}
      {{ $label = index $t (print "option-" $k "-" .) | default . }}
    {{ end }}
    {{ $option_values = $option_values | append
      (dict
        "value" .
        "label" $label
      )
    }}
  {{ end }}
  {{ $options = merge $options (dict $k $option_values) }}
{{ end }}

{{ $options_lists := slice }}
{{ range site.Sections }}
  {{ if ne .Type "single" }}
    {{ $options_lists = $options_lists | append (dict "value" .Type "label" (print .Params.emoji " " .Title)) }}
  {{ end }}
{{ end }}
{{ $options_lists = $options_lists | append
  (dict "value" "related" "label" (print site.Data.utilities.defaults.related.emoji " " $t.types_related))
  (dict "value" "all"     "label" (print site.Data.utilities.defaults.all.emoji     " " $t.types_all))
}}

{{ $vars := slice
  (dict "&options_langs"         $options.langs)
  (dict "&options_langs_cms"     $options.langs_cms)
  (dict "&options_base"          $options.base)
  (dict "&options_hn"            $options.hn)
  (dict "&options_hs"            $options.hs)
  (dict "&options_align"         $options.align)
  (dict "&options_align_x"       $options.align_x)
  (dict "&options_align_y"       $options.align_y)
  (dict "&options_side"          $options.side)
  (dict "&options_sort"          $options.sort)
  (dict "&options_buttons_type"  $options.buttons_type)
  (dict "&options_menu_auto"     $options.menu_auto)
  (dict "&options_callnow"       $options.callnow)
  (dict "&options_direction"     $options.direction)
  (dict "&options_duo"           $options.duo)
  (dict "&options_pips"          $options.pips)
  (dict "&options_arrows"        $options.arrows)
  (dict "&options_color_base"    (where $options.color "value" "in" (slice "main" "alt" "cta" "light" "dark" "invert" "similar" "whatsapp" "none")))
  (dict "&options_color_base_w"  (where $options.color "value" "in" (slice "main" "alt" "cta" "light" "dark" "invert" "similar")))
  (dict "&options_color_base_n"  (where $options.color "value" "in" (slice "main" "alt" "cta" "light" "dark" "invert" "similar" "whatsapp" "hide")))
  (dict "&options_color_base_h"  (where $options.color "value" "in" (slice "main" "alt" "cta" "light" "dark" "invert" "similar" "whatsapp" "none" "hide")))
  (dict "&options_color_bg"      (where $options.color "value" "in" (slice "main" "main-light" "main-dark" "alt" "alt-light" "alt-dark" "cta" "cta-light" "cta-dark" "white" "light" "gray" "dark" "black" "invert" "similar" "hide")))
  (dict "&options_parallax_sect" (where $options.parallax "value" "ne" "box"))
  (dict "&options_parallax_box"  (where $options.parallax "value" "ne" "fix"))
  (dict "&options_fade"          $options.fade)
  (dict "&options_icon_type"     $options.icon_type)
  (dict "&options_icons_type"    $options.icons_type)
  (dict "&options_sizes"         $options.sizes)
  (dict "&options_sizes_n_fluid" (where $options.sizes "value" "ne" "fluid"))
  (dict "&options_gallery_types" $options.gallery_types)
  (dict "&options_tile"          $options.tile)
  (dict "&options_view_section"  (where $options.view "value" "in" (slice "all" "titles" "md" "menu" "icon" "image" "button" "bg" "container" "paddings" "size" "divider" "boxi" "other")))
  (dict "&options_view_sections" (where $options.view "value" "in" (slice "all" "titles" "md" "menu" "icon" "image" "button" "bg" "container" "paddings" "size" "divider" "boxi" "other" "list" "steps" "accordions" "gallery" "reviews" "contact" "form" "map" "gss" "boxes" "modals")))
  (dict "&options_view_modal"    (where $options.view "value" "in" (slice "all" "titles" "md" "menu" "icon" "image" "button" "bg" "paddings" "size" "boxi" "other")))
  (dict "&options_view_modals"   (where $options.view "value" "in" (slice "all" "titles" "md" "menu" "icon" "image" "button" "bg" "paddings" "size" "boxi" "other" "list" "steps" "accordions" "gallery" "reviews" "contact" "form" "map" "gss" "boxes")))
  (dict "&options_view_box"      (where $options.view "value" "in" (slice "all" "group" "titles" "md" "icon" "image" "button" "bg" "boxi" "other" "list")))
  (dict "&options_view_boxes"    (where $options.view "value" "in" (slice "all" "titles" "md" "icon" "image" "button" "bg" "boxi" "other" "list" "steps" "accordions" "gallery" "reviews" "contact" "form" "map" "gss" "boxes")))
  (dict "&options_tags"          $options.tags)
  (dict "&options_divider"       $options.div)
  (dict "&options_location_type" $options.location_type)
  (dict "&options_currency"      $options.currency)
  (dict "&options_lists"         $options_lists)
  (dict "&options_types"         (where $options_lists "value" "ne" "related"))
  (dict "&options_font_weight"   (slice 0 100 200 300 400 500 600 700 800 900))
  (dict "&options_boolean"       (slice
    (dict "value" nil "label" $t.default)
    (dict "value" "y" "label" $t.true)
    (dict "value" "n" "label" $t.false)
  ))
}}

{{ return $vars }}
