{{ $t := partial "functions/i18n" . }}

{{ return slice

  (dict "&P_TITLE"          (dict "name" `title`          "widget" `string`   "i18n" true        "default" ``     "label" $t.p_title          "hint" $t.p_title_hint))
  (dict "&P_TITLE_SEO"      (dict "name" `seo`      "widget" `string`   "i18n" true        "required" false "label" $t.p_seo      "hint" $t.p_seo_hint))
  (dict "&P_SLUG"           (dict "name" `slug`           "widget" `string`   "i18n" true        "default" ``     "label" $t.p_slug           "hint" $t.p_slug_hint           "pattern" (slice "^[a-z0-9-]+$" $t.pattern)))
  (dict "&P_DESCRIPTION"    (dict "name" `description`    "widget" `text`     "i18n" true        "required" false "label" $t.p_description    "hint" $t.p_description_hint))

  (dict "&P_IMAGE"          (dict "name" `image`          "widget" `image`    "i18n" `duplicate` "required" false "label" $t.p_image          "hint" $t.p_image_hint          "choose_url" true  "max_file_size" 512000000))

  (dict "&P_TOC"            (dict "name" `toc`            "widget" `boolean`  "i18n" `duplicate` "required" false "label" $t.p_toc            "hint" $t.p_toc_hint))
  (dict "&P_DRAFT"          (dict "name" `draft`          "widget" `boolean`  "i18n" true        "required" false "label" $t.p_draft          "hint" $t.p_draft_hint))
  (dict "&P_NOINDEX"        (dict "name" `noindex`        "widget" `boolean`  "i18n" true        "required" false "label" $t.p_noindex        "hint" $t.p_noindex_hint))

  (dict "&P_DATE"           (dict "name" `date`           "widget" `datetime` "i18n" true        "required" true  "label" $t.p_date                                           "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`))
  (dict "&P_LASTMOD"        (dict "name" `lastmod`        "widget" `datetime` "i18n" true        "required" false "label" $t.p_lastmod                                        "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`))

  (dict "&P_END"            (dict "name" `end`            "widget" `datetime` "i18n" `duplicate` "required" false "label" $t.p_end                                            "format" `yyyy-MM-dd HH:mm:ss` "date_format" `yyyy-MM-dd` "time_format" `HH:mm`))
  (dict "&P_LOCATION"       (dict "name" `location`       "widget" `string`   "i18n" true        "required" false "label" $t.p_location       "hint" $t.p_location_hint))
  (dict "&P_PLACE"          (dict "name" `place`          "widget" `string`   "i18n" true        "required" false "label" $t.p_place          "hint" $t.p_place_hint))
  (dict "&P_ARTISTS"        (dict
    "name"           `artists`
    "widget"         `list`
    "i18n"           true
    "required"       false
    "label"          $t.p_artists
    "label_singular" $t.p_artists_singular
    "collapsed"      false
    "summary"        "{{fields.link}}"
    "allow_add"      true
    "fields"         (slice
      (dict "name" `name`  "widget" `string`  "i18n" true        "required" false "label" $t.p_artists_singular  "hint" $t.p_artists_hint)
      (dict "name" `group` "widget" `boolean` "i18n" `duplicate` "required" false "label" $t.p_artists_group)
    )
  ))

  (dict "&P_PRICE"          (dict "<<" (slice (dict       "widget" `number`   "value_type" `float` "step" 0.01 "min" 0) `~BOX_PRICE`)))
  (dict "&P_SKU"            (dict "name" `sku`            "widget" `string`   "i18n" true        "required" false "label" `SKU`))

  (dict "&P_JOB_TITLE"      (dict "name" `job_title`      "widget" `string`   "i18n" true        "required" false "label" $t.p_job_title      "hint" $t.p_job_title_hint))

  (dict "&P_SERVICE_TYPES"         (dict
    "name"           `service_types`
    "widget"         `list`
    "i18n"           true
    "required"       false
    "label"          $t.p_service_types
    "label_singular" $t.p_service_types_singular
    "collapsed"      false
    "summary"        "{{fields.link}}"
    "allow_add"      true
    "fields"         (slice
      (dict "name" `service` "widget" `string` "i18n" true "required" false "label" $t.p_service_types_singular)
    )
  ))

  (dict "&P_BODY"           (dict "name" `body`           "widget" `markdown` "i18n" true        "required" false "label" $t.p_body           "hint" $t.p_body_hint           "show_raw" true))
  (dict "&P_TRANSLATIONKEY" (dict "name" `translationKey` "widget" `string`   "i18n" `duplicate` "required" false "label" $t.p_translationKey "hint" $t.p_translationKey_hint))

  (dict "&P_BASE"           (dict "name" `base`           "widget" `select`   "i18n" `duplicate` "required" false "label" $t.p_base           "hint" $t.p_base_hint           "options" `~OPTIONS_BASE`))

}}