{{/*  (dict "&P_DATE"           (dict "label" `Fecha`              "name" `date`        "widget" `datetime` "i18n" true                                           "format" `yyyy-MM-dd`          "date_format" `yyyy-MM-dd`          "time_format" false))  */}}
{{/*  (dict "&P_LASTMOD"        (dict "label" `Última Modifiación` "name" `lastmod`     "widget" `datetime` "i18n" true        "required" false "default" ``      "format" `yyyy-MM-dd`          "date_format" `yyyy-MM-dd`          "time_format" false    "hint" "Si no se indica nada, se tomará la fecha de modificación del archivo"))  */}}
{{/*  (dict "&P_DATE_INI"       (dict "label" `Fecha Inicial`      "name" `date_ini`    "widget" `datetime` "i18n" `duplicate`                                    "format" `yyyy-MM-ddTHH:mm:ss` "date_format" `yyyy-MM-ddTHH:mm:ss` "time_format" true))  */}}
{{/*  (dict "&P_DATE_END"       (dict "label" `Fecha Final`        "name" `date_end`    "widget" `datetime` "i18n" `duplicate` "required" false "default" ``      "format" `yyyy-MM-ddTHH:mm:ss` "date_format" `yyyy-MM-ddTHH:mm:ss` "time_format" true))  */}}

{{ return slice
  (dict "&P_TITLE"          (dict "label" (i18n "collection-p-title")       "name" `title`       "widget" `string`   "i18n" true                         "default" ``       "hint" (i18n "collection-p-title-hint")))
  (dict "&P_TITLE_SEO"      (dict "label" (i18n "collection-p-title_seo")   "name" `title_seo`   "widget" `string`   "i18n" true        "required" false "default" ``       "hint" (i18n "collection-p-title_seo-hint")))
  (dict "&P_SLUG"           (dict "label" (i18n "collection-p-slug")        "name" `slug`        "widget" `string`   "i18n" true        "required" false "default" ``       "hint" (i18n "collection-p-slug-hint")))
  (dict "&P_PRICE"          (dict "<<" (slice (dict "default" ``) `~PRICE`)))
  (dict "&P_DESCRIPTION"    (dict "label" (i18n "collection-p-description") "name" `description` "widget" `text`     "i18n" true        "required" false "default" ``       "hint" (i18n "collection-p-description-hint")))
  (dict "&P_IMAGE"          (dict "label" (i18n "collection-p-image")       "name" `image`       "widget" `image`    "i18n" `duplicate` "required" false "default" ``    "choose_url" true  "max_file_size" 512000000                            "hint" (i18n "collection-p-image-hint")))
  (dict "&P_CAT"            (dict "label" (i18n "collection-p-categories")  "name" `categories`  "widget" `relation` "i18n" `duplicate` "required" false "default" slice "options_length" 100 "collection" `categories` "value_field" "{{slug}}" "search_fields" (slice "{{title}}") "display_fields" (slice "{{title}}") "multiple" true  "hint" (i18n "collection-p-categories-hint")))
  (dict "&P_TAG"            (dict "label" (i18n "collection-p-tags")        "name" `tags`        "widget" `relation` "i18n" `duplicate` "required" false "default" slice "options_length" 100 "collection" `tags`       "value_field" "{{slug}}" "search_fields" (slice "{{title}}") "display_fields" (slice "{{title}}") "multiple" true  "hint" (i18n "collection-p-tags-hint")))
  (dict "&P_AUT"            (dict "label" (i18n "collection-p-author")      "name" `author`      "widget" `relation` "i18n" `duplicate` "required" false "default" ``    "options_length" 100 "collection" `authors`    "value_field" "{{slug}}" "search_fields" (slice "{{title}}") "display_fields" (slice "{{title}}") "multiple" false "hint" (i18n "collection-p-author-hint")))
  (dict "&P_TOC"            (dict "label" (i18n "collection-p-toc")         "name" `toc`         "widget" `boolean`  "i18n" `duplicate`                  "default" false    "hint" (i18n "collection-p-toc-hint")))
  (dict "&P_DRAFT"          (dict "label" (i18n "collection-p-draft")       "name" `draft`       "widget" `boolean`  "i18n" true                         "default" false    "hint" (i18n "collection-p-draft-hint")))
  (dict "&P_NOINDEX"        (dict "label" (i18n "collection-p-noindex")     "name" `noindex`     "widget" `boolean`  "i18n" true                         "default" false    "hint" (i18n "collection-p-noindex-hint")))
  (dict "&P_JOB_TITLE"      (dict "label" (i18n "collection-p-job_title")   "name" `job_title`   "widget" `string`   "i18n" true                         "default" ``       "hint" (i18n "collection-p-job_title-hint")))
  (dict "&P_SOCIAL"         (dict
    "label"          (i18n "collection-p-social")
    "label_singular" (i18n "collection-p-social-singular")
    "name"           `social`
    "widget"         `list`
    "collapsed"      false
    "summary"        "{{fields.link}}"
    "allow_add"      true
    "required"       false
    "fields"         (slice
      `~BUTTON_LINK`
      `~ICON_ID`
    )
  ))
  (dict "&P_DATE"                  (dict "label" (i18n "collection-p-date")           "name" `date`           "widget" `string`   "i18n" true        "required" false "default" ``    "hint" (i18n "collection-p-date-hint")))
  (dict "&P_LASTMOD"               (dict "label" (i18n "collection-p-lastmod")        "name" `lastmod`        "widget" `string`   "i18n" true        "required" false "default" ``    "hint" (i18n "collection-p-lastmod-hint")))
  (dict "&P_DATE_INI"              (dict "label" (i18n "collection-p-date_ini")       "name" `date_ini`       "widget" `string`   "i18n" `duplicate`                  "default" ``    "hint" (i18n "collection-p-date_ini-hint")))
  (dict "&P_DATE_END"              (dict "label" (i18n "collection-p-date_end")       "name" `date_end`       "widget" `string`   "i18n" `duplicate` "required" false "default" ``    "hint" (i18n "collection-p-date_end-hint")))
  (dict "&P_ARTIST"                (dict "label" (i18n "collection-p-artist")         "name" `artist`         "widget" `string`   "i18n" true        "required" false "default" ``    "hint" (i18n "collection-p-artist-hint")))
  (dict "&P_LOCATION"              (dict "label" (i18n "collection-p-location")       "name" `location`       "widget" `string`   "i18n" true        "required" false "default" ``    "hint" (i18n "collection-p-location-hint")))
  (dict "&P_ADDRESS"               (dict "label" (i18n "collection-p-address")        "name" `address`        "widget" `string`   "i18n" true        "required" false "default" ``    "hint" (i18n "collection-p-address-hint")))
  (dict "&P_BODY"                  (dict "label" (i18n "collection-p-body")           "name" `body`           "widget" `markdown` "i18n" true        "required" false "show_raw" true "hint" (i18n "collection-p-body-hint")))
  (dict "&P_TRANSLATIONKEY"        (dict "label" (i18n "collection-p-translationKey") "name" `translationKey` "widget" `string`   "i18n" `duplicate` "required" false "default" ``    "hint" (i18n "collection-p-translationKey-hint")))
  (dict "&P_TRANSLATIONKEY_HIDDEN" (dict "label" (i18n "collection-p-translationKey") "name" `translationKey` "widget" `hidden` "required" false))
  (dict "&P_TEMPLATE"              (dict "label" (i18n "collection-p-template")       "name" `template`       "widget" `relation` "i18n" `duplicate` "required" false "options_length" 100 "collection" `categories` "value_field" "{{slug}}" "search_fields" (slice "{{title}}") "display_fields" (slice "{{title}}") "hint" (i18n "collection-p-template-hint")))
  (dict "&P_BASE"                  (dict
    "label"     (i18n "collection-p-base")
    "name"      `base`
    "widget"    `object`
    "collapsed" true
    "required"  false
    "hint"      (i18n "collection-p-base-hint")
    "fields"    (slice
      `~BASE_HEADER_ARTICLE`
      `~BASE_BACKGROUND`
      `~BASE_MENU`
      `~BASE_CALLNOW`
      `~BASE_SECTION`
      `~BASE_ALTERNATE`
      `~BASE_MODALS`
      `~BASE_SECTIONS`
    )
  ))
  (dict "&P_CUSTOM" (dict
    "label"       (i18n "collection-p-custom")
    "name"        `custom`
    "widget"      `keyvalue`
    "key_label"   (i18n "collection-p-custom-key_label")
    "value_label" (i18n "collection-p-custom-value_label")
    "i18n"        true
    "required"    false
    "hint"        (i18n "collection-p-custom-hint")
  ))
}}