{{ return dict "&SECTION_MENU" (dict
  "label"     `Menú`
  "name"      `menu`
  "widget"    `object`
  "collapsed" true
  "required"  false
  "fields"    (slice
    (dict "label" `Logo`                  "name" `logo`         "widget" `image`   "required" false "max_file_size" 512000000)
    (dict "label" `Ocultar`               "name" `hide`         "widget" `boolean` "required" false)
    (dict "label" `Ocultar Pegado`        "name" `hide_sticky`  "widget" `boolean` "required" false "hint" "Deja el menú accesible solamente mediante botón de hamburguesa")
    (dict "label" `Ocultar Modales`       "name" `hide_modals`  "widget" `boolean` "required" false "hint" "Ocultar enlaces hacia secciones de tipo modal como subelementos desplegables (recomendado si hay muchos)")
    (dict "label" `Ocultar Enlaces Ancla` "name" `hide_anchors` "widget" `boolean` "required" false "hint" "Oculta todos los enlaces que llevan a cada sección")
    (dict
      "label"     `Elementos del Menú`
      "name"      `items`
      "widget"    `object`
      "collapsed" true
      "required"  false
      "fields"    .
    )
  )
) }}