{{ return dict "&SECTION_SECTIONS" (dict
  "label"          `Secciones`
  "label_singular" `Sección`
  "name"           `sections`
  "widget"         `list`
  "collapsed"      true
  "summary"        "{{fields.file}}"
  "allow_add"      true
  "required"       false
  "fields"         (slice
    (dict
      "label"          `Archivo`
      "name"           `file`
      "widget"         `relation`
      "options_length" 100
      "collection"     (print `sections-` .Lang)
      "value_field"    "{{slug}}"
      "search_fields"  (slice "{{slug}}")
      "display_fields" (slice "{{slug}}")
      "required"       false
      "hint"           (print "Indica una [sección previamente creada](#/collections/sections-" .Lang ")")
    )
    (dict
      "label"          `Ventanas Modales`
      "label_singular" `Ventana Modal`
      "name"           `modals`
      "widget"         `list`
      "collapsed"      true
      "summary"        "{{fields.file}}"
      "allow_add"      true
      "required"       false
      "hint"          "Son secciones representadas como ventanas modales ocultas, a las cuales hay que enlazar tipo ancla (con un '#' delante del ID, **ejemplo**: '*#reparaciones-mantenimiento*') para que se desplieguen; Tener en cuenta que en el menú aparecerán como subelementos de la sección en cuestión"
      "fields"         (slice
        (dict
          "label"          `Archivo`
          "name"           `file`
          "widget"         `relation`
          "options_length" 100
          "collection"     (print `modals-` .Lang)
          "value_field"    "{{slug}}"
          "search_fields"  (slice "{{slug}}")
          "display_fields" (slice "{{slug}}")
          "required"       false
          "hint"           (print "Indica una [modal previamente creada](#/collections/modals-" .Lang ")")
        )
      )
    )
  )
) }}