{{ $t := partial "functions/i18n-cms" . }}

{{/*  BOXES FIELDS BY GROUPS  */}}

{{ $group := slice
  `~box_cols_vl`
  `~box_cols_vs`
  `~box_gap_vl`
  `~box_gap_vs`
  `~box_gap_ny`
  `~box_to`
  `~box_duo`
  `~box_sides`
  `~box_group_radius`
  `~box_slider_active`
  `~box_slider_time`
  `~box_slider_pips`
  `~box_slider_arrows`
  `~box_align_x`
  `~box_align_y`
}}
{{ $titles := slice
  `~box_title`
  `~box_hanchor`
  `~box_subtitle`
  `~box_price`
  `~box_hs`
  `~box_hn`
  `~box_caps`
  `~box_line`
}}
{{ $md := slice
  `~box_md`
  `~box_md_align`
  `~box_md_align_vl`
  `~box_md_sm`
  `~box_md_caps`
  `~box_md_line`
  `~box_md_index`
  `~box_md_nav`
  `~box_md_border`
}}
{{ $titles_style := slice
  `~box_hs`
  `~box_hn`
  `~box_caps`
  `~box_line`
}}
{{ $md_style := slice
  `~box_md_align`
  `~box_md_align_vl`
  `~box_md_sm`
  `~box_md_caps`
  `~box_md_line`
  `~box_md_index`
  `~box_md_nav`
  `~box_md_border`
}}
{{ $menu := slice
  `~box_menu_label`
  `~box_menu_button`
  `~box_menu_swap`
}}
{{ $menu_style := slice
  `~box_menu_button`
  `~box_menu_swap`
}}
{{ $icon := slice
  `~box_icon_id`
  `~box_icon_type`
  `~box_icon_size`
  `~box_icon_color`
}}
{{ $image := slice
  `~box_image_src`
  `~box_image_hover`
  `~box_image_alt`
  `~box_image_hover_alt`
  `~box_image_ratio`
  `~box_image_contain`
  `~box_image_border`
  `~box_image_inset`
  `~box_image_circle`
  `~box_image_gray`
  `~box_image_shade`
}}
{{ $button := slice
  `~box_button_pin`
  `~box_button_link`
  `~box_button_label`
  `~box_button_anchor`
  `~box_button_lock`
  `~box_button_swap`
  `~box_button_ga4`
  `~box_button_color_with_hide`
}}
{{ $bg_boxes := slice
  `~box_bg_color`
  `~box_bg_fade_color`
  `~box_bg_fade_type`
  `~box_bg_color_alpha`
  `~box_bg_image`
  `~box_bg_alpha`
  `~box_parallax_boxes`
}}
{{ $bg_sections := slice
  `~box_bg_color`
  `~box_bg_fade_color`
  `~box_bg_fade_type`
  `~box_bg_color_alpha`
  `~box_bg_image`
  `~box_bg_alpha`
  `~box_parallax_sections`
  `~box_container_bg_color`
  `~box_container_bg_fade_color`
  `~box_container_bg_fade_type`
  `~box_container_bg_color_alpha`
  `~box_container_bg_image`
  `~box_container_bg_alpha`
  `~box_container_parallax`
}}
{{ $padding := slice
  `~box_padding_top`
  `~box_padding_bottom`
  `~box_padding_hide`
}}
{{ $size := slice
  `~box_size`
  `~box_full`
}}
{{ $size_modal := slice
  `~box_size`
}}
{{ $divider := slice
  `~box_divider_id`
  `~box_divider_flip_x`
  `~box_divider_flip_y`
}}
{{ $boxi_boxes := slice
  `~box_order`
  `~box_fit_vl`
  `~box_fit_vs`
  `~box_grow`
  `~box_align_y_self`
}}
{{ $boxi := slice
  `~box_align`
  `~box_align_vl`
  `~box_side`
  `~box_rate`
  `~box_space`
  `~box_padding_vl`
  `~box_padding_vs`
  `~box_hide_shadow`
  `~box_hide_radius`
  `~box_pill`
  `~box_card`
}}
{{ $other := slice
  `~box_if`
  `~box_node`
  `~box_params`
  `~box_tag`
  `~box_tags`
  `~box_sort`
}}
{{ $blocks := slice
  `~box_list`
  `~box_step`
  `~box_steps`
  `~box_gallery`
  `~box_gallery_images`
  `~box_gallery_limages`
  `~box_accordion`
  `~box_accordions`
  `~box_gss`
  `~box_gss_sheet`
  `~box_review`
  `~box_reviews`
  `~box_contact`
  `~box_dots`
  `~box_form`
  `~box_inputs`
  `~box_map`
  `~box_geos`
  `~box_zoom`
}}


{{/*  BOXES FIELDS  */}}

{{ $boxes_fields := slice
  `~box_view_boxes`
  `~box_id`
  | append $titles
  | append $md
  | append $icon
  | append $image
  | append $button
  | append $bg_boxes
  | append $boxi_boxes
  | append $boxi
  | append $other
  | append `~box`
  | append $blocks
}}


{{/*  FINISH  */}}

{{ return slice
  (dict "&box_fields" (slice
    `~box_view_box`
    | append $group
    | append $titles
    | append $md
    | append $icon
    | append $image
    | append $button
    | append $bg_boxes
    | append $boxi
    | append $other
  ))
  (partial "cms/widget" (dict
    "var"    `box`
    "alt"    `box_box`
    "name"   `box`
    "widget" `object`
    "fields" `~box_fields`
  ))


  (partial "cms/widget" (dict
    "var"     `boxes_last`
    "alt"     `box_boxes`
    "name"    `boxes`
    "widget"  `list`
    "summary" "{{fields.title}}"
    "fields"  $boxes_fields
  ))
  (partial "cms/widget" (dict "var" `boxes_2` "<<" `boxes_last` "fields" ($boxes_fields | append `~boxes_last`)))
  (partial "cms/widget" (dict "var" `boxes`   "<<" `boxes_2`    "fields" ($boxes_fields | append `~boxes_last`)))


  (partial "cms/widget" (dict
    "var"    `modal`
    "name"   `modal`
    "widget" `object`
    "fields" (slice
      `~box_view_modal`
      | append $titles_style
      | append $md_style
      | append $menu_style
      | append $icon
      | append $image
      | append $button
      | append $bg_sections
      | append $padding
      | append $size_modal
      | append $boxi_boxes
      | append $boxi
      | append $other
    )
  ))

  (partial "cms/widget" (dict
    "var"     `modals`
    "name"    `modals`
    "widget"  `list`
    "summary" "{{fields.file}}"
    "fields"  (slice
      `~box_view_modals`
      `~box_id`
      | append $titles
      | append $md
      | append $menu
      | append $icon
      | append $image
      | append $button
      | append $bg_sections
      | append $padding
      | append $size_modal
      | append $boxi_boxes
      | append $boxi
      | append $other
      | append `~box`
      | append $blocks
      | append `~boxes`
    )
  ))


  (dict "&section_fields" (slice
    `~box_view_section`
    | append $titles_style
    | append $md_style
    | append $menu_style
    | append $icon
    | append $image
    | append $button
    | append $bg_sections
    | append $padding
    | append $size
    | append $divider
    | append $boxi_boxes
    | append $boxi
    | append $other
  ))
  (dict "&sections_fields" (slice
    `~box_name`
    `~box_view_sections`
    `~box_id`
    | append $titles
    | append $md
    | append $menu
    | append $icon
    | append $image
    | append $button
    | append $bg_sections
    | append $padding
    | append $size
    | append $divider
    | append $boxi_boxes
    | append $boxi
    | append $other
    | append `~box`
    | append $blocks
    | append `~boxes`
    | append `~modal`
    | append `~modals`
  ))

}}