{{ $t   := partial "functions/i18n-cms" . }}
{{ $def := site.Data.utilities.defaults }}
{{ return slice
  (dict "file" "content/values.{{locale}}.yml" "extension" `yml` "name" `values`    "label" $t.values    "icon" $def.values.icon    "editor" (dict "preview" false) "fields" `~values_fields`   "i18n" true)
  (dict "divider" true)
  (dict "file" `data/config.yml`               "extension" `yml` "name" `config`    "label" $t.config    "icon" $def.config.icon    "editor" (dict "preview" false) "fields" `~settings_config`)
  (dict "file" `data/styles.yml`               "extension" `yml` "name" `styles`    "label" $t.styles    "icon" $def.styles.icon    "editor" (dict "preview" false) "fields" `~settings_styles`)
  (dict "file" `data/remote.yml`               "extension" `yml` "name" `remote`    "label" $t.remote    "icon" $def.remote.icon    "editor" (dict "preview" false) "fields" `~settings_remote`)
  (dict "file" `assets/redirects.md`           "extension" `md`  "name" `redirects` "label" $t.redirects "icon" $def.redirects.icon "editor" (dict "preview" false) "fields" (slice (partial "cms/widget" (dict "name" `body` "widget" `text` "alt" `redirects`                         ))))
  (dict "file" `assets/robots.md`              "extension" `md`  "name" `robots`    "label" `Robots.txt` "icon" $def.robots.icon    "editor" (dict "preview" false) "fields" (slice (partial "cms/widget" (dict "name" `body` "widget" `text` "label" `robots.txt` "hint" $t.robots_hint))))
}}