{{ $t := partial "functions/i18n-cms" . }}

{{ $colections := slice }}


{{/*  BACKGROUND  */}}
{{ $colections = $colections | append
  (partial "cms/widget" (dict
    "var"    `template_background`
    "name"   `bg`
    "widget" `object`
    "fields" (slice
      `~box_bg_color`
      `~box_bg_fade_color`
      `~box_bg_fade_type`
      `~box_bg_image`
      `~box_bg_alpha`
      `~box_parallax_sections`
    )
  ))
}}


{{/*  MENU  */}}
{{ $colections = $colections | append
  (partial "cms/widget" (dict "var" `template_menu_hide`          "name" `hide`          "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_logo`          "name" `logo`          "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_sticky`        "name" `sticky`        "widget" `select`  "options" `~options_sizes`                 ))
  (partial "cms/widget" (dict "var" `template_menu_logo_sticky`   "name" `logo_sticky`   "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_logo_align`    "name" `logo_align`    "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_size`          "name" `size`          "widget" `select`  "options" `~options_sizes` "alt" `box_size`))
  (partial "cms/widget" (dict "var" `template_menu_transparent`   "name" `transparent`   "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_hide_icons`    "name" `hide_icons`    "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_hide_custom`   "name" `hide_custom`   "widget" `boolean`                                            ))
  (partial "cms/widget" (dict "var" `template_menu_auto`          "name" `auto`          "widget" `select`  "options" `~options_menu_auto`             ))
  (partial "cms/widget" (dict
    "var"    `template_menu`
    "name"   `menu`
    "widget" `object`
    "fields" (slice
      `~template_menu_hide`
      `~template_menu_logo`
      `~template_menu_sticky`
      `~template_menu_logo_sticky`
      `~template_menu_logo_align`
      `~template_menu_size`
      `~template_menu_transparent`
      `~box_bg_color`
      `~box_bg_fade_color`
      `~box_bg_fade_type`
      `~template_menu_hide_icons`
      `~template_menu_hide_custom`
      `~template_menu_auto`
    )
  ))
}}


{{/*  CALLNOW  */}}
{{ $colections = $colections | append
  (partial "cms/widget" (dict "var" `template_callnow` "name" `callnow` "widget" `select` "options" `~options_callnow`))
}}


{{/*  SECTIONS  */}}
{{ $colections = $colections | append
  (partial "cms/widget" (dict
    "var"    `template_section`
    "name"   `section`
    "widget" `list`
    "fields" `~section_fields`
  ))
  (partial "cms/widget" (dict
    "var"     `template_sections`
    "name"    `sections`
    "widget"  `list`
    "summary" "{{fields.file}}"
    "fields"  (slice
      (partial "cms/widget" (dict
        "alt"        `template_sections_file`
        "name"       `file`
        "widget"     `relation`
        "hint"       (print "[" $t.template_sections_file_hint "](#/collections/section)")
        "collection" `section`
      ))
    )
  ))
}}


{{/*  LISTS  */}}
{{ $colections = $colections | append
  (partial "cms/widget" (dict
    "var"    `template_list`
    "name"   `list`
    "widget" `object`
    "fields" `~box_fields`
  ))
  (partial "cms/widget" (dict
    "var"    `template_related`
    "name"   `related`
    "widget" `object`
    "fields" `~box_fields`
  ))
}}


{{ return $colections }}