{{ $t := partial "functions/i18n-cms" . }}

{{ $widgets_last := apply site.Data.utilities.widgets "dict" "value" "." }}
{{ $widgets_last  = where $widgets_last "value" "not in" (slice "object" "list") }}
{{ $widgets_last  = apply $widgets_last "index" "." "value" }}
{{ $type_langs   := slice }}
{{ range site.Languages }}
  {{ $label      := print $t.types_lang " " (index $t (print "option-langs-" .Lang)) }}
  {{ $type_lang  := partial "cms/widget" (dict "<<" `types_items` "name" .Lang "label" $label) }}
  {{ $type_langs  = $type_langs | append $type_lang }}
{{ end }}
{{ $type_langs_fields := slice
  `~types_title`
  `~types_weight`
  `~types_base`
  `~types_hint`
  `~box_icon_id`
  `~types_emoji`
  `~types_disabled`
  `~page_noindex`
  `~page_noindex_parent`
  `~types_related`
  `~types_taxonomy_of`
  `~types_params`
  `~types_template`
}}
{{ $params_fields := slice
  `~types_params_var`
  `~types_params_name`
  `~types_params_label`
  `~types_params_hint`
  `~types_params_widget`
  `~types_params_options`
  `~types_params_default`
  `~types_params_multiple`
  `~types_params_schema`
}}
{{ $params_fields_last := slice
  `~types_params_var`
  `~types_params_name`
  `~types_params_label`
  `~types_params_hint`
  `~types_params_widget_last`
  `~types_params_options`
  `~types_params_default`
  `~types_params_multiple`
}}


{{ return slice

  (partial "cms/widget" (dict "var" `types_params_var`      "name" `var`                                                              ))
  (partial "cms/widget" (dict "var" `types_params_name`     "name" `name`                                                             ))
  (partial "cms/widget" (dict "var" `types_params_label`    "name" `label`                                                            ))
  (partial "cms/widget" (dict "var" `types_params_hint`     "name" `hint`                                                             ))
  (partial "cms/widget" (dict "var" `types_params_widget`   "name" `widget`   "widget" `select`  "options" site.Data.utilities.widgets))
  (partial "cms/widget" (dict "var" `types_params_multiple` "name" `multiple` "widget" `boolean`                                      ))
  (partial "cms/widget" (dict "var" `types_params_schema`   "name" `schema`                                                           ))
  (partial "cms/widget" (dict
    "var"     `types_params_options`
    "name"    `options`
    "widget"  `list`
    "summary" "{{fields.label}}"
    "fields"  (slice
      (partial "cms/widget" (dict "alt" `types_params_options_label` "name" `label`))
      (partial "cms/widget" (dict "alt" `types_params_options_value` "name" `value`))
    )
  ))
  (partial "cms/widget" (dict "var" `types_params_default` "name" `default`))
  (partial "cms/widget" (dict
    "var"     `types_params_pages`
    "name"    `pages`
    "widget"  `list`
    "summary" "{{fields.page}}"
    "field"   (partial "cms/widget" (dict "label" $t.types_params_pages_singular "name" `page`))
  ))

  (partial "cms/widget" (dict "var" `types_params_widget_last` "<<" `types_params_widget` "options" $widgets_last))
  (partial "cms/widget" (dict
    "var"     `types_params_last`
    "name"    `params`
    "widget"  `list`
    "summary" "{{fields.label}} ({{fields.name}})"
    "fields"  $params_fields_last
  ))
  (partial "cms/widget" (dict "var" `types_params_3` "<<" `types_params_last` "fields" ($params_fields | append `~types_params_last`)))
  (partial "cms/widget" (dict "var" `types_params_2` "<<" `types_params_3`    "fields" ($params_fields | append `~types_params_3`   )))
  (partial "cms/widget" (dict
    "var"     `types_params`
    "name"    `params`
    "widget"  `list`
    "summary" "{{fields.label}} ({{fields.name}})"
    "fields"  ($params_fields | append `~types_params_pages` | append `~types_params_2`)
  ))

  (partial "cms/widget" (dict
    "var"    `types_items`
    "name"   `lang`
    "widget" `object`
    "i18n"   true
    "fields" (slice
      (partial "cms/widget" (dict "alt" `types_permalinks`  "name" `permalinks`                       ))
      (partial "cms/widget" (dict "<<" `page_slug`          "required" false "hint" $t.types_slug_hint))
      (partial "cms/widget" (dict "label" $t.types_singular "name" `singular`                         ))
      (partial "cms/widget" (dict "<<" `page_title`         "required" false                          ))
      `~page_image`
      `~page_title_seo`
      `~page_description`
      (partial "cms/widget" (dict "<<" `page_body`           "name" `md`                              ))
    )
  ))

  (partial "cms/widget" (dict "var" `types_title`    "name" `title`                      "hint" (print $t.types_title_hint " → **article, new, blog, event, product, category, brand, supplier, manufacturer, author, org, service, page, section**")))
  (partial "cms/widget" (dict "var" `types_weight`   "name" `weight`   "widget" `int`    "min" 0                  ))
  (partial "cms/widget" (dict "var" `types_base`     "name" `base`     "widget" `select` "options" `~options_base`))
  (partial "cms/widget" (dict "var" `types_emoji`    "name" `emoji`                                               ))
  (partial "cms/widget" (dict "var" `types_disabled` "name" `disabled` "widget" `boolean`                         ))
  (partial "cms/widget" (dict "var" `types_comments` "name" `comments` "widget" `boolean`                         ))
  (partial "cms/widget" (dict "var" `types_related`  "name" `related`  "widget" `boolean`                         ))
  (partial "cms/widget" (dict "var" `types_hint`     "name" `hint`                                                ))
  (partial "cms/widget" (dict
    "var"     `types_taxonomy_of`
    "name"    `tax_of`
    "widget"  `list`
    "summary" "{{fields.lang}}"
    "fields"  (slice
      `~types_params_name`
      `~types_params_multiple`
      (partial "cms/widget" (dict "alt" `types_breadcrumbs` "name" `breadcrumbs`))
      `~types_params_schema`
    )
  ))
  (partial "cms/widget" (dict
    "var"       `types_template`
    "name"      `tpl`
    "widget"    `object`
    "fields"    (slice
      `~template_background`
      `~template_menu`
      `~template_callnow`
      `~template_section`
      `~template_sections`
      `~template_list`
      `~template_related`
    )
  ))

  (dict "&types_fields" ($type_langs_fields | append $type_langs))

}}