{{ $types_files := slice }}
{{ range slice
  "pages"
  "blog"
  "events"
  "products"
  "categories"
  "tags"
  "authors"
}}
  {{ $types_files = $types_files | append (dict
    "file"      (print "content/_index/" . ".md")
    "extension" `md`
    "label"     (i18n .)
    "name"      (print "types-" .)
    "fields"    (slice
      `~P_TITLE`
      `~P_TITLE_SEO`
      `~P_DESCRIPTION`
      `~P_IMAGE`
      | append
      (cond (eq "pages" .) slice `~P_DRAFT`)
      | append
      `~P_NOINDEX`
      `~P_TRANSLATIONKEY_HIDDEN`
      `~P_BODY`
      | append
      (cond (ne "custom" .)
        slice
        (dict
          "label"     `Plantilla`
          "name"      `template`
          "widget"    `object`
          "collapsed" true
          "required"  false
          "hint"      `Estas opciones y estructuras se aplicarán a cada una de las páginas personalizadas.`
          "fields"    (slice
            `~SECTION_HEADER_ARTICLE`
            `~SECTION_MENU`
            `~SECTIONS_DESIGN_GENERAL`
            `~SECTIONS_DESIGN_ALTERNATE`
            `~SECTIONS_DESIGN_MODALS`
            `~SECTION_SECTIONS`
          )
        )
      )
    )
    | merge (cond (ne "custom" .) dict (dict "hint" `Estas opciones y estructuras se aplicarán a cada una de las páginas personalizadas.`))
  ) }}
{{ end }}
{{ return $types_files }}