{{ return slice
  (dict "&MENU_ITEM_FIELDS" (slice
    `~BUTTON_LINK`
    `~ICON_ID`
    `~BUTTON_LABEL`
    `~BUTTON_ANCHOR`
    `~BUTTON_OFUSCATE`
    `~BUTTON_FONT_ALT`
    `~BUTTON_COLOR`
    (dict
      "label"          `Subelementos`
      "label_singular" `Subelemento`
      "name"           `items`
      "widget"         `list`
      "collapsed"      true
      "summary"        "Subelemento: {{fields.label}}"
      "allow_add"      true
      "required"       false
      "fields"         (slice
        `~BUTTON_LINK`
        `~ICON_ID`
        `~BUTTON_LABEL`
        `~BUTTON_ANCHOR`
        `~BUTTON_OFUSCATE`
        `~BUTTON_FONT_ALT`
        `~BUTTON_COLOR`
      )
    )
  ))
  (dict "&MENU_ITEMS_NORMAL"  (dict "label" `Elementos Manuales Normales`     "name" `normal` "label_singular" `Elemento` "widget" `list` "collapsed" true "summary" "Elemento: {{fields.label}}" "allow_add" true "required" false "fields" `~MENU_ITEM_FIELDS` "hint" "Éstos elementos aparecerán en todos los menús"))
  (dict "&MENU_ITEMS_MORE"    (dict "label" `Elementos Manuales al Desplegar` "name" `more`   "label_singular" `Elemento` "widget" `list` "collapsed" true "summary" "Elemento: {{fields.label}}" "allow_add" true "required" false "fields" `~MENU_ITEM_FIELDS` "hint" "Éstos elementos aparecerán en todos los menús como subelementos desplegables en 'Más'"))
  (dict "&MENU_ITEMS_CALLNOW" (dict
    "label"          `Botones Esquina`
    "label_singular" `Botón Esquina`
    "name"           `callnow_buttons`
    "widget"         `list`
    "summary"        "Botón Esquina: {{fields.label}}"
    "collapsed"      true
    "allow_add"      true
    "required"       false
    "types"     (slice
      (dict "label" `Teléfono` "name" `phone`    "widget" `object` "fields" (slice `~CONTACT_LABEL_PHONE` `~BUTTON_COLOR` `~ICON_ID`))
      (dict "label" `WhatsApp` "name" `whatsapp` "widget" `object` "fields" (slice `~CONTACT_LABEL_PHONE` `~BUTTON_COLOR`))
      (dict
        "label"  `Personalizado`
        "name"   `custom`
        "widget" `object`
        "fields" (slice
          `~BUTTON_LINK`
          `~ICON_ID`
          `~CONTACT_LABEL`
          `~BUTTON_OFUSCATE`
          `~BUTTON_COLOR_WITHOUT_NONE`
          `~BUTTON_GA4`
        )
      )
    )
  ))
}}