{{ return slice
  (dict "&DATA_ARTICLES_COMMON" (dict
    "label"     `📄 Listas`
    "name"      `_`
    "widget"    `object`
    "collapsed" true
    "fields"    (slice
      `~CONTAINER_SIZE`
      `~COLUMNS_MAX`
      `~COLUMNS_MIN`
      `~COLUMNS_GAP`
      `~TITLE_SIZE`
      `~UPPERCASE`
      `~UNDERLINE`
      `~ICON_ID`
      `~ICON_TYPE`
      `~ICON_SIZE`
      `~ICON_COLOR`
      `~IMAGE_SRC`
      `~IMAGE_SRC_HOVER`
      `~IMAGE_RATIO`
      `~IMAGE_CONTAIN`
      `~IMAGE_BORDER`
      `~IMAGE_INSET`
      `~IMAGE_GRAYSCALE`
      `~ALIGN`
      `~ALIGN_Y`
      `~ALIGN_X`
      `~COLUMNS_PADDING`
      `~COLOR`
      `~GRADIENT_COLOR`
      `~GRADIENT_TYPE`
      `~COLOR_OPACITY`
      `~PILL`
      `~CARD`
      `~HIDE_SHADOW`
      `~HIDE_DESCRIPTION`
      `~HIDE_CATEGORIES`
      `~READING_TIME`
      `~BUTTON_LICON`
      `~BUTTON_LABEL`
      `~BUTTON_COLOR_WITH_HIDE`
      `~BUTTON_FONT_ALT`
      `~SLIDER_ACTIVE`
      `~SLIDER_INTERVAL`
      `~SLIDER_HIDE_BULLETS`
      `~SLIDER_HIDE_ARROWS`
    )
  ))
}}