{{- $src := or .vid .img -}}
{{- if $src  -}}
  {{- $media  := . -}}
  {{- $img    := .img -}}
  {{- $vid    := .vid -}}
  {{- $mute   := .mute -}}
  {{- $iframe := dict -}}
  {{- $alt    := .alt -}}
  {{- $t      := "" -}}

  {{- if and .img (not .vid) -}}
    {{- if partial "func/is-vid" .img -}}
      {{- $vid = .img -}}
      {{- $img = "" -}}
    {{- end -}}
  {{- end -}}
  {{- if and $vid (not $img) -}}
    {{- $img = partial "func/poster" $vid -}}
  {{- end -}}
  {{- if $vid -}}
    {{- if not .mute -}}
      {{- $mute = strings.Contains (or .vid .img) "#mute" -}}
    {{- end -}}
    {{- $opts  := dict "url" $vid "mute" $mute "icon_color" .icon_color -}}
    {{- $iframe = partial "media/iframe" $opts -}}
    {{- if $iframe -}}
      {{- $vid = "" -}}
    {{- else -}}
      {{- with $vid | findRESubmatch `[#&?](t=[\d,]+)` -}}
        {{- $t = index . 0 1 -}}
        {{- $t = print "#" $t -}}
      {{- end -}}
      {{- $vid = $vid | replaceRE `[#&?].*$` "" -}}
      {{- $vid = partial "func/check-media" $vid -}}
    {{- end -}}
  {{- end -}}
  {{- with $img -}}
    {{- $img = partial "func/check-media" . -}}
  {{- end -}}

  {{- if not .alt -}}
    {{- with $iframe -}}
      {{- $alt = print (i18n "vid") " · " .name " · " .id -}}
    {{- else -}}
      {{- $alt = (or $img $vid) | replaceRE `^(?:/u|http.+)/(.+)\..*$` "$1" | humanize -}}
    {{- end -}}
  {{- end -}}

  {{- $lazy    := cond (not .notlazy) "lazy" "" -}}
  {{- $img_ext := hasPrefix $img "http" -}}

  {{- $media_new := dict
    "img"     $img
    "vid"     $vid
    "mute"    $mute
    "iframe"  $iframe
    "alt"     $alt
    "t"       $t
    "lazy"    $lazy
    "img_ext" $img_ext
  -}}
  {{- $media = merge $media $media_new -}}

  {{- if $vid -}}
    {{- if hasPrefix $vid "http" -}}
      {{- partial "media/out/vid" $media -}}
    {{- else -}}
      {{- partial "media/in/vid" $media -}}
    {{- end -}}
  {{- else if and $iframe $mute -}}
      {{- partial "media/out/iframe" $media -}}
  {{- else -}}
    {{- if $img_ext -}}
      {{- partial "media/out/img" $media -}}
    {{- else -}}
      {{- if hasSuffix $img ".svg" -}}
        {{- partial "media/in/svg" $media -}}
      {{- else -}}
        {{- partial "media/in/img" $media -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}