{{- $src := or .vid .img -}}
{{- if $src  -}}
  {{- $media  := . -}}
  {{- $img    := .img -}}
  {{- $vid    := .vid -}}
  {{- $alt    := .alt -}}

  {{- if and .img (not .vid) -}}
    {{- if partial "func/is-vid" .img -}}
      {{- $vid = .img -}}
      {{- $img = "" -}}
    {{- end -}}
  {{- end -}}
  {{- if and $vid (not $img) -}}
    {{- $img = partial "func/poster" $vid -}}
  {{- end -}}
  {{- if $vid -}}
    {{- $opts := merge . (dict "vid" $vid) -}}
    {{- $vid   = partial "media/vid-data" $opts -}}
  {{- end -}}
  {{- with $img -}}
    {{- $img = partial "func/check-media" . -}}
  {{- end -}}

  {{- if not .alt -}}
    {{- if index $vid "ifr" -}}
      {{- $alt = print (i18n "vid") " · " $vid.name " · " $vid.id -}}
    {{- else -}}
      {{- $src = or $img (index $vid "url") -}}
      {{- $alt = $src | replaceRE `^(?:/u|http.+)/(.+)\..*$` "$1" | humanize -}}
    {{- end -}}
  {{- end -}}

  {{- $lazy    := cond (not .notlazy) "lazy" "" -}}
  {{- $img_ext := hasPrefix $img "http" -}}

  {{- $media_new := dict
    "img"     $img
    "vid"     $vid
    "alt"     $alt
    "lazy"    $lazy
    "img_ext" $img_ext
  -}}
  {{- $media = merge $media $media_new -}}

  {{- if index $vid "mute" -}}
    {{- partial "media/vid" $media -}}
  {{- else if $img_ext -}}
    {{- partial "media/out-img" $media -}}
  {{- else if hasSuffix $img ".svg" -}}
    {{- partial "media/in-svg" $media -}}
  {{- else -}}
    {{- partial "media/in-img" $media -}}
  {{- end -}}
{{- end -}}