{{ $iframe := dict }}
{{ $name   := "" }}
{{ $src    := .url }}
{{ $url    := "" }}
{{ $allow  := "" }}
{{ $id     := "" }}

{{ with .url | findRESubmatch `(?:youtube\.com/watch.*?[&?]v=|youtu\.be/)([\w-]+)` }}

  {{ $name  = "YouTube" }}
  {{ $base := "https://www.youtube-nocookie.com/embed/" }}
  {{ $id    = index . 0 1 }}
  {{ $opts := "?rel=0&modestbranding=1&color=white&enablejsapi=1" }}
  {{ $t    := $.url | findRESubmatch `[#&?]t\=(\d+)`       | default "" }}
  {{ $end  := $.url | findRESubmatch `[#&?]end\=(\d+)`     | default "" }}
  {{ $list := $.url | findRESubmatch `[#&?]list\=([\w-]+)` | default "" }}
  {{ with $t    }}{{ $t    = print "&start=" (index $t    0 1) }}{{ end }}
  {{ with $end  }}{{ $end  = print "&end="   (index $end  0 1) }}{{ end }}
  {{ with $list }}{{ $list = print "&list="  (index $list 0 1) }}{{ end }}
  {{ $loop := cond (not $list) (print "&playlist=" $id) "" }}
  {{ $mute := cond (not $.mute) "" (print "&autoplay=1&loop=1&mute=1&showinfo=0" $loop) }}
  {{ $src   = print $base $id $opts $mute $t $end $list }}
  {{ $url   = print "https://youtu.be/" $id }}
  {{ $allow = print
    "accelerometer clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    (cond (not $.mute) "" "; autoplay; loop; mute")
  }}

{{ else with .url | findRESubmatch `vimeo\.com/(?:video/)?([^\w-]+)` }}

  {{ $name  = "Vimeo" }}
  {{ $base := "https://player.vimeo.com/video/" }}
  {{ $id    = index . 0 1 }}
  {{ $opts := "?byline=0&portrait=0&title=0" }}
  {{ $mute := cond (not .mute) "" "&autoplay=1&loop=1&autopause=0&muted=1&controls=0" }}
  {{ $src   = print $base $id $opts $mute }}
  {{ $url   = print "https://player.vimeo.com/video/" $id }}
  {{ $allow = print "fullscreen" (cond (not $.mute) "" "; autoplay; loop; muted") }}

{{ end }}

{{ if $name }}
  {{ $title := lower $name }}
  {{ $name   = print "data-" (lower $name) }}
  {{ $is    := and .icon_color (ne .icon_color "cta") }}
  {{ $color := cond $is "" .icon_color }}
  {{ $play  := partial "icon" (dict "class" $color "def" "play") }}

  {{ $iframe = dict
    "title" $title
    "name"  $name
    "id"    $id
    "src"   $src
    "url"   $url
    "allow" $allow
    "play"  $play
  }}
{{ end }}

{{ return $iframe }}