{{ $_next := cond .next "-next" "" }}
{{ $class := print "div" $_next }}
{{ $style := "" }}

{{ with .section }}
  {{ if .div }}
    {{ with index site.Data.utilities.divs .div }}
      {{ if eq .size 2 }}
        {{ $class = print $class " div" $_next "--size" }}
      {{ end }}
      {{ if not .repeat }}
        {{ $class = print $class " div" $_next "--not-repeat" }}
      {{ end }}
    {{ end }}

    {{ $flip_y := cond (not .div_y) "" "y" }}
    {{ $flip_x := cond (not .div_x) "" "x" }}
    {{ $flips  := "" }}
    {{ if or .div_x .div_y }}
      {{ $flips = print $flip_x $flip_y }}
    {{ end }}

    {{ $style = print
      "--div" $_next ": url("
        (partial "func/draws-base" .)
        "#div-" .div "-" (cond $.next "ne" "pr") $flips
      ")"
    }}
    {{ if eq .div "fade" }}
      {{ if $.next }}
        {{ $style = "--div-next: linear-gradient(black, transparent)" }}
      {{ else }}
        {{ $style = "--div: linear-gradient(transparent, black)" }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return dict "class" $class "style" $style }}