{{- /*  Attributes  */ -}}
{{- $attr := partial "sections/attr" . -}}

{{- /*  SECTION  */}}
{{ print "<" .node $attr ">" | safeHTML -}}

  {{- /*  BACKGROUND  */ -}}
  {{- if not .is_modal -}}
    {{- $bg := dict "card" nil "container" "fluid" -}}
    {{- $bg  = merge . $bg -}}
    {{- partial "bg" $bg -}}
  {{- end -}}

  {{- /*  BOX  */ -}}
  {{- $over := dict
    "full"        nil
    "pt"          nil
    "pb"          nil
    "div"         nil
    "div_x"       nil
    "div_y"       nil
    "id"          nil
    "if"          nil
    "col_vl"      1.00
    "col_vs"      1.00
    "key"         0
    "deep"        0
    "zero"        true
    "main"        true
    "boxes_wrap"  true
    "section"     .
    "parent"      .box
    "node"        .box_node
    "bi"          .box_bi
    "alpha"       .box_alpha
    "scroll"      .box_scroll
    "color"       .box_color
    "color_alpha" .box_color_alpha
    "fade"        .box_fade
    "fade_to"     .box_fade_to
  -}}
  {{- $box := merge . $over -}}
  {{- partial "boxes/item" $box -}}

  {{- /*  MODAL BUTTONS CORNER  */ -}}
  {{- if .is_modal  -}}
    {{- /*
    {{- partial "link" (dict
      "class" "modal__back"
      "btn"   "cta"
      "dot"   true
      "def"   "left"
      "label" (i18n "back")
    ) -}}
    */}}
    {{ partial "link" (dict
      "class" "modal__close--corner"
      "btn"   "cta"
      "dot"   true
      "def"   "close"
      "label" (i18n "close")
    ) -}}
  {{- end -}}

  {{- /*  COOKIES AND SITEMAP LINK  */ -}}
  {{- if .is_footer }}
    <div class="footer__float">
      {{ partial "link" (dict
        "class" "cookies__toggle"
        "def"   "cookies"
        "title" (i18n "cookies_notice")
        "lock"  true
      ) }}
      {{ with site.GetPage "page/sitemap" -}}
        {{- partial "link" (dict
          "class" "footer__sitemap"
          "def"   "sitemap"
          "title" .Title
          "url"   .RelPermalink
          "lock"  (not page.IsHome)
        ) -}}
      {{- end }}
    </div>
  {{- end }}
{{ print "</" .node ">" | safeHTML -}}

{{- /*  MODALS  */ -}} 
{{- range .modals -}}
  {{- partial "sections/item" . -}}
{{- end -}}
