{{/*  FUNTION DEFINE  */}}
{{ define "partials/file" }}
  {{ $section := dict }}
  {{ $file    := .file }}
  {{ if $file }}
    {{/*  Get folder with lang and type (section/modal)  */}}
    {{ with index site.Data (slice site.Home.Lang "section") }}
      {{/*  get file  */}}
      {{ with index . (split $file "/") }}
        {{/*  merge section and file  */}}
        {{ $section = merge $ . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ return $section }}
{{ end }}

{{/*  SECTIONS  */}}
{{ $sections := slice }}
{{ range . }}
  {{ $section := partial "file" . }}
  {{ $sections = $sections | append $section }}
{{ end }}

{{ return $sections }}
