{{/*  FUNTION DEFINE  */}}
{{ define "partials/merge-params" }}
  {{ $section := dict }}
  {{ with partial "functions/params-merge" . }}
    {{ $section = . }}
  {{ end }}
  {{ return $section }}
{{ end }}

{{/*  SECTIONS  */}}
{{ $sections := slice }}
{{ range .sections }}

  {{/*  SECTION  */}}
  {{ $options := dict "Page" $.Page "item" . }}
  {{ with partial "merge-params" $options }}

    {{/*  MODALS  */}}
    {{ $modals := slice }}
    {{ range .modals }}
      {{ $options := dict "Page" $.Page "item" . }}
      {{ with partial "merge-params" $options }}
        {{ $modals = $modals | append . }}
      {{ end }}
    {{ end }}

    {{/*  END  */}}
    {{ $section := merge . (dict "modals" $modals) }}
    {{ $sections = $sections | append $section }}
  {{ end }}

{{ end }}

{{ return $sections }}
