{{ $sections := slice }}

{{ range $key, $section := . }}

  {{ $modals := slice }}
  {{ $id     := "" }}

  {{ if .is_footer }}

    {{/*  FOOTER  */}}
    {{ $id  = "footer" }}
    {{ $key = "footer" }}

  {{ else }}

    {{/*  MODALS  */}}
    {{ range $modal_key, $modal := .modals }}
      {{ $id_m   := partial "func/id-by-title" . }}
      {{ $expand := dict "section_key" $key "modal_key" $modal_key "id" $id_m "is_modal" true }}
      {{ $modal   = merge $modal $expand }}
      {{ $modals  = $modals | append $modal }}
      {{/*  Set id > hanchor/title in page store for anchor links to modal  */}}
      {{ $anchor := .hanchor | default .title }}
      {{ page.Store.Set $id_m $anchor }}
    {{ end }}

    {{/*  SECTION  */}}
    {{ if $key }}
      {{ $id  = partial "func/id-by-title" . }}
    {{ else }}
      {{ $id  = "header" }}
      {{ $key = "header" }}
    {{ end }}

  {{ end }}

  {{/*  Set id > hanchor/title in page store for anchor links to section  */}}
  {{ $anchor := .hanchor | default .title }}
  {{ page.Store.Set $id $anchor }}

  {{/*  END  */}}
  {{ $is_header := eq $key "header" }}
  {{ $expand    := dict "section_key" $key "id" $id "is_header" $is_header "is_modal" false "modals" $modals }}
  {{ $section    = merge $section $expand }}
  {{ $sections   = $sections | append $section }}

{{ end }}

{{ return $sections }}