.kind-404 {
  #header
  .container {
    font-size: 1.25em;
    .box__icon,
    .box__title,
    .box__md p:not(.btns) {
      animation: awesome-rotate 5s infinite linear alternate-reverse;
      transform-style: preserve-3d;
    }
    .box__title > * {
      transform: translateZ(3em);
    }
  }
}