#disqus_thread {
  background-color: #00000000;
  // display: none;
  // &.disqus-show {
  //   display: block;
  // }
  &:has(iframe + iframe) {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 50px;
      position: absolute;
      background-color: var(--bg-color);
      bottom: 0;
    }
  }
  iframe {
    filter: none;
  }
}