#crumbs {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  // margin-bottom: -.5rem;
  > * {
    display: flex;
    gap: .5rem;
  }
  .link {
    --link-undeline-width: #{ $menu-bar-double * 1em / 1rem };
  }
  .icon {
    margin: 0;
    color: inherit;
  }
}