#toc {
  .toc {
    li {
      &::before,
      > .icon {
        opacity: 1;
      }
      &::before {
        color: var(--cta);
      }
      > .icon {
        color: var(--main);
      }
      &:has(> .icon) {
        gap: .25em;
        @if $main == $cta {
          &::before {
            opacity: .5;
          }
        }
      }
    }
    .link {
      @include font-base;
      color: inherit;
    }
    &, li > div > :is(ul, ol) {
      grid-template-columns: auto auto 1fr;
      column-gap: .25em;
    }
  }
}