<!DOCTYPE html>
<html lang="{{ .Lang }}">

  {{/*  VARIABLES  */}}
  {{- $params := partial "functions/page-params" . -}}
  {{- $config := partial "functions/config-lang" . -}}

  {{/*  CUSTOM HTML HEAD  */}}
  {{- $custom_html_head  := "" -}}
  {{- with $config.custom_code.html_head.code -}}
    {{- $custom_html_head = .
      | resources.FromString (print "aux_html_head." $.Lang)
      | resources.ExecuteAsTemplate (print "aux_html_head." $.Lang) $.Page
    -}}
    {{- $custom_html_head = $custom_html_head.Content | safeHTML -}}
  {{- end -}}

  {{/*  CUSTOM HTML BODY  */}}
  {{- $custom_html_body  := "" -}}
  {{- with $config.custom_code.html_body.code -}}
    {{- $custom_html_body = .
      | resources.FromString (print "aux_html_body." $.Lang)
      | resources.ExecuteAsTemplate (print "aux_html_body." $.Lang) $.Page
    -}}
    {{- $custom_html_body = $custom_html_body.Content | safeHTML -}}
  {{- end -}}

  {{/*  BODY ID  */}}
  {{- $body_id := "" -}}
  {{- if .IsHome -}}
    {{- $body_id = .Params.slug -}}
  {{- else -}}
    {{- $body_id = .RelPermalink | replaceRE `/(.+)/$` `$1` | replaceRE `/` `-` -}}
  {{- end -}}
  {{- $body_id = print "body-" $body_id -}}

  {{/*  BODY MENU CLASS  */}}
  {{- $sectioned_menu        := not $params.header_article -}}
  {{- $menu                  := merge site.Data.menu ($params.menu | default dict) -}}
  {{- $body_menu             := "" -}}
  {{- $body_menu_logo        := "" -}}
  {{- $body_menu_sticky      := "" -}}
  {{- if not $menu.hide -}}
    {{- $body_menu            = "body-menu" -}}
    {{- $body_menu_sticky     = print "body-menu--sticky body-menu--sticky--" $menu.sticky -}}
    {{- if $menu.articles_sticky | or (and $sectioned_menu $menu.logo) -}}
      {{- $body_menu_logo     = "body-menu--logo" -}}
    {{- end -}}
  {{- end -}}
  {{- $body_menu_transparent := cond (not ($menu.transparent | and ($sectioned_menu | or $body_menu_logo))) "" "body-menu--transparent" -}}

  {{/*  BODY CLASS  */}}
  {{- $body_class := slice
    (print "kind-" .Kind)
    (print "type-" .Type)
    (print "section-" .Section)
    "body-top"
    $body_menu
    $body_menu_logo
    $body_menu_transparent
    $body_menu_sticky
  -}}

  {{/*  BODY ATTRIBUTES  */}}
  {{- $background := merge $params.background (dict
    "body"  true
    "color" ($params.background.color | default "white"))
  -}}
  {{- $body_attr  := partial "components/section-attr" (merge $background (dict
    "id"         $body_id
    "body_class" $body_class
  )) -}}

  {{/*  HEAD  */}}
  <head>
    {{- partial "sections/common/head" . -}}
    {{- $custom_html_head -}}
  </head>

  {{/*  MODY  */}}
  <body {{ $body_attr | safeHTMLAttr }}>

    {{/*  IMAGE LCP  */}}
    <img width="8000" height="8000" alt="xl" class="lcp" decoding="sync" loading="eager" src="data:image/svg+xml;base64,
      {{- `<svg width='8000' height='8000' viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'></svg>` | base64Encode -}}
    ">

    {{/*  BACKGROUND  */}}
    {{- partial "components/bg" $background -}}

    {{/*  LOGO  */}}
    {{ partial "sections/common/logo" $params }}

    {{/*  MENU  */}}
    {{ partial "sections/common/menu" $params }}

    {{/*  MAIN  */}}
    <main>
      {{ partial "kind/sectioned" dict }}
    </main>

    {{/*  FOOTER  */}}
    {{ partial "kind/sectioned" (dict "footer" true) }}

    {{/*  PRE BODY END  */}}
    {{ partial "components/cookies"         $params }}
    {{ partial "components/buttons-callnow" $params }}
    {{ partial "components/button-up"       .       }}
    {{ partial "sections/common/scripts"    $params }}
    {{ $custom_html_body }}
  </body>
</html>
{{- block "none" . }}{{ end }}