{{- block "none" . }}{{ end -}}
{{- partial "functions/once-stores" . -}}
<!DOCTYPE html>
<html lang="{{ .Params.locale | default .Lang }}" class="preload">

  {{- /*  TPL  */ -}}
  {{- $tpl := partial "functions/tpl-sections" . -}}

  {{- /*  SECTIONS  */ -}}
  {{- $sections_all := slice -}}
  {{- $sections     := slice -}}
  {{- $footer       := dict -}}
  {{- with $tpl -}}
    {{- $sections_all = partial "sections/items" . -}}
  {{- end -}}
  {{- with $sections_all -}}
    {{- $sections    = where . "id" "ne" "footer" -}}
    {{- $footer      = index (last 1 .) 0 -}}
  {{- end -}}
  {{- /*  To TPL  */ -}}
  {{ $dict_sections := dict "sections" $sections }}
  {{ $tpl            = merge $tpl $dict_sections }}

  {{- /*  Set contact phones page store from contact to callnow  */ -}}
  {{- page.Store.Set "phones" slice -}}

  {{- /*  CUSTOM HTML HEAD  */ -}}
  {{- $custom_html_head  := "" -}}
  {{- with site.Params.html.head -}}
    {{- $path            := print "aux_html_head." $.Lang -}}
    {{- $custom_html_head = . | resources.FromString $path | resources.ExecuteAsTemplate $path $.Page -}}
    {{- $custom_html_head = $custom_html_head.Content | safeHTML -}}
  {{- end -}}

  {{- /*  CUSTOM HTML BODY  */ -}}
  {{- $custom_html_body  := "" -}}
  {{- with site.Params.html.body -}}
    {{- $path            := print "aux_html_body." $.Lang -}}
    {{- $custom_html_body = . | resources.FromString $path | resources.ExecuteAsTemplate $path $.Page -}}
    {{- $custom_html_body = $custom_html_body.Content | safeHTML -}}
  {{- end -}}

  {{- /*  BODY ID  */ -}}
  {{- $body_id := "" -}}
  {{- if .IsHome -}}
    {{- $body_id = "home" -}}
  {{- else if .IsSection -}}
    {{- $body_id = .Type -}}
  {{- else if eq .Kind "404" -}}
    {{- $body_id = 404 -}}
  {{- else -}}
    {{- $body_id = .File.TranslationBaseName -}}
    {{- if ne .Type "single" -}}
      {{- $body_id = print .Type "-" $body_id -}}
    {{- end -}}
  {{- end -}}
  {{- $body_id = print "body-" $body_id -}}

  {{- /*  BODY MENU CLASS  */ -}}
  {{- $menu := $tpl.menu -}}
  {{- $body_menu             := "" -}}
  {{- $body_menu_logo        := "" -}}
  {{- $body_menu_sticky      := "" -}}
  {{- $body_menu_logo_sticky := "" -}}
  {{- $body_menu_transparent := "" -}}
  {{- $body_menu_sections    := "" -}}
  {{- with $menu -}}
    {{- if not .hide -}}
      {{- $body_menu             = "body-menu" -}}
      {{- with .sticky -}}
        {{- if ne . "none" -}}
          {{- $body_menu_sticky = print "body-menu--sticky body-menu--sticky--" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if or (not .hide) .logo -}}
      {{- $body_menu_transparent = cond (not .transparent) "" "body-menu--transparent" -}}
    {{- end -}}
    {{- if .logo -}}
      {{- $body_menu_logo        = "body-menu--logo" -}}
      {{- $body_menu_logo_sticky = cond (not .logo_sticky) "" "body-menu--logo--sticky" -}}
    {{- end -}}
  {{- end -}}

  {{- /*  BODY CLASS  */ -}}
  {{- $body_class := slice
    (print "kind-" .Kind)
    (print "type-" .Type)
    (print "base-" .Params.base)
    "body-top"
    $body_menu
    $body_menu_logo
    $body_menu_sticky
    $body_menu_logo_sticky
    $body_menu_transparent
    $body_menu_sections
  -}}

  {{- /*  BODY ATTRIBUTES  */ -}}
  {{- $bg_color := $tpl.bg.color | default "light" -}}
  {{- $bg_base  := dict "is_bg" true "color" $bg_color "tpl" $tpl -}}
  {{- $bg       := merge $tpl.bg $bg_base -}}
  {{- $bg_attr  := dict "id" $body_id "body_class" $body_class -}}
  {{- $merge_attr := merge $bg $bg_attr -}}
  {{- $body_attr  := partial "sections/attr" $merge_attr -}}

  {{- /*  LOADER  */}}
  {{- $loader_bg := "" -}}
  {{- if or (eq $bg_color "white") (in $bg_color "light") -}}
    {{- $loader_bg = site.Data.styles.colors.base.light | default "#eee" -}}
  {{- else -}}
    {{- $loader_bg = site.Data.styles.colors.base.dark  | default "333" -}}
  {{- end -}}
  {{- $loader_main  := site.Data.styles.colors.main.color | default "#577399" -}}
  {{- $loader_cta   := site.Data.styles.colors.cta.color  | default site.Data.styles.colors.main.color | default "#577399" -}}
  {{- $loader_style := print `style="`
    "--loader-bg:" $loader_bg ";"
    "--loader-main: " $loader_main ";"
    "--loader-cta: " $loader_cta `"`
    | safeHTMLAttr
  -}}

  {{- /*  HEAD  */}}
  <head>
    {{- partial "head" . -}}
    {{- $custom_html_head }}
  </head>

  {{- /*  BODY  */}}
  <body {{- $body_attr }}>

    {{- /*  IMAGE LCP  */}}
    {{- /*
    {{- $lcp := print "<svg xmlns='http://www.w3.org/2000/svg' width='2048' height='2048'><title>LCP</title><rect width='2048' height='2048' fill='" $loader_main "' opacity='0.01' /></svg>" | base64Encode }}
    <img class="lcp" src="data:image/svg+xml;base64,{{ $lcp }}" alt="back" width="2048" height="2048" loading="eager" fetchpriority="high" decoding="async">
    */ -}}

    {{- /*  LOADER  */}}
    <div id="bg-loader" {{ $loader_style }}>
      <div class="loader"></div>
    </div>

    {{- /*  BACKGROUND  */ -}}
    {{- partial "bg" $bg -}}

    {{- /*  LOGO  */ -}}
    {{- partial "logo" $tpl -}}

    {{- /*  MENU  */ -}}
    {{- partial "menu/_" $tpl -}}

    {{- /*  MAIN  */}}
    <main>
      {{- range $sections -}}
        {{- partial "sections/item" . -}}
      {{- end }}
    </main>

    {{- /*  FOOTER  */ -}}
    {{- partial "sections/item" $footer -}}

    {{- /*  PRE BODY END  */ -}}
    {{- partial "cookies" $tpl         -}}
    {{- partial "callnow" $tpl.callnow -}}
    {{- partial "up"      .            -}}
    {{- $js := partial "scripts" . }}
    <script src="{{ $js.RelPermalink }}" defer></script>
    {{- $custom_html_body }}
  </body>
</html>
{{- /*  LAST PAGE PROCESSED  */ -}}
{{- hugo.Store.Add "pages-count" 1 -}}
{{- $pages_count := hugo.Store.Get "pages-count" -}}
{{- $pages_total := mul (len site.Pages) (len site.Sites) -}}
{{- if eq $pages_count $pages_total -}}
  {{- partial "files/statics" . -}}
  {{- partial "files/fonts"   . -}}
  {{- partial "files/pdfs"    . -}}
  {{- partial "files/images"  . -}}
  {{- partial "files/glyphs"  . -}}
  {{- partial "files/draws"   . -}}
{{- end -}}
  {{ $icons := hugo.Store.Get "glyphs" | uniq | sort }}
  {{ $icons  = delimit $icons "," | replaceRE `-` "_" }}
  {{ with site.Data.styles.icons }}
    {{ $hash  := md5 $icons }}
    {{ $grade := cond (and .fill (not .grade)) -25 .grade }}
    {{/*  URL  */}}
    {{ print
      "https://fonts.googleapis.com/css2"
      "?family=Material+Symbols+" (strings.FirstUpper .style)
      ":opsz,wght,FILL,GRAD@" .optical "," .weight "," (int .fill) "," (int $grade)
      "&icon_names=" $icons
      "&v=" $hash
      | urlquery
    }}
  {{- end -}}
