<!DOCTYPE html>
<html lang="{{ .Lang }}">

  {{/*  VARIABLES  */}}
  {{- $params := partial "functions/page-params" . -}}
  {{- $config := partial "functions/config-lang" . -}}

  {{/*  CUSTOM HTML HEAD  */}}
  {{- $custom_html_head  := "" -}}
  {{- with $config.others.custom_code.html_head -}}
    {{- $custom_html_head = .
      | resources.FromString (print "aux_html_head." $.Lang)
      | resources.ExecuteAsTemplate (print "aux_html_head." $.Lang) $.Page
    -}}
    {{- $custom_html_head = $custom_html_head.Content | safeHTML -}}
  {{- end -}}

  {{/*  CUSTOM HTML BODY  */}}
  {{- $custom_html_body  := "" -}}
  {{- with $config.others.custom_code.html_body -}}
    {{- $custom_html_body = .
      | resources.FromString (print "aux_html_body." $.Lang)
      | resources.ExecuteAsTemplate (print "aux_html_body." $.Lang) $.Page
    -}}
    {{- $custom_html_body = $custom_html_body.Content | safeHTML -}}
  {{- end -}}

  {{/*  BODY ID  */}}
  {{- $body_id := "" -}}
  {{- if .IsHome -}}
    {{- $body_id = .Params.slug -}}
  {{- else -}}
    {{- $body_id = .RelPermalink | replaceRE `/(.+)/$` `$1` | replaceRE `/` `-` -}}
  {{- end -}}
  {{- $body_id = print "body-" $body_id -}}

  {{/*  BODY MENU CLASS  */}}
  {{- $menu                  := $params.menu | default dict -}}
  {{- $body_menu             := "" -}}
  {{- $body_menu_logo        := "" -}}
  {{- $body_menu_sticky      := "" -}}
  {{- $body_menu_logo_sticky := "" -}}
  {{- $body_menu_transparent := "" -}}
  {{- with $menu -}}
    {{- if not .hide -}}
      {{- $body_menu                 = "body-menu" -}}
      {{- $body_menu_logo            = cond (not .logo)        "" "body-menu--logo" -}}
      {{- $body_menu_sticky          = cond (not .sticky)      "" (print "body-menu--sticky body-menu--sticky--" .sticky) -}}
      {{- $body_menu_logo_sticky = cond (not .logo_sticky)     "" "body-menu--logo--sticky" -}}
      {{- $body_menu_transparent     = cond (not .transparent) "" "body-menu--transparent" -}}
    {{- end -}}
  {{- end -}}

  {{/*  BODY CLASS  */}}
  {{- $body_class := slice
    (print "kind-" .Kind)
    (print "type-" .Type)
    (print "section-" .Section)
    "body-top"
    $body_menu
    $body_menu_logo
    $body_menu_sticky
    $body_menu_logo_sticky
    $body_menu_transparent
  -}}

  {{/*  BODY ATTRIBUTES  */}}
  {{- $background := merge $params.background (dict
    "body"  true
    "color" ($params.background.color | default "white"))
  -}}
  {{- $body_attr  := partial "components/base/section-attr" (merge $background (dict
    "id"         $body_id
    "body_class" $body_class
  )) -}}

  {{/*  HEAD  */}}
  <head>
    {{- partial "components/base/head" . -}}
    {{- $custom_html_head -}}
  </head>

  {{/*  MODY  */}}
  <body {{ $body_attr | safeHTMLAttr }}>

    {{/*  IMAGE LCP  */}}
    <img width="8000" height="8000" alt="xl" class="lcp" decoding="sync" loading="eager" src="data:image/svg+xml;base64,
      {{- `<svg width='8000' height='8000' viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg'></svg>` | base64Encode -}}
    ">

    {{/*  BACKGROUND  */}}
    {{- partial "components/bg" $background -}}

    {{/*  LOGO  */}}
    {{ partial "components/base/logo" $params }}

    {{/*  MENU  */}}
    {{ partial "components/base/menu" $params }}

    {{/*  MAIN  */}}
    <main>
      {{ partial "components/base/sections" dict }}
    </main>

    {{/*  FOOTER  */}}
    {{ partial "components/base/sections" (dict "footer" true) }}

    {{/*  PRE BODY END  */}}
    {{ partial "components/cookies"         $params }}
    {{ partial "components/callnow" $params }}
    {{ partial "components/up"       .       }}
    {{ partial "components/base/scripts"    $params }}
    {{ $custom_html_body }}
  </body>
</html>
{{- block "none" . }}{{ end }}