{{/*  ID  */}}
{{ $id  := print .Permalink "#schema-person" }}

{{/*  Image  */}}
{{ $img  := dict "@id" (print .Permalink "#schema-img") }}
{{/*  Not self page  */}}
{{ if ne page.Permalink .Permalink }}
  {{ $img = partial "schema/img-main" . }}
{{ end }}

{{/*  worksFor  */}}
{{ $works_for := slice }}
{{/*  Not self page  */}}
{{ with .Params.orgs }}
  {{ range . }}
    {{ $org := dict
      "@type" "Organization"
      "name"  .name
      "url"   .url
    }}
    {{ $works_for = $works_for | append $org }}
  {{ end }}
{{ else }}
  {{ $works_for = partial "schema/org-id" . }}
{{ end }}

{{/*  Credentials  */}}
{{ $creds  := slice }}
{{ with .Params.creds }}
  {{ range . }}
    {{ $cred := dict
      "@type" "EducationalOccupationalCredential"
      "name"               .name
      "credentialCategory" .category
    }}
    {{ with .org }}
      {{ $org := dict
        "recognizedBy" (dict
          "@type" "EducationalOrganization"
          "name"  .
        )
      }}
      {{ $cred = merge $cred $org }}
    {{ end }}
    {{ $creds = $creds | append $cred }}
  {{ end }}
{{ end }}

{{/*  Schema  */}}
{{ $schema := dict
  "@type"           "Person"
  "@id"             $id
  "name"            .Title
  "url"             .Permalink
  "description"     (partial "func/summary" .)
  "alternateName"   .Params.alts
  "honorificPrefix" .Params.prefix
  "jobTitle"        .Params.job
  "sameAs"          .Params.as
  "worksFor"        $works_for
  "hasCredential"   $creds
  "image"           $img
}}
{{ $schema = partial "func/obj-truly" $schema }}

{{ return $schema }}