{{/*  URL  */}}
{{ $image := "" }}

{{ $src := .Params.image }}
{{ if not .Params.image }}
  {{ with .Params.images }}
    {{ $src := index . 0 }}
  {{ end }}
{{ end }}
{{ if not $src }}
  {{ $src := site.Home.Params.organization.logo
    | default site.Home.Params.menu.logo
    | default site.Data.types.all.tpl.menu.logo
    | default site.Data.config.cms.logo
    | default site.Data.config.others.favicon
    | default (cond (not (resources.Get "/media/base/icon.svg")) "base/icon.png" "base/icon.svg")
  }}
{{ end }}

{{ $external := hasPrefix $src "http" }}
{{ with $src }}
  {{ if not $external }}
    {{ $url := resources.Get (print "/media/" .) }}
    {{ with $url }}
      {{ $image = .Permalink }}
    {{ end }}
  {{ else }}
    {{ $image = partial "functions/iframe-poster" . | default . }}
  {{ end }}
{{ end }}

{{/*  Width and Height  */}}
{{ $width  := 1280 }}
{{ $height := 960 }}
{{ if not (in $image ".svg" | or $external) | and $image }}
  {{ with resources.Get (print "/media/" $image) }}
    {{ $width  = .Width }}
    {{ $height = .Height }}
  {{ end }}
{{ end }}

{{/*  Caption  */}}
{{ $caption := .Params.alt | default .Params.seo | default .Title }}

{{/*  Schema  */}}
{{ $schema := dict
  "@type"      "ImageObject"
  "@id"        (print .Permalink "#schema-image")
  "url"        $image
  "contentUrl" $image
  "width"      $width
  "height"     $height
  "caption"    $caption
  "inLanguage" (.Params.locale | default .Lang)
}}
{{ $schema = partial "functions/obj-truly" $schema }}

{{ return $schema }}