{{ $schema := dict }}

{{ $org := .Params.org | default . }}
{{ if reflect.IsMap $org | not }}
  {{ $org = $org.Params }}
{{ end }}

{{ with $org }}

  {{/*  Types  */}}
  {{ $types      := .types | default (slice "Organization") }}

  {{/*  Names  */}}
  {{ $names      := .names | default (slice (site.Title | default "Name")) }}
  {{ $name       := index $names 0 }}
  {{ $names_more := after 1 $names }}

  {{/*  Description  */}}
  {{ $desc := or .desc .seo.desc .sum $.Summary | plainify | replaceRE `::.+?::` "" }}

  {{/*  URL  */}}
  {{ $url  := .url | default $.Page.Permalink }}
  {{ $id   := print $url "#schema-org" }}
  {{ if and .is_department (not $url) }}
    {{ $url = site.Home.Permalink }}
    {{ $id  = print $url "#schema-departs" }}
  {{ end }}

  {{/*  Legal and NIF  */}}
  {{ $legal    := .legal }}
  {{ $nif      := .nif }}
  {{ if not (or $legal $nif) }}
    {{ if not $legal }}
      {{ $legal = site.Params.legal.name }}
    {{ end }}
    {{ if not $nif }}
      {{ $nif   = site.Params.legal.nif }}
    {{ end }}
  {{ end }}

  {{/*  Address, hasMap and geo by locations  */}}
  {{ $location := partial "schema/address" . }}
  {{ $address  := $location.address | default dict }}
  {{ $has_map  := $location.has_map | default "" }}
  {{ $geo      := $location.geo     | default dict }}

  {{/*  Phones  */}}
  {{ $phones := partial "func/phone-variations" .phones }}

  {{/*  Logo  */}}
  {{ $logo := partial "schema/img-main" (dict "Params" (dict "img" .logo) "Permalink" $url) }}

  {{/*  Images  */}}
  {{ $imgs := partial "schema/imgs" (slice $.Params.img | append .imgs | uniq) }}

  {{/*  Opening Hours Specification  */}}
  {{ $when := slice }}
  {{ with .when }}
    {{ $day_names := dict
      "mon" "Monday"
      "tue" "Tuesday"
      "wed" "Wednesday"
      "thu" "Thursday"
      "fri" "Friday"
      "sat" "Saturday"
      "sun" "Sunday"
    }}
    {{ range . }}
      {{ $s    := . }}
      {{ $days := slice }}
      {{ range $k, $v := .days }}
        {{ if $v }}
          {{ $day_name := index $day_names $k }}
          {{ with $day_name }}
            {{ $days = $days | append (print "https://schema.org/" .) }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ range .hours }}
        {{ $o := slice }}
        {{ with $days   }}{{ $o = merge $o (dict "dayOfWeek"    .) }}{{ end }}
        {{ with .open   }}{{ $o = merge $o (dict "opens"        .) }}{{ end }}
        {{ with .close  }}{{ $o = merge $o (dict "closes"       .) }}{{ end }}
        {{ with $s.from }}{{ $o = merge $o (dict "validFrom"    .) }}{{ end }}
        {{ with $s.to   }}{{ $o = merge $o (dict "validThrough" .) }}{{ end }}
        {{ $when = $when | append $o }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  Departments  */}}
  {{ $departs := slice }}
  {{ with $.Params }}
    {{ range .departs }}
      {{ $departs = $departs | append (partial "schema/org" (merge . (dict "is_department" true))) }}
    {{ end }}
  {{ end }}

  {{/*  Offer Catalog  */}}
  {{ $offers := dict }}
  {{ with .services }}
    {{ $services := slice }}
    {{ range . }}
      {{ $offers := dict }}
      {{ with .price }}
        {{ $offers  = dict
          "@type"         "Offer"
          "price"         .
          "priceCurrency" site.Params.currency
        }}
      {{ end }}
      {{ $service  := dict
        "@type"      "Service"
        "url"         .url
        "name"        .title
        "description" .desc
        "areaServed"  .area
        "offers"      $offers
      }}
      {{ $service   = partial "func/obj-truly" $service }}
      {{ $services  = $services | append $service }}
    {{ end }}
    {{ $offers = dict
      "@type"           "OfferCatalog"
      "itemListElement" $services
    }}
  {{ end }}

  {{/*  Schema  */}}
  {{ $schema = dict
    "@type"                     $types
    "@id"                       $id
    "name"                      $name
    "alternateName"             $names_more
    "legalName"                 $legal
    "taxID"                     $nif
    "url"                       $url
    "description"               $desc
    "logo"                      $logo
    "image"                     $imgs
    "telephone"                 $phones
    "address"                   $address
    "hasMap"                    $has_map
    "geo"                       $geo
    "openingHoursSpecification" $when
    "department"                $departs
    "hasOfferCatalog"           $offers
    "sameAs"                    .as
    "areaServed"                .areas
    "priceRange"                .prices
    "menu"                      .food_menu
    "servesCuisine"             .food_type
  }}
  {{ $schema = partial "func/obj-truly" $schema }}

{{ end }}

{{ return $schema }}