.content:not(#aux) {
  .alert {
    position: relative;
    padding: 1em 1.5em 1.5em;
    @include radius;
    // --color-alpha: .25;
    // filter: none;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .alert__icon {
    float: left;
    margin: 0 .5em .5em 0;
    &:has(+ :not(.alert__heading)) {
      top: -.0625em;
    }
  }
  .alert__heading {
    margin-top: 0;
  }
}