.highlight {
  filter: drop-shadow($shadow);
}

.font-base {
  @include font-base;
}

/*! purgecss start ignore */
#search__form ~ {
  article,
  section {
    display: none;
  }
}
/*! purgecss end ignore */

.langs {
  display: flex;
  align-items: center;
  gap: .75em;
}
.lang svg {
  top: 0;
  border-radius: 50%;
}
.lang__link {
  display: flex;
  gap: .375em;
}

.cancelled {
  @include radius;
  background-color: red;
  width: fit-content;
  margin: 2rem auto 1em;
  padding: .5em 1em;
  rotate: 5deg;
  filter: drop-shadow($shadow);
  mark {
    @include font-title;
    @include fluid-size(font-size, 1em, 4, 8);
    background-color: transparent;
    color: white;
    display: inline-block;
    transform: translateY(#{ $top-title }em);
  }
}
