%draw {
  stroke: var(--text);
  animation: draw var(--draw-duration) var(--draw-delay) both;
  stroke-dasharray: 800%;
  stroke-dashoffset: 800%;
}
%draw-infinite {
  @extend %draw;
  animation-iteration-count: infinite;
}