@if $fonts-css != '' {
  $fonts: str-split($fonts-css, ',');
  @each $font in $fonts {
    @if $font != '' {
      $split: str-split($font, '|');
      $family: nth($split, 1);
      $weight: nth($split, 2);
      $style: nth($split, 3);
      $filename: nth($split, 4);

      @font-face {
        font-family: '#{$family}';
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: swap;
        src: url('#{$base-url}fonts/#{$filename}.woff2') format('woff2');
      }
    }
  }
}

$icon-font-url: '#{$base-url}fonts/material-symbols-#{$icons-style}.woff2';
@if $is-production {
  $icon-font-url: '#{$base-url}fonts/icons.#{$timestamp}.woff2';
}
@font-face {
  font-family: 'Material Symbols';
  font-weight: #{$icons-weight};
  font-style: normal;
  font-display: block;
  src: url($icon-font-url) format('woff2');
}
