@if $fonts-css != '' {
  $fonts: str-split($fonts-css, ',');
  @each $font in $fonts {
    @if $font != '' {
      $split: str-split($font, '|');
      $family: nth($split, 1);
      $weight: nth($split, 2);
      $style: nth($split, 3);
      $filename: nth($split, 4);

      @font-face {
        font-family: '#{$family}';
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: swap;
        src: url('/fonts/#{$filename}.woff2') format('woff2');
      }
    }
  }
}
