@if $fonts-css != '' {
  $fonts: str-split($fonts-css, ',');
  @each $font in $fonts {
    @if $font != '' {
      $split: str-split($font, "|");
      $family: nth($split, 1);
      $weight: nth($split, 2);
      $style: nth($split, 3);
      $filename: nth($split, 4);

      @font-face {
        font-family: #{$family};
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: swap;
        src: url("/fonts/#{$filename}.woff2") format("woff2");
      }
    }
  }
}

// @font-face {
//   font-family: "trueno";
//   src: url("/fonts/trueno-regular.eot");
//   src: url("/fonts/trueno-regular.eot?#iefix") format("embedded-opentype"),
//        url("/fonts/trueno-regular.woff2") format("woff2"),
//        url("/fonts/trueno-regular.woff") format("woff"),
//        url("/fonts/trueno-regular.ttf") format("ttf"),
//        url("/fonts/trueno-regular.svg#TruenoRg") format("svg");
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
// }
