
@function text-contrast($n, $lighter:$white, $darker:$dark) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  @if abs($color-brightness) < ($light-color/2){
    @return $lighter;
  } @else {
    @return $darker;
  }
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
