@use "sass:color";
@use "sass:list";
@use "sass:math";
@use "sass:string";


@function text-turn($n, $lighter, $darker) {
  $color-brightness: math.round((color.channel($n, 'red', $space: rgb) * 299) + (color.channel($n, 'green', $space: rgb) * 587) + (color.channel($n, 'blue', $space: rgb) * 114) * 0.001);
  $light-color: math.round((color.channel(#ffffff, 'red', $space: rgb) * 299) + (color.channel(#ffffff, 'green', $space: rgb) * 587) + (color.channel(#ffffff, 'blue', $space: rgb) * 114) * 0.001);
  @if math.abs($color-brightness) < ($light-color*0.5){
    @return $lighter;
  } @else {
    @return $darker;
  }
}

@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index : string.index($string, $separator);
  // loop through string
  @while $index != null {
      // get the substring from the first character to the separator
      $item: string.slice($string, 1, $index - 1);
      // push item to array
      $split-arr: list.append($split-arr, $item);
      // remove item and separator from string
      $string: string.slice($string, $index + 1);
      // find new index of separator
      $index : string.index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: list.append($split-arr, $string);

  @return $split-arr;
}
