#status {
  font-size: 1.5em;
  margin-block: 1rem;
  .button[style] {
    --base: var(--cta);
    @if not $buttons-outline {
      --base-text: color-mix(in srgb, var(--light) 25%, black);
    }
    &:hover {
      opacity: .75;
    }
  }
  .loader,
  .icon {
    @if $buttons-outline {
      color: var(--base);
    } @else {
      color: var(--base-text);
    }
    opacity: .75;
  }
  .icon {
    scale: 1.25;
    margin-right: .125em;
    &:has(> use[href="/draws.#{$timestamp}.svg#rotate"]) {
      animation: spin 2.5s linear infinite;
    }
  }
}
.status__label {
  display: none;
}
#status .button[style*='#BEF9C6']/*:not(:hover)*/ i > .status__label--success,
#status .button[style*='#F6E0A5']/*:not(:hover)*/ i > .status__label--building,
#status .button[style*='#D2D5DB']/*:not(:hover)*/ i > .status__label--canceled,
#status .button[style*='#FFBDBA']/*:not(:hover)*/ i > .status__label--error,
#status .button[style*='tomato'] /*:not(:hover)*/ i > .status__label--whaiting,
#status .button[style*='--light']                 i > .status__label--whaiting,
#status .button:not([style])                      i > .status__label--check/*,
#status .button[style]:not([style*='--light']):hover i > .status__label--end*/ {
  display: inline;
}
#deploy-time {
  text-transform: lowercase;
  opacity: .75;
}

#status .button:not([style]) {
  > .icon,
  .loader {
    display: none;
  }
}

.loader {
  display: inline-block;
  position: absolute;
  top: .375em;
  left: 1.25em;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin-loader linear infinite;
  }
  &::after {
    opacity: .5;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }
}

@keyframes spin-loader {
  0%,
  100% {
    box-shadow: .2em 0 0 0 currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0 currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0 -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
