
// Colors
$text:                     #282525                           !default;
$white:                    $styles-colors-base-white         !default;
$light:                    $styles-colors-base-light         !default;
$dark:                     $styles-colors-base-dark          !default;
$black:                    $styles-colors-base-black         !default;
$grey:                     $styles-colors-base-grey          !default;
$main:                     $styles-colors-main-color         !default;
$alt:                   if($styles-colors-alt-color  != '', $styles-colors-alt-color,  mix($white, $main, 50%)) !default;
$link:                     $styles-colors-link-color         !default;

$main-light:            if($styles-colors-main-light != '', $styles-colors-main-light, mix($white, $main, 75%)) !default;
$alt-light:             if($styles-colors-alt-light  != '', $styles-colors-alt-light,  mix($white, $alt,  75%)) !default;
$link-light:            if($styles-colors-link-light != '', $styles-colors-link-light, mix($white, $link, 75%)) !default;

$main-dark:             if($styles-colors-main-dark  != '', $styles-colors-main-dark,  mix($black, $main, 60%)) !default;
$alt-dark:              if($styles-colors-alt-dark   != '', $styles-colors-alt-dark,   mix($black, $alt,  60%)) !default;
$link-dark:             if($styles-colors-link-dark  != '', $styles-colors-link-dark,  mix($black, $link, 60%)) !default;

$grey-contrast-neutral: text-contrast($grey)                !default;
$main-contrast-neutral: if($styles-colors-main-contrast-text == 'true', text-contrast($main), $white) !default;
$alt-contrast-neutral:  if($styles-colors-alt-contrast-text  == 'true', text-contrast($alt ), $white) !default;
$link-contrast-neutral: if($styles-colors-link-contrast-text == 'true', text-contrast($link), $white) !default;

$grey-contrast-colored: text-contrast($grey, $light, $dark) !default;
$main-contrast-colored: if($styles-colors-main-contrast-text == 'true', text-contrast($main, $main-light, $main-dark), $main-light) !default;
$alt-contrast-colored:  if($styles-colors-alt-contrast-text  == 'true', text-contrast($alt,  $alt-light,  $alt-dark ), $alt-light ) !default;
$link-contrast-colored: if($styles-colors-link-contrast-text == 'true', text-contrast($link, $link-light, $link-dark), $link-light) !default;

$grey-contrast-bg:      true                                           !default;
$main-contrast-bg:      $styles-colors-main-contrast-bg      == 'true' !default;
$alt-contrast-bg:       $styles-colors-alt-contrast-bg       == 'true' !default;
$link-contrast-bg:      $styles-colors-link-contrast-bg      == 'true' !default;

$white-3d:              mix($black, $white, 25%)            !default;
$light-3d:              mix($black, $light, 25%)            !default;
$dark-3d:               mix($black, $dark, 25%)             !default;
$black-3d:              mix($dark, $black, 25%)             !default;
$grey-3d:               mix($black, $grey, 25%)             !default;
$main-3d:               mix($black, $main, 25%)             !default;
$alt-3d:                mix($black, $alt, 25%)              !default;
$link-3d:               mix($black, $link, 25%)             !default;

$options-colors: (
  'main':       $main,
  'main-light': $main-light,
  'main-dark':  $main-dark,
  'alt':        $alt,
  'alt-light':  $alt-light,
  'alt-dark':   $alt-dark,
  'link':       $link,
  'link-light': $link-light,
  'link-dark':  $link-dark,
  'white':      $white,
  'light':      $light,
  'grey':       $grey,
  'dark':       $dark,
  'black':      $black
);


// Screen
$screen-min: 375px  !default;
$screen-max: 1232px !default; // 1440?
$screen-xs:  375px  !default;
$screen-sm:  425px  !default;
$screen-md:  768px  !default;
$screen-lg:  1024px !default;
$screen-xl:  1280px !default;
$screens: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);


// Containers
$container-width-max-xs: 512px  !default;
$container-width-max-sm: 720px  !default;
$container-width-max-md: 960px  !default;
$container-width-max-lg: 1200px !default;
$container-width-max-xl: 1440px !default;
$containers: (
  xs: $container-width-max-xs,
  sm: $container-width-max-sm,
  md: $container-width-max-md,
  lg: $container-width-max-lg,
  xl: $container-width-max-xl,
);


// Fonts
// Fonts Family
$font-family-base:         '#{ $styles-fonts-base-family }'           !default;
$font-family-title:        '#{ $styles-fonts-title-family }'          !default;
$font-family-cursive:      '#{ $styles-fonts-cursive-family }'        !default;
// Fonts Weight
$font-weight-base:         $styles-fonts-base-weight                  !default;
$font-weight-title:        $styles-fonts-title-weight                 !default;
$font-weight-cursive:      $styles-fonts-cursive-weight               !default;
// Fonts Weight Bold
$font-weight-bold-base:    $styles-fonts-base-bold                    !default;
$font-weight-bold-title:   $styles-fonts-title-bold                   !default;
$font-weight-bold-cursive: $styles-fonts-cursive-bold                 !default;
// Fonts Style
$font-style-base:          $styles-fonts-base-italic                  !default;
$font-style-title:         $styles-fonts-title-italic                 !default;
$font-style-cursive:       $styles-fonts-cursive-italic               !default;
// Line Height
$line-height-base:         $styles-fonts-base-line-height             !default;
$line-height-title:        $styles-fonts-title-line-height            !default;
$line-height-cursive:      $styles-fonts-cursive-line-height          !default;
// Fonts Size
$font-size-min:            16                                         !default;
$font-size-max:            18                                         !default;
$font-size-title:          $styles-fonts-title-size                   !default;
$font-size-cursive:        $styles-fonts-cursive-size                 !default;
// Fonts Style Top
$top-title:                $styles-fonts-title-top                    !default;
$top-cursive:              $styles-fonts-cursive-top                  !default;
// Blockquote Cursive
$blockquote-cursive:       $styles-fonts-blockquote-cursive == 'true' !default;


// Icons Type
$duotone:                  $styles-emoji-duotone == 'true'         !default;
$emoji-scale:              $styles-emoji-scale   == 'true'         !default;
$menu-bar-double:          $styles-menu-bar * 1rem                 !default;
$menu-bar:                 $menu-bar-double / 2                    !default;

// Rounded
$radius:                   $styles-rounded-radius * 1em            !default;
$chamfer:                  $styles-rounded-chamfer == 'true'       !default;


// Buttons
$buttons-rounded:             $styles-buttons-sides_round         == 'true'        !default;
$icon-buttons-rounded:        $styles-buttons-icon_circle         == 'true'        !default;
$buttons-3d:                  $styles-buttons-deep                == 'true'        !default;
$buttons-outline:             $styles-buttons-outline             == 'true'        !default;
$buttons-font-main:           $styles-buttons-font_main                            !default;
$buttons-font-main-bold:      $styles-buttons-font_main_bold      == 'true'        !default;
$buttons-font-main-uppercase: $styles-buttons-font_main_uppercase == 'true'        !default;
$buttons-font-alt:            $styles-buttons-font_alt                             !default;
$buttons-font-alt-bold:       $styles-buttons-font_alt_bold       == 'true'        !default;
$buttons-font-alt-uppercase:  $styles-buttons-font_alt_uppercase  == 'true'        !default;
@if $radius > 1.25em {
  $radius:                    1.25em;
  $buttons-rounded:           true;
}
@if $buttons-rounded {
  $icon-buttons-rounded:      true;
}
$menu-bar-gap:                if($icon-buttons-rounded and $chamfer, .375em, .5em) !default;


// Shadow
$shadow-left:  $styles-shadow-left * 1rem                                                   !default;
$shadow-top:   $styles-shadow-top  * 1rem                                                   !default;
$shadow-blur:  $styles-shadow-blur * 1rem                                                   !default;
$styles-shadow-opacity: 1 - $styles-shadow-alpha                                            !default;
$shadow-color: rgba(map-get($options-colors, $styles-shadow-color), $styles-shadow-opacity) !default;
$shadow:       $shadow-left $shadow-top $shadow-blur $shadow-color                          !default;
$shadow-half:  ($shadow-left / 2) ($shadow-top / 2) ($shadow-blur / 2) $shadow-color        !default;


// Simplelightbox
$sl-overlay-opacity:    .8     !default;
$sl-overlay-background: $black !default;
$sl-navigation-color:   $white !default;


// Other
$show:             $config-others-show    == 'true' !default;
$google-translate: $menu-google_translate == 'true' !default;
