
// Colors
$text:   #282525                 !default;
$white:  $styles-colors-base-white !default;
$light:  $styles-colors-base-light !default;
$dark:   $styles-colors-base-dark  !default;
$black:  $styles-colors-base-black !default;
$gray:   $styles-colors-base-gray  !default;
$main:   $styles-colors-main-color !default;
$alt: if($styles-colors-alt-color  != '', $styles-colors-alt-color,  mix($white, $main, 50%)) !default;
$cta:    $styles-colors-cta-color  !default;

$main-light: if($styles-colors-main-light != '', $styles-colors-main-light, mix($white, $main, 75%)) !default;
$alt-light:  if($styles-colors-alt-light  != '', $styles-colors-alt-light,  mix($white, $alt,  75%)) !default;
$cta-light:  if($styles-colors-cta-light  != '', $styles-colors-cta-light,  mix($white, $cta,  75%)) !default;

$main-dark:  if($styles-colors-main-dark  != '', $styles-colors-main-dark,  mix($black, $main, 60%)) !default;
$alt-dark:   if($styles-colors-alt-dark   != '', $styles-colors-alt-dark,   mix($black, $alt,  60%)) !default;
$cta-dark:   if($styles-colors-cta-dark   != '', $styles-colors-cta-dark,   mix($black, $cta,  60%)) !default;

$is-gray-turn-fill: true                                        !default;
$is-main-turn-fill: $styles-colors-main-turn-fill == 'true' !default;
$is-alt-turn-fill:  $styles-colors-alt-turn-fill  == 'true' !default;
$is-cta-turn-fill:  $styles-colors-cta-turn-fill  == 'true' !default;

$is-gray-turn-in:   true                                        !default;
$is-main-turn-in:   $styles-colors-main-turn-in == 'true'   !default;
$is-alt-turn-in:    $styles-colors-alt-turn-in  == 'true'   !default;
$is-cta-turn-in:    $styles-colors-cta-turn-in  == 'true'   !default;

$is-gray-turn-text: true                                        !default;
$is-main-turn-text: $styles-colors-main-turn-text == 'true' !default;
$is-alt-turn-text:  $styles-colors-alt-turn-text  == 'true' !default;
$is-cta-turn-text:  $styles-colors-cta-turn-text  == 'true' !default;

$gray-turn-colored: text-turn($gray, $light,      $dark)      !default;
$main-turn-colored: text-turn($main, $main-light, $main-dark) !default;
$alt-turn-colored:  text-turn($alt,  $alt-light,  $alt-dark)  !default;
$cta-turn-colored:  text-turn($cta,  $cta-light,  $cta-dark)  !default;

$gray-turn-colored-flip: text-turn($gray, $dark,      $light)      !default;
$main-turn-colored-flip: text-turn($main, $main-dark, $main-light) !default;
$alt-turn-colored-flip:  text-turn($alt,  $alt-dark,  $alt-light)  !default;
$cta-turn-colored-flip:  text-turn($cta,  $cta-dark,  $cta-light)  !default;

$gray-turn-neutral: text-turn($gray) !default;
$main-turn-neutral: text-turn($main) !default;
$alt-turn-neutral:  text-turn($alt)  !default;
$cta-turn-neutral:  text-turn($cta)  !default;

$gray-turn-neutral-flip: text-turn($gray, $dark, $white) !default;
$main-turn-neutral-flip: text-turn($main, $dark, $white) !default;
$alt-turn-neutral-flip:  text-turn($alt,  $dark, $white)  !default;
$cta-turn-neutral-flip:  text-turn($cta,  $dark, $white)  !default;

$gray-turn-in: text-turn($gray)                                                          !default;
$main-turn-in: if($is-main-turn-in, $main-turn-neutral, $main-turn-neutral-flip) !default;
$alt-turn-in:  if($is-alt-turn-in,  $alt-turn-neutral,  $alt-turn-neutral-flip)  !default;
$cta-turn-in:  if($is-cta-turn-in,  $cta-turn-neutral,  $cta-turn-neutral-flip)  !default;

$gray-turn-colored-in: text-turn($gray-turn-colored) !default;
$main-turn-colored-in: text-turn($main-turn-colored) !default;
$alt-turn-colored-in:  text-turn($alt-turn-colored)  !default;
$cta-turn-colored-in:  text-turn($cta-turn-colored)  !default;

$gray-turn-colored-in-flip: text-turn($gray-turn-colored-in) !default;
$main-turn-colored-in-flip: text-turn($main-turn-colored-in) !default;
$alt-turn-colored-in-flip:  text-turn($alt-turn-colored-in)  !default;
$cta-turn-colored-in-flip:  text-turn($cta-turn-colored-in)  !default;

$white-3d: mix($black, $white, 25%) !default;
$light-3d: mix($black, $light, 25%) !default;
$dark-3d:  mix($black, $dark,  25%) !default;
$black-3d: mix($dark,  $black, 25%) !default;
$gray-3d:  mix($black, $gray,  25%) !default;
$main-3d:  mix($black, $main,  25%) !default;
$alt-3d:   mix($black, $alt,   25%) !default;
$cta-3d:   mix($black, $cta,   25%) !default;


// Screen
$vs:          $utilities-viewport-min * 1px !default;
$vl:          $utilities-viewport-max * 1px !default;
$viewport-xs: $utilities-viewport-xs  * 1px !default;
$viewport-sm: $utilities-viewport-sm  * 1px !default;
$viewport-md: $utilities-viewport-md  * 1px !default;
$viewport-lg: $utilities-viewport-lg  * 1px !default;
$viewport-xl: $utilities-viewport-xl  * 1px !default;


// Containers
$container-width-max-xs: $utilities-containers-xs * 1px !default;
$container-width-max-sm: $utilities-containers-sm * 1px !default;
$container-width-max-md: $utilities-containers-md * 1px !default;
$container-width-max-lg: $utilities-containers-lg * 1px !default;
$container-width-max-xl: $utilities-containers-xl * 1px !default;
$containers: (
  xs: $container-width-max-xs,
  sm: $container-width-max-sm,
  md: $container-width-max-md,
  lg: $container-width-max-lg,
  xl: $container-width-max-xl,
);


// Fonts
// Fonts Family
$font-family-base:         '#{ $styles-fonts-base-family }'           !default;
$font-family-title:        '#{ $styles-fonts-title-family }'          !default;
$font-family-cursive:      '#{ $styles-fonts-cursive-family }'        !default;
// Fonts Weight
$font-weight-base:         $styles-fonts-base-weight                  !default;
$font-weight-title:        $styles-fonts-title-weight                 !default;
$font-weight-cursive:      $styles-fonts-cursive-weight               !default;
// Fonts Weight Bold
$font-weight-bold-base:    $styles-fonts-base-bold                    !default;
$font-weight-bold-title:   $styles-fonts-title-bold                   !default;
$font-weight-bold-cursive: $styles-fonts-cursive-bold                 !default;
// Fonts Style
$font-style-base:          $styles-fonts-base-italic                  !default;
$font-style-title:         $styles-fonts-title-italic                 !default;
$font-style-cursive:       $styles-fonts-cursive-italic               !default;
// Line Height
$line-height-base:         $styles-fonts-base-line-height             !default;
$line-height-title:        $styles-fonts-title-line-height            !default;
$line-height-cursive:      $styles-fonts-cursive-line-height          !default;
// Fonts Size
$font-size-vs:             16                                         !default;
$font-size-vl:             18                                         !default;
$font-size-title:          $styles-fonts-title-size                   !default;
$font-size-cursive:        $styles-fonts-cursive-size                 !default;
// Fonts Style Top
$top-title:                $styles-fonts-title-top                    !default;
$top-cursive:              $styles-fonts-cursive-top                  !default;
// Blockquote Cursive
$blockquote-cursive:       $styles-fonts-blockquote-cursive == 'true' !default;


// Icons Type
$icons-fill:    $styles-icons-fill      !default;
$icons-weight:  $styles-icons-weight    !default;
$icons-grade:   $styles-icons-grade     !default;
$icons-optical: $styles-icons-optical   !default;
$icons-style:   $styles-icons-style     !default;
$icons-scale:   1.4 + ($icons-weight - 100) * (1.125 - 1.4) / (700 - 100);

$linejoin:     if($icons-style == 'rounded', 'round', 'miter')         !default;
$stroke-width: (25 + ($icons-weight - 100) * (120 - 25) / (700 - 100)) !default;

// menu-bar
$menu-bar-double: (0.1 + ($icons-weight - 100) * (0.25 - 0.1) / (700 - 100)) * 1rem !default;
$menu-bar:        $menu-bar-double / 2                                              !default;


// Rounded
$radius:  $styles-rounded-radius * 1em      !default;
$chamfer: $styles-rounded-chamfer == 'true' !default;


// Buttons
$is-btns-pill:        $styles-btns-pill      == 'true' !default;
$is-btns-disc:        $styles-btns-disc      == 'true' !default;
$btns-3d:             $styles-btns-deep      == 'true' !default;
$btns-outline:        $styles-btns-outline   == 'true' !default;
$btns-font-main:      $styles-btns-font                !default;
$btns-font-main-bold: $styles-btns-font_bold == 'true' !default;
$btns-font-main-caps: $styles-btns-font_caps == 'true' !default;
$btns-font-swap:      $styles-btns-swap                !default;
$btns-font-swap-bold: $styles-btns-swap_bold == 'true' !default;
$btns-font-swap-caps: $styles-btns-swap_caps == 'true' !default;
@if $radius > 1.25em {
  $radius:            1.25em;
  $is-btns-pill:      true;
}
@if $is-btns-pill {
  $is-btns-disc:      true;
}
$is-radius:           $radius > 0.01;
$is-any-radius:       $is-radius or $is-btns-pill or $is-btns-disc;
$menu-bar-gap:        if($is-btns-disc and $chamfer, .375em, .5em) !default;


// Shadow
$shadow-opacity: 1 - $styles-shadow-alpha !default;
$options-colors: (
  'main':       rgba($main, $shadow-opacity),
  'main-light': rgba($main-light, $shadow-opacity),
  'main-dark':  rgba($main-dark, $shadow-opacity),
  'alt':        rgba($alt, $shadow-opacity),
  'alt-light':  rgba($alt-light, $shadow-opacity),
  'alt-dark':   rgba($alt-dark, $shadow-opacity),
  'cta':        rgba($cta, $shadow-opacity),
  'cta-light':  rgba($cta-light, $shadow-opacity),
  'cta-dark':   rgba($cta-dark, $shadow-opacity),
  'white':      rgba($white, $shadow-opacity),
  'light':      rgba($light, $shadow-opacity),
  'gray':       rgba($gray, $shadow-opacity),
  'dark':       rgba($dark, $shadow-opacity),
  'black':      rgba($black, $shadow-opacity),
  'turn':       color-mix(in srgb, var(--turn), transparent ($shadow-opacity * 100%)),
  'such':       color-mix(in srgb, var(--such), transparent ($shadow-opacity * 100%)),
  'hide':       transparent
);
$shadow-left:    $styles-shadow-left * 1rem                                            !default;
$shadow-top:     $styles-shadow-top  * 1rem                                            !default;
$shadow-blur:    $styles-shadow-blur * 1rem                                            !default;
$shadow-color:   map-get($options-colors, $styles-shadow-color)                        !default;
$shadow:         $shadow-left $shadow-top $shadow-blur $shadow-color                   !default;
$shadow-half:    ($shadow-left / 2) ($shadow-top / 2) ($shadow-blur / 2) $shadow-color !default;


// Simplelightbox
$sl-overlay-opacity:    .8     !default;
$sl-overlay-background: $black !default;
$sl-navigation-color:   $white !default;


// Other
$show:          $config-others-show == 'true' !default;
$g-translate:   $menu-g_translate   == 'true' !default;
$is-production: $hugo-is-production == 'true' !default;


// String selectors
$hover-focus: ':is(:hover, :focus, .box--go:where(:hover, :focus) *)' !default;
$active:      ':is(:active, .box--go:active *)'                       !default;
