
// Colors
$text:                     #282525                 !default;
$white:                    $styles-colors-base-white !default;
$light:                    $styles-colors-base-light !default;
$dark:                     $styles-colors-base-dark  !default;
$black:                    $styles-colors-base-black !default;
$gray:                     $styles-colors-base-gray  !default;
$main:                     $styles-colors-main-color !default;
$alt:                   if($styles-colors-alt-color  != '', $styles-colors-alt-color,  mix($white, $main, 50%)) !default;
$cta:                      $styles-colors-cta-color  !default;

$main-light:            if($styles-colors-main-light != '', $styles-colors-main-light, mix($white, $main, 75%)) !default;
$alt-light:             if($styles-colors-alt-light  != '', $styles-colors-alt-light,  mix($white, $alt,  75%)) !default;
$cta-light:             if($styles-colors-cta-light  != '', $styles-colors-cta-light,  mix($white, $cta,  75%)) !default;

$main-dark:             if($styles-colors-main-dark  != '', $styles-colors-main-dark,  mix($black, $main, 60%)) !default;
$alt-dark:              if($styles-colors-alt-dark   != '', $styles-colors-alt-dark,   mix($black, $alt,  60%)) !default;
$cta-dark:              if($styles-colors-cta-dark   != '', $styles-colors-cta-dark,   mix($black, $cta,  60%)) !default;

$is-gray-contrast-fill: true                                        !default;
$is-main-contrast-fill: $styles-colors-main-contrast-fill == 'true' !default;
$is-alt-contrast-fill:  $styles-colors-alt-contrast-fill  == 'true' !default;
$is-cta-contrast-fill:  $styles-colors-cta-contrast-fill  == 'true' !default;

$is-gray-contrast-in:   true                                        !default;
$is-main-contrast-in:   $styles-colors-main-contrast-in == 'true'   !default;
$is-alt-contrast-in:    $styles-colors-alt-contrast-in  == 'true'   !default;
$is-cta-contrast-in:    $styles-colors-cta-contrast-in  == 'true'   !default;

$is-gray-contrast-text: true                                        !default;
$is-main-contrast-text: $styles-colors-main-contrast-text == 'true' !default;
$is-alt-contrast-text:  $styles-colors-alt-contrast-text  == 'true' !default;
$is-cta-contrast-text:  $styles-colors-cta-contrast-text  == 'true' !default;

$gray-contrast-colored: text-contrast($gray, $light,      $dark)      !default;
$main-contrast-colored: text-contrast($main, $main-light, $main-dark) !default;
$alt-contrast-colored:  text-contrast($alt,  $alt-light,  $alt-dark)  !default;
$cta-contrast-colored:  text-contrast($cta,  $cta-light,  $cta-dark)  !default;

$gray-contrast-colored-flip: text-contrast($gray, $dark,      $light)      !default;
$main-contrast-colored-flip: text-contrast($main, $main-dark, $main-light) !default;
$alt-contrast-colored-flip:  text-contrast($alt,  $alt-dark,  $alt-light)  !default;
$cta-contrast-colored-flip:  text-contrast($cta,  $cta-dark,  $cta-light)  !default;

$gray-contrast-neutral: text-contrast($gray) !default;
$main-contrast-neutral: text-contrast($main) !default;
$alt-contrast-neutral:  text-contrast($alt)  !default;
$cta-contrast-neutral:  text-contrast($cta)  !default;

$gray-contrast-neutral-flip: text-contrast($gray, $dark, $white) !default;
$main-contrast-neutral-flip: text-contrast($main, $dark, $white) !default;
$alt-contrast-neutral-flip:  text-contrast($alt,  $dark, $white)  !default;
$cta-contrast-neutral-flip:  text-contrast($cta,  $dark, $white)  !default;

$gray-contrast-in: text-contrast($gray)                                                          !default;
$main-contrast-in: if($is-main-contrast-in, $main-contrast-neutral, $main-contrast-neutral-flip) !default;
$alt-contrast-in:  if($is-alt-contrast-in,  $alt-contrast-neutral,  $alt-contrast-neutral-flip)  !default;
$cta-contrast-in:  if($is-cta-contrast-in,  $cta-contrast-neutral,  $cta-contrast-neutral-flip)  !default;

$gray-contrast-colored-in: text-contrast($gray-contrast-colored) !default;
$main-contrast-colored-in: text-contrast($main-contrast-colored) !default;
$alt-contrast-colored-in:  text-contrast($alt-contrast-colored)  !default;
$cta-contrast-colored-in:  text-contrast($cta-contrast-colored)  !default;

$gray-contrast-colored-in-flip: text-contrast($gray-contrast-colored-in) !default;
$main-contrast-colored-in-flip: text-contrast($main-contrast-colored-in) !default;
$alt-contrast-colored-in-flip:  text-contrast($alt-contrast-colored-in)  !default;
$cta-contrast-colored-in-flip:  text-contrast($cta-contrast-colored-in)  !default;

$white-3d:              mix($black, $white, 25%) !default;
$light-3d:              mix($black, $light, 25%) !default;
$dark-3d:               mix($black, $dark,  25%) !default;
$black-3d:              mix($dark,  $black, 25%) !default;
$gray-3d:               mix($black, $gray,  25%) !default;
$main-3d:               mix($black, $main,  25%) !default;
$alt-3d:                mix($black, $alt,   25%) !default;
$cta-3d:                mix($black, $cta,   25%) !default;

$options-colors: (
  'main':       $main,
  'main-light': $main-light,
  'main-dark':  $main-dark,
  'alt':        $alt,
  'alt-light':  $alt-light,
  'alt-dark':   $alt-dark,
  'cta':        $cta,
  'cta-light':  $cta-light,
  'cta-dark':   $cta-dark,
  'white':      $white,
  'light':      $light,
  'gray':       $gray,
  'dark':       $dark,
  'black':      $black
);


// Screen
$vs:          $utilities-viewport-min * 1px !default;
$vl:          $utilities-viewport-max * 1px !default;
$viewport-xs: $utilities-viewport-xs  * 1px !default;
$viewport-sm: $utilities-viewport-sm  * 1px !default;
$viewport-md: $utilities-viewport-md  * 1px !default;
$viewport-lg: $utilities-viewport-lg  * 1px !default;
$viewport-xl: $utilities-viewport-xl  * 1px !default;


// Containers
$container-width-max-xs: $utilities-containers-xs * 1px !default;
$container-width-max-sm: $utilities-containers-sm * 1px !default;
$container-width-max-md: $utilities-containers-md * 1px !default;
$container-width-max-lg: $utilities-containers-lg * 1px !default;
$container-width-max-xl: $utilities-containers-xl * 1px !default;
$containers: (
  xs: $container-width-max-xs,
  sm: $container-width-max-sm,
  md: $container-width-max-md,
  lg: $container-width-max-lg,
  xl: $container-width-max-xl,
);


// Fonts
// Fonts Family
$font-family-base:         '#{ $styles-fonts-base-family }'           !default;
$font-family-title:        '#{ $styles-fonts-title-family }'          !default;
$font-family-cursive:      '#{ $styles-fonts-cursive-family }'        !default;
// Fonts Weight
$font-weight-base:         $styles-fonts-base-weight                  !default;
$font-weight-title:        $styles-fonts-title-weight                 !default;
$font-weight-cursive:      $styles-fonts-cursive-weight               !default;
// Fonts Weight Bold
$font-weight-bold-base:    $styles-fonts-base-bold                    !default;
$font-weight-bold-title:   $styles-fonts-title-bold                   !default;
$font-weight-bold-cursive: $styles-fonts-cursive-bold                 !default;
// Fonts Style
$font-style-base:          $styles-fonts-base-italic                  !default;
$font-style-title:         $styles-fonts-title-italic                 !default;
$font-style-cursive:       $styles-fonts-cursive-italic               !default;
// Line Height
$line-height-base:         $styles-fonts-base-line-height             !default;
$line-height-title:        $styles-fonts-title-line-height            !default;
$line-height-cursive:      $styles-fonts-cursive-line-height          !default;
// Fonts Size
$font-size-vs:             16                                         !default;
$font-size-vl:             18                                         !default;
$font-size-title:          $styles-fonts-title-size                   !default;
$font-size-cursive:        $styles-fonts-cursive-size                 !default;
// Fonts Style Top
$top-title:                $styles-fonts-title-top                    !default;
$top-cursive:              $styles-fonts-cursive-top                  !default;
// Blockquote Cursive
$blockquote-cursive:       $styles-fonts-blockquote-cursive == 'true' !default;


// Icons Type
$duotone:                  $styles-duotone      == 'true' !default;
$menu-bar-double:          $styles-menu-bar * 1rem        !default;
$menu-bar:                 $menu-bar-double / 2           !default;

// Rounded
$radius:                   $styles-rounded-radius * 1em      !default;
$chamfer:                  $styles-rounded-chamfer == 'true' !default;


// Buttons
$buttons-rounded:             $styles-buttons-sides_round    == 'true' !default;
$icon-buttons-rounded:        $styles-buttons-icon_circle    == 'true' !default;
$buttons-3d:                  $styles-buttons-deep           == 'true' !default;
$buttons-outline:             $styles-buttons-outline        == 'true' !default;
$buttons-font-main:           $styles-buttons-font                     !default;
$buttons-font-main-bold:      $styles-buttons-font_bold      == 'true' !default;
$buttons-font-main-uppercase: $styles-buttons-font_uppercase == 'true' !default;
$buttons-font-swap:           $styles-buttons-swap                     !default;
$buttons-font-swap-bold:      $styles-buttons-swap_bold      == 'true' !default;
$buttons-font-swap-uppercase: $styles-buttons-swap_uppercase == 'true' !default;
@if $radius > 1.25em {
  $radius:                    1.25em;
  $buttons-rounded:           true;
}
@if $buttons-rounded {
  $icon-buttons-rounded:      true;
}
$menu-bar-gap:                if($icon-buttons-rounded and $chamfer, .375em, .5em) !default;


// Shadow
$shadow-left:  $styles-shadow-left * 1rem                                                   !default;
$shadow-top:   $styles-shadow-top  * 1rem                                                   !default;
$shadow-blur:  $styles-shadow-blur * 1rem                                                   !default;
$styles-shadow-opacity: 1 - $styles-shadow-alpha                                            !default;
$shadow-color: rgba(map-get($options-colors, $styles-shadow-color), $styles-shadow-opacity) !default;
$shadow:       $shadow-left $shadow-top $shadow-blur $shadow-color                          !default;
$shadow-half:  ($shadow-left / 2) ($shadow-top / 2) ($shadow-blur / 2) $shadow-color        !default;


// Simplelightbox
$sl-overlay-opacity:    .8     !default;
$sl-overlay-background: $black !default;
$sl-navigation-color:   $white !default;


// Other
$show:             $config-others-show    == 'true' !default;
$google-translate: $menu-google_translate == 'true' !default;


// String selectors
$hover-focus: ':is(:hover, :focus, .box--go:where(:hover, :focus) *)' !default;
$active:      ':is(:active, .box--go:active *)'                       !default;
