
// Colors
$text:                     #282525                           !default;
$white:                    $design-colors-base-white         !default;
$light:                    $design-colors-base-light         !default;
$dark:                     $design-colors-base-dark          !default;
$black:                    $design-colors-base-black         !default;
$grey:                     $design-colors-base-grey          !default;
$main:                     $design-colors-main-color         !default;
$alt:                   if($design-colors-alt-color != '', $design-colors-alt-color, mix($white, $main, 50%)) !default;
$link:                     $design-colors-link-color         !default;

$main-light:            if($design-colors-main-light != '', $design-colors-main-light, mix($white, $main, 75%)) !default;
$alt-light:             if($design-colors-alt-light != '',  $design-colors-alt-light,  mix($white, $alt,  75%)) !default;
$link-light:            if($design-colors-link-light != '', $design-colors-link-light, mix($white, $link, 75%)) !default;

$main-dark:             if($design-colors-main-dark  != '', $design-colors-main-dark,  mix($black, $main, 60%)) !default;
$alt-dark:              if($design-colors-alt-dark  != '',  $design-colors-alt-dark,   mix($black, $alt,  60%)) !default;
$link-dark:             if($design-colors-link-dark  != '', $design-colors-link-dark,  mix($black, $link, 60%)) !default;

$grey-contrast-neutral: text-contrast($grey)                !default;
$main-contrast-neutral: if($design-colors-main-contrast-text == 'true', text-contrast($main), $white) !default;
$alt-contrast-neutral:  if($design-colors-alt-contrast-text  == 'true', text-contrast($alt ), $white) !default;
$link-contrast-neutral: if($design-colors-link-contrast-text == 'true', text-contrast($link), $white) !default;

$grey-contrast-colored: text-contrast($grey, $light, $dark) !default;
$main-contrast-colored: if($design-colors-main-contrast-text == 'true', text-contrast($main, $main-light, $main-dark), $main-light) !default;
$alt-contrast-colored:  if($design-colors-alt-contrast-text  == 'true', text-contrast($alt,  $alt-light,  $alt-dark ), $alt-light ) !default;
$link-contrast-colored: if($design-colors-link-contrast-text == 'true', text-contrast($link, $link-light, $link-dark), $link-light) !default;

$grey-contrast-bg:      true                                           !default;
$main-contrast-bg:      $design-colors-main-contrast-bg      == 'true' !default;
$alt-contrast-bg:       $design-colors-alt-contrast-bg       == 'true' !default;
$link-contrast-bg:      $design-colors-link-contrast-bg      == 'true' !default;

$white-3d:              mix($black, $white, 25%)            !default;
$light-3d:              mix($black, $light, 25%)            !default;
$dark-3d:               mix($black, $dark, 25%)             !default;
$black-3d:              mix($dark, $black, 25%)             !default;
$grey-3d:               mix($black, $grey, 25%)             !default;
$main-3d:               mix($black, $main, 25%)             !default;
$alt-3d:                mix($black, $alt, 25%)              !default;
$link-3d:               mix($black, $link, 25%)             !default;

$options-colors: (
  'main':       $main,
  'main-light': $main-light,
  'main-dark':  $main-dark,
  'alt':        $alt,
  'alt-light':  $alt-light,
  'alt-dark':   $alt-dark,
  'link':       $link,
  'link-light': $link-light,
  'link-dark':  $link-dark,
  'white':      $white,
  'light':      $light,
  'grey':       $grey,
  'dark':       $dark,
  'black':      $black
);


// Screen
$screen-min:             320px                     !default;
$screen-max:             1200px                    !default; // 1440?
$screen-xs:              375px                     !default;
$screen-sm:              425px                     !default;
$screen-md:              800px                     !default;
$screen-lg:              1024px                    !default;
$screen-xl:              1200px                    !default;
$screen-menu-sticky:     $menu-screen_sticky * 1px !default;
$container-width-max-xs: 500px                     !default;
$container-width-max-sm: 720px                     !default;
$container-width-max-md: 960px                     !default;
$container-width-max-lg: 1200px                    !default;
$container-width-max-xl: 1440px                    !default;


// Fonts
// Fonts Size
$font-size-min:       16px  !default;
$font-size-max:       18px  !default;
$font-size-base:      fluid-size($font-size-min, $font-size-max) !default;
$font-size-title:     1em   !default;
$font-size-cursive:   1em   !default;
// Fonts Family
$font-family-base:         '#{ $design-fonts-base-family }'           !default;
$font-family-title:        '#{ $design-fonts-title-family }'          !default;
$font-family-cursive:      '#{ $design-fonts-cursive-family }'        !default;
// Fonts Weight
$font-weight-base:         $design-fonts-base-weight                  !default;
$font-weight-title:        $design-fonts-title-weight                 !default;
$font-weight-cursive:      $design-fonts-cursive-weight               !default;
// Fonts Weight Bold
$font-weight-bold-base:    $design-fonts-base-strong                  !default;
$font-weight-bold-title:   $design-fonts-title-strong                 !default;
$font-weight-bold-cursive: $design-fonts-cursive-strong               !default;
// Fonts Style
$font-style-base:          $design-fonts-base-italic                  !default;
$font-style-title:         $design-fonts-title-italic                 !default;
$font-style-cursive:       $design-fonts-cursive-italic               !default;
// Line Height
$line-height-base:         $design-fonts-base-line-height             !default;
$line-height-title:        $design-fonts-title-line-height            !default;
$line-height-cursive:      $design-fonts-cursive-line-height          !default;
// Fonts Style Top
$top-title:                $design-fonts-title-top                    !default;
$top-cursive:              $design-fonts-cursive-top                  !default;
// Blockquote Cursive
$blockquote-cursive:       $design-fonts-blockquote-cursive == 'true' !default;


// Icons Type
$duotone:                  $design-emoji-duotone == 'true'         !default;
$emoji-scale:              $design-emoji-scale   == 'true'         !default;
$menu-bar-double:          $design-menu-bar * 1rem                 !default;
$menu-bar:                 $menu-bar-double / 2                    !default;

// Rounded
$radius:                   $design-rounded-radius * 1em            !default;
$chamfer:                  $design-rounded-chamfer == 'true'       !default;


// Buttons
$buttons-rounded:          $design-buttons-sides_round == 'true'           !default;
$icon-buttons-rounded:     $design-buttons-icon_circle == 'true'           !default;
$buttons-3d:               $design-buttons-deep        == 'true'           !default;
$buttons-outline:          $design-buttons-outline     == 'true'           !default;
$buttons-font-base:        $design-buttons-font_base   == 'true'           !default;
@if $radius > 1.25em {
  $radius:                 1.25em;
  $buttons-rounded:        true;
}
@if $buttons-rounded {
  $icon-buttons-rounded:   true;
}
$menu-bar-gap:             if($icon-buttons-rounded and $chamfer, .375em, .5em) !default;


// Shadow
$shadow-left:  $design-shadow-left * 1rem                                                   !default;
$shadow-top:   $design-shadow-top  * 1rem                                                   !default;
$shadow-blur:  $design-shadow-blur * 1rem                                                   !default;
$shadow-color: rgba(map-get($options-colors, $design-shadow-color), $design-shadow-opacity) !default;
$shadow:       $shadow-left $shadow-top $shadow-blur $shadow-color                          !default;


// Simplelightbox
$sl-overlay-opacity:    $design-lightbox_overlay-opacity                         !default;
$sl-overlay-background: map-get($options-colors, $design-lightbox_overlay-color) !default;
$sl-navigation-color:   text-contrast($sl-overlay-background);


// Other
$showup:           $design-performance-showup   == 'true' !default;
$parallax:         $design-performance-parallax == 'true' !default;
$search:           $article-search              == 'true' !default;
$google-translate: $menu-google_translate       == 'true' !default;
$copy:             '#{ $copied }'                         !default;
