@import 'hugo:vars';
@import 'cms/_func';
:root:not(#aux) {
  @import 'cms/sveltia-cms/_hint';
  @import 'cms/sveltia-cms/_hide';
  @import 'cms/sveltia-cms/_view';
  @import 'cms/sveltia-cms/_icon';
  // @import 'cms/sveltia-cms/_divs';
  @import 'cms/sveltia-cms/_boolean';
  @import 'cms/sveltia-cms/widgets/_object';
  @import 'cms/sveltia-cms/widgets/_list';
  @import 'cms/sveltia-cms/widgets/_markdown';
}