
// Buttons Group

.buttons {
  display: flex;
  justify-content: var(--align, center);
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  > *:not(.button) {
    display: flex;
    gap: .25em;
  }
}


// Button

.button {
  color: var(--base-text);
  background-color: color-mix(in srgb, var(--base), transparent 100%);
  position: relative;
  @if $radius > 0.01 or $buttons-rounded or $icon-buttons-rounded {
    @extend %radius;
  }
  &:before {
    content: '';
    background-image: none;
    z-index: -1;
  }
  &:before,
  &:after {
    transition: background-color .1s;
    background-color: var(--base);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @if not $chamfer {
      z-index: -1;
    }
    // radius
    @if $radius > 0.01 or $buttons-rounded or $icon-buttons-rounded {
      @if $chamfer {
        clip-path: var(--chamfer);
      } @else {
        border-radius: var(--radius-end);
      }
    }
  }
  @if $buttons-rounded {
    --radius: 1.25em;
  }
  transition: color;
  background-image: none;
  border: none;
  // outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .375em;
  padding: .5em 1.5em;
  min-height: 2.5em;
  > svg {
    font-size: 1.5em;
    color: var(--base-text);
    opacity: .75;
    transition: color .1s;
  }
  > i {
    @include font-button;
    line-height: 1.25;
    text-align: left;
  }
  @if $buttons-3d {
    transform: translateY(-.25em);
    &:after {
      content: '';
      filter: brightness(.75);
      transform: translateY(.25em);
      transition: background-color .1s, transform .1s;
      z-index: -2;
    }
    @if $chamfer {
      transition: color, filter, transform;
      filter: drop-shadow($shadow);
    } @else {
      transition: color, box-shadow, transform;
      &:after {
        box-shadow: $shadow;
      }
    }
  }
  transition-duration: .1s;
}


// Hover, Focus and Active

.button {
  &:is(
    :hover,
    :focus,
    .box:has(> .box__button):not(:has(
      .box .box__button,
      > .box__button ~ .box__button,
      .href:not(.box__link, .box__button)
    )):where(
      :hover,
      :focus
    ) > .box__button
  ) {
    @if $buttons-outline {
      color: var(--base);
    } @else {
      color: var(--base-text);
    }
    --base: var(--hover);
    --base-text: var(--hover-text);
    @if $buttons-3d {
      transform: translateY(-.125em);
      &:after {
        transform: translateY(.125em);
      }
      @if $chamfer {
        filter: drop-shadow($shadow-half);
      } @else {
        &:after {
          box-shadow: $shadow-half;
        }
      }
    }
  }
  &:is(
    :active,
    .box:has(> .box__button):not(:has(
      .box .box__button,
      > .box__button ~ .box__button,
      .href:not(.box__link, .box__button)
    )):active > .box__button,
    .menu__button:where(.menu__item--active > *):not(:hover)
  ) {
    @if $buttons-outline {
      color: var(--base);
    } @else {
      color: var(--base-text);
    }
    --base: var(--active);
    --base-text: var(--active-text);
    @if $buttons-3d {
      filter: none;
      transform: none;
      &:after {
        transform: none;
        box-shadow: 0 0 0 $shadow-color;
      }
    }
  }
}


// Small

.button--sm {
  gap: .25em;
  padding: .25em 1em;
  min-height: 2em;
  @if $radius > 1 or $buttons-rounded {
    --radius: 1em;
  }
  > svg {
    font-size: 1.25em;
  }
}


// Icon

.button--dot {
  padding: .5em;
  width: 3em;
  height: 3em;
  line-height: 2;
  > svg {
    opacity: 1;
    font-size: 2em;
  }
  > i:not(.aux) {
    @include ofuscate;
    z-index: -2;
  }
  @if $icon-buttons-rounded {
    &:before,
    &:after {
      @include circle;
    }
    @if $chamfer {
      > svg {
        font-size: 1.5em;
      }
    }
  }
}


// Font Alternative

.button--font-alt {
  > i {
    @include font-button(alt);
    line-height: 1.25;
    @if $top-title != 0 {
      &:not(.aux) {
        transform: none;
      }
    }
  }
  &:not(.button) {
    > i {
      @include font-button;
    }
  }
}


// Pagination

.sl-close,
.sl-prev,
.sl-next {
  &:after,
  &:before {
    content: none;
  }
}


// Outline

@if $buttons-outline {
  .button {
    color: var(--text);
    > svg {
      opacity: 1;
      color: var(--base);
    }
    &:before,
    &:after {
      @if $chamfer and ($radius > 0.01 or $buttons-rounded or $icon-buttons-rounded) {
        clip-path: var(--chamfer-outline);
      } @else {
        border: var(--outline) var(--base) solid;
        background-color: transparent;
      }
    }
    @if $buttons-3d {
      &:after {
        opacity: .25;
      }
      @if $chamfer {
        filter: none;
      } @else {
        &:after {
          box-shadow: none;
          z-index: -2;
        }
      }
    }
  }
  .button--dot:not(:hover,:focus,:active) {
    > svg {
      color: var(--text);
    }
  }
  @if $chamfer and $icon-buttons-rounded {
    .button--dot {
      &:before,
      &:after {
        clip-path: var(--diamond-outline);
      }
    }
  }
  // Float icon
  .menu__toggle,
  .callnow .button--dot,
  .up .button--dot,
  .modal__back,
  .modal__close--corner {
    // --text: var(--base);
    // svg {
    //   color: var(--base);
    // }
    @if $chamfer and ($radius > 0.01 or $buttons-rounded or $icon-buttons-rounded) {
      i {
        @if $icon-buttons-rounded {
          clip-path: var(--diamond);
          top: var(--outline-diamond);
          left: var(--outline-diamond);
          width: calc(100% - var(--outline-diamond) * 2);
          height: calc(100% - var(--outline-diamond) * 2);
        } @else {
          clip-path: var(--chamfer-int-outline);
        }
        background-color: var(--bg-color);
      }
    } @else if {
      &:before {
        background-color: var(--bg-color);
      }
    }
  }
}