.collapsible__button {
  font-size: 1rem;
  // padding: .657em 1.125em;
  padding-left: 1.125em;
  padding-right: 1.125em;
  margin: 0;
}
button > .collapsible__button-icon {
  transform: rotate(0deg);
  transition: transform .3s;
}
.collapsible__button-icon.collapsible__button-icon--active {
  transform: rotate(45deg);
}
.collapsible__target {
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  transition: max-height .3s, margin-top .3s;
}