.href {
  display: inline;
  color: var(--link);
  cursor: pointer;
  --href-undeline-offset: calc(var(--top-font) * 2);
  --href-undeline-width: var(--outline);
  --href-undeline-top: calc(100% - var(--href-undeline-offset) - var(--href-undeline-width));
  --href-undeline-bottom: calc(100% - var(--href-undeline-offset));
  background-image: linear-gradient(to bottom,
    transparent var(--href-undeline-top),
    var(--link) var(--href-undeline-top),
    var(--link) var(--href-undeline-bottom),
    transparent var(--href-undeline-bottom)
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size, color;
  transition-duration: .3s;
  &:hover,
  &:focus {
    @include link-hover;
  }
  &:active {
    @include link-active;
  }
}