.parallax {
  --parallax-pos: 0;
}
.parallax--bg > .bg-color > * {
  @include like-bg-cover;
  object-fit: cover;
  background-position: center 0;
  height: calc(110% + 10lvh);
  transform: translateY(calc(var(--parallax-pos) * 1px));
}
.parallax--box:not(#aux) {
  --parallax-transform: translateY(calc(var(--parallax-pos) * 1px + 7.5cqh));
  // --parallax-transform: rotateX(calc(var(--parallax-pos) * .1deg + 7.5deg));
  // --parallax-transform: rotateY(calc(var(--parallax-pos) * .2deg + 10deg));
  transform: var(--parallax-transform);
  transform-origin: center;
  transition: none;
  z-index: 1;
}
*:has(> .parallax--box) {
  perspective: 30em;
  perspective-origin: center;
}
// Fix scoll smoth
.scrolling {
  .slider__track {
    scroll-snap-type: none;
  }
}
.bg--fix {
  filter: none; // If not, bg--fix not rule
  // .container {
  //   z-index: 1; // Fix .bg--fix stepping on top links in Safari
  // }
  > .bg-color {
    background-attachment: fixed;
  }
  > .bg-figure {
    clip-path: inset(0);
    // z-index: 0; // Fix stepping on top links in Safari
    .bg-figure-image {
      position: fixed;
      top: 0;
    }
  }
  &.box {
    .bg-figure-image {
      @include radius-child;
    }
  }
}