
// PILL

.container,
.column {
  &.pill-top {
    > .bg-color,
    > .bg-figure  {
      --radius-top: calc(var(--box-width, 100%) / 2);
    }
    > .image,
    > .column__content .image:not(.description *) {
      &, .image__inner {
        --radius-top: calc(var(--box-inner, 100%) / 2);
      }
    }
    > .image--inset,
    > .column__content .image--inset:not(.description *) {
      &, .image__inner {
        --radius-top: calc(var(--box-width, 100%) / 2);
      }
    }
    > .image--border,
    > .column__content .image--border:not(.description *) {
      &:not(.image--circle) {
        .image__inner {
          --radius-top: calc(var(--box-inner, 100%) / 2 - var(--image-border-width));
          @if $chamfer {
            margin-top: calc((var(--radius) + var(--image-border-width)) * .7071);
          }
        }
      }
    }
    > .image--border.image--inset,
    > .column__content .image--border.image--inset:not(.description *) {
      .image__inner {
        --radius-top: calc(var(--box-width, 100%) / 2 - var(--image-border-width));
      }
    }
    &.bg {
      > .image:not(.image--inset),
      > .column__content .image:not(.description *, .image--inset) {
        @if $chamfer {
          margin-top: calc(var(--radius) * .7071);
        }
      }
    }
  }
  &.pill-bottom {
    > .bg-color,
    > .bg-figure,
    > .column__content {
      --radius-bottom: calc(var(--box-width, 100%) / 2);
    }
  }
}
.container {
  &.pill-top {
    > .section__icon--top {
        margin-top: calc((var(--box-inner) - var(--icon-size)) / 2 - var(--box-padding) * 2);
    }
  }
  &.pill-bottom {
    padding-bottom: calc(var(--box-width, 100%) / 2);
  }
}
.column {
  &.pill-top {
    .section__icon--top {
      &:first-child {
        margin-top: calc((var(--box-inner) - var(--icon-size)) / 2 - 1em);
      }
    }
  }
  &.pill-bottom {
    &.bg.column--button-hide .description,
    .description:last-child {
      padding-bottom: calc((var(--box-inner) / 2) - var(--box-padding) * 2);
      // .float {
      //   // margin-top: calc(100% - var(--box-inner) / 2);
      //   width: calc(var(--box-inner) / 2);
      //   height: 100%;
      //   float: left;
      //   display: flex;
      //   align-items: flex-end;
      //   // --shape-outside: polygon(
      //   //     0%   0%,
      //   //     0% 100%,
      //   //   100% 100%,
      //   //    63%  93%,
      //   //    30%  71%,
      //   //     8%  39%
      //   // );
      //   --shape-outside: polygon(
      //       0%  calc(100% +   0 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //       0%  calc(100% + 100 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     100%  calc(100% + 100 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //      63%  calc(100% +  93 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //      30%  calc(100% +  71 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //       8%  calc(100% +  39 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2)
      //   );
      //   // --shape-outside:
      //   //   linear-gradient(
      //   //     0deg,
      //   //     transparent calc(var(--box-inner) / 2),
      //   //     white calc(var(--box-inner) / 2)
      //   //   ),
      //   //   radial-gradient(
      //   //     circle calc(var(--box-inner) / 2) at
      //   //     calc(var(--box-inner) / 2)
      //   //     calc(100% - var(--box-inner) / 2),
      //   //     white,
      //   //     white calc(var(--box-inner) / 2),
      //   //   black
      //   //     );
      //   shape-outside: var(--shape-outside);
      //   clip-path: var(--shape-outside);
      //   background-color: red;
      //   // &:before {
      //   //   content: '';
      //   //   background-image: var(--shape-outside);
      //   //   width: calc(var(--box-inner) / 2);
      //   //   height: calc(var(--box-inner) / 2);
      //   // }
      // }
      // .float--r {
      //   float: right;
      //   --shape-outside: polygon(
      //     calc(100% -   0%)  calc(100% +   0 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     calc(100% -   0%)  calc(100% + 100 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     calc(100% - 100%)  calc(100% + 100 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     calc(100% -  63%)  calc(100% +  93 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     calc(100% -  30%)  calc(100% +  71 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2),
      //     calc(100% -   8%)  calc(100% +  39 / 100 * var(--box-inner) / 2 - var(--box-inner) / 2)
      //   );
      // }
    }
  }
}
