@if $showup {
  /*! purgecss start ignore */
  [data-showup] {
    transition: transform .75s, opacity 1s;
    transform-origin: center top;
  }
  [data-showup]:nth-child(2n+3) {
    transition-delay: .1s;
  }
  // [data-showup]:nth-child(3n+3) {
  //   transition-delay: .2s;
  // }
  .showup {
    transform: translateY(3rem);
    opacity: 0;
    will-change: transform, opacity;
  }
  a[data-showup] {
    transition: transform .75s, opacity 1s, background-size .3s ease;
  }
  /*! purgecss end ignore */
}