
/*! purgecss start ignore */
:root {
  scrollbar-width: thin;
  scrollbar-color: #babac0 transparent;
  scrollbar-gutter: stable both-edges;
}
// .custom-scrollbar {
//   &,
//   * {
//     scrollbar-width: thin;
//     scrollbar-color: #babac0 transparent;
//     &::-webkit-scrollbar {
//       width: .75em;
//     }
//     &::-webkit-scrollbar,
//     &::-webkit-scrollbar-track {
//       background-color: transparent;
//     }
//     &::-webkit-scrollbar-thumb {
//       background-color: #babac0;
//       border-radius: .375em;
//       border: .125em solid var(--bg-color, $light);
//     }
//     &::-webkit-scrollbar-button {
//       display:none;
//     }
//   }
//   body {
//     &::-webkit-scrollbar {
//       width: .75em;
//     }
//     &::-webkit-scrollbar,
//     &::-webkit-scrollbar-track {
//       background-color: var(--bg-color, $light);
//     }
//     &::-webkit-scrollbar-thumb {
//       border: .125em solid var(--bg-color, $light);
//     }
//   }
// }
/*! purgecss end ignore */