#search__form {
  margin-top: -2.75em;
}
.search__bar {
  display: flex;
  gap: .75em;
}
#search__input {
  width: 100%;
}
#search__submit {
  flex-shrink: 0;
}
#search__results {
  // list-style: none;
  padding: 0;
  margin: 2em 0 0;
}
.search__result-item-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  outline-offset: 0;
  outline-width: .125em;
  outline-style: dashed;
  outline-color: transparent;
  border-radius: $radius;
  transition: outline-offset .3s, outline-color .3s;
  z-index: 3;
  background-image: none;
  &:focus {
    outline-offset: .5em;
    outline-color: $cta;
  }
}