.slider {
  position: relative;
}


// TRACK

.slider__track {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  // margin: -.5em;
  // padding: .5em;
  --margin-side: min(var(--container-margin-side, -.5em), -.5em);
  margin: -2em var(--margin-side);
  padding: 2em calc(var(--margin-side) * -1);
  --mask-sides: linear-gradient(to right, transparent, #000 calc(var(--margin-side) * -1), #000 calc(100% - calc(var(--margin-side)) * -1),transparent);
  -webkit-mask-image: var(--mask-sides);
  mask-image: var(--mask-sides);
  scrollbar-width: none;
  // Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}


// ITEMS

.slider__items {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  --aux-side-width: calc((var(--columns) - 1) / 2);
  padding-inline: calc(var(--box-width) * var(--aux-side-width) + var(--gap-width) * (var(--aux-side-width) - 1) + var(--gap-width));
  > * {
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  // Hack to view right shadow in the last item only if there are more that one
  // &:not(.boxes) {
    // > *:nth-last-child(2) + * {
    //   margin-right: .5em;
    // }
  // }
  // &:after {
  //   content: '';
  //   margin-left: -.5em;
  //   // flex-shrink: 0;
  //   // width: .1px;
  // }
}


// BULLETS

.slider__bullets {
  display: flex;
  justify-content: center;
  gap: 0 .375em;
  margin-top: 1em;
  flex-wrap: wrap;
}
.slider__bullets--hide {
  display: none;
}
.slider__bullet {
  min-width: 2em;
  min-height: initial;
  padding: 1em 0;
  --radius: min(#{ $radius / 2 }, #{ .1875em / 2 });
  &:before {
    height: .1875em;
    position: relative;
  }
  --base: var(--similar);
  &--active {
    --base: var(--border);
  }
  &:not(#aux) {
    &:focus {
      --base: var(--link);
    }
    &,
    &:hover,
    &:focus,
    &:active {
      filter: none;
      transform: none;
    }
  }
  &:after {
    content: none;
  }
}
.slider__bullets--radius {
  gap: 0;
  .slider__bullet {
    min-width: 2em;
    height: 2em;
    padding: .5em;
    --radius: 50%;
    &:before {
      width: 1em;
      height: 1em;
    }
  }
}


// ARROWS

.slider__arrows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  &.slider__arrows--hide {
    display: none;
  }
}
.slider__arrows--float {
  margin: 0;
  .slider__arrow {
    @include fluid-size(--slider-arrow-size, 1em, 2, 3);;
    width: var(--slider-arrow-size);
    height: 100%;
    &:where(.reviews ~ .slider__arrows > *) {
      --slider-arrow-push: 4em;
    }
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: radial-gradient(ellipse farthest-side at var(--slider-arrow-side-at, left), var(--bg-color), transparent);
    --slider-arrow-side: var(--container-margin-side);
    &::before,
    &::after {
      content: none;
    }
    > svg {
      @include fluid-size(font-size, 1em, 1.5, 2);
      color: var(--title);
    }
  }
  .slider__arrow--left {
    left: var(--slider-arrow-side);
  }
  .slider__arrow--right {
    right: var(--slider-arrow-side);
    --slider-arrow-side-at: right;
  }
}
.slider__bullets +
.slider__arrows--float
.slider__arrow {
  height: calc(100% - 3.2em);
}


// STATIC

.slider--static {
  .slider__track {
    overflow-x: hidden;
  }
  .slider__items {
    padding-inline: 0;
  }
  .slider__bullets,
  .slider__arrows {
    display: none;
  }
}
