#toc {
  .toc {
    counter-reset: item;
    li{
      display: table-row;
      &:before {
        @include font-base-bold;
        content: counters(item, ".") ". ";
        counter-increment: item;
        display: table-cell;
        color: var(--link, $link);
        padding-right: .25em;
        text-align: right;
        padding-top: .75em;
        white-space: nowrap;
      }
    }
    nav > ol > li:first-child:before {
      padding-top: 0;
    }
    .href {
      @include font-base;
      color: inherit;
    }
    svg {
      color: var(--main);
    }
  }
  .align-center {
    .toc {
      margin-left: auto;
    }
  }
  .align-right {
    .toc {
      margin-left: auto;
      margin-right: 0;
      li:before {
        content: " ." counters(item, ".");
      }
    }
  }
}