& {
  --hint-left: 0;
  --hint-max-width: calc(640px + 1.5em);
  --reset-right: .125rem;
  @media (min-width: 648px) {
    --hint-left: calc((100vw - 640px) / 2 - .5rem);
    --reset-right: var(--hint-left);
  }
}
.CMS_EditorControl_root .CMS_EditorControl_root {
  --hint-left: 0;
  --hint-max-width: 100%;
  --reset-right: .125rem;
}

// Parent
.CMS_Editor_content {
  width: 100%;
  margin-block: auto;
}

// Box background
.CMS_Field_root {
  align-items: flex-start;
}
.CMS_Field_root,
.CMS_WidgetObject_root,
.CMS_WidgetList_field-wrapper,
.CMS_WidgetList_sortable-item,
.CMS_WidgetCode_root,
.CMS_Hint_root {
  // border-width: .0625rem;
  // border-radius: .5rem;
  padding: .5rem .75rem;
  border-bottom-width: .0625rem;
  border-color: var(--border);
  background-color: var(--bg);
  width: 100%;
  // height: 100%;
  // box-shadow: var(--shadow);
  // Remove paddings
  > * {
    width: 100%;
    max-width: 640px;
    margin-inline: auto;
    padding-inline: 0;
  }
  > :first-child {
    padding-top: 0;
  }
  // > :last-child {
  //   padding-bottom: 0;
  // }
}
.CMS_Field_for-single-list .CMS_Hint_root {
  background-color: var(--bgc, var(--bg));
}
.CMS_WidgetObject_root,
.CMS_WidgetList_field-wrapper,
.CMS_WidgetList_sortable-item {
  padding-block: .625em;
  // min-height: 41px;
  // place-content: center;
}
// Gap of fields and margin of parents
.CMS_EditorControlPane_root,
.CMS_WidgetObject_fields,
.CMS_WidgetObject_list-root,
.CMS_WidgetList_fields {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  flex-direction: column;
  // gap: 1.5rem;
  margin-top: 1em;
  // margin-right: -.75em;
  overflow: visible;
  > * {
    flex-grow: 1;
    // min-width: calc(50% - .75rem);
    min-width: 100%;
  }
  .CMS_WidgetObject_list-root {
    margin-top: 0;
  }
}
