// button reset
.is-not-set:after {
  content: '○';
  color: var(--common-gray);
  line-height: 1;
  text-align: center;
}
.is-not-set:after,
.button--reset {
  position: absolute;
  top: .125rem;
  right: .125rem;
  height: 1rem;
  width: 1rem;
}
// boolean
[aria-label="boolean field"] {
  .is-not-set:after,
  .button--reset {
    top: .875rem;
    right: .5rem;
  }
}
// select
[aria-label="select field"] > .is-not-set .CMS_Select_label {
  display: none;
}
// rest
.is-empty :is(
  input,
  textarea,
  .CMS_Select_label-text,
  .CMS_WidgetMarkdown_plate-editor
):not(:focus) {
  color: transparent;
}