.is-not-set:after {
  content: '○';
  color: var(--common-gray);
  line-height: 1;
  text-align: center;
}
.is-not-set:after,
.button--reset {
  position: absolute;
  top: .125rem;
  right: .125rem;
  height: 1rem;
  width: 1rem;
}
.CMS_EditorControl_root[aria-label^="boolean"] {
  .is-not-set:after,
  .button--reset {
    top: .875rem;
    right: .5rem;
  }
}
.is-empty :is(input, textarea) {
  color: transparent;
}