// CONFIG LANGS

// No hidden if param is set
.name-langs :has(> .name-lang:not(.is-set)) ~ * {
  display: none;
}


// BOXES WIDGETS

// No hidden if param is set
:has(> .name-view) ~ :not(:has(.is-set)) {
  display: none;
}

// No hidden if match view
:has(> [data-view*="group"]) ~ :has(> :is(
  .name-columns,
  .name-columns_min,
  .name-gap,
  .name-gap_ny,
  .name-direction,
  .name-group_radius,
  .name-slider,
  .name-slider_interval,
  .name-slider_bullets,
  .name-slider_arrows,
  .name-align_x,
  .name-align_y
)),
:has(> [data-view*="text"]) ~ :has(> :is(
  .name-title,
  .name-hanchor,
  .name-subtitle,
  .name-price,
  .name-content,
  .name-hs,
  .name-hn,
  .name-uppercase,
  .name-underline,
  .name-align,
  .name-align_max,
  .name-hs,
  .name-hn,
  .name-uppercase,
  .name-underline,
  .name-align,
  .name-align_max
)),
:has(> [data-view*="menu"]) ~ :has(> :is(
  .name-menu_label,
  .name-menu_button,
  .name-menu_font_alt,
  .name-menu_button,
  .name-menu_font_alt
)),
:has(> [data-view*="icon"]) ~ :has(> :is(
  .name-icon,
  .name-icon_type,
  .name-icon_size,
  .name-icon_color
)),
:has(> [data-view*="image"]) ~ :has(> :is(
  .name-image,
  .name-hover,
  .name-ratio,
  .name-contain,
  .name-border,
  .name-inset,
  .name-circle,
  .name-grayscale,
  .name-declive
)),
:has(> [data-view*="button"]) ~ :has(> :is(
  .name-licon,
  .name-link,
  .name-label,
  .name-anchor,
  .name-ofuscate,
  .name-font_alt,
  .name-ga4,
  .name-button
)),
:has(> [data-view*="bg"]) ~ :has(> :is(
  .name-color,
  .name-gradient_color,
  .name-gradient_type,
  .name-color_alpha,
  .name-bg,
  .name-alpha,
  .name-parallax
)),
:has(> [data-view*="container"]) ~ :has(> :is(
  .name-box_color,
  .name-box_gradient_color,
  .name-box_gradient_type,
  .name-box_color_alpha,
  .name-box_bg,
  .name-box_alpha,
  .name-box_parallax
)),
:has(> [data-view*="paddings"]) ~ :has(> :is(
  .name-pt,
  .name-pb,
  .name-ph
)),
:has(> [data-view*="size"]) ~ :has(> :is(
  .name-size,
  .name-full
)),
:has(> [data-view*="divider"]) ~ :has(> :is(
  .name-divider,
  .name-divider_flip_x,
  .name-divider_flip_y
)),
:has(> [data-view*="boxi"]) ~ :has(> :is(
  .name-order,
  .name-span,
  .name-span_min,
  .name-grow,
  .name-align_y_self,
  .name-rate,
  .name-gap_y,
  .name-padding,
  .name-hide_shadow,
  .name-hide_radius,
  .name-pill,
  .name-card,
  )),
:has(> [data-view*="other"]) ~ :has(> :is(
  .name-if,
  .name-node,
  .name-params,
  .name-tag,
  .name-tags
)),
:has(> [data-view*="list"]) ~ :has(> :is(
  .name-list,
  .name-box
)),
:has(> [data-view*="steps"]) ~ :has(> :is(
  .name-step,
  .name-steps
)),
:has(> [data-view*="collapsibles"]) ~ :has(> :is(
  .name-collapsible,
  .name-collapsibles
)),
:has(> [data-view*="gallery"]) ~ :has(> :is(
  .name-gallery,
  .name-images,
  .name-limages
)),
:has(> [data-view*="reviews"]) ~ :has(> :is(
  .name-review,
  .name-reviews
)),
:has(> [data-view*="contact"]) ~ :has(> :is(
  .name-contact,
  .name-social
)),
:has(> [data-view*="form"]) ~ :has(> :is(
  .name-form,
  .name-inputs
)),
:has(> [data-view*="map"]) ~ :has(> :is(
  .name-map,
  .name-zoom
)),
:has(> [data-view*="gss"]) ~ :has(> :is(
  .name-gss,
  .name-gss_sheet
)),
:has(> [data-view*="boxes"]) ~ :has(> :is(
  .name-box,
  .name-boxes
))
{
  display: block;
}