@use 'sass:list';
@use 'sass:string';

$view-fields: (
  group: (cols, cols_vs, gap, gap_ny, to, duo, sides, group_radius, slider, time, pips, arrows, align_x, align_y),
  titles: (title, hanchor, sub, price, hs, hs_vs, hn, caps, line),
  md: (md, md_align, md_align_vl, md_sm, md_caps, md_line, md_index, md_nav, md_border),
  icon: (icon, icon_pos, icon_size, icon_color),
  img: (img, hover, alt, hover_alt, vid, mute, ratio, contain, border, inset, disc, gray, shade),
  button: (pin, url, label, anchor, lock, swap, ga4, button),
  bg: (color, fade, fade_to, color_alpha, bi, alpha, scroll),
  paddings: (pt, pb, ph),
  size: (size, full),
  divider: (div, div_x, div_y),
  menu: (menu_label, menu_btn, menu_swap),
  boxi: (id, order, fit, fit_vs, grow, align_y, align, align_vl, side, rate, space, pd, hide_shadow, hide_radius, pill, card),
  other: (if, node, get, remap, tag, tags, sort),
  list: (list, box),
  steps: (step, steps),
  faq: (faq, faqs),
  gallery: (gallery, imgs, limgs),
  reviews: (review, reviews),
  when: (when),
  links: (links, dots),
  form: (form, inputs),
  map: (map, geos),
  gss: (gss, gss_sheet),
  boxes: (box, boxes),
  modals: (modal, modals)
);

@function key-path-selectors($fields) {
  $selectors: ();

  @each $field in $fields {
    $selectors: list.append(
      $selectors,
      string.unquote('[data-key-path="#{$field}"]'),
      comma
    );
    $selectors: list.append(
      $selectors,
      string.unquote('[data-key-path$=".#{$field}"]'),
      comma
    );
  }

  @return $selectors;
}

@function view-selector($view, $fields) {
  @return string.unquote(
    '.field[data-key-path$="view"]:has(.button[aria-checked="true"][value="#{$view}"]) ~ :is(#{key-path-selectors($fields)})'
  );
}

$visible-fields: (
  string.unquote('[data-field-type="object"]:has(.wrapper)'),
  string.unquote('[data-field-type="list"]:has(.item-list:not(:empty))'),
  string.unquote('[data-field-type="image"]:has(.filled)'),
  string.unquote('[data-field-type="file"]:has(.filled)'),
  string.unquote('[data-field-type="markdown"]:has([data-lexical-text="true"])'),
  string.unquote('[data-field-type="boolean"]:has(button[aria-checked="true"])'),
  string.unquote('[data-field-type="radio"]:has(input:not([title="null"]):checked)'), // "boolean" custom field
  string.unquote('[data-field-type="select"]:has(button[aria-checked="true"]:not([value=""]))'), // Checkbox and radio
  string.unquote('[data-field-type="select"]:has(.selected)'), // Simple
  string.unquote('[data-field-type="select"]:has(.select-tags > span)'), // Multiple
  string.unquote(':has(input:not([type="file"], [type="radio"], [type="checkbox"], [type="hidden"]):not(:placeholder-shown))'),
  string.unquote(':has(textarea:not(:placeholder-shown))')
);

@each $view, $fields in $view-fields {
  $visible-fields: list.append(
    $visible-fields,
    view-selector($view, $fields),
    comma
  );
}

.field[data-key-path$='view'] ~ .field:not(#{$visible-fields}) {
  display: none;
}