.section {
  // overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: calc(var(--pt, 0px) + var(--pt-divider, 0px));
  padding-bottom: calc(var(--pb, 0px) + var(--pb-divider, 0px));
  // z-index: 0;
  > .bg-color {
    @include hide-radius;
    // z-index: unset;
  }
  > .bg-figure {
    clip-path: inset(0);
  }
}

// Section Header padding top and all sections full screen height
body {
  --full-height-section: calc(100lvh - var(--menu-height, 0em));
  --pt-divider-header: var(--menu-height, 0em) - var(--menu-py, 0em) + var(--pt-extra, 0em);
}
// Get menu height
.body-menu:not(.body-menu--transparent) { // not transparent
  --menu-height: 0em;     // not logo
  --pt-extra: 2em;
  &.body-menu--logo {
    --menu-height: 3.5em;
    --pt-divider-header: 0em;
  }
}
body:not(.body-menu),
.body-menu--transparent {
  --full-height-section: 100lvh;
  --menu-height: 0em;     // not logo
  --pt-extra: 2em;
  &.body-menu--logo {
    --menu-height: 6.75em;
    --pt-extra: 0em;
  }
}
.body-menu--sticky--active {
  .body-menu:not(.aux):not(.aux) {
    --menu-height: 6.8em;
    --pt-extra: 0em;
  }
  .body-menu:not(.body-menu--transparent) {
    --pt-divider-header: 0em;
  }
}
.section--full {
  min-height: var(--full-height-section);
}
.section--header {
  --pt-divider: var(--pt-divider-header);
}


// PADDINGS HIDE

.ph {
  &.section {
    padding: 0;
    .container {
      margin: auto;
    }
  }
  &.modal {
    .container {
      padding: 0;
    }
  }
  .container--fluid {
    padding: 0;
    --container-width-base: 100%;
    // &:has(> .box__type > .gallery) {
    //   --container-width-base: calc(100% - 1em);
    // }
    .slider {
      // .boxes.columns--gap-0 {
      //   --box-width: calc(100vw / var(--columns));
      // }
      @if $radius {
        .image__inner {
          @include hide-radius;
        }
        .columns--gap-0.slider__items .bg-figure {
          &, .bg-figure-image, img {
            @include hide-radius;
          }
        }
      }
    }
  }
  .box__title,
  .box__icon,
  .box__subtitle {
    @include ofuscate;
  }
  .box__type {
    margin: 0;
  }
  .slider__bullets {
    position: absolute;
    bottom: 0;
    z-index: 60;
    width: 100%;
    padding: 0 1em;
  }
  .slider__arrows {
    margin: 0;
  }
  .slider__arrow {
    position: absolute;
    z-index: 60;
    margin-top: -1.5em;
    top: 50%;
  }
  .slider__arrow--left {
    left: 1em;
  }
  .slider__arrow--right {
    right: 1em;
  }
  .gallery-wrap .bg-color,
  .gallery,
  .gallery__item,
  .gallery__expand {
    &, &:before {
      @include hide-radius;
    }
  }
  .boxes > .box:last-child {
    > .buttons {
      margin: 0;
      height: 0;
      width: 100%;
      transform: translateY(-8em);
      position: relative;
      z-index: 60;
    }
  }
}
