{{- with .menu -}}
  {{- if .logo -}}
    {{- $config    := partial "functions/config-lang" . -}}
    {{- $container := .size | default "lg" -}}
    {{- $color     := print "bg bg-" (.color | default "white") -}}
    {{- $align     := cond (or (not .logo_align) (eq .logo_align `left`)) "" (print " align-" .logo_align) }}
    {{- $logo      := $config.logo -}}
    {{- $title     := $config.logo_title -}}
    {{- $subtitle  := $config.logo_subtitle -}}
    {{- if and .transparent (not .logo_sticky) -}}
      {{- with partial "functions/sections" page -}}
        {{- $section := index . 0 -}}
        {{- with $section.color  -}}
          {{- $color  = print "bg bg-" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <header class="logo {{ $color }}">
      <div class="box container container--{{ $container }} {{- $align }}">
        <div class="logo__link" data-h="{{ site.Home.RelPermalink | base64Encode }}" tabindex="0" role="link">
          {{- with $logo -}}
            {{- $alt := print "Logo " $config.title -}}
            {{- partial "components/image"
              (dict
                "svg_src"   true
                "class"     "logo__image"
                "src"       .
                "alt"       $alt
                "container" $container
                "span"      6
                "notlazy"   true
              )
            -}}
          {{- end -}}
          {{ if $title | or $subtitle }}
            <div class="logo__titles">
              {{- with $title -}}
                <i class="logo__title h1">{{ . }}</i>
              {{- end -}}
              {{- with $subtitle -}}
                <i class="logo__subtitle">{{ . }}</i>
              {{- end -}}
            </div>
          {{- end -}}
        </div>
      </div>
    </header>
  {{ end }}
{{ end }}