{{- with .menu -}}
  {{- if or .logo .title .subtitle -}}
    {{- $color     := print "bg bg-" (.color | default "white") -}}
    {{- $align     := cond (or (not .logo_align) (eq .logo_align "center")) "" (print " align-" .logo_align) }}
    {{- $logo      := .image    | default (index . page.Lang).image -}}
    {{- $title     := .title    | default (index . page.Lang).title -}}
    {{- $subtitle  := .subtitle | default (index . page.Lang).subtitle -}}
    {{- $container := .size     | default "lg" -}}
    {{- if and .transparent (not .logo_sticky) -}}
      {{- $color  = print "bg bg-" ($.background.color | default "white") -}}
      {{- with partial "functions/sections" page -}}
        {{- $section := index . 0 -}}
        {{- with $section.color -}}
          {{- $color  = print "bg bg-" (. | default "white") -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <header class="logo {{ $color }}">
      <div class="box container container--{{ $container }} {{- $align }}">
        <div class="logo__link href" data-h="{{ site.Home.RelPermalink | base64Encode }}" tabindex="0" role="link">
          {{- with $logo -}}
            {{- $alt := print "Logo " site.Title -}}
            {{- partial "components/image"
              (dict
                "svg_src"   true
                "class"     "logo__image"
                "src"       .
                "alt"       $alt
                "container" $container
                "span_xl"   0.25
                "span_xs"   1.00
                "notlazy"   true
              )
            -}}
          {{- end -}}
          {{ if $title | or $subtitle }}
            <div class="logo__titles">
              {{- with $title -}}
                <i class="logo__title h1">{{ . }}</i>
              {{- end -}}
              {{- with $subtitle -}}
                <i class="logo__subtitle subtitle">{{ . }}</i>
              {{- end -}}
            </div>
          {{- end -}}
        </div>
      </div>
    </header>
  {{- end -}}
{{- end -}}