{{ $BaseURL  := site.BaseURL }}
{{ $config   := partial "functions/config-lang" . }}
{{ $isAuthor := eq .Type "authors" | and (not .IsSection) }}
{{ $isPost   := eq .Type "blog"    | and (not .IsSection) }}
{{ $isEvent  := eq .Type "events"  | and (not .IsSection) }}

{{ $schema             := slice }}
{{ $schemaWebsite      := dict }}
{{ $schemaOrganization := dict }}
{{ $schemaAuthor       := dict }}
{{ $schemaPost         := dict }}
{{ $schemaEvent        := dict }}


{{/*  SCHEMA WEBSITE  */}}

{{ $schemaWebsite = dict
  "@context"      `http://schema.org`
  "@type"         `WebSite`
  "url"           (print $BaseURL "/")
  "name"          (index $config.schema.names 0)
  "description"   $config.schema.description
}}


{{/*  SCHEMA ORGANIZATION  */}}

{{/*  Address, hasMap and geo by locations  */}}
{{ $address := slice }}
{{ $has_map := slice }}
{{ $geo     := slice }}
{{ with $config.schema.address }}
  {{ range . }}
    {{ if .street }}
      {{ $address = $address | append (dict "@type" "PostalAddress"
        "name"            .name
        "streetAddress"   .street
        "postalCode"      .pc
        "addressLocality" .locality
        "addressRegion"   .region
        "addressCountry"  .country
      ) }}
      {{ $has_map = $has_map | append (print
        "https://maps.google.com/maps/search/"
        (print
          .name     ", "
          .street   ", "
          .pc       " "
          .locality ", "
          .region   ", "
          .country
          | replaceRE "<nil>" ""
          | urlquery
        )
      ) }}
    {{ end }}
    {{ with .link }}
      {{ $has_map = $has_map | append . }}
    {{ end }}
    {{ with .geo }}
      {{ $cordinates := (unmarshal .).coordinates }}
      {{ $geo = $geo | append (dict
        "@type"     "GeoCoordinates"
        "latitude"  (index $cordinates 1)
        "longitude" (index $cordinates 0)
      ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  Images  */}}
{{ $images := slice }}
{{ range $config.schema.images | append "icon.png" | uniq }}
  {{ if . | and (not (strings.HasPrefix . "http")) }}
    {{ with resources.Get (print "/media/" .) }}
      {{ $images = $images | append .Permalink }}
    {{ end }}
  {{ else if . }}
    {{ $images = $images | append . }}
  {{ end }}
{{ end }}
{{ $images = $images | uniq }}

{{/*  Opening Hours Specification  */}}
{{ $open := slice }}
{{ with $config.schema.open }}
  {{ range . }}
    {{ $item := . }}
    {{ range .days | default (slice "none") }}
      {{ if ne . "none" }}
        {{ $day := dict "dayOfWeek" (print "https://schema.org/" (. | title)) }}
        {{ with $item.opens  }}{{ $day = merge $day (dict "opens" .) }}{{ end }}
        {{ with $item.closes }}{{ $day = merge $day (dict "closes" .) }}{{ end }}
        {{ with $item.from   }}{{ $day = merge $day (dict "validFrom" .) }}{{ end }}
        {{ with $item.to     }}{{ $day = merge $day (dict "validThrough" .) }}{{ end }}
        {{ $open = $open | append $day }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  Types  */}}
{{ $types      := $config.schema.types | default (slice "Organization") }}
{{ $type       := index $types 0 }}
{{ $types_more := after 1 $types }}
{{ $names      := $config.schema.names | default (slice "Name") }}
{{ $name       := index $names 0 }}
{{ $names_more := after 1 $names }}

{{/*  Finish schema organization  */}}
{{ $schemaOrganization = dict
  "@context"                  `http://schema.org`
  "@type"                     $type
  "additionalType"            $types_more
  "name"                      $name
  "alternateName"             $names_more
  "description"               $config.schema.description
  "logo"                      $config.schema.logo
  "image"                     $images
  "url"                       (print $BaseURL "/")
  "sameAs"                    $config.schema.social
  "telephone"                 (partial "functions/phone-variations" $config.schema.phones)
  "address"                   $address
  "location"                  (dict
    "@type"  "Place"
    "hasMap" $has_map
    "geo"    $geo
  )
  "openingHoursSpecification" $open
  "priceRange"                $config.schema.prices
  "aggregateRating"           (dict
    "@type"       "AggregateRating"
    "bestRating"  5
    "ratingCount" $config.schema.rating.count
    "ratingValue" $config.schema.rating.value
  )
}}


{{/*  SCHEMA AUTHOR  */}}

{{ if $isAuthor }}
  {{ $author_image  := "" }}
  {{ with resources.Get (print "/media/" .Params.image) }}
    {{ $author_image = .Permalink }}
  {{ end }}
  {{ $schemaAuthor = dict
    "@context"    `http://schema.org`
    "@type"       `Person`
    "name"        .Title
    "description" .Description
    "image"       $author_image
    "url"         .Permalink
    "jobTitle"    .Params.job_title
    "same_as"      (.Params.social | default slice)
    "worksFor"    $schemaOrganization
  }}
{{ end }}


{{/*  SCHEMA POST  */}}

{{ if $isPost }}

  {{ $description := "" }}
  {{ with .Description }}
    {{ $description = . }}
  {{ else }}
    {{ if .IsPage | and .Content }}
      {{ $description = .Summary }}
    {{ end }}
  {{ end }}

  {{ $image     := "" }}
  {{ $site_logo := $config.schema.logo }}
  {{ if .Params.image }}
    {{ $imageExternal := strings.HasPrefix .Params.image "http" }}
    {{ $image = .Params.image }}
    {{ $imageURL := "" }}
    {{ if not $imageExternal }}
      {{ $image = resources.Get (print "/media/" $image) }}
      {{ with $image }}
        {{ $imageURL = .Permalink }}
      {{ end }}
    {{ else }}
      {{ $imageURL = partial "functions/iframe-poster" $image | default $image }}
    {{ end }}
    {{ $imageWidth := 1280 }}
    {{ $imageHeight := 960 }}
    {{ if not (in $image ".svg" | or $imageExternal) | and $image }}
      {{ $imageWidth = $image.Width }}
      {{ $imageHeight = $image.Height }}
    {{ end }}
    {{ $image = dict
      "@type"  "ImageObject"
      "url"    $imageURL
      "width"  $imageWidth
      "height" $imageHeight
    }}
  {{ else if (in $site_logo "svg") }}
    {{ $image = print $BaseURL "/media/logo.png" }}
  {{ else }}
    {{ $image = print $BaseURL $site_logo }}
  {{ end }}

  {{ $author_page  := .GetPage (print "authors/" .Params.author | default "authors/admin") }}
  {{ $author_image := "" }}
  {{ with resources.Get (print "/media/" $author_page.Params.image) }}
    {{ $author_image = .Permalink }}
  {{ end }}
  {{ $author := dict
    "author" (dict
      "@type"       `Person`
      "name"        $author_page.Title
      "description" $author_page.Description
      "image"       $author_image
      "url"         $author_page.Permalink
      "jobTitle"    $author_page.Params.job_title
      "same_as"      ($author_page.Params.social | default slice)
    )
  }}

  {{ $schemaPost = dict
    "@context" `http://schema.org`
    "@type"    `BlogPosting`
    "mainEntityOfPage" (dict
      "@type" `WebPage`
      "@id"   $BaseURL
    )
    "headline"      .Title
    "description"   $description
    "image"         $image
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified"  (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "publisher"     $schemaOrganization
    "author"        $author
  }}

{{ end }}


{{/*  SCHEMA EVENTS  */}}

{{ if $isEvent }}
  {{ $event_image  := "" }}
  {{ with resources.Get (print "/media/" .Params.image) }}
    {{ $event_image = .Permalink }}
  {{ end }}
  {{ $schemaEvent = dict
    "@context"    `http://schema.org`
    "@type"       `Event`
    "name"        .Title
    "performer"   .Params.artist
    "description" .Description
    "image"       $event_image
    "url"         .Permalink
    "startDate"   (dateFormat "2006-01-02T15:04:05Z07:00" .Params.date_ini)
    "endDate"     (dateFormat "2006-01-02T15:04:05Z07:00" .Params.date_end)
    "location"    (dict
      "@type"       `Place`
      "name"        .Params.location
      "address"     .Params.address
    )
    "offers"      .Permalink
    "offers"      (dict
      "@type"         `Offer`
      "url"           .Permalink
      "price"         (.Params.price | default 0 | replaceRE `[^\d\.]` `` | float)
      "priceCurrency" (.Params.currency | default "EUR")
      "validFrom"     (dateFormat "2006-01-02T15:04:05Z07:00" now)
      "availability"  "http://schema.org/InStock"
    )
    "organizer"   $schemaOrganization
    "eventStatus"         "http://schema.org/EventScheduled"
    "eventAttendanceMode" "http://schema.org/OfflineEventAttendanceMode"
  }}
{{ end }}


{{/*  ALL SCHEMAS  */}}

{{ if $isPost }}
  {{ $schema = slice $schemaPost $schemaWebsite }}
{{ else if $isAuthor }}
  {{ $schema = slice $schemaAuthor $schemaWebsite }}
{{ else if $isEvent }}
  {{ $schema = slice $schemaEvent $schemaWebsite }}
{{ else }}
  {{ $schema = slice $schemaOrganization $schemaWebsite }}
{{ end }}

{{ if hugo.IsProduction }}
  {{ $schema = $schema | jsonify }}
{{ else }}
  {{ $schema = $schema | jsonify (dict "prefix" "" "indent" "  ") }}
{{ end }}

{{ return $schema }}
