{{- $header := eq .id "header" -}}
{{- $footer := eq .id "footer" -}}
{{- $modal  := .modal  | default false -}}

{{- $tag := .tag -}}
{{- if $modal -}}
  {{- $tag = "dialog" -}}
{{- end -}}
{{- if not $tag -}}
  {{- if $header -}}
    {{- $tag = "header" -}}
  {{- else if $footer -}}
    {{- $tag = "footer" -}}
  {{- else -}}
    {{- $tag = "section" -}}
  {{- end -}}
{{- end -}}

{{- $attr := partial "components/base/section-attr" (merge . (dict
  "header" $header
  "footer" $footer
  "modal"  $modal
)) -}}

{{/*  SECTION  */}}
{{- print "<" $tag $attr ">" | safeHTML -}}

  {{/*  BACKGROUND  */}}
  {{- if not $modal -}}
    {{- partial "components/bg" (merge . (dict "card" nil)) -}}
  {{- end -}}

  {{/*  BOX  */}}
  {{ partial "components/boxes/box" (merge
    .
    (dict
      "level"         0
      "key"           0
      "tag"           (cond $modal .tag           .box_tag)
      "bg"            (cond $modal .bg            .box_bg)
      "alpha"         (cond $modal .alpha         .box_alpha)
      "parallax"      (cond $modal .parallax      .box_parallax)
      "color"         (cond $modal .color         .box_color)
      "color_alpha"   (cond $modal .color_alpha   .box_color_alpha)
      "gradient"      (cond $modal .gradient      .box_gradient)
      "gradient_type" (cond $modal .gradient_type .box_gradient_type)
      "padding"       (cond $modal .padding       .box_padding)
      "button"        nil
      "font_alt"      nil
      "image_align"   nil
      "full"          nil
      "ph"            nil
      "pt"            nil
      "pb"            nil
      "divider"       nil
      "flip_x"        nil
      "flip_y"        nil
      "if"            nil
      "container"     .size
      "section"       .
      "is_wrap"       true
      "parent"        .box
      "prev"          nil
      "next"          nil
    )
  ) }}

  {{/*  MODAL BUTTONS CORNER  */}}
  {{- if $modal  -}}
    <button class="modal__back button--icon">
      {{- partial "components/icon" (dict "icon" "arrow-left") -}}
      <i>{{ i18n "back" }}</i>
      {{- "" -}}
    </button>
    {{- "" -}}
    <button class="modal__close--corner button--icon">
      {{- partial "components/icon" (dict "icon" "xmark") -}}
      <i>{{ i18n "close" }}</i>
      {{- "" -}}
    </button>
  {{- end -}}

  {{/*  COOKIES AND SITEMAP LINK  */}}
  {{- if $footer -}}
    <div class="footer__float">
      {{- partial "components/link" (dict
        "class"   "cookies__toggle"
        "link"    "none"
        "button"  "none"
        "icon"    "cookie-bite"
        "emoji"   "🍪"
        "label"   "none"
        "anchor"  (i18n "cookies-notice")
        "noindex" true
      ) -}}
      {{ with page.GetPage "pages/sitemap" }}
        {{ partial "components/link" (dict
          "class"   "footer__sitemap"
          "link"    .RelPermalink
          "button"  "none"
          "icon"    "map"
          "emoji"   "🗺"
          "label"   "none"
          "anchor"  .Title
          "noindex" (not page.IsHome)
        ) }}
      {{- end -}}
    </div>
  {{- end -}}

{{- print "</" $tag ">" | safeHTML -}}
