{{- $vars := dict -}}
{{- with site.Data -}}
  {{- $vars = dict
    "styles-colors-base-white"           (.styles.colors.base.white               | default "#fff")
    "styles-colors-base-light"           (.styles.colors.base.light               | default "#eee")
    "styles-colors-base-dark"            (.styles.colors.base.dark                | default "#282525")
    "styles-colors-base-black"           (.styles.colors.base.black               | default "#000")
    "styles-colors-base-grey"            (.styles.colors.base.grey                | default "#767676")
    "styles-colors-main-color"           (.styles.colors.main.color               | default "#abd4ed")
    "styles-colors-alt-color"            (cond (eq .styles.colors.alt.color "#fff") "" .styles.colors.alt.color)
    "styles-colors-link-color"           (cond (eq .styles.colors.link.color "#fff") (.styles.colors.main.color | default "#abd4ed") .styles.colors.link.color)

    "styles-colors-main-light"           (cond (eq .styles.colors.main.light "#fff") "" .styles.colors.main.light)
    "styles-colors-alt-light"            (cond (eq .styles.colors.alt.light  "#fff") "" .styles.colors.alt.light)
    "styles-colors-link-light"           (cond (eq .styles.colors.link.light "#fff") "" .styles.colors.link.light)

    "styles-colors-main-dark"            (cond (eq .styles.colors.main.dark  "#fff") "" .styles.colors.main.dark)
    "styles-colors-alt-dark"             (cond (eq .styles.colors.alt.dark   "#fff") "" .styles.colors.alt.dark)
    "styles-colors-link-dark"            (cond (eq .styles.colors.link.dark  "#fff") "" .styles.colors.link.dark)

    "styles-colors-main-contrast-text"   (in (slice "all" "text") .styles.colors.main.contrast | string)
    "styles-colors-alt-contrast-text"    (in (slice "all" "text") .styles.colors.alt.contrast  | string)
    "styles-colors-link-contrast-text"   (in (slice "all" "text") .styles.colors.link.contrast | string)

    "styles-colors-main-contrast-bg"     (in (slice "all" "bg") .styles.colors.main.contrast   | string)
    "styles-colors-alt-contrast-bg"      (in (slice "all" "bg") .styles.colors.alt.contrast    | string)
    "styles-colors-link-contrast-bg"     (in (slice "all" "bg") .styles.colors.link.contrast   | string)

    "styles-fonts-base-family"           (.styles.fonts.base.family               | default "Montserrat")
    "styles-fonts-title-family"          (.styles.fonts.title.family              | default "Montserrat")
    "styles-fonts-cursive-family"        (.styles.fonts.cursive.family            | default "Dancing Script")
    "styles-fonts-base-weight"           (.styles.fonts.base.weight               | default 200)
    "styles-fonts-title-weight"          (.styles.fonts.title.weight              | default 800)
    "styles-fonts-cursive-weight"        (.styles.fonts.cursive.weight            | default 400)
    "styles-fonts-base-bold"             (.styles.fonts.base.bold                 | default 0)
    "styles-fonts-title-bold"            (.styles.fonts.title.bold                | default 0)
    "styles-fonts-cursive-bold"          (.styles.fonts.cursive.bold              | default 0)
    "styles-fonts-base-italic"           (cond (not .styles.fonts.base.italic)    "normal" "italic")
    "styles-fonts-title-italic"          (cond (not .styles.fonts.title.italic)   "normal" "italic")
    "styles-fonts-cursive-italic"        (cond (not .styles.fonts.cursive.italic) "normal" "italic")
    "styles-fonts-base-line-height"      (.styles.fonts.base.line_height          | default 1.25)
    "styles-fonts-title-line-height"     (.styles.fonts.title.line_height         | default 1.25)
    "styles-fonts-cursive-line-height"   (.styles.fonts.cursive.line_height       | default 1.25)
    "styles-fonts-title-size"            (.styles.fonts.title.size                | default 1)
    "styles-fonts-cursive-size"          (.styles.fonts.cursive.size              | default 1)
    "styles-fonts-title-top"             (.styles.fonts.title.top                 | default 0)
    "styles-fonts-cursive-top"           (.styles.fonts.cursive.top               | default 0)
    "styles-fonts-blockquote_cursive"    (.styles.fonts.blockquote_cursive        | string)

    "styles-emoji-duotone"               (eq .styles.icons.type   "duotone"       | string)
    "styles-emoji-scale"                 (in .styles.icons.emojis "-scale"        | string)
    "styles-menu-bar"                    (cond (eq .styles.icons.type "thin"   ) .1
                                         (cond (eq .styles.icons.type "light"  ) .15
                                         (cond (eq .styles.icons.type "regular") .2
                                                                                 .25
                                         )))

    "styles-rounded-radius"              (.styles.rounded.radius                  | default 0)
    "styles-rounded-chamfer"             (.styles.rounded.chamfer                 | string)

    "styles-buttons-sides_round"         (.styles.buttons.sides_round             | string)
    "styles-buttons-icon_circle"         (.styles.buttons.icon_circle             | string)
    "styles-buttons-deep"                (.styles.buttons.deep                    | string)
    "styles-buttons-outline"             (.styles.buttons.outline                 | string)
    "styles-buttons-font_main"           (.styles.buttons.font_main.type          | default "base")
    "styles-buttons-font_main_bold"      (.styles.buttons.font_main.bold          | string)
    "styles-buttons-font_main_uppercase" (.styles.buttons.font_main.uppercase     | string)
    "styles-buttons-font_alt"            (.styles.buttons.font_alt.type           | default "base")
    "styles-buttons-font_alt_bold"       (.styles.buttons.font_alt.bold           | string)
    "styles-buttons-font_alt_uppercase"  (.styles.buttons.font_alt.uppercase      | string)

    "styles-shadow-left"                 (.styles.shadow.left                     | default 0)
    "styles-shadow-top"                  (.styles.shadow.top                      | default 0)
    "styles-shadow-blur"                 (.styles.shadow.blur                     | default 0)
    "styles-shadow-color"                (.styles.shadow.color                    | default "black")
    "styles-shadow-opacity"              (.styles.shadow.opacity                  | default 0.25)
    "styles-lightbox_overlay-opacity"    (.styles.lightbox_overlay.opacity        | default 0.8)
    "styles-lightbox_overlay-color"      (.styles.lightbox_overlay.color          | default "black")
    "styles-performance-showup"          (.styles.performance.showup              | string)
    "styles-performance-parallax"        (.styles.performance.parallax            | string)
    "article-search"                     (.lists.content.search                   | string)
    "menu-google_translate"              (.menu.google_translate                  | string)
    "copied"                             (i18n "copied")
    -}}
    {{/*  "dividers-string"                    (delimit (partial "svg/dividers-css" .) "|")  */}}
{{- end -}}

{{- $styles := resources.Get (print "css/styles.lang.scss")
  | resources.ExecuteAsTemplate (print site.Home.RelPermalink "css/styles.scss") .
-}}
{{- with $styles -}}
  {{- if hugo.IsProduction -}}
    {{- $styles = . | toCSS (dict "vars" $vars) | fingerprint | postCSS | resources.PostProcess -}}
  {{- else -}}
    {{- $styles = . | toCSS (dict "vars" $vars "enableSourceMap" true) | fingerprint -}}
  {{- end -}}
{{- end -}}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}">