{{ $authors      := slice }}
{{ $art_sections := slice }}

{{ $taxonomies   := partial "functions/taxonomy-parents" . }}
{{ range $taxonomies }}
  {{ $page := . }}
  {{ range .Params.tax_of }}
    {{ $is_same_type   := eq page.Type .name }}
    {{ $is_same_schema := in (slice "author" "articleSection") .schema }}
    {{ if and $is_same_type $is_same_schema }}
      {{ if eq .schema "author" }}
        {{ $type   := cond (eq $page.Params.base "author") "author" "page" }}
        {{ $item   := partial (print "schema/" $type) $page }}
        {{ $authors = $authors | append $item }}
      {{ else if eq .schema "articleSection" }}
        {{ $art_sections = $art_sections | append $page.Title }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $authors }}
  {{ $authors = partial "schema/org-id" . }}
{{ end }}

{{ return (dict "authors" $authors "art_sections" $art_sections) }}