{{ $breads := partial "functions/breadcrumbs-pre" (dict "Page" .) }}
{{ $count  := len (where $breads "end" true) }}
{{ $paths  := slice }}

{{ range $k, $v := seq $count }}
  {{ $paths_seq := slice }}
  {{ $count_seq := 0 }}
  {{ range $breads }}
    {{ $count_seq }}
    {{ if .end }}
      {{ $count_seq = add $count_seq 1 }}
    {{ else if eq $count_seq $k }}
      {{ $paths_seq = $paths_seq | append . }}
    {{ end }}
  {{ end }}
  {{ $paths = $paths | append (dict "pages" $paths_seq) }}
{{ end }}

{{ return $paths }}