{{ $paths := slice }}
{{ $type  := .Params.breadcrumbs }}

{{/*  Value of param  */}}
{{ with index .Params $type }}
  {{/*  Force value to slice  */}}
  {{ $v := . }}
  {{ if not (reflect.IsSlice $v) }}
    {{ $v = slice . }}
  {{ end }}
  {{/*  First value  */}}
  {{ with index $v 0 }}
    {{/*  Page by filename  */}}
    {{ with site.GetPage (print $type "/" .) }}
      {{/*  Append page parent  */}}
      {{ $paths = $paths | append . }}
      {{/*  Grandparent  */}}
      {{ $path := partial "functions/breadcrumbs" . }}
      {{ with $path }}
        {{/*  Append grandparent  */}}
        {{ $paths = $paths | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $paths }}