{{/* partial "functions/color-child" (dict "color" "dark" "type" "similar") */}}
{{ $return := "" }}
{{ $color  := .color }}
{{ $type   := .type | default "invert" }}
{{ $invert := eq $type "invert" }}

{{ if eq .color "white" }}
  {{ $return = cond $invert "dark" "light" }}
{{ else if eq .color "light" }}
  {{ $return = cond $invert "dark" "white" }}
{{ else if eq .color "dark" }}
  {{ $return = cond $invert "light" "black" }}
{{ else if eq .color "black" }}
  {{ $return = cond $invert "light" "dark" }}
{{ else if hasSuffix .color "-dark" }}
  {{ $return = cond $invert "light" "dark" }}
{{ else if hasSuffix .color "-light" }}
  {{ $return = cond $invert "dark" "white" }}
{{ else }}
  {{ $color_base := dict
    "grey" (site.Data.styles.colors.base.grey  | default "#767676")
    "main" (site.Data.styles.colors.main.color | default "#577399")
    "alt"  (site.Data.styles.colors.alt.color  | default "#eeeeee")
    "link" (site.Data.styles.colors.link.color | default site.Data.styles.colors.main.color | default "#577399")
  }}
  {{ $color_base = index $color_base .color }}
  {{ $return = partial "functions/color-contrast" (dict "color" $color_base "invert" $invert) }}
{{ end }}

{{ return $return }}
