{{ define "partials/auto-cols" }}
  {{ $result := 2 }}
  {{ if gt . 2 }}
    {{ if eq (mod . 2) 1 }}
      {{ $result = 3 }}
    {{ else }}
      {{ $result = 4 }}
    {{ end }}
  {{ end }}
  {{ return $result }}
{{ end }}

{{ $vl   := 1 }}
{{ $vs   := 1 }}

{{ with .each }}
  {{ $vl  = .cols    | default 1 }}
  {{ $vs  = .cols_vs | default 1 }}
  {{ if eq (int .cols) 0 }}
    {{ $fit  := 0 }}
    {{ range $.items }}
      {{ $fit = add $fit (.fit | default .fit_vs | default 1) }}
    {{ end }}
    {{ $vl    = partial "auto-cols" $fit }}
  {{ end }}
  {{ if eq (int .cols_vs) 0 }}
    {{ $fit  := 0 }}
    {{ range $.items }}
      {{ $fit = add $fit (.fit_vs | default 1) }}
    {{ end }}
    {{ $vs    = partial "auto-cols" $fit }}
  {{ end }}
{{ end }}

{{ $fit_vl := div .col_vl $vl }}
{{ $fit_vs := div .col_vs $vs }}

{{ return dict
  "vl"     $vl
  "vs"     $vs
  "fit_vl" $fit_vl
  "fit_vs" $fit_vs
}}
