{{ $links_map := slice }}
{{ $locations := slice }}
{{ $mails     := slice }}
{{ $phones    := slice }}
{{ $social    := slice }}

{{ range where site.Pages "Type" "ne" "events" }}
  {{ range partial "functions/sections-all" . }}
    {{ range partial "functions/section-boxes" . }}

        {{ with .map.link }}
          {{ if ne . "hide" }}
            {{ $links_map = $links_map | append . }}
          {{ end }}
        {{ end }}

        {{ range .buttons }}
          {{ if eq .type "address" }}
            {{ $locations = $locations | append (merge . (dict "active" true)) }}
          {{ else if eq .type "mail" }}
            {{ $mails = $mails | append .label }}
          {{ else if or (eq .type "phone") (eq .type "whatsapp") }}
            {{ $phones = $phones | append .label }}
          {{ end }}
        {{ end }}

        {{ range .social }}
          {{ $social = $social | append .link }}
        {{ end }}

    {{ end }}
  {{ end }}

  {{ $params  := partial "functions/page-params" . }}
  {{ $callnow := index $params.callnow site.Home.Lang | default slice }}
  {{ range $callnow }}
    {{ if eq .type "phone" | or (eq .type "whatsapp") }}
      {{ $phones = $phones | append .label }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return dict
  "links_map" (uniq $links_map)
  "locations" (uniq $locations)
  "mails"     (uniq $mails)
  "phones"    (uniq $phones)
  "social"    (uniq $social)
}}