{{ $divs := dict
  "arrow"                (dict "size" 1 "repeat" false)
  "arrow-four"           (dict "size" 1 "repeat" true )
  "arrow-op"             (dict "size" 1 "repeat" false)
  "arrow-op-alt"         (dict "size" 1 "repeat" false)
  "arrow-op-fan"         (dict "size" 1 "repeat" false)
  "arrow-round"          (dict "size" 1 "repeat" false)
  "arrow-side"           (dict "size" 1 "repeat" false)
  "arrow-side-round"     (dict "size" 1 "repeat" false)
  "arrow-sides"          (dict "size" 1 "repeat" false)
  "arrow-sides-round"    (dict "size" 1 "repeat" false)
  "arrow-sides-round-op" (dict "size" 1 "repeat" false)
  "arrow-three"          (dict "size" 2 "repeat" true )
  "arrow-two"            (dict "size" 2 "repeat" true )
  "book"                 (dict "size" 1 "repeat" false)
  "brush"                (dict "size" 1 "repeat" true )
  "bubles"               (dict "size" 1 "repeat" true )
  "central-dents"        (dict "size" 1 "repeat" true )
  "central-waves"        (dict "size" 1 "repeat" true )
  "christmas-trees"      (dict "size" 1 "repeat" true )
  "city"                 (dict "size" 2 "repeat" true )
  "clouds"               (dict "size" 2 "repeat" true )
  "clouds-op"            (dict "size" 2 "repeat" true )
  "curve"                (dict "size" 1 "repeat" false)
  "curve-corner"         (dict "size" 1 "repeat" false)
  "curve-corner-op"      (dict "size" 1 "repeat" false)
  "curve-edges"          (dict "size" 1 "repeat" false)
  "curve-op"             (dict "size" 1 "repeat" false)
  "curve-side"           (dict "size" 1 "repeat" false)
  "curved"               (dict "size" 1 "repeat" false)
  "curved-alt"           (dict "size" 1 "repeat" false)
  "curved-bracket"       (dict "size" 1 "repeat" false)
  "dents"                (dict "size" 1 "repeat" true )
  "dents-op"             (dict "size" 1 "repeat" true )
  "dents-op-alt"         (dict "size" 1 "repeat" true )
  "dents-round"          (dict "size" 1 "repeat" true )
  "diagonals"            (dict "size" 1 "repeat" true )
  "diagonals-op"         (dict "size" 1 "repeat" true )
  "drip"                 (dict "size" 1 "repeat" true )
  "ethnic"               (dict "size" 1 "repeat" true )
  "ethnic-alt"           (dict "size" 1 "repeat" true )
  "fall"                 (dict "size" 1 "repeat" true )
  "fire"                 (dict "size" 1 "repeat" true )
  "half-circle"          (dict "size" 1 "repeat" true )
  "mountain"             (dict "size" 2 "repeat" true )
  "snow"                 (dict "size" 1 "repeat" true )
  "squares"              (dict "size" 1 "repeat" true )
  "staggered"            (dict "size" 1 "repeat" true )
  "staggered-pill"       (dict "size" 1 "repeat" true )
  "staggered-pill-op"    (dict "size" 1 "repeat" true )
  "staggered-pill-tilt"  (dict "size" 1 "repeat" true )
  "staggered-round"      (dict "size" 1 "repeat" true )
  "sun"                  (dict "size" 1 "repeat" true )
  "sun-round"            (dict "size" 1 "repeat" true )
  "taj-mahal"            (dict "size" 1 "repeat" true )
  "tear"                 (dict "size" 2 "repeat" true )
  "tear-alt"             (dict "size" 2 "repeat" true )
  "tear-rough"           (dict "size" 1 "repeat" true )
  "tilt"                 (dict "size" 1 "repeat" false)
  "tilt-curve-sides"     (dict "size" 1 "repeat" false)
  "tilt-op"              (dict "size" 1 "repeat" false)
  "tilt-op-alt"          (dict "size" 1 "repeat" false)
  "triangle"             (dict "size" 1 "repeat" true )
  "waves"                (dict "size" 1 "repeat" false)
  "waves-op"             (dict "size" 1 "repeat" false)
  "wavy"                 (dict "size" 1 "repeat" false)
  "wavy-alt"             (dict "size" 1 "repeat" true )
  "wavy-jump"            (dict "size" 1 "repeat" false)
  "wavy-op"              (dict "size" 1 "repeat" true )
  "wavy-op-alt"          (dict "size" 1 "repeat" false)
}}
{{ $div := index $divs . }}
{{ return $div }}