{{ $params := partial "functions/params" . }}

{{ $file_options := dict
  "Page" .Page
  "file" "base/footer"
  "type" "section"
}}
{{ $footer := partial "functions/section-by-file" $file_options }}

{{ $footer  = merge
  (dict "color" "dark")
  $footer
  (dict
    "id"   "footer"
    "bgcp" ($params.background.color | default "light")
  )
}}

{{ $footer_options := dict
  "Page" .Page
  "obj"  $footer
}}
{{ $footer = partial "functions/replace-shortcodes" $footer_options }}

{{ return slice $footer }}