{{ $if := true }}
{{ with .if }}
  {{ if eq . "content" }}
    {{ $if = $.Page.RawContent }}
  {{ else if eq . "toc" }}
    {{ $if = false }}
    {{ if $.Page.Params.toc }}
      {{ with $.Page.RawContent }}
        {{ with . | findRE `\n#* ` }}
          {{ $if = index . 1 }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else if eq . "related" }}
    {{ $if = $.Page.CurrentSection.Pages.Related (dict "document" $.Page) }}
  {{ else if eq . "comments" }}
    {{ $if = site.Params.disqus }}
  {{ else if eq . "taxonomy" }}
    {{ $is_taxonomy   := in (slice "taxonomy" "person") $.Page.Params.base }}
    {{ $is_not_parent := not $.Page.IsSection }}
    {{ $if = and $is_taxonomy $is_not_parent }}
  {{ else if eq . "parent" }}
    {{ $if = $.Page.IsSection }}
  {{ else }}
    {{ $if = index $.Page.Params (split . ".") }}
  {{ end }}
{{ end }}
{{ return $if }}
