{{ $name := "" }}
{{ $src  := .src }}
{{ $mute := cond (in .src "#mute") true .bg }}

{{ if .src | findRE `youtu\.be|youtube\.com` }}

  {{ $name  = "youtube" }}
  {{ $id   := .src | replaceRE `^.+?(v=|be/)(.+?)(&|\?|#|$).*` `$2` }}
  {{ $t    := .src | findRE `t\=\d+`       }}{{ if $t    }}{{ $t    = index $t    0 | replaceRE `t\=` ``    }}{{ end }}
  {{ $end  := .src | findRE `end\=\d+`     }}{{ if $end  }}{{ $end  = index $end  0 | replaceRE `end\=` ``  }}{{ end }}
  {{ $list := .src | findRE `list\=[\w-]+` }}{{ if $list }}{{ $list = index $list 0 | replaceRE `list\=` `` }}{{ end }}
  {{ $src   = print
    "https://www.youtube-nocookie.com/embed/"
    $id
    "?rel=0&modestbranding=1&color=white&enablejsapi=1"
    (cond (not $mute) "" (print "&autoplay=1&loop=1&mute=1&showinfo=0" (cond (not $list) (print "&playlist=" $id) "")))
    (cond (not $t)    "" (print "&start=" $t) )
    (cond (not $end)  "" (print "&end="   $end) )
    (cond (not $list) "" (print "&list="  $list) )
  }}

{{ else if in .src `vimeo.com` }}

  {{ $name  = "vimeo" }}
  {{ $id   := .src | replaceRE `^.+?com/(video/)?(.+?)(\?|$).*` `$2` }}
  {{ $src   = print
    "https://player.vimeo.com/video/"
    $id
    "?byline=0&portrait=0&title=0"
    (cond (not $mute) "" "&autoplay=1&loop=1&autopause=0&muted=1&controls=0")
  }}

{{ end }}

{{ return (dict "name" $name "src" $src) }}