{{ $image := "" }}

{{ if in . "poster=" }}
  {{ $image = . | replaceRE `^.+?poster\=(.+?)($|#.*$)` "$1" }}
  {{ if not (hasPrefix $image "http") }}
    {{ with resources.Get (print "/media/" $image) }}
      {{ $image = replace .RelPermalink "/media/" "" }}
    {{ else }}
      {{ $image = "" }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $image }}
  {{ if . | findRE `youtu\.be|youtube\.com` }}
    {{ $image = print "https://i3.ytimg.com/vi_webp/" (. | replaceRE `^.+?(v=|be/)(.+?)(&|\?|$).*` `$2`) "/sddefault.webp" }}
  {{ else if in . `vimeo.com` }}
    {{ $url := print "http://vimeo.com/api/v2/video/" (. | replaceRE `^.+?com/(.+?)(\?|$).*` `$1`) ".json" }}
    {{ with resources.GetRemote $url }}
      {{ with .Err }}
        {{ errorf "%s" . }}
      {{ else }}
        {{ with . | transform.Unmarshal }}
          {{ $image = (index . 0).thumbnail_large }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $image }}