{{ $image := "" }}

{{ $iframe_poster := "" }}
{{ with . | findRE `poster=([/\w\d\.-]+)` }}
  {{ with index . 0 }}
    {{ with replace . "poster=" "" }}
      {{ with resources.Get (print "/media/" .) }}
        {{ $iframe_poster = . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ with $iframe_poster }}
  {{ $image = replace .RelPermalink "/media/" "" }}
{{ else }}
  {{ if . | findRE `youtu\.be|youtube\.com` }}
    {{ $image = print "https://i3.ytimg.com/vi_webp/" (. | replaceRE `^.+?(v=|be/)(.+?)(&|\?|$).*` `$2`) "/sddefault.webp" }}
  {{ else if in . `vimeo.com` }}
    {{ $vimeo_api := getJSON (print "http://vimeo.com/api/v2/video/" (. | replaceRE `^.+?com/(.+?)(\?|$).*` `$1`) ".json") }}
    {{ with $vimeo_api }}
      {{ $image = (index $vimeo_api 0).thumbnail_large }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $image }}