{{ $image_link := "" }}
{{ if site.Data.config.others.webp }}
  {{ $image_resize := .image.Resize (print .size "x webp") }}
  {{ $image_resize  = $image_resize | resources.Copy (print (.image.RelPermalink | replaceRE `(.+)\..+` `$1`) `-` .size `x` $image_resize.Height `.webp`) }}
  {{ $image_link    = $image_resize.RelPermalink }}
{{ else }}
  {{ $width  := .size }}
  {{ $height := div (mul .image.Height .size) .image.Width }}
  {{ $avif   := .image | replaceRE `(.+)(\..+)$` (print "$1-" $width "x" $height ".avif") }}
  {{ $get    := resources.Get $avif }}
  {{ if not $get }}
    {{ $path      := print "./public" .image }}
    {{ $file      := print "image_list/" (replace $avif "/" "~") ".json" }}
    {{ $json      := dict "path" $path "width" $width "height" $height | jsonify }}
    {{ $resource  := resources.FromString $file $json }}
    {{ $resource.Publish }}
    {{ $image_link = $avif }}
  {{ end }}
{{ end }}
{{ return $image_link }}