{{ $img := "" }}
{{ $svg := "" }}

{{ with .Params.image }}
  {{ if partial "functions/is-iframe" . }}
    {{ $img = partial "functions/iframe-poster" . }}
  {{ else }}
    {{ $img = . }}
  {{ end }}
{{ end }}


{{- $values := index site.Data (print "values." page.Lang) "menu" "image" -}}

{{ if not $img }}
  {{ $logo := partial "functions/logo" . }}
  {{ $logo  = print "/media/" $logo }}
  {{ $logo  = resources.Get $logo }}
  {{ $logo  = $logo.Permalink }}
  {{ $img   = $logo }}
{{ end }}

{{ with $img }}
  {{ if not (hasPrefix . "http") }}
    {{ with resources.Get (print "/media/" .) }}

      {{ $img = .Permalink }}

      {{ if in $img ".svg" }}
        {{ $img  = .RelPermalink | replaceRE `\.svg$` `.png` }}
        {{ $png := resources.Get $img }}
        {{ with $png }}
          {{ $img = .Permalink }}
        {{ else }}
          {{ $img = .Permalink | replaceRE `\.svg$` `.png` }}
          {{ $svg = print "./public" .RelPermalink }}
        {{ end }}
      {{ end }}

    {{ end }}
  {{ end }}
{{ end }}

{{ return (dict "img" $img "svg" $svg) }}