{{ $image_link := "" }}
{{ if site.Data.config.others.webp }}
  {{ $webp      := .image.Resize (print .size "x webp") }}
  {{ $webp_path := .image.RelPermalink | replaceRE `(.+)\..+$` (print "$1-" .size "x" $webp.Height ".webp") }}
  {{ $webp       = $webp | resources.Copy $webp_path }}
  {{ $image_link = $webp.RelPermalink }}
{{ else }}
  {{ $height := div (mul .image.Height .size) .image.Width }}
  {{ $avif   := .image | replaceRE `(.+)\..+$` (print "$1-" .size "x" $height ".avif") }}
  {{ $get    := resources.Get $avif }}
  {{ with $get }}
    {{ $get.Publish }}
  {{ else }}
    {{ $path := print "./public" .image }}
    {{ $file := print "image_list/" (replace $avif "/" "~") ".json" }}
    {{ $json := dict "path" $path "width" .size "height" $height | jsonify }}
    {{ $rsc  := resources.FromString $file $json }}
    {{ $rsc.Publish }}
  {{ end }}
  {{ $image_link = $avif }}
{{ end }}
{{ return $image_link }}