{{ $logo  := "" }}
{{ $logos := slice
  (index site.Home.Params "org" "logo")
  (index site.Home.Params "menu" "logo")
  (index site.Data (print "values." site.Home.Lang) "menu" "image")
  (index site.Data "config" "cms" "logo")
  (index site.Data "config" "others" "favicon")
  "base/icon.png"
  "base/icon.svg"
}}
{{ range $logos }}
  {{ with . }}
    {{ $path  := print "/media/" . }}
    {{ $rsc   := resources.Get $path }}
    {{ with $rsc }}
      {{ $logo = .Permalink }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $logo }}