{{ $path  := .path | default "assets/media" }}
{{ $ext   := .ext }}
{{ $accum := .accum | default slice }}

{{ $files := readDir $path }}
{{ range $files }}
  {{ if .IsDir }}
    {{/* Llamada recursiva para subdirectorios */}}
    {{ $newAccum := partial "functions/media-files" (dict
      "path"  (print $path "/" .Name)
      "ext"   $ext
      "accum" $accum
    ) }}
    {{ $accum = $newAccum }}
  {{ else }}
    {{/* Verifica la extensión y acumula */}}
    {{ $name := .Name }}
    {{ range $ext }}
      {{ if hasSuffix $name . }}
        {{ $accum = $accum | append (print $path "/" $name) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $paths := slice }}
{{ range $accum }}
  {{ $paths = $paths | append (replace . "assets/" "") }}
{{ end }}

{{ return $paths }}
