{{ $p := dict }}

{{/*  COMMON TEMPLATE PARAMS  */}}
{{ with site.Data.templates.base._ }}
  {{ $p = merge . $p }}
{{ end }}

{{ if eq .Kind "404" }}

  {{/*  404  */}}
  {{ with index site.Data.templates.base "404" }}
    {{ $p = merge $p . }}
  {{ end }}

{{ else }}

  {{/*  DEFAULT  */}}
  {{ if eq .Type "page" }}
    {{/*  CUSTOM  */}}
    {{ with site.Data.templates.base.customs }}
      {{ $p = merge $p . }}
    {{ end }}
  {{ else }}
    {{ if eq .Kind "section" }}
      {{/*  LISTS  */}}
      {{ with site.Data.templates.base.lists }}
        {{ $p = merge $p . }}
      {{ end }}
    {{ else }}
      {{/*  ARTICLES  */}}
      {{ with site.Data.templates.base.articles }}
        {{ $p = merge $p . }}
      {{ end }}
      {{/*  ARTICLES PARENT  */}}
      {{ with site.GetPage .Type }}
        {{ with .Params.template }}
          {{ with index site.Data.templates . }}
            {{ $p = merge $p . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  PAGE  */}}
  {{ with .Params.template }}
    {{ with index site.Data.templates . }}
      {{ $p = merge $p . }}
    {{ end }}
  {{ end }}

{{ end }}

{{ $p = merge $p .Params }}

{{ return $p }}