{{ $item := .item }}

{{/*  MERGE PARAMS  */}}
{{ range .item.params }}
  {{/*  .value: string like obj  */}}
  {{ $value  := .value }}
  {{ with .value }}
    {{ $value = unmarshal . }}
  {{ else }}
    {{/*  Name param = .page or .box  */}}
    {{ with .page | default .box }}
      {{ if eq . "filename" }}
        {{/*  Get filename  */}}
        {{ $value = $.Page.File.TranslationBaseName }}
      {{ else if eq . "content" }}
        {{/*  Get content  */}}
        {{ $value = $.Page.RawContent }}
      {{ else }}
        {{/*  Get value from page param with name "page" or "box"  */}}
        {{ $opts := dict "Page" $.Page "name" . }}
        {{ $value = partial "functions/param" $opts }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $value }}
    {{/*  Merge page param in box  */}}
    {{ $keys := split .box "." }}
    {{ $obj  := dict }}
    {{ if eq (len $keys) 2 }}
      {{/*  2 levels  */}}
      {{ $obj = dict (index $keys 0) (dict (index $keys 1) $value) }}
    {{ else }}
      {{/*  1 level  */}}
      {{ $obj = dict (index $keys 0) $value }}
    {{ end }}
    {{ $item  = merge $item $obj }}
  {{ end }}
{{ end }}

{{/*  Check "if" param and remove if not  */}}
{{ $opts  := dict "Page" $.Page "if" $item.if }}
{{ $if    := partial "functions/if" $opts }}
{{ if not $if }}
  {{ $item = dict }}
{{ end }}

{{ return $item }}
