{{ $config         := site.Data.sections }}
{{ $page           := .Params }}
{{ $sections_final := slice }}

{{/*  SECTIONS BY YAML FILES  */}}
{{ $sections  := slice }}
{{ range .Params.sections }}
  {{ $section := . }}
  {{ with partial "functions/section-by-file" (dict "file" .file "type" "sections") }}
    {{ $sections = $sections | append (merge . $section) }}
  {{ end }}
{{ end }}

{{/*  ALTERNATES  */}}
{{ $alternates := dict }}
{{ $alts       := $page.alternate | default $config.alternate }}
{{ if gt (len $sections) 1 }}
  {{ with $alts }}
    {{ $len_alts := add (len .) 1 }}
    {{ range seq $len_alts }} {{/* 1, 2, 3 */}}
      {{ $key_alt := . }}
      {{ range seq $key_alt $len_alts (len $sections) }} {{/* 1, 4, 7, 10 */}} {{/* 2, 5, 8 */}} {{/* 3, 6, 9 */}}
        {{ $section   := dict (string .) (index $alts (sub $key_alt 1)) }}
        {{ $alternates = $alternates | merge $section }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  SECTIONS FINAL  */}}
{{ range $key, $value := $sections }}

  {{/*  MODALS  */}}
  {{ $modals := slice }}
  {{ with .modals }}
    {{ range . }}
      {{ $modal := dict }}
      {{/*  MODAL BY YAML FILES  */}}
      {{ with partial "functions/section-by-file" (dict "file" . "type" "modals") }}
        {{ $modals = $modals | append (merge
          (site.Data.modals  | default dict)
          ($page.modals       | default dict)
          .
          $modal
          (dict "modal" true)
          (dict "id" (partial "functions/id-by-title" .))
        ) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  ALTERNATE  */}}
  {{ $alternate := dict }}
  {{ with $alternates }}
    {{ with index . (string $key) }}
      {{ $alternate = . }}
    {{ end }}
  {{ end }}

  {{/*  SECTION  */}}
  {{ $section := slice (merge
    ($config.general | default dict)
    ($page.general   | default dict)
    ($alternate      | default dict)
    .
    (dict "modals" $modals)
    (dict "id" (partial "functions/id-by-title" .))
    (cond (not $key) (dict "id" "header") dict)
  ) }}

  {{/*  If contact with map (in last row) -> not flip_y  */}}
  {{/*
  {{- $section_ := index $section 0 -}}
  {{- if ne $section_.id "footer" -}}
    {{- if $section_.flip_y -}}
      {{- with $section_.rows -}}
        {{- with index (last 1 .) 0 -}}
          {{- if eq .type "contact" -}}
            {{- if .map.active -}}
              {{- $section = slice (merge
                $section_
                (dict "flip_y" (not $section_.flip_y))
                (dict "flip_x" (not $section_.flip_x))
              ) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  */}}

  {{/*  FINAL  */}}
  {{ range $section }}
    {{ $sections_final = $sections_final | append . }}
  {{ end }}

{{ end }}

{{/*  {{ $sections_final = $sections }}  */}}

{{ return $sections_final }}