{{ $params         := partial "functions/params" . }}
{{ $sections_final := slice }}
{{ $sections       := slice }}

{{/*  SECTIONS BY YAML FILES  */}}
{{ range $params.sections }}
  {{ $section := . }}
  {{ with partial "functions/section-by-file" (merge . (dict "type" "section")) }}
    {{ $section = merge . $section }}
  {{ end }}
  {{ $if := partial "functions/if" (dict "Page" $.Page "if" $section.if) }}
  {{ if $if }}
    {{ $sections = $sections | append $section }}
  {{ end }}
{{ end }}

{{/*  SECTIONS STYLES  */}}
{{ $first      := dict }}
{{ $alternates := dict }}
{{ $alts       := dict }}
{{ with $params.section }}
  {{ $first     = index . 0 }}
  {{ if gt (len .) 1 }}
    {{ $alts    = after 1 . }}
  {{ end }}
{{ end }}
{{ if gt (len $sections) 1 }}
  {{ with $alts }}
    {{ $len_alts := add (len .) 1 }}
    {{ range seq $len_alts }} {{/* 1, 2, 3 */}}
      {{ $key_alt := . }}
      {{ range seq $key_alt $len_alts (len $sections) }} {{/* 1, 4, 7, 10 */}} {{/* 2, 5, 8 */}} {{/* 3, 6, 9 */}}
        {{ $section   := dict (string .) (index $alts (sub $key_alt 1)) }}
        {{ $alternates = $alternates | merge $section }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  SECTIONS FINAL  */}}
{{ range $key, $value := $sections }}

  {{/*  MODALS  */}}
  {{ $modals := slice }}
  {{ with .modals }}
    {{ range . }}
      {{ $modal := . }}
      {{/*  MODAL BY YAML FILES  */}}
      {{ with partial "functions/section-by-file" (dict "file" .file "type" "modal") }}
        {{ $modals = $modals | append
          (merge
            ($params.modals  | default dict)
            .
            $modal
            (dict
              "modal" true
              "id"    (partial "functions/id-by-title" .)
            )
          )
        }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  ALTERNATE  */}}
  {{ $alternate := dict }}
  {{ with $alternates }}
    {{ with index . (string $key) }}
      {{ $alternate = . }}
    {{ end }}
  {{ end }}

  {{/*  SECTION  */}}
  {{ $section := slice (merge
    ($first     | default dict)
    ($alternate | default dict)
    .
    (dict "modals" $modals)
    (dict "id" (partial "functions/id-by-title" .))
    (cond (not $key) (dict "id" "header") dict)
  ) }}

  {{/*  FINAL  */}}
  {{ range $section }}
    {{ $section_final := partial "functions/replace-params" (dict "Page" $.Page "obj" .) }}
    {{ $sections_final = $sections_final | append $section_final }}
  {{ end }}

{{ end }}

{{/*  {{ $sections_final = $sections }}  */}}

{{ return $sections_final }}