{{ $result := dict }}
{{ $head   := . | findRE `<svg.*?>` }}
{{ with index $head 0 }}
  {{ $width  := 0 }}
  {{ $height := 0 }}
  {{ range . | findRESubmatch ` width="(.+?)"`  }}{{ $width  = index . 1 | float }}{{ end }}
  {{ range . | findRESubmatch ` height="(.+?)"` }}{{ $height = index . 1 | float }}{{ end }}
  {{ if and $width $height | not }}
    {{ range . | findRESubmatch ` viewBox="([0-9eE\.\-]+) ([0-9eE\.\-]+) ([0-9eE\.\-]+) ([0-9eE\.\-]+)"` }}
      {{ $width  = sub (float (index . 3)) (float (index . 1)) }}
      {{ $height = sub (float (index . 4)) (float (index . 2)) }}
    {{ end }}
  {{ end }}
  {{ $result = dict "head" . "width" $width "height" $height }}
{{ end }}
{{ return $result }}