{{/*  If change for store method
{{ $tpl := site.Store.Get page.Permalink -}}
*/}}

{{/*  DEFAULT  */}}
{{ $default := dict
  "toc"        true
  "background" dict
  "menu"       dict
  "callnow"    dict
  "section"    dict
  "sections"   slice
  "list"       dict
  "related"    dict
}}

{{/*  ALL  */}}
{{ $all := site.Data.types.all.tpl }}

{{/*  TYPE  */}}
{{ $type := dict }}
{{ if eq .Kind "404" }}
  {{ $type = dict
    "menu"     (dict "hide" true)
    "callnow"  (dict "hide" true)
    "sections" (slice (dict "file" "base-404"))
  }}
{{ else if not .IsSection }}
  {{ with .Type }}
    {{ $type = index site.Data.types . }}
    {{ $type = $type.tpl }}
  {{ end }}
{{ end }}

{{/*  SELF  */}}
{{ $self := .Params.tpl }}
{{ if ne .Params.toc nil }}
  {{ $toc := dict "toc" .Params.toc }}
  {{ $self = merge $self $toc }}
{{ end }}

{{/*  ALL  */}}
{{ $tpls := slice $default $all $type $self }}

{{ return $tpls }}