// HUGO VARS
@import 'hugo:vars';

// VENDORS BASE
@import 'css/vendors/_normalice';
@import 'css/vendors/_code';

// BASE
@import 'css/_func';
@import '_custom-variables';
@import 'css/_variables';
@import 'css/_mixins';
@import 'css/_extends';
@import 'css/_preload';
@import 'css/_fonts';
@import 'css/_custom-properties';
@import 'css/_layout';
@import 'css/_animations';
@import 'css/_info';

// VENDORS POST VARIABLES
@import 'css/vendors/_simple-lightbox';

// UTILITIES
@import 'css/utilities/_img';
@import 'css/utilities/_link';
@import 'css/utilities/_btn';
@import 'css/utilities/_bg';
@import 'css/utilities/_color';
@import 'css/utilities/_pd';
@import 'css/utilities/_div';
@import 'css/utilities/_align';
@import 'css/utilities/_title';
@import 'css/utilities/_price';
@import 'css/utilities/_caps';
@import 'css/utilities/_line';
@import 'css/utilities/_others';
@import 'css/utilities/_scroll';
@import 'css/utilities/_tooltip';
@import 'css/utilities/_mail';

// BOXES
@import 'css/boxes/_items';
@import 'css/boxes/_item';
@import 'css/boxes/_container';
@import 'css/boxes/_pill';
@import 'css/boxes/_slider';
@import 'css/boxes/_pagination';
@import 'css/boxes/_tags';
// BOX BLOCKS
@import 'css/boxes/blocks/_gallery';
@import 'css/boxes/blocks/_steps';
@import 'css/boxes/blocks/_faq';
@import 'css/boxes/blocks/_reviews';
@import 'css/boxes/blocks/_when';
@import 'css/boxes/blocks/_links';
@import 'css/boxes/blocks/_form';
@import 'css/boxes/blocks/_map';
@import 'css/boxes/blocks/_gss';

// MD
@import 'css/md/_';
@import 'css/md/_heading';
@import 'css/md/_list';
@import 'css/md/_fig';
@import 'css/md/_table';
@import 'css/md/_quotes';
@import 'css/md/_hr';
@import 'css/md/_btn';
@import 'css/md/_alert';
@import 'css/md/_sign';
@import 'css/md/_footnote';
@import 'css/md/_other';

// BASE
@import 'css/base/_menu';
@import 'css/base/_menu-sticky';
@import 'css/base/_logo';
@import 'css/base/_section';
@import 'css/base/_modal';
@import 'css/base/_footer';
@import 'css/base/_cookies';
@import 'css/base/_callnow';
@import 'css/base/_up';

// MODS
@import 'css/mods/_404';
@import 'css/mods/_crumbs';
@import 'css/mods/_toc';
@import 'css/mods/_comments';

// OTHERS
// @import 'css/others/_lazy-load';
@import 'css/others/_scroll-show';
@import 'css/others/_lightbox';
@import 'css/others/_google-translate';
@import 'css/others/_search';

// PRINT
@import 'css/_print';

// CUSTOM FILE
@import '_custom';
