{{ $result  := slice }}
{{ $headers := index (first 1 .) 0 }}
{{ with after 1 . }}
  {{ range . }}
    {{ $item := dict }}
    {{ range $key, $value := . }}
      {{ $header_key := index $headers $key }}
      {{ $cell_value := . }}
      {{ if eq . "TRUE" }}
        {{ $cell_value = true }}
      {{ else if eq . "FALSE" }}
        {{ $cell_value = false }}
      {{ end }}
      {{ $item = $item | merge (dict $header_key $cell_value) }}
    {{ end }}
    {{ $result = $result | append $item }}
  {{ end }}
{{ end }}
{{ return $result }}