{{ range site.Data.remote }}
  {{ $csv   := .csv }}
  {{ $lang  := .lang }}
  {{ $types := .types }}
  {{ with .src }}
    {{ with partial "func/get-remote" . }}
      {{ $datas := unmarshal (.Content | string) }}
      {{ if $csv }}
        {{ $datas = partial "csv" $datas }}
      {{ end }}

      {{ if $datas }}
        {{ range $types }}
          {{ $type := .type | default "pages" }}
          {{ $map  := .map }}

          {{ with .index }}
            {{ $datas = index $datas (split . ".") }}
          {{ end }}
          {{ with $datas }}
            {{/*  TO FILES  */}}
            {{ range $key, $data := . }}
              {{ with . }}

                {{ $obj := dict }}
                {{ range $map }}
                  {{ $from := .from | default .to }}

                  {{ $pair := index $data (split $from ".") }}
                  {{ if $pair }}
                    {{ if eq .kind "slice" }}
                      {{ if not (reflect.IsSlice $pair) }}
                        {{ $pair = split $pair (.sep | default ",") }}
                      {{ end }}
                    {{ end }}
                  {{ end }}

                  {{ if ne .def nil }}
                    {{ $options := dict "str" .def "kind" .kind "sep" .sep }}
                    {{ $default := partial "func/str-to-kind" $options }}
                    {{ $pair     = $pair | default $default }}
                  {{ end }}

                  {{ if $pair }}
                    {{ $opts := dict
                      "dict"  $obj
                      "keys"  (split .to ".")
                      "value" $pair
                      "kind"  .kind
                    }}
                    {{ $new := partial "update-nested" $opts }}
                    {{ $obj  = merge $obj $new }}
                  {{ end }}

                {{ end }}

                {{ $slug    := index $obj "slug"    | default $key }}
                {{ $content := index $obj "content" | default "" }}
                {{ $obj      = merge $obj (dict "content" nil) }}
                {{ $path    := print "content/" $type "/" (urlize $slug) "." $lang ".md" }}
                {{ partial "file-by-obj" (dict "obj" $obj "content" $content "path" $path) }}

              {{ end }}
            {{ end }}

          {{ end }}
        {{ end }}
      {{ end }}

    {{ end }}
  {{ end }}
{{ end }}

{{ return "" }}