{{ $c := site.Data.utilities.collections }}

{{ $types_full  := slice }}
{{ range $k, $v := site.Data.types }}
  {{ if ne "all" $k }}
    {{ $type_base := cond (eq $k "single") "single" (.base | default "page") }}
    {{ $type      := dict "name" $k "base" $type_base }}
    {{ $type       = merge . $type }}
    {{ $types_full = $types_full | append $type }}
  {{ end }}
{{ end }}
{{ $types_full   = sort $types_full "weight" }}
{{ $types_full   = where $types_full     "name" "eq" "single" | append (where $types_full "name" "ne" "single") }}
{{ $types       := where $types_full     "hide" "ne" true | default slice }}
{{ $langs       := where site.Data.langs "hide" "ne" true }}
{{ $lang_first  := index $langs 0 }}

{{ $languages := dict }}
{{ $cascade   := slice }}

{{/*  DEFAULTS  */}}
{{ $defaults := site.Data.defaults | default slice }}
{{ range $defaults }}
  {{ $options := dict "name" .name "str" .value "kind" .type }}
  {{ $params  := partial "func/str-to-kind" $options }}
  {{ $target  := dict }}
  {{ with .kind }}{{ $target = merge $target (dict "kind" (print "{" (delimit . ",") "}")) }}{{ end }}
  {{ with .lang }}{{ $target = merge $target (dict "lang" (print "{" (delimit . ",") "}")) }}{{ end }}
  {{ with .path }}{{ $target = merge $target (dict "path" (print "{" (delimit . ",") "}")) }}{{ end }}
  {{ if not $target }}{{ $target = dict "path" "**" }}{{ end }}
  {{ $default := dict "params" $params "target" $target }}
  {{ $cascade = $cascade | append $default }}
{{ end }}

{{ range site.Data.options.langs }}
  {{ $lang      := . }}
  {{ $language  := dict }}
  {{ $base_url  := "" }}
  {{ $pager     := false }}
  {{ $on        := false }}
  {{ $label     := false }}
  {{ $time_zone := false }}
  {{ $title     := false }}
  {{ $params    := false }}

  {{ $config_lang  := where $langs "lang" $lang }}
  {{ $config_lang   = index $config_lang 0 }}
  {{ with $config_lang }}
    {{ $config_lang = merge $lang_first . }}
  {{ end }}
  {{ with $config_lang }}
    {{/*  i18n  */}}
    {{ $t := index site.Data.i18n $lang }}

    {{/*  Home single singular  */}}
    {{ $home_singular := dict
      "params" (dict
        "singular" $t.types_def_single_singular
      )
      "target" (dict
        "lang" $lang
        "kind" "home"
      )
    }}
    {{ $cascade = $cascade | append $home_singular }}

    {{/*  Mix first configuration language with the others  */}}
    {{ $config := site.Data.config }}
    {{ $config  = dict
      "ga4"           $config.ga4
      "g_site_verify" $config.g_site_verify
      "g_file_verify" $config.g_file_verify
      "g_translate"   $config.g_translate
      "disqus"        $config.disqus
      "mail"          $config.mail
      "phone_code"    $config.phone_code
      "time_zone"     $config.time_zone
      "currency"      $config.currency
      "main_org"      $config.main_org
      "html"          $config.html
    }}
    {{ $config_mix := merge $config . .config (dict "config" nil) }}

    {{ with $config_mix }}
      {{/*  language's vars  */}}
      {{ $base_url  = .baseURL }}
      {{ $pager     = .pager }}
      {{ $on        = not (.hide | default false) }}
      {{ $label     = .label }}
      {{ $time_zone = index . "config" "time_zone" }}
      {{ $title     = .title }}
      {{ $params    = . }}

      {{ range $k, $type := $types_full }}
        {{ $name  := .name }}
        {{ $base  := .base }}
        {{ $title := or $name .label .singular | urlize | default "" }}

        {{/*  taxonomies  */}}
        {{ $taxonomies  := slice }}
        {{ $breadcrumbs := "" }}
        {{ range $types }}
          {{ $type_of := . }}
          {{ range .tax_of }}
            {{ if eq .name $name }}
              {{ $name_from    := $type_of.name }}
              {{ $base_from    := $type_of.base }}
              {{ $taxonomies    = $taxonomies
                | append (merge . (dict
                  "name" $name_from
                  "base" $base_from
                ))
              }}
              {{ if .crumbs }}
                {{ $breadcrumbs = $name_from }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{/*  type with lang  */}}
        {{ $type_lang := resources.Get (print "content/" $name "/_index." $lang ".md") }}
        {{ with $type_lang }}
          {{ if .Content | findRE `(?s)^---.+---` }}
            {{ $type_lang_params := unmarshal .Content }}
            {{ $type_lang_title  := dict
              "lang_title"     $type_lang_params.title
              "noindex_parent" $type_lang_params.noindex
            }}
            {{ $type = merge $type $type_lang_params $type_lang_title }}
          {{ end }}
        {{ end }}

        {{/*  permalinks  */}}
        {{ $permalinks      := "" }}
        {{ with $type.permalinks }}
          {{ if ne . "/" }}
            {{ $permalinks   = print . "/:slug" }}
          {{ end }}
        {{ else }}
          {{ if eq $type.permalinks nil }}
            {{ with index $t (print "types_def_" $name "_permalinks") }}
              {{ $permalinks = print . "/:slug" }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ if not $permalinks }}
          {{ $permalinks     = ":slug" }}
        {{ end }}

        {{/*  cms  */}}
        {{ $lang_cms := index site.Data.config "cms" "lang" | default "es" }}
        {{ $i18n_cms := index site.Data.i18n $lang_cms }}
        {{/*
        {{ if ne $lang_cms "es" }}
          {{ $i18n_cms_es := index site.Data.i18n "es" }}
          {{ $i18n_cms     = merge $i18n_cms_es $i18n_cms }}
        {{ end }}
         */}}
        {{ $cms := $type }}
        {{ $type_rsc := resources.Get (print "content/" $name "/_index." $lang_cms ".md") }}
        {{ with $type_rsc }}
          {{ if .Content | findRE `(?s)^---.+---` }}
            {{ $type_params := unmarshal .Content }}
            {{ $cms = merge $type $type_params }}
          {{ end }}
        {{ end }}
        {{ $is_body := .body }}
        {{ if eq .body nil }}
          {{ $def_names := slice "article" "blog" "new" "event" "product" "author" "page" }}
          {{ if in $def_names $name }}
            {{ $is_body = true }}
          {{ end }}
        {{ end }}
        {{ $cms_defs := dict
          "title"    (index $i18n_cms (print "types_def_" $name "_title"   ))
          "singular" (index $i18n_cms (print "types_def_" $name "_singular"))
          "hint"     (index $i18n_cms (print "types_def_" $name "_hint"    ))
        }}
        {{ $default_values := dict
          "permalinks" (index $t (print "types_def_" $name "_permalinks" ))
          "slug"       (index $t (print "types_def_" $name "_slug"       ))
          "singular"   (index $t (print "types_def_" $name "_singular"   ))
          "title"      (index $t (print "types_def_" $name "_title"      ))
          "desc"       (index $t (print "types_def_" $name "_desc"       ))
        }}
        {{ $cms = dict
          "title"      (or $cms.title    $cms.singular $cms_defs.title    $type.title $name)
          "singular"   (or $cms.singular $cms.title    $cms_defs.singular $type.title $name)
          "hint"       (or $type.hint                  $cms_defs.hint                      )
          "permalinks" $permalinks
          "defaults"   $default_values
          "body"       $is_body
        }}

        {{/*  CONFIG TO TYPE PARENT PAGES  */}}
        {{ $slug         := "" }}
        {{ with $type }}
          {{ $title       = or .lang_title  $default_values.title    .title .singular  $name }}
          {{ $singular   := or .singular    $default_values.singular .title $cms.title $name }}
          {{ $desc       := or .desc        $default_values.desc     ""                      }}
          {{ $slug        = or .slug        $default_values.slug     $title                  }}
          {{ $icon       := or .icon        (index $c.icons  $name)  "file"                  }}
          {{ $emoji      := or .emoji       (index $c.emojis $name)  "📄"                    }}
          {{ $ni_parent  := cond (eq .noindex_parent nil) true .noindex_parent }}
          {{ $customs    := slice }}
          {{ range site.Data.customs | default slice }}
            {{ if in .types $name }}
              {{ $customs = $customs | append . }}
            {{ end }}
          {{ end }}

          {{/*  GLOBAL CASCADE  */}}
          {{ $parent := dict
            "params" (dict
              "slug"     $slug
              "singular" $singular
              "title"    $title
              "seo"      .seo
              "desc"     $desc
              "icon"     $icon
              "emoji"    $emoji
              "img"      .img
              "draft"    .hide
              "noindex"  $ni_parent
              "weight"   (add $k 1)
              "cms"      $cms
              "customs"  $customs
            )
            "target" (dict
              "lang" $lang
              "path" (print "/" $name)
            )
          }}
          {{ $child := dict
            "params" (dict
              "noindex"     .noindex
              "type"        $name
              "base"        $base
              "is_related"  .rel
              "is_comments" .comments
              "taxonomies"  $taxonomies
              "tax_of"      .tax_of
              "breadcrumbs" $breadcrumbs
            )
            "target" (dict
              "lang" $lang
              "path" (print "{/" $name ",/" $name "/*}")
            )
          }}
          {{ $parent  = partial "func/obj-no-nil" $parent }}
          {{ $child   = partial "func/obj-no-nil" $child  }}
          {{ $cascade = $cascade | append $parent $child  }}

          {{/*  FILE  */}}
          {{ $path := print "content/" $name "/_index." $lang ".md" }}
          {{ partial "file-by-obj" (dict "obj" dict "content" (.content | default "") "path" $path) }}
        {{ end }}

        {{/*  language  */}}
        {{ $permalinks_page     := dict $name $permalinks }}
        {{ $permalinks_section  := dict $name $slug }}
        {{ $permalinks          := dict "page" $permalinks_page "section" $permalinks_section }}
        {{ $permalinks           = dict "permalinks" $permalinks }}
        {{ $language_permalinks := dict $lang $permalinks }}
        {{ $language             = merge $language $language_permalinks }}

      {{ end }}
    {{ end }}
  {{ end }}

  {{/*  CONFIG TO HUGO CONFIG  */}}

  {{/*  languages  */}}
  {{ $weight := 0 }}
  {{ range $k, $v := $langs }}
    {{ if eq $lang .lang }}
      {{ $weight = add $k 1 }}
    {{ end }}
  {{ end }}
  {{ $languages = merge $languages $language }}
  {{ with $base_url  }}{{ $languages = merge $languages (dict $lang (dict "baseURL"                 .))  }}{{ end }}
  {{ with $pager     }}{{ $languages = merge $languages (dict $lang (dict "pagination" (dict "path" .))) }}{{ end }}
  {{ with $on        }}{{ $languages = merge $languages (dict $lang (dict "disabled"           (not .))) }}{{ end }}
  {{ with $weight    }}{{ $languages = merge $languages (dict $lang (dict "weight"                  .))  }}{{ end }}
  {{ with $label     }}{{ $languages = merge $languages (dict $lang (dict "languageName"            .))  }}{{ end }}
  {{ with $time_zone }}{{ $languages = merge $languages (dict $lang (dict "timeZone"                .))  }}{{ end }}
  {{ with $title     }}{{ $languages = merge $languages (dict $lang (dict "title"                   .))  }}{{ end }}
  {{ with $params }}
    {{ range $k, $v := . }}
      {{ with .      }}{{ $languages = merge $languages (dict $lang (dict "params"         (dict $k .))) }}{{ end }}
    {{ end }}
  {{ end }}

{{ end }}

{{/*  default language  */}}
{{ $obj := dict
  "defaultContentLanguage" (index $langs 0 "lang" | default "es")
  "languages"              $languages
}}
{{ with site.Data.config.lang_main_subdir }}
  {{ $obj = merge $obj (dict "defaultContentLanguageInSubdir" .) }}
{{ end }}

{{/*  module mounts  */}}

{{ $mounts := slice
  (dict
    "source" "static"
    "target" "static"
  )
  (dict
    "source" "assets"
    "target" "assets"
  )
  (dict
    "source" "uploads"
    "target" "static/u"
    "excludeFiles" (slice "fonts")
  )
  (dict
    "source" "uploads"
    "target" "assets/u"
  )
  (dict
    "source" "../_tools/node_modules/material-symbols"
    "target" "assets/fonts"
  )
  (dict
    "source" "themes/sansoul/assets/u/icons/brands"
    "target" "assets/u/icons/brands"
  )
  (dict
    "source" "node_modules/@fortawesome/fontawesome-free/svgs/brands"
    "target" "assets/u/icons/brands"
  )
  (dict
    "source" "../_tools/node_modules/@fortawesome/fontawesome-free/svgs/brands"
    "target" "assets/u/icons/brands"
  )
  (dict
    "source" "node_modules/simple-icons/icons"
    "target" "assets/u/icons/brands"
  )
  (dict
    "source" "../_tools/node_modules/simple-icons/icons"
    "target" "assets/u/icons/brands"
  )
}}
{{ range $langs }}
  {{ with .lang }}
    {{ $mounts = $mounts | append
      (dict
        "source" (print "content/single/_home." . ".md")
        "target" (print "content/_index." . ".md")
        "lang"   .
      )
      (dict
        "source" (print "content/values." . ".yml")
        "target" (print "data/values." . ".yml")
        "lang"   .
      )
    }}
  {{ end }}
{{ end }}
{{ $mounts = $mounts | append
  (dict
    "source"       "content"
    "target"       "content"
    "excludeFiles" (slice
      "values.*.yml"
      "single/_home.*.md"
    )
  )
  (dict
    "source"       "themes/sansoul/prebuild/public/content"
    "target"       "content"
  )
  (dict
    "source"       "data"
    "target"       "data"
    "excludeFiles" "**/example/*"
  )
  (dict
    "source"       "i18n"
    "target"       "data/i18n"
  )
  (dict
    "source"       "themes/sansoul/i18n"
    "target"       "data/i18n"
  )
}}
{{ $obj = merge $obj (dict "module" (dict "mounts" $mounts)) }}

{{/*  related  */}}
{{ $indices := slice
  (dict
    "name"   "date"
    "type"   "fragments"
    "weight" 10
  )
}}
{{ range where $types "tax_of" "ne" nil }}
  {{ $indices = $indices | append
    (dict
      "name"   .name
      "type"   "fragments"
      "weight" 80
    )
  }}
{{ end }}
{{ $obj = merge $obj (dict
  "related" (dict
    "includeNewer" true
    "threshold"    80
    "toLower"      true
    "indices"      $indices
  )
) }}

{{/*  fingerprint / timestamp  */}}
{{ $obj = merge $obj (dict
  "params" (dict
    "timestamp" (now.Format "20060102150405")
  )
) }}

{{/*  fingerprint / timestamp  */}}
{{ $publishdir := relURL site.BaseURL }}
{{ $publishdir  = print "public" $publishdir }}
{{ $obj = merge $obj (dict "publishdir" $publishdir) }}

{{/*  cascade  */}}
{{ $home := dict
  "params" (dict
    "emoji"  "📑"
    "type"   "single"
    "base"   "page"
    "_merge" "deep"
  )
  "target" (dict
    "path" "/"
  )
}}
{{ $default_pages := dict
  "params" (dict
    "noindex"  true
  )
  "target" (dict
    "path" "/page/{legal,privacy,cookies,search,sitemap,cms}"
  )
}}
{{ $global := dict
  "params" (dict
    "index"  true
    "nav"    true
    "toc"    true
  )
  "target" (dict
    "path" "/**"
  )
}}
{{ $cascade = $cascade | append $home $default_pages $global }}
{{ $obj = merge $obj (dict "cascade" $cascade) }}

{{/*  file  */}}
{{ partial "file-by-obj" (dict "obj" $obj "path" "hugo.prebuild.yml") }}

{{ return "" }}