{{ $result := slice }}
{{ range site.Data.remote.srcs }}
  {{ $csv   := .csv }}
  {{ $lang  := .lang }}
  {{ $types := .types }}
  {{ with .src }}
    {{ with resources.GetRemote . }}
      {{ with .Err }}
        {{ warnf "%s" . }}
      {{ else }}

        {{ $datas := unmarshal . }}
        {{ if $csv }}
          {{ $datas = partial "csv" $datas }}
        {{ end }}

        {{ range $types }}
          {{ $type     := .type | default "pages" }}
          {{ $pairings := slice
            (dict "to" "title"                       )
            (dict "to" "title_seo"                   )
            (dict "to" "slug"                        )
            (dict "to" "description"                 )
            (dict "to" "image"                       )
            (dict "to" "images"      "kind" "slice"  )
            (dict "to" "price"       "kind" "float"  )
            (dict "to" "categories"  "kind" "slice"  )
            (dict "to" "author"                      )
            (dict "to" "job_title"                   )
            (dict "to" "social"      "kind" "slice"  )
            (dict "to" "artists"                     )
            (dict "to" "location"                    )
            (dict "to" "address"                     )
            (dict "to" "date"                        )
            (dict "to" "lastmod"                     )
            (dict "to" "date_ini"                    )
            (dict "to" "date_end"                    )
            (dict "to" "toc"         "kind" "boolean")
            (dict "to" "draft"       "kind" "boolean")
            (dict "to" "noindex"     "kind" "boolean")
            (dict "to" "content"                     )
            (dict "from" "slug" "to" "translationKey")
            | append .pairings
          }}

          {{ with .index }}
            {{ $datas = index $datas (split . ".") }}
          {{ end }}
          {{ with $datas }}
            {{/*  TO FILES  */}}
            {{ range $key, $data := . }}

              {{ $obj := dict }}
              {{ range $pairings }}
                {{ $from    := .from | default .to }}

                {{ $pair    := index $data (split $from ".") }}
                {{ if $pair }}
                  {{ if eq .kind "slice" }}
                    {{ if not (reflect.IsSlice $pair) }}
                      {{ $pair = split $pair (.delimit | default ",")  }}
                    {{ end }}
                  {{ end }}
                {{ end }}

                {{ if ne .default nil }}
                  {{ $default  := .default }}
                  {{ if      eq .kind "int" }}
                    {{ $default = int .default }}
                  {{ else if eq .kind "float" }}
                    {{ $default = float .default }}
                  {{ else if eq .kind "boolean" }}
                    {{ $default = eq "true" .default }}
                  {{ else if eq .kind "slice" }}
                    {{ $default = split .default (.delimit | default ",")  }}
                  {{ end }}
                  {{ $pair = $pair | default $default }}
                {{ end }}

                {{ if $pair }}
                  {{ $obj  = merge $obj (dict .to $pair) }}
                {{ end }}
              {{ end }}

              {{ $slug    := index $obj "slug"    | default $key }}
              {{ $content := index $obj "content" | default "" }}
              {{ $path    := print "content." $lang "/" $type "/" (urlize $slug) ".md" }}
              {{ partial "file-by-obj" (dict "obj" $obj "content" $content "path" $path) }}

            {{ end }}

            {{/*  PRINT  */}}
            {{ $result = . | jsonify (dict "prefix" "" "indent" "  ") }}

          {{ end }}
        {{ end }}

      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}