{{- $file := .src | replaceRE `#.*$` "" -}}
{{- $src  := resources.Get $file -}}
{{- $min  := $src -}}
{{- if $src -}}
  {{/*  get head, width and height  */}}
  {{- $head   := "" -}}
  {{- $width  := "" -}}
  {{- $height := "" -}}
  {{- with partial "functions/svg-sizes" $src.Content -}}
    {{- $head   = .head -}}
    {{- $width  = .width -}}
    {{- $height = .height -}}
  {{- end -}}
  {{- if $head -}}
    {{- $min  = $src | minify -}}
    {{- $alt := .alt -}}
    {{- if not $alt -}}
      {{- $alt = $file | replaceRE `^/media/(.+)\..*$` `$1` | humanize -}}
    {{- end -}}
    {{- $content := $min.Content | replaceRE `\n` "" -}}
    {{/*  print  */}}
    {{- if $content | findRE `svg-src|href|</linearGradient>` | or (in .src "#src") -}}
      {{- if or .svg_src ($content | findRE `svg-src`) (in .src "#src") -}}
        {{/*  image tag  */}}
        {{- $minify := $min.Content -}}
        {{- if not (and $width $height) -}}
          {{- $minify = replace $minify "<svg" (print `<svg width="` $width `" height="` $height `"`) -}}
        {{- end -}}
        {{- $src  = $minify | resources.FromString ($file | replaceRE `\.min\.svg$` `.svg`) -}}
        {{- $alt := .alt -}}
        {{- if not $alt -}}
          {{- $alt = .src | replaceRE `^/media/(.+)\..*$` `$1` | humanize -}}
        {{- end -}}
        {{- $lazy := cond (not .notlazy) "lazy" "" -}}
        {{- $img_attrs := dict
          "class"    .class
          "src"      (($minify | resources.FromString $src.RelPermalink).RelPermalink | safeURL)
          "alt"      $alt
          "width"    $width
          "height"   $height
          "decoding" "async"
          "loading"  $lazy
        -}}
        {{- $img_attrs = partial "functions/attrs" $img_attrs }}
        <img {{- $img_attrs }}>
      {{- else -}}
        {{/*  svg literal  */}}
        {{- $content = readFile (print "/assets" $file) -}}
        {{- if not ($head | findRE ` viewBox=`) -}}
          {{- $content = replace $content "<svg" (print "<svg viewBox='0 0 " $width " " $height "'") -}}
        {{- end -}}
        {{- if not ($head | findRE ` width=`) -}}
          {{- $content = replace $content "<svg" (print "<svg width='" $width "'") -}}
        {{- end -}}
        {{- if not ($head | findRE ` height=`) -}}
          {{- $content = replace $content "<svg" (print "<svg height='" $height "'") -}}
        {{- end -}}
        {{- if .class -}}
          {{- $content = replace $content "<svg" (print "<svg class='" .class "'") -}}
        {{- end -}}
        {{- $content | safeHTML -}}
      {{- end -}}
    {{- else -}}
      {{/*  svg sprite  */}}
      {{- $attrs := dict "class" .class "width" $width "height" $height "aria-label" $alt -}}
      {{- $attrs  = partial "functions/attrs" $attrs -}}
      {{- $timestamp := partial "functions/timestamp" . -}}
      {{- $draws     := print "/draws." $timestamp ".svg" -}}
      {{- $icon      := $file | replaceRE `^/media/(icons?/)?|.svg$` "" | replaceRE `^(brand)s/` `$1-` -}}
      {{- $id        := $icon | replaceRE `/` "-" -}}
      {{- $href      := print $draws "#" $id }}
      <svg {{- $attrs }}><use href="{{ $href }}"></use></svg>
      {{- $icon       = print "svg:" $icon -}}
      {{- partial "functions/draw-to-store" $icon -}}
    {{- end -}}

    {{- /*  schema  */}}
    {{ if not .notschema -}}
      {{- partial "schema/image" (dict
        "url"     $min.Permalink
        "width"   $width
        "height"  $height
        "caption" $alt
      ) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
