{{- if .card }}
  <div class="bg-card"></div>
{{- end -}}

{{- if .is_bg -}}

  {{- /*  3D  */ -}}
  {{- if and .is_button_hide (not .hide_shadow) site.Data.styles.buttons.deep }}
    <div class="bg-color bg-color--3d"></div>
  {{- end -}}

  {{- /*  CLASS  */ -}}
  {{- $image := "" -}}
  {{- $alpha := "" -}}
  {{- $gray  := "" -}}
  {{- if .bg -}}
    {{- $image = "bg-figure" -}}
    {{- $alpha = cond (not .alpha) "" "bg-alpha" -}}
    {{- $gray  = cond (not .gray)  "" " image--gray" -}}
  {{- end -}}
  {{- $class := slice "bg-color" $image $alpha -}}

  {{- /*  STYLE  */ -}}
  {{- $bg_alpha    := and .bg               .alpha       (ne .alpha       100) -}}
  {{- $color_alpha := and (or .color .fade) .color_alpha (ne .color_alpha 100) -}}
  {{- $style := slice
    (cond (not $bg_alpha)    "" (print "--bg-alpha:"    .alpha))
    (cond (not $color_alpha) "" (print "--color-alpha:" .color_alpha))
  -}}

  {{- /*  JOIN ATTRIBUTES  */ -}}
  {{- $attrs := dict "class" $class "style" $style -}}
  {{- $attrs = partial "functions/attrs" $attrs -}}

  {{- /*  HTML  */}}
  {{- $alt := .hanchor | default .anchor | default .title | default .subtitle -}}
  {{- $is_iframe := partial "functions/is-iframe" .bg -}}
  <div {{- $attrs -}}>
    {{- if $is_iframe }}
      <div class="bg-figure-video">
    {{- end -}}
      {{ partial "media/_" (dict
        "class"     (print "bg-figure-image" $gray)
        "src"       .bg
        "alt"       $alt
        "notlazy"   .header
        "bg"        true
        "container" .container
        "fit_vl"    .col_vl
        "fit_vs"    .col_vs
      ) -}}
    {{- if $is_iframe }}
      </div>
    {{- end -}}
  </div>

{{- end -}}
