{{- if .card }}
  <div class="bg-card"></div>
{{- end -}}

{{- if .is_bg -}}

  {{- /*  3D  */ -}}
  {{- if and .is_btn_hide (not .hide_shadow) site.Data.styles.btns.deep }}
    <div class="bg-color bg-color--3d"></div>
  {{- end -}}

  {{- /*  CLASS  */ -}}
  {{- $img  := "" -}}
  {{- $gray := "" -}}
  {{- if .bi -}}
    {{- $img  = "bg-fig" -}}
    {{- $gray = cond (not .gray)  "" " img--gray" -}}
  {{- end -}}
  {{- $class := slice "bg-color" $img -}}

  {{- /*  JOIN ATTRIBUTES  */ -}}
  {{- $attrs := dict "class" $class -}}
  {{- $attrs = partial "func/attrs" $attrs -}}

  {{- /*  HTML  */}}
  {{- $alt  := .alt -}}
  {{- if .img -}}
    {{- $alt = .hanchor | default .anchor | default .title | default .sub -}}
  {{- end -}}
  {{- $is_iframe := partial "func/is-iframe" .bi -}}
  <div {{- $attrs -}}>
    {{- if $is_iframe }}
      <div class="bg-fig-vid">
    {{- end -}}
      {{ partial "media/_" (dict
        "class"     (print "bg-fig-img" $gray)
        "img"       .bi
        "alt"       $alt
        "notlazy"   .is_header
        "mute"      true
        "is_bg"     true
        "container" .container
        "fit_vl"    .col_vl
        "fit_vs"    .col_vs
      ) -}}
    {{- if $is_iframe }}
      </div>
    {{- end -}}
  </div>

{{- end -}}
