{{- with site.GetPage "page/cookies" -}}

  {{- /*  VARS  */ -}}
  {{- $color := $.menu.color | default "white" -}}
  {{- $bgc   := partial "func/color-background" (dict "child" $color "parent" $.bg.color) -}}
  {{- $color  = $bgc.child -}}
  {{- $class := print "cookies bg bg-" $color " md" -}}
  {{- $icon  := partial "icon" (dict "def" "cookies") -}}

  {{- /*  KTML  */}}
  <aside class="{{ $class }}">
    <div class="bg-color"></div>
    <div class="cookies__messaje">
      {{- $icon -}}
      {{- i18n "cookies_message" | markdownify -}}
    </div>
    <div class="cookies__btns">
      {{ partial "link" (dict
        "btn"   "such"
        "sm"    true
        "swap"  true
        "label" (i18n "cookies_read_more")
        "url"   .RelPermalink
        "lock"  true
        "blank" true
      ) }}
      {{ partial "link" (dict
        "btn"     "turn"
        "sm"      true
        "swap"    true
        "label"   (i18n "cookies_config")
        "cookies" $color
      ) }}
      {{ partial "link" (dict
        "class" "cookies__btn cookies__btn--reject"
        "btn"   "cta"
        "sm"    true
        "label" (i18n "cookies_reject")
        "lock"  true
      ) }}
      {{ partial "link" (dict
        "class" "cookies__btn cookies__btn--all"
        "btn"   "cta"
        "sm"    true
        "label" (i18n "cookies_accept")
        "lock"  true
      ) }}
    </div>
  </aside>
{{- end -}}