<style>
  #bg-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loader-bg);
    display: grid;
    place-content: center;
    z-index: 9999;
    transition: opacity 0.3s, visibility 0.3s;
  }
  html:not(.preload) #bg-loader {
    opacity: 0;
    visibility: hidden;
  }
  .section:is(/* .sections-visibile *, */ .preload *):not(.section--header, .section--1) {
    content-visibility: auto;
  }
  .preload .icon:not(.icon--svg, .icon--txt) {
    width: 1em;
  }
  .loader {
    transform: scale(3) rotateZ(45deg);
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
  .loader::before,
  .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin-loader linear infinite;
    color: var(--loader-main);
  }
  .loader::after {
    transform: rotateY(70deg);
    animation-delay: .4s;
    color: var(--loader-cta);
  }
  
  @keyframes spin-loader {
    0%,
    100% { box-shadow: .2em 0 0 0 currentcolor; }
    12% { box-shadow: .2em .2em 0 0 currentcolor; }
    25% { box-shadow: 0 .2em 0 0 currentcolor; }
    37% { box-shadow: -.2em .2em 0 0 currentcolor; }
    50% { box-shadow: -.2em 0 0 0 currentcolor; }
    62% { box-shadow: -.2em -.2em 0 0 currentcolor; }
    75% { box-shadow: 0 -.2em 0 0 currentcolor; }
    87% { box-shadow: .2em -.2em 0 0 currentcolor; }
  }
</style>