{{- $config := site.Data.config -}}

{{- $title    := "" -}}
{{- with .Params.seo -}}
  {{- $title   = . | markdownify -}}
{{- else -}}
  {{- $title   = .Title | markdownify -}}
  {{- $pre    := cond .IsSection (print .Params.emoji " ") "" -}}
  {{- $atitle := print $pre $title " - " site.Title -}}
  {{- if lt (len $atitle) 65 -}}
    {{- $title = $atitle -}}
  {{- end -}}
{{- end -}}

{{- $description  := .Description | default .Summary | truncate 155 | plainify | replaceRE `::|:(0[1-9A-Za-z_-]*|[1-9A-Za-z_-][\w-]*):\s?` "" -}}
{{- $image_og     := partial "functions/image-og" . -}}
{{- $image        := $image_og.img -}}
{{- $aas          := partial "functions/authors-article-sections" . -}}
{{- $authors      := $aas.authors -}}
{{- $art_sections := $aas.art_sections -}}

{{- /*  BASIC  */}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<title>{{ $title }}</title>

{{- with $description }}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
{{- end -}}

{{- /*  OPEN GRAPH  */}}
<meta property="og:site_name" content="{{ site.Title }}">
{{- if .IsHome }}
  <meta property="og:type" content="website">
{{- else }}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ $title }}">
  {{- if eq .Params.base "article" }}
    {{ with .Date }}<meta property="article:published_time" content="{{ .Format `2006-01-02T15:04:05Z07:00` }}">{{ end }}
    {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format `2006-01-02T15:04:05Z07:00` }}">{{ end }}
  {{- end -}}
{{- end -}}
{{ with .Lastmod }}<meta property="og:updated_time" content="{{ .Format `2006-01-02T15:04:05Z07:00` }}">{{ end -}}
{{- range $authors -}}
  {{- if reflect.IsMap . }}
    <meta name="author" content="{{ .name }}">
    <meta property="article:author" content="{{ .name }}">
  {{- end -}}
{{- end -}}
{{- range $art_sections -}}
  {{- if reflect.IsMap . }}
    <meta property="article:section" content="{{ .name }}">
  {{- end -}}
{{- end }}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ .Lang }}">
{{- range .Translations }}
  <meta property="og:locale:alternate" content="{{ .Lang }}">
{{- end }}
<meta name="twitter:card" content="summary_large_image">
<meta name="image" content="{{ $image }}">
<meta property="og:image" content="{{ $image }}">

{{- /*  ANDROID THEME COLOR  */}}
<meta name="theme-color" content="{{ site.Data.styles.colors.main.color }}">

{{- /*  INDEXATION  */}}
<link rel="canonical" href="{{ .Permalink }}">
{{- if .IsTranslated -}}
  {{- range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{- end -}}
{{- end -}}
{{- if .Params.noindex }}
  <meta name="robots" content="noindex">
{{- end -}}
{{- with site.Params.google_site_verification }}
  <meta name="google-site-verification" content="{{ . }}">
{{- end -}}

{{- /*  GOOGLE ANALYTICS  */ -}}
{{- if hugo.IsProduction -}}
  {{- with site.Params.google_analytics -}}
    {{- $isPs := "false" -}}
    {{- if $config.others.analytics_pagespeed_disabled -}}
      {{- $isPs = "${navigator.userAgent.includes('Chrome-Lighthouse')}" -}}
    {{- end -}}
    {{- $isCk := "true" -}}
    {{- if $config.others.cookies_legal -}}
      {{- $isCk = "${localStorage.controlcookieanalytics}" -}}
    {{- end }}
    <script>
      // GA4 base
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      // GA4 function
      function googleAnalytics() {
        if (!document.querySelector(`script[src^='https://www.googletagmanager.com/']`)) {
          // Load GA4 script
          var ga = document.createElement('script');
          ga.async = true;
          ga.src = 'https://www.googletagmanager.com/gtag/js?id={{ . }}';
          document.head.appendChild(ga);
          // GA4 tags
          gtag('js', new Date());
          gtag('config', '{{ . }}');
        }
      }
      // If is not bot and if cookies law
      const isBot = navigator.userAgent.toLowerCase().match(/googlebot|bingbot|slurp|duckduckbot|baiduspider|yandexbot/)
      const isPs = `{{ $isPs }}` === 'true'
      const isCk = `{{ $isCk }}` === 'true'
      if (!isBot && !isPs && isCk) googleAnalytics()
    </script>
  {{- end -}}
{{- else -}}
  <script>
    function gtag(...e) {
      console.log(...e)
    }
  </script>
{{- end -}}

{{- /*  SCHEMA  */}}
<script type="application/ld+json">
{{ partial "schema/_" . | safeJS }}
</script>

{{- /*  CSS STYLES  */ -}}
{{- $css := partial "styles" . }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{- /*  FAVICON  */ -}}
{{- $favicon := resources.Get (print "/media/" ($config.favicon | default "base/icon.svg")) -}}
{{- if not $favicon -}}
  {{- $favicon = resources.Get "/media/base/icon.png" -}}
{{- end -}}

{{- with $favicon -}}
  {{- $favicons := slice -}}
  {{- with resources.Get "/media/base/favicon.ico" -}}
    {{- (. | resources.Copy "/favicon.ico").Publish -}}
  {{- else -}}
    {{- $favicons = slice (dict "from" .RelPermalink "ext" "ico") -}}
  {{- end }}
  <link rel="icon" sizes="any" href="/favicon.ico">

  {{- if in . "svg" -}}
    {{- (. | resources.Copy "/favicon.svg").Publish }}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    {{- with resources.Get "/media/base/icon.png" -}}
      {{- (.Resize "192x192 png q1" | resources.Copy "/favicon.png").Publish -}}
    {{- else -}}
      {{- $favicons = $favicons | append (dict "from" .RelPermalink "ext" "png") -}}
    {{- end -}}
  {{- else -}}
    {{- (.Resize "192x192 png q1" | resources.Copy "/favicon.png").Publish -}}
  {{- end }}
  <link rel="icon apple-touch-icon" type="image/png" sizes="192x192" href="/favicon.png">

  {{- with $favicons -}}
    {{- (resources.FromString "favicons.json" (. | jsonify)).Publish -}}
  {{- end -}}
{{- end -}}

{{- /*  RSS  */ -}}
{{- with site.Home.OutputFormats.Get "RSS" }}
  <link rel="alternate feed" type="application/rss+xml" href="{{ .RelPermalink }}" title="{{ site.Title }}">
{{- end -}}

{{- /*  GOOGLE FONTS  */ -}}
{{- with site.Data.styles.fonts -}}
  {{- if .google }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{- $google_url := "https://fonts.googleapis.com/css2" -}}
    {{- range $key, $value := slice .base .title .cursive -}}
      {{- if .family -}}
        {{- $google_url = print
          $google_url
          (cond (not $key) "?" "&")
          "family=" .family
          (cond
            (not .italic)
            (print ":wght@" .weight (cond (not .bold) "" (print ";" .bold)))
            (print ":ital,wght@1," .weight (cond (not .bold) "" (print ";1," .bold)))
          )
        -}}
      {{- end -}}
    {{- end -}}
    {{- $google_url = print ($google_url | safeHTML) "&display=swap" }}
    <link rel="preload" href="{{ $google_url }}" as="style">
    <link href="{{ $google_url }}" rel="stylesheet" media="print" onload="this.media='all'">
    <noscript><link href="{{ $google_url }}" rel="stylesheet"></noscript>
  {{- end -}}
{{- end -}}
