{{ $html := "" }}
{{ $icon := .icon }}

{{ if not .icon }}
  {{ with .default }}
    {{ $icon = index site.Data.styles.icons . }}
    {{ if not $icon }}
      {{ $icon = index site.Data.utilities.defaults . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if ne $icon "hide" }}
  {{ $config := site.Data.styles.icons }}
  {{ $icon   := cond (eq $icon "none") "" $icon }}
  {{ $type   := "icon" }}

  {{/*  SVG  */}}
  {{ $is_svg := $icon | findRE `^(svg|brand):` }}

  {{/*  TXT  */}}
  {{ $is_txt   := hasPrefix $icon "txt:" | or (not $icon) }}
  {{ if or $is_txt $is_svg | not }}
    {{/*  is emoji  */}}
    {{ $icon_code := $icon | urlquery }}
    {{ $is_txt     = in $icon_code "%" }}
  {{ end }}

  {{/*  STORE  */}}
  {{ if not $is_txt }}
    {{ partial "functions/draw-to-store" $icon }}
  {{ end }}

  {{/*  CLASS  */}}
  {{ $class  := slice "icon" }}
  {{ $width  := "" }}
  {{ $height := "" }}
  {{ with .class }}
    {{ $class = $class | append . }}
  {{ end }}
  {{ if $is_txt }}
    {{ $class = $class | append "icon--txt" }}
  {{ else if $is_svg }}
    {{ $class = $class | append "icon--svg" }}
    {{ $name := $icon | replaceRE `^svg:` "" | replaceRE `^brand:` "brands/" }}
    {{ $path := print "/media/{icons/,}" $name ".svg" }}
    {{ $src  := resources.GetMatch $path }}
    {{ with $src }}
      {{ with partial "functions/svg-sizes" .Content }}
        {{ $width  = .width }}
        {{ $height = .height }}
      {{ end }}
    {{ end }}
    {{ if and $width $height | not }}
      {{ $width  = 24 }}
      {{ $height = 24 }}
    {{ end }}
  {{ end }}

  {{ $aria_hidden := cond (not $is_txt) "true" false }}
  
  {{/*  ATTRIBUTES  */}}
  {{ $attrs := dict
    "class"       $class
    "style"       .style
    "width"       $width
    "height"      $height
    "aria-hidden" $aria_hidden
  }}
  {{ $attrs = partial "functions/attrs" $attrs }}

  {{/*  HTML  */}}
  {{ if not .hide }}
    {{ $icon    = $icon | replaceRE `^(svg|txt):` "" | replaceRE `:|/` "-" }}
    {{ if $is_svg }}
      {{ $time := partial "functions/timestamp" . }}
      {{ $html  = print `<svg` $attrs `><use href="/draws.` $time `.svg#` $icon `"></use></svg>` | safeHTML }}
    {{ else }}
      {{ $html  = print `<i` $attrs `>` $icon `</i>` | safeHTML }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $html }}