{{ $html := "" }}
{{ $icon := .icon }}

{{ if not .icon }}
  {{ with .def }}
    {{ $icon = partial "func/default-icon" . }}
  {{ end }}
{{ end }}

{{ if ne $icon "hide" }}
  {{ $config := site.Data.styles.icons.def }}
  {{ $icon   := cond (eq $icon "none") "" $icon }}
  {{ $type   := "icon" }}
  {{ $trans  := false }}
  {{ $lang   := false }}

  {{/*  SVG  */}}
  {{ $is_svg := $icon | findRE `^(svg|brand):` }}

  {{/*  TXT  */}}
  {{ $is_txt   := hasPrefix $icon "txt:" | or (not $icon) }}
  {{ if or $is_txt $is_svg | not }}
    {{/*  is emoji  */}}
    {{ $icon_code := $icon | urlquery }}
    {{ $is_txt     = in $icon_code "%" }}
    {{ $trans      = "no" }}
    {{ $lang       = "zxx" }}
  {{ end }}

  {{/*  CLASS  */}}
  {{ $class  := slice "icon" }}
  {{ $width  := "" }}
  {{ $height := "" }}
  {{ with .class }}
    {{ $class = $class | append . }}
  {{ end }}
  {{ if $is_txt }}
    {{ $class = $class | append "icon--txt" }}
  {{ else if $is_svg }}
    {{ $class = $class | append "icon--svg" }}
    {{ $name := $icon | replaceRE `^svg:` "" | replaceRE `^brand:` "brands/" }}
    {{ $path := print "/u/{icons/,}" $name ".svg" }}
    {{ $src  := resources.GetMatch $path }}
    {{ with $src }}
      {{ with partial "func/svg-sizes" .Content }}
        {{ $width  = .width  }}
        {{ $height = .height }}
      {{ end }}
    {{ end }}
    {{ if and $width $height | not }}
      {{ $width  = 24 }}
      {{ $height = 24 }}
    {{ end }}
  {{ else if eq $icon "format_quote" }}
    {{ $class = $class | append "quote" }}
  {{ end }}

  {{ $aria_hidden := cond (not $is_txt) "true" false }}
  
  {{/*  ATTRIBUTES  */}}
  {{ $attrs := dict
    "class"       $class
    "style"       .style
    "width"       $width
    "height"      $height
    "aria-hidden" $aria_hidden
    "translate"   $trans
    "lang"        $lang
  }}
  {{ $attrs = partial "func/attrs" $attrs }}

  {{/*  HTML  */}}
  {{ $icon    = $icon | replaceRE `^(svg|txt):` "" | replaceRE `:|/` "-" }}
  {{ if $is_svg }}
    {{ $base := partial "func/draws-base" . }}
    {{ $html  = print `<svg` $attrs `><use href="` $base `#` $icon `"></use></svg>` | safeHTML }}
  {{ else }}
    {{ $html  = print `<i` $attrs `>` $icon `</i>` | safeHTML }}
  {{ end }}
{{ end }}

{{ return $html }}