{{ $index := dict }}
{{/*  Parents  */}}
{{ range site.Sections | append site.Home }}
  {{ $summaries := slice }}
  {{/*  Pages  */}}
  {{ range .RegularPages }}
    {{ $page := . }}
    {{ if .File }}
      {{/*  Not base pages  */}}
      {{ if not (in (slice "legal" "privacy" "cookies" "search" "sitemap") .File.TranslationBaseName) }}

        {{/*  Image  */}}
        {{ $image := .Params.image }}
        {{ if $image }}
          {{ if hasPrefix $image "http" }}
            {{ $image = partial "functions/iframe-poster" $image | default $image }}
          {{ else }}
            {{ with resources.Get (print "/media/" $image) }}
              {{ $image = .RelPermalink }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{/*  Content by   */}}
        {{ $contents  := .RawContent }}
        {{ if not $contents }}
          {{ $contents = "" }}
          {{ range partial "functions/sections" . }}
            {{ range partial "functions/section-searchable" . }}
              {{ with .title    }}{{ $contents = print $contents " \n\n " . }}{{ end }}
              {{ with .hanchor  }}{{ $contents = print $contents " \n\n " . }}{{ end }}
              {{ with .subtitle }}{{ $contents = print $contents " \n\n " . }}{{ end }}
              {{ with .content  }}{{ $contents = print $contents " \n\n " . }}{{ end }}
              {{ with .label    }}{{ $contents = print $contents " \n\n " . }}{{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ $contents = partial "functions/md" $contents | plainify }}
        
        {{ $summary := dict
          "link"          .RelPermalink
          "title"         .Title
          "image"         $image
          "summary"       (.Summary | default .Description | default $contents | truncate 155 | replaceRE `icon:[\w-]*\s?` "")
          "content"       $contents
          "reading_time"  (i18n "reading_time" .ReadingTime)
        }}

        {{ if .Date                 }}{{ $summary = merge $summary (dict "date"          (partial "functions/date-format" .Date      )) }}{{ end }}
        {{ if .Lastmod              }}{{ $summary = merge $summary (dict "lastmod"       (partial "functions/date-format" .Lastmod   )) }}{{ end }}
        {{ if .Params.end           }}{{ $summary = merge $summary (dict "end"           (partial "functions/date-format" .Params.end)) }}{{ end }}
        {{ if .Params.price         }}{{ $summary = merge $summary (dict "price"         (.Params.price | lang.FormatCurrency 2 site.Params.currency)) }}{{ end }}
        {{/*  {{ if .Params.sku           }}{{ $summary = merge $summary (dict "sku"           .Params.sku          ) }}{{ end }}  */}}
        {{/*  {{ if .Params.artists       }}{{ $summary = merge $summary (dict "artists"       .Params.artists      ) }}{{ end }}  */}}
        {{ if .Params.location      }}{{ $summary = merge $summary (dict "location"      .Params.location     ) }}{{ end }}
        {{ if .Params.place         }}{{ $summary = merge $summary (dict "place"         .Params.place        ) }}{{ end }}
        {{ if .Params.job           }}{{ $summary = merge $summary (dict "job"           .Params.job          ) }}{{ end }}
        {{/*  {{ if .Params.social        }}{{ $summary = merge $summary (dict "social"        .Params.social       ) }}{{ end }}  */}}
        {{/*  {{ if .Params.types         }}{{ $summary = merge $summary (dict "types"         .Params.types        ) }}{{ end }}  */}}
        {{/*  {{ if .Params.names         }}{{ $summary = merge $summary (dict "names"         .Params.names        ) }}{{ end }}  */}}
        {{/*  {{ if .Params.legal         }}{{ $summary = merge $summary (dict "legal"         .Params.legal        ) }}{{ end }}  */}}
        {{/*  {{ if .Params.nif           }}{{ $summary = merge $summary (dict "nif"           .Params.nif          ) }}{{ end }}  */}}
        {{/*  {{ if .Params.email         }}{{ $summary = merge $summary (dict "email"         .Params.email        ) }}{{ end }}  */}}
        {{/*  {{ if .Params.images        }}{{ $summary = merge $summary (dict "images"        .Params.images       ) }}{{ end }}  */}}
        {{/*  {{ if .Params.social        }}{{ $summary = merge $summary (dict "social"        .Params.social       ) }}{{ end }}  */}}
        {{/*  {{ if .Params.phones        }}{{ $summary = merge $summary (dict "phones"        .Params.phones       ) }}{{ end }}  */}}
        {{ if .Params.address       }}{{ $summary = merge $summary (dict "address"       .Params.address      ) }}{{ end }}
        {{/*  {{ if .Params.areas         }}{{ $summary = merge $summary (dict "areas"         .Params.areas        ) }}{{ end }}  */}}
        {{/*  {{ if .Params.open          }}{{ $summary = merge $summary (dict "open"          .Params.open         ) }}{{ end }}  */}}
        {{/*  {{ if .Params.prices        }}{{ $summary = merge $summary (dict "prices"        .Params.prices       ) }}{{ end }}  */}}
        {{/*  {{ if .Params.services      }}{{ $summary = merge $summary (dict "services"      .Params.services     ) }}{{ end }}  */}}
        {{/*  {{ if .Params.food_menu     }}{{ $summary = merge $summary (dict "food_menu"     .Params.food_menu    ) }}{{ end }}  */}}
        {{/*  {{ if .Params.food_type     }}{{ $summary = merge $summary (dict "food_type"     .Params.food_type    ) }}{{ end }}  */}}
        {{/*  {{ if .Params.service_areas }}{{ $summary = merge $summary (dict "service_areas" .Params.service_areas) }}{{ end }}  */}}
        {{/*  {{ if .Params.service_types }}{{ $summary = merge $summary (dict "service_types" .Params.service_types) }}{{ end }}  */}}

        {{ $taxonomies := partial "functions/taxonomy-parents" . }}
        {{ range $taxonomies }}
          {{ $title  := index $summary .Type | default slice | append (dict "title" .Title "link" .RelPermalink) }}
          {{ $summary = merge $summary (dict .Type $title) }}
        {{ end }}

        {{ $summaries = $summaries | append $summary }}

      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $summaries }}
    {{ $index = merge $index (dict .Type $summaries) }}
  {{ end }}
{{ end }}

{{ return $index }}