{{- /*
  {{ partial "link" (dict
    "class"  slice or string
    "btn"    string
    "dot"    boolean
    "sm"     boolean
    "swap"   boolean
    "ga4"    boolean

    "icon"   string
    "def"    string
    "pip"    string

    "label"  string
    "anchor" string
    "title"  string

    "url"    string
    "lock"   boolean or nil
    "blank"  boolean
    "nomore" boolean
  ) }}
*/ -}}

{{- /*  SUB MAIL  */ -}}
{{- define "partials/sub-mail" -}}
  <i class="tooltip bg such" style="--copied: '{{ i18n `copied` }}'">
    {{- "" -}}
    <i class="bg-color"></i>
    {{- range slice
      (dict
        "class" "copy"
        "def"   "copy"
        "label" "copy_clipboard"
      )
      (dict
        "class" "send"
        "def"   "send"
        "label" "send_mail"
      )
    -}}
      {{- partial "link" (dict
        "class" (print "mail__option-" .class)
        "btn"   "cta"
        "sm"    true
        "swap"  true
        "def"   .def
        "label" (i18n .label)
      ) -}}
    {{- end -}}
  </i>
{{- end -}}


{{- /*  COOKIES CONFIG  */ -}}
{{- define "partials/cookies-config" -}}
  <i class="tooltip bg bg-{{ . }}">
    <i class="bg-color"></i>
    {{- $values := slice "technical" "preference" "analytics" "advertising" -}}
    {{- range $k, $v := $values -}}
      {{- $label := i18n (print "cookies_" .) -}}
      {{- $title := i18n (print "cookies_" . "_hint") }}
      <label class="form__option" data-title="{{ $title }}">
        {{- "" -}}
        <input
          class="form__checks"
          type="checkbox"
          name="cookies"
          value="{{ . }}"
          {{- if not $k }} disabled checked{{ end -}}
        >
        {{- partial "icon" (dict "def" "send_info") -}}
        {{- $label -}}
      </label>
    {{- end }}
    {{ partial "link" (dict
      "class" "cookies__btn cookies__btn--save"
      "btn"   "cta"
      "sm"    true
      "def"   "save"
      "label" (i18n "cookies_save")
    ) }}
  </i>
{{- end -}}

{{- /*  VARS  */ -}}
{{- $tag       := "b" -}}
{{- $type      := "" -}}
{{- $more_data := "" -}}
{{- $lb_data   := "" -}}
{{- $b_data    := "" -}}
{{- $h_data    := "" -}}
{{- $tabindex  := "" -}}
{{- $role      := "" -}}
{{- $target    := "" -}}
{{- $rel       := "" -}}
{{- $href      := "" -}}
{{- $label     := "" -}}
{{- $btn            := cond (eq .btn "none") "" .btn -}}
{{- $url            := cond (eq .url "none") "" .url -}}
{{- $lock           := .lock | default false -}}
{{- $is_lightbox    := false -}}
{{- $is_out         := false -}}
{{- $is_auto_anchor := eq .anchor "auto" -}}
{{- $anchor         := cond $is_auto_anchor "" .anchor -}}


{{- /*  URL  */ -}}
{{- if $url -}}
  {{- $is_lightbox          = findRE `\.(jpe?g|png|gif|webp|svg)` $url -}}
  {{- $is_out               = hasPrefix $url "http" -}}
  {{- $is_this_anchor_url  := hasPrefix $url "#" -}}
  {{- $is_other_anchor_url := $url | findRE `^.+#` -}}

  {{- /*  get page title and page lock  */ -}}
  {{- if and (not .lock) (not $is_out) -}}
    {{- if $is_this_anchor_url -}}
      {{- if $is_auto_anchor -}}
        {{- /*  get section/modal anchor by store page  */ -}}
        {{- $url_cleaned := $url | replaceRE `^#` "" -}}
        {{- $anchor       = page.Store.Get $url_cleaned -}}
      {{- end -}}
    {{- else -}}
      {{- /*  get page anchor  */ -}}
      {{- $url_cleaned   := $url | replaceRE `#.*` "" -}}
      {{- $pages         := where site.Pages "RelPermalink" $url_cleaned -}}
      {{- $page_internal := index $pages 0 | default site.Home -}}
      {{- with $page_internal -}}
        {{- if .Params.seo.noindex -}}
          {{- $lock = true -}}
        {{- else if $is_auto_anchor -}}
          {{- $anchor = partial "func/anchor-page" . -}}
        {{- end -}}
      {{- else -}}
        {{- $lock = true -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /*  lock in mail and tel urls  */ -}}
  {{- if not $lock -}}
    {{- if findRE `^(mailto|tel):` $url -}}
      {{- $lock = true -}}
    {{- end -}}
  {{- end -}}

  {{- /*  change lock to false if explicit set false  */ -}}
  {{- if and $lock (eq .lock false) -}}
    {{- $lock = false -}}
  {{- end -}}

  {{- /*  media url  */ -}}
  {{- with $url -}}
    {{- $is_slash_prefix := hasPrefix . "/" -}}
    {{- if and
      (not $is_slash_prefix)
      (not $is_out)
      (not $is_this_anchor_url)
      (not $is_other_anchor_url)
    -}}
      {{- $src := . | replaceRE `\#.*$` "" -}}
      {{- with resources.Get $src -}}
        {{- $url = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}


{{- /*  CLASS  */ -}}
{{- /*  button type color, swap and dot or link  */ -}}
{{- $class        := .class | default slice -}}
{{- $class_type   := slice -}}
{{- if $btn -}}
  {{- $hide := eq $btn "hide" -}}
  {{- if $hide -}}
    {{- $class_type = slice "btn" "hide" -}}
  {{- else -}}
    {{- $class_type = slice
      "btn"
      (cond (not .dot)      "" "btn--dot")
      (cond (not .sm)       "" "btn--sm")
      (cond (not .swap)     "" "btn--swap")
      (cond (eq $btn "cta") "" $btn)
    -}}
  {{- end -}}
{{- else if or $url $lock -}}
  {{- /*  set link style if url or lock  */ -}}
  {{- $link_swap := cond (not .swap) "" "link--swap" -}}
  {{- $class_type = slice "link" $link_swap -}}
{{- end -}}
{{- /*  class type  */ -}}
{{- with $class_type -}}
  {{- $class = . | append $class -}}
{{- end -}}
{{- /*  GA4  */ -}}
{{- if .ga4 -}}
  {{- $class = $class | append "ga4" -}}
{{- end -}}


{{- /*  WRAP  */ -}}
{{- $not_url := or $lock $is_lightbox (not $url) -}}
{{- if $not_url -}}
  {{- if $btn -}}
    {{- $tag  = "button" -}}
    {{- $type = "button" -}}
  {{- else -}}
    {{- if or $url $lock -}}
      {{- /*  set link accesibility if url or lock  */ -}}
      {{- $tabindex = "0" -}}
      {{- $role     = "link" -}}
    {{- end -}}
    {{- if not $url -}}
      {{- $b_data   = .blank -}}
    {{- end -}}
  {{- end -}}
  {{- if $is_lightbox -}}
    {{- $lb_data = $url | safeURL -}}
    {{- $b_data  = true -}}
  {{- else if $url -}}
    {{ $url_b64 := $url | safeURL | base64Encode }}
    {{- if or $is_out .blank -}}
      {{- $b_data = $url_b64 -}}
    {{- else -}}
      {{- $h_data = $url_b64 -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $tag  = "a" -}}
  {{- $href = $url | safeURL -}}
  {{- if or $is_out .blank }}
    {{- $target = "_blank" -}}
    {{- $rel    = "noopener" -}}
  {{ end -}}
{{- end -}}


{{- /*  LABEL  */ -}}
{{- $label = or $anchor .anchor2 .label -}}
{{- if $label -}}
  {{- $sub_tag   := "" -}}
  {{- $sub_more  := "" -}}
  {{- $sub_mail  := "" -}}
  {{- $is_mail   := partial "func/is-mail" (.label | default "") -}}
  {{- $is_more   := ne $label .label -}}
  {{- if or .cookies $is_mail -}}
    {{- $tag      = "b" -}}
    {{- $type     = "" -}}
    {{- $tabindex = "0" -}}
    {{- $role     = "" -}}
    {{- $b_data   = "" -}}
    {{- $h_data   = "" -}}
    {{- $href     = "" -}}
    {{- $sub_tag  = true -}}
    {{- if $.cookies -}}
      {{- $sub_mail = partial "cookies-config" .cookies -}}
    {{- else if $is_mail -}}
      {{- $label    = .label | base64Encode -}}
      {{- $class    = $class | append "mail" -}}
      {{- $sub_mail = partial "sub-mail" . -}}
    {{- end -}}
  {{- else if eq $btn "hide" -}}
    {{- /*  if button hide, not more and not sub  */ -}}
    {{- $sub_tag   = false -}}
    {{- $label     = $label | plainify -}}
  {{- else if and $is_more (not .nomore) -}}
    {{- $label     = replace $label "<br>" "" -}}
    {{- /*  check if already applied data-more in parent  */ -}}
    {{- if $btn -}}
      {{- /*  if is a button, need one more child for prevent :before back problem  */ -}}
      {{- $label    = print "<b>" $label "</b>" | safeHTML -}}
      {{- $sub_more = .label | plainify | replaceRE `::|:([\w-]|[^\d:]{2}|[\w-]{3,}?):\s?` "" -}}
    {{- else -}}
      {{- /*  else data-more in wrap  */ -}}
      {{- $more_data = .label | plainify | replaceRE `::|:([\w-]|[^\d:]{2}|[\w-]{3,}?):\s?` "" -}}
    {{- end -}}
    {{- $sub_tag = true -}}
  {{- else if $btn -}}
    {{- $sub_tag = true -}}
  {{- end -}}
  {{- if $sub_tag -}}
    {{- $sub_attrs := dict "data-more" $sub_more -}}
    {{- $sub_attrs  = partial "func/attrs" $sub_attrs -}}
    {{- $label      = print "<b" $sub_attrs ">" $label "</b>" $sub_mail | safeHTML -}}
  {{- end -}}
{{- end -}}


{{- /*  ATTRS  */ -}}
{{- $attrs := dict
  "type"          $type
  "class"         $class
  "data-more"     $more_data
  "data-lightbox" $lb_data
  "data-b"        $b_data
  "data-h"        $h_data
  "tabindex"      $tabindex
  "role"          $role
  "href"          $href
  "target"        $target
  "rel"           $rel
  "title"         .title
-}}
{{- $attrs = partial "func/attrs" $attrs -}}


{{- /*  HTML  */}}
{{- print "<" $tag $attrs ">" | safeHTML -}}
  {{- if or .icon .def -}}
    {{- if ne .icon "hide" -}}
      {{- partial "icon" (dict "icon" .icon "def" .def) -}}
    {{- end -}}
  {{- end -}}
  {{- $label -}}
{{- print "</" $tag ">" | safeHTML -}}
