{{- with .menu -}}
  {{- if .logo -}}
    {{- if or .img .title .sub -}}
      {{- $color     := print "bg bg-" (.color | default "white") -}}
      {{- $align     := cond (or (not .logo_align) (eq .logo_align "center")) "" (print " align-" .logo_align) }}
      {{- $img       := cond (ne nil .img) .img (index . page.Lang "img") -}}
      {{- $title     := cond (ne nil .title) .title (index . page.Lang "title") -}}
      {{- $sub       := cond (ne nil .sub  ) .sub   (index . page.Lang "sub"  ) -}}
      {{- $container := .size | default "lg" -}}
      {{- if and .clear (not .logo_sticky) -}}
        {{- $color  = print "bg bg-" ($.bg.color | default "white") -}}
        {{- with $.sections -}}
          {{- with index . 0 -}}
            {{- with .color -}}
              {{- $color  = print "bg bg-" (. | default "white") -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end }}
      <header class="logo {{ $color }}">
        <div class="box container container--{{ $container }} {{- $align }}">
          {{- $alt := site.Home.Params.seo.title | default site.Home.Params.title | markdownify | plainify }}
          <div class="logo__link link" data-h="{{ site.Home.RelPermalink | base64Encode }}" tabindex="0" role="link" title="{{ $alt }}">
            {{- with $img }}
              {{ partial "media/_"
                (dict
                  "class"     "logo__img"
                  "img"       .
                  "alt"       $alt
                  "container" $container
                  "fit_vl"    0.25
                  "fit_vs"    1.00
                  "notlazy"   true
                )
              -}}
            {{- end -}}
            {{- if $title | or $sub }}
              <div class="logo__titles">
                {{- with $title }}
                  <i class="logo__title h1">{{ . }}</i>
                {{- end -}}
                {{- with $sub }}
                  <i class="logo__sub sub">{{ . }}</i>
                {{- end -}}
              </div>
            {{- end }}
          </div>
        </div>
      </header>
    {{- end -}}
  {{- end -}}
{{- end -}}