{{ with .GetPage (print "authors/" .Params.author) }}
  {{ $title := .Title }}
  <section class="author-box">
    {{ with .Params.image }}
      <div class="author-box__figure">
        {{ partial "components/image"
          (dict
            "class" "author-box__figure-image"
            "src" .
            "alt" $title
            "max" 160
            "ratio" "1x1"
          )
        }}
        {{/*  {{ if in . ".svg" }}
          {{ readFile (print "assets" .) | replaceRE "<svg" (print "<svg class='author-box__figure-image' width='80' height='80'") | safeHTML }}
        {{ else }}
          <img class="author-box__figure-image" width="80" height="80" data-src="{{ ((resources.Get .).Fill `80x80`).RelPermalink }}" alt="{{ $title }}">
        {{ end }}  */}}
      </div>
    {{ end }}
    <div class="author-box__content">
      <h2 class="h3">{{ i18n "about" 1 }} {{ "" }}
        {{- if .Params.noindex -}}
          <i data-h="{{ .RelPermalink | base64Encode }}">{{ $title }}</i>
        {{- else -}}
          <a href="{{ .RelPermalink }}" title="{{ i18n `about` 2 }}: {{ $title }}">{{ $title }}</a>
        {{- end -}}
      </h2>
      {{ with .Description }}<p class="author-box__description">{{ . | markdownify }}</p>{{ end }}
    </div>
  </section>
{{ end }}