{{ with .GetPage (print "authors/" .Params.author) }}
  {{ $title := .Title }}
  <section class="author-box">
    {{ with .Params.image }}
      <div class="author-box__figure">
        {{- partial "components/image"
          (dict
            "class" "author-box__figure-image"
            "src" .
            "alt" $title
            "max" 160
            "ratio" "1x1"
          )
        -}}
      </div>
    {{ end }}
    <div class="author-box__content">
      <h2 class="h3">
        {{- i18n "about" 1 -}}
        {{- " " -}}
        {{- partial "components/link" (dict
          "link"      .RelPermalink
          "button"    "none"
          "label"     $title
          "noindex"   .Params.noindex
        ) -}}
      </h2>
      {{- with .Description -}}
        <p class="author-box__description">{{ . | markdownify }}</p>
      {{- end -}}
    </div>
  </section>
{{ end }}