{{ $icon := site.Data.utilities.collections.icons }}

{{ $colections := slice }}

{{/*  CUSTOM TYPES (single last)  */}}
{{ $parents := where site.Sections "Type" "ne" "single" | append (where site.Sections "Type" "eq" "single") }}
{{ range $parents }}

  {{/*  Slug  */}}
  {{ $slug  := "{{fields.slug}}" }}
  {{ if in (slice "article" "event") .Params.base }}
    {{ $slug = "{{year}}-{{month}}-{{day}}-{{fields.slug}}" }}
  {{ end }}

  {{/*  Preview path  */}}
  {{ $preview    := "{{fields.slug}}" }}
  {{ with .Params.cms.permalinks }} 
    {{ $preview   = replace . ":slug" "{{fields.slug}}" }}
    {{ if in $preview ":" }}
      {{ $preview = $preview | replaceRE `:(year|month|day)` "{{$1}}" }}
    {{ end }}
  {{ end }}
  {{ $base       := urls.Parse site.BaseURL }}
  {{ $base        = $base.Path }}
  {{ $preview     = print $base $preview "/" }}

  {{/*  Summary  */}}
  {{ $sum  := "{{title}}" }}
  {{ if in (slice "article" "event") .Params.base }}
    {{ $sum = "📅 {{date | date('YYYY-MM-DD')}} 🕒 {{date | date('HH:mm')}} ➡️ {{title}}" }}
  {{ end }}

  {{/*  Sortable Fields  */}}
  {{ $sortable_fields    := slice "weight" "commit_date" "title" }}
  {{ $sortable_default   := dict "field" "weight" "direction" "ascending" }}
  {{ if eq .Params.base "article" }}
    {{ $sortable_fields   = slice "date" "mod" | append $sortable_fields }}
    {{ $sortable_default  = dict "field" "date" "direction" "descending" }}
  {{ end }}
  {{ if eq .Params.base "event" }}
    {{ $sortable_fields   = slice "date" "end"     | append $sortable_fields }}
    {{ $sortable_default  = dict "field" "date" "direction" "descending" }}
  {{ end }}
  {{ with .Params.customs }}
    {{ range where . "widget" "date" }}
      {{ $sortable_fields = $sortable_fields       | append .name }}
    {{ end }}
  {{ end }}
  {{ with .Params.taxonomies }}
    {{ range . }}
      {{ $sortable_fields = $sortable_fields       | append .name }}
    {{ end }}
  {{ end }}
  {{ $sortable_fields     = dict "fields" $sortable_fields "default" $sortable_default }}

  {{/*  View Groups  */}}
  {{ $groups  := slice }}
  {{ if in (slice "article" "event") .Params.base }}
    {{ $groups = $groups | append
      (dict "name" `year`    "label" $.filter_year   "field" `date` "pattern" `^\d{4}`)
      (dict "name" `month`   "label" $.filter_month  "field" `date` "pattern" `^\d{4}-\d{2}`)
    }}
  {{ end }}
  {{ $groups = $groups | append
    (dict   "name" `noindex` "label" `NoIndex`       "field" `seo.noindex`)
    (dict   "name" `drafts`  "label" $.filter_drafts "field" `draft`)
  }}
  {{ with .Params.taxonomies }}
    {{ range . }}
      {{ $label := (site.GetPage .name).Params.cms.title }}
      {{ $groups = $groups | append
        (dict "name" .name   "label" $label           "field" .name)
      }}
    {{ end }}
  {{ end }}
  {{/*  {{ $view_groups := dict "groups" $groups "default" "drafts" }}  */}}
  {{ $view_groups := dict "groups" $groups }}

  {{/*  View Filters  */}}
  {{ $view_filters := dict
    "filters" (slice
      (dict "name" `published` "label" $.filter_published "field" `draft`       "pattern" "n")
      (dict "name" `drafts`    "label" $.filter_drafts    "field" `draft`       "pattern" "y")
      (dict "name" `index`     "label" `Index`            "field" `seo.noindex` "pattern" "n")
      (dict "name" `noindex`   "label" `NoIndex`          "field" `seo.noindex` "pattern" "y")
    )
  }}

  {{/*  Fields  */}}
  {{ $fields  := slice
    `~page_slug`
    `~page_title`
    `~page_img`
    `~icon`
  }}
  {{ if .Params.cms.body }}
    {{ $fields = $fields | append
      `~page_body`
      `~page_toc`
    }}
  {{ end }}
  {{ $fields = $fields | append
    `~page_draft`
    `~page_hide`
    `~page_sum`
    `~page_seo`
    `~page_llms`
  }}
  {{ if .Params.is_related }}
    {{ $fields = $fields | append
      (partial "cms/widget" (dict
        "alt"        `page_rel`
        "name"       `rel`
        "widget"     `rel`
        "collection" .Type
        "multi"      true
      ))
    }}
  {{ end }}
  {{ if and (ne .Params.base "article") (ne .Params.base "event") }}
    {{ $fields = $fields | append
      `~page_weight`
    }}
  {{ end }}
  {{ if eq .Params.base "single" }}
    {{ $fields = $fields | append
      (partial "cms/widget" (dict
        "name"   `tpl`
        "widget" `dict`
        "label"  $.types_template
        "hint"   $.types_tpl_single_hint
        "fields" (slice
          `~tpl_background`
          `~tpl_menu`
          `~tpl_callnow`
          `~tpl_section`
          `~tpl_sections`
        )
      ))
      `~page_base`
      (partial "cms/widget" (dict "<<" `page_date` "req" false))
      `~page_mod`
      `~page_end`
      `~page_cancelled`
      `~page_artists`
      `~page_sku`
      `~page_prefix`
      `~page_alts`
      `~page_job`
      `~page_orgs`
      `~page_as`
      `~page_creds`
      `~page_address`
      `~page_service_areas`
      `~page_service_types`
      `~page_price`
      `~page_org`
    }}
  {{ else if eq .Params.base "article" }}
    {{ $fields = $fields | append
      `~page_date`
      `~page_mod`
    }}
  {{ else if eq .Params.base "product" }}
    {{ $fields = $fields | append
      `~page_sku`
      `~page_price`
    }}
  {{ else if eq .Params.base "event" }}
    {{ $fields = $fields | append
      `~page_date`
      `~page_end`
      `~page_cancelled`
      `~page_artists`
      `~page_address`
      `~page_price`
    }}
  {{ else if eq .Params.base "author" }}
    {{ $fields = $fields | append
      `~page_prefix`
      `~page_alts`
      `~page_job`
      `~page_orgs`
      `~page_as`
      `~page_creds`
    }}
  {{ else if eq .Params.base "org" }}
    {{ $fields = $fields | append
      `~page_org`
    }}
  {{ else if eq .Params.base "service" }}
    {{ $fields = $fields | append
      `~page_service_areas`
      `~page_service_types`
      `~page_price`
    }}
  {{ end }}
  {{ range .Params.customs | default slice }}
    {{ $opts  := merge . (dict "fields" $fields "t" $) }}
    {{ $fields = partial "cms/config/collections/customs" $opts }}
  {{ end }}
  {{ range .Params.taxonomies | default slice }}
    {{ $opts  := merge . (dict "fields" $fields "t" $ "tax" true) }}
    {{ $fields = partial "cms/config/collections/customs" $opts }}
  {{ end }}

  {{/*  Index  */}}
  {{ $index_permalinks_hint := print $.index_permalinks_hint " <br> **" $.def " →** " .Params.cms.defaults.permalinks }}
  {{ $index_slug_hint       := print $.index_slug_hint       " <br> **" $.def " →** " .Params.cms.defaults.slug       }}
  {{ $index_singular_hint   := print                               "**" $.def " →** " .Params.cms.defaults.singular   }}
  {{ $index_title_hint      := print                               "**" $.def " →** " .Params.cms.defaults.title      }}
  {{ $index_sum_hint        := print $.page_sum_hint         " <br> **" $.def " →** " .Params.cms.defaults.sum        }}
  {{ $index_permalinks      := partial "cms/widget" (dict "name" `permalinks` "label" $.index_permalinks "hint" $index_permalinks_hint            ) }}
  {{ $index_slug            := partial "cms/widget" (dict "<<" `page_slug`                               "hint" $index_slug_hint       "req" false) }}
  {{ $index_singular        := partial "cms/widget" (dict "name" `singular`   "label" $.index_singular   "hint" $index_singular_hint              ) }}
  {{ $index_title           := partial "cms/widget" (dict "<<" `page_title`                              "hint" $index_title_hint                 ) }}
  {{ $index_sum             := partial "cms/widget" (dict "<<" `page_sum`                                "hint" $index_sum_hint                   ) }}
  {{ $index_preview         := print $base "{{fields.slug | default('" .Params.cms.defaults.slug "')}}/" }}

  {{/*  Collection  */}}
  {{ $colections = $colections | append (dict
    "label"            (.Params.cms.title    | default "")
    "label_singular"   (.Params.cms.singular | default "")
    "name"             (.Type                | default "")
    "icon"             (.Params.icon         | default "")
    "description"      (.Params.cms.hint     | default "")
    "identifier_field" `slug`
    "folder"           (print `content/` .Type)
    "create"           true
    "i18n"             true
    "slug"             $slug
    "preview_path"     $preview
    "summary"          $sum
    "thumbnail"        (slice `img` `vid` `bi`)
    "editor"           (dict "preview" false)
    "sortable_fields"  $sortable_fields
    "view_groups"      $view_groups
    "view_filters"     $view_filters
    "fields"           $fields
    "index_file"       (dict
      "name"             `_index`
      "label"            $.page_index
      "icon"             `lan`
      "create"           true
      "i18n"             true
      "preview_path"     $index_preview
      "thumbnail"        (slice `img` `vid` `bi`)
      "editor"           (dict "preview" false)
      "fields"           (slice
        $index_permalinks
        $index_slug
        $index_singular
        $index_title
        `~page_img`
        `~page_body`
        `~page_toc`
        $index_sum
        `~page_seo`
        `~page_llms`
      )
    )
  ) }}
{{ end }}


{{ $colections = $colections | append (dict "divider" true) }}


{{/*  TYPES  */}}
{{ $colections = $colections | append (dict
  "label"            .collection_types
  "label_singular"   .collection_types_singular
  "name"             `types`
  "icon"             $icon.types
  "description"      .collection_types_desc
  "identifier_field" `title`
  "extension"        `yml`
  "folder"           `data/types`
  "create"           true
  "slug"             "{{fields.title}}"
  "summary"          "{{title}}"
  "sortable_fields"  (dict
    "fields"  (slice "title" "weight")
    "default" (dict
      "field"     "weight"
      "direction" "ascending"
    )
  )
  "editor"           (dict "preview" false)
  "fields"           `~types_fields`
) }}


{{/*  SECTIONS  */}}
{{ $colections = $colections | append (dict
  "label"            .collection_sections
  "label_singular"   .collection_sections_singular
  "name"             `section`
  "icon"             $icon.section
  "description"      .collection_sections_desc
  "identifier_field" `name`
  "extension"        `yml`
  "folder"           `data/section`
  "create"           true
  "slug"             "{{fields.name}}"
  "summary"          "{{name}}"
  "thumbnail"        (slice `img` `vid` `bi`)
  "sortable_fields"  (dict
    "fields"  (slice "commit_date" "name" "id")
    "default" (dict
      "field"     "name"
      "direction" "ascending"
    )
  )
  "editor"           (dict "preview" false)
  "fields"           `~sections_fields`
) }}


{{ return $colections }}
