{{ $fields  := .fields | default slice }}
{{ $field   := dict }}
{{ $label   := .label | default .name }}
{{ $hint    := .hint }}
{{ $widget  := .widget | default (cond (not .var) "str" nil) }}

{{ $def := .def }}
{{ if ne .def nil }}
  {{ $opts := dict "str" .def "kind" $widget }}
  {{ $def   = partial "func/str-to-kind" $opts }}
{{ end }}

{{ $sub := slice }}
{{ if .sub }}
  {{ range .sub | default slice }}
    {{ $opts := merge . (dict "fields" $sub "t" $.t) }}
    {{ $sub   = partial "cms/config/collections/customs" $opts }}
  {{ end }}
{{ end }}

{{ if .tax }}
  {{ $widget = "rel" }}
  {{ $page  := site.GetPage .name }}
  {{ $cms   := $page.Params.cms }}
  {{ $label  = cond (not .multi) $cms.singular $cms.title | default .name }}
  {{ $hint   = print "[" .t.customs_relations_hint "](#/collections/" .name ")" }}
{{ end }}

{{ $field := dict
  "<<"       .var
  "name"     .name
  "label"    $label
  "hint"     $hint
  "widget"   $widget
  "options"  .opts
  "def"      $def
  "multiple" .multi
  "i18n"     .i18n
  "fields"   $sub
}}
{{ $field = partial "func/obj-truly" $field }}

{{ if $field }}
  {{ $field  = partial "cms/widget" $field }}
  {{ $fields = $fields | append $field }}
{{ end }}

{{ return $fields }}