{{ $fields  := .fields | default slice }}
{{ $field   := dict }}
{{ $label   := .label | default .name }}
{{ $hint    := .hint }}
{{ $widget  := .widget | default (cond (not .var) "string" nil) }}
{{ $options := .options }}

{{ $default  := .default }}
{{ if ne .default nil }}
  {{ $kind   := $widget }}
  {{ if eq $widget "list" }}
    {{ $kind  = "slice" }}
  {{ else if eq $widget "object" }}
    {{ $kind  = "dict" }}
  {{ end }}
  {{ $opts   := dict "string" .default "kind" $kind }}
  {{ $default = partial "functions/string-to-kind" $opts }}
{{ end }}

{{ $sub := slice }}
{{ if .sub }}
  {{ range .sub | default slice }}
    {{ $opts := merge . (dict "fields" $sub "t" $.t) }}
    {{ $sub   = partial "cms/config/collections/customs" $opts }}
  {{ end }}
{{ end }}

{{ if .tax }}
  {{ $widget = "relation" }}
  {{ $page  := site.GetPage .name }}
  {{ $cms   := $page.Params.cms }}
  {{ $label  = cond (not .multiple) $cms.singular $cms.title | default .name }}
  {{ $hint   = print "[" .t.customs_relations_hint "](#/collections/" .name ")" }}
{{ end }}

{{ $field := dict
  "<<"        .var
  "name"      .name
  "label"     $label
  "hint"      $hint
  "widget"    $widget
  "options"   $options
  "default"   $default
  "multiple"  .multiple
  "fields"    $sub
}}
{{ $field = partial "functions/obj-truly" $field }}

{{ if $field }}
  {{ $field  = partial "cms/widget" $field }}
  {{ $fields = $fields | append $field }}
{{ end }}

{{ return $fields }}