<div class="dots box__block buttons">
  {{- range .dots -}}
    {{- $link  := . -}}
    {{- $ga4   := "" -}}
    {{- $icon  := "" -}}
    {{- $label := "" -}}
    {{- if reflect.IsMap . -}}
      {{- $link  = .link -}}
      {{- $ga4   = .ga4 -}}
      {{- $icon  = .icon -}}
      {{- $label = .label -}}
    {{- end -}}
    {{- with $link -}}
      {{- if not $icon -}}
        {{- if in . "facebook" -}}
          {{- $icon = "brand:facebook-f" -}}
        {{- else if in . "twitter" -}}
          {{- $icon = "brand:x-twitter" -}}
        {{- else if in . "tiktok" -}}
          {{- $icon = "brand:tiktok" -}}
        {{- else if in . "instagram" -}}
          {{- $icon = "brand:instagram" -}}
        {{- else if in . "youtube" -}}
          {{- $icon = "brand:youtube" -}}
        {{- else if in . "linkedin" -}}
          {{- $icon = "brand:linkedin-in" -}}
        {{- else if in . "github" -}}
          {{- $icon = "brand:github-alt" -}}
        {{- else if in . "gitlab" -}}
          {{- $icon = "brand:gitlab" -}}
        {{- else if in . "g.page" -}}
          {{- $icon = "brand:google" -}}
        {{- else if in . "mailto" -}}
          {{- $icon = "mail" -}}
        {{- else -}}
          {{- $icon = "share" -}}
        {{- end -}}
      {{- end -}}
      {{- if not $label -}}
        {{- $label   = print (i18n "follow_us") " " (. | replaceRE `https?://(.+?\.)?(.+?)\..+` "$2") | title -}}
        {{- if in . "mailto" -}}
          {{- $label = print (i18n "follow_us") " Email" -}}
        {{- end }}
      {{- end }}
      {{ partial "link" (dict
        "link"   .
        "button" ($.button | default "cta")
        "dot"    true
        "ga4"    $ga4
        "icon"   $icon
        "label"  $label
        "anchor" ($.anchor | default "auto")
        "lock"   (ne $.lock false)
      ) -}}
    {{- end -}}
  {{- end }}
</div>
