<div class="dots box__block btns">
  {{- range .dots -}}
    {{- $url   := . -}}
    {{- $ga4   := "" -}}
    {{- $icon  := "" -}}
    {{- $label := "" -}}
    {{- if reflect.IsMap . -}}
      {{- $url   = .url -}}
      {{- $ga4   = .ga4 -}}
      {{- $icon  = .icon -}}
      {{- $label = .label -}}
    {{- end -}}
    {{- with $url -}}
      {{- if not $icon -}}
        {{- $icons := dict
          "facebook"  "brand:facebook-f"
          "twitter"   "brand:x-twitter"
          "tiktok"    "brand:tiktok"
          "instagram" "brand:instagram"
          "youtube"   "brand:youtube"
          "linkedin"  "brand:linkedin-in"
          "github"    "brand:github-alt"
          "gitlab"    "brand:gitlab"
          "g.page"    "brand:google"
          "mailto"    (partial "func/default-icon" "mail")
        -}}
        {{- range $k, $v := $icons -}}
          {{- with in $url $k -}}
            {{- $icon = $v -}}
            {{- break -}}
          {{- end -}}
        {{- end -}}
        {{- if not $icon -}}
          {{- $icon = partial "func/default-icon" "share" -}}
        {{- end -}}
      {{- end -}}
      {{- if not $label -}}
        {{- $label   = print (i18n "follow_us") " " (. | replaceRE `https?://(.+?\.)?(.+?)\..+` "$2") | title -}}
        {{- if hasPrefix . "mailto" -}}
          {{- $label = print (i18n "follow_us") " Email" -}}
        {{- end }}
      {{- end }}
      {{ partial "link" (dict
        "url"    .
        "btn"    (or $.btn "cta")
        "dot"    true
        "ga4"    $ga4
        "icon"   $icon
        "label"  $label
        "anchor" (or $.anchor "auto")
        "lock"   (ne $.lock false)
      ) -}}
    {{- end -}}
  {{- end }}
</div>
