{{- $img      := .img -}}
{{- $url      := .url -}}
{{- $tag      := "a" -}}
{{- $lb_data  := "" -}}
{{- $tabindex := "" -}}
{{- $title    := "" -}}
{{- $target   := "" -}}
{{- $rel      := "" -}}

{{- /*  ROWS TYPE STYLE  */ -}}
{{- $style := "" -}}
{{- if eq .type "rows" -}}
  {{- $cols         := .cols | default 2 -}}
  {{- $width        := 200 -}}
  {{- $height       := 100 -}}
  {{- with .img -}}
    {{- with partial "func/is-vid" . -}}
      {{- $img = partial "func/poster" $img -}}
    {{- else with partial "func/check-media" . -}}
      {{- $img = . -}}
    {{- end -}}
    {{- $out  := hasPrefix $img "http" -}}
    {{- if not $out -}}
      {{- with resources.Get $img -}}
        {{- if hasSuffix $img ".svg" -}}
          {{- with partial "func/svg-sizes" .Content -}}
            {{- $width  = .width  -}}
            {{- $height = .height -}}
          {{- end -}}
        {{- else -}}
          {{- $width  = .Width -}}
          {{- $height = .Height -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $style_width  := lang.FormatNumberCustom 2 (div (mul (div (float $width) (float $height)) (div 600 $cols)) 16) -}}{{- /*  (width / height) * (600 / cols) / 16  */ -}}
  {{- $style_height := lang.FormatNumberCustom 2 (mul (div (float $height) (float $width)) 100) -}}{{- /*  (height / width) * 100  */ -}}
  {{- $style         = print "--gallery-item-width:" $style_width ";--gallery-item-height:" $style_height "%" -}}
{{- end -}}

{{- /*  OUT  */ -}}
{{- $out := hasPrefix .img "http" -}}
{{- if not $out -}}
  {{- with resources.Get .img -}}
    {{- $img = .RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- /*  LIGTHBOX  */ -}}
{{- $is_lightbox := eq .url .img -}}
{{- if $is_lightbox -}}
  {{- $lb_data   = $img | safeURL -}}
  {{- $tabindex  = "0" -}}
  {{- $tag       = "div" -}}
  {{- $url       = "" -}}
{{- else -}}
  {{- $title = .alt -}}
  {{- if not $title -}}
    {{- $title = $img | replaceRE `^(.+)\..*$` "$1" | humanize -}}
  {{- end -}}
  {{- with $url -}}
    {{- if hasPrefix . "http" -}}
      {{- $target = "_blank" -}}
      {{- $rel    = "noopener" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /*  ATTRIBUTES  */ -}}
{{- $attrs := dict
  "class"         "gallery__item"
  "data-lightbox" $lb_data
  "tabindex"      $tabindex
  "href"          $url
  "title"         $title
  "target"        $target
  "rel"           $rel
  "style"         $style
-}}
{{- $attrs = partial "func/attrs" $attrs -}}

{{- /*  HTML  */}}
{{ print "<" $tag $attrs ">" | safeHTML }}
  {{- partial "media/_" (dict
      "class"     "gallery__img"
      "img"       .img
      "alt"       .alt
      "notlazy"   .notlazy
      "container" .container
      "fit_vl"    .col_vl
      "fit_vs"    .col_vs
  ) }}
{{ print "</" $tag ">" | safeHTML -}}