{{- if eq .gallery.type "boxes" -}}
  {{- /* If eq type boxes  */ -}}
  {{- partial "boxes/items" .gallery -}}
{{- else -}}
  {{- /* If ne type boxes  */ -}}
  {{- $gallery := or .gallery dict -}}
  {{- $imgs    := dict
    "imgs"      .imgs
    "bgcp"      .bgcp
    "container" .container
    "col_vs"    .col_vs
    "col_vl"    .col_vl
    "notlazy"   .is_header
  -}}
  {{- $items := merge $gallery $imgs -}}
  {{- with $items -}}
    {{- $cols := partial "func/columns" (dict
      "items"  .imgs
      "each"   (merge . (dict "cols" .cols))
      "col_vl" .col_vl
      "col_vs" .col_vs
    ) -}}

    {{- $color := cond (eq .color "hide") "" .color -}}
    {{- $bgc   := partial "func/color-background" (dict "child" $color "parent" .bgcp) -}}
    {{- $color  = $bgc.child -}}

    {{- $is_btn_expand := and (eq .type "rows") (.imgs | or .url) (ne .btn "hide") -}}
    {{- $is_btn_custom := and .url (ne .type "rows") -}}

    {{- /* CLASS  */ -}}
    {{- $class := slice
      "box__block"
      "gallery"
      (print "gallery--" (.type | default "grid"))
      (cond (or (eq .type "cols") (eq .type "grid") (not .type)) (print "gallery--cols-" $cols.vl) "")
      (cond (not .ratio)                                "" "gallery--ratio")
      (cond (not .contain)                              "" "gallery--contain")
      (cond (not .gray)                                 "" "gallery--gray")
      (cond (not $color)                                "" "bg")
      (cond (not $color | or (eq $color "transparent")) "" (print "bg-" $color))
      (cond (not site.Data.config.show)                 "" "show")
    -}}

    {{- /* STYLE  */ -}}
    {{- $style := slice
      (cond (or (eq .gap 0.5) (eq .gap nil)) "" (print "--gallery-gap:" .gap "em"))
      (cond (not .ratio)                     "" (print "--gallery-ratio:" .ratio))
    -}}

    {{- /* JOIN ATTRIBUTES  */ -}}
    {{- $attrs := dict "class" $class "style" $style -}}
    {{- $attrs  = partial "func/attrs" $attrs -}}

    {{- /*  HTML  */}}
    <div {{- $attrs }}>

      {{- /*  BBACKGROUND COLOR  */ -}}
      {{- if and $color (ne $color "transparent") }}
        <div class="bg-color"></div>
      {{- end -}}

      {{- /*  ITEMS  */}}
      <div class="gallery__items">
        {{- /*  ITEM  */ -}}
        {{- range .imgs -}}
          {{- partial "blocks/gallery-item" (dict
            "img"       .img
            "url"      .url
            "alt"       .alt
            "notlazy"   $.notlazy
            "type"      $.type
            "cols"      $cols.vl
            "container" $.container
            "col_vl"    $cols.fit_vl
            "col_vs"    $cols.fit_vs
          ) -}}
        {{- end -}}

        {{- /*  BUTTON EXPAND  */ -}}
        {{- if $is_btn_expand }}
          {{ partial "link" (dict
            "class"  "gallery__expand"
            "btn"    (or .btn "light")
            "ga4"    .ga4
            "icon"   (cond (eq .pin "none") "" .pin)
            "anchor" (or .anchor "auto")
            "url"    .url
            "lock"   .lock
          ) -}}
        {{- end }}
      </div>
    </div>

    {{- /*  BUTTON CUSTOM  */}}
    {{- if $is_btn_custom }}
      <div class="btns">
        {{ partial "link" (dict
          "url"    .url
          "btn"    (or .btn "cta")
          "swap"   .swap
          "ga4"    .ga4
          "icon"   .icon
          "label"  .label
          "anchor" (or .anchor "auto")
          "lock"   .lock
        ) }}
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}