{{- $map := .map | default dict -}}
{{- with .geos -}}
  {{- $icons := slice -}}
  {{- /*  MAP  */}}
  {{- $map_attrs := dict
    "id"        (print "map-" ($.id | default $.section.id))
    "class"     "map box__block"
    "data-zoom" $map.zoom
    "data-tile" $map.tile
  -}}
  {{- $map_attrs = partial "functions/attrs" $map_attrs }}
  <div {{- $map_attrs }}></div>
  <div class="map__next">
    {{- /*  EACH  */ -}}
    {{- range . -}}
      {{- $radius    := .radius | default "" -}}
      {{- $color     := .color  | default $map.color | default $.icon_color | default "main" -}}
      {{- $icon      := cond (ne .type "point") "" (.icon | default $map.icon | default $.pin | default "circle-dot") -}}
      {{- $icons      = $icons  | append $icon -}}
      {{- $geo_attrs := dict
        "data-geo"    .geo
        "data-radius" $radius
        "data-color"  $color
        "data-icon"   $icon
      -}}
      {{- $geo_attrs = partial "functions/attrs" $geo_attrs }}
      <div {{- $geo_attrs }}>{{ .label }}</div>
    {{- end }}
  </div>
  {{- /*  HIDDEN ICONS  */ -}}
  {{- range uniq $icons -}}
    {{- partial "icon" (dict "class" "leaflet-data-marker__svg display-none" "icon" .) -}}
  {{- end -}}
{{- end -}}
