{{- if .review.slider }}
  <div class="slider box__block" {{ with .review.time }}data-time="{{ . }}"{{ end }}>
{{- end }}

<div class="reviews {{- if .review.slider }} slider__track{{- else }} box__block{{ end }}">

  {{- /* REVIEWS CLASS  */ -}}
  {{- $slider     := cond (not .review.slider) "" " slider__items" -}}
  {{- $show       := cond (not site.Data.config.show) "" " show" -}}
  {{- $cols_class := print "boxes" $slider $show -}}


  {{- /* REVIEWS STYLE  */ -}}
  {{- $cols_vl   := .review.cols | default 1 -}}
  {{- if eq .review.cols 0 -}}
    {{- $cols_vl  = cond (le (len .reviews) 6) (len .reviews) 3 -}}
  {{- end -}}
  {{- $cols_vs   := .review.cols_vs | default 1 -}}
  {{- if eq .review.cols_vs 0 -}}
    {{- $cols_vs  = cond (le (len .reviews) 6) (len .reviews) 3 -}}
  {{- end -}}
  {{- $col_vl := cond (eq $cols_vl 1) "" (print "--cols-vl:" $cols_vl) -}}
  {{- $col_vs := cond (eq $cols_vs 1) "" (print "--cols-vs:" $cols_vs) -}}

  {{- $cols_style := slice $col_vl $col_vs -}}

  {{- /* REVIEWS ATTRIBUTES JOIN  */ -}}
  {{- $attrs := dict
    "class" $cols_class
    "style" $cols_style
  -}}
  {{- $attrs = partial "func/attrs" $attrs -}}
  
  {{- /*  HTML  */}}
  <div {{- $attrs }}>
    {{- range .reviews -}}
      {{- with merge $.review . -}}

        {{- /* REVIEW ITEM CLASS  */ -}}
        {{- $bgc      := partial "func/color-background" (dict "child" .color "parent" $.bgcp) -}}
        {{- $color    := $bgc.child -}}
        {{- $bg_color := print
          (cond (not $color) "" (print "bg-" $color))
          (cond (not .img) "" " bg-img")
        -}}
        {{- $bg_fade_color := "" -}}
        {{- $bg_fade_to    := "" -}}
        {{- if .fade -}}
          {{- $bg_fade_color = print "bg-fade-" .fade -}}
          {{- $bg_fade_to    = print "bg-fade-" (.fade_to | default "r") -}}
        {{- end -}}
        {{- $bg         := cond (not $bg_color) "" "bg" -}}
        {{- $shadow     := cond (not ($color | and (not .hide_shadow))) "box--hide-shadow" "" -}}

        {{- $review_class := slice
          "review__globe"
          $bg
          $bg_color
          $bg_fade_color
          $bg_fade_to
          $shadow
        -}}

        {{- /* REVIEW ITEM STYLE  */ -}}
        {{- $alpha := and (.alpha | and (ne .alpha 100)) ($color | or .fade) -}}
        {{- $alpha  = cond (not $alpha)        "" (print "--color-alpha:" .alpha) -}}

        {{- $review_style := slice $alpha -}}

        {{- /* REVIEW ITEM ATTRIBUTES JOIN  */ -}}
        {{- $review_attrs := dict
          "class" $review_class
          "style" $review_style
        -}}
        {{- $review_attrs = partial "func/attrs" $review_attrs -}}

        {{- /* REVIEW ITEM  */}}
        <div class="review">
          <div {{- $review_attrs }}>
            <div class="bg-color"></div>
            {{ partial "icon" (dict
              "class" "review__icon review__icon--left"
              "icon"  .icon
              "def"   "quote"
              ) }}
            <blockquote class="review__text">
              <div class="md">
                {{ partial "func/md" .md }}
              </div>
            </blockquote>
            {{ partial "icon" (dict
              "class" "review__icon review__icon--right"
              "icon"  (.icon_right | default .icon)
              "def"   "quote"
              ) }}
          </div>
          <div class="review__person">
            {{- if .img }}
              <div class="review__fig">
                <div class="bg-color"></div>
                {{- partial "media/_"
                  (dict
                    "class"     "review__fig-img"
                    "img"       .img
                    "alt"       .title
                    "notlazy"   $.is_header
                    "max"       136
                    "ratio"     "1/1"
                    "notschema" true
                  )
                }}
              </div>
            {{- end }}
            <div class="review__author">
              {{- with .title -}}
                {{- $hl           := partial "func/hl" (merge (dict "hs" 4 "level" 4) $.review) -}}
                {{- $hs           := $hl.class -}}
                {{- $author_class := slice "review__title" $hs -}}
                {{- $author_style := $hl.style -}}
                {{- $author_attrs := dict "class" $author_class "style" $author_style -}}
                {{- $author_attrs  = partial "func/attrs" $author_attrs }}
                {{ print "<p" $author_attrs ">" | safeHTML -}}
                  {{- . | markdownify -}}
                {{- print "</p>" | safeHTML -}}
              {{- end -}}
              {{- with .sub }}
                <p class="review__sub">{{ . | markdownify }}</p>
                {{- /*              {{- else -}}
                {{- with .date }}
                  <p class="review__sub">{{ partial "func/date" (dict "date" .) }}</p>
                {{- end -}}
                */ -}}
              {{- end -}}
              {{- if ne .rating 0 }}
                <p class="review__stars">
                  {{- $rating := .rating | default 5 -}}
                  {{- $int    := $rating | int -}}
                  {{- range seq $int -}}
                    {{- partial "icon" (dict "class" "review__star" "def" "review_star") -}}
                  {{- end -}}
                  {{- if ne $rating $int -}}
                    {{- $decimal := sub $rating $int -}}
                    {{- if ge $decimal 0.5 -}}
                      {{- partial "icon" (dict "class" "review__star review__star--half" "def" "review_star") -}}
                    {{- end -}}
                  {{- end }}
                </p>
              {{- end }}
            </div>
          </div>
        </div>
      {{- end -}}
    {{- end }}
  </div>
</div>
{{- /* SCHEMA  */}}
<script type="application/ld+json">
  {{- partial "schema/review" . | safeJS }}
</script>

{{- if .review.slider }}
  {{ partial "boxes/slider-nav"
    (dict
      "items"  (len .reviews)
      "pips"   .review.pips
      "arrows" .review.arrows
      "btn"    .review.btn
    )
  }}
  </div>
{{- end -}}