{{- $icon_size := "" -}}
{{- with .step.icon_size -}}
  {{- $icon_size = print " steps--size-" . -}}
{{- end -}}
{{- $hn        := .step.hn | default (add .level 1) }}
{{- $border    := print " " (.step.border    | default "alt") -}}
{{- $uppercase := cond (not .step.uppercase) "" "uppercase" -}}
{{- $underline := cond (not .step.underline) "" "underline" -}}
{{- $show      := cond (not site.Data.config.others.show) "" " show" }}
<ul class="steps box__block">
  {{- range $key, $value := .steps }}
    <li class="step {{- $icon_size }}">
      <div class="step__axis-wrap {{- $border }}">
        <div class="step__axis">
          <div class="step__figure">
            {{- with .image -}}
              {{- partial "media/_" (dict
                "class"   "step__figure-image"
                "src"     .
                "max"     342
                "ratio"   "1/1"
                "notlazy" $.header
              ) -}}
            {{- end -}}
            {{- with .icon }}
              {{ partial "icon" (dict "class" "step__icon" "icon" (. | default "forward")) -}}
            {{- end -}}
            {{- if and (not .image) (not .icon) }}
              <div class="step__number">{{ add $key 1 }}</div>
            {{- end }}
          </div>
        </div>
      </div>
      <div class="step__md {{- $show }}">
        {{- with .title -}}
          {{- $hn_class := slice
            "step__title"
            (print "h" ($.step.hs | default 4))
            $uppercase
            $underline
          -}}
          {{- $hn_attrs := dict "class" $hn_class -}}
          {{- $hn_attrs  = partial "functions/attrs" $hn_attrs -}}
          <h {{- $hn }} {{- $hn_attrs }}>
            {{- . | markdownify }}
          </h {{- $hn }}>
        {{- end -}}
        {{- with .subtitle }}
          <p class="step__subtitle subtitle">
            {{- . | markdownify }}
          </p>
        {{- end -}}
        {{- with .md }}
          <div class="md">
            {{ partial "functions/md" . }}
          </div>
        {{- end }}
      </div>
    </li>
  {{- end }}
</ul>