{{- $icon_size := "" -}}
{{- with .step.icon_size -}}
  {{- $icon_size = print " steps--size-" . -}}
{{- end -}}
{{- $hl     := partial "func/hl" (dict "hn" .step.hn "hs" .step.hs "hs_vs" .step.hs_vs "level" .level) -}}
{{- $hn     := $hl.node -}}
{{- $hs     := $hl.class -}}
{{- $border := print " " (.step.border  | default "alt") -}}
{{- $caps   := cond (not .step.caps)            "" "caps" -}}
{{- $line   := cond (not .step.line)            "" "line" -}}
{{- $show   := cond (not site.Data.config.show) "" " show" }}
<ul class="steps box__block">
  {{- range $key, $value := .steps }}
    <li class="step {{- $icon_size }}">
      <div class="step__axis-wrap {{- $border }}">
        <div class="step__axis">
          <div class="step__fig">
            {{- with .img -}}
              {{- partial "media/_" (dict
                "class"   "step__fig-img"
                "img"     .
                "max"     342
                "ratio"   "1/1"
                "notlazy" $.is_header
              ) -}}
            {{- end -}}
            {{- with .icon }}
              {{ partial "icon" (dict "class" "step__icon" "icon" .) -}}
            {{- end -}}
            {{- if and (not .img) (not .icon) }}
              <div class="step__number">{{ add $key 1 }}</div>
            {{- end }}
          </div>
        </div>
      </div>
      <div class="step__md {{- $show }}">
        {{- with .title -}}
          {{- $hn_class := slice "step__title" $hs $caps $line -}}
          {{- $hn_style := $hl.style -}}
          {{- $hn_attrs := dict "class" $hn_class "style" $hn_style -}}
          {{- $hn_attrs  = partial "func/attrs" $hn_attrs }}
          {{ print "<" $hn $hn_attrs ">" | safeHTML -}}
            {{- . | markdownify -}}
          {{- print "</" $hn ">" | safeHTML -}}
        {{- end -}}
        {{- with .sub }}
          <p class="step__sub sub">
            {{- . | markdownify }}
          </p>
        {{- end -}}
        {{- with .md }}
          <div class="md">
            {{ partial "func/md" . }}
          </div>
        {{- end }}
      </div>
    </li>
  {{- end }}
</ul>