{{- if .date -}}
  {{- $lastmod := .date -}}
  {{- if .lastmod -}}
    {{- if ne .date .lastmod -}}
      {{- $lastmod = .lastmod -}}
    {{- end -}}
  {{- end -}}
  <i class="box__tag">
    {{- partial "components/icon" (dict "class" "box__tag-icon" "icon" (.icon | default "calendar") "emoji" "📅") -}}
    <time class="box__tag" {{ printf `datetime="%s"` (dateFormat "2006-01-02T15:04:05Z07:00" $lastmod) | safeHTMLAttr }}>
      {{- partial "functions/date" (dict "date" $lastmod "type" .type) -}}
    </time>
    {{- if ne .date $lastmod | and (not $.box) -}}
      <s>{{ partial "functions/date" (dict "date" .date "type" .type) }}</s>
    {{- end -}}
  </i>
{{- end -}}