


{{- if .Page.Content | and (ne .Page.Params.base "event") -}}

  {{- $hide_reading_time := "" -}}
  {{- with .box.hide_reading_time -}}
    {{- $hide_reading_time = . -}}
  {{- else -}}
    {{- $hide_reading_time = page.Params.list.hide_reading_time -}}
  {{- end -}}

  {{- if not $hide_reading_time -}}
    <i class="box__tag">
      {{- partial "components/icon" (dict "class" "box__tag-icon" "icon" "clock" "emoji" "🕓") -}}
      {{- i18n "reading_time" .Page.ReadingTime -}}
      {{- if not .box }} {{ i18n "of_reading" }}{{ end -}}
    </i>
  {{- end -}}
  {{/*
    {{- if not .box -}}
      <i class="box__tag">
        {{- partial "components/icon" (dict "class" "box__tag-icon" "icon" "comment-dots" "emoji" "💬") -}}
        {{- i18n "word_count" .Page.WordCount -}}
      </i>
    {{- end -}}
  */}}

{{- end -}}