{{- $show_categories := true -}}
{{- with .item.box -}}
  {{- $show_categories = not .hide_categories -}}
{{- end -}}
{{/*
{{- if $show_categories -}}
  {{- with index .item.Page.Params .type -}}
    {{- $name := index site.Data.utilities.defaults $.type -}}
    {{- range . -}}
      {{- $parent_type := site.GetPage $.type . -}}
      <i class="box__tag">
        {{- partial "components/icon" (dict
          "class" "box__tag-icon"
          "icon"  $name.icon
          "emoji" $name.emoji
        ) -}}
        {{- if $.item.box -}}
          {{- $parent_type.Title -}}
        {{- else -}}
          {{- partial "components/link" (dict
            "label" $parent_type.Title
            "link"  $parent_type.RelPermalink
            "lock"  true
          ) -}}
        {{- end -}}
      </i>
    {{- end -}}
  {{- end -}}
{{- end -}}
*/}}