.CMS_WidgetBoolean_root {
  &, .CMS_Field_inline-wrapper {
    gap: 0.5rem;
  }
  .CMS_Label_root {
    width: 170px;
    flex-grow: 1;
  }
}
.CMS_WidgetBoolean_content {
  align-self: self-start;
}
.is-set,
.is-not-set {
  .CMS_Switch_toggle {
    margin-right: 1.125rem;
  }
}
.CMS_Switch_toggle {
  background-color: var(--warning-main);
  &:after {
    border-color: #fff;
  }
}
.CMS_Switch_input:checked + .CMS_Switch_toggle {
  background-color: var(--success-main);
}
.is-not-set .CMS_Switch_toggle:not(.aux) {
  background-color: var(--common-gray);
}
