// .CMS_EditorControl_root[aria-label^="image"] {
//   width: 300px;
// }
.CMS_WidgetFileImage_root,
.CMS_WidgetFileImage_wrapper {
  height: 100%;
  border: none;
  margin: 0;
}
.CMS_Image_root:not(.CMS_Image_empty) {
  max-height: 20rem;
  aspect-ratio: 2 / 1;
  object-fit: contain;
  object-position: left;
}
.CMS_WidgetFileImage_empty-content,
.CMS_WidgetFileImage_content {
  padding: 0.5rem 0 0.25rem;
}
.CMS_WidgetFileImage_actions {
  flex-wrap: wrap;
}
