[aria-label="object field"],
[aria-label="list field"] {
  width: 100%;
}

// Expand button
.CMS_WidgetList_ListItem_expand-button {
  padding: 0;
}
.CMS_WidgetObject_expand,
.CMS_WidgetList_expand-button,
.CMS_WidgetCode_expand-button {
  gap: 0.125rem;
  padding-bottom: 0;
  align-items: center;
}

// Move toggle arrow to left
.CMS_WidgetObject_expand-icon,
.CMS_WidgetList_expand-button-icon,
.CMS_WidgetCode_expand-button-icon {
  order: -1;
  margin-left: -.75rem;
}

// Summary
.CMS_WidgetObject_summary {
  line-height: 1.25rem;
}

// List item controls ajust
.CMS_WidgetList_ListItem_single-field-controls {
  position: absolute;
  top: 3rem;
  right: 1.25em;
  height: 2rem;
}

// Margins
.CMS_WidgetObject_fields,
.CMS_WidgetList_ListItem_content {
  margin-left: -.25em;
  padding-left: 0.5em;
  // > .CMS_EditorControl_root {
  //   margin-left: .5rem;
  // }
}

// Remove bottom line from list item
.CMS_WidgetList_ListItem_not-open-placeholder {
  display: none;
}

// List add button
.CMS_WidgetList_add-button {
  color: var(--primary-contrast-color);
  background: var(--primary-main);
}

// Colors
// Base
.CMS_WidgetObject_root,
.CMS_WidgetList_field-wrapper {
  background-color: var(--bgc);
  --bgc: var(--bg);
}
// Alternate
.CMS_WidgetList_sortable-item {
  background-color: var(--bgc);
  &:nth-child(1n) { --bgc: var(--color-brown); }
  &:nth-child(2n) { --bgc: var(--color-orange); }
  &:nth-child(3n) { --bgc: var(--color-yellow); }
  &:nth-child(4n) { --bgc: var(--color-green); }
  &:nth-child(5n) { --bgc: var(--color-purple); }
  &:nth-child(6n) { --bgc: var(--color-pink); }
  &:nth-child(7n) { --bgc: var(--color-red); }
  &:nth-child(8n) { --bgc: var(--color-grey); }
  &:nth-child(9n) { --bgc: var(--color-blue); }
}

// List item not multiple
.CMS_WidgetList_sortable-item:not(.CMS_WidgetList_multi-field-item) {
  padding: 0;
  background-color: transparent;
  border-bottom-width: 0;
  .CMS_WidgetObject_list-root {
    margin: 0;
  }
  .CMS_Field_root {
    background-color: var(--bgc);
  }
  .CMS_WidgetList_ListItem_single-field-controls {
    top: 2rem;
  }
}
