.CMS_TextField_input,
.CMS_TextArea_input,
.CMS_Select_input,
.CMS_Autocomplete_root {
  background-color: var(--input);
  color: var(--text);
  margin: .375rem 0;
  padding: .375rem .625rem;
  border: .0625rem solid var(--border);
  border-radius: .25rem;
  min-height: 2.5rem;
}

// Cursor like text in text fields
.CMS_TextField_root > .CMS_TextField_input {
  cursor: initial;
}
