.CMS_TextField_input,
.CMS_WidgetDateTime_input,
.CMS_TextArea_input,
.CMS_Select_input,
.CMS_Autocomplete_root,
.CMS_WidgetMarkdown_rich-editor {
  background-color: var(--input);
  color: var(--text);
  margin: .375rem 0;
  padding: .375rem .625rem;
  border: .0625rem solid var(--border);
  border-radius: .25rem;
  min-height: 2.5rem;
}
.CMS_WidgetMarkdown_rich-editor {
  margin-block: .5rem 0;
  padding: 1.25rem .75rem 0;
}
.CMS_WidgetMarkdown_Toolbar_root {
  border-radius: .25rem .25rem 0 0;
}

// Relation
.CMS_WidgetRelation_values,
.CMS_Autocomplete_input {
  padding: 0;
}

// Date
.CMS_WidgetDateTime_inputs {
  padding-left: 0;
}
.CMS_WidgetDateTime_input {
  padding-block: 0;
}

// Cursor like text in text fields
.CMS_TextField_root > .CMS_TextField_input {
  cursor: initial;
}
