{{ $attr_str   := "" }}
{{ $attributes := slice }}
{{ range $key, $value := . }}
  {{ if reflect.IsSlice $value }}
    {{ $purged  := slice }}
    {{ range $value }}
      {{ with . }}
        {{ $purged = $purged | append . }}
      {{ end }}
    {{ end }}
    {{ $sep  := cond (eq $key "style") ";" " " }}
    {{ $value = delimit $purged $sep }}
  {{ end }}
  {{ if $value }}
    {{ $attr := $key }}
    {{ if ne $value true }}
      {{ if in $value "\"" }}{{/* " */}}
        {{ $attr = print $key "='" $value "'" }}
      {{ else }}
        {{ $attr = print $key "=\"" $value "\"" }}
      {{ end }}
    {{ end }}
    {{ $attributes = $attributes | append $attr }}
  {{ end }}
{{ end }}
{{ with $attributes }}
  {{ $attr_str = delimit . " " }}
  {{ $attr_str = print " " $attr_str }}
{{ end }}
{{ return ($attr_str | safeHTMLAttr) }}