{{/* partial "func/background-turn" "#6g23f4" */}}
{{ $return := "" }}
{{ $color  := . }}

{{/* Transform 3 characters RGB to 6 */}}
{{ if eq (len .) 4 }}
  {{ $r1   := substr . 1 1 }}
  {{ $g1   := substr . 2 1 }}
  {{ $b1   := substr . 3 1 }}
  {{ $color = print "#" $r1 $r1 $g1 $g1 $b1 $b1 }}
{{ end }}

{{/* Extract RGB components from the hex color string */}}
{{ $rStr := substr $color 1 2 }}
{{ $gStr := substr $color 3 2 }}
{{ $bStr := substr $color 5 2 }}

{{/* Convert hex strings to integer values */}}
{{ $r := int (printf "0x%s" $rStr) }}
{{ $g := int (printf "0x%s" $gStr) }}
{{ $b := int (printf "0x%s" $bStr) }}

{{/* Calculate brightness using the formula: (R*299 + G*587 + B*114) / 1000 */}}
{{ $brightness := div (add (mul $r 299) (mul $g 587) (mul $b 114)) 1000 }}

{{/* If brightness is less than 128 (i.e. background is dark), return lighter color; else, return darker color */}}
{{ if lt $brightness 128 }}
  {{ $return = "light" }}
{{ else }}
  {{ $return = "dark" }}
{{ end }}
{{ return $return }}
