{{ $store   := page.Store -}}
{{ $inline  := $store.Get "md_inline" }}
{{ $display := cond $inline "inline" "block" }}
{{ $md      := . | site.Home.RenderString (dict "display" $display) }}

{{ range $md | findRESubmatch `::(.+?)::` | uniq }}
  {{ $str  := index . 0 }}
  {{ $icon := index . 1 }}
  {{ $html := partial "icon" (dict "icon" $icon) }}
  {{ $md    = replace $md $str $html }}
{{ end }}

{{ range $md | findRESubmatch `“(.+?)”` | uniq }}
  {{ $str  := index . 0 }}
  {{ $in   := index . 1 }}
  {{ $html := print "<q>" $in "</q>" }}
  {{ $md    = replace $md $str $html }}
{{ end }}

{{ range $md | findRESubmatch `&ldquo;(.+?)&rdquo;` | uniq }}
  {{ $str  := index . 0 }}
  {{ $in   := index . 1 }}
  {{ $html := print `<q class="quotes">` $in `</q>` }}
  {{ $md    = replace $md $str $html }}
{{ end }}

{{ range $md | findRESubmatch `&laquo;(.+?)&raquo;` | uniq }}
  {{ $str  := index . 0 }}
  {{ $in   := index . 1 }}
  {{ $html := print `<q class="aquotes">` $in `</q>` }}
  {{ $md    = replace $md $str $html }}
{{ end }}

{{ range $md | findRESubmatch `@@(.+?)@@` | uniq }}
  {{ $str  := index . 0 }}
  {{ $in   := index . 1 }}
  {{ $html := print "<cite>" $in "</cite>" }}
  {{ $md    = replace $md $str $html }}
{{ end }}

{{ $md = $md
  | replaceRE `(<div class="bg-color"></div>)<p>` `$1</div>`
  | replaceRE `<p( class="(.+?)")?>[\n\s]*(<a class="btn|<button)` `<p class="btns $2">$3`
  | replaceRE ` start="(.+?)"` ` style="--item: $1;"`
  | replaceRE `(<li.*?>)` `$1<div>`
  | replaceRE `<li(.*?)><div>(\n|<p>)*(<. class="link.+?>)?(<svg[^>]*?>.+?</svg>|<i [^>]*class="icon.*?">.*?</i>) ?` `<li class="li-icon"$1>$4<div>$2$3`
  | replaceRE `(</li>)` `</div>$1`
  | replaceRE `(?s)<p><figure(.+?)</figure></p>` `<figure$1</figure>`
  | replaceRE `"(footnote-ref|footnote-backref)"` `"$1 btn btn--sm"`
  | safeHTML
}}

{{ return $md }}