{{ $phones := slice }}

{{ with . }}
  {{ range . }}
    {{ $complete_phone := partial "func/phone-to-complete" . }}
    {{ $phoneClean     := $complete_phone | replaceRE `\+\d+ ` "" }}
    {{ $phoneOne       := $phoneClean     | replaceRE `^(.{3})(.{3})(.{3})` "$1 $2 $3" }}
    {{ $phoneTwo       := $phoneClean     | replaceRE `^(.{3})(.{2})(.{2})(.{2})` "$1 $2 $3 $4" }}
    {{ $pre            := $complete_phone | replaceRE `^(\+\d+).*` "$1" }}
    {{ $phoneCleanAlt  := print $pre $phoneClean }}
    {{ $phoneOneAlt    := print $pre " " $phoneOne }}
    {{ $phoneTwoAlt    := print $pre " " $phoneTwo }}
    {{ $phones = $phones
      | append $phoneClean
      | append $phoneOne
      | append $phoneTwo
      | append $phoneCleanAlt
      | append $phoneOneAlt
      | append $phoneTwoAlt
      | uniq
    }}
  {{ end }}
{{ end }}

{{ return $phones }}