{{ $nil := (dict "n" nil).n }}

{{ $data := . }}
{{ if and (ne . $nil) (ne .remap $nil) }}
  {{ range .remap }}
    {{ $from_path := .from }}
    {{ $to_path := .to }}
    {{ $copy := .copy | default false }}

    {{ if not $to_path }}
      {{ $data = partial "func/remap-remove" (dict "data" $data "path" $from_path) }}
    {{ else }}
      {{ $source_value := partial "func/remap-get" (dict "data" $data "path" $from_path) }}
      {{ if ne $source_value $nil }}
        {{ $data = partial "func/remap-set" (dict "data" $data "path" $to_path "value" $source_value) }}
        {{ if not $copy }}
          {{ $data = partial "func/remap-remove" (dict "data" $data "path" $from_path) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Remove remap parameter */}}
{{ if reflect.IsMap $data }}
  {{ $data = merge $data (dict "remap" $nil) }}
{{ end }}

{{ return $data }}