
{{ $value  := .str }}
{{ if      eq .kind "int" }}
  {{ $value = int .str }}
{{ else if eq .kind "float" }}
  {{ $value = float .str }}
{{ else if eq .kind "bool" }}
  {{ $value = eq "true" .str }}
{{ else if eq .kind "slice" }}
  {{ $value = split .str (.sep | default ",") }}
{{ else if eq .kind "dict" }}
  {{ $value = unmarshal .str }}
{{ end }}

{{ if .name }}
  {{ $parts := split .name "." }}
  {{ $result := $value }}
  {{ range (seq (sub (len $parts) 1) -1 0) }}
    {{ $current := index $parts . }}
    {{ $result   = dict $current $result }}
  {{ end }}
  {{ $value = $result }}
{{ end }}


{{ return $value }}