{{/*  If change for store method
{{ $tpl := site.Store.Get page.Permalink -}}
*/}}

{{/*  DEFAULT  */}}
{{ $default := dict
  "toc"      true
  "bg"       dict
  "menu"     dict
  "callnow"  dict
  "section"  dict
  "sections" slice
  "list"     dict
  "rel"      dict
}}

{{/*  ALL  */}}
{{ $all := site.Data.types.all.tpl }}

{{/*  VALUES  */}}
{{- $values := index site.Data (print "values." page.Lang) -}}
{{- $values  = dict "menu" $values.menu -}}

{{/*  TYPE  */}}
{{ $type := dict }}
{{ if eq .Kind "404" }}
  {{ $type = dict
    "menu"     (dict "hide" true)
    "callnow"  "hide"
    "sections" (slice (dict "file" "base-404"))
  }}
{{ else if not .IsSection }}
  {{ with .Type }}
    {{ $type = index site.Data.types . }}
    {{ $type = $type.tpl }}
  {{ end }}
{{ end }}

{{/*  SELF  */}}
{{ $self := .Params.tpl }}
{{ if ne .Params.toc nil }}
  {{ $toc := dict "toc" .Params.toc }}
  {{ $self = merge $self $toc }}
{{ end }}


{{/*  ALL  */}}
{{ $tpls := slice $values $default $all $type $self }}

{{ return $tpls }}