{{- with .menu -}}
  {{- if and . (not .hide) -}}

    {{- $items := slice -}}
    {{- $logo  := "" -}}
    {{- if .logo -}}
      {{- $logo = .image | default (index . page.Lang).image -}}
    {{- end -}}
    {{- $custom := .items | default (index . page.Lang).items -}}

    {{- /*  ITEM HOME LINK  */ -}}
    {{- if not $logo -}}
      {{- if not page.IsHome | and .show_sections -}}
        {{- if not ($custom  | jsonify | findRE `"link":"/#?"`) -}}
          {{- with site.Home -}}
            {{- $items = $items | append (dict
              "link"     .RelPermalink
              "icon"     (cond (not $.menu.hide_icons) "house" "")
              "emoji"    (cond (not $.menu.hide_icons) "🏠" "")
              "label"    .Title
              "anchor"   (partial "functions/anchor-page" .)
            ) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- /*  ITEMS SECTIONS  */ -}}
    {{- range partial "menu/items-sections" . -}}
      {{- $items = $items | append . -}}
    {{- end -}}

    {{- /*  ITEMS CUSTOM  */ -}}
    {{- range $custom -}}
      {{- $items = $items | append . -}}
    {{- end -}}

    {{- /*  ITEM LANGS  */ -}}
    {{- if page.IsTranslated -}}
      {{- if not ($custom | jsonify | findRE `"link":"langs"`) -}}
        {{- $items = $items | append (dict "link" "langs") -}}
      {{- end -}}
    {{- end -}}

    {{- /*  ITEM TRANSLATE  */ -}}
    {{- if site.Params.google_translate -}}
      {{- if not ($custom | jsonify | findRE `"link":"translate"`) -}}
        {{- $items = $items | append (dict "link" "translate") -}}
      {{- end -}}
    {{- end -}}


    {{- /*  PRINT HTML  */ -}}
    {{- if $items -}}

      {{- /*  MENU TOGGLE  */}}
      <button type="button" class="menu__toggle button button--dot">
        {{- "" }}<b class="menu__toggle-bar"></b>
        {{- "" }}<b class="menu__toggle-bar"></b>
        {{- "" }}<b class="menu__toggle-bar"></b>
        {{- "" }}<i>{{ i18n "scroll_up" }}</i>
        {{- "" -}}
      </button>

      {{- /*  BACKOVER  */}}
      <div class="menu__backover"></div>

      {{- /*  CLASS  */ -}}
      {{- $color      := .color | default "white" -}}
      {{- $bgc        := partial "functions/color-background" (dict "child" $color "parent" $.back.color) -}}
      {{- $color       = $bgc.child -}}
      {{- $menu_class  := print "menu bg bg-" $color -}}
      {{- if .fade -}}
        {{- $menu_class = print $menu_class " bg-fade-" .fade " bg-fade-" (.fade_type | default "linear-t") -}}
      {{- end -}}
      {{- $box_class  := "" -}}
      {{- if .sticky -}}
        {{- $box_class = print "container container--" (.size | default "lg") -}}
      {{- end -}}

      {{- /*  NAV  */}}
      <nav id="menu" class="{{ $menu_class }}" hidden="until-found">
        <div class="{{ $box_class }}">

          {{- /*  HEADER  */}}
          <p class="menu__title h1 {{- with $logo }} menu__title--sublogo{{ end }}">{{ i18n "menu" }}</p>

          {{- /*  UL  */}}
          <ul class="menu__items">
            {{- /*  LOGO  */ -}}
            {{- with $logo -}}
              {{- $title := site.Home.Params.seo | default site.Home.Params.title | markdownify }}
              <li class="menu__item menu__item--logo">
                <a class="link menu__link menu__link--logo" href="{{ if page.IsHome }}#{{ else }}{{ site.Home.RelPermalink }}{{ end }}" title="{{ $title | plainify }}">
                  {{ partial "media/_" (dict
                    "svg_src"   true
                    "class"     "menu__logo-image"
                    "src"       .
                    "alt"       (partial "functions/anchor-page" site.Home)
                    "container" ($.menu.size | default "lg")
                    "fit_vl"    0.25
                    "fit_vs"    1.00
                  ) }}
                  <i class="hide">{{ $title }}</i>
                </a>
              </li>
            {{- end -}}

            {{- /*  ITEMS  */ -}}
            {{- range $items -}}
              {{- partial "menu/item" (merge . (dict "hide_icons" $.menu.hide_icons)) -}}
            {{- end }}
          </ul>
        </div>
      </nav>

    {{- end -}}

  {{- end -}}
{{- end -}}