{{ define "partials/menu/item-by-section" }}
  {{ $home := "" }}
  {{ if hasPrefix .menu_auto "home" }}
    {{ if not page.IsHome }}
      {{ $home = site.Home.RelPermalink }}
    {{ end }}
  {{ end }}
  {{ return (dict
    "url"    (print $home "#" .id)
    "btn"    .menu_btn
    "swap"   .menu_swap
    "icon"   .icon
    "label"  (or .menu_label .title)
    "anchor" .hanchor
  ) }}
{{ end }}

{{ $items := slice }}

{{ if and .menu.auto (ne .menu.auto "none") }}
  {{ $sections := slice }}

  {{ if hasPrefix .menu.auto "same" }}
    {{ $sections = .sections }}
  {{ else if hasPrefix .menu.auto "home" }}
    {{ if page.IsHome }}
      {{ $sections = .sections }}
    {{ else }}
      {{ $tpl     := partial "func/tpl-sections" site.Home }}
      {{ $sections = $tpl.sections }}
    {{ end }}
  {{ end }}

  {{ with $sections }}
    {{ with where . "menu_btn" "ne" "hide" }}
      {{ range . }}
        {{ if .menu_label | or .hanchor | or .title | or (.icon | and .id) }}

          {{ $item := partial "menu/item-by-section" (merge . (dict "menu_auto" $.menu.auto)) }}

          {{/*  MODALS TO SUBITEMS  */}}
          {{ if hasSuffix $.menu.auto "modals" }}
            {{ $subitems := slice }}
            {{ with .modals }}
              {{ range . }}
                {{ $child   := partial "menu/item-by-section" (merge . (dict "menu_auto" $.menu.auto)) }}
                {{ $subitems = $subitems | append $child }}
              {{ end }}
            {{ end }}
            {{ $item = (merge $item (dict "items" $subitems)) }}
          {{ end }}

          {{ $items = $items | append $item }}

        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $items }}