{{ $items := slice }}

{{ if page.IsTranslated }}
  {{ $class  := "langs__parent" }}
  {{ $icon   := $.icon }}
  {{ if not $icon }}
    {{ $class = print $class " langs__parent--flag" }}
    {{ $icon  = print "svg:flag-" page.Lang }}
  {{ end }}
  {{ $def   := cond (not $.up) "drop_down" "drop_up" }}
  {{ $label := print page.Lang (partial "icon" (dict "class" "langs__drop" "def" $def)) }}
  {{ $langs := slice }}
  {{ range page.AllTranslations }}
    {{ $langs = $langs | append (dict
      "url"   .RelPermalink
      "icon"  (print "svg:flag-" .Lang)
      "emoji" (i18n "flag")
      "label" .Language.LanguageName
      "title" (print .Language.LanguageName ": " .Title)
      "lock"  $.lock
      "lang"  (.Params.locale | default .Lang)
    ) }}
  {{ end }}
  {{ $items = $items | append (dict
    "class" $class
    "icon"  $icon
    "def"   "langs"
    "label" $label
    "items" $langs
  ) }}
{{ end }}

{{ return $items }}