{{ $BaseURL := site.BaseURL }}
{{ $isPost := eq .Type "blog" | and (not .IsSection) }}

{{ $schema := slice }}
{{ $schemaWebsite := dict }}
{{ $schemaOrganization := dict }}
{{ $schemaPost := dict }}


{{/*  SCHEMA WEBSITE  */}}

{{ $schemaWebsite = dict
  "@context"      `http://schema.org`
  "@type"         `WebSite`
  "url"           (print $BaseURL "/")
  "name"          (partial "functions/lang-param" (dict "parent" "config" "param" "title"))
  "description"   (partial "functions/lang-param" (dict "parent" "config" "param" "description"))
}}


{{/*  SCHEMA ORGANIZATION  */}}

{{ $socialLinks := slice }}
{{ range partial "functions/lang-param" (dict "parent" "config" "param" "social" "default" slice) }}
  {{ $socialLinks = $socialLinks | append .link }}
{{ end }}

{{/*  Get linksMap, locations and phones  */}}

{{- $linksMap   := partial "functions/links-map" . -}}
{{- $locations  := partial "functions/locations" . -}}
{{- $phones_pre := partial "functions/phones"    . -}}

{{/*  All phones variations  */}}
{{ $phones := slice }}
{{ with $phones_pre }}
  {{ range . }}
    {{ $complete_phone := partial "functions/phone-to-complete" . }}
    {{ $phoneClean     := $complete_phone | replaceRE `\+\d+ ` `` }}
    {{ $phoneOne       := $phoneClean     | replaceRE `^(.{3})(.{3})(.{3})` `$1 $2 $3` }}
    {{ $phoneTwo       := $phoneClean     | replaceRE `^(.{3})(.{2})(.{2})(.{2})` `$1 $2 $3 $4` }}
    {{ $pre            := $complete_phone | replaceRE `^(\+\d+).*` `$1` }}
    {{ $phoneCleanAlt  := print $pre $phoneClean }}
    {{ $phoneOneAlt    := print $pre " " $phoneOne }}
    {{ $phoneTwoAlt    := print $pre " " $phoneTwo }}
    {{ $phones = $phones
      | append $phoneClean
      | append $phoneOne
      | append $phoneTwo
      | append $phoneCleanAlt
      | append $phoneOneAlt
      | append $phoneTwoAlt
      | uniq
    }}
  {{ end }}
{{ end }}

{{/*  Address, hasMap and geo by locations  */}}
{{ $address := slice }}
{{ $hasMap  := $linksMap }}
{{ $geo     := slice }}
{{ with $locations }}
  {{ range . }}
    {{ if .streetAddress }}
      {{ $address = $address | append (dict
        "@type"           "PostalAddress"
        "streetAddress"   (.streetAddress   | default "")
        "postalCode"      (.postalCode      | default "")
        "addressLocality" (.addressLocality | default "")
        "addressRegion"   (.addressRegion   | default "")
        "addressCountry"  (.addressCountry  | default "")
      ) }}
      {{ $hasMap = $hasMap | append (print
        "https://maps.google.com/maps/search/"
        .name " "
        .streetAddress ", "
        .postalCode " "
        .addressLocality ", "
        .addressRegion
        | replaceRE "<nil>" ""
        | urlquery
      ) }}
    {{ end }}
    {{ with .coordinates }}
      {{ $cordinates := (unmarshal .).coordinates }}
      {{ $geo = $geo | append (dict
        "@type"     "GeoCoordinates"
        "latitude"  (index $cordinates 1)
        "longitude" (index $cordinates 0)
      ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/*  Images  */}}
{{ $images_slice := slice
  "logo.png"
  "icon.png"
  "fondo.jpg"
  (partial "functions/lang-param" (dict "parent" "config" "param" "logo"))
  (partial "functions/lang-param" (dict "parent" "menu" "param" "logo") | default site.Data.articles.content.logo)
}}
{{ with where site.Pages "Params.image" "!=" nil }}
  {{ range . }}
    {{ with .Params.image }}
      {{ $images_slice = $images_slice | append . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $images := slice }}
{{ range $images_slice | uniq }}
  {{ if . | and (not (strings.HasPrefix . "http")) }}
    {{ with resources.Get (print "/media/" .) }}
      {{ $images = $images | append .Permalink }}
    {{ end }}
  {{ else if . }}
    {{ $images = $images | append . }}
  {{ end }}
{{ end }}
{{ $images = $images | uniq }}

{{ $location_type   := partial "functions/lang-param" (dict "parent" "config" "param" "location_type" "default" (slice "Organization")) }}
{{ $additional_type := after 1 $location_type }}
{{ $location_type    = index $location_type 0 }}

{{/*  Finish schema organization  */}}
{{ $schemaOrganization = dict
  "@context"       `http://schema.org`
  "@type"          $location_type
  "additionalType" $additional_type
  "logo"           (print $BaseURL "/media/logo.png")
  "image"          $images
  "name"           (partial "functions/lang-param" (dict "parent" "config" "param" "title"))
  "alternateName"  (partial "functions/lang-param" (dict "parent" "config" "param" "alternate_name" "default" slice))
  "priceRange"     (partial "functions/lang-param" (dict "parent" "config" "param" "price_range"))
  "description"    (partial "functions/lang-param" (dict "parent" "config" "param" "description"))
  "url"            (print $BaseURL "/")
  "sameAs"         $socialLinks
  "telephone"      $phones
  "address"        $address
  "location"       (dict
    "@type" "Place"
    "hasMap" $hasMap
    "geo"    $geo
  )
}}


{{/*  SCHEMA POST  */}}

{{ if $isPost }}

  {{ $description := "" }}
  {{ with .Description }}
    {{ $description = . }}
  {{ else }}
    {{ if .IsPage | and .Content }}
      {{ $description = .Summary }}
    {{ end }}
  {{ end }}

  {{ $image := "" }}
  {{ $site_logo := partial "functions/lang-param" (dict "parent" "config" "param" "logo") }}
  {{ if .Params.image }}
    {{ $imageExternal := strings.HasPrefix .Params.image "http" }}
    {{ $image = .Params.image }}
    {{ $imageURL := "" }}
    {{ if not $imageExternal }}
      {{ $image = resources.Get (print "/media/" $image) }}
      {{ with $image }}
        {{ $imageURL = .Permalink }}
      {{ end }}
    {{ else }}
      {{ $imageURL = partial "functions/iframe-poster" $image | default $image }}
    {{ end }}
    {{ $imageWidth := 1280 }}
    {{ $imageHeight := 960 }}
    {{ if not (in $image ".svg" | or $imageExternal) | and $image }}
      {{ $imageWidth = $image.Width }}
      {{ $imageHeight = $image.Height }}
    {{ end }}
    {{ $image = dict
      "@type"  "ImageObject"
      "url"    $imageURL
      "width"  $imageWidth
      "height" $imageHeight
    }}
  {{ else if (in $site_logo "svg") }}
    {{ $image = print $BaseURL "/media/logo.png" }}
  {{ else }}
    {{ $image = print $BaseURL $site_logo }}
  {{ end }}

  {{ $author_page := .GetPage (.Params.author | default "authors/admin") }}
  {{ $author := dict
    "author" (dict
      "@type"       `Person`
      "name"        $author_page.Title
      "description" $author_page.Description
      "image"       (cond (not $author_page.Params.image) "" (print $BaseURL $author_page.Params.image))
      "url"         $author_page.Permalink
    )
  }}

  {{ $schemaPost = dict
    "@context" `http://schema.org`
    "@type"    `BlogPosting`
    "mainEntityOfPage" (dict
      "@type" `WebPage`
      "@id"   $BaseURL
    )
    "headline"      .Title
    "description"   $description
    "image"         $image
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified"  (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "publisher"     $schemaOrganization
    "author"        $author
  }}

{{ end }}


{{/*  ALL SCHEMAS  */}}

{{ if $isPost }}
  {{ $schema = slice $schemaPost $schemaWebsite }}
{{ else }}
  {{ $schema = slice $schemaOrganization $schemaWebsite }}
{{ end }}

{{ if hugo.IsProduction }}
  {{ $schema = $schema | jsonify }}
{{ else }}
  {{ $schema = $schema | jsonify (dict "prefix" " " "indent" "  ") }}
{{ end }}

{{ return $schema }}
