{{- if eq .Page.Type "blog" -}}
  {{- partial "components/data/dates-blog" . -}}
{{- else if eq .Page.Type "event" -}}
  {{- partial "components/data/dates-event" . -}}
  {{- partial "components/data/location" . -}}
  {{- partial "components/data/artists" . -}}
  {{- partial "components/data/price" . -}}
{{- else -}}
  {{- partial "components/data/type" . -}}
{{- end -}}
{{- partial "components/data/job-title" . -}}
{{- partial "components/data/reading-time" . -}}
{{- partial "components/data/author" . -}}
{{- partial "components/data/taxonomies" (dict "item" . "type" "category") -}}
{{- partial "components/data/taxonomies" (dict "item" . "type" "tags") -}}