{{- $there_are_authors := gt (len (page.GetPage "authors").Pages) 1 -}}
{{- if $there_are_authors -}}
  {{- with .Page.Params.author -}}
    {{- with $.GetPage "authors" . -}}
      <i class="data__item">
        {{- partial "components/icon" (dict "class" "data__icon" "icon" "user" "alt" "👤") -}}
        {{- if $.box -}}
          {{- .Title -}}
        {{- else -}}
          {{- partial "components/link" (dict
            "link"    .RelPermalink
            "button"  "none"
            "label"   .Title
            "noindex" true
          ) -}}
        {{- end -}}
      </i>
    {{- end -}}
  {{- end -}}
{{- end -}}