// Buttons
.CMS_Button_contained-primary {
  background-color: var(--primary-dark);
}
.CMS_Button_contained-primary:hover {
  background-color: var(--primary-main);
}
.CMS_Button_contained-primary:active {
  background-color: var(--primary-light);
}
.CMS_Button_outlined-secondary:hover {
  color: var(--primary-main);
  background: color-mix(in srgb, var(--primary-main) 8%, transparent);
  border-color: color-mix(in srgb, var(--primary-main) 50%, transparent);
}

// Summary
.CMS_Table_header {
  position: relative;
  z-index: 1;
}

// Editor content
.CMS_Editor_content-wrapper {
  padding-bottom: 7rem;
}
