$icon-font-url: '/fonts/material-symbols-#{$icons-style}.woff2';
@if $is-production == 'true' {
  $icon-font-url: '/fonts/icons.#{$timestamp}.woff2';
}
@font-face {
  font-family: 'Material Symbols';
  font-weight: #{$icons-weight};
  font-style: normal;
  font-display: swap;
  src: url($icon-font-url) format('woff2');
}
