// Help corner in botton menu mobile
@media (max-width: 767px) {
  .CMS_BottomNavigation_root:before {
    content: '';
    width: 54px;
  }
}
// Padding for help corner
.CMS_Sidebar_content,
.CMS_Editor_content-wrapper {
  padding-bottom: 4rem;
}
