[data-hash="#/collections/types/entries/all"],
[data-hash="#/collections/types/entries/single"] {
  [data-testid="delete-button"] {
    display: none;
  }
  .CMS_EditorControlPane_root > .CMS_EditorControl_root:has(> :is(
    .name-order,
    .name-base,
    .name-disabled
  )) {
    display: none;
  }
}
[data-hash="#/collections/types/entries/all"] {
  .CMS_EditorControlPane_root > .CMS_EditorControl_root:has(> :is(
    .name-icon,
    .name-emoji,
    .name-noindex,
    .name-related,
    .name-hint,
    .name-tax_of,
    .name-es,
    .name-en,
    .name-fr,
    .name-de,
    .name-pt,
    .name-it
  )) {
    display: none;
  }
}
