// ICONS

// All
.CMS_Table_body-cell-link:is(
  [href^="#/collections/config/entries/"],
  // [href^="#/collections/types/entries/"]
):before,
.CMS_Collection_header-wrapper .CMS_Icon_root,
.CMS_NavLink_icon:not([data-testid="sidebar-nav-Media"] *) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  opacity: 0.87;
}

// Dark mode
html[style*="--text-primary: #fff;"] :where(
  .CMS_Table_body-cell-link:is(
    [href^="#/collections/config/entries/"],
    // [href^="#/collections/types/entries/"]
  ):before,
  .CMS_Collection_header-wrapper .CMS_Icon_root,
  .CMS_NavLink_icon:not([data-testid="sidebar-nav-Media"] *)
) {
  filter: brightness(1.25);
}

// Menu item active
:is(
  .CMS_NavLink_link.active,
  .CMS_NestedCollection_expanded
) .CMS_NavLink_icon {
  filter: brightness(6);
}

// Old icons
:is(
  .CMS_Collection_header-wrapper .CMS_Icon_root,
  .CMS_NavLink_icon:not([data-testid="sidebar-nav-Media"] *)
) > *:not(#aux) {
  display: none;
}

// Flags
.CMS_NavLink_link[href*="/admin/"] .CMS_NavLink_icon {
  clip-path: circle(9px);
}

// Media
.CMS_MediaLibrary_title-icon-wrapper,
.CMS_NavLink_link[href="#/media"] .CMS_NavLink_icon {
  color: var(--primary-main);
}

// Settings icons
.CMS_Table_body-cell-link {
  position: relative;
}
.CMS_Table_body-cell:first-child
.CMS_Table_body-cell-link:is(
  [href^="#/collections/settings/entries/"],
  // [href^="#/collections/types/entries/"]
):before {
  content: '';
  width: 20px;
  margin-right: .5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index : str-index($string, $separator);
  // loop through string
  @while $index != null {
      // get the substring from the first character to the separator
      $item: str-slice($string, 1, $index - 1);
      // push item to array
      $split-arr: append($split-arr, $item);
      // remove item and separator from string
      $string: str-slice($string, $index + 1);
      // find new index of separator
      $index : str-index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

$roots: str-split($items, '|');
@each $root in $roots {
  @each $item in $root {
    $parts: str-split($item, ',');
    $group: nth($parts, 1);
    $name: nth($parts, 2);
    $base64: nth($parts, 3);
    $link: nth($parts, 4);

    // Types
    @if $group == 'type' {
      // .CMS_Table_body-cell-link[href="#/collections/types/entries/#{$name}"]:before,
      .CMS_Collection_header-wrapper:has([href="#/collections/#{$name}/new"]) .CMS_Icon_root,
      .CMS_NavLink_link[href="#/collections/#{$name}"] .CMS_NavLink_icon {
        background-image: url("data:image/svg+xml;base64,#{$base64}");
      }
    }
    // Flags
    @if $group == 'flag' {
      @if $link != '' {
        .CMS_NavLink_link[href="#{$link}"] .CMS_NavLink_icon {
          background-image: url("data:image/svg+xml;base64,#{$base64}");
        }
      }
    }
    // Settings
    @if $group == 'setting' {
      .CMS_Table_body-cell-link[href="#/collections/settings/entries/#{$name}"]:before {
        background-image: url("data:image/svg+xml;base64,#{$base64}");
      }
    }
  }
}
