.CMS_Login_button {
  text-indent: -9999em;
  &::after {
    content: var(--login);
    text-indent: 0;
  }
}
.CMS_Login_custom-logo:not([style*=".jpg"]) {
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, .25));
}
.CMS_Navbar_logo:not([style*=".jpg"]) {
  filter: drop-shadow(0 0 .25em rgba(0, 0, 0, .25));
}