.CMS_Login_button {
  text-indent: -9999em;
  &:after {
    content: var(--login);
    text-indent: 0;
  }
}
.CMS_Login_custom-logo:not([style*=".jpg"]) {
  filter: drop-shadow(1px 1px 10em black);
}
.CMS_Navbar_logo:not([style*=".jpg"]) {
  filter: drop-shadow(1px 1px 10px black);
}