
.md {
  .link {
    &:not(.box, .button, .md__heading-link) {
      @include font-base-bold;
      line-height: $line-height-base;
    }
    &:not(#toc *, .list-inline *, .md__heading-link) .icon {
      opacity: .5;
    }
  }
  em {
    @include font-cursive;
    color: var(--subtitle);
  }
  // strong {
  //   color: var(--subtitle);
  // }
  iframe:not(.md__figure *) {
    filter: drop-shadow($shadow);
  }
  :not(.button, li, code) > .icon {
    color: var(--main);
  }
  // :not(.button, li, .sign) > .icon {
  //   margin-right: .25em;
  //   &:not(:first-child > :first-child) {
  //     margin-left: .25em;
  //   }
  // }
  // .icon + .icon {
  //   margin-left: 0;
  // }
  :not(.button, .image__inner) > svg.icon {
    position: relative;
    top: 0.125em;
  }
}
