
.md {
  .link {
    &:not(.box, .btn, .md__heading-link) {
      @include font-base-bold;
      line-height: $line-height-base;
    }
    &:not(#toc *, .list-inline *, .md__heading-link) .icon {
      opacity: .5;
    }
  }
  em {
    @include font-cursive;
    color: var(--sub);
  }
  // strong {
  //   color: var(--sub);
  // }
  iframe:not(.md__fig *) {
    filter: drop-shadow($shadow);
  }
  :not(.btn, li, code) > .icon {
    color: var(--main);
  }
  // :not(.btn, li, .sign) > .icon {
  //   margin-right: .25em;
  //   &:not(:first-child > :first-child) {
  //     margin-left: .25em;
  //   }
  // }
  // .icon + .icon {
  //   margin-left: 0;
  // }
  :not(.btn, .img__in) > .icon:not(.icon--txt, .langs__drop) {
    translate: 0 .125em;
  }
}
