.md {
  .quote:first-child,
  .quote:last-child {
    translate: 0;
  }
  .quote:first-child,
  .quotes::before {
    rotate: 180deg;
  }
  .quotes {
    &::before,
    &::after {
      content: 'format_quote';
    }
    &::before {
      margin-right: .125em;
    }
    &::after {
      margin-left: .125em;
    }
  }
  .aquotes {
    &::before {
      content: 'keyboard_double_arrow_left';
    }
    &::after {
      content: 'keyboard_double_arrow_right';
    }
  }
  .aquotes {
    &::before,
    &::after {
      translate: 0 .125em;
    }
  }
  q,
  .quotes,
  .aquotes {
    &::before,
    &::after {
      color: var(--main);
    }
  }
  blockquote {
    &:not(h1, h2, h3, h4, h5, h6, .subtitle, .font-base) {
      @include font-quotes;
      font-size: larger;
    }
    position: relative;
    color: var(--subtitle);
    padding-inline: 1.25em;
    width: fit-content;
    margin: 1em auto;

    &.quotes {
      &::after,
      &::before {
        height: $line-height-cursive * .9em;
      }
    }
    &.aquotes {
      &::after,
      &::before {
        height: $line-height-cursive * 1em;
      }
    }
    &:not(.quotes, .aquotes) {
      padding-inline: 1.5em;
      &::after,
      &::before {
        content: '“';
        font-size: 2em;
        line-height: .625;
        font-weight: 900;
      }
      &::after {
        content: '”';
      }
    }
    &::after,
    &::before {
      color: var(--main);
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      top: unset;
      left: unset;
      bottom: 0;
      right: 0;
    }

    // Background
    &.bg {
      padding: 1.5em;
      &::after,
      &::before {
        top: .5em;
        left: .5em;
      }
      &::after {
        top: unset;
        left: unset;
        bottom: .5em;
        right: .5em;
      }
    }

    // Cite
    cite {
      @include font-base-bold;
      display: block;
      text-align: right;
      margin-top: .5em;
      color: var(--title);
      &::before {
        content: '— ';
        color: $gray;
      }
    }
  }
}
