.md__heading {
  display: flex;
  gap: .25em;
  .md__heading-index {
    flex-shrink: 0;
    color: var(--cta);
  }
  // @if $main == $cta {
  //   &:has(> .icon) .md__heading-index {
  //     opacity: .5;
  //   }
  // }
}


// Link

.md__heading-link {
  color: inherit;
}


// Underline

.md__heading.underline {
  margin-bottom: 0;
  .md__heading-link {
    display: block;
  }
  &:after {
    display: inline-block;
    margin: 0;
    position: relative;
    top: -0.625em;
  }
}


// Subtitle next title

.title + .subtitle {
  margin-top: -.75rem;
}


// HN

.md {
  h2, h3, h4, h5, h6 {
    &:not(:first-child, .bg-color + *, .alert__icon + *) {
      margin-top: 2em;
    }
  }
}
