@media (max-width: 767px) {
  [data-field-type="markdown"] {
    .footer {
      position: relative;
      left: calc(var(--field-editor-padding) * -1);
      width: 100dvw;
      margin-top: 16px;
    }
  }
}