[data-field-type="object"] {
  position: relative;
  > header:not(:has(.required)) {
    padding-left: var(--sui-checkbox-height);
  }
  > .widget-wrapper {
    display: grid;
    > .checkbox {
      position: absolute;
      top: calc(var(--field-editor-padding) + (var(--sui-button-small-height) - 24px) / 2);
      margin: 0;
      label {
        display: none;
      }
    }
    &:has(> .checkbox [aria-checked="false"]) {
      margin-top: -8px;
    }
  }
}