[data-field-type="select"] button[aria-checked="true"] {
  &[value="undefined"] { --sui-primary-accent-color: var(--sui-disabled-foreground-color); }
  &[value="true"]      { --sui-primary-accent-color: var(--sui-success-border-color); }
  &[value="false"]     { --sui-primary-accent-color: var(--sui-error-border-color); }
}