<style>
  .div--example {
    position: relative;
    --div-height: min(12.5vw, 5.5em);
    container: example / inline-size;
    height: calc(var(--div-height) + 5em);
    --margin-side: min(var(--container-margin-side, -.5em), -.5em);
    margin: 0 var(--margin-side);
    --div-fade: linear-gradient(black, transparent);
    --div-mask-size: var(--div-width) var(--div-height), var(--div-width) 5em;
  }
  .div--example .bg-color {
    background-color: var(--main);
    border-radius: 0;
    clip-path: none;
  }
</style>

{{- range site.Data.options.div -}}
  {{- $attrs := "" -}}
  {{- with partial "components/divider-attr" (dict
    "section" (dict "div" .)
    "next"    false
  ) -}}
    {{- $class := print "div--example " .class -}}
    {{- $attrs  = dict "class" $class "style" .style -}}
    {{- $attrs  = partial "functions/attrs" $attrs -}}
  {{- end }}
  <h3 id="div-{{ . }}">
    {{ partial "components/link" (dict
      "label" .
      "link"  (print "#div-" .)
    ) }}
    <br>
    {{ i18n (print "option-divider-" .) }}
  </h3>
  <div {{- $attrs }}>
    <div class="bg-color"></div>
  </div>
{{- end -}}
