<style>
  .divider--example {
    position: relative;
    --divider-height: min(12.5vw, 5.5em);
    container: example / inline-size;
    height: calc(var(--divider-height) + 5em);
    --margin-side: min(var(--container-margin-side, -.5em), -.5em);
    margin: 0 var(--margin-side);
    --divider-gradient: linear-gradient(black, transparent);
    --divider-mask-size: var(--divider-width) var(--divider-height), var(--divider-width) 5em;
  }
  .divider--example .bg-color {
    background-color: var(--main);
    border-radius: 0;
    clip-path: none;
  }
</style>

{{ range site.Data.options.divider }}
  {{ $class := "" }}
  {{ $style := "" }}
  {{ with partial "components/divider-attr" (dict "section" (dict "divider" .) "next" false) }}
    {{ $class = .class }}
    {{ $style = .style }}
  {{ end }}

  <h3 id="divider-{{ . }}">
    {{- partial "components/link" (dict
      "link"    (print "#divider-" .)
      "button"  "none"
      "label"   .
    ) -}}
    <br>
    {{ i18n (print "option-divider-" .) }}
  </h3>
  <div class="divider--example {{ $class }}" style="{{ $style | safeCSS }}">
    <div class="bg-color"></div>
  </div>
{{ end }}
