{{- $forms := slice -}}
{{- range $k, $page := site.Pages -}}
  {{- $sections := partial "functions/sections-all" . -}}
  {{- range $key, $section := $sections -}}
    {{- with partial "functions/section-boxes" . -}}
      {{- range . -}}
        {{- if and .inputs (not .action) -}}
          {{- $forms = $forms | append (partial "components/blocks/form" (merge . (dict
            "shortcode" true
            "Page"      $page
            "section"   $section
            "id"        $section.id
          ))) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range uniq $forms -}}
  {{- . -}}
{{- end -}}