{{- if getenv "NETLIFY" -}}
  {{- $forms := slice -}}
  {{- range $k, $page := site.Pages -}}
    {{- $sections := partial "sections/flatten" . -}}
    {{- range $key, $section := $sections -}}
      {{- with partial "boxes/flatten" . -}}
        {{- range . -}}
          {{- if and .inputs (not .action) -}}
            {{- $forms = $forms | append (partial "blocks/form" (merge . (dict
              "shortcode" true
              "Page"      $page
              "section"   $section
            ))) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range uniq $forms -}}
    {{- . -}}
  {{- end -}}
{{- end -}}