{{- with partial "components/base/menu/langs" . -}}
  {{/*  
  {{ partial "components/icon" (dict "class" "" "icon" "globe") }}
  {{ page.Lang }}
  {{ partial "components/icon" (dict "class" "lang-down" "icon" "angle-down") }}
  */}}
  <i class="langs">
    {{- range . -}}
      <i class="lang" lang="{{ .lang }}" title="{{ .title }}">
        {{- partial "components/link" (dict
          "class"    "lang__link"
          "link"     .link
          "button"   "none"
          "icon"     .icon
          "emoji"    .emoji
          "label"    (.lang | upper)
          "noindex"  true
        ) -}}
      </i>
    {{- end -}}
  </i>
{{- end -}}