{{- $param := index .Params 0 -}}
{{- $two   := index .Params 1 -}}

{{- if in (slice "name" "dni" "location" "email") $param -}}
  {{- $config := partial "functions/config-lang" . -}}
  {{- $legal  := $config.legal -}}

  {{- if eq $param "name" -}}
    {{- $legal.name | default (index $config.schema.names 0) -}}
  {{- else if eq $param "dni" -}}
    {{- $legal.dni | default "00000000A" -}}
  {{- else if eq $param "location" -}}
    {{- with $legal.location -}}
      {{- . -}}
    {{- else -}}
      {{- $legal.location | default $legal.country | default "-" -}}
    {{- end -}}
  {{- else if eq $param "email" -}}
    <i class="ofuscate">
      {{- $legal.email | default "mail@mail.com" | base64Encode -}}
    </i>
  {{- end -}}

{{- else if eq $param "web" -}}
  {{- replace site.BaseURL "https://" "" -}}
{{- else if eq $param "https" -}}
  {{- site.BaseURL -}}
{{- end -}}