{{- $param := index .Params 0 -}}
{{- $two   := index .Params 1 -}}

{{- if in (slice "name" "nif" "location" "email") $param -}}
  {{- $legal  := site.Params.legal -}}

  {{- if eq $param "name" -}}
    {{- $legal.name | default site.Title | default site.Data.schema.title -}}
  {{- else if eq $param "nif" -}}
    {{- $legal.nif | default "00000000A" -}}
  {{- else if eq $param "location" -}}
    {{- with $legal.location -}}
      {{- . -}}
    {{- else -}}
      {{- $legal.location | default $legal.country | default "-" -}}
    {{- end -}}
  {{- else if eq $param "email" -}}
    <i class="ofuscate">
      {{- $legal.email | default "mail@mail.com" | base64Encode -}}
    </i>
  {{- end -}}

{{- else if eq $param "web" -}}
  {{- site.BaseURL | replaceRE "^(https?:)?//|/$" "" -}}
{{- else if eq $param "https" -}}
  {{- site.BaseURL -}}
{{- end -}}