{{- range site.Sections -}}
  <h2 class="content__heading">
    {{- partial "components/link" (dict
      "class"  "content__heading-link sitemap-header-link"
      "icon"   .Params.icon
      "emoji"  .Params.emoji
      "label"  .Title
      "anchor" (partial "functions/anchor-page" .)
      "link"   .RelPermalink
      "lock"   .Params.noindex
    ) -}}
  </h2>
  {{- $parent_icon := .Params.icon -}}
  {{- $pages := .RegularPages -}}
  {{- if eq .Type "single" -}}
    {{- $pages = slice site.Home | append .RegularPages -}}
  {{- end -}}
  {{- with $pages -}}
    <ul>
      {{- range sort . "Date" "desc" -}}
        <li>
          {{- $icon := cond (eq $parent_icon .Params.icon) "" .Params.icon -}}
          {{- with $icon -}}
            {{- partial "components/icon" (dict "icon" .) -}}
          {{- end -}}
          {{- partial "components/link" (dict
            "link"   .RelPermalink
            "label"  .Title
            "anchor" (partial "functions/anchor-page" .)
            "lock"   .Params.noindex
          ) -}}
        </li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- end -}}