{{- range site.Sections }}
  <h2 class="md__heading">
    {{- $parent_icon := .Params.icon -}}
    {{- if .Params.icon }}
      {{ partial "icon" (dict "icon" .Params.icon "emoji" .Params.emoji) -}}
    {{- end -}}
    {{ partial "link" (dict
      "class"  "md__heading-link"
      "label"  .Title
      "anchor" "auto"
      "link"   .RelPermalink
      "lock"   .Params.noindex
    ) }}
  </h2>
  {{- $pages := .RegularPages -}}
  {{- if eq .Type "single" -}}
    {{- $pages = slice site.Home | append .RegularPages -}}
  {{- end -}}
  {{- with $pages }}
    <ul>
      {{- range sort . "Date" "desc" }}
        <li>
          {{- $icon  := "" -}}
          {{- if ne $parent_icon .Params.icon -}}
            {{- $icon = .Params.icon -}}
          {{- end -}}
          {{- partial "link" (dict
            "icon"   $icon
            "label"  .Title
            "link"   .RelPermalink
            "anchor" "auto"
            "lock"   .Params.noindex
          ) -}}
        </li>
      {{- end }}
    </ul>
  {{- end -}}
{{- end -}}