// GALLERY ITEMS

.gallery__items {
  @include radius;
  overflow: hidden;
}
.gallery__item {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:root {
  --gallery-image-hover-transform: scale(1.125) rotate(2deg);
  --gallery-image-hover-transform-odd: scale(1.125) rotate(-2deg);
}
.gallery:not(.gallery--grayscale) {
  .gallery__item {
    &:hover,
    &:focus,
    &:active {
      > .gallery__image {
        transform: var(--gallery-image-hover-transform);
      }
    }
  }
  .gallery__item:nth-child(2n) {
    &:hover,
    &:focus,
    &:active {
      > .gallery__image {
        transform: var(--gallery-image-hover-transform-odd);
      }
    }
  }
}
.gallery__image {
  &, > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter .3s, transform .3s;
    fill: initial;
  }
}
.gallery__item,
.gallery__expand {
  position: relative;
  transform: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  // Remove button 3D styles
  &:not(#aux) {
    &:after,
    &:focus,
    &:active,
    &:hover,
    &:focus:after,
    &:active:after,
    &:hover:after {
      background-color: transparent;
      transform: none;
      @if $chamfer {
        clip-path: none;
      } @else {
        border-radius: 0;
      }
    }
    &:before {
      @if $chamfer {
        clip-path: none;
      } @else {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

// GALLERY ROOT

.gallery {
  --gallery-gap: .5em;
  .gallery__items {
    gap: var(--gallery-gap);
  }
}
.gallery.bg {
  --radius-padding: var(--gallery-gap);
  padding: var(--gallery-gap);
  margin-inline: calc(-1 * var(--gallery-gap));
}
.gallery--ratio {
  --gallery-ratio: 1/1;
  .gallery__item {
    aspect-ratio: var(--gallery-ratio);
  }
}

// GRID MODE

.gallery--grid {
  --gallery-cols: 2;
  .gallery__items {
    display: grid;
    grid-template-columns: repeat(var(--gallery-cols), 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(var(--box-width), .5fr));
  }
}


// COLUMNS MODE

.gallery--cols {
  --gallery-cols: 2;
  .gallery__items {
    display: block;
    columns: var(--gallery-cols);
    &:not(.gallery.bg *) {
      margin-bottom: calc(0em - var(--gallery-gap));
    }
    > * {
      break-inside: avoid;
      margin-inline: auto;
      margin-bottom: var(--gallery-gap);
    }
  }
}


.gallery--cols-{
  &1 {
    --gallery-cols: 1;
  }
  @media (min-width: $viewport-sm) {
    &5, &6 {
      --gallery-cols: 3;
    }
  }
  @media (min-width: $viewport-md) {
    &3 {
      --gallery-cols: 3;
    }
    &4, &5, &6 {
      --gallery-cols: 4;
    }
  }
  @media (min-width: $viewport-lg) {
    &5 {
      --gallery-cols: 5;
    }
    &6 {
      --gallery-cols: 6;
    }
  }
}


// ROWS MODE

.gallery--rows
.gallery__items {
  display: flex;
  flex-wrap: wrap;
  .gallery__item {
    position: relative;
    flex-grow: 1;
    width: calc(1em * var(--gallery-item-width));
    flex-grow: var(--gallery-item-width);
    &:before {
      content: '';
      display: block;
      padding-bottom: var(--gallery-item-height);
    }
  }
  .gallery__image {
    &, > img {
      position: absolute;
      top: 0;
      width: 100%;
      vertical-align: bottom;
    }
  }
  .gallery__expand {
    flex-grow: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    .icon {
      font-size: 2em;
      z-index: 60;
    }
    &, &:before {
      z-index: auto;
    }
  }
}


// IMAGE SIZE / OBJECT FIT

.gallery--contain {
  .gallery__image,
  .gallery-modal__image {
    &, > img {
      object-fit: contain;
    }
  }
}
// :not(.gallery-wrap) {
//   > .gallery--size-cover {
//     @include hide-radius;
//   }
// }


// GRAYSCALE

.gallery--grayscale {
  .gallery__item:not(:hover, :focus, :active) {
    .gallery__image {
      &, > img {
        filter: var(--grayscale);
      }
    }
  }
}
