.collapsible__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.collapsible__item-title {
  margin: 0;
}
.collapse__button {
  // @if $buttons-rounded {
  //   border-radius: 2.25em;
  // }
  text-align: left;
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  text-transform: inherit;
  width: 100%;
}
.collapsible__item-description {
  padding: 0 1em;
  @extend .content;
}