.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  @if $buttons-3d {
    row-gap: 1.25em;
  }
  > * {
    position: relative;
    flex-grow: 1;
  }
}
// Share and Social near Contact
.box__title + .dots:last-child,
.dots + .contact {
  margin-top: var(--box-gap);
}
.contact__schedule,
.contact__schedule-item {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.contact__schedule {
  flex-wrap: wrap;
  gap: .5em 1em;
  padding: 0 .5em;
  .icon {
    font-size: 1.5em;
    color: var(--main);
  }
}
.contact__schedule-item {
  gap: .375em;
}
.contact {
  .link:not(.button) {
    display: inline-flex;
    align-items: center;
    gap: .375em;
    text-align: left;
    > .icon {
      color: var(--main);
      font-size: 1.2em;
    }
  }
}
.contact > {
  *:not(button, .button) {
    justify-content: center;
    flex-grow: 0;
    > .icon + b {
      color: var(--text);
    }
  }
  .contact__br,
  hr {
    flex-grow: 0;
    width: calc(100% - #{ $radius / 2 });
    height: 0;
  }
  hr {
    border: none;
    border-bottom: 0.125em #aaa dashed;
  }
}
.contact:has(.contact__br) {
  margin-bottom: -1rem;
}
.contact:has(.contact__br ~ .contact__br) {
  margin-bottom: -2rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -3rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -4rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -5rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -6rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -7rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -8rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -9rem;
}
.contact:has(.contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br ~ .contact__br) {
  margin-bottom: -10rem;
}
.contact__br ~ {
  * { top: -1rem; }
  .contact__br ~ {
    * { top: -2rem; }
    .contact__br ~ {
      * { top: -3rem; }
      .contact__br ~ {
        * { top: -4rem; }
        .contact__br ~ {
          * { top: -5rem; }
          .contact__br ~ {
            * { top: -6rem; }
            .contact__br ~ {
              * { top: -7rem; }
              .contact__br ~ {
                * { top: -8rem; }
                .contact__br ~ {
                  * { top: -9rem; }
                  .contact__br ~ {
                    * { top: -10rem; }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.contact__custom:not(.button, button) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: .5em;
  padding: .5em 1.5em;
  .icon {
    color: var(--main);
  }
}
.contact__full {
  width: 100%;
}