.faqs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.faq__title {
  margin: 0;
}
.faq__btn {
  // @if $is-btns-pill {
  //   border-radius: 2.25em;
  // }
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: .75em;
  justify-content: flex-start;
  align-items: center;
  text-transform: inherit;
  width: 100%;

  font-size: 1rem;
  // padding: .657em 1.125em;
  padding-left: 1.125em;
  padding-right: 1.125em;
  margin: 0;
}
.faq__btn-dot {
  margin-inline: 0 -.125em;
  &:not(.faqs--headers *) {
    transform: rotate(0deg);
    transition: transform .3s;
    &:where(.faq--active *) {
      transform: rotate(45deg);
    }
  }
}
.faq__md {
  padding: 0 1em;
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  opacity: 0;
  translate: 0 2em;
  transition: margin-top .3s, max-height .3s, opacity .3s, translate .3s;
  &:where(.faq--active *) {
    max-height: var(--max-height, unset);
    margin-top: 1em;
    opacity: 1;
    translate: 0;
  }
}

.faqs--headers {
  gap: 0;
  .faq {
    border: 0 var(--main) solid;
    border-top-width: $menu-bar;
    padding: 1.5em;
    &:last-child {
      border-bottom-width: $menu-bar;
    }
    transition: background-color .3s;
  }
  .faq__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      --title: var(--cta);
    }
  }
  .faq__btn-dot {
    flex-shrink: 0;
    font-size: 1.0833333rem;
    .icon {
      transition: transform .3s;
      &:where(.faq--active *) {
        transform: rotate(180deg) translateY(.1em);
      }
    }
  }
  .faq__icon {
    font-size: 1em;
    &:has([href$="#angle-down"]) {
      translate: 0 .1em;
    }
  }
  .faq__md {
    padding: 0;
    margin-right: 4.25em;
  }
}