.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  --submit-waiting: color-mix(in srgb, var(--invert) 25%, gray);
  --submit-success: color-mix(in srgb, var(--invert) 25%, green);
  --submit-error: color-mix(in srgb, var(--invert) 25%, red);
}
.form__item {
  position: relative;
  flex-grow: 1;
  &:not(.contact__full) {
    width: 280px;
  }
  > *,
  .form__select:not(.form__select--pre) {
    width: 100%;
  }
  &.form__item--error {
    color: var(--submit-error);
    --border: var(--submit-error);
  }
}
.form__geo {
  display: none;
}
.form__geo-map {
  @include radius(0em, $radius * 1rem / 1em);
  width: 100%;
  aspect-ratio: 16/9;
  @if not $chamfer {
    border: 1.5px solid var(--border, transparent);
  }
  &:where(.form__item-border ~ *) {
    clip-path: var(--chamfer-int-outline);
    --outline: 1.5px;
  }
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5625em 1em;
  text-align: left;
  // --border: color-mix(in srgb, var(--similar), var(--invert));
  &:has(> :nth-child(2)) {
    padding-block: .66em;
  }
  // Transparent to click in full fieldset
  &:not(:has(> :nth-child(2))) {
    position: relative;
    .form__option {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.form__fieldset--x {
  flex-direction: row;
  flex-wrap: wrap;
}
.form__option {
  display: flex;
  align-items: baseline;
  gap: .5em;
}
.form__option--consent {
  position: relative;
  font-size: .75em;
  text-align: left;
  width: 100%;
  &:where(.form--error-consent *) {
    color: var(--submit-error);
  }
}
.form__label {
  display: block;
  @include font-base-bold;
  text-align: left;
  margin-left: $radius;
  margin-bottom: .25em;
}
.form__md {
  h3, h4, h5, h6 {
    &:not(.aux) {
      margin-top: .75em;
    }
  }
}
.form__title {
  margin: .5em 0 0;
}
.form__hint {
  margin-top: .25rem;
  font-size: .75em;
  color: var(--subtitle);
  p, ul, ol {
    &:not(:last-child) {
      margin-bottom: .125em;
    }
  }
  ul, ol {
    > li:not(.aux) > div:not(.aux) {
      padding-top: 0;
    }
  }
}
.form__md,
.form__hint {
  margin-left: $radius + .5em;
  width: calc(100% - #{ $radius + .5em } * 2);
}
/*! purgecss start ignore */
.form__error,
.form__submit {
  position: relative;
  color: #fff;
  background-color: var(--submit-error);
  margin-top: 1em;
  padding: 1em;
  scroll-margin-top: 3em;
  width: 100%;
  text-align: left;
  @include radius;
  .icon.close {
    float: right;
  }
  ul {
    margin: 0;
  }
}
.close {
  cursor: pointer;
}
.form__submit {
  background-color: var(--submit-waiting);
  .icon {
    position: relative;
    top: .125em;
  }
}
.spin {
  animation: spin 10s linear infinite;
}
.form__submit--success {
  background-color: var(--submit-success);
}
.form__submit--error {
  background-color: var(--submit-error);
}
/*! purgecss end ignore */
#search__form ~ .form {
  display: none;
}
.form--fill-inputs {
  --border: color-mix(in srgb, var(--similar), var(--invert) 25%);
  input:not([type="checkbox"], [type="radio"], [type="hidden"]),
  textarea,
  select {
    @if $chamfer and $radius > .01 {
      border: none;
      @if not $buttons-rounded and $radius <= .01 {
        border: var(--outline) var(--border) solid;
        box-shadow: $shadow inset;
      } @else {
        @include radius;
        clip-path: var(--chamfer-int-outline);
      }
    } @else {
      border: var(--outline) var(--border) solid;
      box-shadow: $shadow inset;
      border-radius: $radius;
    }
    background-color: var(--similar);
    color: var(--similar-in);
  }
  .form__fieldset {
    background-color: var(--similar);
  }
  @if $chamfer and $radius > .01 {
    fieldset {
      border: none;
    }
    .form__item {
      position: relative;
    }
    .form__item-border {
      position: absolute;
      width: 100%;
      height: 2.5em;
      clip-path: var(--chamfer);
      background-color: var(--border);
    }
    .form__item-border--geo {
      height: auto;
      aspect-ratio: 16 / 9;
    }
    .form__item-border--textarea {
      min-height: 5.72em;
    }
    .form__item-border--fieldset {
      // top: 0.6em;
      // height: calc(100% - 0.6em);
      height: 100%;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %radius;
        --outline: 1px;
        clip-path: var(--chamfer-int-outline);
        background-color: var(--similar);
      }
      ~ * {
        position: relative;
        z-index: 1;
      }
    }
    .form__fieldset {
      background-color: transparent;
      padding-block: .66em;
      &:has(legend) {
        padding-top: .66em + 1.25em;
      }
      ~ .form__hint {
        margin-block: .5rem .75rem;
      }
    }
    legend {
      position: relative;
      top: .75em;
      // background-color: var(--bg-color);
    }
  }
}

.form--labels-out {
  :is(input, textarea):not(.aux)::placeholder,
  select:has(option:checked[value=""]) {
    color: transparent;
  }
}

.form__file {
  container: form-file / inline-size;
  position: relative;
  text-align: left;
  .form__file--button {
    float: left;
    height: 2.5em;
    margin-bottom: -100%;
    z-index: 1;
    i::after {
      @include font-base;
      text-transform: initial;
      font-size: 1rem;
      content: var(--form-file-label);
      position: absolute;
      color: var(--similar-in);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 2.5em;
      max-width: calc(100cqw - 100% - 2.5em);
    }
  }
  .form__input {
    color: transparent;
    text-indent: -200vw;
    width: 100%;
    @if not $chamfer and $radius > .01 {
      &:not(.form--fill-inputs) {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }
    }
  }
  ::file-selector-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  .form__input::before {
    content: attr(data-placeholder);
    // font-size: 1em;
    @include font-button;
    margin-inline: -1rem 1rem;
    padding-inline: 3.25rem 1.5rem;
    opacity: 0;
  }
  .button--swap + .form__input::before {
    @include font-button(alt);
  }
}

.form__preview {
  display: grid;
  padding: 0;
  margin: 0;
}
.form__preview-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px transparent solid;
  &:not(:last-child) {
    border-bottom-color: var(--border);
  }
}
.form__preview-media,
.form__preview-size {
  flex-shrink: 0;
}
.form__preview-media {
  @include radius;
  overflow: hidden;
  background-color: var(--similar);
  > * {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    display: grid;
    place-content: center;
  }
}
.form__preview-file {
  translate: 0 var(--top-font);
}
.form__preview-name {
  margin-right: auto;
  text-align: left;
}
.form__preview-size,
.form__preview .close {
  color: var(--text);
}
.form__preview-size {
  &:where(.form--error-files-total-size *) {
    color: var(--submit-error);
  }
}
.form__preview-item--error-load,
.form__preview-item--error .form__preview-name,
.form__preview-item--error .close {
  color: var(--submit-error);
}

.form__pre {
  position: absolute;
  left: 0;
  translate: 0 -100%;
  width: auto;
  z-index: 1;
  .form__select {
    border: none;
    box-shadow: none;
    background-color: initial;
    padding-right: .5em;
    background-position: right;
  }
}
.form__input:has(~ .form__pre) {
  padding-left: 5.6em;
}

.form__icon {
  position: absolute;
  left: .75em;
  top: .5625em;
  width: 1.375em;
  height: 1.375em;
  z-index: 1;
  color: var(--border);
}
legend, .form__label {
  .form__icon {
    position: static;
    translate: 0 .125em;
    margin-right: .25em;
    width: 1em;
    height: 1em;
    // color: var(--border);
  }
}
.form__input:has(~ .form__icon),
.form__textarea:has(~ .form__icon),
.form__select:is(label:has(~ .form__icon) > *) {
  padding-left: 2.625em;
}
.form__select:is(label.form__pre:has(~ .form__icon) > *) {
  padding-left: 2.25em;
}
.form__input:has(~ .form__pre):has(~ .form__icon) {
  padding-left: 6.5em;
}
.form__item[data-showif] {
  // max-height: 0;
  translate: 0 -1em;
  opacity: 0;
  display: none;
  transition: /* max-height, */ translate, opacity, display;
  transition-duration: .3s;
  transition-behavior: allow-discrete;
}
.form__item[data-showif].form__item--show {
  // max-height: 100vh;
  translate: 0;
  opacity: 1;
  display: block;
  @starting-style {
    // max-height: 0;
    translate: 0 -1em;
    opacity: 0;
  }
}

// br and hr
.form > {
  .form__br,
  hr {
    flex-grow: 0;
    width: calc(100% - #{ $radius / 2 });
    height: 0;
  }
  hr {
    border: none;
    border-bottom: 0.125em #aaa dashed;
  }
}
.form:has(.form__br) {
  margin-bottom: -1rem;
}
.form:has(.form__br ~ .form__br) {
  margin-bottom: -2rem;
}
.form:has(.form__br ~ .form__br ~ .form__br) {
  margin-bottom: -3rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -4rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -5rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -6rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -7rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -8rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -9rem;
}
.form:has(.form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br ~ .form__br) {
  margin-bottom: -10rem;
}
.form__br ~ {
  * { top: -1rem; }
  .form__br ~ {
    * { top: -2rem; }
    .form__br ~ {
      * { top: -3rem; }
      .form__br ~ {
        * { top: -4rem; }
        .form__br ~ {
          * { top: -5rem; }
          .form__br ~ {
            * { top: -6rem; }
            .form__br ~ {
              * { top: -7rem; }
              .form__br ~ {
                * { top: -8rem; }
                .form__br ~ {
                  * { top: -9rem; }
                  .form__br ~ {
                    * { top: -10rem; }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}