.map {
  width: 100%;
  height: 100%;
  min-height: 20em;
  filter: drop-shadow($shadow);
  &:not(.box--hide-radius > *) {
    @include radius;
  }
}

// LEAFLET
/*! purgecss start ignore */

.leaflet-container {
  .leaflet-tile-pane:has([src^="https://tile.openstreetmap.org/"]) {
    filter: var(--map-filter);
  }
  .leaflet-bar a,
  .leaflet-control-layers,
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    // box-shadow: none;
    // filter: box-shadow(var(--shadow));
    background-color: var(--similar);
    color: var(--similar-in);
  }
  .leaflet-popup {
    filter: drop-shadow($shadow);
  }
  .leaflet-popup-content {
    margin: 13px 24px;
    max-width: calc(100vw - 10em);
  }
  .leaflet-popup-content-wrapper {
    box-shadow: none;
    border-radius: 0;
    @include radius();
  }
  .leaflet-popup-close-button:not(a.aux) {
    @include circle;
    top: Max(calc(var(--radius) / 2 - 6px), 0px);
    right: Max(calc(var(--radius) / 2 - 6px), 0px);
    color: var(--cta);
    display: grid;
    &:focus,
    &:hover {
      --cta: var(--hover);
    }
    &:active {
      --cta: var(--active);
    }
    span {
      line-height: 23px;
    }
  }
  .leaflet-control-layers-list {
    padding-block: 0;
    text-align: left;
  }
  .leaflet-control-layers-selector {
    + span {
      font-size: 1em;
      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
  .leaflet-data-marker__svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0.15rem .15rem rgba(black, 0.75));
  }
  .leaflet-overlay-pane svg {
    width: unset;
    height: unset;
  }
}

/*! purgecss end ignore */

.map__next {
  display: none;
}
