.whens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.dots + .whens {
  margin-top: var(--box-gap);
}
.when,
.when__data {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.when {
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: .5em 1em;
  padding: 0 .5em;
  .icon {
    font-size: 1.5em;
    color: var(--main);
  }
}
.when__data {
  gap: .375em;
}
.full {
  width: 100%;
}